<dom-module id="action-center">
    <template>
        <style>
            .tablecontainer {
                margin: 40px auto 0;
            }

            .row {
                margin: 0 auto !important;
            }

            .header-right {
                position: absolute;
                right: 20px;
            }

            .footer-right {
                float: right;
            }

            div#queue_wrapper {
                text-align: center;
            }

            .panel-group .panel {
                border-radius: 0;
                box-shadow: none;
                border-color: #EEEEEE;
            }

            .panel.panel-default {
                margin-bottom: 10px !important;
            }

            .panel-default>.panel-heading {
                padding: 0;
                border-radius: 0;
                color: #ffffff;
                background-color: #03466B;
                border-color: #03466B;
            }

            .panel-default>.panel-heading1 {
                padding: 0;
                border-radius: 0;
                color: #03466B;
                background-color: #ddd;
                border-color: #ddd;
            }

            .panel-title {
                font-size: 14px;
            }

            .panel-title>a {
                display: block;
                padding: 10px;
                text-decoration: none;
            }

            .bold {
                font-weight: 800;
                color: #fff;
            }

            .list-group p {
                color: #fff
            }

            .no-top-margin {
                margin-top: 20px;
            }

            .list-group {
                padding-left: 0;
                margin-bottom: 20px;
                margin-bottom: 0;
            }

            .list-group {
                padding-left: 0;
                margin-bottom: 20px;
                margin-bottom: 0;
            }

            .list-group-item:first-child {
                border-top: none;
                border-right: none;
                border-bottom: none;
                border-left: none;
            }

            .btn-take-action,
            .btn-take-action:hover,
            .btn-take-action:focus,
            .btn-take-action:active {
                color: white;
                background-color: #d9010c;
                border-color: #d9010c;
            }

            .btn-view-now,
            .btn-view-now:hover,
            .btn-view-now:focus,
            .btn-view-now:active {
                background-color: #03426b;
                color: #fff !important;
                border-color: #03426b;
            }

            .b-b {
                border-bottom: 1px solid #e7eaec;
            }

            .b-r {
                border-right: 1px solid #e7eaec;
            }

            .b-l {
                border-left: 1px solid #e7eaec;
            }

            .b-t {
                border-top: 1px solid #e7eaec;
                background: #011a2f;
            }

            .list-group .fa {
                color: #fff;
                font-size: 20px;
                position: absolute;
                top: 10px;
                left: 0;
            }
        </style>
        <div class="row">
            <breadcrumb-links show-content="true"></breadcrumb-links>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="panel-group Accheader-tab" id="daPanel" role="tablist" aria-multiselectable="true">
                    <div id="da" class="panel panel-default">
                        <div class="panel-heading" role="tab" id="daHeading">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#daPanel" href="#daOne" aria-expanded="true" aria-controls="daOne">
                                    <i class="fa fa-flash"></i> Action Center
                                </a>
                            </h4>
                        </div>
                        <div id="daOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="daHeading">
                            <div class="panel-body">
                                <div class="panel-group" id="report" role="tablist" aria-multiselectable="true">
                                    <div class="row">
                                        <template is="dom-repeat" items="{{actionCenters}}" as="action">
                                            <div class$="{{action.displayColumnClass}}">
                                                <ul class="list-group text-center">
                                                    <a href="{{action.redirectUrl}}">
                                                        <li class="list-group-item">
                                                            <i class$="{{action.btnClass}}"></i> {{_getRecords(action)}}
                                                            <h1 class="bold no-top-margin ">
                                                                <span id$="{{action.recordsId}}">0</span>
                                                            </h1>
                                                            <p>{{action.displayText}}</p>
                                                        </li>
                                                    </a>
                                                </ul>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-group Search-tab" id="searchPanel" role="tablist" aria-multiselectable="true">
                    <div id="da" class="panel panel-default">
                        <div class="panel-heading" role="tab" id="searchHeading">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#searchPanel" href="#searchOne" aria-expanded="true" aria-controls="searchOne">
                                    <i class="fa fa-search"></i> Loan Search
                                </a>
                            </h4>
                        </div>
                        <div id="searchOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="searchHeading">
                            <div class="panel-body">
                                <div class="panel-group" id="report" role="tablist" aria-multiselectable="true">
                                    <form is="iron-form" class="form-horizontal" name="searchForm">
                                        <dynamic-form form-configuration={{searchObj}} values="{{searchObj.values}}"></dynamic-form>
                                        <br/>
                                        <button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Search</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row tablecontainer" id="tableContainer">
            <table id="searchData" class="table table-striped" width="100%" cellspacing="0"></table>
        </div>
        <url-parser id="urlaction"></url-parser>
        <http-request id="httpsaction"></http-request>
        <alloy-config id="configaction"></alloy-config>
        <auth-service id="authorizenavn"></auth-service>
        <session-manager id="sessionAction"></session-manager>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "action-center",
                properties: {
                    statusListForSearch: {
                        type: Array,
                        value: []
                    },
                    actionCenters: {
                        type: Array,
                        notify: true,
                        reflectToAttribute: true
                    },
                    tableObj: {
                        type: Object,
                        notify: false
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'loan'
                    },
                    configAppliedOn: {
                        type: Object,
                        value: []
                    },
                    configExpiryOn: {
                        type: Object,
                        value: []
                    },
                    searchReqObj: {
                        type: Object,
                        notify: true,
                        value: {
                            searchFilterView: [],
                            inTagsSearch: [],
                            notInTagsSearch: [],
                            operator: "and",
                            projections: "",
                            sorts: ""
                        }
                    },
                    searchObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                LoanProductId: {
                                    label: "Product Id",
                                    type: "combobox",
                                    class: "threeColumn",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: false
                                    }
                                },
                                LoanNumber: {
                                    label: "Loan Number",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                    }
                                },
                                PrimaryApplicantPhoneNo: {
                                    label: "Phone Number",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 14
                                    }
                                },
                                PrimaryApplicantFirstName: {
                                    label: "First Name",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 40
                                    }
                                },
                                PrimaryApplicantLastName: {
                                    label: "Last Name",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 80
                                    }
                                },
                                PrimaryBusinessName: {
                                    label: "Business Name",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 80
                                    }
                                },
                                PrimaryBusinessDBA: {
                                    label: "Business DBA",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 80
                                    }
                                },
                                PrimaryBusinessFedTaxId: {
                                    label: "Business Fed TaxId",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 80
                                    }
                                },
                                StatusCode: {
                                    label: "Status",
                                    type: "combobox",
                                    class: "threeColumn",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: false
                                    }
                                }
                            },
                            values: {
                                LoanProductId: "",
                                LoanNumber: "",
                                PrimaryApplicantPhoneNo: "",
                                PrimaryApplicantFirstName: "",
                                PrimaryApplicantLastName: "",
                                PrimaryBusinessName: "",
                                PrimaryBusinessDBA: "",
                                PrimaryBusinessFedTaxId: "",
                                StatusCode: ""
                            }
                        }
                    }
                },
                formatDate: function (date) {
                    if (date !== undefined) {
                        return moment(date).format('MM/DD/YYYY');
                    }
                    return "";
                },
                _showResult: function (searchFilterView) {
                    var self = this;
                    var data = self.$.configaction.getConfigurationBasedOnKey("filters");
                    var config = _.cloneDeep(data["ActionCenter"]);
                    var columnLength = config.columns.length;
                    for (var i = 0; i < columnLength; i++) {
                        if (config.columns[i].render != undefined) {
                            var render = config.columns[i].render;
                            if (config.columns[i].isFunction) {
                                config.columns[i].render = eval("(" + render + ")");
                            }
                            else {
                                config.columns[i].render = eval(render);
                            }
                        }
                    }
                    var table = self.tableObj;
                    var searchReqObj = self.searchReqObj;
                    var savedFilters = window.config.services.savedFilters;
                    if (table !== null && table !== undefined) {
                        table.clear();
                        table.destroy(true);
                        $('#tableContainer').append($('<table/>').attr('id', 'searchData').css('width', '100%').addClass('table table-striped'));
                    }
                    $.fn.dataTable.ext.errMode = 'none';
                    self.tableObj = $(this.$$('#searchData')).DataTable({
                        serverSide: true,
                        ajax: function (data, success) {
                            var page = data.start / 10;
                            page = page + 1;
                            var draw = data.draw;
                            var sortObj = _.transform(data.order, function (result, item) {
                                var columnObj = data.columns[item.column];
                                result[columnObj.data] = item.dir === "desc" ? -1 : 1;
                            }, {});
                            searchReqObj.searchFilterView = searchFilterView;
                            searchReqObj.sorts = sortObj;
                            $.ajax({
                                url: savedFilters + '/' + self.currentEntityName + '/search-loans/?pageSize=10&page=' + page,
                                type: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify(searchReqObj),
                                headers: {
                                    'Authorization': "Bearer " + self.$.sessionAction.get('token')
                                },
                                complete: function (data) {
                                    var gridData = {
                                        "draw": draw,
                                        "recordsTotal": parseInt(data.getResponseHeader('X-TOTAL-COUNT')),
                                        "recordsFiltered": parseInt(data.getResponseHeader('X-TOTAL-COUNT')),
                                        "data": data.responseJSON
                                    }
                                    $('html, body').animate({
                                        scrollTop: ($('#tableContainer').first().offset().top)
                                    }, 500);
                                    success(gridData);
                                }
                            });
                        },
                        dom: "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                        order: config.order,
                        columnDefs: config.columnDefs,
                        columns: config.columns,
                        language: {
                            lengthMenu: "show_MENU_ loans",
                            zeroRecords: "No loans found.",
                            info: "Showing _START_ to _END_ of _TOTAL_ Loans",
                            infoEmpty: "No loans available",
                            infoFiltered: "(filtered from _MAX_ total Loans)"
                        }
                    });

                    $('#searchData tbody').on('click', 'button', function () {
                        var data = self.tableObj.row($(this).parents('tr')).data();
                        self.openLoanView(data);
                    });
                    //Grid header tooltip
                    var configData = self.tableObj.settings().aoColumns;
                    if ($('#searchData thead tr')[0] != undefined) {
                        $('#searchData thead tr')[0].childNodes.forEach(function (obj) {
                            var tooltipObj = _.filter(configData, { title: obj.innerText });
                            if (!_.isUndefined(tooltipObj) && !_.isNull(tooltipObj) && !_.isEmpty(tooltipObj)) {
                                var tooltip = tooltipObj[0].tooltip;
                                if (tooltip !== "" && tooltip !== undefined) {
                                    $(obj).attr('title', tooltip);
                                }
                            }
                        });
                    }
                },
                openLoanView: function (item) {
                    var self = this;
                    self.set("productId", item.LoanProductId);
                    self.set("statusWorkFlowId", item.StatusWorkFlowId);
                    window.location.hash = "/loan-details/entity:" + self.currentEntityName + "/filter:ActionCenter/loanId:" + item.LoanNumber + "/product:" + self.productId + "/workflow:" + self.statusWorkFlowId;
                },
                currencyFormat: function (value) {
                    if (value) {
                        value = new Number(value);
                        var amount = value.toFixed(0);
                        amount = amount.toString();
                        var lastThree = amount.substring(amount.length - 3);
                        var otherNumbers = amount.substring(0, amount.length - 3);
                        if (otherNumbers != '')
                            lastThree = ',' + lastThree;
                        var res = otherNumbers.replace(/\B(?=(\d{2})+(?!\d))/g, ",") + lastThree;
                        return res;
                    }
                    else {
                        return 0.00;
                    }
                },
                _verifyForm: function (event) {
                    event.preventDefault();
                    var self = this;
                    var inputObj = _.cloneDeep(self.searchObj.values);
                    var currentDate = moment.tz(window.config.timezone);
                    var form = Polymer.dom(event).localTarget.parentElement;
                    if (form.validate()) {
                        var excludeKeyList = ['LoanOnboardedDate.Time.DateTime', 'ExpiryDate.Time.DateTime'];
                        var searchFilterView = _.transform(inputObj, function (result, value, key) {
                            if (value) {
                                var tempObj = {};
                                if (excludeKeyList.indexOf(key) === -1) {
                                    var statusKey = _.find(self.statusListForSearch, ['key', value]);
                                    if (statusKey != undefined && statusKey != null && statusKey != "") {
                                        tempObj[statusKey.searchKey] = {
                                            "$regex": value, "$options": "i"
                                        };
                                    }
                                    else {
                                        tempObj[key] = {
                                            "$regex": value, "$options": "i"
                                        };
                                    }
                                } else {
                                    tempObj[key] = value;
                                }
                                result.push(tempObj);
                            }
                        }, []);
                        self._showResult(searchFilterView);
                    }
                },
                _loadStatusList: function () {
                    var self = this;
                    var result = self.$.sessionAction.getObject('status-workflows');
                    var exludeAppConfig = self.$.configaction.getConfigurationBasedOnKey("excludeApp");
                    var StatusObj = _.find(result, ['Name', 'LoanWorkFlow']);
                    if (StatusObj) {
                        var statusList = StatusObj.statuses;
                        var optionList = _.transform(statusList, function (result, item) {
                            result.push({ key: item.code, value: item.name, searchKey: "StatusCode" });
                            if (item.hasOwnProperty("SubWorkFlows") && !_.isEmpty(item.SubWorkFlows)) {
                                _.forEach(item.SubWorkFlows, function (innStatusObj) {
                                    var innList = _.transform(innStatusObj.Status, function (innResult, innitem) {
                                        result.push({ key: innitem.code, value: innitem.name, searchKey: "SubStatusDetail.SubStatusCode" });
                                    }, []);
                                });
                            }
                        }, []);
                        self.set("statusListForSearch", optionList);
                        var searchObj = _.cloneDeep(self.get('searchObj'));;
                        searchObj.controls.StatusCode.selectList = optionList;
                        self.set('searchObj', searchObj);
                    }
                },
                _getProductList: function () {
                    var self = this;
                    var url = "/all/product";
                    var multiProducts = window.config.services.multiProducts;
                    self.$.httpsaction.get(url, multiProducts).then(function (data) {
                        var ProductList = _.transform(data, function (result, item) {
                            result.push({ key: item.productId, value: item.productId });
                        }, []);
                        var searchObj = self.get('searchObj');
                        searchObj.controls.LoanProductId.selectList = ProductList;
                        if (ProductList != undefined && ProductList != null && ProductList.length == 1) {
                            searchObj.values.LoanProductId = ProductList[0].key;
                        }
                        self.set('searchObj', $.extend({}, self.get('searchObj'), searchObj));
                    }).fail(function (e) {
                        console.error("Product List error is ", e);
                    });
                },
                ready: function () {
                    var self = this;
                    var urlParams = self.$.urlaction.getParams();
                    if (urlParams.hasOwnProperty('entity')) {
                        self.set('currentEntityName', urlParams.entity);
                    }
                    self._loadStatusList();
                    self._getProductList();
                    var actionCenter = self.$.configaction.getConfigurationBasedOnKey("actionCenter");
                    self.set('actionCenters', actionCenter);
                },
                formatCurrency: function (data) {
                    return formats.money(data, window.config.country, 0);
                },
                hasRole: function (compName) {
                    compName = compName + "Filters";
                    return this.$.authorizenavn.hasRole(compName);
                },
                _getRecords: function (onjAction) {
                    var self = this;
                    var payload = {};
                    $.ajax({
                        url: window.config.services.savedFilters + '/' + onjAction.entityType + '/' + onjAction.searchName + '/' + onjAction.filterName + '?pageSize=1&page=1',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(payload),
                        headers: {
                            'Authorization': "Bearer " + self.$.sessionAction.get('token')
                        },
                        complete: function (data) {
                            var recordsTotal = parseInt(data.getResponseHeader('X-TOTAL-COUNT'));
                            if (isNaN(recordsTotal)) {
                                recordsTotal = 0;
                            }
                            $('#' + onjAction.recordsId).text(recordsTotal);
                        }
                    });
                },
                getProductName: function (data) {
                    var self = this;
                    var productNameList = self.$.configaction.getConfigurationBasedOnKey("productNameList");
                    var obj = _.find(productNameList, ['productId', data]);
                    return (obj != undefined && obj != null && obj != "") ? obj.productName : data;
                }
            });
        });
    </script>
</dom-module>