<html-import html-href="navigation/node.html"></html-import>
<dom-module id="navigation-list">
    <template>
        <style>
            .nav-1-level {
                max-width: 190px !important;
                padding: 0 !important;
                margin: 0 !important;
            }

            .sidebar-collapse {
                padding: 0 !important;
                max-width: 190px !important;
            }
        </style>
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <template is="dom-if" if="{{checkIfNodesAvailable(nodes)}}">
                    <ul class="nav metismenu nav-1-level">
                        <template is="dom-repeat" items="{{nodes}}">
                            <nav-node node="{{item}}" level="2" total-counts="{{totalCounts}}"></nav-node>
                        </template>
                    </ul>
                </template>
            </div>
        </nav>
        <alloy-config id="confignavi"></alloy-config>
        <iron-signals on-iron-signal-displaytotalcount="_displayTotalCount"></iron-signals>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "navigation-list",
                properties: {
                    nodes: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    },
                    totalCounts: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    }
                },
                ready: function () {
                    var self = this;
                    var config = self.$.confignavi.getAppConfiguration("navigation");
                    self.set('nodes', config.nodes);
                },
                checkIfNodesAvailable: function (nodes) {
                    if (!_.isEmpty(this.nodes))
                        return true;
                    return false;
                },
                _displayTotalCount: function (event) {
                    this.set('totalCounts', event.detail.totalRecords);
                }
            });
        });
    </script>
</dom-module>