<dom-module id="header-view">
    <template>
        <style>
            .navbar {
                max-height: 60px;
            }

            .navbar-brand {
                padding: 0;
                overflow: hidden;
                height: 60px !important;
            }

            .navbar-brand img {
                height: 100%;
                width: 100%;
            }
        </style>
        <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <template is="dom-if" if="{{_checkIfLogoLoaded(logoObj)}}">
                        <img src="{{dynamicImage}}" alt="{{logoObj.alt}}">
                    </template>
                </div>
            </div>
            <profile-summary></profile-summary>
        </nav>
        <http-request id="httph"></http-request>
        <alloy-config id="configh"></alloy-config>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "header-view",
                properties: {
                    logoObj: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    hasImageLoaded: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    dynamicImage: {
                        type: String,
                        notify: true
                    }
                },
                _checkIfLogoLoaded: function (logoObj) {
                    var self = this;
                    if (self.hasImageLoaded && !_.isEmpty(self.logoObj))
                        return true;
                    return false;
                },
                loadLogoconfigs: function () {
                    var self = this;
                    var data = self.$.configh.getConfigurationBasedOnKey("images-config");
                    if (data.nosearchlogo) {
                        self.set('hasImageLoaded', true);
                        self.set('logoObj', data.nosearchlogo);
                        var regexpattern = /((?:https?\:\/\/|www\.)(?:[-a-z0-9]+\.)*[-a-z0-9]+.*)/i;
                        if (regexpattern.test(data.nosearchlogo.img)) {
                            self.set("dynamicImage", data.nosearchlogo.img);
                        }
                        else {
                            self.set("dynamicImage", "/images/" + data.nosearchlogo.img);
                        }
                    }
                },
                ready: function () {
                    this.loadLogoconfigs();
                }
            });
        });
    </script>
</dom-module>
<html-import html-href="profile/summary.html"></html-import>