<dom-module id="hunter-finnacle-file">
    <template>
        <style>
            .tablecontainer {
                width: 100% !important;
                margin: 30px auto 0;
            }
        </style>
        <div class="row">
            <breadcrumb-links id="breadkcrumbLinks"></breadcrumb-links>
        </div>

        <form is="iron-form" class="form-horizontal" name="searchFileDataForm">
            <div class="row">
                <div class="col-md-3">
                    <vaadin-date-picker id="FromDate" i18n="[[i18n]]" label="From Date" format="{{_getFormat(item.value)}}" required></vaadin-date-picker>
                </div>
                <div class="col-md-3">
                    <vaadin-date-picker id="ToDate" i18n="[[i18n]]" label="To Date" format="{{_getFormat(item.value)}}"></vaadin-date-picker>
                </div>
            </div>
            <div class="row">
                <br/>
                <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Search</paper-button>
            </div>
            <paper-button id="formResetButton" class="btn btn-primary activity-action-btn" style="display: none;" on-click="_formReset"
                raised>Reset</paper-button>
        </form>
        <div class="row tablecontainer">
            <table id="searchData" class="table table-striped" width="100%" cellspacing="0">
            </table>
        </div>
        <url-parser id="urlapp"></url-parser>
        <http-request id="http"></http-request>
        <alloy-config id="configfile"></alloy-config>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "hunter-finnacle-file",
                properties: {
                    jsonObj: {
                        type: Object,
                        notify: true
                    },
                    currentFilterName: {
                        type: String,
                        notify: true,
                        value: "HunterFiles"
                    },
                    tableObj: {
                        type: Object,
                        notify: false
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    },
                    filteredItems: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    i18n: {
                        type: Object,
                        notify: true,
                        value: {
                            monthNames: moment.months(),
                            weekdays: moment.weekdays(),
                            weekdaysShort: moment.weekdaysShort(),
                            firstDayOfWeek: moment.localeData().firstDayOfWeek(),
                            week: 'Week',
                            calendar: 'Calendar',
                            clear: 'Clear',
                            today: 'Today',
                            cancel: 'Cancel',
                            formatDate: function (d) {
                                return moment(d).format("DD-MM-YYYY");
                            },
                            parseDate: function (s) {
                                return moment(s, "DD/MM/YYYY").toDate();
                            },
                            formatTitle: function (monthName, fullYear) {
                                return monthName + ' ' + fullYear;
                            }
                        }
                    }
                },
                _getFormat: function () {
                    return 'DD-MM-YYYY';
                },
                searchDate: function (date) {
                    if (date !== undefined) {
                        return moment.tz(date, window.config.timezone).format("MM-DD-YYYY");
                    }
                    return "";
                },
                currencyFormat: function (value) {
                    return formats.moneyWithoutFraction(value, "INDIA", 0);
                },
                formatMoney: function (value) {
                    return formats.moneyWithoutFraction(value, "INDIA", 0);
                },
                formatDate: function (date) {
                    return formats.date(date, window.config.country, false);
                },
                clearTable: function (table) {
                    if (table !== null && table !== undefined) {
                        table.clear();
                        table.destroy();
                    }
                },
                _showResult: function (resultData) {
                    var self = this;
                    var table = self.tableObj;
                    self.set('filteredItems', resultData);
                    if (table !== null && table !== undefined) {
                        self.clearTable(table);
                    }
                    self.tableObj = $(this.$$('#searchData')).DataTable({
                        retrieve: true,
                        sDom: '<"top">rt<"bottom"ip><"clear">',
                        "language": {
                            "zeroRecords": "No data found."
                        },
                        "data": resultData,
                        "columns": self.jsonObj.columns,
                        "columnDefs": self.jsonObj.columnDefs,
                        "order": self.jsonObj.order
                    });

                    $('#searchData tbody').on('click', 'button', function () {
                        self.openLoanView($(this).data());
                    });
                },
                openLoanView: function (e) {
                    var self = this;
                    var event = e;
                    var appId = e.appid;
                    var appObj = _.find(self.filteredItems, ['applicationNumber', appId]);
                    var self = this;
                    self.set("statusName", appObj.statusName);
                    this.applicationNumber = appObj.applicationNumber;
                    window.location.hash = "/app-details/entity:" + self.currentEntityName + "/filter:" + self.currentFilterName + "/app:" + this.applicationNumber;
                },
                _verifyForm: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var loanFilter = window.config.services.applicationFilters;
                    var fromDate = document.querySelector('#FromDate');
                    var toDate = document.querySelector('#ToDate');
                    var selectedDates = "";
                    var fileType = "Exported to Hunter";
                    if (self.currentFilterName === "FinacleFiles") {
                        fileType = "Exported to Finacle";
                    }
                    var url = "/filterontaggedtime/" + fileType;
                    if (fromDate.validate()) {
                        selectedDates = "/" + self.searchDate(fromDate.value);
                        if (toDate.value !== "") {
                            selectedDates = selectedDates + "/" + self.searchDate(toDate.value);
                        }
                        url = url + selectedDates
                        self.$.http.post(url, null, loanFilter).then(function (result) {
                            result = result.length > 0 ? result : [];
                            self._showResult(result);
                        }).fail(function (e) {
                            console.error("Search error is ", e);
                            self._showResult([]);
                        });
                    }
                },
                _loadJson: function () {
                    var self = this;
                    var filterConfig = self.$.configfile.getConfigurationBasedOnKey("filters");
                    var currentFilter = _.cloneDeep(filterConfig[self.currentFilterName]);
                    if (currentFilter) {
                        var columnLength = currentFilter.columns.length;
                        for (var i = 0; i < columnLength; i++) {
                            if (currentFilter.columns[i].render != undefined) {
                                var render = currentFilter.columns[i].render;
                                if (currentFilter.columns[i].isFunction) {
                                    currentFilter.columns[i].render = eval("(" + render + ")");
                                }
                                else {
                                    currentFilter.columns[i].render = eval(render);
                                }
                            }
                        }
                        self.set("jsonObj", currentFilter);
                        self.dateChange();
                    }
                },
                init: function () {
                    var self = this;
                    var urlParams = self.$.urlapp.getParams();
                    self.set('currentFilterName', urlParams.filter);
                    self._loadJson()
                },
                attached: function () {
                    window.addEventListener("hashchange", this.createHashChangedHandler());
                    this.init();
                },
                detached: function () {
                    window.removeEventListener("hashchange", this.onHashChanged);
                },
                createHashChangedHandler: function () {
                    this.onHashChanged = function () {
                        var self = this;
                        var urlParams = self.$.urlapp.getParams();
                        var _currentFilterName = urlParams.filter;
                        if (self.currentFilterName != _currentFilterName) {
                            self.set('currentFilterName', urlParams.filter);
                            if (self.tableObj) {
                                self.tableObj.destroy(true);
                            }
                            self.$.breadkcrumbLinks.init();
                            $('#formResetButton').click();
                            self.init();
                        }
                    }.bind(this);
                    return this.onHashChanged;
                },
                _formReset: function (event) {
                    var form = Polymer.dom(event).localTarget.parentElement;
                    form.reset();
                },
                dateChange: function () {
                    setTimeout(function () {
                        var start = document.querySelector('#FromDate');
                        var end = document.querySelector('#ToDate');
                        start.addEventListener('value-changed', function () {
                            window.setTimeout(function () {
                                end.min = start.value;
                            }, 500);
                        });
                        end.addEventListener('value-changed', function () {
                            window.setTimeout(function () {
                                start.max = end.value;
                            }, 500);
                        });
                    }, 4000);
                }
            });
        });
    </script>
</dom-module>