<dom-module id="task-list">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .tablecontainer {
                margin: 40px auto 0;
            }

            .row {
                margin: 0 auto !important;
            }

            .header-right {
                position: absolute;
                right: 20px;
            }

            .footer-right {
                float: right;
            }

            div#taskListTable_wrapper {
                text-align: center;
            }

            .set-vertical-height {
                height: 450px;
                overflow-y: auto;
                overflow-x: hidden;
            }

            .headerLoanTask {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }

            .modal-dialogTask {
                margin: 10% auto;
                width: 750px !important;
            }
        </style>
        <div class="row">
            <breadcrumb-links></breadcrumb-links>
        </div>
        <div id="MessageContainerTask"></div>
        <div class="row">
            <div class="panel-left col-md-4">
                <vaadin-combo-box class="custom-input" name="taskName" value="{{taskNameId}}" item-value-path="value" item-label-path="key"
                    items="{{taskNameList}}" label="Please select Task" prevent-invalid-input="true"></vaadin-combo-box>
            </div>
            <div class="panel-left col-md-4">
                <vaadin-date-picker class="custom-input" id="fromDateTask" i18n="[[i18n]]" label="From Date" format="{{_getFormat(item.value)}}"
                    min="{{taskMinDate}}" max="{{taskMaxDate}}" value="{{fromDateTask}}"></vaadin-date-picker>
            </div>
            <div class="panel-left col-md-4">
                <vaadin-date-picker class="custom-input" id="toDateTask" i18n="[[i18n]]" label="To Date" format="{{_getFormat(item.value)}}"
                    min="{{taskMinDate}}" max="{{taskMaxDate}}" value="{{toDateTask}}"></vaadin-date-picker>
            </div>
        </div>
        <br/>
        <button class="btn btn-primary activity-action-btn" on-click="_getDetails" raised>Get Task Details</button>
        <div id="tableContainer" class="row tablecontainer">
            <table id="taskListTable" class="table table-striped" width="100%" cellspacing="0"></table>
        </div>
        <custom-modal id="taskLogModal" class="modal-drop" on-modal-hidden="resettaskLogModal">
            <div>
                <div class="modal-dialogTask">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Task Logs</h4>
                        </div>
                        <div class="modal-body set-vertical-height">
                            <table id="lmSchedule" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th colspan="4" class="headerLoanTask">Loan with Exception</th>
                                    </tr>
                                    <tr>
                                        <th class="h-center-c-center">Loan Number</th>
                                        <th class="h-center-c-right">Excepion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <template is="dom-repeat" items="{{logDetails}}" as="log">
                                        <tr>
                                            <td class="h-center-c-center">{{ log.loanNumber}}</td>
                                            <td class="h-center-c-right">{{ log.exception}}</td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>
        <url-parser id="urlTaskList"></url-parser>
        <http-request id="httpTaskList"></http-request>
        <alloy-config id="configTaskList"></alloy-config>
        <session-manager id="sessionTaskList"></session-manager>
        <message-component id="messageTaskList"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "task-list",
                properties: {
                    taskNameList: {
                        type: Array,
                        notify: true,
                        value: [{ key: 'Accrual', value: 'task-accrual' },
                        { key: 'Fee Pull Request', value: 'task-create-fee-pull' },
                        { key: 'Payment Pull Request', value: 'task-create-payment-pull' },
                        { key: 'Create Instrction', value: 'task-create-instruction' },
                        { key: 'Funding/Refund Payment', value: 'task-funding-payment' },
                        { key: 'NSF retry', value: 'task-nsf-retry' },
                        { key: 'Payment Account', value: 'task-payment-success' }]
                    },
                    taskNameId: {
                        type: String,
                        notify: true
                    },
                    searchReqObj: {
                        type: Object,
                        notify: true,
                        value: {
                            searchFilterView: [],
                            inTagsSearch: [],
                            notInTagsSearch: [],
                            operator: "and",
                            projections: "",
                            sorts: ""
                        }
                    },
                    filteredItems: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    logDetails: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    config: {
                        type: Object,
                        notify: true
                    },
                    tableObj: {
                        type: Object,
                        notify: false
                    },
                    allLoans: {
                        type: Array,
                        notify: true
                    },
                    searchReqObj: {
                        type: Object,
                        notify: true,
                        value: {
                            searchFilterView: [],
                            inTagsSearch: [],
                            notInTagsSearch: [],
                            operator: "and",
                            projections: "",
                            sorts: ""
                        }
                    },
                    fromDateTask: {
                        type: Date,
                        notify: true
                    },
                    toDateTask: {
                        type: Date,
                        notify: true
                    },
                    taskMinDate: {
                        type: Date,
                        notify: true
                    },
                    taskMaxDate: {
                        type: Date,
                        notify: true
                    },
                    i18n: {
                        type: Object,
                        notify: true,
                        value: {
                            monthNames: moment.months(),
                            weekdays: moment.weekdays(),
                            weekdaysShort: moment.weekdaysShort(),
                            firstDayOfWeek: moment.localeData().firstDayOfWeek(),
                            week: 'Week',
                            calendar: 'Calendar',
                            clear: 'Clear',
                            today: 'Today',
                            cancel: 'Cancel',
                            formatDate: function (d) {
                                return moment(d).format("MM/DD/YYYY");
                            },
                            parseDate: function (s) {
                                return moment(s, "MM/DD/YYYY").toDate();
                            },
                            formatTitle: function (monthName, fullYear) {
                                return monthName + ' ' + fullYear;
                            }
                        }
                    }
                },
                ready: function () {
                    var self = this;
                    self.setMaxDate();
                    self.setMinDate();
                },
                attached: function () {
                    window.addEventListener("hashchange", this.createHashChangedHandler());
                    this._loadFilterConfigurations();
                },
                detached: function () {
                    window.removeEventListener("hashchange", this.onHashChanged);
                },
                createHashChangedHandler: function () {
                    this.onHashChanged = function () {
                        var self = this;
                        var currentMicroApp = window.location.hash.slice(2).split("/")[0];
                        if (self.microAppName === currentMicroApp) {
                            self._loadFilterConfigurations();
                            self.$$('#breadcrumbLinks').init();
                        }
                    }.bind(this);
                    return this.onHashChanged;
                },
                _loadFilterConfigurations: function () {
                    var self = this;
                    var urlParams = self.$.urlTaskList.getParams();
                    var data = self.$.configTaskList.getConfigurationBasedOnKey("filters");
                    var config = _.cloneDeep(data[urlParams.filter]);
                    var columnLength = config.columns.length;
                    for (var i = 0; i < columnLength; i++) {
                        if (config.columns[i].render != undefined) {
                            var render = config.columns[i].render;
                            if (config.columns[i].isFunction) {
                                config.columns[i].render = eval("(" + render + ")");
                            }
                            else {
                                config.columns[i].render = eval(render);
                            }
                        }
                    }
                    self.set("config", config);
                },
                _getDetails: function (event) {
                    var self = this;
                    if (self.taskNameId !== "" || self.fromDateTask !== "" || self.toDateTask !== "") {
                        self._getFilteredApplicationList(self.config);
                    }
                    else {
                        self.$.messageTaskList.showMessage("Please select atleast one search criteria.", "ERROR", self.$$('#MessageContainerTask'));
                    }
                },
                _checkIfEmptyObject: function (obj) {
                    return Object.keys(obj).length === 0 && obj.constructor === Object;
                },
                _getFilteredApplicationList: function (filterConfig) {
                    var self = this;
                    var table = self.tableObj;
                    var searchReqObj = self.searchReqObj;
                    var loanFilters = window.config.services.savedFilters;
                    $.fn.dataTable.ext.errMode = 'none';
                    if (!_.isUndefined(table) && !_.isNull(table) && !self._checkIfEmptyObject(table)) {
                        table.clear();
                        table.destroy(true);
                        $('#tableContainer').append($('<table/>').attr('id', 'taskListTable').css('width', '100%').addClass('table table-striped'));
                    }
                    table = self.tableObj = $('#taskListTable').DataTable({
                        serverSide: true,
                        ajax: function (data, success) {
                            var page = data.start / 10;
                            page = page + 1;
                            var draw = data.draw;
                            var sortObj = _.transform(data.order, function (result, item) {
                                var columnObj = data.columns[item.column];
                                result[columnObj.data] = item.dir === "desc" ? -1 : 1;
                            }, {});
                            var result = [];

                            if (self.taskNameId != "") {
                                var tempObj = {};
                                tempObj["TaskName"] = {
                                    "$regex": self.taskNameId, "$options": "i"
                                };
                                result.push(tempObj);
                            }
                            if (self.fromDateTask != "" && self.toDateTask != "") {
                                var tempObj = {};
                                tempObj['StartDate.Time.DateTime'] = { '$gte': moment.tz(self.fromDateTask, window.config.timezone), '$lte': moment.tz(self.toDateTask, window.config.timezone) };
                                result.push(tempObj);
                            }
                            else if (self.fromDateTask != "") {
                                var tempObj = {};
                                tempObj['StartDate.Time.DateTime'] = { '$gte': moment.tz(self.fromDateTask, window.config.timezone) };
                                result.push(tempObj);
                            }
                            else if (self.toDateTask != "") {
                                var tempObj = {};
                                tempObj['StartDate.Time.DateTime'] = { '$lte': moment.tz(self.toDateTask, window.config.timezone) };
                                result.push(tempObj);
                            }

                            searchReqObj.searchFilterView = result;
                            searchReqObj.sorts = sortObj;
                            $.ajax({
                                url: loanFilters + '/tasksfilter/search-loans?pageSize=10&page=' + page,
                                type: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify(searchReqObj),
                                headers: {
                                    'Authorization': "Bearer " + self.$.sessionTaskList.get('token')
                                },
                                complete: function (data) {
                                    self.set('filteredItems', data.responseJSON);
                                    self.fire('iron-signal', { name: 'displaytotalcount', data: { totalRecords: data.getResponseHeader('X-TOTAL-COUNT') } });
                                    var gridData = {
                                        "draw": draw,
                                        "recordsTotal": parseInt(data.getResponseHeader('X-TOTAL-COUNT')),
                                        "recordsFiltered": parseInt(data.getResponseHeader('X-TOTAL-COUNT')),
                                        "data": self.processData(data.responseJSON)
                                    }
                                    if (_.isEmpty(data.responseJSON)) {
                                        $('#Export').hide();
                                    }
                                    success(gridData);
                                }
                            });
                        },
                        dom: "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                        columns: filterConfig.columns,
                        columnDefs: filterConfig.columnDefs,
                        order: filterConfig.order,
                        language: {
                            lengthMenu: "show_MENU_ Task",
                            zeroRecords: "No Task found.",
                            info: "Showing _START_ to _END_ of _TOTAL_ Task",
                            infoEmpty: "",
                            infoFiltered: "(filtered from _MAX_ total Task)"
                        }
                    });

                    setTimeout(function () {
                        $('#taskListTable tbody').on('click', 'button', function () {
                            var data = table.row($(this).parents('tr')).data();
                            self.openLogsView(data);
                        });

                    }, 700);
                },
                openLogsView: function (item) {
                    var self = this;
                    self.logDetails = item.exceptionDetails;
                    self.$$('#taskLogModal').showModal();
                },
                processData: function (obj) {
                    var self = this;
                    if (Array.isArray(obj)) {
                        var processedData = _.transform(obj, function (result, value, key) {
                            var finalObj = {};
                            $.each(value, function (key, data) {
                                if (key === "TaskLogs") {
                                    var tmpData = JSON.parse(data);
                                    $.each(tmpData, function (key, data1) {
                                        finalObj[key] = data1
                                    });
                                }
                                else {
                                    finalObj[key] = data
                                }
                            });
                            result.push(finalObj);
                        }, []);
                        return processedData;
                    }
                    else {
                        return [];
                    }
                },
                resetModalloanModification: function () {
                    var self = this;
                    self.set("loanModification", "");
                    self.set("logDetails", []);
                },
                setMinDate: function () {
                    var self = this;
                    var someDate = new Date();
                    someDate.setDate(someDate.getDate() - 7);
                    self.set("taskMinDate", moment(someDate).format('YYYY-MM-DD'));
                },
                setMaxDate: function () {
                    var self = this;
                    var someDate = new Date();
                    self.set("taskMaxDate", moment(someDate).format('YYYY-MM-DD'));
                }
            });
        });
    </script>
</dom-module>