<link rel="import" href="../services/config.html">
<link rel="import" href="../services/tenant.html">
<dom-module id="micro-app">
    <template>
        <div id="micro-app-host"></div>
        <session-manager id="sessionma" security-service-url="{{ portalConfig.services.security }}"></session-manager>
        <alloy-config id="config" alloy-configuration="{{ portalConfig }}"></alloy-config>
        <alloy-tenant id="tenant" alloy-tenant="{{appTenant}}"></alloy-tenant>
    </template>
    <script>
        Polymer({
            is: "micro-app",
            observers: [
                "importComponent(portalConfig, appId, appSrc, appTenant)",
                "attachAppBindingsToElement(element, boundAttributes.*)",
                "initContentListeners(element)"
            ],
            behaviors: [eventHub],
            properties: {
                appId: {
                    type: String,
                    value: ""
                },
                appSrc: {
                    type: String,
                    value: ""
                },
                appConfig: Object,
                portalConfig: {
                    type: Object
                },
                currentApp: {
                    type: Boolean
                },
                appTenant: {
                    type: Object
                },
                element: {
                    type: Object
                }
            },
            ready: function () {
                var self = this;
                self.nativeProperties = Object.keys(self);
                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            attached: function () {
                this.async(this.getAppBindings.bind(this), 100);
                this.hub = this.$.hub;
            },
            detached: function () {
                window.removeEventListener("hashchange", this.onHashChange.bind(this))
            },
            init: function () {
                var self = this;
                return function () {
                    if (self.currentApp) {
                        self.initializeFromURL();
                        window.addEventListener("hashchange", self.onHashChange.bind(self));
                    }
                }
            },
            onHashChange: function () {
                this.initializeFromURL();
            },
            initializeFromURL: function () {
                // Remove #/ then split by "/"
                var splitUrl = window.location.hash.slice(2).split('/');
                // Last param passed is AppID
                var urlAppId = splitUrl[0];
                this.set("appId", urlAppId);
            },
            reloadChild: function () {
                this.set("loaded", false);
                this.importComponent(this.portalConfig, this.appId, this.appSrc, this.appTenant);
            },

            publishMicroAppLoaded: function (child) {
                this.publish("microApp.loaded", { origin: this, child: child });
            },

            importComponent: function (portalConfiguration, appId, appSrc, appTenant) {
                var self = this;

                // Break early if portalConfiguration, tenant, or appId and appSrc are not defined.
                if (!portalConfiguration || (!appId && !appSrc) || !appTenant) {
                    return
                }

                // Clear the domHost if loading from portalConfiguration and appId is not defined in the portal portalConfiguration.
                if (!appSrc && portalConfiguration.apps && !portalConfiguration.apps[appId]) {
                    this.clearDomHost();
                    return;
                }

                if (appSrc) {
                    loadComponent.call(self, appSrc, portalConfiguration, null, self.appConfig);
                    return;
                }

                var app = portalConfiguration.apps[appId];
                if (!app.public) {
                    loadComponent.call(self, app.src, portalConfiguration, appId);
                    return;
                }

                loadComponent.call(self, app.src, portalConfiguration, appId);

                function authorizeCurrentAppComponent() {
                    return this.$.sessionma.isAuthorized(window.location.hash.slice(1));
                }

                function loadComponent(appSrc, portalConfiguration, appId, appConfig) {
                    var url = "/components/" + tenant.name + "/" + appSrc;
                    // Load Components into DOM
                    this.importHref(url, function (e) {
                        var child = this.attachComponent(e, appId, appConfig);
                        this.publishMicroAppLoaded.call(this, child);
                    }.bind(this));
                }
            },
            clearDomHost: function () {
                var host = Polymer.dom(this.$["micro-app-host"]);
                var childNodes = host.childNodes;
                for (var i = 0; i < childNodes.length; i++) {
                    host.removeChild(childNodes[i]);
                }
            },
            attachComponent: function (e, appId, appConfig) {
                var target = Polymer.dom(this.$["micro-app-host"]);
                this.clearDomHost();
                var id = Polymer.dom(e.target.import.body).querySelector("dom-module").getAttribute("id");
                var element = this.element = document.createElement(id);
                if (appId) {
                    element.config = this.portalConfig.apps[appId].configuration;
                }
                if (appConfig) {
                    element.config = appConfig;
                }
                target.appendChild(element);
                target.flush();
                return element;
            },
            // Get list of bound attributes and adds listeners to each
            getAppBindings: function () {
                // Array of properties native to polymer prototype
                var blackList = ["nativeProperties", "currentApp", "_readied", "isAttached", "lightChildren"];
                this.nativeProperties = this.nativeProperties.concat(blackList);
                var microAppProperties = Object.keys(this);

                // Grab bound attributes to current microapp
                var boundAttributes = microAppProperties.filter(function (prop) {
                    return !this[prop] && this.nativeProperties.indexOf(prop) === -1;
                }.bind(this));

                if (boundAttributes.length) {
                    this.boundAttributes = {};

                    boundAttributes.forEach(function (attribute) {
                        this.set("boundAttributes." + attribute, this[attribute]);
                    }.bind(this));

                    // this.addBindingListeners(boundAttributes);
                }
            },
            addBindingListeners: function (attributes) {
                attributes.forEach(function (attribute) {
                    Object.defineProperty(this, attribute, {
                        get: function () {
                            return this.value
                        },
                        set: function (newValue) {
                            this.value = newValue;
                            this.set("boundAttributes." + attribute, newValue);
                        }
                    });
                }.bind(this));
            },
            // Adds bindings to element
            // Reliant on element and bound attributes
            attachAppBindingsToElement: function (element, boundAttributeChange) {
                // Did boundAttributes change at the top level?
                if (boundAttributeChange.path.indexOf(".") === -1) {
                    // Transfer attributes to element
                    for (var attribute in boundAttributeChange.value) {
                        element[attribute] = boundAttributeChange.value[attribute];
                    }
                    return;
                }
                // Did boundAttributes undergo a property change?
                var attribute = boundAttributeChange.path.split(".")[1];
                // Transfer attributes to element
                element[attribute] = boundAttributeChange.value;
            },
            initContentListeners: function (element) {
                var self = this;
                if (!self._lightChildren || !self._lightChildren.length) {
                    return
                }
                self.set("lightChildren", self._lightChildren);
                self.injectContent(element, self.lightChildren);
                Object.defineProperty(self, "_lightChildren", {
                    get: function () {
                        return self.value
                    },
                    set: function (newValue) {
                        self.value = newValue;
                        self.set("lightChildren", newValue);
                        self.injectContent(element, self.lightChildren);
                    }
                });
            },
            injectContent: function (element, children) {
                var content = Polymer.dom(element.querySelector("#content"));
                var childNodes = content.childNodes;

                for (var i = 0; i < childNodes.length; i++) {
                    content.removeChild(childNodes[i]);
                }
                children.forEach(function (node) {
                    content.appendChild(node);
                });
            }
        });
    </script>
</dom-module>