<dom-module id="add-funding-request">
    <template>
        <div class="slide-action">
            <button id="addfundingrequest" on-click="addfunding" class="btn btn-primary activity-action-btn">Add Funding Request</button>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "add-funding-request",
                properties: {
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    }
                },
                init: function () {
                    var self = this;
                    var urlParams = self.$.url.getParams();
                    if (urlParams.hasOwnProperty('entity')) {
                        self.set('currentEntityName', urlParams.entity);
                    }
                },
                addfunding: function (event) {
                    var self = this;
                    var appNumber, appProcessorEndpoint, url;
                    var urlParams = self.$.url.getParams();
                    if (self.currentEntityName == "application") {
                        appNumber = urlParams.app;
                        appProcessorEndpoint = window.config.services.appProcessor;
                        url = "/" + self.currentEntityName + "/" + appNumber + '/add/fundingrequest';
                    }
                    else {
                        appNumber = urlParams.drawdownId;
                        appProcessorEndpoint = window.config.services.drawdownFilters;
                        url = "/" + appNumber + '/add/fundingrequest';
                    }
                    self.$.http.post(url, {}, appProcessorEndpoint, true).then(function (data) {
                        self.raiseAppRefreshEvent(event);
                    }).fail(function (e) {
                        console.error("addfunding error is ", e);
                    });
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: 'addFundingRequest',
                        EventData: event,
                        CompnentName: 'add-funding-request'
                    });
                }
            });
        });
    </script>
</dom-module>