<dom-module id="approve-prestala">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }
        </style>
        <div id="MessageContainer"></div>
        <div class="row">
            <div class="col-md-12">
                <paper-button class="btn btn-primary activity-action-btn" on-click="updateLenderDecision" raised>Approve for Prestala</paper-button>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "approve-prestala",
                properties: {
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    }
                },
                init: function () {

                },
                ready: function () {
                    var self = this;
                    var urlParams = this.$.url.getParams();
                    if (urlParams.hasOwnProperty('entity')) {
                        this.set('currentEntityName', urlParams.entity);
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: 'Prestala',
                        EventData: event,
                        CompnentName: 'approve-prestala'
                    });
                },
                updateLenderDecision: function (event) {
                    var self = this;
                    var params = self.$.url.getParams();
                    var appProcessorEndpoint = window.config.services.appProcessor;
                    var url = '/application/' + self.applicationNumber + '/lenderdecision/Prestala/100.50';
                    self.$.http.post(url, {}, appProcessorEndpoint).then(function (data) {
                        self.raiseAppRefreshEvent(event);
                    }).fail(function (e) {
                        self.$.message.showMessage("Transition not allowed.", "ERROR", self.$.MessageContainer);
                    });
                }
            });
        });
    </script>
</dom-module>