<dom-module id="request-drawdown">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }
        </style>
        <div id="MessageContainer"></div>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="{{formId}}" id="{{formId}}">
                    <!-- <dynamic-form form-configuration={{requestedAmountObj}} values="{{requestedAmountObj.values}}"></dynamic-form>
                    <br/> -->
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "request-drawdown",
                properties: {
                    formId: {
                        type: String,
                        notify: true
                    },
                    fireEvent: {
                        type: Object,
                        notify: true,
                        value: {
                            "AppDetailsPageRefresh": true
                        }
                    },
                    requestedAmountObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                RequestedAmountRD: {
                                    label: "Requested Amount",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        pattern: 'AMOUNT',
                                        minLen: 1,
                                        maxLen: 10
                                    }
                                }
                            },
                            values: {
                                "RequestedAmountRD": "0"
                            }
                        }
                    }
                },
                init: function () {

                },
                _verifyForm: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var drawdownProcessor = window.config.services.drawdownProcessor;
                    var params = this.$.url.getParams();
                    if (form.validate()) {
                        var rAmount = self.requestedAmountObj.values.RequestedAmountRD;
                        var payloadDR = {
                            DrawDownDate: self.formatDate(new Date()),
                            RequestedAmount: self.requestedAmountObj.values.RequestedAmountRD,
                            NeedByDate: self.formatDate(new Date()),
                            LocNumber: params.app
                        };
                        self.$.http.post("", payloadDR, drawdownProcessor).then(function (data) {
                            var strMessage = "Your request for draw is accepted.";
                            self.$.message.showMessage(strMessage, "SUCCESS", self.$.MessageContainer);
                            window.location.hash = "/app-details/entity:drawdown/filter:Drawdown/app:" + self.applicationNumber + "/product:" + data.productId + "/workflow:DrawDownFlow/drawdownId:" + data.drawDown.entityId;
                            self.raiseAppRefreshEvent(event);
                        }).fail(function (e) {
                            var strMessage = e.responseText;
                            self.$.message.showMessage(strMessage, "ERROR", self.$.MessageContainer);
                        });
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        EventData: event
                    });
                },
                formatDate: function (date) {
                    return moment.tz(date, window.config.timezone).format("YYYY-MM-DD");
                }
            });
        });
    </script>
</dom-module>