<dom-module id="app-offers-grid">
    <template>
        <style>
            .table>tbody>tr>th,
            .table>tbody>tr>td {
                vertical-align: middle;
                border-bottom: 1px solid #e7eaec;
            }

            .no-document {
                min-height: 20px;
                padding: 19px;
                background-color: #f5f5f5;
                border-radius: 4px;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
                border: 1px solid #e3e3e3;
            }

            .div-button {
                text-align: center;
                display: block
            }

            .custom-input {
                --paper-slider-input: {
                    width: 70px;
                }
                --paper-input: {
                    min-width: 50px;
                }
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .custom-input-amount {
                --paper-slider-input: {
                    width: 73px;
                }
                --paper-input-container-input: {
                    font-size: 11px;
                    min-width: 50px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }
        </style>
        <div class="panel-body">
            <template is="dom-if" if="{{!_showAddDealButton(statusObj)}}">
                <div class="row no-document" id="noOffer">
                    <div class="col-lg-12">
                        No Offer available.
                    </div>
                </div>
            </template>
            <div id="withOffer" style="display: none">
                <div id="SelectedDealSection">
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <template is="dom-if" if="{{showData(offersData)}}">
                                <table class="table">
                                    <tr>
                                        <th>Funder</th>
                                        <td>{{Funder}}</td>
                                        <th>Payment Frequency</th>
                                        <td>{{PaymentFrequency}}</td>
                                    </tr>
                                    <tr>
                                        <th>Product</th>
                                        <td>{{Product}}</td>
                                        <th>Program</th>
                                        <td>{{Program}}</td>
                                    </tr>
                                    <tr>
                                        <th>Payment</th>
                                        <td>{{_formatMoney(Payment)}}</td>
                                        <th>Approved Amount</th>
                                        <td>{{_formatMoney(ApprovedAmount)}}</td>
                                    </tr>
                                    <tr>
                                        <th>Factor</th>
                                        <td>{{Factor}}</td>
                                        <th>Term</th>
                                        <td>{{offerTerm}}</td>
                                    </tr>
                                    <tr>
                                        <th>Processing Fees</th>
                                        <td>{{_formatMoney(ProcessingFees)}}</td>
                                        <th>PSF Percentage</th>
                                        <td>{{PSF}}%</td>
                                    </tr>
                                    <tr>
                                        <th>Submitted Date</th>
                                        <td>{{date(submiteddate)}}</td>
                                        <th>Approved Date/Time</th>
                                        <td>{{formatDate(Approveddatetime)}}</td>
                                    </tr>
                                    <tr>
                                        <th>Comp Percentage</th>
                                        <td>{{Comp}}%</td>
                                        <th>Max Gross Percentage</th>
                                        <td>{{MaxGross}}%</td>
                                    </tr>
                                    <tr>
                                        <th>Comments</th>
                                        <td>{{comments}}</td>
                                    </tr>
                                </table>
                            </template>
                        </div>
                    </div>
                </div>
                <br>
                <paper-button id="btnEditoffer" class="btn btn-primary activity-action-btn" on-click="_editOffer" raised>Edit Offer</paper-button>
            </div>
            <template is="dom-if" if="{{_showAddDealButton(statusObj)}}">
                <div class="row" id="addOffer">
                    <div class="col-md-12">
                        <div id="MessageContainer"></div>
                        <form is="iron-form" class="form-horizontal" name="AddManualOffer">
                            <dynamic-form form-configuration={{addOfferObj}} values="{{addOfferObj.values}}"></dynamic-form>
                            <br>
                            <br>
                            <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                            <paper-button id="btnCancel" class="btn btn-primary activity-action-btn" style="display: none" on-click="_displayoffer" raised>Cancel</paper-button>
                        </form>
                    </div>
                </div>
            </template>
        </div>
        <http-request id="http"></http-request>
        <alloy-config id="config"></alloy-config>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "app-offers-grid",
                properties: {
                    funderName: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    addOfferObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                funder: {
                                    label: "Funder",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        autovalidate: true,
                                        readonly: true,
                                        required: true
                                    }
                                },
                                durationType: {
                                    label: "Payment Frequency",
                                    type: "combobox",
                                    class: "threeColumn",
                                    selectList: [
                                        { "key": "Daily", "value": "Daily" },
                                        { "key": "Weekly", "value": "Weekly" }
                                    ],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                product: {
                                    label: "Product",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        autovalidate: true,
                                        required: true
                                    }
                                },
                                program: {
                                    label: "Program",
                                    type: "combobox",
                                    class: "threeColumn",
                                    selectList: [
                                        { "key": "Premium", "value": "Premium" },
                                        { "key": "Low", "value": "Low" },
                                        { "key": "Standard", "value": "Standard" },
                                        { "key": "High", "value": "High" }
                                    ],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                sellRate: {
                                    label: "Factor",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        autovalidate: true,
                                        required: true,
                                        pattern: 'DECIMAL'
                                    }
                                },
                                term: {
                                    label: "Terms",
                                    type: "combobox",
                                    class: "threeColumn",
                                    selectList: [
                                        { "key": "6", "value": "6 Months" }
                                    ],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                paymentAmount: {
                                    label: "Payment",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        autovalidate: true,
                                        required: true,
                                        pattern: 'DECIMAL'
                                    }
                                },
                                loanAmount: {
                                    label: "Approved Amount",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        autovalidate: true,
                                        required: true,
                                        pattern: 'DECIMAL'
                                    }
                                },
                                submiteddate: {
                                    label: "Submitted Date",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        autovalidate: true,
                                        required: true
                                    }
                                },
                                approveddatetime: {
                                    label: "Approved Date Time",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        autovalidate: true,
                                        required: true
                                    }
                                },
                                originatingFeeAmount: {
                                    label: "PSF Percentage",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        autovalidate: true,
                                        required: true,
                                        pattern: 'DECIMAL'
                                    }
                                },
                                processingFees: {
                                    label: "Processing Fees",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        autovalidate: true,
                                        required: true,
                                        pattern: 'DECIMAL'
                                    }
                                },
                                comp: {
                                    label: "Comp Percentage",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        autovalidate: true,
                                        required: true,
                                        pattern: 'DECIMAL'
                                    }
                                },
                                maxGross: {
                                    label: "MaxGross Percentage",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        autovalidate: true,
                                        required: true,
                                        pattern: 'DECIMAL'
                                    }
                                },
                                comments: {
                                    label: "Comments",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        autovalidate: true,
                                        required: true
                                    }
                                }
                            },
                            values: {
                                durationType: '',
                                loanAmount: '',
                                sellRate: '',
                                term: '',
                                paymentAmount: '',
                                originatingFeeAmount: '',
                                product: "",
                                program: "",
                                funder: "",
                                comments: "",
                                processingFees: "",
                                comp: "",
                                maxGross: "",
                                submiteddate: "",
                                approveddatetime: ""
                            }
                        },
                        reflectToAttribute: true
                    },
                    computedOffers: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    offersData: {
                        type: Object,
                        notify: true
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true,
                    },
                    fireEvent: {
                        type: Object,
                        notify: true,
                        value: {
                            "AppDetailsPageRefresh": true
                        }
                    },
                    comments: {
                        type: String,
                        notify: true,
                        value: ''
                    },
                    Funder: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    Product: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    Program: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    PaymentFrequency: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    Payment: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    offerTerm: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    Factor: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    ApprovedAmount: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    ProcessingFees: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    submiteddate: {
                        type: String,
                        notify: true
                    },
                    Approveddatetime: {
                        type: String,
                        notify: true
                    },
                    MaxGross: {
                        type: String,
                        notify: true
                    },
                    Comp: {
                        type: String,
                        notify: true
                    },
                    statusObj: {
                        type: Object,
                        notify: true
                    }
                },
                _editOffer: function () {
                    this._loadOffers(true);
                },
                _loadOffers: function (allowEditOffer) {
                    var self = this;
                    var offerEndPoint = window.config.services.offerengine;
                    var url = "/application/" + self.applicationNumber + "/offerengine/getapplicationoffers";
                    self.$.http.get(url, offerEndPoint).then(function (data) {
                        if (data !== undefined && data !== null && !_.isEmpty(data.dealOffer) && !_.isNull(data.dealOffer) && !_.isUndefined(data.dealOffer)) {
                            self.set('computedOffers', data.dealOffer);
                            self.Payment = data.dealOffer.paymentAmount;
                            self.PaymentFrequency = data.dealOffer.durationType;
                            self.Funder = data.funder;
                            self.ApprovedAmount = data.dealOffer.loanAmount;
                            self.Factor = data.dealOffer.sellRate;
                            self.PSF = data.dealOffer.originatingFeeAmount;
                            self.ProcessingFees = data.dealOffer.processingFees;
                            self.comments = data.dealOffer.comments;
                            self.Product = data.productId;
                            self.Program = data.dealOffer.program;
                            self.submiteddate = data.dealOffer.createdOn.time;
                            self.offerTerm = data.dealOffer.term + ' Months';
                            self.Comp = data.dealOffer.comp;
                            self.MaxGross = data.dealOffer.maxGross;
                            self.Approveddatetime = data.dealOffer.createdOn.time;
                            if (!allowEditOffer) {
                                self._hasDeal(data.dealOffer);
                                self._showControl(data.dealOffer);
                            } else {
                                var offerObjClone = _.cloneDeep(self.addOfferObj);
                                offerObjClone.values = _.assign({}, offerObjClone.values, data.dealOffer);
                                offerObjClone.values.term = offerObjClone.values.term.toString();
                                offerObjClone.values.durationType = offerObjClone.values.durationType.toString();
                                offerObjClone.values.program = offerObjClone.values.program.toString();
                                self.set("addOfferObj", offerObjClone);
                                $('#withOffer').hide();
                                $('#addOffer').show();
                                $('#btnCancel').show();

                            }
                            self.set("offersData", data);
                        }
                    }).fail(function (e) {
                        self._hasDeal(self.computedOffers);
                        console.error("load offers error is ", e);
                    });
                },
                raiseAppRefreshEvent: function () {
                    this.$.utility.raiseEvent(this.fireEvent, {});
                },
                _formatMoney: function (amount) {
                    return formats.money(amount, window.config.country, 0);
                },
                init: function () {
                    var self = this;
                    var funder = self.$.config.getConfigurationBasedOnKey("funderName");
                    self.set("funderName", funder);
                    this._loadOffers(false);
                    this._loadDataAttributes();
                    var addofferObjClone = _.cloneDeep(self.addOfferObj);
                    addofferObjClone.values.funder = self.funderName;
                    self.set("addOfferObj", addofferObjClone);
                },
                _loadDataAttributes: function () {
                    var self = this;
                    var addofferObjClone = _.cloneDeep(self.addOfferObj);
                    if (self.dataAttributes) {
                        var currentDate = moment.tz(window.config.timezone).format("MM/DD/YYYY");
                        addofferObjClone.values.approveddatetime = currentDate;
                        addofferObjClone.values.submiteddate = currentDate;
                        addofferObjClone.values.product = self.dataAttributes.product.ProductId;
                        self.set("addOfferObj", addofferObjClone);
                    }
                },
                _showAddDealButton: function () {
                    var self = this;
                    var statusObj = _.cloneDeep(self.statusObj);
                    var offersConfig = self.$.config.getConfigurationBasedOnKey("offers-config");
                    var addDealbuttonConfig = offersConfig["addDealButton"];
                    if (!_.isNull(addDealbuttonConfig) && !_.isNull(addDealbuttonConfig.statusCode)) {
                        if (statusObj && _.indexOf(addDealbuttonConfig.statusCode, statusObj.code) > -1) {
                            return true;
                        }
                        else {
                            return false;
                        }
                    }
                },
                _verifyForm: function (event) {
                    var self = this;
                    $('div#ErrorMessge').hide();
                    event.preventDefault();
                    var self = this;
                    var addOfferObj = _.cloneDeep(self.addOfferObj.values);
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var payload = {
                        entityType: "application",
                        entityId: self.applicationNumber,
                        dealOffers: []
                    };
                    if (form.validate()) {
                        addOfferObj = _.omit(addOfferObj, ['product', 'submiteddate', 'approveddatetime']);
                        payload.dealOffers.push(addOfferObj);
                        var offerEngine = window.config.services.offerengine;
                        var url = "/application/" + self.applicationNumber + "/offerengine" + "/deal";
                        self.$.http.post(url, payload, offerEngine).then(function (data) {
                            self.$.message.showMessage("Operation completed successfully.", "INFO", self.$.MessageContainer);
                            self._hasDeal(addOfferObj);
                            self._refreshOfferData();
                        }).fail(function (e) {
                            self.$.message.showMessage("Failed to add offer", "ERROR", self.$.MessageContainer);
                        });
                    }
                },
                _refreshOfferData: function () {
                    var self = this;
                    setTimeout(function () {
                        self._loadOffers(false);
                    }, 500);

                },
                _displayoffer: function (event) {
                    $('#withOffer').show();
                    $('#noOffer').hide();
                    $('#addOffer').hide();
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: 'AppOffersGrid',
                        EventData: event,
                        CompnentName: 'app-offers-grid'
                    });
                },
                _loadStatusHistory: function () {
                    var self = this;
                    var url = "/status-management/application/" + self.applicationNumber + "/history";
                    self.$.http.get(url, "").then(function (historyList) {
                        if (statusObj && statusObj.code) {
                            var historydata = _.filter(historyList, { status: statusObj.code });
                            self.Approveddatetime = historydata[0].activedOn.time;
                        }
                    }).fail(function (e) {
                        console.error("not able to load status history.", e);
                    });
                },
                _hasDeal: function (computedOffers) {
                    if (!_.isUndefined(computedOffers)) {
                        $('#withOffer').show();
                        $('#noOffer').hide();
                        $('#addOffer').hide();
                    }
                    else {
                        $('#withOffer').hide();
                    }
                },
                _showControl: function (dealOffer) {
                    if (_.isNull(dealOffer)) {
                        $('#addOffer').show();
                    }
                    else if (!_.isNull(dealOffer)) {
                        $('#addOffer').hide();
                        $('#withOffer').show();
                        this._editButtonVisibility();
                    }
                },
                _editButtonVisibility: function () {
                    var self = this;
                    var statusObj = _.cloneDeep(self.statusObj);
                    var offersConfig = self.$.config.getConfigurationBasedOnKey("offers-config");
                    var editDealbuttonConfig = offersConfig["editDealButton"];
                    if (!_.isNull(editDealbuttonConfig) && !_.isNull(editDealbuttonConfig.statusCode)) {
                        if (statusObj && _.indexOf(editDealbuttonConfig.statusCode, statusObj.code) > -1) {
                            $('#btnEditoffer').show();
                        }
                        else {
                            $('#btnEditoffer').hide();
                        }
                    }
                },
                formatDate: function (date) {
                    if (date !== undefined) {
                        return moment.tz(date, window.config.timezone).format("MM/DD/YYYY LT z");
                    }
                    return "";
                },
                date: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.date(date, window.config.country, false);
                    }
                    return "Not available";
                },
                showData: function (obj) {
                    return (obj !== undefined && obj !== null && obj !== "") ? true : false;
                }

            });
        });
    </script>
</dom-module>