<dom-module id="add-users">
    <template>
        <style>
            #ErrorMessge {
                color: #ff0000;
            }
        </style>
        <div id="ErrorMessge" style="display: none;">
            <p></p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="cashflowForm">
                    <dynamic-form form-configuration={{addUserObj}} values="{{addUserObj.values}}"></dynamic-form>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <iron-label class="no-role-selected" for="papercheckboxGroup" hidden$="{{!noRoleSelected}}">
                                Please select at least one Role.
                            </iron-label>
                            <checkbox-group id="papercheckboxGroup" checkboxes="{{TopLevelRoles}}" selected-items="{{SelectedChildRoles}}"></checkbox-group>
                            <br />
                        </div>
                    </div>
                    <br />
                    <paper-button class="btn btn-primary activity-action-btn" on-click="addUser" raised>Submit</paper-button>
                    <paper-button id="formResetButton" class="btn btn-primary activity-action-btn" style="display: none;" on-click="resetForm"
                        raised>Reset</paper-button>
                </form>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <session-manager id="session"></session-manager>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "add-users",
                properties: {
                    userId: {
                        type: String,
                        notify: true
                    },
                    modalUser: {
                        type: Object,
                        notify: true,
                        observer: "UpdateModel"
                    },
                    SelectedTopRole: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    noRoleSelected: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    addUserObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                UserName: {
                                    label: "User Name",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                Password: {
                                    label: "Password",
                                    type: "password",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                Email: {
                                    label: "Email",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                FirstName: {
                                    label: "First Name",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                LastName: {
                                    label: "Last Name",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                }
                            },
                            values: {
                                UserName: "",
                                Password: "",
                                Email: "",
                                FirstName: "",
                                LastName: ""
                            }
                        }
                    }
                },
                UpdateModel: function (obj) {
                    var self = this;
                    var ObjUSer = obj
                    if (ObjUSer.id != "") {
                        var addUserObj = self.addUserObj;
                        addUserObj.controls.UserName.validations.readonly = true;
                        addUserObj.controls.Password.validations.required = false;
                        addUserObj.controls.LastName.validations.required = false;
                        addUserObj.values["UserName"] = ObjUSer.username;
                        addUserObj.values["Password"] = "";
                        addUserObj.values["Email"] = ObjUSer.email;
                        addUserObj.values["FirstName"] = ObjUSer.name;
                        addUserObj.values["LastName"] = "";
                        self.SelectedChildRoles = ObjUSer.roles;
                        self.userId = ObjUSer.id;
                        $("paper-input[id*='Password']").hide();
                        $("paper-input[id*='LastName']").hide()
                        self.set('addUserObj', $.extend({}, addUserObj));
                    }
                    else {
                        var addUserObj = self.addUserObj;
                        addUserObj.controls.UserName.validations.readonly = false;
                        addUserObj.controls.Password.validations.required = true;
                        addUserObj.controls.LastName.validations.required = true;
                        addUserObj.values["UserName"] = "";
                        addUserObj.values["Password"] = "";
                        addUserObj.values["Email"] = "";
                        addUserObj.values["FirstName"] = "";
                        addUserObj.values["LastName"] = "";
                        $("paper-input[id*='Password']").show();
                        $("paper-input[id*='LastName']").show()
                        self.set('addUserObj', $.extend({}, addUserObj));
                    }
                },
                raiseAppRefreshEvent: function () {
                    if (this.fireEvent === undefined) {
                        this.fireEvent = "PartnerDetailsPageRefresh";
                    }
                    this.$.utility.raiseEvent(this.fireEvent, {});
                },
                addUser: function (event) {
                    event.preventDefault();
                    var self = this;
                    var addUserObj = self.addUserObj;
                    var params = self.$.url.getParams();
                    var url = "/" + params.partner + "/adduser";
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var checkboxGrp = document.querySelector('checkbox-group');
                    var partnerHost = window.config.services.partner;
                    if (form.validate()) {
                        if (self.SelectedChildRoles.length > 0) {
                            addUserObj.values.Roles = self.SelectedChildRoles;
                            if (self.userId === "" || self.userId === undefined) {
                                self.$.http.post(url, addUserObj.values, partnerHost).then(function (data) {
                                    console.debug("User added successfully");
                                    self.resetValues();
                                    $('#formResetButton').click();
                                    self.raiseAppRefreshEvent();
                                    self._updateHash();
                                }).fail(function (e) {
                                    var msg = JSON.parse(e.responseText);
                                    $('div#ErrorMessge p').html(msg["message"]);
                                    $('div#ErrorMessge').show();
                                    setTimeout(function () {
                                        $('div#ErrorMessge').hide();
                                    }, 2000);
                                });
                            }
                            else {
                                var payload = {
                                    id: self.userId,
                                    name: addUserObj.values.FirstName,
                                    email: addUserObj.values.Email,
                                    username: addUserObj.values.UserName,
                                    roles: self.SelectedChildRoles
                                };
                                self.$.http.put("/update/", payload, "").then(function (result) {
                                    $('#formResetButton').click();
                                    self._updateHash();
                                }).fail(function (e) {
                                    console.error("loadConfig error is ", e);
                                });
                            }
                        }
                        else {
                            self.noRoleSelected = true;
                        }
                    }
                },
                _updateHash: function () {
                    var randomVal = Math.floor(Math.random() * (10000 - 1 + 1)) + 1;
                    var hashStr = window.location.hash;
                    if (hashStr.includes("refresh:")) {
                        var newHash = hashStr.replace(/refresh:\d+/i, "refresh:" + randomVal);
                        window.location.hash = newHash;
                    } else {
                        window.location.hash = hashStr + "/refresh:" + randomVal;
                    }
                },
                init: function () {
                    self._getAllRoles();
                },
                _getAllRoles: function () {
                    var self = this;
                    var url = "/roles/BrokerPortal/children";
                    self.$.http.get(url, "").then(function (data) {
                        self.set('TopLevelRoles', data);
                        self.noRoleSelected = true;
                    }).fail(function (e) {
                        console.error("load config error is ", e);
                    });
                },
                resetValues: function () {
                    var self = this;
                    var addUserObj = _.cloneDeep(self.get('addUserObj'));
                    addUserObj.values.UserName = "";
                    addUserObj.values.Password = "";
                    addUserObj.values.Email = "";
                    addUserObj.values.FirstName = "";
                    addUserObj.values.LastName = "";
                    self.set('addUserObj', addUserObj);
                },
                resetForm: function (event) {
                    var form = Polymer.dom(event).localTarget.parentElement;
                    form.reset();
                }
            });
        });
    </script>
</dom-module>