<dom-module id="approve-and-reject">
    <template>
        <div id="ErrorMessge" style="display: none;">
            <p></p>
        </div>
        <div class="slide-action">
            <button id="approvePartner" on-click="approve" class="btn btn-primary activity-action-btn">Approve Partner</button>
            <button id="rejectPartner" on-click="reject" class="btn btn-primary activity-action-btn">Reject Partner</button>
        </div>
        <url-parser id="urlaar"></url-parser>
        <http-request id="httpaar"></http-request>
        <utility-service id="utilityaar"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "approve-and-reject",
                properties: {
                },
                init: function () {

                },
                approve: function () {
                    this.makeChangeStatusRequest("M.02");
                },
                reject: function () {
                    this.makeChangeStatusRequest("M.03");
                },
                makeChangeStatusRequest: function (statusCode) {
                    var self = this;
                    var params = self.$.urlaar.getParams();
                    var url = "/" + params.partner + "/status/" + statusCode;
                    var partnersHost = window.config.services.partner;
                    self.$.httpaar.put(url, {}, partnersHost).then(function (data) {
                        console.info("partner status changed successfully");
                        var filter = (statusCode === "M.02") ? "ApprovedBrokers" : "RejectedBrokers";
                        self.raiseAppRefreshEvent(filter);
                    });
                },
                raiseAppRefreshEvent: function (filter) {
                    this.$.utilityaar.raiseEvent(this.fireEvent, { filter });
                }
            });
        });
    </script>
</dom-module>