<dom-module id="application-search">
    <template>
        <style>
            .tablecontainer {
                margin: 40px auto 0;
            }

            .row {
                margin: 0 auto !important;
            }

            .header-right {
                position: absolute;
                right: 20px;
            }

            .footer-right {
                float: right;
            }

            div#queue_wrapper {
                text-align: center;
            }
        </style>
        <div class="row">
            <breadcrumb-links></breadcrumb-links>
        </div>
        <div class="row">
            <form is="iron-form" class="form-horizontal" name="searchForm">
                <dynamic-form form-configuration={{searchObj}} values="{{searchObj.values}}"></dynamic-form>
                <br/>
                <button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Search</button>
            </form>
        </div>
        <div class="row tablecontainer" id="tableContainer">
            <table id="searchData" class="table table-striped" width="100%" cellspacing="0"></table>
        </div>
        <url-parser id="urlsapp"></url-parser>
        <http-request id="httpsapp"></http-request>
        <lookup-service id="lookup"></lookup-service>
        <alloy-config id="configsapp"></alloy-config>
        <session-manager id="sessionsapp"></session-manager>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "application-search",
                properties: {
                    tableObj: {
                        type: Object,
                        notify: false
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    },
                    configAppliedOn: {
                        type: Object,
                        value: []
                    },
                    configExpiryOn: {
                        type: Object,
                        value: []
                    },
                    searchReqObj: {
                        type: Object,
                        notify: true,
                        value: {
                            searchFilterView: [],
                            inTagsSearch: [],
                            notInTagsSearch: [],
                            operator: "and",
                            projections: "",
                            sorts: ""
                        }
                    },
                    sourceType: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    searchObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                ProductId: {
                                    label: "Product Id",
                                    type: "combobox",
                                    class: "twoColumn",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                ApplicationNumber: {
                                    label: "Application Number",
                                    type: "textbox",
                                    class: "twoColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                    }
                                },
                                BusinessPhone: {
                                    label: "Business Phone Number",
                                    type: "textbox",
                                    class: "twoColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 14
                                    }
                                },
                                ContactFirstName: {
                                    label: "First Name",
                                    type: "textbox",
                                    class: "twoColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 40
                                    }
                                },
                                ContactLastName: {
                                    label: "Last Name",
                                    type: "textbox",
                                    class: "twoColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 80
                                    }
                                },
                                BusinessEmail: {
                                    label: "Business Email",
                                    type: "textbox",
                                    class: "twoColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        pattern: 'EMAIL',
                                        minLen: 0,
                                        maxLen: 80
                                    }
                                },
                                LegalBusinessName: {
                                    label: "Legal Business Name",
                                    type: "textbox",
                                    class: "twoColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 255
                                    }
                                },
                                StatusCode: {
                                    label: "Status",
                                    type: "combobox",
                                    class: "twoColumn",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: false
                                    }
                                },
                                AppliedOnDuration: {
                                    label: "Application Date",
                                    type: "combobox",
                                    class: "twoColumn",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: false
                                    }
                                },
                                ExpiryOnDuration: {
                                    label: "Expiry Date",
                                    type: "combobox",
                                    class: "twoColumn",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: false
                                    }
                                }
                            },
                            values: {
                                ProductId: "",
                                ApplicationNumber: "",
                                BusinessPhone: "",
                                ContactFirstName: "",
                                ContactLastName: "",
                                BusinessEmail: "",
                                LegalBusinessName: "",
                                StatusCode: "",
                                AppliedOnDuration: "",
                                ExpiryOnDuration: ""
                            }
                        }
                    }
                },
                formatDate: function (date) {
                    if (date !== undefined) {
                        return moment.tz(date, window.config.timezone).format("MM/DD/YYYY");
                    }
                    return "";
                },
                formateSourceType: function (propType) {
                    var self = this;

                    var obj = _.find(self.sourceType, ['key', propType]);
                    if (!_.isUndefined(obj)) {
                        return obj.value || "NA";
                    }
                    return "NA";
                },
                _showResult: function (searchFilterView) {
                    var self = this;
                    var table = self.tableObj;
                    var searchReqObj = self.searchReqObj;
                    var savedFilters = window.config.services.savedFilters;
                    if (table !== null && table !== undefined) {
                        table.clear();
                        table.destroy(true);
                        $('#tableContainer').append($('<table/>').attr('id', 'searchData').css('width', '100%').addClass('table table-striped'));
                    }
                    self.tableObj = $(this.$$('#searchData')).DataTable({
                        serverSide: true,
                        ajax: function (data, success) {
                            var page = data.start / 10;
                            page = page + 1;
                            var draw = data.draw;
                            var sortObj = _.transform(data.order, function (result, item) {
                                var columnObj = data.columns[item.column];
                                result[columnObj.data] = item.dir === "desc" ? -1 : 1;
                            }, {});
                            searchReqObj.searchFilterView = searchFilterView;
                            searchReqObj.sorts = sortObj;
                            $.ajax({
                                url: savedFilters + '/' + self.currentEntityName + '/search-applications/?pageSize=10&page=' + page,
                                type: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify(searchReqObj),
                                headers: {
                                    'Authorization': "Bearer " + self.$.sessionsapp.get('token')
                                },
                                complete: function (data) {
                                    var gridData = {
                                        "draw": draw,
                                        "recordsTotal": parseInt(data.getResponseHeader('X-TOTAL-COUNT')),
                                        "recordsFiltered": parseInt(data.getResponseHeader('X-TOTAL-COUNT')),
                                        "data": data.responseJSON
                                    }
                                    success(gridData);
                                }
                            });
                        },
                        dom: "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                        order: [[0, "desc"]],
                        columnDefs: [{
                            "width": "10%",
                            "targets": 0
                        },
                        {
                            "width": "10%",
                            "targets": 1
                        },
                        {
                            "width": "15%",
                            "targets": 2
                        },
                        {
                            "width": "10%",
                            "targets": 3
                        },
                        {
                            "width": "10%",
                            "targets": 4
                        },
                        {
                            "width": "10%",
                            "targets": 5
                        },
                        {
                            "width": "10%",
                            "targets": 6
                        },
                        {
                            "width": "5%",
                            "targets": 7,
                            "sortable": false
                        },
                        {
                            "width": "5%",
                            "targets": 8,
                            "sortable": false
                        }
                        ],
                        columns: [
                            {
                                "data": "ApplicationNumber",
                                "title": "App. #",
                                "tooltip": "Application Number"
                            },
                            {
                                "data": "Submitted.Time.DateTime",
                                "title": "App. Date",
                                "render": function (data) {
                                    return "<span>" + self.formatDate(data) + "</span>"
                                },
                                "tooltip": "Application Submitted Date"
                            },
                            {
                                "data": "LegalBusinessName",
                                "title": "Business Name",
                                "tooltip": "Legal Business Name"
                            },
                            {
                                "data": "BusinessPhone",
                                "title": "Phone",
                                "render": function (data, type, full, meta) { return formats.phone(data, window.config.country); },
                                "tooltip": "Business Phone"
                            },
                            {
                                "data": "RequestedAmount",
                                "title": "Req Loan <br> Amount",
                                "render": function (data, type, full, meta) {
                                    return self.currencyFormat(data);
                                },
                                "tooltip": "Requested Loan Amount"
                            },
                            {
                                "data": "ExpiryDate.Time.DateTime",
                                "title": "Expiry Date",
                                "render": function (data) {
                                    return "<span>" + self.formatDate(data) + "</span>"
                                },
                                "tooltip": "Application Expiry Date"
                            },
                            {
                                "data": "StatusName",
                                "title": "Status",
                                "tooltip": "Application Status"
                            },
                            {
                                "data": "SourceType",
                                "title": "Lead Source",
                                "render": function (data) {
                                    return "<span>" + self.formateSourceType(data) + "</span>"
                                },
                                "tooltip": "Lead Source"
                            },
                            {
                                "data": "",
                                "isFunction": true,
                                "render": eval("(function(data,type,full,meta) { return \"<button class='btn btn-primary btn-xs' model$='{{item}}' on-click='openLoanView'>View Details</button>\"})"),
                                "sorting": false
                            }
                        ],
                        language: {
                            lengthMenu: "show_MENU_ applications",
                            zeroRecords: "No applications found.",
                            info: "Showing _START_ to _END_ of _TOTAL_ Applications",
                            infoEmpty: "No applications available",
                            infoFiltered: "(filtered from _MAX_ total Applications)"
                        }
                    });

                    $('#searchData tbody').on('click', 'button', function () {
                        var data = self.tableObj.row($(this).parents('tr')).data();
                        self.openLoanView(data);
                    });

                    //Grid header tooltip
                    var configData = self.tableObj.settings().aoColumns;
                    $('#searchData thead tr')[0].childNodes.forEach(function (obj) {
                        var tooltipObj = _.filter(configData, { title: obj.innerText });
                        if (!_.isUndefined(tooltipObj) && !_.isNull(tooltipObj) && !_.isEmpty(tooltipObj)) {
                            var tooltip = tooltipObj[0].tooltip;
                            if (tooltip !== "" && tooltip !== undefined) {
                                $(obj).attr('title', tooltip);
                            }
                        }
                    });
                },
                openLoanView: function (item) {
                    var self = this;
                    var params = self.$.urlsapp.getParams();
                    var url = "/app-details/entity:" + self.currentEntityName + "/filter:" + params.filter;
                    self.set("statusName", item.StatusName);
                    if (item.hasOwnProperty('ApplicationNumber')) {
                        self.set("applicationNumber", item.ApplicationNumber);
                    } else {
                        self.set("applicationNumber", item.LocNumber);
                        self.set("drawdownId", item.DrawDownId);
                    }
                    self.set("applicantId", item.ApplicantId);
                    self.set("productId", item.ProductId);
                    self.set("statusWorkFlowId", item.StatusWorkFlowId);
                    if (item.StatusCode === "200.10") {
                        url = "/application/app:" + self.applicationNumber;
                    }
                    else if (self.applicantId !== null && self.applicantId !== undefined) {
                        url = url + "/app:" + self.applicationNumber + "/applicantId:" + self.applicantId + "/product:" + self.productId + "/workflow:" + self.statusWorkFlowId;
                    }
                    else {
                        url = url + "/app:" + self.applicationNumber + "/product:" + self.productId + "/workflow:" + self.statusWorkFlowId;
                    }
                    if (self.drawdownId !== "" && self.drawdownId !== undefined) {
                        url = url + "/drawdownId:" + self.drawdownId;
                    }
                    window.location.hash = url;
                },
                currencyFormat: function (value) {
                    return formats.moneyWithoutFraction(value, window.config.country, 0);
                },
                _verifyForm: function (event) {
                    event.preventDefault();
                    var self = this;
                    var inputObj = _.cloneDeep(self.searchObj.values);
                    var currentDate = moment.tz(window.config.timezone);
                    var exludeAppConfig = self.$.configsapp.getConfigurationBasedOnKey("excludeApp");
                    var form = Polymer.dom(event).localTarget.parentElement;
                    if (form.validate()) {
                        if (inputObj.AppliedOnDuration > 0) {
                            var lastDate = currentDate.clone().subtract(inputObj.AppliedOnDuration, 'days');
                            inputObj['ApplicationDate.Time.DateTime'] = { '$gte': lastDate.toJSON(), '$lt': currentDate.toJSON() };
                            delete inputObj.AppliedOnDuration;
                        }
                        if (inputObj.ExpiryOnDuration > 0) {
                            var nextDate = currentDate.clone().add(inputObj.ExpiryOnDuration, 'days');
                            inputObj['ExpiryDate.Time.DateTime'] = { '$gte': currentDate.toJSON(), '$lt': nextDate.toJSON() };
                            delete inputObj.ExpiryOnDuration;
                        }
                        if (inputObj['StatusCode']) {
                            inputObj['StatusCode'] = { "$regex": inputObj['StatusCode'], "$options": "i" };
                        }
                        else if (exludeAppConfig && exludeAppConfig.hasOwnProperty('Status') && exludeAppConfig.Status) {
                            var statusListToExclude = _.transform(exludeAppConfig.Status, function (result, value) {
                                result.push(value.code);
                            }, []);
                            inputObj['StatusCode'] = { "$nin": statusListToExclude };
                        }
                        var excludeKeyList = ['ApplicationDate.Time.DateTime', 'ExpiryDate.Time.DateTime', 'StatusCode'];
                        var searchFilterView = _.transform(inputObj, function (result, value, key) {
                            if (value) {
                                var tempObj = {};
                                if (excludeKeyList.indexOf(key) === -1) {
                                    tempObj[key] = { "$regex": value, "$options": "i" };
                                } else {
                                    tempObj[key] = value;
                                }
                                result.push(tempObj);
                            }
                        }, []);
                        self._showResult(searchFilterView);
                    }
                },
                _loadApplicationDateList: function () {
                    var self = this;
                    var StatusObj = self.$.configsapp.getConfigurationBasedOnKey("appliedOnOptions");
                    if (StatusObj) {
                        var optionList = _.transform(StatusObj, function (result, item) {
                            result.push({ key: item.duration, value: item.text });
                        }, []);
                        var searchObj = _.cloneDeep(self.get('searchObj'));
                        searchObj.controls.AppliedOnDuration.selectList = optionList;
                        self.set('searchObj', searchObj);
                    }
                },
                _loadExpiryDateList: function () {
                    var self = this;
                    var StatusObj = self.$.configsapp.getConfigurationBasedOnKey("expiryOnOptions");
                    if (StatusObj) {
                        var optionList = _.transform(StatusObj, function (result, item) {
                            result.push({ key: item.duration, value: item.text });
                        }, []);
                        var searchObj = _.cloneDeep(self.get('searchObj'));
                        searchObj.controls.ExpiryOnDuration.selectList = optionList;
                        self.set('searchObj', searchObj);
                    }
                },
                _loadStatusList: function () {
                    var self = this;
                    var result = self.$.sessionsapp.getObject('status-workflows');
                    var exludeAppConfig = self.$.configsapp.getConfigurationBasedOnKey("excludeApp");
                    var StatusObj = _.find(result, ['Name', 'ApplicationApprovalFlow']);
                    if (StatusObj) {
                        var statusList = StatusObj.statuses;
                        var optionList = _.transform(statusList, function (result, item) {
                            result.push({ key: item.code, value: item.name, searchKey: "StatusCode" });
                        }, []);

                        if (exludeAppConfig && exludeAppConfig.hasOwnProperty('Status') && exludeAppConfig.Status) {
                            optionList = _.differenceBy(optionList, exludeAppConfig.Status, 'key');
                        }

                        var searchObj = self.get('searchObj');
                        searchObj.controls.StatusCode.selectList = optionList;
                        self.set('searchObj', $.extend({}, self.get('searchObj'), searchObj));
                    }
                },
                _getProductList: function () {
                    var self = this;
                    var url = "/all/product";
                    var multiProducts = window.config.services.multiProducts;
                    self.$.httpsapp.get(url, multiProducts).then(function (data) {
                        var ProductList = _.transform(data, function (result, item) {
                            result.push({ key: item.productId, value: item.productId });
                        }, []);
                        var searchObj = self.get('searchObj');
                        searchObj.controls.ProductId.selectList = ProductList;
                        if (ProductList != undefined && ProductList != null && ProductList.length == 1) {
                            searchObj.values.ProductId = ProductList[0].key;
                        }
                        self.set('searchObj', $.extend({}, self.get('searchObj'), searchObj));
                    }).fail(function (e) {
                        console.error("Product List error is ", e);
                    });
                },
                _loadSourceType: function () {
                    var self = this;
                    var data = self.$.lookup.getLookupBasedOnName("sourceType");
                    self.set('sourceType', data);
                },
                ready: function () {
                    var self = this;
                    var urlParams = self.$.urlsapp.getParams();
                    if (urlParams.hasOwnProperty('entity')) {
                        self.set('currentEntityName', urlParams.entity);
                    }
                    self._loadStatusList();
                    self._loadSourceType();
                    self._loadApplicationDateList();
                    self._loadExpiryDateList();
                    self._getProductList();
                }
            });
        });
    </script>
</dom-module>