<dom-module id="update-bank-details">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }
        </style>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="bankAccountForm" autocomplete="off" aria-autocomplete="none">
                    <div class="row">
                        <div class="col-md-12">
                            <vaadin-combo-box class="custom-input" name="BankId" value="{{BankId}}" item-value-path="value" item-label-path="key" items="{{BankIdListList}}"
                                label="Select Account" prevent-invalid-input="true" on-change="getBankData">
                            </vaadin-combo-box>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <paper-input type="text" class="custom-input" auto-validate maxlength="9" minlength="9" value="{{RoutingNumber}}" name="routingNumber"
                                id="routingNumber" label="Routing Number" required on-change="_getBankName"></paper-input>
                        </div>
                    </div>
                    <dynamic-form form-configuration={{addBankObj}} values="{{addBankObj.values}}"></dynamic-form>
                    <br />
                    <div style="margin: 10px auto; text-align: center;">
                        <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                    </div>
                </form>
            </div>
            <div id="MessageContainer"></div>
        </div>
        <http-request id="httpubd"></http-request>
        <utility-service id="utilityubd"></utility-service>
        <message-component id="messageubd"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "update-bank-details",
                properties: {
                    isVerified: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    isActive: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    BankId: {
                        type: String,
                        notify: true
                    },
                    BankIdList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    bankList: {
                        type: Array,
                        notify: true,
                        observer: "processBankDetails"
                    },
                    applicationNumber: {
                        type: String,
                        notify: true
                    },
                    addBankObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                Name: {
                                    label: "Bank Name",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: true,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 10,
                                        maxLen: 100
                                    }
                                },
                                AccountNumber: {
                                    label: "Account Number",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 0,
                                        maxLen: 16
                                    }
                                },
                                BankHolderName: {
                                    label: "Bank Holder Name",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 0,
                                        maxLen: 60
                                    }
                                },
                                AccountType: {
                                    label: "Account Type",
                                    type: "combobox",
                                    selectList: [
                                        { key: 'Checking', value: 'Checking' },
                                        { key: 'Savings', value: 'Savings' }
                                    ],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                IsActive: {
                                    label: "Is Primary",
                                    type: "checkbox",
                                    class: "twoRow",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        autovalidate: false
                                    }
                                }
                            },
                            values: {
                                Name: "",
                                AccountNumber: "",
                                BankHolderName: "",
                                AccountType: "",
                                IsActive: false
                            }
                        }
                    },
                    RoutingNumber: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    loanData: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    SelectedBank: {
                        type: Object,
                        notify: true,
                    }
                },
                _getBankName: function () {
                    var self = this;
                    var addBankObj = _.cloneDeep(self.addBankObj);
                    var url = "bank-name/" + self.RoutingNumber;
                    self.$.httpubd.get(url, "").then(function (result) {
                        if (result.code === 200) {
                            addBankObj.values.Name = result.name;
                            self.set('addBankObj', addBankObj);
                        }
                        else {
                            addBankObj.values.Name = '';
                            self.set('addBankObj', addBankObj);
                            self.$.messageubd.showMessage(result.message, "ERROR", self.$$('#MessageContainer'));
                        }
                    }).fail(function (e) {
                        addBankObj.values.Name = '';
                        self.set('addBankObj', addBankObj);
                        self.$.messageubd.showMessage("Bank name not found", "ERROR", self.$$('#MessageContainer'));
                    });
                },
                init: function () {
                    var self = this;
                },
                processBankDetails: function () {
                    var self = this;
                    if (!_.isUndefined(self.bankList) && !_.isNull(self.bankList) && !_.isEmpty(self.bankList)) {
                        self.fillList();
                    }
                },
                fillList: function () {
                    var self = this;
                    var bnkList = _.transform(self.bankList, function (result, item) {
                        result.push({ key: item.name + "-" + item.accountNumber, value: item.id });
                    }, []);
                    var AddNew = [];
                    AddNew.push({ key: "Add New Bank", value: "Add New Bank" });
                    self.BankIdListList = _.concat(AddNew, bnkList);
                },
                _verifyForm: function (event) {
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement.parentElement;
                    var payload = {};
                    if (form.validate()) {
                        var lmsService = window.config.services.lmsService;
                        if (!_.isNull(self.BankId) && !_.isUndefined(self.BankId) && !_.isEmpty(self.BankId) && self.BankId != "Add New Bank") {
                            var _active = (self.addBankObj.values.IsActive === true) ? true : false;
                            if (self.isVerified === true && self.isActive != _active) {
                                var url = "/bank/" + self.applicationNumber + "/" + self.BankId + "/active";
                                self.$.httpubd.put(url, {}, lmsService, true).then(function (data) {
                                    self.set("isActive", _active);
                                    self.raiseAppRefreshEvent(event);
                                }).fail(function (e) {
                                    var response = e.responseJSON;
                                    if (response) {
                                        self.$.messageubd.showMessage(response.message, "ERROR", self.$$('#MessageContainer'));
                                    }
                                    else {
                                        self.$.messageubd.showMessage("Update bank account error ", "ERROR", self.$$('#MessageContainer'));
                                    }
                                });
                            }
                            else {
                                payload.Name = self.addBankObj.values.Name;
                                payload.AccountNumber = self.addBankObj.values.AccountNumber;
                                payload.BankHolderName = self.addBankObj.values.BankHolderName;
                                payload.AccountType = self.addBankObj.values.AccountType;
                                payload.IsActive = (self.addBankObj.values.IsActive === true) ? true : false;
                                payload.RoutingNumber = self.RoutingNumber;
                                var url = "/bank/" + self.applicationNumber + "/" + self.BankId;
                                self.$.httpubd.put(url, payload, lmsService, true).then(function (data) {
                                    self.raiseAppRefreshEvent(event);
                                }).fail(function (e) {
                                    var response = e.responseJSON;
                                    if (response) {
                                        self.$.messageubd.showMessage(response.message, "ERROR", self.$$('#MessageContainer'));
                                    }
                                    else {
                                        self.$.messageubd.showMessage("Add bank account error ", "ERROR", self.$$('#MessageContainer'));
                                    }
                                });
                            }

                        }
                        else {
                            var url = "/bank/" + self.applicationNumber;
                            payload.Name = self.addBankObj.values.Name;
                            payload.AccountNumber = self.addBankObj.values.AccountNumber;
                            payload.BankHolderName = self.addBankObj.values.BankHolderName;
                            payload.AccountType = self.addBankObj.values.AccountType;
                            payload.IsActive = (self.addBankObj.values.IsActive === true) ? true : false;
                            payload.RoutingNumber = self.RoutingNumber;
                            self.$.httpubd.post(url, payload, lmsService, true).then(function (data) {
                                self.raiseAppRefreshEvent(event);
                            }).fail(function (e) {
                                var response = e.responseJSON;
                                if (response) {
                                    self.$.messageubd.showMessage(response.message, "ERROR", self.$$('#MessageContainer'));
                                }
                                else {
                                    self.$.messageubd.showMessage("Add bank account error ", "ERROR", self.$$('#MessageContainer'));
                                }
                            });
                        }
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utilityubd.raiseEvent(this.fireEvent, {
                        ActionName: 'UpdateBankDetail',
                        EventData: event,
                        CompnentName: 'update-bank-details'
                    });
                },
                getBankData: function (event) {
                    var self = this;
                    var selectedBank = event.target.value;
                    var addBankObj = _.cloneDeep(self.addBankObj);
                    var Data = _.find(self.bankList, ["id", selectedBank]);
                    if (Data !== undefined && Data !== null && Data !== "" && selectedBank !== "" && selectedBank !== undefined) {
                        self.set('SelectedBank', Data);
                        self.set("isVerified", Data.isVerified);
                        self.set("isActive", Data.isActive);
                        self.RoutingNumber = Data.routingNumber;
                        addBankObj.values.Name = Data.name;
                        addBankObj.values.AccountNumber = Data.accountNumber;
                        addBankObj.values.BankHolderName = Data.bankHolderName;
                        addBankObj.values.AccountType = Data.accountType;
                        addBankObj.values.IsActive = Data.isActive;
                        self.set('addBankObj', addBankObj);
                    }
                    else if (addBankObj !== "" && addBankObj !== undefined) {
                        self.set("isVerified", false);
                        self.set("isActive", false);
                        self.RoutingNumber = "";
                        addBankObj.values.Name = "";
                        addBankObj.values.AccountNumber = "";
                        addBankObj.values.BankHolderName = "";
                        addBankObj.values.AccountType = "";
                        addBankObj.values.IsActive = "";
                        self.set('addBankObj', addBankObj);
                    }
                }
            });
        });
    </script>
</dom-module>