<html-import html-href="loaders/sk-wave.html"></html-import>
<dom-module id="cam-info">
    <template>
        <style>
            .panel-default>.panel-heading {
                color: #ffffff;
                background-color: #03466B;
                border-color: #03466B;
            }

            .cap-case {
                text-transform: capitalize;
            }

            ul {
                list-style-type: none !important;
                padding-left: 0px;
            }

            .panel-spacig {
                padding: 15px;
            }
        </style>

        <div class="panel-spacig">
            <div class="row">
                <div class="col-md-12">
                    <spinkit-wave hidden$="{{camLoading}}"></spinkit-wave>
                    <div hidden$="{{!camLoading}}" class="panel-group" id="sourceInt">
                        <template is="dom-repeat" items="{{_getCamData(CAMDataObj)}}" as="info">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#{{info.tabName}}">{{info.displayName}}</a>
                                    </h4>
                                </div>
                                <div id="{{info.tabName}}" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <template is="dom-if" if="{{!checkSalary(info.tabName,CAMDataObj)}}">
                                            <template is="dom-repeat" items="{{info.fields}}" as="field">
                                                <div class="panel-left col-lg-6">
                                                    <ul>
                                                        <template is="dom-if" if="{{!_hasAmountField(field,CAMDataObj)}}">
                                                            <li>
                                                                <b>{{field.label}}:&nbsp;</b>{{_HasData(field.value,CAMDataObj)}}</li>
                                                        </template>
                                                        <template is="dom-if" if="{{_hasAmountField(field,CAMDataObj)}}">
                                                            <li>
                                                                <b>{{field.label}}:&nbsp;</b>{{_HasData(field.value,CAMDataObj)}}</li>
                                                        </template>
                                                    </ul>
                                                </div>
                                            </template>
                                        </template>
                                        <template is="dom-if" if="{{checkSalary(info.tabName,CAMDataObj)}}">
                                            <template is="dom-repeat" items="{{_getDataObject(info.tabName,CAMDataObj)}}" as="salaryArray">
                                                <template is="dom-repeat" items="{{info.fields}}" as="field">
                                                    <template is="dom-if" if="{{!checkNarration(field.label,CAMDataObj)}}">
                                                        <div class="panel-left col-lg-6">
                                                            <ul>
                                                                <template is="dom-if" if="{{!_hasAmountField(field,CAMDataObj)}}">
                                                                    <li>
                                                                        <b>{{field.label}}:&nbsp;</b>{{_HasDataSalaryData(salaryArray,field,CAMDataObj)}}</li>
                                                                </template>
                                                                <template is="dom-if" if="{{_hasAmountField(field,CAMDataObj)}}">
                                                                    <li>
                                                                        <b>{{checkLable(field.label,salaryArray,CAMDataObj)}}:&nbsp;</b>{{_HasDataSalaryData(salaryArray,field,CAMDataObj)}}</li>
                                                                </template>
                                                            </ul>
                                                        </div>
                                                    </template>
                                                    <template is="dom-if" if="{{checkNarration(field.label,CAMDataObj)}}">
                                                        <div class="panel-left col-lg-12">
                                                            <ul>
                                                                <li>
                                                                    <b>{{field.label}}:&nbsp;</b>{{_HasDataSalaryData(salaryArray,field,CAMDataObj)}}
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </template>
                                                </template>
                                                <div class="clearfix"></div>
                                                <hr class="half-rule" />
                                            </template>
                                        </template>
                                        <template is="dom-if" if="{{checkFoiDti(info.tabName,CAMDataObj)}}">
                                            <div class="panel-left col-lg-12">
                                                <ul>
                                                    <li>
                                                        <b>Total:&nbsp;</b>{{_sumOfFOIRDTI(CAMDataObj)}}
                                                    </li>
                                                </ul>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <alloy-config id="config"></alloy-config>
        <lookup-service id="lookup"></lookup-service>
    </template>
    <script>
        Polymer({
            is: "cam-info",
            properties: {
                camLoading: {
                    type: Boolean,
                    notify: true,
                    value: false,
                    reflectToAttribute: true
                },
                customerDetails: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                customersProfileDetails: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                bankDetails: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                salary: {
                    type: Array,
                    notify: true,
                    value: []
                },
                grade: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                verificationDetails: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                CAMDataObj: {
                    type: Object,
                    notify: true,
                    value: {},
                    reflectToAttribute: true
                },
                factObjW: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                factObjP: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                factObjE: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                factObjL: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                cibilDetails: {
                    type: Array,
                    notify: true,
                    value: []
                },
                FinalData: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                applicationDetail: {
                    type: Object,
                    notify: true,
                    observer: '_getAppData'
                },
                otherLoanReason: {
                    type: String,
                    notify: true,
                    value: ''
                },
                FOIRDTICalculation: {
                    type: Array,
                    notify: true,
                    value: []
                },
                Deviation: {
                    type: Array,
                    notify: true,
                    value: []
                },
                finalOfferScore: {
                    type: String,
                    notify: true,
                    value: "NA"
                },
                gradeApp: {
                    type: String,
                    notify: true
                },
                dataAttributes: {
                    type: Object,
                    notify: true,
                    reflectToAttribute: true
                },
                scoreCard: {
                    type: Object,
                    notify: true,
                    reflectToAttribute: true,
                    observer: 'getFinalOfferScoreGrade'
                }
            },
            _getDataObject: function (obj) {
                var self = this;
                switch (obj) {
                    case "salary":
                        return self.salary;
                    case "cibilDetails":
                        return self.cibilDetails;
                    case "FOIRDTICalculation":
                        return self.FOIRDTICalculation;
                    default:
                        return self.Deviation;
                }
            },
            checkSalary: function (obj) {
                var KEYS = ["salary", "cibilDetails", "FOIRDTICalculation", "Deviation"];
                return KEYS.indexOf(obj) !== -1 ? true : false;
            },
            checkNarration: function (obj) {
                return obj === "Narration";
            },
            checkFoiDti: function (obj) {
                return obj === "FOIRDTICalculation";
            },
            _sumOfFOIRDTI: function () {
                var total = _.sumBy(this.FOIRDTICalculation, 'obligatedAmt');
                return this.currencyFormat(total);
            },
            init: function () {
                this._loadVerificationData();
            },
            _getCamData: function (camData) {
                if (camData.hasOwnProperty("CAMData")) {
                    return camData.CAMData;
                }
            },
            _loadVerificationData: function () {
                var self = this;
                self.$.http.get("/application/" + self.applicationNumber, window.config.services.verificationEngine).then(function (data) {
                    factObjW = self._getFactByFactName(data, 'factName', "EmailVerifyForWork");
                    factObjP = self._getFactByFactName(data, 'factName', "EmailVerifyForPersonal");
                    factObjE = self._getFactByFactName(data, 'factName', "EmploymentVerification");
                    factObjL = self._getFactByFactName(data, 'factName', "LocationVerification");
                    self.getFinalOfferScoreGrade();
                    self._loadDataAttributes();

                }).fail(function (ex) {
                    console.error("fact error is ", ex);
                });
            },
            _checkIfEmptyObject: function (obj) {
                return Object.keys(obj).length === 0 && obj.constructor === Object;
            },
            _fullName: function (obj) {
                var app = obj.application;
                if (app) {
                    var salutation = app.salutation !== null ? app.salutation : "";
                    if (app.middleName !== null && app.middleName !== "") {
                        return salutation + " " + app.firstName + " " + app.middleName + " " + app.lastName;
                    }
                    return salutation + " " + app.firstName + " " + app.lastName;
                }
            },
            _DOBFormatingWithAge: function (application) {
                var DOB = this.date(application.dateOfBirth);
                var Age = application.age;
                var EXCLUDE_Date = ["01-01-0001", "01/01/0001"];
                if (EXCLUDE_Date.indexOf(DOB.toString()) != -1) {
                    return "NA";
                }
                return Age + " years";
            },
            _changeTextDisplay: function (value) {
                if (!_.isNull(value) && !_.isUndefined(value) && !_.isEmpty(value))
                    return _.startCase(_.lowerCase(value));
                return "";
            },
            _formatMonths: function (month) {
                if (month !== undefined && month !== null && month !== '')
                    var expMonth = parseInt(month);
                if (expMonth == 0) {
                    return "NA";
                }
                else {
                    expMonth = expMonth * 12;
                    return expMonth + " Months";
                }
                return '';
            },
            _loadDataAttributes: function () {
                var self = this;
                var data = self.dataAttributes;
                if (!self._checkIfEmptyObject(data)) {
                    var custDetail = {};
                    var custProfileDetail = {};
                    var bankDetail = {};
                    var salary = [];
                    var grade = {};
                    var verificationDetails = {};
                    var cibilDetails = [];
                    var FOIRDTICalculation = [];
                    var Deviation = [];
                    custDetail.applicationNumber = self.applicationNumber;
                    if (!_.isNull(data.application) && !_.isUndefined(data.application) && !_.isEmpty(data.application)) {
                        //Customer
                        custDetail.loanReason = data.application.purposeOfLoan;
                        if (custDetail.loanReason == 'other' || custDetail.loanReason == 'Other') {
                            custDetail.loanReason = self.otherLoanReason;
                        }
                        custDetail.applicantName = self._changeTextDisplay(self._fullName(data));
                        custDetail.phoneNumber = data.application.mobileNo;
                        custDetail.gender = data.application.gender;
                        custDetail.age = self._DOBFormatingWithAge(data.application);
                        custDetail.maritalStatus = data.application.maritalStatus;
                        custDetail.officialEmailid = data.application.companyEmailAddress.toLowerCase();
                        if (!_.isNull(data.application.currentAddress) && !_.isUndefined(data.application.currentAddress) && !_.isEmpty(data.application.currentAddress)) {
                            custDetail.location = _.startCase(data.application.currentAddress.City);
                        }
                        //Profile
                        custProfileDetail.residenceType = data.application.residenceType;
                        custProfileDetail.companyName = data.application.companyName;
                        custProfileDetail.totalExperience = self._formatMonths(data.application.totalWorkExp);
                    }
                    if (!_.isNull(data.selectedFinalOffer) && !_.isUndefined(data.selectedFinalOffer) && !_.isEmpty(data.selectedFinalOffer)) {
                        custDetail.ceAmountApproved = data.selectedFinalOffer.FinalOfferAmount;
                    }
                    //Profile
                    if (!_.isNull(data.ancillaryData) && !_.isUndefined(data.ancillaryData) && !_.isEmpty(data.ancillaryData)) {
                        custProfileDetail.YearsincurrentResidence = data.ancillaryData.CurrentResidenceYears;
                        custProfileDetail.yearsincurrentcity = data.ancillaryData.CurrentCityYears;
                        custProfileDetail.currentExperience = data.ancillaryData.CurrentWorkExperience;
                    }
                    //Profile
                    if (!_.isNull(data.companyCategoryReport) && !_.isUndefined(data.companyCategoryReport) && !_.isEmpty(data.companyCategoryReport)) {
                        custProfileDetail.typeofcompany = data.companyCategoryReport.typeofcompany;
                    }
                    //bankInformation
                    if (!_.isNull(data.application.bankInformation) && !_.isUndefined(data.application.bankInformation) && !_.isEmpty(data.application.bankInformation)) {
                        bankDetail.bankName = data.application.bankInformation[0].BankName;
                    }

                    if (!_.isNull(data.manualCashFlowReport) && !_.isUndefined(data.manualCashFlowReport) && !_.isEmpty(data.manualCashFlowReport)) {
                        bankDetail.NoofBouncesInward = data.manualCashFlowReport.ecsInwardBounce;
                        bankDetail.NoofBouncesOutward = data.manualCashFlowReport.ecsOutwardBounce;
                        bankDetail.ChaqueNoofBouncesInward = data.manualCashFlowReport.chqInwardBounce;
                        bankDetail.ChaqueNoofBouncesOutward = data.manualCashFlowReport.chqOutwardBounce;
                        bankDetail.perfiosResult = data.manualCashFlowReport.perfiosresult;
                        bankDetail.salaryIdentifiedby = data.manualCashFlowReport.salaryIdentifiedby;
                        bankDetail.ABB = data.manualCashFlowReport.avgDailyBalance;

                        //salary
                        if (!_.isNull(data.manualCashFlowReport.Last3SalaryDeposit) && !_.isUndefined(data.manualCashFlowReport.Last3SalaryDeposit) && !_.isEmpty(data.manualCashFlowReport.Last3SalaryDeposit)) {
                            data.manualCashFlowReport.Last3SalaryDeposit.forEach(function (element) {
                                var tempSalary = {};
                                tempSalary.SalaryDate = element.SalaryDate;
                                tempSalary.narration = element.narration;
                                tempSalary.amount = element.amount;
                                salary.push(tempSalary);
                            });
                        }
                    }
                    //bankInformation
                    else if (!_.isNull(data.perfiosReport) && !_.isUndefined(data.perfiosReport) && !_.isEmpty(data.perfiosReport)) {
                        bankDetail.NoofBouncesInward = data.perfiosReport.ecsInwardBounce;
                        bankDetail.NoofBouncesOutward = data.perfiosReport.ecsOutwardBounce;
                        bankDetail.ChaqueNoofBouncesInward = data.perfiosReport.chqInwardBounce;
                        bankDetail.ChaqueNoofBouncesOutward = data.perfiosReport.chqOutwardBounce;
                        bankDetail.perfiosResult = data.perfiosReport.perfiosresult;
                        bankDetail.salaryIdentifiedby = data.perfiosReport.salaryIdentifiedby;
                        bankDetail.ABB = data.perfiosReport.avgDailyBalance;

                        //salary
                        if (!_.isNull(data.perfiosReport.Last3SalaryDeposit) && !_.isUndefined(data.perfiosReport.Last3SalaryDeposit) && !_.isEmpty(data.perfiosReport.Last3SalaryDeposit)) {
                            data.perfiosReport.Last3SalaryDeposit.forEach(function (element) {
                                var tempSalary = {};
                                tempSalary.SalaryDate = element.SalaryDate;
                                tempSalary.narration = element.narration;
                                tempSalary.amount = element.amount;
                                salary.push(tempSalary);
                            });
                        }
                    }
                    //grade
                    if (!_.isNull(data.cibilReport) && !_.isUndefined(data.cibilReport) && !_.isEmpty(data.cibilReport)) {
                        grade.CibilScore = data.cibilReport.bureauScore;
                    }
                    //if (!_.isNull(data.selectedFinalOffer) && !_.isUndefined(data.selectedFinalOffer) && !_.isEmpty(data.selectedFinalOffer)) {
                    //if (window.configName === "backoffice-portal") {
                    grade.Grade = self.gradeApp;
                    grade.AppScore = self.finalOfferScore;
                    // }
                    //}
                    //verificationDetails
                    verificationDetails.AadharCheck = "";
                    verificationDetails.TelePD = "";
                    verificationDetails.Equifax = "";
                    verificationDetails.NSDLCheck = "";
                    verificationDetails.Hunter = "";
                    verificationDetails.FCU = "";
                    verificationDetails.FCUSampled = "";
                    verificationDetails.DocumentCollectedSource = "";

                    if (!_.isNull(data.application.documentCollectedSource) && !_.isUndefined(data.application.documentCollectedSource) && !_.isEmpty(data.application.documentCollectedSource)) {
                        verificationDetails.DocumentCollectedSource = data.application.documentCollectedSource;
                    }

                    if (factObjP != null && factObjP != undefined && factObjP.verificationStatus === "Passed") {
                        verificationDetails.EmailVerificationPersonal = "Verified";
                    }
                    else {
                        verificationDetails.EmailVerificationPersonal = "N/A";
                    }
                    if (factObjW != null && factObjW != undefined && factObjW.verificationStatus === "Passed") {
                        verificationDetails.EmailVerificationWork = "Verified";
                    }
                    else {
                        verificationDetails.EmailVerificationWork = "N/A";
                    }
                    if (factObjL != null && factObjL != undefined) {
                        if (!_.isNull(factObjL.verificationSources) && !_.isUndefined(factObjL.verificationSources) && !_.isEmpty(factObjL.verificationSources)) {
                            var check = self._getFactByFactName(factObjL.verificationSources, 'sourceName', "PhysicalVerification");
                            if (!_.isNull(check) && !_.isUndefined(check) && !_.isEmpty(check)) {
                                verificationDetails.ResidenceCPV = "Positive";
                            }
                            else
                                verificationDetails.ResidenceCPV = "N/A";
                        }
                        else
                            verificationDetails.ResidenceCPV = "N/A";
                    }
                    else {
                        verificationDetails.ResidenceCPV = "N/A";
                    }
                    if (factObjE != null && factObjE != undefined) {
                        if (!_.isNull(factObjE.verificationSources) && !_.isUndefined(factObjE.verificationSources) && !_.isEmpty(factObjE.verificationSources)) {
                            var check = self._getFactByFactName(factObjE.verificationSources, 'sourceName', "PhysicalEmployement");
                            if (!_.isNull(check) && !_.isUndefined(check) && !_.isEmpty(check)) {
                                verificationDetails.OfficeCPV = "Positive";
                            }
                            else
                                verificationDetails.OfficeCPV = "N/A";
                        }
                        else
                            verificationDetails.OfficeCPV = "N/A";
                    }
                    else {
                        verificationDetails.OfficeCPV = "N/A";
                    }
                    //Cibit Details
                    if (!_.isNull(data.cibilReport) && !_.isUndefined(data.cibilReport) && !_.isEmpty(data.cibilReport)) {
                        cibilDetails = data.cibilReport.accountinformation;
                    }
                    if (!_.isNull(data.cibilReport) && !_.isUndefined(data.cibilReport) && !_.isEmpty(data.cibilReport)) {
                        for (var i = 0; i < cibilDetails.length; i++) {
                            if (!_.isNaN(_.toNumber(cibilDetails[i].AccountType))) {
                                cibilDetails[i].AccountType = self.purpose(_.toString(_.toNumber(cibilDetails[i].AccountType)));
                            }
                        }
                    }
                    if (!_.isNull(data.selectedFinalOffer) && !_.isUndefined(data.selectedFinalOffer) && !_.isEmpty(data.selectedFinalOffer)) {
                        self.FinalData.InterestRate = data.selectedFinalOffer.InterestRate + "%";
                        self.FinalData.EMI = data.selectedFinalOffer.Emi;
                        self.FinalData.ProcessingFeePercentage = data.selectedFinalOffer.ProcessingFeePercentage + "%";
                        self.FinalData.GST = data.selectedFinalOffer.GST;
                        self.FinalData.GSTPercentage = data.selectedFinalOffer.GSTPercentage + "%";
                        self.FinalData.Frankingcharges = data.selectedFinalOffer.Frankingcharges;
                        self.FinalData.ProcessingFeeWithTax = data.selectedFinalOffer.ProcessingFeeWithTax;
                        self.FinalData.ProcFee = data.selectedFinalOffer.ProcessingFee;
                        self.FinalData.LoanTenure = data.selectedFinalOffer.LoanTenure + " Months";
                    }
                    if (!_.isNull(data.application.schemeCode) && !_.isUndefined(data.application.schemeCode) && !_.isEmpty(data.application.schemeCode)) {
                        self.FinalData.SchemeCode = data.application.schemeCode;
                    }
                    if (!_.isNull(data.foirDtiCalculation) && !_.isUndefined(data.foirDtiCalculation) && !_.isEmpty(data.foirDtiCalculation)) {
                        data.foirDtiCalculation.forEach(function (element) {
                            var tempfoirdtidata = {};
                            tempfoirdtidata.typeOfLoan = element.typeOfLoan;
                            tempfoirdtidata.obligatedAmount = element.obligatedAmount;
                            tempfoirdtidata.comments = element.comments;
                            tempfoirdtidata.obligatedAmt = parseFloat(element.obligatedAmount, 10);
                            FOIRDTICalculation.push(tempfoirdtidata);
                        });
                    }

                    if (!_.isNull(data.deviation) && !_.isUndefined(data.deviation) && !_.isEmpty(data.deviation)) {
                        data.deviation.forEach(function (element) {
                            var tempdeviationdata = {};
                            tempdeviationdata.deviation = element.deviation;
                            Deviation.push(tempdeviationdata);
                        });

                    }
                    self.set('customerDetails', custDetail);
                    self.set('customersProfileDetails', custProfileDetail);
                    self.set('bankDetails', bankDetail);
                    self.set('salary', salary);
                    self.set('grade', grade);
                    self.set('verificationDetails', verificationDetails);
                    self.set('cibilDetails', cibilDetails);
                    self.set('FinalData', self.FinalData);
                    self.set('FOIRDTICalculation', FOIRDTICalculation);
                    self.set('Deviation', Deviation);
                    self.loadAdditionalInfo();
                }
                self.set('camLoading', true);
            },
            _getFactByFactName: function (array, propName, factName) {
                var Obj = array.filter(function (e) {
                    return e[propName] === factName;
                })[0];
                return Obj || {};
            },
            loadAdditionalInfo: function () {
                var self = this;
                var data = self.$.config.getConfigurationBasedOnKey("cam");
                for (var i = 0; i < data.length; i++) {
                    var dataObj = self[data[i].tabName];
                    if (!self._checkIfEmptyObject(dataObj)) {
                        data[i].fields.forEach(function (field) {
                            var dataVal = dataObj[field.data];
                            if (field.format) {
                                field.value = self[field.format](dataVal);
                            } else {
                                field.value = dataVal;
                            }
                        });
                    }
                }
                var _CAMDataObj = {};
                _CAMDataObj.CAMData = data;
                self.set('CAMDataObj', _CAMDataObj);
            },
            _hasAmountField: function (field) {
                if (field.format && field.format === "currencyFormat") {
                    return true;
                }
                return false;
            },
            currencyFormat: function (value) {
                return formats.moneyWithoutFraction(value, window.config.country, 0);
            },
            date: function (date) {
                if (!_.isUndefined(date) && !_.isNull(date) && !_.isEmpty(date) && date !== 'NA') {
                    return moment.tz(date, window.config.timezone).format("DD/MM/YYYY");
                } else {
                    return 'NA';
                }
            },
            _HasData: function (objvalue) {
                if (objvalue != undefined) {
                    return objvalue;
                }
                else {
                    return "NA";
                }
            },
            _HasDataSalaryData: function (objvalue, field) {
                var self = this;
                if (objvalue != undefined) {
                    if (field.format != undefined && field.format === "currencyFormat")
                        return self.currencyFormat(objvalue[field.data]);
                    else if (field.format != undefined && field.format === "date")
                        return self.date(objvalue[field.data]);
                    else
                        return objvalue[field.data];
                }
                else {
                    return "NA";
                }
            },
            _HasDataCibil: function (objvalue, field) {
                var self = this;
                if (objvalue != undefined) {
                    if (field.format != undefined && field.format === "currencyFormat")
                        return self.currencyFormat(objvalue[field.data]);
                    else if (field.format != undefined && field.format === "date")
                        return self.date(objvalue[field.data]);
                    else
                        return objvalue[field.data];
                }
                else {
                    return "NA";
                }
            },
            checkLable: function (obj, type) {
                if (obj === "Loan Amount" && type.AccountType == "Credit Card") {
                    return "High Credit";
                }
                else {
                    return obj;
                }
            },
            _getAppData: function () {
                var self = this;
                var data = self.dataAttributes;
                if (data && data.hasOwnProperty('application') && !_.isNull(data.application) && !_.isUndefined(data.application) && !_.isEmpty(data.application)) {
                    self.otherLoanReason = data.application.purposeOfLoan;
                    if (self.otherLoanReason == 'other' || self.otherLoanReason == 'Other') {
                        var appDetails = self.applicationDetail;
                        if (!self._checkIfNullObject(appDetails)) {
                            self.otherLoanReason = appDetails.otherPurposeDescription;
                        }
                    } else {
                        self.otherLoanReason = '';
                    }
                }
            },
            purpose: function (propType) {
                var self = this;
                if (propType && self.accountLookup && self.accountLookup.length > 0) {
                    var obj = _.find(self.accountLookup, ['key', propType]);
                    if (obj) {
                        return obj.value || "NA";
                    }
                }
                return "NA";
            },
            _checkIfNullObject: function (obj) {
                return Object.keys(obj).length === 0 && obj.constructor === Object;
            },
            _hasProcFeeField: function (obj) {
                if (obj.data === 'ProcFee' && obj.format === "currencyFormat") {
                    return true;
                }
                return false;
            },
            getFinalOfferScoreGrade: function () {
                var self = this;
                if (self.scoreCard && self.scoreCard.FinalOfferCalculation) {
                    var finalOffer = self.scoreCard.FinalOfferCalculation;
                    if (finalOffer.intermediateData && finalOffer.intermediateData.offerData != null && finalOffer.intermediateData.offerData != undefined) {
                        var score = finalOffer.intermediateData.offerData[0].score;
                        var grade = finalOffer.intermediateData.offerData[0].grade;
                        self.set("finalOfferScore", score);
                        self.set("gradeApp", grade);
                        return;
                    }
                }
                return "NA";
            }
        });
    </script>
</dom-module>