<html-import html-href="loaders/sk-wave.html"></html-import>
<dom-module id="fcu-info">
    <template>
        <style>
            .panel-default>.panel-heading {
                color: #ffffff;
                background-color: #03466B;
                border-color: #03466B;
            }

            .cap-case {
                text-transform: capitalize;
            }

            ul {
                list-style-type: none !important;
                padding-left: 0px;
            }

            .panel-spacig {
                padding: 15px;
            }
        </style>
        <div class="panel-spacig">
            <div class="row">
                <div class="col-md-12">
                    <spinkit-wave hidden$="{{fcuLoading}}"></spinkit-wave>
                    <div hidden$="{{!fcuLoading}}" class="panel-group" id="sourceInt">
                        <template is="dom-repeat" items="{{_getFcuData(FCUDataObj)}}" as="info">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#{{info.tabName}}">{{info.displayName}}</a>
                                    </h4>
                                </div>
                                <div id="{{info.tabName}}" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <template is="dom-if" if="{{!checkSalary(info.tabName,FCUDataObj)}}">
                                            <template is="dom-repeat" items="{{info.fields}}" as="field">
                                                <div class="panel-left col-lg-6">
                                                    <ul>
                                                        <template is="dom-if" if="{{!_hasAmountField(field,FCUDataObj)}}">
                                                            <li>
                                                                <b>{{field.label}}:&nbsp;</b>{{_HasData(field.value,FCUDataObj)}}</li>
                                                        </template>
                                                        <template is="dom-if" if="{{_hasAmountField(field,FCUDataObj)}}">
                                                            <li>
                                                                <b>{{field.label}}:&nbsp;</b>{{_HasData(field.value,FCUDataObj)}}</li>
                                                        </template>
                                                    </ul>
                                                </div>
                                            </template>
                                        </template>
                                        <template is="dom-if" if="{{checkSalary(info.tabName,FCUDataObj)}}">
                                            <template is="dom-repeat" items="{{salary}}" as="salaryArray">
                                                <template is="dom-repeat" items="{{info.fields}}" as="field">
                                                    <template is="dom-if" if="{{!checkNarration(field.label,FCUDataObj)}}">
                                                        <div class="panel-left col-lg-6">
                                                            <ul>
                                                                <template is="dom-if" if="{{!_hasAmountField(field,FCUDataObj)}}">
                                                                    <li>
                                                                        <b>{{field.label}}:&nbsp;</b>{{_HasDataSalaryData(salaryArray,field,FCUDataObj)}}</li>
                                                                </template>
                                                                <template is="dom-if" if="{{_hasAmountField(field,FCUDataObj)}}">
                                                                    <li>
                                                                        <b>{{field.label}}:&nbsp;</b>{{_HasDataSalaryData(salaryArray,field,FCUDataObj)}}</li>
                                                                </template>
                                                            </ul>
                                                        </div>
                                                    </template>
                                                    <template is="dom-if" if="{{checkNarration(field.label,FCUDataObj)}}">
                                                        <div class="panel-left col-lg-12">
                                                            <ul>
                                                                <li>
                                                                    <b>{{field.label}}:&nbsp;</b>{{_HasDataSalaryData(salaryArray,field,FCUDataObj)}}</li>
                                                            </ul>
                                                        </div>
                                                    </template>
                                                </template>
                                                <div class="clearfix"></div>
                                                <hr class="half-rule" />
                                            </template>
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <alloy-config id="config"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "fcu-info",
            properties: {
                fcuLoading: {
                    type: Boolean,
                    notify: true,
                    value: false,
                    reflectToAttribute: true
                },
                fcuInformation: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                FCUDataObj: {
                    type: Object,
                    notify: true,
                    value: {},
                    reflectToAttribute: true
                },
                factObjW: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                factObjP: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                factObjE: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                factObjL: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                salary: {
                    type: Array,
                    notify: true,
                    value: []
                },
                tags: {
                    type: Object,
                    notify: true
                },
                dataAttributes: {
                    type: Object,
                    notify: true,
                    reflectToAttribute: true
                }
            },
            init: function () {
                this._loadVerificationData();
            },
            _getFcuData: function (fcuData) {
                if (fcuData.hasOwnProperty("FCUData")) {
                    return fcuData.FCUData;
                }
            },
            _loadVerificationData: function () {
                var self = this;
                self.$.http.get("/application/" + self.applicationNumber, window.config.services.verificationEngine).then(function (data) {
                    factObjW = self._getFactByFactName(data, 'factName', "EmailVerifyForWork");
                    factObjP = self._getFactByFactName(data, 'factName', "EmailVerifyForPersonal");
                    factObjE = self._getFactByFactName(data, 'factName', "EmploymentVerification");
                    factObjL = self._getFactByFactName(data, 'factName', "LocationVerification");
                    self._loadDataAttributes();
                }).fail(function (ex) {
                    console.error("fact error is ", ex);
                });
            },
            _getFactByFactName: function (array, propName, factName) {
                var Obj = array.filter(function (e) {
                    return e[propName] === factName;
                })[0];
                return Obj || {};
            },
            _HasDataSalaryData: function (objvalue, field) {
                var self = this;
                if (objvalue != undefined) {
                    if (field.format != undefined && field.format === "currencyFormat")
                        return self.currencyFormat(objvalue[field.data]);
                    else if (field.format != undefined && field.format === "date")
                        return self.date(objvalue[field.data]);
                    else
                        return objvalue[field.data];
                }
                else {
                    return "N/A";
                }
            },
            checkSalary: function (obj) {
                return obj === "salary";
            },
            checkNarration: function (obj) {
                return obj === "Narration";
            },
            _checkIfEmptyObject: function (obj) {
                return Object.keys(obj).length === 0 && obj.constructor === Object;
            },
            _fullName: function (obj) {
                var app = obj.application;
                if (app) {
                    var salutation = app.salutation !== null ? app.salutation : "";
                    if (app.middleName !== null && app.middleName !== "") {
                        return salutation + " " + app.firstName + " " + app.middleName + " " + app.lastName;
                    }
                    return salutation + " " + app.firstName + " " + app.lastName;
                }
            },
            _DOBFormatingWithAge: function (application) {
                var self = this;
                var DOB = self.date(application.dateOfBirth);
                var EXCLUDE_Date = ["01-01-0001", "01/01/0001"];
                if (EXCLUDE_Date.indexOf(DOB.toString()) != -1) {
                    return "N/A";
                }
                return DOB;
            },
            _changeTextDisplay: function (value) {
                if (!_.isNull(value) && !_.isUndefined(value) && !_.isEmpty(value))
                    return _.startCase(_.lowerCase(value));
                return "";
            },
            _hunterName: function (isTrue) {
                if (_.isBoolean(isTrue)) {
                    if (isTrue) {
                        return "Match";
                    } else if (!isTrue) {
                        return "No-Match";
                    }
                }
                else {
                    return "N/A";
                }
            },
            _loadDataAttributes: function () {
                var self = this;
                var data = self.dataAttributes;
                if (!self._checkIfEmptyObject(data)) {
                    var fcuInfo = {};
                    if (!_.isNull(data.application) && !_.isUndefined(data.application) && !_.isEmpty(data.application)) {
                        fcuInfo.name = self._changeTextDisplay(self._fullName(data));
                        fcuInfo.dateOfBirth = data.application.dateOfBirth;
                        fcuInfo.pan = data.application.pan;
                        fcuInfo.employerName = data.application.companyName;
                        fcuInfo.hunterStatus = self._hunterName(data.application.hunterStatus);
                        fcuInfo.hunterId = data.application.hunterId;
                    }
                    if (factObjL != null && factObjL != undefined) {
                        if (!_.isNull(factObjL.verificationSources) && !_.isUndefined(factObjL.verificationSources) && !_.isEmpty(factObjL.verificationSources)) {
                            var check = self._getFactByFactName(factObjL.verificationSources, 'sourceName', "PhysicalVerification");
                            if (!_.isNull(check) && !_.isUndefined(check) && !_.isEmpty(check)) {
                                fcuInfo.ResidenceCPV = "Positive";
                            }
                            else
                                fcuInfo.ResidenceCPV = "N/A";
                        }
                        else
                            fcuInfo.ResidenceCPV = "N/A";
                    }
                    if (factObjE != null && factObjE != undefined) {
                        if (!_.isNull(factObjE.verificationSources) && !_.isUndefined(factObjE.verificationSources) && !_.isEmpty(factObjE.verificationSources)) {
                            var check = self._getFactByFactName(factObjE.verificationSources, 'sourceName', "PhysicalEmployement");
                            if (!_.isNull(check) && !_.isUndefined(check) && !_.isEmpty(check)) {
                                fcuInfo.OfficeCPV = "Positive";
                            }
                            else
                                fcuInfo.OfficeCPV = "N/A";
                        }
                        else
                            fcuInfo.OfficeCPV = "N/A";
                    }
                    if (factObjW != null && factObjW != undefined && factObjW.verificationStatus === "Passed") {
                        fcuInfo.officialEmailCheck = "Verified";
                    }
                    else {
                        fcuInfo.officialEmailCheck = "N/A";
                    }
                    if (!_.isNull(data.cibilReport) && !_.isUndefined(data.cibilReport) && !_.isEmpty(data.cibilReport)) {
                        fcuInfo.firstCibilDate = data.cibilReport.firstEnquiryDate;
                    }
                    if (!_.isNull(data.selectedFinalOffer) && !_.isUndefined(data.selectedFinalOffer) && !_.isEmpty(data.selectedFinalOffer)) {
                        fcuInfo.loanAmount = data.selectedFinalOffer.FinalOfferAmount;
                    }

                    if (!_.isNull(data.perfiosReport) && !_.isUndefined(data.perfiosReport) && !_.isEmpty(data.perfiosReport)) {
                        fcuInfo.sourceOfData = data.perfiosReport.sourceOfData;
                    }
                    else {
                        fcuInfo.sourceOfData = "Other";
                    }

                    if (!_.isNull(data.manualCashFlowReport) && !_.isUndefined(data.manualCashFlowReport) && !_.isEmpty(data.manualCashFlowReport)) {
                        fcuInfo.monthlyNetSalary = data.manualCashFlowReport.monthlyIncome;

                        if (!_.isNull(data.manualCashFlowReport.Last3SalaryDeposit) && !_.isUndefined(data.manualCashFlowReport.Last3SalaryDeposit) && !_.isEmpty(data.manualCashFlowReport.Last3SalaryDeposit)) {
                            self.salary = data.manualCashFlowReport.Last3SalaryDeposit;
                        }
                    }
                    else if (!_.isNull(data.perfiosReport) && !_.isUndefined(data.perfiosReport) && !_.isEmpty(data.perfiosReport)) {
                        fcuInfo.monthlyNetSalary = data.perfiosReport.monthlyIncome;

                        if (!_.isNull(data.perfiosReport.Last3SalaryDeposit) && !_.isUndefined(data.perfiosReport.Last3SalaryDeposit) && !_.isEmpty(data.perfiosReport.Last3SalaryDeposit)) {
                            self.salary = data.perfiosReport.Last3SalaryDeposit;
                        }
                    }
                    fcuInfo.fcuSampled = "False";
                    self._loadFCUSampledDetail(fcuInfo);
                }
                self.set('fcuLoading', true);
            },
            _loadFCUSampledDetail: function (fcuInfo) {
                var self = this;
                if (!self.checkObject(fcuInfo)) {
                    var tags = self.tags;
                    if (!self.checkObject(tags)) {
                        var fcuTag = _.find(tags, ['name', "FCU Sampled"]);
                        if (fcuTag) {
                            fcuInfo.fcuSampled = "True";
                        }
                    }
                    self.set('fcuInformation', fcuInfo);
                    self.loadAdditionalInfo();
                }
            },
            checkObject: function (obj) {
                var self = this;
                if (!_.isNull(data.cibilReport) && !_.isUndefined(data.cibilReport) && !_.isEmpty(data.cibilReport)) {
                    return true;
                }
                else
                    return false;
            },
            loadAdditionalInfo: function () {
                var self = this;
                var data = self.$.config.getConfigurationBasedOnKey("fcu");
                for (var i = 0; i < data.length; i++) {
                    var dataObj = self[data[i].tabName];
                    if (!self._checkIfEmptyObject(dataObj)) {
                        data[i].fields.forEach(function (field) {
                            var dataVal = dataObj[field.data];
                            if (field.format) {
                                field.value = self[field.format](dataVal);
                            } else {
                                field.value = dataVal;
                            }
                        });
                    }
                }
                var _FCUDataObj = {};
                _FCUDataObj.FCUData = data;
                self.set('FCUDataObj', _FCUDataObj);
            },
            _hasAmountField: function (field) {
                if (field.format && field.format === "currencyFormat") {
                    return true;
                }
                return false;
            },
            currencyFormat: function (value) {
                return formats.moneyWithoutFraction(value, window.config.country, 0);
            },
            date: function (date) {
                return formats.date(date, window.config.country, false);
            },
            _HasData: function (objvalue) {
                return objvalue !== undefined ? objvalue : "N/A";
            }
        });
    </script>
</dom-module>