<dom-module id="loan-info">
    <template>
        <style>
            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }
        </style>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <tr>
                        <th colspan="6" class="header">Loan Info</th>
                    </tr>
                    <tr>
                        <th class="col-sm-2">Req Amount</th>
                        <td class="col-sm-2"> {{ currencyFormat(application.requestedAmount, application) }} </td>
                        <th class="col-sm-2">Applied Dt.</th>
                        <td class="col-sm-2">{{ date(application.applicationDate.Time, application) }}</td>
                        <th class="col-sm-2">Expiry Dt.</th>
                        <td class="col-sm-2">{{ date(application.expiryDate.Time, application) }}</td>
                    </tr>
                    <tr>
                        <th class="col-sm-2">Purpose</th>
                        <td class="col-sm-2">{{ getLookupName(application.purposeOfLoan, application, lookupData) }}
                        </td>
                        <th class="col-sm-2">UTM Source</th>
                        <td class="col-sm-2">{{ _hasUTMTag(application.trackingCode, application) }}</td>
                        <th class="col-sm-2">UTM Medium</th>
                        <td class="col-sm-2">{{ _hasUTMTag(application.trackingCodeMedium, application) }}</td>
                    </tr>
                    <tr>
                        <th class="col-sm-2">UTM Term</th>
                        <td class="col-sm-2">{{ _hasUTMTag(application.trackingCodeTerm, application) }}</td>
                        <th class="col-sm-2">UTM Content</th>
                        <td class="col-sm-2">{{ _hasUTMTag(application.trackingCodeContent, application) }}</td>
                        <th class="col-sm-2">UTM Campaign</th>
                        <td class="col-sm-2">{{ _hasUTMTag(application.trackingCodeCampaign, application) }}</td>
                    </tr>
                    <tr>
                        <th colspan="6" class="header">Monthly Inc/Exp</th>
                    </tr>
                    <tr>
                        <th class="col-sm-2">Income</th>
                        <td class="col-sm-2"> {{currencyFormat(application.income, application)}} </td>
                        <th class="col-sm-2">Housing</th>
                        <template is="dom-if" if="{{_checkResidencyType(application.residenceType, application)}}">
                            <td class="col-sm-2">
                                {{application.residenceType}}
                            </td>
                        </template>
                        <template is="dom-if" if="{{!_checkResidencyType(application.residenceType, application)}}">
                            <td class="col-sm-2">
                                {{currencyFormat(application.monthlyRent, application)}}
                                <small>({{application.residenceType}})</small>
                            </td>
                        </template>
                        <th class="col-sm-2">Total EMI</th>
                        <td class="col-sm-2"> {{currencyFormat(application.OtherEmi, application)}} </td>
                    </tr>
                    <tr>
                        <th class="col-sm-2">CC Bal.</th>
                        <td class="col-sm-2"> {{currencyFormat(application.creditCardBalance, application)}} </td>
                        <th class="col-sm-2"></th>
                        <td class="col-sm-2"></td>
                        <th class="col-sm-2"></th>
                        <td class="col-sm-2"></td>
                    </tr>
                    <tr>
                        <th colspan="6" class="header">Score Details</th>
                    </tr>
                    <tr>
                        <th class="col-sm-2">File Type</th>
                        <td class="col-sm-2">{{ _isFileTypeEmpty(dataAttributes.cibilReport.fileType, application) }}
                        </td>
                        <th class="col-sm-2">Offer</th>
                        <td class="col-sm-2">{{offerDetails}}</td>
                        <th class="col-sm-2"></th>
                        <td class="col-sm-2"></td>
                    </tr>
                    <tr>
                        <th class="col-sm-2">Bureau Score</th>
                        <td class="col-sm-2">{{ fixedNumber(dataAttributes.cibilReport.bureauScore, application) }}</td>
                        <th class="col-sm-2">Inital Offer Score</th>
                        <td class="col-sm-2">{{ score(initialOfferScore, application) }}</td>
                        <th class="col-sm-2">Final Offer Score</th>
                        <td class="col-sm-2">{{ score(finalOfferScore, application) }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row divideborder">
        </div>
        <http-request id="http"></http-request>
        <url-parser id="url"></url-parser>
    </template>
    <script>
        Polymer({
            is: "loan-info",
            properties: {
                lookupData: {
                    type: Array,
                    notify: true
                },
                dataAttributes: {
                    type: Object,
                    notify: true,
                    observer: '_loadDataAttributes'
                },
                application: {
                    type: Object,
                    notify: true,
                    reflectToAttribute: true
                },
                offerDetails: {
                    type: String,
                    notify: true,
                    value: "NA"
                },
                finalOffer: {
                    type: Object,
                    notify: true,
                    observer: '_setOfferDetails'
                },
                initialOfferScore: {
                    type: String,
                    notify: true,
                    value: "NA"
                },
                finalOfferScore: {
                    type: String,
                    notify: true,
                    value: "NA"
                },
                scoreCard: {
                    type: Object,
                    notify: true,
                    reflectToAttribute: true,
                    observer: "_getScoreDetails"
                }
            },
            fixedNumber: function (value, application) {
                return formats.round(value, 0);
            },
            currencyFormat: function (value, application) {
                return formats.moneyWithoutFraction(value, window.config.country, 0);
            },
            date: function (date, application) {
                return formats.date(date, window.config.country, false);
            },
            score: function (value, application) {
                if (!_.isNaN(_.toNumber(value))) {
                    return formats.round(value, 1, "0");
                } else {
                    return value;
                }
            },
            _checkResidencyType: function (residenceType, application) {
                if (residenceType === "OwnedSelf" || residenceType === "Owned-Family" || residenceType === "Company-Acco") {
                    return true;
                }
                else {
                    return false;
                }
            },
            _isFileTypeEmpty: function (value, application) {
                if (value != undefined && value != "" && value != "NA") {
                    return value;
                }
                else {
                    return "NA";
                }
            },
            _hasUTMTag: function (value, application) {
                return value !== "BorrowerPortal" ? value : "";
            },
            _setOfferDetails: function () {
                var self = this;
                var offer = self.finalOffer;
                if (offer) {
                    var amount = offer.finalOfferAmount !== undefined ? this.currencyFormat(offer.finalOfferAmount) : 0;
                    var tenure = offer.loantenure !== undefined ? offer.loantenure : 0;
                    var emi = offer.emi !== undefined ? this.currencyFormat(offer.emi) : 0;
                    self.set("offerDetails", amount + "/" + tenure + "/" + emi);
                    return;
                }
            },
            getLookupName: function (value, application, lookupData) {
                var self = this;
                var lookUpObj = _.find(self.lookupData, ['key', value]);
                return _.isUndefined(lookUpObj) ? "Not available" : lookUpObj.value;
            },
            init: function () {

            },
            _getScoreDetails: function () {
                var self = this;
                self.getInitialOfferScore();
                self.getFinalOfferScore();
            },
            getInitialOfferScore: function () {
                var self = this;
                if (self.scoreCard && self.scoreCard.CalculateInitialOffer) {
                    var initOffer = self.scoreCard.CalculateInitialOffer;
                    if (initOffer && initOffer.intermediateData && initOffer.intermediateData.offerData) {
                        initOffer.intermediateData.offerData.forEach(function (e) {
                            self.set("initialOfferScore", e.score);
                            return;
                        });
                    }
                }
                return "NA";
            },
            getFinalOfferScore: function () {
                var self = this;
                if (self.scoreCard && self.scoreCard.FinalOfferCalculation) {
                    var finalOffer = self.scoreCard.FinalOfferCalculation;
                    if (finalOffer.intermediateData && finalOffer.intermediateData.offerData != null && finalOffer.intermediateData.offerData != undefined) {
                        var score = finalOffer.intermediateData.offerData[0].score;
                        self.set("finalOfferScore", score);
                        return;
                    }
                }
                return "NA";
            },
            _loadDataAttributes: function () {
                var self = this;
                var data = self.dataAttributes;
                if (data) {
                    self.set('application', data.application);
                }
            }
        });
    </script>
</dom-module>