<html-import html-href="loaders/sk-wave.html"></html-import>
<dom-module id="offer-view">
    <template>
        <style>
            .ibox-title {
                border: none;
            }

            .ibox-content {
                padding: 10px 0;
            }

            .ibox-content .row {
                margin: 0;
            }

            .col-xs-2,
            .col-xs-3,
            .col-xs-4 {
                padding: 5px;
                text-align: center;
            }

            .selected {
                background-color: #98cf81;
            }

            .ibox-title h2 {
                font-weight: bold;
            }

            .no-offer {
                min-height: 20px;
                padding: 19px;
                background-color: #f5f5f5;
                border-radius: 4px;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
                border: 1px solid #e3e3e3;
            }

            h2 {
                font-size: 14px !important;
            }
        </style>
        <div class="row">
            <div class="col-md-12">
                <spinkit-wave hidden$="{{loading}}"></spinkit-wave>
                <div class="ibox float-e-margins">
                    <template is="dom-if" if="{{_checkIfBankPortal()}}">
                        <div class="ibox-title" id="divinitaloffertitle">
                            <h2>Initial Offers</h2>
                        </div>
                        <template is="dom-if" if="{{hasInitialOffer}}">
                            <template is="dom-repeat" items="{{initOffer}}" as="item">
                                <div class="ibox-content" id="divinitialoffercontent">
                                    <div class="row selected">
                                        <div class="col-xs-3">
                                            <small class="stats-label">Loan Amount</small>
                                            <h4>{{currencyFormat(item.finalOfferAmount)}}</h4>
                                        </div>
                                        <div class="col-xs-2">
                                            <small class="stats-label">Interest Rate</small>
                                            <h4>{{item.interestRate}}%</h4>
                                        </div>
                                        <div class="col-xs-2">
                                            <small class="stats-label">Loan Tenure</small>
                                            <h4>{{item.loanTenure}}</h4>
                                        </div>
                                        <div class="col-xs-2">
                                            <small class="stats-label">EMI</small>
                                            <h4>NA</h4>
                                        </div>
                                        <div class="col-xs-3">
                                            <small class="stats-label">Processing Fee</small>
                                            <h4>NA</h4>
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </template>
                        <template is="dom-if" if="{{!hasInitialOffer}}">
                            <div class="ibox-content">
                                <div class="row no-offer">
                                    <div class="col-xs-12">
                                        No initial offer generated yet.
                                    </div>
                                </div>
                            </div>
                        </template>
                    </template>
                    <div class="ibox-title">
                        <h2>Final Offers</h2>
                    </div>
                    <template is="dom-if" if="{{hasInitialOffer}}">
                        <template is="dom-repeat" items="{{finalOffer}}" as="item">
                            <template is="dom-if" if="{{_checkIfBankPortalShowSelectedOffer(item)}}">
                                <div class="ibox-content">
                                    <div class$="{{_computeClass(item)}}">
                                        <div class="col-xs-3">
                                            <small class="stats-label">Loan Amount</small>
                                            <h4>{{currencyFormat(item.finalOfferAmount)}}</h4>
                                        </div>
                                        <div class="col-xs-2">
                                            <small class="stats-label">Interest Rate</small>
                                            <h4>{{item.interestRate}}%</h4>
                                        </div>
                                        <div class="col-xs-2">
                                            <small class="stats-label">Loan Tenure</small>
                                            <h4>{{item.loantenure}} {{isManualOffer(item)}}</h4>
                                        </div>
                                        <div class="col-xs-2">
                                            <small class="stats-label">EMI</small>
                                            <h4>{{currencyFormat(item.emi)}}</h4>
                                        </div>
                                        <div class="col-xs-3">
                                            <small class="stats-label">Processing Fee</small>
                                            <h4>{{currencyFormat(item.processingFee)}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </template>
                    </template>
                    <template is="dom-if" if="{{!hasFinalOffer}}">
                        <div class="ibox-content">
                            <div class="row no-offer">
                                <div class="col-xs-12">
                                    No final offer generated yet.
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "offer-view",
            properties: {
                loading: {
                    type: Boolean,
                    notify: true,
                    value: false,
                    reflectToAttribute: true
                },
                intitOffer: {
                    type: Array,
                    notify: true,
                    value: []
                },
                finalOffer: {
                    type: Array,
                    notify: true,
                    value: []
                },
                hasInitialOffer: {
                    type: Boolean,
                    notify: true,
                    value: false
                },
                hasFinalOffer: {
                    type: Boolean,
                    notify: true,
                    value: false
                }
            },
            _computeClass: function (item) {
                return item.isSelected ? "row selected" : "row";
            },
            init: function () {
                this._loadInitialOffer();
                this._loadFinalOffer();
            },
            _loadInitialOffer: function () {
                var self = this;
                var offerEndPoint = window.config.services.appProcessor;
                var url = "/offer/" + self.applicationNumber + "/initialoffer";
                self.$.http.get(url, offerEndPoint).then(function (data) {
                    if (data.offers && data.offers.length > 0) {
                        self.set("initOffer", data.offers);
                        self.set("hasInitialOffer", true);
                    } else {
                        self.set("initOffer", []);
                        self.set("hasInitialOffer", false);
                    }
                    self.set('loading', true);
                }).fail(function (e) {
                    self.set('loading', true);
                    console.error("no initial offer found", e);
                });
            },
            _loadFinalOffer: function () {
                var self = this;
                var offerEndPoint = window.config.services.appProcessor;
                var url = "/offer/" + self.applicationNumber + "/finaloffer";
                self.$.http.get(url, offerEndPoint).then(function (data) {
                    if (data.finalOffers && data.finalOffers.length > 0) {
                        self.set("finalOffer", data.finalOffers);
                        self.set("hasFinalOffer", true);
                    } else {
                        self.set("finalOffer", []);
                        self.set("hasFinalOffer", false);
                    }
                    self.set('loading', true);
                }).fail(function (e) {
                    self.set('loading', true);
                    console.error("no final offer found", e);
                });
            },
            currencyFormat: function (value) {
                return formats.moneyWithoutFraction(value, window.config.country, 0);
            },
            isManualOffer: function (itemObj) {
                if (itemObj.isManualOffer) {
                    return "(Manual)";
                }
                return "";
            },
            _checkIfBankPortal: function () {
                return window.configName !== "bank-portal" ? true : false;
            },
            _checkIfBankPortalShowSelectedOffer: function (item) {
                if (window.configName === "bank-portal" && item.isSelected) {
                    return true;
                }
                else if (window.configName !== "bank-portal") {
                    return true;
                }
                return false;
            }
        });
    </script>
</dom-module>