<dom-module id="personal-info">
    <template>
        <style>
            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }

            address {
                margin-bottom: 20px;
                font-style: normal;
                line-height: 1.42857143;
            }

            strong {
                display: block;
            }

            .show {
                display: block;
            }

            .hide {
                display: none;
            }
        </style>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <tr>
                        <td colspan="6" class="header">Personal Info</td>
                    </tr>
                    <tr>
                        <th class="col-sm-2">Email</th>
                        <td class="col-sm-4" colspan="2">{{
                            _CheckforEmptyAttributeVal(application.personalEmail,application) }}</td>
                        <th class="col-sm-2">DOB</th>
                        <td class="col-sm-4" colspan="2">{{ _DOBFormatingWithAge(application) }}</td>
                    </tr>
                    <tr>
                        <th class="col-sm-2">PAN</th>
                        <td class="col-sm-2">{{ _CheckforEmptyAttributeVal(application.pan,application) }}</td>
                        <th class="col-sm-2">Aadhar</th>
                        <td class="col-sm-2">{{ _CheckforEmptyAttributeVal(application.aadharNumber,application) }}</td>
                        <th class="col-sm-2">Mobile No</th>
                        <td class="col-sm-2">
                            <i class="fa fa-mobile" aria-hidden="true"></i> {{
                            _CheckforEmptyAttributeVal(application.mobileNo,application) }}
                        </td>
                    </tr>
                    <tr>
                        <th class="col-sm-2">Marital Status</th>
                        <td class="col-sm-2">{{ application.maritalStatus }}</td>
                        <th class="col-sm-2">Designation</th>
                        <td class="col-sm-2">{{ _CheckforEmptyAttributeVal(application.designation,application) }}</td>
                        <th class="col-sm-2">Work Experience</th>
                        <td class="col-sm-2">{{_convertToMonths(application.totalWorkExp,application)}}</td>
                    </tr>
                    <tr>
                        <th class="col-sm-2">Institution</th>
                        <td class="col-sm-2">{{
                            _CheckforEmptyAttributeVal(application.educationalInstitution,application) }}</td>
                        <th class="col-sm-2">Qualification</th>
                        <td class="col-sm-2">{{ getLookupName(application.educationalQualification, application,
                            eduLookup)}}</td>
                        <th class="col-sm-2">Sodexo Code</th>
                        <td class="col-sm-2">{{ _sodexocode(application) }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <tr>
                        <th colspan="6" class="header">Addresses</th>
                    </tr>
                    <tr>
                        <td colspan="2" class="col-sm-4">
                            <address>
                                <strong>Current Address</strong> {{ currAddress.AddressLine1 }} {{
                                currAddress.AddressLine2 }}
                                <span class$="{{_CheckIfEmpty(currAddress.Location)}}"> {{ currAddress.Location }}</span>
                                <span class$="{{_CheckIfEmpty(currAddress.City)}}">
                                    {{ currAddress.City }} {{ currAddress.State }} {{ currAddress.PinCode }}
                                </span>
                                <span style="margin-top:10px" class$="{{_CheckIfEmpty(currentAddressYear)}}"> <strong>Years
                                        at Current
                                        Address</strong>
                                    {{currentAddressYear }} Years</span>

                            </address>
                        </td>
                        <td colspan="2" class="col-sm-4">
                            <address>
                                <strong>Permanent Address</strong> {{ permAddress.AddressLine1 }} {{
                                permAddress.AddressLine2 }}
                                <br> {{ permAddress.Location }}
                                <br> {{ permAddress.City }} {{ permAddress.State }} {{ permAddress.PinCode }}
                            </address>
                        </td>
                        <td colspan="2" class="col-sm-4">
                            <address>
                                <strong>Employment Details</strong>
                                <span>{{ application.companyName }}</span>
                                <small>
                                    <strong>{{ application.companyEmailAddress }}</strong>
                                </small>
                                {{empAddress.AddressLine1}} {{empAddress.AddressLine2 }}
                                <span class$="{{_CheckIfEmpty(empAddress.Location)}}">{{empAddress.Location }}</span>
                                <span class$="{{_CheckIfEmpty(empAddress.City)}}">
                                    {{empAddress.City}}
                                    {{empAddress.State}}
                                    {{empAddress.PinCode}}
                                </span>

                                <span style="margin-top:10px" class$="{{_CheckIfEmpty(employementYear)}}"> <strong>Years
                                        of Current
                                        Employment</strong>
                                    {{employementYear}} Years</span>
                            </address>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <template is="dom-if" if="{{checkPreferredAddress(application)}}">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table">
                        <tr>
                            <th colspan="6" class="header">Fulfilment Visit Details</th>
                        </tr>
                        <tr>
                            <th class="col-sm-2" colspan="1">
                                Scheduled Date and Time
                            </th>
                            <td class="col-sm-4" colspan="3">
                                {{setScheduleDate(application.scheduleDate,application)}}
                            </td>
                        </tr>
                        <tr>
                            <th class="col-sm-2" colspan="1">
                                Fulfilment Scheduled At
                            </th>
                            <td class="col-sm-4" colspan="3">
                                <strong>{{returnPreferredAddress(application)}}</strong>
                                <template is="dom-if" if="{{checkPreferredAddressVal('Residence',application)}}">
                                    {{ currAddress.AddressLine1 }} {{ currAddress.AddressLine2 }}
                                    <br> {{ currAddress.Location }}
                                    <br> {{ currAddress.City }} {{ currAddress.State }} {{ currAddress.PinCode }}
                                </template>
                                <template is="dom-if" if="{{checkPreferredAddressVal('Office',application)}}">
                                    {{ empAddress.AddressLine1}} {{ empAddress.AddressLine2 }}
                                    <br> {{ empAddress.Location }}
                                    <br> {{ empAddress.City }} {{ empAddress.State }} {{ empAddress.PinCode }}
                                </template>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </template>
        <div class="row divideborder">
        </div>
    </template>
    <script>
        Polymer({
            is: "personal-info",
            properties: {
                application: {
                    type: Object,
                    notify: true,
                    reflectToAttribute: true
                },
                dataAttributes: {
                    type: Object,
                    notify: true,
                    observer: '_loadDataAttributes'
                },
                eduLookup: {
                    type: Array,
                    notify: true
                },
                currentAddressYear: {
                    type: String,
                    notify: true,
                    value: ''
                },
                employementYear: {
                    type: String,
                    notify: true,
                    value: ''
                }

            },
            date: function (date) {
                return formats.date(date, window.config.country, false);
            },
            setScheduleDate: function (date, _application) {
                var _sdate = new Date(date.Time + " " + _application.scheduleTime);
                return moment.tz(_sdate, window.config.timezone).format("DD-MM-YYYY LT");
            },
            checkPreferredAddress: function (applicationdata) {
                var self = this;
                if (!_.isNull(self.application) && !_.isUndefined(self.application) && !_.isEmpty(self.application)) {
                    if (!_.isNull(self.application.preferredAddress) && !_.isUndefined(self.application.preferredAddress) && !_.isEmpty(self.application.preferredAddress)) {
                        return true;
                    } else {
                        return false;
                    }
                }
            },
            checkPreferredAddressVal: function (val, applicationdata) {
                var self = this;
                if (!_.isNull(self.application) && !_.isUndefined(self.application) && !_.isEmpty(self.application)) {
                    if (self.application.preferredAddress === val) {
                        return true;
                    } else {
                        return false;
                    }
                }
            },
            returnPreferredAddress: function (val) {
                var self = this;
                if (!_.isNull(self.application) && !_.isUndefined(self.application) && !_.isEmpty(self.application)) {
                    if (!_.isNull(self.application.preferredAddress) && !_.isUndefined(self.application.preferredAddress) && !_.isEmpty(self.application.preferredAddress)) {
                        if (self.application.preferredAddress == "Residence") {
                            return 'Current Address';
                        } else if (self.application.preferredAddress == "Office") {
                            return 'Employment Address';
                        }
                    }
                }
            },
            getLookupName: function (value, application, eduLookup) {
                var self = this;
                var lookUpObj = _.find(self.eduLookup, ['key', value]);
                return _.isUndefined(lookUpObj) ? "NA" : lookUpObj.value;
            },
            _DOBFormatingWithAge: function (application) {
                var DOB = this.date(application.dateOfBirth);
                var Age = application.age;
                var EXCLUDE_Date = ["01-01-0001", "01/01/0001"];
                if (EXCLUDE_Date.indexOf(DOB.toString()) != -1) {
                    return "NA";
                }
                return DOB + " (" + Age + " years)";
            },
            _convertToMonths: function (years, application) {
                if (years !== undefined && years !== null && years !== '')
                    var expMonth = parseInt((years * 12), 10);
                if (expMonth > 108) {
                    return "Working for > 108 months";
                }
                else if (expMonth == 0) {
                    return "NA";
                }
                else if (expMonth <= 108) {
                    return "Working for " + parseInt((years * 12), 10) + " months";
                }
                return '';
            },
            _checkIfEmptyObject: function (obj) {
                if (obj)
                    return Object.keys(obj).length === 0 && obj.constructor === Object;
            },
            _sodexocode: function (appsodexoObj) {
                if (appsodexoObj.hasOwnProperty('sodexoCode')) {
                    return this._CheckforEmptyAttributeVal(appsodexoObj.sodexoCode, appsodexoObj)
                }
                return "NA";
            },
            _CheckforEmptyAttributeVal: function (value, application) {
                if (!_.isNull(value) && !_.isUndefined(value) && !_.isEmpty(value)) {
                    return value;
                }
                return "NA";
            },
            init: function () {
            },
            _loadDataAttributes: function () {
                var self = this;
                var data = self.dataAttributes;
                if (!self._checkIfEmptyObject(data)) {
                    self.set('application', data.application);
                    self.set('currAddress', data.application.currentAddress);
                    self.set('permAddress', data.application.permanentAddress);
                    self.set('currentAddressYear', data.application.currentAddressYear);
                    self.set('employementYear', data.application.employementYear);
                }
            },
            _CheckIfEmpty: function (value) {
                if (!_.isEmpty(value)) {
                    return 'show';
                }
                return 'hide';
            },
        });
    </script>
</dom-module>