<html-import html-href="loaders/sk-wave.html"></html-import>
<dom-module id="status-history">
    <template>
        <style>
            .table>tbody>tr>th,
            .table>tbody>tr>td {
                vertical-align: middle;
                padding: 2px;
            }

            .my-image {
                --image-circle-width: 25px;
                --image-circle-height: 25px;
                --image-circle-margin-x: 2px;
                --image-circle-margin-y: 6px;
            }

            .image-list-label {
                margin: 7px auto;
                font-weight: normal;
            }
        </style>
        <spinkit-wave hidden$="{{loading}}"></spinkit-wave>
        <table hidden$="{{!loading}}" id="tblStatusHistory" class="table table-striped" style="width: 100% !important;">
            <thead>
                <tr>
                    <th title="{{getTooltip('ChangedBy','StatusGrid')}}">Changed By</th>
                    <th title="{{getTooltip('ChangeToStatus','StatusGrid')}}">Change To Status</th>
                    <th title="{{getTooltip('ChangedOn','StatusGrid')}}">Changed On</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <template is="dom-repeat" items="{{statusHistory}}" index-as="indx">
                    <tr>
                        <td>
                            <image-circle class="my-image" img-obj="{{item}}" username-prop="activatedBy" full-username-prop="activatedBy"></image-circle>
                            <label class="image-list-label">{{_changeTextDisplay(item.activatedBy)}}</label>
                        </td>
                        <td>{{item.statusName}}</td>
                        <td>{{formatDate(item.activeOn)}}{{_templateRenderComplete(indx)}}</td>
                        <td>{{item.activeOn}}</td>
                    </tr>
                </template>
            </tbody>
        </table>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <auth-service id="authorize"></auth-service>
        <session-manager id="session"></session-manager>
    </template>
    <script>
        Polymer({
            is: "status-history",
            properties: {
                loading: {
                    type: Boolean,
                    notify: true,
                    value: false,
                    reflectToAttribute: true
                },
                statusHistory: {
                    type: Array,
                    notify: true,
                    value: []
                },
                allStatus: {
                    type: Array,
                    notify: true,
                    value: []
                },
                sourceType: {
                    type: String,
                    notify: true
                },
                sourceId: {
                    type: Array,
                    notify: true,
                },
                currentEntityName: {
                    type: String,
                    notify: true,
                    value: 'application'
                }
            },
            init: function () {
                this._loadStatusList();
            },
            _templateRenderComplete: function (indx) {
                var self = this;
                if (self.statusHistory !== undefined && indx === self.statusHistory.length - 1) {
                    setTimeout(function () {
                        $.fn.dataTable.ext.errMode = 'none';
                        $("table#tblStatusHistory").dataTable({
                            sDom: '<"top">rt<"bottom"ip><"clear">',
                            language: {
                                "zeroRecords": "No data found."
                            },
                            "order": [
                                [2, "desc"]
                            ],
                            "columnDefs": [
                                {
                                    "width": "33%",
                                    "targets": 0
                                },
                                {
                                    "width": "33%",
                                    "targets": 1
                                },
                                {
                                    "width": "33%",
                                    "targets": 2,
                                    "orderData": 3
                                },
                                {
                                    "targets": 3,
                                    "visible": false
                                }
                            ]
                        });
                    }, 800);
                }
            },
            _loadStatusList: function () {
                var self = this;
                var StatusConfig = self.$.session.getObject('status-management');
                var StatusObj = StatusConfig.application.StatusWorkFlows[0].statuses;
                if (!_.isUndefined(StatusObj) && !_.isNull(StatusObj) && !_.isEmpty(StatusObj)) {
                    var statusList = _.transform(StatusObj, function (result, item) {
                        result.push({ key: item.code, value: item.name });
                    }, []);
                    self.set('allStatus', statusList);
                    var params = self.$.url.getParams();
                    if (params.hasOwnProperty('entity')) {
                        self.set('currentEntityName', params.entity);
                    }
                    self._loadDataAttributes();
                }
            },
            formatDate: function (date) {
                return formats.date(date, window.config.country, true);
            },
            _getImage: function (imageData) {
                if (!_.isUndefined(imageData) && !_.isNull(imageData) && !_.isEmpty(imageData)) {
                    return imageData;
                } else {
                    return this.defaultImage;
                }
            },
            _loadDataAttributes: function () {
                var self = this;
                url = "/" + self.currentEntityName + "/" + self.applicationNumber + "/history";
                self.$.http.get(url, window.config.services.statusManagement).then(function (history) {
                    var historyList = [];
                    $.each(history, function (key, data) {
                        if (!_.isUndefined(data.status) && !_.isNull(data.status)) {
                            historyList.push({ id: key, status: data.status, activeOn: data.activedOn.time, activatedBy: data.activatedBy });
                        }
                    });
                    var data = self._setUserProfile(historyList);
                    setTimeout(function () {
                        self.set("statusHistory", data);
                    }, 1500);
                    self.set('loading', true);
                }).fail(function (e) {
                    self.set('loading', true);
                    console.error("not able to load status history.", e);
                });

            },
            _setUserProfile: function (historyList) {
                var self = this;
                var assetService = window.config.services.assetService;
                historyList.forEach(function (history) {
                    var statusObj = _.filter(self.allStatus, { key: history.status });
                    var url = "/user/" + history.activatedBy + "/profile.png";
                    self.$.http.get(url, assetService).then(function (result) {
                        if (result.hasOwnProperty('url') && !_.isUndefined(result.url) && !_.isNull(result.url)) {
                            _.extend(history, {
                                url: result.url,
                                fullName: history.activatedBy,
                                statusName: statusObj[0].value,
                                activeOn: history.activeOn
                            });
                        }
                        else {
                            _.extend(history, {
                                url: null,
                                fullName: history.activatedBy,
                                statusName: statusObj[0].value,
                                activeOn: history.activeOn
                            });
                        }
                    }).fail(function (e) {
                        _.extend(history, {
                            url: null,
                            fullName: history.activatedBy,
                            statusName: statusObj[0].value,
                            activeOn: history.activeOn
                        });
                        return '';
                    });
                });
                return historyList;
            },
            _changeTextDisplay: function (value) {
                if (!_.isNull(value) && !_.isUndefined(value) && !_.isEmpty(value))
                    return _.startCase(_.lowerCase(value));
                return "";
            },
            getTooltip: function (compName, Type) {
                var tooltip = this.$.authorize.getToolTip(compName, Type);
                if (!_.isNull(tooltip) && !_.isUndefined(tooltip) && !_.isEmpty(tooltip))
                    return tooltip.data;
                return "";
            }
        });
    </script>
</dom-module>