<dom-module id="call-personal-verifications">
    <template>
        <div class="slide-action">
            <button id="callpersonalverifications" on-click="callPersonalVerifications" class="btn btn-primary activity-action-btn">Personal Verifications</button>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "call-personal-verifications",
                init: function () {

                },
                callPersonalVerifications: function () {
                    var self = this;
                    var url = '/application/' + self.applicationNumber + '/verification/personal'
                    var appProcessorEndpoint = window.config.services.appProcessor;
                    self.$.http.post(url, {}, appProcessorEndpoint).then(function (data) {
                        self.raiseAppRefreshEvent();
                    }).fail(function (e) {
                        console.log("callPersonalVerifications error is " + e);
                    });
                },
                raiseAppRefreshEvent: function () {
                    this.$.utility.raiseEvent(this.fireEvent, {});
                }
            });
        });
    </script>
</dom-module>