<dom-module id="edit-cashflow">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }
        </style>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="CashflowDetails">
                    <div class="row">
                        <div class="col-md-12">
                            <vaadin-combo-box class="custom-input" name="cashflowAccount" id="cashflowAccount" value="[[selectedAccount]]" item-value-path="key"
                                item-label-path="value" items="[[accountList]]" label="Select Account" prevent-invalid-input="true"
                                on-change="_accountSelection" required>
                            </vaadin-combo-box>
                        </div>
                    </div>
                    <dynamic-form form-configuration={{cashflowObj}} values="{{cashflowObj.values}}"></dynamic-form>
                    <br/>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "edit-cashflow",
                properties: {
                    accountList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    selectedAccount: {
                        type: String,
                        notify: true,
                        value: ''
                    },
                    cashflowObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                NumberOfNegativeBalance: {
                                    label: "Number Of Negative Balance",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        "pattern": "NUMBER",
                                        "minLen": 1,
                                        "maxLen": 5,
                                        "autovalidate": true
                                    }
                                },
                                NumberOfNSF: {
                                    label: "Number Of NSF",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        "pattern": "NUMBER",
                                        "minLen": 1,
                                        "maxLen": 5,
                                        "autovalidate": true
                                    }
                                },
                                AverageDailyBalance: {
                                    label: "Average Daily Balance",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        "pattern": "DECIMAL",
                                        "minLen": 1,
                                        "maxLen": 10,
                                        "autovalidate": true
                                    }
                                },
                                AverageDeposit: {
                                    label: "Average Deposit",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        "pattern": "DECIMAL",
                                        "minLen": 1,
                                        "maxLen": 10,
                                        "autovalidate": true
                                    }
                                }
                            },
                            values: {
                                cashflowAccount: "",
                                NumberOfNegativeBalance: "",
                                NumberOfNSF: "",
                                AverageDailyBalance: "",
                                AverageDeposit: ""
                            }
                        }
                    }
                },
                _accountSelection: function (e) {
                    this._preFillCashflowData(_.find(this.accountList, ["key", e.target.value]));
                },
                _getAccountDetail: function () {
                    var self = this;
                    var url = "/application/" + self.applicationNumber + "/account/detail";
                    var appProcessorEndpoint = window.config.services.appProcessor;

                    self.$.http.get(url, appProcessorEndpoint).then(function (result) {
                        if (result != undefined) {
                            result = JSON.parse(result);

                            var tempList = _.transform(result, function (result, item) {
                                var val = item.InstitutionName + '-' + item.AccountID + '-' + item.AccountType;
                                result.push({ key: item.AccountID, value: val, InstitutionName: item.InstitutionName });
                            }, []);
                            self.set('accountList', $.extend([], tempList));
                            if (self.accountList != null && self.accountList.length > 0) {
                                self._preFillCashflowData(self.accountList[0]);
                            }
                        }
                    }).fail(function (e) {
                        console.error("_getAccountDetail error is ", e);
                    });
                },
                _preFillCashflowData: function (selectedCashflowAccount) {
                    var self = this;
                    var url = "/application/" + self.applicationNumber + "/attribute/cashflow";
                    var appProcessorEndpoint = window.config.services.appProcessor;
                    var reqdata = {};
                    reqdata.AccountId = selectedCashflowAccount.key;
                    reqdata.InstitutionName = selectedCashflowAccount.InstitutionName;

                    self.$.http.post(url, reqdata, appProcessorEndpoint).then(function (result) {
                        if (result != undefined) {
                            self.cashflowObj.values.cashflowAccount = selectedCashflowAccount.key;
                            self.cashflowObj.values.NumberOfNegativeBalance = result.numberOfNegativeBalance;
                            self.cashflowObj.values.NumberOfNSF = result.numberOfNSF;
                            self.cashflowObj.values.AverageDailyBalance = result.averageDailyBalance;
                            self.cashflowObj.values.AverageDeposit = result.averageDeposit;
                            self.selectedAccount = selectedCashflowAccount.key;
                            self.set('selectedAccount', selectedCashflowAccount.key);
                            self.set('cashflowObj', $.extend({}, self.cashflowObj));
                        }
                    }).fail(function (e) {
                        console.error("_getAccountDetail error is ", e);
                    });
                },
                _verifyForm: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var appProcessor = window.config.services.appProcessor;
                    var url = "/application/" + self.applicationNumber + "/edit/cashflow";
                    if (form.validate()) {
                        var reqdata = self.cashflowObj.values;
                        var selectedCashflowAccount = _.find(self.accountList, ["key", reqdata.cashflowAccount]);
                        reqdata.AccountId = selectedCashflowAccount.key;
                        reqdata.InstitutionName = selectedCashflowAccount.InstitutionName;
                        self.$.http.post(url, reqdata, appProcessor).then(function (data) {
                            self.raiseAppRefreshEvent();
                        }).fail(function (e) {
                            console.error("Choose account error is ", e);
                        });
                    }
                },
                init: function () {
                    this._getAccountDetail();
                },
                raiseAppRefreshEvent: function () {
                    this.$.utility.raiseEvent(this.fireEvent, {});
                }
            });
        });
    </script>
</dom-module>