<dom-module id="app-personal-info">
    <template>
        <style>
            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }

            address {
                margin-bottom: 20px;
                font-style: normal;
                line-height: 1.42857143;
            }

            strong {
                display: block;
            }
        </style>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <tr>
                        <th colspan="6" class="header">{{_getOwnerFullName(application)}}</th>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{_getOwnerAddress(application)}}</td>
                        <th>SSN</th>
                        <td>{{application.SSN}}</td>
                        <th>DOB</th>
                        <td>{{_formatDate(application.DOB, application)}}</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>{{_getOwnerPhone(application, application)}}</td>
                        <th>% Of Ownership</th>
                        <td>{{application.OwnershipPercentage}}</td>
                        <th></th>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "app-personal-info",
                properties: {
                    dataAttributes: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true,
                        observer: 'loadDataAttributes'
                    },
                    application: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true,
                    }
                },
                _formatDate: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date))
                        return formats.date(date, window.config.country, false);
                    return "NA";
                },
                _formateSSN: function (data) {
                    return data ? formats.ssn(data, window.config.country) : 'NA';
                },
                _getOwnerPhone: function (owner) {
                    var self = this;
                    if (owner) {
                        if (owner.PhoneNumbers != undefined) {
                            var phone = owner.PhoneNumbers[0].Phone;
                            return formats.phone(phone, window.config.country);
                        }
                    }
                    return "NA";
                },
                _getOwnerEmail: function (owner) {
                    var self = this;
                    if (owner) {
                        var email = owner.EmailAddresses[0].Email;
                        return email;
                    }
                    return "NA";
                },
                _getOwnerFullName: function (owner) {
                    if (owner) {
                        return owner.FirstName + " " + owner.LastName;
                    }
                },
                _checkNullUndefined: function (obj) {
                    if (obj && obj != null) {
                        return obj;
                    }
                    return '';
                },
                _getOwnerAddress: function (owner) {
                    var address = '';
                    if (owner && owner != null && owner.Addresses && owner.Addresses != null &&
                        owner.Addresses.length > 0) {
                        var ownerAddress = owner.Addresses[0];
                        address = this._checkNullUndefined(ownerAddress.AddressLine1) + ' ' + this._checkNullUndefined(ownerAddress.AddressLine2) + ' ' +
                            this._checkNullUndefined(ownerAddress.City) + ' ' + this._checkNullUndefined(ownerAddress.State) + ' ' +
                            this._checkNullUndefined(ownerAddress.PinCode);
                    } else {
                        "NA"
                    }
                    return address;
                },
                _checkIfEmptyObject: function (obj) {
                    return Object.keys(obj).length === 0 && obj.constructor === Object;
                },
                init: function () {

                },
                loadDataAttributes: function () {
                    var self = this;
                    var data = self.dataAttributes;
                    if (data != undefined && data != null && data != "") {
                        if (data.application.owners !== undefined) {
                            var primaryBorrower = _.find(data.application.owners, ['IsPrimary', true]);
                            self.set('application', primaryBorrower);
                        }
                    }
                }
            });
        });
    </script>
</dom-module>