<dom-module id="admin-dashboard">
    <template>
        <div class="row">
            <div class="col-md-12">
                <div id="ErrorMessge"></div>
                <breadcrumb-links show-content="true"></breadcrumb-links>
            </div>
        </div>
        <br />
        <br />
        <table id="userList" class="table table-striped" width="100%" cellspacing="0"></table>
        <url-parser id="urlai"></url-parser>
        <http-request id="httpai"></http-request>
        <alloy-config id="configai"></alloy-config>
        <message-component id="message"></message-component>
    </template>
    <script>
        Polymer({
            is: "admin-dashboard",
            properties: {
                jsonObj: {
                    type: Object,
                    notify: true
                },
                items: {
                    type: Array,
                    notify: true,
                    value: []
                },
                itemsLoaded: {
                    type: Boolean,
                    notify: true,
                    value: false
                },
                filterName: {
                    type: String,
                    notify: true,
                    value: ""
                },
                backofficeUsers: {
                    type: Array,
                    value: []
                }
            },
            attached: function () {
                window.addEventListener("hashchange", this.createHashChangedHandler());
                this._loadPortalUsers();
            },
            detached: function () {
                window.removeEventListener("hashchange", this.onHashChanged);
            },
            createHashChangedHandler: function () {
                this.onHashChanged = function () {
                    var self = this;
                    var currentMicroApp = window.location.hash.slice(2).split("/")[0];
                    if (self.microAppName === currentMicroApp) {
                        this._loadPortalUsers();
                    }
                }.bind(this);
                return this.onHashChanged;
            },
            _hasLoans: function (loans) {
                return this.items.length > 0;
            },
            _changeUserStatus: function (userObj) {
                var self = this;
                var url = "/user";
                url = url + (userObj.isActive ? "/deactivate/" + userObj.username : "/activate/" + userObj.username);
                self.$.httpai.put(url, {}, "").then(function (result) {
                    self._initializeFilterItems();
                }).fail(function (e) {
                    self.$.message.showMessage(e.responseJSON.message, "ERROR", self.$.ErrorMessge);
                    console.error("Error while updating user status. ", e);
                });
            },
            _clearTable: function (table) {
                if (table !== null && table !== undefined) {
                    table.clear();
                    table.destroy();
                }
            },
            _showResult: function (resultData) {
                var self = this;
                var table = self.tableObj;
                if (table !== null && table !== undefined) {
                    self._clearTable(table);
                }
                self.tableObj = $(this.$$('#userList')).DataTable({
                    retrieve: true,
                    dom: "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    language: {
                        "zeroRecords": "No data found."
                    },
                    data: resultData,
                    columns: self.jsonObj.columns,
                    columnDefs: self.jsonObj.columnDefs,
                    order: self.jsonObj.order
                });

                $('#userList tbody').on('click', 'button', function () {
                    var _this = $(this);
                    var data = self.tableObj.row(_this.parents('tr')).data();
                    if (_this.data('buttonName') === "edit") {
                        self._openLoanView(data);
                    }
                    else {
                        self._changeUserStatus(data);
                    }
                });

                //Grid header tooltip
                setTimeout(function () {
                    var configData = self.tableObj.settings().aoColumns;
                    $('#userList thead tr')[0].childNodes.forEach(function (obj) {
                        var tooltipObj = _.filter(configData, { title: obj.innerText })
                        if (!_.isUndefined(tooltipObj) && !_.isNull(tooltipObj) && !_.isEmpty(tooltipObj)) {
                            var tooltip = tooltipObj[0].tooltip;
                            if (tooltip !== "" && tooltip !== undefined) {
                                $(obj).attr('title', tooltip);
                            }
                        }
                    });
                }, 800);
            },
            _initializeFilterItems: function () {
                var self = this;
                var url = _.join(self.backofficeUsers, '/');
                self.$.httpai.get("/all/users/" + url, "",true).then(function (data) {
                    if (data) {
                        var boUsers = _.filter(data, function (user) {
                            var commonRoles = _.intersection(self.backofficeUsers, user.roles);
                            return commonRoles.length > 0;
                        });
                        self._showResult(boUsers);
                    }
                }).fail(function (e) {
                    console.error("Filter error is ", e);
                });
            },
            _loadPortalUsers: function () {
                var self = this;
                var params = self.$.urlai.getParams();
                self.set('filterName', params.filter);
                var roleName = self.$.configai.getConfigurationBasedOnKey("portalRole");
                if (roleName !== "") {
                    var configUrl = "/roles/" + roleName + "/children";
                    self.$.httpai.get(configUrl, "").then(function (data) {
                        self.set('backofficeUsers', data);
                        self._loadConfig();
                    }).fail(function (e) {
                        console.error("_loadPortalUsers error is ", e);
                    });
                }
            },
            _loadConfig: function () {
                var self = this;
                var data = self.$.configai.getConfigurationBasedOnKey("filters");
                var config = _.cloneDeep(data[self.filterName]);
                var columnLength = config.columns.length;
                for (var i = 0; i < columnLength; i++) {
                    if (config.columns[i].render != undefined) {
                        var render = config.columns[i].render;
                        if (config.columns[i].isFunction) {
                            config.columns[i].render = eval("(" + render + ")");
                        }
                        else {
                            config.columns[i].render = eval(render);
                        }
                    }
                }
                self.set("jsonObj", config);
                self._initializeFilterItems();
            },
            _openLoanView: function (data) {
                window.location.hash = "/update-user/id:" + data.id;
            }
        });
    </script>
</dom-module>