<dom-module id="workflow-list">
    <template>
        <style>
            .custom-input {
                --paper-slider-input: {
                    width: 70px;
                }
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .twoRow {
                display: inline-block !important;
                margin: 0px 0px !important;
                width: 49% !important;
            }

            .twoRow .col-md-12 {
                padding: 0 2px;
            }
        </style>
        <div id="MessageContainer"></div>
        <template is="dom-if" if="{{isActiveProduct(productStatus)}}">
            <template is="dom-if" if="{{hasRole('AddEditWorkFlowBtn')}}">
                <div class="pull-right">
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_addEditWorkflow" raised>Add Workflow</paper-button>
                </div>
            </template>
        </template>
        <table id="workflowTable" class="table table-striped" width="100%" cellspacing="0">
        </table>
        <custom-modal id="addEditWorkflow" class="modal-drop" on-modal-hidden="resetModal">
            <div>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title EditTitle"></h4>
                        </div>
                        <div class="modal-body">
                            <div id="ErrorMessge" style="display: none;">
                                <p></p>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <form is="iron-form" class="form-horizontal" name="workflowEntryForm">
                                        <div class="row twoRow">
                                            <div class="col-md-12">
                                                <vaadin-combo-box class="custom-input" name="Role" value="{{selectedEntityType}}" item-value-path="value" item-label-path="key"
                                                    items="{{lookupData}}" label="Entity Type" on-change="_entityTypeChanged"
                                                    prevent-invalid-input="true" required>
                                                </vaadin-combo-box>
                                            </div>
                                        </div>
                                        <dynamic-form form-configuration="{{workflowForm}}" values="{{workflowForm.values}}"></dynamic-form>
                                        <br/>
                                        <template is="dom-if" if="{{hasRole('AddEditWorkFlowBtn')}}">
                                            <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                                        </template>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <auth-service id="authorize"></auth-service>
        <lookup-service id="lookup"></lookup-service>
        <session-manager id="session"></session-manager>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "workflow-list",
                properties: {
                    productStatus: {
                        type: String,
                        notify: true,
                        value: "Active"
                    },
                    workflowId: {
                        type: String,
                        notify: true
                    },
                    productId: {
                        type: String,
                        notify: true
                    },
                    lookupData: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    selectedEntityType: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    expiryDate: {
                        type: Date,
                        notify: true
                    },
                    workflowList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    workflowForm: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                WorkFlowName: {
                                    label: "Work Flow Name",
                                    type: "combobox",
                                    class: "twoRow",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                WorkFlowType: {
                                    label: "Work Flow Type",
                                    type: "combobox",
                                    class: "twoRow",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                Description: {
                                    label: "Description",
                                    type: "textbox",
                                    class: "twoRow",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                ValidFrom: {
                                    label: "Valid From",
                                    type: "date",
                                    class: "twoRow",
                                    format: "MM/DD/YYYY",
                                    validations: {
                                        required: true
                                    }
                                },
                                ExpiresOn: {
                                    label: "Expires On",
                                    type: "date",
                                    class: "twoRow",
                                    format: "MM/DD/YYYY",
                                    validations: {
                                        required: true
                                    }
                                }
                            },
                            values: {
                                WorkFlowName: "",
                                WorkFlowType: "",
                                Description: "",
                                ValidFrom: "",
                                ExpiresOn: ""
                            }
                        }
                    }
                },
                _entityTypeChanged: function (event) {
                    this._loadWorkflowName(event.target.value);
                },
                _loadEntityTypes: function () {
                    var self = this;
                    var catList = this.$.lookup.getLookupBasedOnName("entityTypes");
                    var workflowTypeList = this.$.lookup.getLookupBasedOnName("workflow-type");
                    var workflowForm = _.cloneDeep(self.get('workflowForm'));
                    workflowForm.controls.WorkFlowType.selectList = workflowTypeList;
                    self.set('workflowForm', workflowForm);
                    self.set('lookupData', catList);
                    self.loadWorkflow();
                },
                _loadWorkflowName: function (objEntityTypes) {
                    var self = this;
                    var workflowForm = _.cloneDeep(self.get('workflowForm'));
                    if (workflowForm != undefined) {
                        var statusConfig = self.$.session.getObject('status-management');
                        if (objEntityTypes !== undefined && objEntityTypes !== "") {
                            var entityBaseConfig = statusConfig[objEntityTypes];
                            if (entityBaseConfig) {
                                var statusWorkFlows = entityBaseConfig.StatusWorkFlows;
                                var flowList = _.transform(statusWorkFlows, function (result, element) {
                                    result.push({ key: element.Name, value: element.Name });
                                }, []);
                                workflowForm.controls.WorkFlowName.selectList = flowList;
                                workflowForm.values.WorkFlowName = "";
                                self.set('workflowForm', workflowForm);
                            }
                        }
                        else {
                            workflowForm.controls.WorkFlowName.selectList = [];
                            workflowForm.values.WorkFlowName = "";
                            self.set('workflowForm', workflowForm);
                        }
                    }
                },
                ready: function () {
                    this._loadEntityTypes();
                },
                loadWorkflow: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    self.productId = params.productId;
                    var url = "/" + params.productId + "/all/work-flow";
                    var multiProducts = window.config.services.multiProducts;
                    self.$.http.get(url, multiProducts).then(function (data) {
                        self.set("workflowList", data);
                        self._showResult(self.workflowList);
                    }).fail(function (e) {
                        console.error("alert error is ", e);
                    });
                },
                _showResult: function (resultData) {
                    var self = this;
                    var table = self.tableObj;
                    if (table !== null && table !== undefined) {
                        table.clear();
                        table.destroy();
                    }
                    $.fn.dataTable.ext.errMode = 'none';
                    self.tableObj = $(this.$$('#workflowTable')).DataTable({
                        retrieve: true,
                        dom: "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                        language: {
                            "zeroRecords": "No data found."
                        },
                        data: resultData,
                        order: [[0, "desc"]],
                        columnDefs: [
                            {
                                targets: 0,
                                width: "10%",
                                orderable: true
                            },
                            {
                                targets: 1,
                                width: "15%",
                                orderable: true
                            },
                            {
                                targets: 2,
                                width: "15%"
                            },
                            {
                                targets: 3,
                                width: "30%"
                            },
                            {
                                targets: 4,
                                width: "10%"
                            },
                            {
                                targets: 5,
                                width: "10%"
                            },
                            {
                                targets: 6,
                                width: "5%",
                                orderable: false
                            }
                        ],
                        columns: [
                            {
                                "data": "entityType",
                                "title": "Entity Type",
                                "tooltip": "Entity Type"
                            },
                            {
                                "data": "workFlowName",
                                "title": "Work Flow Name",
                                "tooltip": "Work Flow Name"
                            },
                            {
                                "data": "workFlowType",
                                "title": "Work Flow Type",
                                "tooltip": "Work Flow Type"
                            },
                            {
                                "data": "description",
                                "title": "Description",
                                "tooltip": "Description"
                            },
                            {
                                "data": "validFrom.time",
                                "title": "Valid From",
                                "isFunction": true,
                                "render": eval("(function(data,type,full,meta) { if (!data) {  return ''; } return moment(data).format('MM/DD/YYYY');})"),
                                "tooltip": "Valid From"
                            },
                            {
                                "data": "expiresOn.time",
                                "title": "Expires On",
                                "isFunction": true,
                                "render": eval("(function(data,type,full,meta) { if (!data) {  return ''; } return moment(data).format('MM/DD/YYYY');})"),
                                "tooltip": "Expires On"
                            },
                            {
                                "data": null,
                                "isFunction": true,
                                "render": eval("(function(data,type,full,meta){var editWorkFlow=''; if(((self.hasRole('ViewWorkFlowBtn') == true) || (self.hasRole('AddEditWorkFlowBtn') == true))){ EditWorkFlow=\"<li><a on-click='editWorkFlow' href='javascript:'>Edit</a></li>\" }; if(self.productStatus === 'Active'){ return \"<ul class='nav navbar-right' style='font-size:15px; margin: 0 0 0 0;'><li class='dropdown'><a href='javascript:' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-expanded='false' style='padding: 3px 0px 0 5px;'><i class='fa fa-ellipsis-h' aria-hidden='true'></i></a><ul class='dropdown-menu'>\" + EditWorkFlow + \"</ul></li></ul>\" } else {return '';}})")
                            }
                        ]
                    });
                    $('#workflowTable tbody').on('click', 'a', function (obj) {
                        var data = self.tableObj.row($(this).parents('tr')).data();
                        if (this.getAttribute("on-click") !== null && this.getAttribute("on-click") !== undefined) {
                            if (obj.target.textContent === "Edit") {
                                self.editWorkFlow(data.id);
                            }
                        }
                    });
                },
                hasRole: function (RoleName) {
                    return this.$.authorize.hasRole(RoleName);
                },
                resetModal: function () {
                    var self = this;
                    self.workflowId = "";
                    self.selectedEntityType = "";
                    var workflowObj = _.cloneDeep(self.workflowForm);
                    workflowObj.values.WorkFlowName = "";
                    workflowObj.values.WorkFlowType = "";
                    workflowObj.values.Description = "";
                    workflowObj.values.ValidFrom = "";
                    workflowObj.values.ExpiresOn = "";
                    self.set('workflowForm', workflowObj);
                },
                _addEditWorkflow: function (event) {
                    event.preventDefault();
                    var self = this;
                    self.workflowId = "";
                    self.selectedEntityType = "";
                    var workflowObj = _.cloneDeep(self.workflowForm);
                    workflowObj.values.WorkFlowName = "";
                    workflowObj.values.WorkFlowType = "";
                    workflowObj.values.Description = "";
                    workflowObj.values.ValidFrom = moment().format("YYYY-MM-DD");
                    workflowObj.values.ExpiresOn = self.expiryDate;
                    self.set('workflowForm', workflowObj);
                    $('.EditTitle').text("Add Workflow");
                    self.$$('#addEditWorkflow').showModal();
                },
                _verifyForm: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var multiProducts = window.config.services.multiProducts;
                    if (form.validate() && self.selectedEntityType !== "") {
                        var payload = self.workflowForm.values;
                        payload.EntityType = self.selectedEntityType;
                        if (!_.isUndefined(self.workflowId) && !_.isNull(self.workflowId) && !_.isEmpty(self.workflowId)) {
                            var url = "/" + self.productId + "/" + self.workflowId + "/work-flow";
                            self.$.http.put(url, payload, multiProducts).then(function (result) {
                                $('.close').click();
                                self.loadWorkflow();
                            }).fail(function (e) {
                                var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                                self.$.message.showMessage(strMessage, "ERROR", self.$.MessageContainer);
                            });
                        }
                        else {
                            var url = "/" + self.productId + "/work-flow";
                            self.$.http.post(url, Payload, multiProducts).then(function (result) {
                                $('.close').click();
                                self.loadWorkflow();
                            }).fail(function (e) {
                                var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                                self.$.message.showMessage(strMessage, "ERROR", self.$.MessageContainer);
                            });
                        }
                    }
                },
                editWorkFlow: function (objId) {
                    var self = this;
                    var productObj = _.find(self.workflowList, ["id", objId]);
                    self._loadWorkflowName(productObj.entityType);
                    self.workflowId = productObj.id;
                    var workflowObj = _.cloneDeep(self.workflowForm);
                    self.selectedEntityType = productObj.entityType
                    workflowObj.values.WorkFlowName = productObj.workFlowName;
                    workflowObj.values.WorkFlowType = productObj.workFlowType;
                    workflowObj.values.Description = productObj.description;
                    workflowObj.values.ValidFrom = moment(productObj.validFrom.time).format("YYYY-MM-DD");
                    workflowObj.values.ExpiresOn = moment(productObj.expiresOn.time).format("YYYY-MM-DD");
                    self.set('workflowForm', workflowObj);
                    var text = "Edit " + self._changeTextDisplay(productObj.consentName) + " Workflow";
                    $('.EditTitle').text(text);
                    self.$$('#addEditWorkflow').showModal();
                },
                _changeTextDisplay: function (value) {
                    if (!_.isNull(value) && !_.isUndefined(value) && !_.isEmpty(value))
                        return _.startCase(_.lowerCase(value));
                    return "";
                },
                isActiveProduct: function (obj) {
                    return obj === "Active" ? true : false;
                }
            });
        });
    </script>
</dom-module>