<dom-module id="product-fees">
    <template>
        <div id="MessageContainer"></div>
        <template is="dom-if" if="{{checkIfActiveProduct(productStatus)}}">
            <template is="dom-if" if="{{hasRole('AddEditFeeBtn')}}">
                <div class="pull-right">
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_addEditFee" raised>Add Fee</paper-button>
                </div>
            </template>
        </template>
        <table id="feeTable" class="table table-striped" width="100%" cellspacing="0">
        </table>
        <custom-modal id="addEditFee" class="modal-drop" on-modal-hidden="resetModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title editFeesTitle"></h4>
                    </div>
                    <div class="modal-body">
                        <div id="feesErrorMessge" style="display: none;">
                            <p></p>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form is="iron-form" class="form-horizontal" name="feesForm">
                                    <dynamic-form form-configuration={{feesForm}} values="{{feesForm.values}}"></dynamic-form>
                                    <br/>
                                    <template is="dom-if" if="{{hasRole('AddEditFeeBtn')}}">
                                        <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                                    </template>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <auth-service id="authorize"></auth-service>
        <lookup-service id="lookup"></lookup-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "product-fees",
                properties: {
                    productStatus: {
                        type: String,
                        notify: true,
                        value: "Active"
                    },
                    feeId: {
                        type: String,
                        notify: true
                    },
                    productId: {
                        type: String,
                        notify: true
                    },
                    feeList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    feesForm: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                FeeId: {
                                    label: "Fee Id",
                                    type: "textbox",
                                    class: "twoRow",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                Name: {
                                    label: "Name",
                                    type: "textbox",
                                    class: "twoRow",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                AppliedOnType: {
                                    label: "Applied On Type",
                                    type: "combobox",
                                    class: "twoRow",
                                    selectList: [
                                        { key: "LMS", value: "LMS" },
                                        { key: "LOS", value: "LOS" }
                                    ],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                FrequencyType: {
                                    label: "Frequency Type",
                                    type: "combobox",
                                    class: "twoRow",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                FeeType: {
                                    label: "Fee Type",
                                    type: "combobox",
                                    class: "twoRow",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                Description: {
                                    label: "Description",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                GroupId: {
                                    label: "GroupId",
                                    type: "combobox",
                                    class: "twoRow",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                Events: {
                                    label: "Applicable Events",
                                    type: "textbox",
                                    class: "twoRow",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                Type: {
                                    label: "Calculation Type",
                                    type: "combobox",
                                    class: "twoRow",
                                    selectList: [
                                        { key: "Rule", value: "Rule" },
                                        { key: "Value", value: "Value" }
                                    ],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                RuleType: {
                                    label: "Calculation Rule Id",
                                    type: "combobox",
                                    class: "twoRow",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: false
                                    }
                                },
                                FeeAmount: {
                                    label: "Fee Amount",
                                    type: "textbox",
                                    class: "twoRow",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                IsSystem: {
                                    label: "Is System",
                                    type: "checkbox",
                                    validations: {
                                        required: false,
                                        disabled: true
                                    }
                                },
                                AutoPay: {
                                    label: "AutoPay",
                                    type: "checkbox",
                                    validations: {
                                        required: false,
                                        disabled: false
                                    }
                                },
                                IsAccrue: {
                                    label: "Is Accrue",
                                    type: "checkbox",
                                    validations: {
                                        required: false,
                                        disabled: false
                                    }
                                }
                            },
                            values: {
                                FeeId: "",
                                Name: "",
                                AppliedOnType: "",
                                FrequencyType: "",
                                FeeType: "",
                                Description: "",
                                GroupId: "",
                                Events: "",
                                Type: "",
                                RuleType: "",
                                FeeAmount: "",
                                AutoPay: false,
                                IsAccrue: false,
                                IsSystem: false
                            }
                        }
                    }
                },
                observers: [
                    'calculationTypeChange(feesForm.values.Type)'
                ],
                calculationTypeChange: function (val) {
                    var self = this;
                    if (val === "Rule") {
                        $("input[name*='RuleType']").parent().parent().parent().show();
                        $("paper-input[id^='FeeAmount']").hide();
                    }
                    else {
                        $("paper-input[id^='FeeAmount']").show();
                        $("input[name*='RuleType']").parent().parent().parent().hide();
                    }
                },
                checkIfActiveProduct: function (obj) {
                    return obj === "Active" ? true : false;
                },
                hasRole: function (RoleName) {
                    return this.$.authorize.hasRole(RoleName);
                },
                ready: function () {
                    var params = this.$.url.getParams();
                    this.set('productId', params.productId);
                    this.loadFeesList();
                },
                loadFeesList: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    self.set('productId', params.productId);
                    var url = "/" + params.productId + "/all/feeparameter";
                    var multiProducts = window.config.services.multiProducts;
                    self.$.http.get(url, multiProducts).then(function (data) {
                        var updatedData = _.reject(data, ['feeId', null]);
                        self.set('feeList', data);
                        self._showResult(self.feeList);
                        self._getLookupData();
                    }).fail(function (e) {
                        console.error("alert error is ", e);
                    });
                },
                _showResult: function (resultData) {
                    var self = this;
                    var table = self.tableObj;
                    if (table !== null && table !== undefined) {
                        table.clear();
                        table.destroy();
                    }
                    $.fn.dataTable.ext.errMode = 'none';
                    self.tableObj = $(this.$$('#feeTable')).DataTable({
                        retrieve: true,
                        dom: "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                        language: {
                            "zeroRecords": "No data found."
                        },
                        data: resultData,
                        order: [[0, "desc"]],
                        columnDefs: [
                            {
                                targets: 0,
                                width: "10%",
                                orderable: true
                            },
                            {
                                targets: 1,
                                width: "15%",
                                orderable: true
                            },
                            {
                                targets: 2,
                                width: "20%"
                            },
                            {
                                targets: 3,
                                width: "10%"
                            },
                            {
                                targets: 4,
                                width: "10%"
                            },
                            {
                                targets: 5,
                                width: "10%"
                            },
                            {
                                targets: 6,
                                width: "10%"
                            },
                            {
                                targets: 7,
                                width: "5%",
                                orderable: false
                            }
                        ],
                        columns: [
                            {
                                "data": "feeId",
                                "title": "Fee Id",
                                "tooltip": "Fee Id"
                            },
                            {
                                "data": "name",
                                "title": "Name",
                                "tooltip": "Name"
                            },
                            {
                                "data": "description",
                                "title": "Description",
                                "tooltip": "Description"
                            },
                            {
                                "data": "feeAmount",
                                "title": "Amount",
                                "tooltip": "Fee Amount"
                            },
                            {
                                "data": "feeType",
                                "title": "Fee Type",
                                "tooltip": "Fee Type"
                            },
                            {
                                "data": "appliedOnType",
                                "title": "AppliedOn Type",
                                "tooltip": "AppliedOn Type"
                            },
                            {
                                "data": "isAccrue",
                                "title": "Accrue?",
                                "tooltip": "Is Accrue",
                                "isFunction": true,
                                "render": eval("(function(data,type,full,meta) { if (data) {  return \"Yes\"; } return \"No\";})")
                            },
                            {
                                "data": null,
                                "isFunction": true,
                                "render": eval("(function(data,type,full,meta){var editFee=''; if(((self.hasRole('ViewFeeBtn') == true) || (self.hasRole('AddEditFeeBtn') == true))){ editFee=\"<li><a on-click='_editFee' href='javascript:'>Edit</a></li>\" }; if(self.productStatus === 'Active'){ return \"<ul class='nav navbar-right' style='font-size:15px; margin: 0 0 0 0;'><li class='dropdown'><a href='javascript:' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-expanded='false' style='padding: 3px 0px 0 5px;'><i class='fa fa-ellipsis-h' aria-hidden='true'></i></a><ul class='dropdown-menu'>\" + editFee + \"</ul></li></ul>\" }else{return '';}})")
                            }
                        ]
                    });
                    $('#feeTable tbody').on('click', 'a', function (obj) {
                        var data = self.tableObj.row($(this).parents('tr')).data();
                        if (this.getAttribute("on-click") !== null && this.getAttribute("on-click") !== undefined) {
                            if (obj.target.textContent === "Edit") {
                                self._editFee(data.id);
                            }
                        }
                    });
                },
                _getLookupData: function () {
                    var feeList = this.$.lookup.getLookupBasedOnName("feetypes");
                    var frqList = this.$.lookup.getLookupBasedOnName("frequency-type");
                    var feesForm = _.cloneDeep(this.get('feesForm'));
                    feesForm.controls.FrequencyType.selectList = frqList;
                    feesForm.controls.FeeType.selectList = feeList;
                    this.set('feesForm', feesForm);
                    this.getApplicationDatacalculation();
                },
                getApplicationDatacalculation: function () {
                    var self = this;
                    var url = "/application/ruledetails/calculation";
                    var productRule = window.config.services.productRule;
                    self.$.http.get(url, productRule).then(function (data) {
                        self.getDrawdownDatacalculation(data);
                    }).fail(function (e) {
                        self.getDrawdownDatacalculation([]);
                        console.error("getApplicationDatacalculation error is ", e);
                    });
                },
                getDrawdownDatacalculation: function (objData) {
                    var self = this;
                    var url = "/drawdown/ruledetails/calculation";
                    var productRule = window.config.services.productRule;
                    self.$.http.get(url, productRule).then(function (data) {
                        var mergeData = _.concat(objData, data);
                        var calculation = _.transform(mergeData, function (result, rule) {
                            result.push({ key: rule.id, value: rule.ruleName });
                        }, []);
                        self.loadGroupId(calculation);
                    }).fail(function (e) {
                        console.error("Drawdown score card ", e);
                    });
                },
                loadGroupId: function (calculationData) {
                    var self = this;
                    var url = "/" + self.productId + "/all/group";
                    var multiProducts = window.config.services.multiProducts;
                    self.$.http.get(url, multiProducts).then(function (data) {
                        var grpData = _.transform(data, function (result, grp) {
                            result.push({ key: grp.id, value: grp.name });
                        }, []);
                        self.set("groupIdList", grpData);
                        self.set("calculationList", calculationData);
                        var feesForm = _.cloneDeep(self.get('feesForm'));
                        feesForm.controls.RuleType.selectList = calculationData;
                        feesForm.controls.GroupId.selectList = grpData;
                        self.set('feesForm', feesForm);
                    }).fail(function (e) {
                        console.error("alert error is ", e);
                    });
                },
                _blankValuesObj: function () {
                    return {
                        FeeId: "",
                        Name: "",
                        AppliedOnType: "",
                        FrequencyType: "",
                        FeeType: "",
                        Description: "",
                        GroupId: "",
                        Events: "",
                        Type: "",
                        RuleType: "",
                        FeeAmount: "",
                        AutoPay: false,
                        IsAccrue: false,
                        IsSystem: false
                    };
                },
                _addEditFee: function (event) {
                    event.preventDefault();
                    this.resetModal();
                    $('.editFeesTitle').text("Add Fee");
                    this.$$('#addEditFee').showModal();
                },
                _editFee: function (feeId) {
                    var self = this;
                    var title = "Add Fee";
                    var feeObj = _.find(self.feeList, ['id', feeId]);
                    if (feeObj) {
                        self.feeId = feeObj.id;
                        var feeConObj = _.cloneDeep(self.feesForm);
                        feeConObj.values.FeeId = feeObj.feeId;
                        feeConObj.values.Name = feeObj.name;
                        feeConObj.values.Description = feeObj.description;
                        feeConObj.values.FeeType = feeObj.feeType;
                        feeConObj.values.FrequencyType = feeObj.feePaymentFrequency;
                        feeConObj.values.AppliedOnType = feeObj.appliedOnType;
                        feeConObj.values.Events = _.join(feeObj.applicableEvents, ',');
                        feeConObj.values.GroupId = feeObj.groupId;
                        feeConObj.values.IsSystem = feeObj.isSystem;
                        feeConObj.values.IsAccrue = feeObj.isAccrue;
                        feeConObj.values.AutoPay = feeObj.autoPay;
                        feeConObj.controls.Name.validations.readonly = feeObj.isSystem ? true : false;
                        if (feeObj.feeAmount != 0) {
                            feeConObj.values.Type = "Value";
                            $("input[name*='RuleType']").parent().parent().parent().hide()
                            $("paper-input[id^='FeeAmount']").show();
                            feeConObj.values.FeeAmount = feeObj.feeAmount;
                            feeConObj.values.RuleType = "";
                        }
                        else {
                            feeConObj.values.Type = "Rule";
                            $("input[name*='RuleType']").parent().parent().parent().show()
                            $("paper-input[id^='FeeAmount']").hide();
                            feeConObj.values.FeeAmount = "";
                            feeConObj.values.RuleType = feeObj.calculationRule;
                        }
                        self.set('feesForm', feeConObj);
                        title = "Edit " + _.startCase(_.lowerCase(feeObj.name)); + " Fee";
                    }
                    $('.editFeesTitle').text(title);
                    this.$$('#addEditFee').showModal();
                },
                resetModal: function () {
                    this.feeId = "";
                    var values = this._blankValuesObj();
                    var feesFormObj = _.cloneDeep(this.feesForm);
                    feesFormObj.values = values;
                    this.set('feesForm', feesFormObj);
                },
                _verifyForm: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var multiProducts = window.config.services.multiProducts;
                    var feeObj = self.feesForm.values;
                    if (form.validate()) {
                        var payload = {
                            FeeId: feeObj.FeeId,
                            Name: feeObj.Name,
                            Description: feeObj.Description,
                            FeeType: feeObj.FeeType,
                            FrequencyType: feeObj.FrequencyType,
                            AppliedOnType: feeObj.AppliedOnType,
                            GroupId: feeObj.GroupId,
                            IsAccrue: feeObj.IsAccrue,
                            AutoPay: feeObj.AutoPay,
                            IsSystem: feeObj.IsSystem,
                            ApplicableRule: ""
                        };
                        if (feeObj.Events) {
                            payload.Events = _.split(feeObj.Events, ',');
                        }
                        if (feeObj.Type === "Rule") {
                            payload.FeeAmount = 0;
                            payload.CalculationRule = feeObj.RuleType;
                        }
                        else {
                            payload.FeeAmount = parseInt(feeObj.FeeAmount, 10);
                            payload.CalculationRule = "";
                        }
                        if (!_.isUndefined(self.feeId) && !_.isNull(self.feeId) && !_.isEmpty(self.feeId)) {
                            var url = "/" + self.feeId + "/feeparameter";
                            self.$.http.put(url, payload, multiProducts).then(function (result) {
                                $('.close').click();
                                self.init();
                            }).fail(function (e) {
                                var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                                self.$.message.showMessage(strMessage, "ERROR", self.$.MessageContainer);
                            });
                        }
                        else {
                            var url = "/" + self.productId + "/feeparameter";
                            self.$.http.post(url, payload, multiProducts).then(function (result) {
                                $('.close').click();
                                self.init();
                            }).fail(function (e) {
                                var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                                self.$.message.showMessage(strMessage, "ERROR", self.$.MessageContainer);
                            });
                        }
                    }
                }
            });
        });
    </script>
</dom-module>