<dom-module id="parameter-list">
    <template>
        <style>
            .custom-input {
                --paper-slider-input: {
                    width: 70px;
                }
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .twoRow {
                display: inline-block !important;
                margin: 0px 0px !important;
                width: 49% !important;
            }

            .twoRow .col-md-12 {
                padding: 0 2px;
            }
        </style>
        <div id="MessageContainer"></div>
        <template is="dom-if" if="{{isActiveProduct(productStatus)}}">
            <template is="dom-if" if="{{hasRole('AddEditParameterBtn')}}">
                <div class="pull-right">
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_addEditParameter" raised>Add Parameter</paper-button>
                </div>
            </template>
        </template>
        <table id="parameterTable" class="table table-striped" width="100%" cellspacing="0">
        </table>
        <custom-modal id="addEditParameter" class="modal-drop" on-modal-hidden="resetModal">
            <div>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title EditTitle"></h4>
                        </div>
                        <div class="modal-body">
                            <div id="ErrorMessge" style="display: none;">
                                <p></p>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <form is="iron-form" class="form-horizontal" name="parameterForm">
                                        <dynamic-form form-configuration={{parameterForm}} values="{{parameterForm.values}}"></dynamic-form>
                                        <div class="row twoRow">
                                            <div class="col-md-12">
                                                <vaadin-combo-box class="custom-input" name="Role" value="{{selectedUnitValue}}" item-value-path="value" item-label-path="key"
                                                    items="{{lookupData}}" label="Unit Value" prevent-invalid-input="true" required>
                                                </vaadin-combo-box>
                                            </div>
                                        </div>
                                        <br/>
                                        <template is="dom-if" if="{{hasRole('AddEditParameterBtn')}}">
                                            <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                                        </template>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <auth-service id="authorize"></auth-service>
        <lookup-service id="lookup"></lookup-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "parameter-list",
                properties: {
                    productStatus: {
                        type: String,
                        notify: true,
                        value: "Active"
                    },
                    parameterId: {
                        type: String,
                        notify: true
                    },
                    productId: {
                        type: String,
                        notify: true
                    },
                    selectedUnitValue: {
                        type: String,
                        notify: true
                    },
                    parameterList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    groupIdList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    calculationList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    applicableList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    typeChanges: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    parameterForm: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                Name: {
                                    label: "Name",
                                    type: "textbox",
                                    class: "twoRow",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                ParameterType: {
                                    label: "Parameter Type",
                                    type: "combobox",
                                    class: "twoRow",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                Purpose: {
                                    label: "Purpose",
                                    type: "textbox",
                                    class: "twoRow",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                IsSystem: {
                                    label: "Is System",
                                    type: "checkbox",
                                    class: "twoRow",
                                    validations: {
                                        required: false,
                                        disabled: true
                                    }
                                },
                                Description: {
                                    label: "Description",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                GroupId: {
                                    label: "GroupId",
                                    type: "combobox",
                                    class: "twoRow",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                ApplicableEvents: {
                                    label: "Applicable Events",
                                    type: "textbox",
                                    class: "twoRow",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                Type: {
                                    label: "Calculation Type",
                                    type: "combobox",
                                    class: "twoRow",
                                    selectList: [
                                        { key: "Rule", value: "Rule" },
                                        { key: "Value", value: "Value" }
                                    ],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                RuleType: {
                                    label: "Calculation Rule Id",
                                    type: "combobox",
                                    class: "twoRow",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: false
                                    }
                                },
                                LookUpValue: {
                                    label: "Lookup For Value",
                                    type: "textbox",
                                    class: "twoRow",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                LookUpValueType: {
                                    label: "Lookup For Unit",
                                    type: "textbox",
                                    class: "twoRow",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                Value: {
                                    label: "Value",
                                    type: "textbox",
                                    class: "twoRow",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                }
                            },
                            values: {
                                Name: "",
                                Description: "",
                                ParameterType: "",
                                Purpose: "",
                                Type: "",
                                RuleType: "",
                                Value: "",
                                UnitValue: "",
                                LookUpValue: "",
                                LookUpValueType: "",
                                GroupId: "",
                                ApplicableEvents: "",
                                IsSystem: false
                            }
                        }
                    }
                },
                observers: [
                    'dateTypeChanged(parameterForm.values.Type)',
                    'lookupNameChanged(parameterForm.values.LookUpValueType)'
                ],
                dateTypeChanged: function (objVal) {
                    var self = this;
                    if (objVal == "Rule") {
                        $("input[name*='RuleType']").parent().parent().parent().show();
                        $("paper-input[id^='Value']").hide();
                    }
                    else {
                        $("paper-input[id^='Value']").show();
                        $("input[name*='RuleType']").parent().parent().parent().hide();
                    }
                },
                lookupNameChanged: function (val) {
                    var self = this;
                    if (!_.isUndefined(val) && !_.isNull(val) && !_.isEmpty(val)) {
                        var lookupData = self.$.lookup.getLookupBasedOnName(val);
                        self.set('lookupData', lookupData);
                    }
                },
                ready: function () {
                    this.loadParameter();
                },
                loadParameter: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    self.productId = params.productId;
                    var url = "/" + params.productId + "/all/parameter";
                    var multiProducts = window.config.services.multiProducts;
                    self.$.http.get(url, multiProducts).then(function (data) {
                        self.set('parameterList', data);
                        self._showResult(self.parameterList);
                        self.getApplicationDatacalculation();
                    }).fail(function (e) {
                        console.error("alert error is ", e);
                    });
                },
                getApplicationDatacalculation: function () {
                    var self = this;
                    var url = "/application/ruledetails/calculation";
                    var productRule = window.config.services.productRule;
                    self.$.http.get(url, productRule).then(function (data) {
                        self.getDrawdownDatacalculation(data);
                    }).fail(function (e) {
                        self.getDrawdownDatacalculation([]);
                        console.error("getApplicationDatacalculation error is ", e);
                    });
                },
                getDrawdownDatacalculation: function (objData) {
                    var self = this;
                    var url = "/drawdown/ruledetails/calculation";
                    var productRule = window.config.services.productRule;
                    self.$.http.get(url, productRule).then(function (data) {
                        var mergeData = _.concat(objData, data);
                        var calculation = _.transform(mergeData, function (result, rule) {
                            result.push({ key: rule.id, value: rule.ruleName });
                        }, []);
                        self.set('calculationList', calculation);
                        self.loadGroupId();
                    }).fail(function (e) {
                        console.error("getDrawdownDatacalculation error is ", e);
                    });
                },
                loadGroupId: function () {
                    var self = this;
                    var url = "/" + self.productId + "/all/group";
                    var multiProducts = window.config.services.multiProducts;
                    var parameterTypeLookup = self.$.lookup.getLookupBasedOnName('parameter-type');
                    self.$.http.get(url, multiProducts).then(function (data) {
                        var grpData = _.transform(data, function (result, grp) {
                            result.push({ key: grp.id, value: grp.name });
                        }, []);
                        self.groupIdList = grpData;
                        var parameterForm = _.cloneDeep(self.get('parameterForm'));
                        parameterForm.controls.RuleType.selectList = self.calculationList;
                        parameterForm.controls.GroupId.selectList = self.groupIdList;
                        parameterForm.controls.ParameterType.selectList = parameterTypeLookup;
                        self.set('parameterForm', parameterForm);
                    }).fail(function (e) {
                        console.error("loadGroupId error is ", e);
                    });
                },
                _showResult: function (resultData) {
                    var self = this;
                    var table = self.tableObj;
                    if (table !== null && table !== undefined) {
                        table.clear();
                        table.destroy();
                    }
                    $.fn.dataTable.ext.errMode = 'none';
                    self.tableObj = $(this.$$('#parameterTable')).DataTable({
                        retrieve: true,
                        dom: "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                        language: {
                            "zeroRecords": "No data found."
                        },
                        data: resultData,
                        order: [[0, "desc"]],
                        columnDefs: [
                            {
                                targets: 0,
                                width: "10%",
                                orderable: true
                            },
                            {
                                targets: 1,
                                width: "15%",
                                orderable: true
                            },
                            {
                                targets: 2,
                                width: "15%"
                            },
                            {
                                targets: 3,
                                width: "10%"
                            },
                            {
                                targets: 4,
                                width: "10%"
                            },
                            {
                                targets: 5,
                                width: "10%"
                            },
                            {
                                targets: 6,
                                width: "10%"
                            },
                            {
                                targets: 7,
                                width: "10%"
                            },
                            {
                                targets: 8,
                                width: "5%",
                                orderable: false
                            }
                        ],
                        columns: [
                            {
                                "data": "productId",
                                "title": "Product Id",
                                "tooltip": "Product Id"
                            },
                            {
                                "data": "name",
                                "title": "Name",
                                "tooltip": "Name"
                            },
                            {
                                "data": "description",
                                "title": "Description",
                                "tooltip": "Description"
                            },
                            {
                                "data": "value",
                                "title": "Value",
                                "tooltip": "Value"
                            },
                            {
                                "data": "parameterType",
                                "title": "Parameter Type",
                                "tooltip": "Parameter Type"
                            },
                            {
                                "data": "applicableEvents",
                                "title": "Applicable Events",
                                "tooltip": "Applicable Events"
                            },
                            {
                                "data": "lookUpForValue",
                                "title": "lookUp For Value",
                                "tooltip": "lookUpForValue"
                            },
                            {
                                "data": "lookUpForUnit",
                                "title": "lookUp For Unit",
                                "tooltip": "lookUpForUnit"
                            },
                            {
                                "data": null,
                                "isFunction": true,
                                "render": eval("(function(data,type,full,meta){var EditParameter=''; if(((self.hasRole('ViewParameterBtn') == true) || (self.hasRole('AddEditParameterBtn') == true))){ EditParameter=\"<li><a on-click='editParameter' href='javascript:'>Edit</a></li>\" }; if(self.productStatus === 'Active'){ return \"<ul class='nav navbar-right' style='font-size:15px; margin: 0 0 0 0;'><li class='dropdown'><a href='javascript:' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-expanded='false' style='padding: 3px 0px 0 5px;'><i class='fa fa-ellipsis-h' aria-hidden='true'></i></a><ul class='dropdown-menu'>\" + EditParameter + \"</ul></li></ul>\" }else{return '';}})")
                            }
                        ]
                    });
                    $('#parameterTable tbody').on('click', 'a', function (obj) {
                        var data = self.tableObj.row($(this).parents('tr')).data();
                        if (this.getAttribute("on-click") !== null && this.getAttribute("on-click") !== undefined) {
                            if (obj.target.textContent === "Edit") {
                                self.editParameter(data.id);
                            }
                        }
                    });
                },
                hasRole: function (RoleName) {
                    return this.$.authorize.hasRole(RoleName);
                },
                resetModal: function () {
                    var self = this;
                    this.parameterId = "";
                    var parameterObj = _.cloneDeep(this.parameterForm);
                    parameterObj.values.Name = "";
                    parameterObj.values.Description = "";
                    parameterObj.values.ParameterType = "";
                    parameterObj.values.Purpose = "";
                    parameterObj.values.Type = "";
                    parameterObj.values.RuleType = "";
                    parameterObj.values.Value = "";
                    parameterObj.values.GroupId = "";
                    parameterObj.values.ApplicableEvents = "";
                    parameterObj.values.UnitValue = "";
                    parameterObj.values.LookUpValue = "";
                    parameterObj.values.LookUpValueType = "";
                    parameterObj.values.IsSystem = false;
                    this.set('lookupData', []);
                    this.set('parameterForm', parameterObj);
                },
                _addEditParameter: function (event) {
                    event.preventDefault();
                    this.resetModal();
                    $('.EditTitle').text("Add Parameter");
                    this.$$('#addEditParameter').showModal();
                },
                _verifyForm: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var multiProducts = window.config.services.multiProducts;
                    if (form.validate()) {
                        var payload = {
                            Name: self.parameterForm.values.Name,
                            Description: self.parameterForm.values.Description,
                            ParameterType: self.parameterForm.values.ParameterType,
                            Purpose: self.parameterForm.values.Purpose,
                            GroupId: self.parameterForm.values.GroupId,
                            LookUpValue: self.parameterForm.values.LookUpValue,
                            LookUpValueType: self.parameterForm.values.LookUpValueType,
                            IsSystem: self.parameterForm.values.IsSystem
                        };

                        if (self.selectedUnitValue) {
                            payload.UnitValue = self.selectedUnitValue;
                        }
                        if (self.parameterForm.values.ApplicableEvents) {
                            payload.ApplicableEvents = _.split(self.parameterForm.values.ApplicableEvents, ',');
                        }
                        if (self.parameterForm.values.Type == "Rule") {
                            payload.Value = "";
                            payload.CalculationRuleId = self.parameterForm.values.RuleType;
                        }
                        else {
                            payload.Value = self.parameterForm.values.Value;
                            payload.CalculationRuleId = "";
                        }

                        if (!_.isUndefined(self.parameterId) && !_.isNull(self.parameterId) && !_.isEmpty(self.parameterId)) {
                            var url = "/" + self.parameterId + "/parameter";
                            self.$.http.put(url, payload, multiProducts).then(function (result) {
                                $('.close').click();
                                self.loadParameter();
                            }).fail(function (e) {
                                var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                                self.$.message.showMessage(strMessage, "ERROR", self.$.MessageContainer);
                            });
                        }
                        else {
                            var url = "/" + self.productId + "/parameter";
                            self.$.http.post(url, payload, multiProducts).then(function (result) {
                                $('.close').click();
                                self.loadParameter();
                            }).fail(function (e) {
                                var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                                self.$.message.showMessage(strMessage, "ERROR", self.$.MessageContainer);
                            });
                        }
                    }
                },
                editParameter: function (objId) {
                    var productObj = _.find(this.parameterList, ["id", objId]);
                    this.parameterId = productObj.id;
                    var parameterObj = _.cloneDeep(this.parameterForm);
                    parameterObj.values.Name = productObj.name
                    parameterObj.values.Description = productObj.description;
                    parameterObj.values.ParameterType = productObj.parameterType;
                    parameterObj.values.Purpose = productObj.purpose;
                    parameterObj.values.GroupId = productObj.groupId;
                    parameterObj.values.ApplicableEvents = _.join(productObj.applicableEvents, ',');
                    parameterObj.values.UnitValue = productObj.unitValue;
                    parameterObj.values.LookUpValue = productObj.LookUpValue;
                    parameterObj.values.LookUpValueType = productObj.LookUpValueType;
                    parameterObj.values.IsSystem = productObj.isSystem;
                    parameterObj.controls.Name.validations.readonly = productObj.isSystem ? true : false;
                    if (productObj.value != "") {
                        parameterObj.values.Type = "Value";
                        $("input[name*='RuleType']").parent().parent().parent().hide()
                        $("paper-input[id^='Value']").show();
                        parameterObj.values.Value = productObj.value;
                        parameterObj.values.RuleType = "";
                    }
                    else {
                        parameterObj.values.Type = "Rule";
                        $("input[name*='RuleType']").parent().parent().parent().show()
                        $("paper-input[id^='Value']").hide();
                        parameterObj.values.Value = "";
                        parameterObj.values.RuleType = productObj.calculationRuleId;
                    }
                    this.set('parameterForm', parameterObj);
                    var text = "Edit " + this._changeTextDisplay(productObj.consentName) + " Parameter";
                    $('.EditTitle').text(text);
                    this.$$('#addEditParameter').showModal();
                },
                _changeTextDisplay: function (value) {
                    if (!_.isNull(value) && !_.isUndefined(value) && !_.isEmpty(value))
                        return _.startCase(_.lowerCase(value));
                    return "";
                },
                isActiveProduct: function (obj) {
                    return obj === "Active" ? true : false;
                }
            });
        });
    </script>
</dom-module>