<html-import html-href="app-actions/request-drawdown.html"></html-import>
<dom-module id="app-drawdown-request">
    <template>
        <style>
            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }
        </style>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <paper-button hidden$="{{showRequestDrawdownButton}}" class="btn btn-primary activity-action-btn" on-click="_RequestDrawdown"
                        raised>Request Drawdown</paper-button>
                </div>
            </div>
            <table id="drawdownTable" class="table table-striped" width="100%" cellspacing="0"></table>
            <custom-modal id="RequestDrawdownmodal" class="modal-drop" on-modal-hidden="resetModal">
                <div>
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">Request Drawdown</h4>
                            </div>
                            <div class="modal-body">
                                <div id="ErrorMessge" style="display: none;">
                                    <p></p>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <request-drawdown id="reqDDAction" form-id="rdFromDrawdownTab" application-number="{{applicationNumber}}" show-content="true"></request-drawdown>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </custom-modal>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <alloy-config id="config"></alloy-config>
        <session-manager id="session"></session-manager>
        <auth-service id="authorize"></auth-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "app-drawdown-request",
                properties: {
                    drawdown: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    fireEvent: {
                        type: Object,
                        notify: true,
                        value: { 'AppDetailsPageRefresh': true }
                    },
                    showRequestDrawdownButton: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    filterConfig: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    tableObj: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    filteredItems: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    applicationNumber: {
                        type: String,
                        notify: true
                    }
                },
                date: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.date(date, window.config.country, false);
                    }
                    return "Not available";
                },
                formatMoney: function (value) {
                    return formats.money(value, window.config.country, 0);
                },
                GetNumber: function (obj) {
                    return obj.entityId;
                },
                _loadFilterConfigurations: function () {
                    var self = this;
                    var data = self.$.config.getConfigurationBasedOnKey("filters");
                    var LocDDConfig = data["LocAllDrawdown"];
                    var columnLength = LocDDConfig.columns.length;
                    for (var i = 0; i < columnLength; i++) {
                        if (LocDDConfig.columns[i].render != undefined) {
                            var render = LocDDConfig.columns[i].render;
                            if (LocDDConfig.columns[i].isFunction) {
                                LocDDConfig.columns[i].render = eval("(" + render + ")");
                            }
                            else {
                                LocDDConfig.columns[i].render = eval(render);
                            }
                        }
                    }
                    self.set("filterConfig", LocDDConfig);
                    setTimeout(function () {
                        self._getFilteredApplicationList();
                    }, 3000);
                },
                _showRequestDrawdownBtn: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    if (params.product.indexOf("Loc") != -1) {
                        self.set("showRequestDrawdownButton", false);
                    } else {
                        self.set("showRequestDrawdownButton", true);
                    }
                },
                init: function () {
                    this._loadFilterConfigurations();
                    this._showRequestDrawdownBtn();
                },
                _getFilteredApplicationList: function () {
                    var self = this, table;
                    var loanFilters = window.config.services.savedFilters;
                    $.fn.dataTable.ext.errMode = 'none';
                    table = self.tableObj = $(self.$$('#drawdownTable')).DataTable({
                        serverSide: true,
                        ajax: function (data, success) {
                            var page = data.start / 10;
                            page = page + 1;
                            var draw = data.draw;
                            var sortObj = _.transform(data.order, function (result, item) {
                                var columnObj = data.columns[item.column];
                                result[columnObj.data] = item.dir === "desc" ? -1 : 1;
                            }, {});
                            var payload = { sorts: sortObj };
                            payload.searchFilterView = [{ "LocNumber": self.applicationNumber }];
                            $.ajax({
                                url: loanFilters + '/drawdown/Search/LocAllDrawdown?pageSize=10&page=' + page,
                                type: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify(payload),
                                headers: {
                                    'Authorization': "Bearer " + self.$.session.get('token')
                                },
                                complete: function (data) {
                                    self.set('filteredItems', data.responseJSON);
                                    self.fire('iron-signal', { name: 'displaytotalcount', data: { totalRecords: data.getResponseHeader('X-TOTAL-COUNT') } });
                                    var gridData = {
                                        "draw": draw,
                                        "recordsTotal": parseInt(data.getResponseHeader('X-TOTAL-COUNT')),
                                        "recordsFiltered": parseInt(data.getResponseHeader('X-TOTAL-COUNT')),
                                        "data": data.responseJSON
                                    }
                                    success(gridData);
                                }
                            });
                        },
                        dom: "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                        columns: self.filterConfig.columns,
                        columnDefs: self.filterConfig.columnDefs,
                        order: self.filterConfig.order,
                        language: {
                            lengthMenu: "show_MENU_ applications",
                            zeroRecords: "No applications found.",
                            info: "Showing _START_ to _END_ of _TOTAL_ Applications",
                            infoEmpty: "No applications available",
                            infoFiltered: "(filtered from _MAX_ total Applications)"
                        }
                    });
                },
                hasRole: function (compName) {
                    return this.$.authorize.hasRole(compName);
                },
                _RequestDrawdown: function (event) {
                    event.preventDefault();
                    this.$$('#RequestDrawdownmodal').showModal();
                },
                resetModal: function () { }
            });
        });
    </script>
</dom-module>