<dom-module id="app-offers-grid">
    <template>
        <style>
            .table>tbody>tr>th,
            .table>tbody>tr>td {
                vertical-align: middle;
                border-bottom: 1px solid #e7eaec;
            }

            .table>tbody>tr>td>p {
                margin: 0;
            }

            .offer-selection-radio {
                margin-top: 10px;
            }

            .no-document {
                min-height: 20px;
                padding: 19px;
                background-color: #f5f5f5;
                border-radius: 4px;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
                border: 1px solid #e3e3e3;
            }

            .div-button {
                text-align: center;
                display: block
            }

            .custom-input {
                --paper-slider-input: {
                    width: 70px;
                }
                --paper-input: {
                    min-width: 50px;
                }
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .custom-input-amount {
                --paper-slider-input: {
                    width: 73px;
                }
                --paper-input-container-input: {
                    font-size: 11px;
                    min-width: 50px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .btnAlignment {
                margin-left: 84%
            }

            .fa:hover {
                background: green;
            }
        </style>
        <div class="panel-body">
            <div>{{_buttonAvailibility(statusObj)}}</div>
            <div id="offerSelectionDiv">
                <template is="dom-if" if="{{addButtonVisibility}}">
                    <paper-button id="btnAddOffer" class="btn btn-primary activity-action-btn btnAlignment" on-click="displayAddOfferDetail"
                        raised>Add Offer</paper-button>
                    <br />
                    <br />
                </template>

                <table hidden$="{{!isOfferAvailable}}" class="table table-striped">
                    <tr>
                        <th></th>
                        <th class="disbursement-info">
                            <label>Payment</label>
                        </th>
                        <th class="disbursement-info">
                            <label>Payment Frequency</label>
                        </th>
                        <th class="disbursement-info">
                            <label>Approved Amount</label>
                        </th>
                        <th class="disbursement-info">
                            <label>Processing Fees</label>
                        </th>
                        <th></th>
                    </tr>
                    <template id="test" is="dom-repeat" items="{{computedOffers}}" as="offer">
                        <tr>
                            <td style="margin-top: -2px;">
                                <label>
                                    <input class="offer-selection-radio" on-click="selectOffer" type="radio" name="blankRadio" id="blankRadio1" value="option1"
                                        aria-label="...">
                                </label>
                            </td>
                            <td>
                                <p>
                                    <span class="amount">{{_formatMoney(offer.paymentAmount)}}</span>
                                </p>
                            </td>
                            <td>
                                <span>{{offer.durationType}}</span>
                            </td>
                            <td>
                                <p>
                                    <span class="amount">{{_formatMoney(offer.loanAmount)}}</span>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <span class="amount">{{_formatMoney(offer.processingFees)}}</span>
                                </p>
                            </td>
                            <td class="RangeAction">
                                <template is="dom-if" if="{{deleteButtonVisibility}}">
                                    <span>
                                        <i class="fa fa-trash-o handCursor" aria-hidden="true" data-arg="{{offer}}" on-click="deleteOfferDetail" title="Delete Offer"></i>
                                    </span>
                                </template>
                            </td>
                            <td>
                                <template is="dom-if" if="{{editButtonVisibility}}">
                                    <i id="btnEditoffer" class="fa fa-edit handCursor" aria-hidden="true" data-arg="{{offer}}" title="Edit Offer" on-click="_getOffers"></i>
                                </template>
                            </td>
                        </tr>
                    </template>
                </table>
                <div hidden$="{{!isOfferAvailable}}">
                    <paper-button id="btnSelectOffer" class="btn btn-primary activity-action-btn btnAlignment" on-click="selectOfferDetail" raised>Generate Deal</paper-button>
                </div>
            </div>
            <div id="selectedOfferDetail">
                <div>
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table">
                                <tr>
                                    <th>Funder</th>
                                    <td>{{Funder}}</td>
                                    <th>Payment Frequency</th>
                                    <td>{{PaymentFrequency}}</td>
                                </tr>
                                <tr>
                                    <th>Product</th>
                                    <td>{{productName}}</td>
                                    <th>Program</th>
                                    <td>{{Program}}</td>
                                </tr>
                                <tr>
                                    <th>Payment</th>
                                    <td>{{_formatMoney(Payment)}}</td>
                                    <th>Approved Amount</th>
                                    <td>{{_formatMoney(ApprovedAmount)}}</td>
                                </tr>
                                <tr>
                                    <th>Factor</th>
                                    <td>{{Factor}}</td>
                                    <th>Term</th>
                                    <td>{{offerTerm}}</td>
                                </tr>
                                <tr>
                                    <th>Processing Fees</th>
                                    <td>{{_formatMoney(ProcessingFees)}}</td>
                                    <th>Submitted Date</th>
                                    <td>{{date(submiteddate)}}</td>
                                </tr>
                                <tr>

                                    <th>Approved Date/Time</th>
                                    <td>{{formatDate(Approveddatetime)}}</td>
                                    <th>Comments</th>
                                    <td>{{comments}}</td>
                                </tr>
                                <tr style="display:none">
                                    <th>Comp Percentage</th>
                                    <td>{{Comp}}%</td>
                                    <th>Max Gross Percentage</th>
                                    <td>{{MaxGross}}%</td>
                                </tr>
                                <tr style="display:none">
                                    <th>Comments</th>
                                    <td>{{comments}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <br>
                <template is="dom-if" if="{{editButtonVisibility}}">
                    <paper-button id="btnEditoffer" class="btn btn-primary activity-action-btn btnAlignment" on-click="_editOffer" raised>Change Offer</paper-button>
                </template>
            </div>
            <template is="dom-if" if="{{addButtonVisibility}}">
                <div class="row" id="addOfferDiv">
                    <div class="col-md-12">
                        <div id="MessageContainer"></div>
                        <form is="iron-form" class="form-horizontal" name="AddManualOffer">
                            <dynamic-form form-configuration={{addOfferObj}} values="{{addOfferObj.values}}"></dynamic-form>
                            <br>
                            <br>
                            <paper-button data={{addOfferObj.values}} class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                            <paper-button class="btn btn-primary activity-action-btn" on-click="cancelbutton" raised>Cancel</paper-button>
                            <paper-button id="formResetButton" class="btn btn-primary activity-action-btn" style="display: none;" on-click="_formReset"
                                raised>Reset</paper-button>
                        </form>
                    </div>
                </div>
            </template>
        </div>
        <http-request id="http"></http-request>
        <alloy-config id="config"></alloy-config>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "app-offers-grid",
                properties: {
                    addOfferObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                funder: {
                                    label: "Funder",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        autovalidate: true,
                                        readonly: true,
                                        required: true
                                    }
                                },
                                durationType: {
                                    label: "Payment Frequency",
                                    type: "combobox",
                                    class: "threeColumn",
                                    selectList: [
                                        { "key": "Daily", "value": "Daily" },
                                        { "key": "Weekly", "value": "Weekly" }
                                    ],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                productName: {
                                    label: "Product",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        autovalidate: true,
                                        required: true
                                    }
                                },
                                program: {
                                    label: "Program",
                                    type: "combobox",
                                    class: "threeColumn",
                                    selectList: [
                                        { "key": "Premium", "value": "Premium" },
                                        { "key": "Low", "value": "Low" },
                                        { "key": "Standard", "value": "Standard" },
                                        { "key": "High", "value": "High" }
                                    ],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                sellRate: {
                                    label: "Factor",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        autovalidate: true,
                                        required: true,
                                        pattern: 'DECIMAL'
                                    }
                                },
                                term: {
                                    label: "Terms",
                                    type: "combobox",
                                    class: "threeColumn",
                                    selectList: [
                                        { "key": "6", "value": "6 Months" }
                                    ],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                paymentAmount: {
                                    label: "Payment",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        autovalidate: true,
                                        required: true,
                                        pattern: 'DECIMAL'
                                    }
                                },
                                loanAmount: {
                                    label: "Approved Amount",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        autovalidate: true,
                                        required: true,
                                        pattern: 'DECIMAL'
                                    }
                                },
                                submiteddate: {
                                    label: "Submitted Date",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        autovalidate: true,
                                        required: true
                                    }
                                },
                                approveddatetime: {
                                    label: "Approved Date Time",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        autovalidate: true,
                                        required: true
                                    }
                                },
                                processingFees: {
                                    label: "Processing Fees",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        autovalidate: true,
                                        required: true,
                                        pattern: 'DECIMAL'
                                    }
                                },
                                comments: {
                                    label: "Comments",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        autovalidate: true,
                                        required: true
                                    }
                                },

                            },
                            values: {
                                getofferId: '',
                                durationType: '',
                                loanAmount: '',
                                sellRate: '',
                                term: '',
                                paymentAmount: '',
                                originatingFeeAmount: '0',
                                productName: "",
                                program: "",
                                funder: "Prestala",
                                comments: "",
                                processingFees: "",
                                comp: "0",
                                maxGross: "0",
                                submiteddate: "",
                                approveddatetime: ""
                            }
                        },
                        reflectToAttribute: true
                    },
                    computedOffers: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    offersData: {
                        type: Object,
                        notify: true
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true
                    },
                    fireEvent: {
                        type: Object,
                        notify: true,
                        value: {
                            "AppDetailsPageRefresh": true
                        }
                    },
                    comments: {
                        type: String,
                        notify: true,
                        value: ''
                    },
                    Funder: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    productName: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    Program: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    PaymentFrequency: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    Payment: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    offerTerm: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    Factor: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    ApprovedAmount: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    ProcessingFees: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    submiteddate: {
                        type: String,
                        notify: true
                    },
                    Approveddatetime: {
                        type: String,
                        notify: true
                    },
                    MaxGross: {
                        type: String,
                        notify: true
                    },
                    Comp: {
                        type: String,
                        notify: true
                    },
                    statusObj: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    selectedOfferId: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    addButtonVisibility: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    deleteButtonVisibility: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    editButtonVisibility: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    isOfferAvailable: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    isSelectedOfferAvailable: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    funderValue: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    productIdValue: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    checkIsEdit: {
                        type: Boolean,
                        notify: true,
                        value: true
                    }
                },
                _editOffer: function () {
                    this.displayOfferDetail();
                },
                _getOffers: function (obj) {
                    var self = this;
                    var objData = $(obj)[0].currentTarget.dataArg;
                    var objOfferId = objData.offerId;
                    var editOfferobj = _.find(self.computedOffers, function (o) {
                        if (o.offerId === objOfferId) {
                            return o;
                        }
                    });
                    if (!_.isNull(editOfferobj) && !_.isUndefined(editOfferobj)) {
                        var _tempaddOfferObj = _.cloneDeep(self.addOfferObj);
                        _tempaddOfferObj.values = editOfferobj;
                        _tempaddOfferObj.values.term = editOfferobj.term.toString();
                        _tempaddOfferObj.values.funder = self.funderValue;
                        _tempaddOfferObj.values.getofferId = objData.offerId;
                        _tempaddOfferObj.values.productName = self.getProductName(self.productIdValue);
                        _tempaddOfferObj.values.submiteddate = moment.tz(editOfferobj.createdOn.time, window.config.timezone).format("MM/DD/YYYY");
                        _tempaddOfferObj.values.approveddatetime = moment.tz(editOfferobj.createdOn.time, window.config.timezone).format("MM/DD/YYYY");
                        self.set("addOfferObj", _tempaddOfferObj);
                        self.displayAddOfferDetail();
                    }
                },
                selectOffer: function (e) {
                    this.set("selectedOfferId", e.model.__data__.offer.offerId);
                },
                _loadDataAttributes: function () {
                    var self = this;
                    var data = self.dataAttributes;
                    var addofferObjClone = _.cloneDeep(self.addOfferObj);
                    if (data) {
                        var currentDate = moment.tz(window.config.timezone).format("MM/DD/YYYY");
                        addofferObjClone.values.approveddatetime = currentDate;
                        addofferObjClone.values.submiteddate = currentDate;
                        addofferObjClone.values.productName = self.getProductName(data.product.ProductId);
                        self.set("addOfferObj", addofferObjClone);
                    }
                },
                _getSelectedOfferDetail: function (offerId, funder, productId) {
                    var self = this;
                    var objIndex = _.findIndex(self.computedOffers, function (o) { return o.offerId === offerId; });
                    if (!_.isNull(objIndex) && !_.isUndefined(objIndex)) {
                        var objSelectedOffer = self.computedOffers[objIndex];
                        self.Payment = objSelectedOffer.paymentAmount;
                        self.PaymentFrequency = objSelectedOffer.durationType;
                        self.Funder = funder;
                        self.ApprovedAmount = objSelectedOffer.loanAmount;
                        self.Factor = objSelectedOffer.sellRate;
                        self.ProcessingFees = objSelectedOffer.processingFees;
                        self.comments = objSelectedOffer.comments;
                        self.productName = self.getProductName(productId);
                        self.Program = objSelectedOffer.program;
                        self.submiteddate = objSelectedOffer.createdOn.time;
                        self.offerTerm = objSelectedOffer.term + ' Months';
                        self.Approveddatetime = objSelectedOffer.createdOn.time;

                    }
                },
                _loadOffers: function (allowEditOffer) {
                    var self = this;
                    var offerEndPoint = window.config.services.offerengine;
                    var url = "/application/" + self.applicationNumber + "/offerengine/getapplicationoffers";
                    self.$.http.get(url, offerEndPoint).then(function (data) {
                        if (!_.isEmpty(data.lenderDeals) && !_.isNull(data.lenderDeals) && !_.isUndefined(data.lenderDeals)) {
                            self.set('computedOffers', data.lenderDeals);
                            self.set('funderValue', data.funder);
                            self.set('productIdValue', data.productId);
                            if (data.lenderDeals.length > 0) {
                                self.displayOfferDetail();
                                self.set("isOfferAvailable", true);

                            } else {
                                self.set("isOfferAvailable", false);
                            }
                            if (!_.isUndefined(data.dealOffer) && !_.isNull(data.dealOffer) && !_.isEmpty(data.dealOffer)) {
                                self.set("isSelectedOfferAvailable", true);
                                self.displaySelectedOfferDetail();
                                self._getSelectedOfferDetail(data.dealOffer.offerId, self.funderValue, self.productIdValue);
                            } else {
                                self.set("isSelectedOfferAvailable", false);
                            }
                        }
                        else {
                            self.displayAddOfferDetail();

                        }
                    }).fail(function (e) {
                        console.error("load offers error is ", e);
                    });
                },
                raiseAppRefreshEvent: function () {
                    this.$.utility.raiseEvent(this.fireEvent, {});
                },
                _formatMoney: function (amount) {
                    return formats.money(amount, window.config.country, 0);
                },
                _buttonAvailibility: function (statusObj) {
                    var self = this;
                    var statusObj = _.cloneDeep(self.statusObj);
                    var offersConfig = self.$.config.getConfigurationBasedOnKey("offers-config");
                    var addDealbuttonConfig = offersConfig["addDealButton"];
                    var editDealbuttonConfig = offersConfig["editDealButton"];
                    var deleteDealbuttonConfig = offersConfig["deleteDealButton"];
                    if (!_.isNull(addDealbuttonConfig) && !_.isNull(addDealbuttonConfig.statusCode)) {
                        if (statusObj && _.indexOf(addDealbuttonConfig.statusCode, statusObj.code) > -1) {
                            self.set("addButtonVisibility", true);
                        }
                        else {
                            self.set("addButtonVisibility", false);
                        }
                    }
                    if (!_.isNull(editDealbuttonConfig) && !_.isNull(editDealbuttonConfig.statusCode)) {
                        if (statusObj && _.indexOf(editDealbuttonConfig.statusCode, statusObj.code) > -1) {
                            self.set("editButtonVisibility", true);
                        }
                        else {
                            self.set("editButtonVisibility", false);
                        }
                    }
                    if (!_.isNull(deleteDealbuttonConfig) && !_.isNull(deleteDealbuttonConfig.statusCode)) {
                        if (statusObj && _.indexOf(deleteDealbuttonConfig.statusCode, statusObj.code) > -1) {
                            self.set("deleteButtonVisibility", true);
                        }
                        else {
                            self.set("deleteButtonVisibility", false);
                        }
                    }
                },
                init: function () {
                    this.loadOfferData();
                },
                loadOfferData: function () {
                    this._loadOffers();
                    this._loadDataAttributes();
                },
                _formReset: function (event) {
                    var form = Polymer.dom(event).localTarget.parentElement;
                    form.reset();
                },
                cancelbutton: function () {
                    var self = this;
                    var _tempaddOfferObj = _.cloneDeep(self.addOfferObj);
                    _tempaddOfferObj.values.sellRate = '';
                    _tempaddOfferObj.values.paymentAmount = '';
                    _tempaddOfferObj.values.loanAmount = '';
                    _tempaddOfferObj.values.processingFees = "";
                    _tempaddOfferObj.values.comments = "";
                    _tempaddOfferObj.values.getofferId = "";
                    self.set("addOfferObj", _tempaddOfferObj);
                    this.displayOfferDetail();
                },
                cleanObject: function () {
                    var self = this;
                    var _tempaddOfferObj = _.cloneDeep(self.addOfferObj);
                    _tempaddOfferObj.values.sellRate = '';
                    _tempaddOfferObj.values.paymentAmount = '';
                    _tempaddOfferObj.values.loanAmount = '';
                    _tempaddOfferObj.values.processingFees = "";
                    _tempaddOfferObj.values.comments = "";
                    self.set("addOfferObj", _tempaddOfferObj);
                },
                _verifyForm: function (event) {
                    var self = this;
                    $('div#ErrorMessge').hide();
                    event.preventDefault();
                    var self = this;
                    var addOfferObj = _.cloneDeep(self.addOfferObj.values);
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var payload = {
                        entityType: "application",
                        entityId: self.applicationNumber,
                        dealOffers: []
                    };
                    if (form.validate()) {
                        if (self.addOfferObj.values.getofferId === '') {
                            addOfferObj = _.omit(addOfferObj, ['productName', 'funder', 'submiteddate', 'approveddatetime']);
                            payload.dealOffers.push(addOfferObj);
                            var offerEngine = window.config.services.offerengine;
                            var url = "/application/" + self.applicationNumber + "/offerengine" + "/deal";
                            self.$.http.post(url, payload, offerEngine).then(function (data) {
                                self.$.message.showMessage("Operation completed successfully.", "INFO", self.$.MessageContainer);
                                self._refreshOfferData();
                                self.cleanObject();
                                $('#formResetButton').click();
                                self.displayOfferDetail();
                            }).fail(function (e) {
                                self.$.message.showMessage("Failed to add offer", "ERROR", self.$.MessageContainer);
                            });
                        }
                        else {
                            var _tempaddOfferObj = _.cloneDeep(self.addOfferObj);
                            var objOfferId = _tempaddOfferObj.values.getofferId;
                            var editOfferobj = _.find(self.computedOffers, function (o) {
                                if (o.offerId === objOfferId) {
                                    return o;
                                }
                            });
                            editOfferobj.paymentAmount = self.addOfferObj.values.paymentAmount;
                            editOfferobj.approvedAmount = self.addOfferObj.values.approvedAmount;
                            editOfferobj.submiteddate = self.addOfferObj.values.submiteddate;
                            editOfferobj.approveddatetime = self.addOfferObj.values.approveddatetime;
                            editOfferobj.getofferId = self.addOfferObj.values.getofferId;
                            editOfferobj.durationType = self.addOfferObj.values.durationType;
                            editOfferobj.loanAmount = self.addOfferObj.values.loanAmount;
                            editOfferobj.sellRate = self.addOfferObj.values.sellRate;
                            editOfferobj.term = self.addOfferObj.values.term;
                            editOfferobj.productName = self.addOfferObj.values.productName;
                            editOfferobj.program = self.addOfferObj.values.program;
                            editOfferobj.comments = self.addOfferObj.values.comments;
                            editOfferobj.processingFees = self.addOfferObj.values.processingFees;
                            var payload = {
                                entityType: "application",
                                entityId: self.applicationNumber,
                                dealOffers: []
                            };
                            payload.dealOffers.push(editOfferobj);
                            var offerEngine = window.config.services.offerengine;
                            var url = "/application/" + self.applicationNumber + "/edit" + "/offer";
                            self.$.http.post(url, payload, offerEngine).then(function (data) {
                                self.$.message.showMessage("Operation completed successfully.", "INFO", self.$.MessageContainer);
                                self._refreshOfferData();
                                self.cleanObject();
                                $('#formResetButton').click();
                                self.displayOfferDetail();
                            }).fail(function (e) {
                                self.$.message.showMessage("Failed to Edit offer", "ERROR", self.$.MessageContainer);
                            });

                        }
                    }

                },
                _refreshOfferData: function () {
                    var self = this;
                    setTimeout(function () {
                        self.init();
                    }, 500);
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: 'AppOffersGrid',
                        EventData: event,
                        CompnentName: 'app-offers-grid'
                    });
                },
                _loadStatusHistory: function () {
                    var self = this;
                    var url = "/status-management/application/" + self.applicationNumber + "/history";
                    self.$.http.get(url, "").then(function (historyList) {
                        if (statusObj && statusObj.code) {
                            var historydata = _.filter(historyList, { status: statusObj.code });
                            self.Approveddatetime = historydata[0].activedOn.time;
                        }
                    }).fail(function (e) {
                        console.error("not able to load status history.", e);
                    });
                },
                _hasDeal: function (computedOffers) {
                    if (!_.isUndefined(computedOffers)) {
                        $('#withOffer').show();
                        $('#noOffer').hide();
                        $('#addOffer').hide();
                    }
                    else {
                        $('#withOffer').hide();
                    }
                },
                displayAddOfferDetail: function () {
                    $('#addOfferDiv').show();
                    $('#offerSelectionDiv').hide();
                    $('#selectedOfferDetail').hide();
                },
                displayOfferDetail: function () {
                    $('#offerSelectionDiv').show();
                    $('#addOfferDiv').hide();
                    $('#selectedOfferDetail').hide();
                },
                displaySelectedOfferDetail: function () {
                    $('#selectedOfferDetail').show();
                    $('#offerSelectionDiv').hide();
                    $('#addOfferDiv').hide();
                },
                deleteOfferDetail: function (obj) {
                    var self = this;
                    var objData = $(obj)[0].currentTarget.dataArg;
                    var objOfferId = objData.offerId;
                    var url = "/application/" + self.applicationNumber + "/delete/offer/" + objOfferId;
                    var offerEndPoint = window.config.services.offerengine;
                    self.$.http.delete(url, null, offerEndPoint).then(function (result) {
                        self.$.message.showMessage("Offer deleted  successfully.", "INFO", self.$.MessageContainer);
                        self._refreshOfferData();
                    }).fail(function (e) {
                        console.error("Fail to unassign app error is ", e);
                    });
                },
                selectOfferDetail: function (e) {
                    var self = this;
                    var offerEndPoint = window.config.services.offerengine;
                    var url = "/application/" + self.applicationNumber + "/offerengine/AddSelectedOffer";
                    if (self.selectedOfferId != "") {
                        var payload = {
                            "entityType": "application",
                            "entityId": self.applicationNumber,
                            "dealOffers": [{
                                "offerId": self.selectedOfferId
                            }]
                        };
                        self.$.http.post(url, payload, offerEndPoint).then(function (data) {
                            self.$.message.showMessage("Operation completed successfully.", "INFO", self.$.MessageContainer);
                            self._refreshOfferData();
                        }).fail(function (e) {
                            console.error("application error is ", e);
                        });
                    } else {
                        self.$.message.showMessage("Please select at least oe offer", "ERROR", self.$.MessageContainer);
                    }

                },
                formatDate: function (date) {
                    if (date !== undefined) {
                        return moment.tz(date, window.config.timezone).format("MM/DD/YYYY LT z");
                    }
                    return "";
                },
                date: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.date(date, window.config.country, false);
                    }
                    return "Not available";
                },
                showData: function (obj) {
                    return (obj !== undefined && obj !== null && obj !== "") ? true : false;
                },
                getProductName: function (productId) {
                    var self = this;
                    var productNameList = self.$.config.getConfigurationBasedOnKey("productNameList");
                    var obj = _.find(productNameList, ['productId', productId]);
                    return (obj != undefined && obj != null && obj != "") ? obj.productName : productId;
                }
            });
        });
    </script>
</dom-module>