<html-import html-href="loaders/sk-wave.html"></html-import>
<dom-module id="auth-login">
    <template>
        <style>
            .sk-spinner .sk-rect {
                background-color: #88BF40;
            }

            .checkbox1 {
                text-align: left;
                display: block;
                margin-top: 10px;
                margin-bottom: 10px;
                position: relative;
            }

            .checkbox1 label {
                min-height: 20px;
                margin-bottom: 0;
                cursor: pointer;
                position: relative;
                padding-left: 20px;
                display: block;
                font-weight: normal;
            }

            .checkbox1 input[type="checkbox"] {
                position: absolute;
                margin-left: -20px;
                margin-top: 2px;
            }

            #consentHelp {
                text-align: justify;
            }

            #forgot-password-link {
                float: right !important;
            }

            #consent-error {
                display: block;
                text-align: left;
                margin: 0;
            }
        </style>

        <div class="ce-loan-apply-container">
            <div class="col-sm-12">
                <div class="ce-loan-apply-slides">
                    <div class="ce-loan-apply-slide">
                        <h2>Sign In</h2>
                        <p class="short-decription"></p>
                        <form id="login-form">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="error-message" class="alert alert-danger" hidden$="{{!hasError}}"></div>
                                </div>
                            </div>
                            <div class="slide-box slide-loan-amount">
                                <div class="form-group input-label-anim">
                                    <label class="control-label" for="">User Name</label>
                                    <input id="username" type="text" name="username" placeholder="User Name" data-m-dec="0" data-v-max="9999999999" data-d-group="0"
                                        value="{{username::input}}" class="form-control" autocomplete="off">
                                </div>
                                <div class="form-group input-label-anim">
                                    <label class="control-label" for="">Password</label>
                                    <input id="password" name="password" type="password" placeholder="Password" maxlength="15" class="form-control" value="{{password::input}}"
                                        autocomplete="off">
                                </div>
                                <div class="form-group" style="padding: 1px 0;">
                                    <div class="checkbox1">
                                        <label>
                                            <input id="consent" name="consent" type="checkbox" value="{{consent::input}}">I agree to each
                                            <a href="javascript:" on-click="openHelp">T&amp;C.</a>
                                            <a href="javascript:;" id="forgot-password-link" on-click="resetPassword">Forgot password?</a>
                                        </label>
                                    </div>
                                    <label id="consent-error" class="error" for="consent" style="display: none;"></label>
                                    <div id="consentHelp" class="help-block" style="display: none;">
                                        Unauthorized access is prohibited under the Fair Credit Reporting Act and punishable by $2500 and/or 1 year in Federal prison
                                        per occurrence.
                                    </div>
                                </div>
                                <spinkit-wave hidden$="{{!spin}}"></spinkit-wave>
                            </div>
                            <div class="slide-action">
                                <button type="submit" id="log-in" hidden$="{{spin}}" on-click="authenticateUser" class="btn btn-primary activity-action-btn">Sign In</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <http-request id="httplogin"></http-request>
        <session-manager id="sessionlogin"></session-manager>
        <identity-service id="identitylogin"></identity-service>
    </template>
    <script>
        Polymer({
            is: "auth-login",
            properties: {
                spin: {
                    type: Boolean,
                    notify: true,
                    value: false,
                    reflectToAttribute: true
                },
                hasError: {
                    type: Object,
                    notify: true,
                    value: false
                }
            },
            attached: function () {
                var self = this;

                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function () {
                var self = this;
                self.url = "/";
                self.username = "";
                self.password = "";
                self.portal = window.portal;

                return function () {
                    $("#username").on("blur keydown", function (e) {
                        if (e.which !== 13 && e.type !== "blur") {
                            return;
                        } else if (e.which === 13 && e.type !== "blur") {
                            return $(this).trigger("blur");
                        }
                        $("#password").focus();
                    });

                    $("#username").on("keypress", function (e) {
                        $(this).parents('.form-group').find('label').addClass('label-up');
                    });

                    $("#password").on("keydown", function (e) {
                        if (e.which === 13) {
                            self.authenticateUser();
                        }
                    });

                    function validate_form() {
                        $("#login-form").validate({
                            rules: {
                                username: {
                                    required: true
                                },
                                password: {
                                    required: true
                                },
                                consent: {
                                    required: true
                                }
                            },
                            messages: {
                                consent: "Please accept the consent."
                            },
                            errorPlacement: function (error, element) {
                                if (element.attr("type") === "checkbox") {
                                    error.insertAfter($(element).parents('div.checkbox1'));
                                }
                            }
                        });
                    }
                    setTimeout(validate_form, 100);
                }
            },
            resetPassword: function () {
                window.location.hash = "/securityRequest";
            },
            authenticateUser: function (e) {
                if (e) {
                    e.preventDefault();
                }
                var self = this;
                if (!$('#login-form').valid()) {
                    return;
                }
                self.set('spin', true);
                self.$.identitylogin.login(self.username, self.password, self.portal).done(function () {
                    self.set('spin', false);
                    self.setReapplyTimeFrame();
                }).fail(function (err) {
                    self.set('spin', false);
                    var response = err.responseJSON;
                    if (response) {
                        return self.setErrorMessage(response.message);
                    }
                    return self.setErrorMessage("Invalid Username or Password.");
                });
            },
            setReapplyTimeFrame: function () {
                var self = this;
                var backofficeUrl = "configuration/business-offerengine";
                self.$.httplogin.get(backofficeUrl, "").then(function (data) {
                    var reApplyTimeFrameObj = data.reApplyTimeFrame;
                    self.$.sessionlogin.set("reApplyTimeFrame", reApplyTimeFrameObj);
                });
            },
            resetLogin: function () {
                this.forgotPassword = false;
                this.resettingPassword = false;
            },
            setErrorMessage: function (message, field) {
                $(field).addClass("error");
                $("#error-message", this).text(message);
                this.hasError = true;
            },
            openHelp: function () {
                $('#consentHelp').toggle();
            }
        })
    </script>
</dom-module>