<html-import html-href="loaders/sk-wave.html"></html-import>
<dom-module id="bureau-report">
    <template>
        <style>
            .subheader {
                height: 1px;
                color: #03466B;
                background-color: #ddd;
            }

            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }

            .modal-dialog {
                margin: 10% auto;
                width: 950px !important;
            }

            .panel-group {
                margin: 5px auto 20px;
            }

            .panel-group .panel {
                border-radius: 0;
                box-shadow: none;
                border-color: #EEEEEE;
            }

            .panel-default>.panel-heading {
                padding: 0;
                border-radius: 0;
                color: #03466B;
                background-color: #ddd;
                border-color: #ddd;
            }

            .panel-title {
                font-size: 14px;
                margin-top: 0;
            }

            .panel-title>a {
                display: block;
                padding: 15px;
                text-decoration: none;
            }

            .more-less {
                float: right;
                color: #03466B;
            }

            .panel-default>.panel-heading+.panel-collapse>.panel-body {
                border-top-color: #EEEEEE;
            }

            ul {
                list-style-type: none !important;
                padding-left: 10px;
                margin-top: 5px !important;
                margin-bottom: 5px !important;
            }

            .setSpace {
                padding-top: 5px;
                padding-right: 5px;
            }

            .bureauBtn {
                margin: 0 !important;
                font-size: 12px;
                padding: 2px 5px;
            }

            th.h-center-c-center {
                text-align: center !important;
            }

            td.h-center-c-center {
                text-align: center !important;
            }

            th.h-right-c-right {
                text-align: right !important;
            }

            td.h-right-c-right {
                text-align: right !important;
            }

            th.h-center-c-left {
                text-align: center !important;
            }

            td.h-center-c-left {
                text-align: left !important;
            }

            .set-vertical-height {
                height: 450px;
                overflow-y: auto;
                overflow-x: hidden;
            }
        </style>
        <spinkit-wave hidden$="{{loadding}}"></spinkit-wave>
        <div class="row">
            <div class="col-sm-12">
                <div id="bureauMessageTableContainer"></div>
                <table id="bureau" class="table">
                    <thead>
                        <tr>
                            <th class="h-center-c-left">File Name</th>
                            <th class="h-center-c-center">Sent Date</th>
                            <th class="h-center-c-center">Last Reported Date</th>
                            <th class="h-center-c-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template is="dom-repeat" items="{{bureauList}}" as="bureau">
                            <tr>
                                <td class="h-center-c-left">{{ bureau.fIleName}}</td>
                                <td class="h-center-c-center">{{ formatDate(bureau.fileSentDate) }}</td>
                                <td class="h-center-c-center">{{ formatDate(bureau.lastReportedDate)}}</td>
                                <td class="h-center-c-center">
                                    <button on-click='openBureauModal' data-args='{{bureau.fileId}}' class="btn btn-primary bureauBtn">Detail</button>
                                    <template is="dom-if" if="{{!isFileSent(bureau)}}">
                                        <button on-click='sendFile' data-args='{{bureau.fileId}}' class="btn btn-primary bureauBtn">Send</button>
                                    </template>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
        <custom-modal id="bureauReportDataModal" class="modal-drop" on-modal-hidden="resetBureauData">
            <div>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Bureau Report Details</h4>
                        </div>
                        <div class="modal-body set-vertical-height">
                            <div class="panel-left col-lg-4" style="padding-left: 0px;">
                                <b>Consumer Account Number:&nbsp;</b>{{consumerAccountNumber}}
                            </div>
                            <div class="panel-left col-lg-4">
                                <b>Consumer Name:&nbsp;</b>{{consumerName}}
                            </div>
                            <div id="bureauMessageContainer"></div>
                            <div class="row" id="EditData" style="display:none;">
                                <div class="col-sm-12">
                                    <div id="subStatusMessageContainer"></div>
                                    <form is="iron-form" class="form-horizontal" name="statusSubFlow">
                                        <dynamic-form form-configuration={{baseSegmentsObj}} values="{{baseSegmentsObj.values}}"></dynamic-form>
                                        <br>
                                        <paper-button class="btn btn-primary activity-action-btn" id="submitAllSegments" on-click="_submitSegment" raised>Submit</paper-button>
                                        <paper-button class="btn btn-primary activity-action-btn" id="clearAllSegments" on-click="cancelBaseSegments">
                                            Cancel
                                        </paper-button>
                                    </form>
                                </div>
                            </div>
                            <div class="row" id="segmentPanel">
                                <div class="col-sm-12">
                                    <template is="dom-repeat" items="{{bureauNormalized}}" as="bureauSource">
                                        <div class="row">
                                            <template is="dom-if" if="{{_showBureauDetail(bureauSource)}}">
                                                <div class="panel-group Bureau-tab1 clearfix" style="clear: both !important" id="bureauSource" role="tablist" aria-multiselectable="true">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" role="tab" id="{{bureauSource.sourceName}}-Header">
                                                            <h4 class="panel-title">
                                                                <a role="button" data-toggle="collapse" data-parent="#bureauSource" href="#{{bureauSource.id}}" aria-expanded="true" aria-controls="{{bureauSource.id}}">
                                                                    <i class="more-less fa fa-plus"></i> {{bureauSource.displayName}}
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div id="{{bureauSource.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{bureauSource.sourceName}}-Header">
                                                            <template is="dom-if" if="{{_hasForm(bureauSource.editId)}}">
                                                                <div class="col-sm-12">
                                                                    <div class="pull-right setSpace">
                                                                        <button id="{{bureauSource.editId}}" on-click="editBaseSegments" segment="{{bureauSource.sourceName}}" data-args="{{bureauSource}}"
                                                                            class="btn btn-primary activity-action-btn">
                                                                            Edit
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </template>
                                                            <template is="dom-repeat" items="{{bureauSource.fields}}" as="field">
                                                                <template is="dom-if" if="{{checkNeedToRender(field.isVisible)}}">
                                                                    <div class$="{{field.class}}">
                                                                        <ul>
                                                                            <li>
                                                                                <b>{{field.label}}:&nbsp;</b>{{field.value}}
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </template>
                                                            </template>
                                                        </div>
                                                    </div>
                                                </div>
                                            </template>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>
        <url-parser id="urlbureau"></url-parser>
        <http-request id="httpbureau"></http-request>
        <alloy-config id="configbureau"></alloy-config>
        <message-component id="messagebureau"></message-component>
        <lookup-service id="lookupbureau"></lookup-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "bureau-report",
                properties: {
                    consumerAccountNumber: {
                        type: String,
                        notify: true
                    },
                    consumerName: {
                        type: String,
                        notify: true
                    },
                    loadding: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    addressIndicator: {
                        type: Array,
                        notify: true
                    },
                    residenceCode: {
                        type: Array,
                        notify: true
                    },
                    portfolioTypes: {
                        type: Array,
                        notify: true
                    },
                    interestTypeIndicator: {
                        type: Array,
                        notify: true
                    },
                    accountTypes: {
                        type: Array,
                        notify: true
                    },
                    termsFrequency: {
                        type: Array,
                        notify: true
                    },
                    accountStatus: {
                        type: Array,
                        notify: true
                    },
                    paymentRating: {
                        type: Array,
                        notify: true
                    },
                    complianceConditionCode: {
                        type: Array,
                        notify: true
                    },
                    ecoaCode: {
                        type: Array,
                        notify: true
                    },
                    consumerInformationIndicator: {
                        type: Array,
                        notify: true
                    },
                    consumerTransactionType: {
                        type: Array,
                        notify: true
                    },
                    correctionIndicator: {
                        type: Array,
                        notify: true
                    },
                    editSegment: {
                        type: String,
                        notify: true
                    },
                    fileId: {
                        type: String,
                        notify: true
                    },
                    storeTempDataObj: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    baseSegmentsObj: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    bureauConfig: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    bureauNormalized: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    bureauList: {
                        type: Array,
                        notify: true
                    },
                    bureauReport: {
                        type: Object,
                        notify: true
                    },
                    applicationNumber: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    isOpend: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    }
                },
                init: function () {
                    var self = this;
                    var addressIndicator = self.$.lookupbureau.getLookupBasedOnName("addressIndicator");
                    var residenceCode = self.$.lookupbureau.getLookupBasedOnName("residenceCode");
                    var portfolioTypes = self.$.lookupbureau.getLookupBasedOnName("portfolioTypes");
                    var interestTypeIndicator = self.$.lookupbureau.getLookupBasedOnName("interestTypeIndicator");
                    var accountTypes = self.$.lookupbureau.getLookupBasedOnName("accountTypes");
                    var termsFrequency = self.$.lookupbureau.getLookupBasedOnName("termsFrequency");
                    var accountStatus = self.$.lookupbureau.getLookupBasedOnName("accountStatus");
                    var paymentRating = self.$.lookupbureau.getLookupBasedOnName("paymentRating");
                    var complianceConditionCode = self.$.lookupbureau.getLookupBasedOnName("complianceConditionCode");
                    var ecoaCode = self.$.lookupbureau.getLookupBasedOnName("ecoaCode");
                    var consumerInformationIndicator = self.$.lookupbureau.getLookupBasedOnName("consumerInformationIndicator");
                    var consumerTransactionType = self.$.lookupbureau.getLookupBasedOnName("consumerTransactionType");
                    var correctionIndicator = self.$.lookupbureau.getLookupBasedOnName("correctionIndicator");
                    self.set("addressIndicator", addressIndicator);
                    self.set("residenceCode", residenceCode);
                    self.set("portfolioTypes", portfolioTypes);
                    self.set("interestTypeIndicator", interestTypeIndicator);
                    self.set("accountTypes", accountTypes);
                    self.set("termsFrequency", termsFrequency);
                    self.set("accountStatus", accountStatus);
                    self.set("paymentRating", paymentRating);
                    self.set("complianceConditionCode", complianceConditionCode);
                    self.set("ecoaCode", ecoaCode);
                    self.set("consumerInformationIndicator", consumerInformationIndicator);
                    self.set("consumerTransactionType", consumerTransactionType);
                    self.set("correctionIndicator", correctionIndicator);
                    self.getBureauData();
                },
                getBureauData: function () {
                    var self = this;
                    var params = self.$.urlbureau.getParams();
                    var Url = "/summary/" + params.loanId;
                    self.$.httpbureau.get(Url, window.config.services.bureauReport, false).then(function (data) {
                        if (data) {
                            self.set("bureauList", data);
                            self.set('loadding', true);
                            if (params.bureauFile !== undefined && params.bureauFile !== null && self.isOpend === false) {
                                setTimeout(function () {
                                    self.set("fileId", params.bureauFile);
                                    self.getReportByFileId(params.bureauFile);
                                }, 1000);
                                self.set("isOpend", true);
                            }
                        }
                    }).fail(function (e) {
                        self.set('loadding', true);
                        console.error("Get Bureau Report error is ", e);
                    });
                },
                formFormatDate: function (date) {
                    if (date && !_.isNull(date.time) && !_.isUndefined(date.time) && !_.isEmpty(date.time)) {
                        return formats.date(date.time, window.config.country, false);
                    }
                    return null;
                },
                formatDate: function (date) {
                    if (date && !_.isNull(date.time) && !_.isUndefined(date.time) && !_.isEmpty(date.time)) {
                        return formats.date(date.time, window.config.country, false);
                    }
                    return "NA";
                },
                formatDateOfBirth: function (date) {
                    if (date && !_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.date(date, window.config.country, false);
                    }
                    return "NA";
                },
                openBureauModal: function (event) {
                    event.preventDefault();
                    var self = this;
                    var fileId = event.currentTarget.dataArgs
                    self.set("fileId", fileId);
                    self.getReportByFileId(fileId);
                },
                getReportByFileId: function (objFileId) {
                    var self = this;
                    var params = self.$.urlbureau.getParams();
                    var Url = "/report/all/" + params.loanId + "/" + objFileId;
                    self.$.httpbureau.get(Url, window.config.services.bureauReport, false).then(function (data) {
                        if (data) {
                            self.set("bureauReport", data);
                            self.$$('#bureauReportDataModal').showModal();
                            self.setBureauBasicData(data);
                            self.normalizeBureauReport(data);
                        }
                    }).fail(function (e) {
                        console.error("Get Bureau Report by file id error is ", e);
                    });
                },
                normalizeBureauReport: function (bojBureauData) {
                    var self = this;
                    var normObjArr = [];
                    var data = self.$.configbureau.getConfigurationBasedOnKey("bureauReports");
                    self.set('bureauConfig', data);
                    _.each(bojBureauData, function (valuedata, Key) {
                        var tempObj = {};
                        var fieldsObj = _.cloneDeep(self.bureauConfig[Key]);
                        var commonId = self.getBureauDetailModalId(Key);
                        tempObj.id = commonId;
                        if (fieldsObj != undefined && fieldsObj.hasEditForm != undefined && fieldsObj.hasEditForm != null && fieldsObj.hasEditForm == true) {
                            tempObj.editId = "Edit" + commonId;
                        }
                        else {
                            tempObj.editId = "";
                        }
                        tempObj.sourceName = Key;
                        var sourceData;
                        if ($.isArray(valuedata)) {
                            sourceData = valuedata[0];
                        }
                        else {
                            sourceData = valuedata;
                        }

                        if (!_.isUndefined(fieldsObj)) {
                            $.each(fieldsObj.fields, function (index, obj) {
                                var dataVal = self.getDataFromPath(sourceData, obj.data);
                                if (obj.format) {
                                    obj["value"] = self[obj.format](dataVal);
                                }
                                else if (obj.lookup) {
                                    obj["value"] = self.findLookupValue(dataVal, obj.lookup);
                                }
                                else if (obj.mergeAddressField) {
                                    var combineData = ((dataVal != null) ? dataVal : "NA") + ", ";
                                    $.each(obj.mergeAddressField, function (index, obj) {
                                        var val = self.getDataFromPath(sourceData, obj);
                                        combineData = combineData + ((val != "" && val != null) ? (val + ", ") : "");
                                    });
                                    obj["value"] = combineData.substring(0, combineData.length - 2);
                                }
                                else if (obj.mergeTermField) {
                                    var combineData = dataVal + " ";
                                    $.each(obj.mergeTermField, function (index, obj) {
                                        var val = self.getDataFromPath(sourceData, obj);
                                        val = self.findLookupValue(val, "termsFrequency");
                                        combineData = combineData + ((val != "") ? val : "");
                                    });
                                    combineData = combineData;
                                    obj["value"] = combineData;
                                }
                                else {
                                    obj["value"] = (dataVal === "" || dataVal === null || dataVal === undefined) ? "NA" : dataVal;
                                }
                            });
                            tempObj.fields = fieldsObj.fields;
                            tempObj.displayName = fieldsObj.displayName;
                            normObjArr.push(tempObj);
                        }
                    });
                    self.set('bureauNormalized', normObjArr);
                    setTimeout(function () {
                        self.accordionToggle();
                    }, 1);
                },
                accordionToggle: function () {
                    $('.Bureau-tab1').on('hidden.bs.collapse', function () {
                        $(this).find(".more-less").removeClass('fa-minus');
                        $(this).find(".more-less").addClass('fa-plus');
                    });
                    $('.Bureau-tab1').on('shown.bs.collapse', function () {
                        $(this).find(".more-less").removeClass('fa-plus');
                        $(this).find(".more-less").addClass('fa-minus');
                    });
                },
                getDataFromPath: function (data, dataPath) {
                    var keyArray = dataPath.split(".");
                    var dataVal = data;
                    keyArray.forEach(function (key) {
                        if (dataVal != undefined) {
                            dataVal = dataVal[key];
                        }
                    });
                    return dataVal;
                },
                _showBureauDetail: function (bureauSource) {
                    if (_.isUndefined(bureauSource.fields) || _.isEmpty(bureauSource.fields)) {
                        return false;
                    }
                    return true;
                },
                resetBureauData: function () {
                    var self = this;
                    self.set("bureauReport", {});
                },
                getBureauDetailModalId: function (sourceName) {
                    var self = this;
                    if (sourceName) {
                        return sourceName + self._autoIdGenerator(sourceName);
                    }
                },
                _autoIdGenerator: function (name) {
                    return name + this._randomNumber();
                },
                _randomNumber: function () {
                    return Math.floor((1 + Math.random()) * 0x10000).toString(16).substring(1);
                },
                formatMoney: function (value) {
                    if (value != undefined) {
                        return formats.money(value, window.config.country, 0);
                    }
                    else {
                        return "NA";
                    }
                },
                formatSSN: function (data) {
                    return formats.ssn(data, window.config.country);
                },
                formatPhone: function (phone) {
                    return formats.phone(phone, window.config.country);
                },
                editBaseSegments: function (e) {
                    var self = this;
                    e.preventDefault();
                    var currentTag = e.currentTarget.dataArgs;
                    var currentSegment = e.currentTarget.segment;
                    $("#EditData").show();
                    $("#segmentPanel").hide();
                    var data = self.$.configbureau.getConfigurationBasedOnKey("bureauReportsEdit");
                    var bureauEditFormLookup = self.$.configbureau.getConfigurationBasedOnKey("bureauEditFormLookup");


                    if (data[currentSegment]) {
                        self.set('baseSegmentsObj', data[currentSegment]);
                    }
                    var tempForm = _.cloneDeep(self.get('baseSegmentsObj'));
                    $.each(tempForm.controls, function (index, obj) {
                        if (bureauEditFormLookup.indexOf(index) != -1) {
                            obj.selectList = self[index];
                        }
                    });
                    self.set('baseSegmentsObj', tempForm);

                    var params = self.$.urlbureau.getParams();
                    if (currentSegment === "baseSegments") {
                        self.editSegment = "basesegment";
                    }
                    else if (currentSegment === "j1s") {
                        self.editSegment = "j1";
                    }
                    else if (currentSegment === "j2s") {
                        self.editSegment = "j2";
                    }
                    else if (currentSegment === "k1") {
                        self.editSegment = "k1";
                    }
                    else if (currentSegment === "k2") {
                        self.editSegment = "k2";
                    }
                    else if (currentSegment === "k3") {
                        self.editSegment = "k3";
                    }
                    else if (currentSegment === "k4") {
                        self.editSegment = "k4";
                    }
                    else if (currentSegment === "l1") {
                        self.editSegment = "l1";
                    }
                    else if (currentSegment === "n1") {
                        self.editSegment = "n1";
                    }
                    var Url = "/report/" + self.editSegment + "/" + params.loanId + "/" + self.fileId;
                    self.$.httpbureau.get(Url, window.config.services.bureauReport, false).then(function (segmentData) {
                        if (segmentData) {
                            self.set("storeTempDataObj", segmentData);
                            var baseSegmentsObj = _.cloneDeep(self.get('baseSegmentsObj'));
                            $.each(baseSegmentsObj.values, function (index, obj) {
                                var dataVal = self.getDataFromPath(segmentData, index);
                                baseSegmentsObj.values[index] = dataVal;
                            });
                            self.set('baseSegmentsObj', baseSegmentsObj);
                        }
                    }).fail(function (e) {
                        console.error("Get Bureau Report by segment error is ", e);
                    });
                },
                cancelBaseSegments: function (e) {
                    var self = this;
                    e.preventDefault();
                    $("#EditData").hide();
                    $("#segmentPanel").show();
                    self.set("baseSegmentsObj", {});
                },
                _submitSegment: function (e) {
                    var self = this;
                    e.preventDefault();
                    var form = Polymer.dom(e).localTarget.parentElement;
                    var params = self.$.urlbureau.getParams();
                    if (form.validate()) {
                        var storeTempDataObj = _.cloneDeep(self.get('storeTempDataObj'));
                        var bureauDateListObj = self.$.configbureau.getConfigurationBasedOnKey("bureauDateList");
                        $.each(self.baseSegmentsObj.values, function (key, value) {
                            storeTempDataObj[key] = value;
                        });
                        var payload = storeTempDataObj;
                        $.each(payload, function (key, value) {
                            if (bureauDateListObj.indexOf(key) != -1) {
                                if (value !== null && value !== "")
                                    payload[key] = self.formFormatDate(value);
                                else
                                    delete payload[key];
                            }
                        });
                        var Url = "/report/" + params.loanId + "/" + self.editSegment;
                        self.$.httpbureau.put(Url, payload, window.config.services.bureauReport, true).then(function () {
                            self.$.messagebureau.showMessage("Segment Updated successfully.", "INFO", self.$$('#bureauMessageContainer'));
                            $("#EditData").hide();
                            $("#segmentPanel").show();
                            self.set("baseSegmentsObj", {});
                            self.getReportByFileId(payload.fileId);
                        }).fail(function (e) {
                            console.error("Update Bureau Report by segment error is ", e);
                        });
                    }
                },
                _hasForm: function (objForm) {
                    if (objForm != undefined && objForm != null && objForm != "") {
                        return true;
                    }
                    else {
                        return false;
                    }
                },
                findLookupValue: function (key, lookupName) {
                    var self = this;
                    var obj = self[lookupName];
                    var result = _.find(obj, ["key", key]);
                    if (result != undefined && result != null) {
                        return result.value + " (" + key + ")";
                    }
                    else {
                        return "NA"
                    }
                },
                checkNeedToRender: function (isVisible) {
                    var self = this;
                    return (isVisible === true) ? true : false;
                },
                setBureauBasicData: function (objData) {
                    var self = this;
                    var baseSegment = objData["baseSegments"];
                    self.set("consumerAccountNumber", baseSegment[0].consumerAccountNumber);
                    var name = ((baseSegment[0].firstName != null) ? baseSegment[0].firstName : "");
                    var middle = ((baseSegment[0].middleName != "" && baseSegment[0].middleName != null) ? (" " + baseSegment[0].middleName + " ") : " ");
                    var surname = ((baseSegment[0].surName != null) ? baseSegment[0].surName : "");
                    var consumerName = name + middle + surname;
                    self.set("consumerName", consumerName);
                },
                sendFile: function (event) {
                    event.preventDefault();
                    var self = this;
                    var fileId = event.currentTarget.dataArgs
                    var url = "/generatefile/" + fileId;
                    self.$.httpbureau.get(url, window.config.services.bureauReport, true).then(function () {
                        self.$.messagebureau.showMessage("File sent successfully.", "SUCCESS", self.$$('#bureauMessageTableContainer'));
                        setTimeout(function () {
                            self.getBureauData();
                        }, 200);
                    }).fail(function (e) {
                        self.$.messagebureau.showMessage("File send error.", "ERROR", self.$$('#bureauMessageTableContainer'));
                    });
                },
                isFileSent: function (bureauObj) {
                    var self = this;
                    return (bureauObj.fileSentDate != undefined && bureauObj.fileSentDate != null && bureauObj.fileSentDate != "") ? true : false;
                }
            });
        });
    </script>
</dom-module>