<html-import html-href="loaders/sk-wave.html"></html-import>
<dom-module id="drawdown-request">
    <template>
        <style>
            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }
        </style>
        <div id="drawdownTaContainer">
            <spinkit-wave hidden$="{{loadding}}"></spinkit-wave>
            <table id="drawdownTable" class="table table-striped" width="100%" cellspacing="0"></table>
        </div>
        <url-parser id="urlloandr"></url-parser>
        <http-request id="httploandr"></http-request>
        <alloy-config id="configloandr"></alloy-config>
        <auth-service id="authorizeloandr"></auth-service>
        <session-manager id="sessionloandr"></session-manager>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "drawdown-request",
                properties: {
                    drawdown: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    loadding: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    fireEvent: {
                        type: Object,
                        notify: true,
                        value: { 'AppDetailsPageRefresh': true }
                    },
                    filterConfig: {
                        type: Object,
                        notify: true
                    },
                    tableObj: {
                        type: Object,
                        notify: true
                    },
                    filteredItems: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    loanData: {
                        type: Object,
                        notify: true
                    }
                },
                init: function () {
                    this._loadFilterConfigurations();
                },
                date: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.date(date, window.config.country, false);
                    }
                    return "NA";
                },
                formatMoney: function (value) {
                    return formats.money(value, window.config.country, 0);
                },
                GetNumber: function (obj) {
                    return obj.entityId;
                },
                _loadFilterConfigurations: function () {
                    var self = this;
                    if (!_.isUndefined(self.loanData)) {
                        var appId = self.loanData.loanApplicationNumber;
                        var data = self.$.configloandr.getConfigurationBasedOnKey("filters");
                        var drawdownFilter = _.cloneDeep(data["LocAllDrawdown"]);
                        var columnLength = drawdownFilter.columns.length;
                        for (var i = 0; i < columnLength; i++) {
                            if (drawdownFilter.columns[i].render != undefined) {
                                var render = drawdownFilter.columns[i].render;
                                if (drawdownFilter.columns[i].isFunction) {
                                    drawdownFilter.columns[i].render = eval("(" + render + ")");
                                }
                                else {
                                    drawdownFilter.columns[i].render = eval(render);
                                }
                            }
                        }
                        self.set("filterConfig", drawdownFilter);
                        self._getFilteredApplicationList(appId);
                    }
                },
                _checkIfEmptyObject: function (obj) {
                    return Object.keys(obj).length === 0 && obj.constructor === Object;
                },
                _getFilteredApplicationList: function (appId) {
                    var self = this;
                    var table = self.tableObj;
                    var loanFilters = window.config.services.savedFilters;
                    $.fn.dataTable.ext.errMode = 'none';
                    if (!_.isUndefined(table) && !_.isNull(table) && !self._checkIfEmptyObject(table)) {
                        table.clear();
                        table.destroy(true);
                        $('#drawdownTaContainer').append($('<table/>').attr('id', 'drawdownTable').css('width', '100%').addClass('table table-striped'));
                    }
                    table = self.tableObj = $(self.$$('#drawdownTable')).DataTable({
                        serverSide: true,
                        ajax: function (data, success) {
                            var page = data.start / 10;
                            page = page + 1;
                            var draw = data.draw;
                            var sortObj = _.transform(data.order, function (result, item) {
                                var columnObj = data.columns[item.column];
                                result[columnObj.data] = item.dir === "desc" ? -1 : 1;
                            }, {});
                            var payload = { sorts: sortObj };
                            payload.searchFilterView = [{ "LocNumber": appId }];
                            $.ajax({
                                url: loanFilters + '/drawdown/Search/LocAllDrawdown?pageSize=10&page=' + page,
                                type: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify(payload),
                                headers: {
                                    'Authorization': "Bearer " + self.$.sessionloandr.get('token')
                                },
                                complete: function (data) {
                                    self.set('filteredItems', data.responseJSON);
                                    self.fire('iron-signal', { name: 'displaytotalcount', data: { totalRecords: data.getResponseHeader('X-TOTAL-COUNT') } });
                                    var gridData = {
                                        "draw": draw,
                                        "recordsTotal": parseInt(data.getResponseHeader('X-TOTAL-COUNT')),
                                        "recordsFiltered": parseInt(data.getResponseHeader('X-TOTAL-COUNT')),
                                        "data": data.responseJSON
                                    }
                                    self.set('loadding', true);
                                    success(gridData);
                                }
                            });
                        },
                        dom: "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                        columns: self.filterConfig.columns,
                        columnDefs: self.filterConfig.columnDefs,
                        order: self.filterConfig.order,
                        language: {
                            lengthMenu: "show_MENU_ Draws",
                            zeroRecords: "No Draws found.",
                            info: "Showing _START_ to _END_ of _TOTAL_ Draws",
                            infoEmpty: "",
                            infoFiltered: "(filtered from _MAX_ total Draws)"
                        }
                    });
                },
                hasRole: function (compName) {
                    return this.$.authorizeloandr.hasRole(compName);
                }
            });
        });
    </script>
</dom-module>