<dom-module id="economics-detail">
    <template>
        <style>
            .prefixSign {
                font: normal normal normal 14px/1 FontAwesome !important;
                font-size: inherit !important;
            }

            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B !important;
            }

            address {
                margin-bottom: 20px;
                font-style: normal;
                line-height: 1.42857143;
            }

            strong {
                display: block;
            }

            .a-map-marker {
                font-size: 14px;
            }

            .hand {
                cursor: pointer;
            }
        </style>
        <template is="dom-if" if="{{checkMultipleVersion(allScheduleVersion)}}">
            <div class="row">
                <div class="col-lg-3">
                    <vaadin-combo-box name="scheduledropdowns" value="{{selectedScheduleVersion}}" item-value-path="key" item-label-path="value"
                        items="{{allScheduleVersion}}" label="Select Schedule" prevent-invalid-input="true" on-change="_onVersionChange">
                    </vaadin-combo-box>
                </div>
            </div>
        </template>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <tr>
                        <th colspan="6" class="header">Payment Performance
                            <i aria-hidden="true" class="fa fa-info-circle helpIcon hand" data-args="PaymentPerformance" on-click="Helptext"></i>
                        </th>
                    </tr>
                    <tr>
                        <th class="col-sm-2">Total # of Missed Payments</th>
                        <td class="col-sm-2">{{checkPaymentPerformance(metricsData,'NoOfMissedPayments')}}</td>
                        <th class="col-sm-2">Total # of NSF</th>
                        <td class="col-sm-2">{{checkPaymentPerformance(metricsData,'NoOfNSF')}}</td>
                        <th class="col-sm-2">Total # of Failed Payments</th>
                        <td class="col-sm-2">{{checkPaymentPerformance(metricsData,'NoOfFailedPayments')}}</td>
                    </tr>
                    <tr>
                        <th class="col-sm-2">Successive Missed Payments</th>
                        <td class="col-sm-2">{{checkPaymentPerformance(metricsData,'SuccessivePaymentMissed')}}</td>
                        <th class="col-sm-2">Successive NSF</th>
                        <td class="col-sm-2">{{checkPaymentPerformance(metricsData,'SuccessiveNSFFailure')}}</td>
                        <th class="col-sm-2">Successive Failed Payments</th>
                        <td class="col-sm-2">{{checkPaymentPerformance(metricsData,'SuccessivePaymentFailure')}}</td>
                    </tr>
                    <tr>
                        <th class="col-sm-2"># of Times Auto-Pay Paused</th>
                        <td class="col-sm-2">{{checkPaymentPerformance(metricsData,'NoOfAutoPayStop')}}</td>
                        <th class="col-sm-2"></th>
                        <td class="col-sm-2"></td>
                        <th class="col-sm-2"></th>
                        <td class="col-sm-2"></td>
                    </tr>
                    <tr>
                        <th colspan="6" class="header">Summary
                            <i aria-hidden="true" class="fa fa-info-circle helpIcon hand" data-args="Summary" on-click="Helptext"></i>
                        </th>
                    </tr>
                    <tr>
                        <th class="col-sm-2">Principal Paid</th>
                        <td class="col-sm-2">{{ formatMoney(currentEconomicsData.paymentInfo.paidPrincipalAmount) }}</td>
                        <template is="dom-if" if="{{!checkPortfolioType(loanData)}}">
                            <th class="col-sm-2">Finance Charge Paid</th>
                        </template>
                        <template is="dom-if" if="{{checkPortfolioType(loanData)}}">
                            <th class="col-sm-2">Interest Paid</th>
                        </template>
                        <td class="col-sm-2">{{ interestPaid(currentEconomicsData.paymentInfo.paidInterestAmount,currentEconomicsData.schedule.paidAdditionalInteret)
                            }}
                        </td>
                        <th class="col-sm-2">Total Paid</th>
                        <td class="col-sm-2">{{ formatMoney(currentEconomicsData.paymentInfo.cumulativeTotalPaid) }}</td>
                    </tr>
                    <tr>
                        <th class="col-sm-2">Expected Cumulative Principal</th>
                        <td class="col-sm-2">{{ formatMoney(currentEconomicsData.pboc.expectedCumulativePrincipal) }}</td>
                        <template is="dom-if" if="{{!checkPortfolioType(loanData)}}">
                            <th class="col-sm-2">Cumulative Finance Charge</th>
                        </template>
                        <template is="dom-if" if="{{checkPortfolioType(loanData)}}">
                            <th class="col-sm-2">Cumulative Interest Accrued</th>
                        </template>
                        <td class="col-sm-2">{{ formatMoney(currentEconomicsData.pboc.cummulativeInterestAccured) }}</td>
                        <th class="col-sm-2">Fees Paid</th>
                        <td class="col-sm-2">{{ formatMoney(currentEconomicsData.paymentInfo.paidFeeAmount) }}</td>
                    </tr>
                    <tr>
                        <th class="col-sm-2">Excess Amount</th>
                        <td class="col-sm-2">{{ formatMoney(currentEconomicsData.excessMoney.amount) }}
                            <template is="dom-if" if="{{_hasExcessAmount(ExcessAmount)}}">
                                <template is="dom-if" if="{{hasRole('refundAmount')}}">
                                    &nbsp;
                                    <i aria-hidden="true" class="fa fa-reply hand" on-click="_refund"></i>
                                </template>
                                <template is="dom-if" if="{{_hasSuspenseApply(statusObj)}}">
                                    &nbsp;
                                    <i aria-hidden="true" class="fa fa-reply-all hand" on-click="_applySuspense"></i>
                                </template>
                            </template>
                        </td>
                        <th class="col-sm-2">Last Payment Amount</th>
                        <td class="col-sm-2">{{ formatMoney(currentEconomicsData.paymentInfo.lastPaymentAmount) }}</td>
                        <th class="col-sm-2">Last Payment Date</th>
                        <td class="col-sm-2">{{ onlyDate(currentEconomicsData.paymentInfo.lastPaymentReceivedDate) }}</td>
                    </tr>
                    <template is="dom-if" if="{{checkPriorIneterest(loanData,scheduleList)}}">
                        <tr>
                            <th class="col-sm-2">Prior Interest Paid</th>
                            <td class="col-sm-2">{{ formatMoney(currentEconomicsData.paymentInfo.paidPriorInterest) }}</td>
                            <th></th>
                            <td></td>
                            <th></th>
                            <td></td>
                        </tr>
                    </template>
                    <tr>
                        <td colspan="6" class="header">Total Outstanding Balance
                            <i aria-hidden="true" class="fa fa-info-circle helpIcon hand" data-args="TotalOutstandingBalance" on-click="Helptext"></i>
                        </td>
                    </tr>
                    <tr>
                        <th class="col-sm-2">Principal Outstanding</th>
                        <td class="col-sm-2">{{ formatMoney(currentEconomicsData.pbot.totalPrincipalOutStanding) }}</td>
                        <template is="dom-if" if="{{!checkPortfolioType(loanData)}}">
                            <th class="col-sm-2">Finance Charge Outstanding</th>
                        </template>
                        <template is="dom-if" if="{{checkPortfolioType(loanData)}}">
                            <th class="col-sm-2">Interest Outstanding</th>
                        </template>
                        <td class="col-sm-2">{{ formatMoney(currentEconomicsData.pbot.totalInterestOutstanding) }}</td>
                        <th class="col-sm-2">As of Date</th>
                        <td class="col-sm-2">{{ onlyDate(currentEconomicsData.pbot.asOfDatePBOT) }}</td>
                    </tr>
                    <tr>
                        <th class="col-sm-2">Fee Outstanding</th>
                        <td class="col-sm-2">{{ formatMoney(currentEconomicsData.pbot.totalFeeOutstanding) }}</td>
                        <template is="dom-if" if="{{checkPortfolioType(loanData)}}">
                            <th class="col-sm-2">Additional Outstanding Interest</th>
                            <td class="col-sm-2">{{ formatMoney(currentEconomicsData.pbot.additionalOutStandingInterest) }}</td>
                        </template>
                        <th class="col-sm-2">Total Outstanding Balance</th>
                        <td class="col-sm-2">{{TotalPBOTSum(currentEconomicsData.pbot)}}</td>
                        <template is="dom-if" if="{{!checkPortfolioType(loanData)}}">
                            <th class="col-sm-2"></th>
                            <td class="col-sm-2"></td>
                        </template>
                    </tr>
                    <template is="dom-if" if="{{checkPriorIneterest(loanData,scheduleList)}}">
                        <tr>
                            <th class="col-sm-2">Prior Interest</th>
                            <td class="col-sm-2">{{ formatMoney(currentEconomicsData.priorInterestOutStanding.totalPriorInterestOutStanding) }}</td>
                            <th></th>
                            <td></td>
                            <th></th>
                            <td></td>
                        </tr>
                    </template>
                    <tr>
                        <th colspan="6" class="header">Current Outstanding Balance
                            <i aria-hidden="true" class="fa fa-info-circle helpIcon hand" data-args="CurrentOutstandingBalance" on-click="Helptext"></i>
                        </th>
                    </tr>
                    <tr>
                        <th class="col-sm-2">Principal Outstanding</th>
                        <td class="col-sm-2">{{ formatMoney(currentEconomicsData.pboc.currentPrincipalOutStanding) }}</td>
                        <template is="dom-if" if="{{!checkPortfolioType(loanData)}}">
                            <th class="col-sm-2">Finance Charge Outstanding</th>
                        </template>
                        <template is="dom-if" if="{{checkPortfolioType(loanData)}}">
                            <th class="col-sm-2">Interest Outstanding</th>
                        </template>
                        <td class="col-sm-2">{{ formatMoney(currentEconomicsData.pboc.currentInterestOutStanding) }}</td>
                        <th class="col-sm-2">As of Date</th>
                        <td class="col-sm-2">{{ onlyDate(currentEconomicsData.pboc.asOfDatePBOC) }}</td>
                    </tr>
                    <tr>
                        <th class="col-sm-2">Outstanding From </th>
                        <td class="col-sm-2">{{ onlyDate(currentEconomicsData.due.dpdStartDate) }}</td>
                        <th class="col-sm-2">DPD Days</th>
                        <td class="col-sm-2">{{ currentEconomicsData.due.dpdDays }}</td>
                        <th class="col-sm-2">Current Outstanding Balance</th>
                        <td class="col-sm-2">{{TotalPBOCSum(currentEconomicsData.pboc)}}</td>
                    </tr>

                    <template is="dom-if" if="{{CheckChargedOff(currentEconomicsData.chargeOff)}}">
                        <tr>
                            <td colspan="6" class="header">Charge Off</td>
                        </tr>
                        <tr>
                            <th class="col-sm-2">Charged Off date</th>
                            <td class="col-sm-2">{{ date(currentEconomicsData.chargeOff.chargeOffDate) }}</td>
                            <th class="col-sm-2">Principal Charged Off</th>
                            <td class="col-sm-2">{{ formatMoney(currentEconomicsData.chargeOff.chargeOffAmount) }}</td>
                            <th class="col-sm-2">Interest Charged Off</th>
                            <td class="col-sm-2">{{ formatMoney(currentEconomicsData.chargeOff.interestOutStanding) }}</td>
                        </tr>
                        <tr>
                            <th class="col-sm-2">Total Charged Off</th>
                            <td class="col-sm-2">{{ SumValue(currentEconomicsData.chargeOff.chargeOffAmount,currentEconomicsData.chargeOff.interestOutStanding,currentEconomicsData.chargeOff.feeOutStanding)}}</td>
                            <th class="col-sm-2"></th>
                            <td class="col-sm-2"></td>
                            <th class="col-sm-2"></th>
                            <td class="col-sm-2"></td>
                        </tr>
                    </template>
                    <template is="dom-if" if="{{ChecksellOff(currentEconomicsData.sellOff)}}">
                        <tr>
                            <td colspan="6" class="header">Sell off</td>
                        </tr>
                        <tr>
                            <th class="col-sm-2">Sell Off date</th>
                            <td class="col-sm-2">{{ date(currentEconomicsData.sellOff.sellOffDate) }}</td>
                            <th class="col-sm-2">Principal Sell Off</th>
                            <td class="col-sm-2">{{ formatMoney(currentEconomicsData.sellOff.sellOffAmount) }}</td>
                            <th class="col-sm-2">Interest Sell Off</th>
                            <td class="col-sm-2">{{ formatMoney(currentEconomicsData.sellOff.interestOutStanding) }}</td>
                        </tr>
                        <tr>
                            <th class="col-sm-2">Total Sell Off</th>
                            <td class="col-sm-2">{{ SumValue(currentEconomicsData.sellOff.sellOffAmount,currentEconomicsData.sellOff.interestOutStanding,currentEconomicsData.sellOff.feeOutStanding)
                                }}
                            </td>
                            <th class="col-sm-2"></th>
                            <td class="col-sm-2"></td>
                            <th class="col-sm-2"></th>
                            <td class="col-sm-2"></td>
                        </tr>
                    </template>
                </table>
            </div>
        </div>
        <div class="row divideborder">
        </div>
        <custom-modal id="ApplySuspenseModal" class="modal-drop" on-modal-hidden="_resetApplySuspense">
            <div>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Apply Suspense</h4>
                        </div>
                        <div class="modal-body">
                            <div id="SuspenseMessageContainer"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <form is="iron-form" class="form-horizontal" name="ApplySuspense">
                                        <div class="row">
                                            <div class="panel-left col-md-6">
                                                <paper-input class="custom-input" required type="text" value="{{PaymentAmount}}" name="PaymentAmount" id="PaymentAmount"
                                                    label="{{PaymentAmountLBL}}" pattern="^[0-9]+(.[0-9]{0,2})?$" on-blur="GetEstimate">
                                                    <div prefix class$="{{getCurrencySymbol()}}"></div>
                                                </paper-input>
                                            </div>
                                            <div class="panel-left col-md-6">
                                                <paper-input class="custom-input" pattern="^[0-9]+(.[0-9]{0,2})?$" type="text" value="{{Principal}}" name="Principal" id="Principal"
                                                    label="Principal">
                                                    <div prefix class$="{{getCurrencySymbol()}}"></div>
                                                </paper-input>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="panel-left col-md-6">
                                                <paper-input class="custom-input" pattern="^[0-9]+(.[0-9]{0,2})?$" type="text" value="{{Interest}}" name="Interest" id="Interest"
                                                    label="{{interestLabel}}">
                                                    <div prefix class$="{{getCurrencySymbol()}}"></div>
                                                </paper-input>
                                            </div>
                                            <div class="panel-left col-md-6">
                                                <template is="dom-if" if="{{checkPortfolioType(loanData)}}">
                                                    <paper-input class="custom-input" pattern="^[0-9]+(.[0-9]{0,2})?$" type="text" value="{{AdditionalInterest}}" name="Additional Interest"
                                                        id="AdditionalInterest" label="Additional Interest">
                                                        <div prefix class$="{{getCurrencySymbol()}}"></div>
                                                    </paper-input>
                                                </template>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="panel-left col-md-6">
                                                <paper-input class="custom-input" readonly pattern="^[0-9]+(.[0-9]{0,2})?$" type="text" value="{{Fees}}" name="Fees" id="Fees"
                                                    label="Fees">
                                                    <div prefix class$="{{getCurrencySymbol()}}"></div>
                                                </paper-input>
                                            </div>
                                            <div class="panel-left col-md-6">
                                                <vaadin-date-picker class="custom-input" required id="PaymentScheduleDate" i18n="[[i18n]]" label="Payment Date" format="{{_getFormat(item.value)}}"
                                                    value="{{PaymentScheduleDate}}"></vaadin-date-picker>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="panel-left col-md-6">
                                                <checkbox-group id="papercheckboxGroup" checkboxes="{{AppliedFees}}" selected-items="{{selectedFees}}"></checkbox-group>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="panel-left col-md-12">
                                                <paper-input class="custom-input" type="text" value="{{Description}}" name="Description" id="Description" label="Description"></paper-input>
                                            </div>
                                        </div>
                                        <br>
                                        <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>
        <custom-modal id="RefundAmountModal" class="modal-drop" on-modal-hidden="_resetrefundAmount">
            <div>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Refund Amount</h4>
                        </div>
                        <div class="modal-body">
                            <div id="refundMessageContainer"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    Funds will be sent to the current designated primary account on our records ({{bankBumber(BankAccountNumber)}})
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <form is="iron-form" class="form-horizontal" name="RefundPayment">
                                        <div class="row">
                                            <div class="panel-left col-md-6">
                                                <paper-input class="custom-input" required type="text" value="{{refundPaymentAmount}}" name="refundPaymentAmount" id="refundPaymentAmount"
                                                    label="{{PaymentAmountLBL}}" pattern="^[0-9]+(.[0-9]{0,2})?$">
                                                    <div prefix class$="{{getCurrencySymbol()}}"></div>
                                                </paper-input>
                                            </div>
                                            <div class="panel-left col-md-6">
                                                <vaadin-date-picker class="custom-input" required id="refundPaymentScheduleDate" i18n="[[i18n]]" label="Payment Date" format="{{_getFormat(item.value)}}"
                                                    value="{{refundPaymentScheduleDate}}"></vaadin-date-picker>
                                            </div>
                                        </div>
                                        <br>
                                        <paper-button class="btn btn-primary activity-action-btn" on-click="_submitRefundPament" raised>Submit</paper-button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>
        <url-parser id="urleconomics"></url-parser>
        <http-request id="httpeconomics"></http-request>
        <alloy-config id="economicsConfig"></alloy-config>
        <auth-service id="economicsauthorize"></auth-service>
        <utility-service id="economicsutility"></utility-service>
        <message-component id="economicsmessage"></message-component>
        <session-manager id="economicssession"></session-manager>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "economics-detail",
                properties: {
                    tabAction: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    nonMcaInterestOutstanding: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    noOfFailedPayments: {
                        type: String,
                        notify: true,
                        value: "0",
                        reflectToAttribute: true
                    },
                    noOfMissedPayments: {
                        type: String,
                        notify: true,
                        value: "0",
                        reflectToAttribute: true
                    },
                    noOfNSF: {
                        type: String,
                        notify: true,
                        value: "0",
                        reflectToAttribute: true
                    },
                    successivePaymentFailure: {
                        type: String,
                        notify: true,
                        value: "0",
                        reflectToAttribute: true
                    },
                    successivePaymentMissed: {
                        type: String,
                        notify: true,
                        value: "0",
                        reflectToAttribute: true
                    },
                    successiveNSFFailure: {
                        type: String,
                        notify: true,
                        value: "0",
                        reflectToAttribute: true
                    },
                    interestLabel: {
                        type: String,
                        notify: true
                    },
                    refundPaymentAmount: {
                        type: String,
                        notify: true,
                        observer: "_valueValidationRefund"
                    },
                    refundPaymentScheduleDate: {
                        type: Date,
                        notify: true,
                        observer: "_checkHolidayrefundPayment"
                    },
                    BankAccountNumber: {
                        type: String,
                        notify: true
                    },
                    BankAccountTypeId: {
                        type: String,
                        notify: true
                    },
                    BankAccountType: {
                        type: Array,
                        notify: true,
                        value: [
                            { key: 'Checking', value: 'Checking' },
                            { key: 'Savings', value: 'Savings' }
                        ]
                    },
                    BankRTN: {
                        type: String,
                        notify: true
                    },
                    BorrowersName: {
                        type: String,
                        notify: true
                    },
                    bankList: {
                        type: Array,
                        notify: true,
                        observer: "setBank",
                        reflectToAttribute: true
                    },
                    PaymentAmountLBL: {
                        type: String,
                        notify: true
                    },
                    PaymentAmount: {
                        type: String,
                        notify: true,
                        observer: "_valueValidation"
                    },
                    ExcessAmount: {
                        type: String,
                        notify: true
                    },
                    Principal: {
                        type: String,
                        notify: true,
                        observer: "reCalculateValue"
                    },
                    Interest: {
                        type: String,
                        notify: true,
                        observer: "reCalculateValue"
                    },
                    AdditionalInterest: {
                        type: String,
                        notify: true,
                        observer: "reCalculateValue"
                    },
                    Fees: {
                        type: String,
                        notify: true,
                        observer: "reCalculateValue"
                    },
                    PaymentScheduleDate: {
                        type: Date,
                        notify: true,
                        observer: "_checkHoliday"
                    },
                    AppliedFees: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    selectedFees: {
                        type: Array,
                        notify: true,
                        value: [],
                        observer: "FeesChanged"
                    },
                    Description: {
                        type: String,
                        notify: true
                    },
                    currentEconomicsData: {
                        type: Object,
                        notify: true,
                        observer: "setExcessAmount"
                    },
                    VerisonNumber: {
                        type: String,
                        notify: true
                    },
                    currentSchedule: {
                        type: Object,
                        notify: true
                    },
                    selectedScheduleVersion: {
                        type: String,
                        notify: true
                    },
                    allScheduleVersion: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    loanDetails: {
                        type: Object,
                        notify: true
                    },
                    loanData: {
                        type: Object,
                        notify: true
                    },
                    scheduleList: {
                        type: Array,
                        notify: true,
                        observer: 'loadScheduleList'
                    },
                    i18n: {
                        type: Object,
                        notify: true,
                        value: {
                            monthNames: moment.months(),
                            weekdays: moment.weekdays(),
                            weekdaysShort: moment.weekdaysShort(),
                            firstDayOfWeek: moment.localeData().firstDayOfWeek(),
                            week: 'Week',
                            calendar: 'Calendar',
                            clear: 'Clear',
                            today: 'Today',
                            cancel: 'Cancel',
                            formatDate: function (d) {
                                return moment(d).format("MM/DD/YYYY");
                            },
                            parseDate: function (s) {
                                return moment(s, "MM/DD/YYYY").toDate();
                            },
                            formatTitle: function (monthName, fullYear) {
                                return monthName + ' ' + fullYear;
                            }
                        }
                    },
                    statusObj: {
                        type: Object,
                        notify: true,
                    }
                },
                init: function () {
                    this._processEconomicsData();
                    this._getPaymentPerformance();
                },
                date: function (date) {
                    var EXCLUDE_Date = ["01-01-0001", "01/01/0001", "0001-01-01T00:00:00Z"];
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        if (EXCLUDE_Date.indexOf(date.toString()) != -1) {
                            return "NA";
                        }
                        else {
                            return formats.date(date, window.config.country, false);
                        }
                    }
                    return "NA";
                },
                onlyDate: function (date) {
                    var EXCLUDE_Date = ["01-01-0001", "01/01/0001", "0001-01-01T00:00:00Z"];
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        if (EXCLUDE_Date.indexOf(date.toString()) != -1) {
                            return "NA";
                        }
                        else {
                            return formats.onlyDate(date, window.config.country);
                        }
                    }
                    return "NA";
                },
                years: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.round(moment().diff(date, 'years', true), 1);
                    }
                    return "NA";
                },
                phone: function (phone) {
                    return formats.phone(phone, window.config.country);
                },
                formatMoney: function (value) {
                    if (value != undefined) {
                        return formats.money(value, window.config.country, 0);
                    }
                    else {
                        return "NA";
                    }
                },
                _checkIfValue: function (value) {
                    if (!_.isNull(value) && !_.isUndefined(value) && !_.isEmpty(value)) {
                        return value;
                    }
                    return "NA";
                },
                loadScheduleList: function () {
                    var self = this;
                    var params = this.$.urleconomics.getParams();
                    var updatedList = _.transform(self.scheduleList, function (result, item) {
                        if (item.modStatus === "None" || item.modStatus === "Active") {
                            result.push({ key: item.scheduleVersionNo, value: item.scheduleVersionNo });
                        }
                    }, []);
                    self.set('allScheduleVersion', updatedList);
                    var currentSchedule = _.find(self.scheduleList, ["isCurrent", true]);
                    if (currentSchedule) {
                        self.set('selectedScheduleVersion', currentSchedule.scheduleVersionNo);
                    }
                },
                GetScheduleData: function (objversion, applicationNumber) {
                    var self = this;
                    var Url = "/" + applicationNumber + "/" + objversion;
                    self.$.httpeconomics.get(Url, window.config.services.accountingService, false).then(function (data) {
                        if (data) {
                            self.set('currentEconomicsData', data);
                        }
                    }).fail(function (e) {
                        console.error("load config error is ", e);
                    });
                },
                SumValue: function (val1, val2, val3) {
                    var self = this;
                    var SumData = val1 + val2 + val3;
                    return self.formatMoney(SumData);
                },
                CheckChargedOff: function (ObjChargedOFf) {
                    if (ObjChargedOFf != undefined && ObjChargedOFf != null) {
                        return true;
                    }
                    return false;
                },
                ChecksellOff: function (ObjsellOFf) {
                    if (ObjsellOFf != undefined && ObjsellOFf != null) {
                        return true;
                    }
                    return false;
                },
                _onVersionChange: function (event) {
                    var self = this;
                    var selectedValues = event.target.value;
                    var params = self.$.urleconomics.getParams();
                    self.GetScheduleData(selectedValues, params.loanId);
                },
                CheckProduct: function (objType) {
                    if (objType != undefined && (objType === "LineOfCredit" || objType === "MCALOC")) {
                        return true;
                    }
                    return false;
                },
                Helptext: function (e) {
                    var self = this;
                    var args = e.target.dataset.args;
                    var tooltipObj = self.$.economicsauthorize.getToolTip(args, '');
                    $("h4.modal-title").text(tooltipObj.title);
                    $('#modalDesc').html(tooltipObj.data);
                    $('#helpTextModal')[0].showModal();
                },
                TotalPBOTSum: function (pbot) {
                    var self = this;
                    if (pbot != undefined && pbot != null && pbot != "") {
                        var FinalAmout = parseFloat(pbot.totalPrincipalOutStanding) + parseFloat(pbot.totalInterestOutstanding) + parseFloat(pbot.totalFeeOutstanding);
                        return self.formatMoney(FinalAmout);
                    }
                    return "NA";
                },
                TotalPBOCSum: function (pboc) {
                    var self = this;
                    if (pboc != undefined && pboc != null && pboc != "") {
                        var FinalAmout = parseFloat(pboc.currentPrincipalOutStanding) + parseFloat(pboc.currentInterestOutStanding);
                        return self.formatMoney(FinalAmout);
                    }
                    else
                        return "NA";
                },
                reCalculateValue: function () {
                    var self = this;
                    if (self.Principal === undefined || self.Principal === "") {
                        self.Principal = 0.00;
                    }
                    if (self.Interest === undefined || self.Interest === "") {
                        self.Interest = 0.00;
                    }
                    if (self.AdditionalInterest === undefined || self.AdditionalInterest === "") {
                        self.AdditionalInterest = 0.00;
                    }
                    if (self.Fees === undefined || self.Fees === "") {
                        self.Fees = 0.00;
                    }
                    var value = parseFloat(self.Principal) + parseFloat(self.Interest) + parseFloat(self.AdditionalInterest) + parseFloat(self.Fees);
                    self.PaymentAmount = parseFloat(value).toFixed(2);
                },
                _checkHolidayrefundPayment: function () {
                    var self = this;
                    var allowHolidayAsPaymentDate = self.$.economicsConfig.getConfigurationBasedOnKey("allowHolidayAsRefundPaymentDate");
                    if (allowHolidayAsPaymentDate) {
                        var weekday = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
                        if (self.refundPaymentScheduleDate != undefined && self.refundPaymentScheduleDate != null && self.refundPaymentScheduleDate != "") {
                            var selectedDate = new Date(self.refundPaymentScheduleDate);
                            var holidayCalendar = JSON.parse(self.$.economicssession.get("holidayCalendar"));
                            var CheckDayList = holidayCalendar[weekday[selectedDate.getDay()]];
                            var CheckDateList = holidayCalendar[self.refundPaymentScheduleDate];
                            if (CheckDayList != undefined && CheckDayList != null && CheckDayList != "") {
                                self.set('refundPaymentScheduleDate', "");
                                self.$.economicsmessage.showMessage("Please select bank working day", "ERROR", self.$$('#refundMessageContainer'));
                            }
                            else if (CheckDateList != undefined && CheckDateList != null && CheckDateList != "") {
                                self.set('refundPaymentScheduleDate', "");
                                self.$.economicsmessage.showMessage("Please select bank working day", "ERROR", self.$$('#refundMessageContainer'));
                            }
                        }
                    }
                },
                _checkHoliday: function () {
                    var self = this;
                    var allowHolidayAsPaymentDate = self.$.economicsConfig.getConfigurationBasedOnKey("allowHolidayAsPaymentDate");
                    if (allowHolidayAsPaymentDate) {
                        var weekday = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
                        if (self.PaymentScheduleDate != undefined && self.PaymentScheduleDate != null && self.PaymentScheduleDate != "") {
                            var selectedDate = new Date(self.PaymentScheduleDate);
                            var holidayCalendar = JSON.parse(self.$.economicssession.get("holidayCalendar"));
                            var CheckDayList = holidayCalendar[weekday[selectedDate.getDay()]];
                            var CheckDateList = holidayCalendar[self.PaymentScheduleDate];
                            if (CheckDayList != undefined && CheckDayList != null && CheckDayList != "") {
                                self.set('PaymentScheduleDate', "");
                                self.$.economicsmessage.showMessage("Please select bank working day", "ERROR", self.$$('#SuspenseMessageContainer'));
                            }
                            else if (CheckDateList != undefined && CheckDateList != null && CheckDateList != "") {
                                self.set('PaymentScheduleDate', "");
                                self.$.economicsmessage.showMessage("Please select bank working day", "ERROR", self.$$('#SuspenseMessageContainer'));
                            }
                        }
                    }
                },
                FeesChanged: function () {
                    var self = this;
                    var sum = 0;
                    if (self.selectedFees != undefined && self.selectedFees != null && self.selectedFees != "") {
                        self.selectedFees.forEach(function (element) {
                            var FeesAmount = element.substring(element.lastIndexOf('-') + 1);
                            sum = parseFloat(sum) + parseFloat(FeesAmount);
                        });
                    }
                    self.set('Fees', sum);
                },
                _verifyForm: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    var accountingService = window.config.services.accountingService;
                    if (form.validate()) {
                        var url = "/" + self.applicationNumber + "/payment";
                        var Amount = 0;
                        var value = parseFloat(self.Principal) + parseFloat(self.Interest) + parseFloat(self.AdditionalInterest) + parseFloat(self.Fees);
                        Amount = parseFloat(value).toFixed(2);
                        var payload = {
                            Principal: self.Principal,
                            Interest: self.Interest,
                            Fees: self.GetFeesObject(),
                            AdditionalInterest: self.AdditionalInterest,
                            ProcessingDate: self.formatDate(self.PaymentScheduleDate),
                            EffectiveDate: self.formatDate(self.PaymentScheduleDate),
                            FeeAmount: self.Fees,
                            TotalAmount: parseFloat(Amount),
                            IsSuspense: true,
                            Description: self.Description,
                            Action: "custom"
                        };
                        self.$.httpeconomics.post(url, payload, accountingService, true).then(function (data) {
                            self.$$('#ApplySuspenseModal').hideModal();
                            self._raiseEconomicsRefreshEvent(e);
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            self.$.economicsmessage.showMessage(strMessage, "ERROR", self.$$('#SuspenseMessageContainer'));
                        });
                    }
                },
                formatDate: function (date) {
                    return moment.tz(date, window.config.timezone).format("YYYY-MM-DD");
                },
                GetEstimate: function () {
                    var self = this;
                    self.GetCustomFees(self.PaymentAmount);
                },
                GetFeesTotal: function (fees) {
                    var Totalfees = 0;
                    if (fees != undefined && fees != "" && fees != null) {
                        Totalfees = _.sumBy(fees, function (obj) {
                            if (obj.isPaid === false) {
                                return obj.feeAmount;
                            }
                        });
                    }
                    return Totalfees;
                },
                GetCustomFees: function (PaymentAmount) {
                    var self = this;
                    var Url = "/" + self.applicationNumber + "/fees";
                    self.$.httpeconomics.get(Url, window.config.services.accountingService, true).then(function (data) {
                        if (data) {
                            var fee = self.GetFeesTotal(data);
                            fee = (fee === undefined || fee === null || fee === 0) ? parseFloat(0.00).toFixed(2) : parseFloat(fee).toFixed(2);
                            self.EstimateObj = {};
                            self.EstimateObj.fees = data;
                            self.Fees = parseFloat(fee).toFixed(2);
                            self.Principal = (parseFloat(PaymentAmount) > parseFloat(self.Fees)) ? parseFloat(PaymentAmount) - parseFloat(self.Fees) : parseFloat(0.00).toFixed(2);
                            self.Interest = parseFloat(0.00).toFixed(2);
                            self.AdditionalInterest = parseFloat(0.00).toFixed(2);
                            self.GenerateCheckGroup();
                        }
                    }).fail(function (e) {
                        console.error("Get Custom fees error is ", e);
                    });
                },
                GenerateCheckGroup: function () {
                    var self = this;
                    var feesObj = [];
                    self.set("AppliedFees", []);
                    if (self.EstimateObj != undefined && self.EstimateObj != null && self.EstimateObj.fees != undefined && self.EstimateObj.fees != "" && self.EstimateObj.fees != null) {
                        for (var i = 0; i < self.EstimateObj.fees.length; i++) {
                            if (self.EstimateObj.fees[i].isPaid === false) {
                                feesObj.push(self.EstimateObj.fees[i].feeName + "-" + self.EstimateObj.fees[i].feeAmount);
                            }
                        }
                        self.set("AppliedFees", feesObj);
                        self.set("selectedFees", feesObj);
                    }
                },
                _applySuspense: function () {
                    var self = this;
                    if (self.checkPortfolioType(self.loanData)) {
                        self.interestLabel = "Interest";
                    }
                    else {
                        self.interestLabel = "Finance Charge";
                    }
                    self.$$('#ApplySuspenseModal').showModal();
                },
                _refund: function () {
                    var self = this;
                    self.$$('#RefundAmountModal').showModal();
                },
                _raiseEconomicsRefreshEvent: function (event) {
                    var self = this;
                    self.$.economicsutility.raiseEvent(this.fireEvent, {
                        ActionName: 'ApplySuspense',
                        EventData: event,
                        CompnentName: 'apply-suspense'
                    });
                },
                GetFeesObject: function () {
                    var self = this;
                    var feesObj = [];
                    if (self.EstimateObj != undefined && self.EstimateObj != null && self.EstimateObj.fees != undefined && self.EstimateObj.fees != "" && self.EstimateObj.fees != null) {
                        for (var i = 0; i < self.EstimateObj.fees.length; i++) {
                            var selFees = self.EstimateObj.fees[i].feeName + "-" + self.EstimateObj.fees[i].feeAmount;
                            if (self.EstimateObj.fees[i].isPaid === false && self.selectedFees != "" && self.selectedFees != undefined && self.selectedFees.indexOf(selFees) !== -1) {
                                feesObj.push({
                                    FeeAmount: self.EstimateObj.fees[i].feeAmount,
                                    FeeType: self.EstimateObj.fees[i].feeType,
                                    FeeName: self.EstimateObj.fees[i].feeName
                                });
                            }
                        }
                    }
                    return feesObj;
                },
                _processEconomicsData: function () {
                    var self = this;
                    self.ExcessAmount = 0;
                    if (self.currentEconomicsData != undefined && self.currentEconomicsData != null && self.currentEconomicsData.excessMoney != null && self.currentEconomicsData.excessMoney != undefined && self.currentEconomicsData.excessMoney != "") {
                        self.ExcessAmount = self.currentEconomicsData.excessMoney.amount;
                    }
                    self.PaymentAmount = parseFloat(self.ExcessAmount).toFixed(2);
                    self.refundPaymentAmount = parseFloat(self.ExcessAmount).toFixed(2);
                    self.PaymentAmountLBL = "Payment Amount (" + self.PaymentAmount + ")";
                    //TODO fix this its calling even before loan detail data
                    self.GetCustomFees(self.PaymentAmount);
                    setTimeout(function () {
                        if (self.tabAction !== undefined && self.tabAction !== null && self.tabAction !== "" && (self.tabAction.actionToPerform === "refundAmount" || self.tabAction.actionToPerform === "applySuspense")) {
                            self.performTabAction();
                        }
                    }, 1000);
                },
                performTabAction: function () {
                    var self = this;
                    if (self.tabAction !== undefined && self.tabAction !== null && self.tabAction !== "") {
                        if (self.tabAction.actionToPerform === "refundAmount") {
                            self.$$('#RefundAmountModal').showModal();
                        }
                        else if (self.tabAction.actionToPerform === "applySuspense") {
                            self.$$('#ApplySuspenseModal').showModal();
                        }
                    }
                },
                _valueValidation: function () {
                    var self = this;
                    if (self.ExcessAmount != undefined && self.ExcessAmount != 0 && parseFloat(self.PaymentAmount) > parseFloat(self.ExcessAmount)) {
                        self.PaymentAmount = parseFloat(self.ExcessAmount).toFixed(2);
                        var strMessage = "Payment Amount should not be more than " + parseFloat(self.ExcessAmount).toFixed(2);
                        self.$.economicsmessage.showMessage(strMessage, "ERROR", self.$$('#SuspenseMessageContainer'));
                    }
                },
                _valueValidationRefund: function () {
                    var self = this;
                    if (self.ExcessAmount != undefined && self.ExcessAmount != 0 && parseFloat(self.refundPaymentAmount) > parseFloat(self.ExcessAmount)) {
                        self.refundPaymentAmount = parseFloat(self.ExcessAmount).toFixed(2);
                        var strMessage = "Payment Amount should not be more than " + parseFloat(self.ExcessAmount).toFixed(2);
                        self.$.economicsmessage.showMessage(strMessage, "ERROR", self.$$('#refundMessageContainer'));
                    }
                },
                _resetApplySuspense: function () {
                    var self = this;
                    self.set("tabAction", {});
                },
                _resetrefundAmount: function () {
                    var self = this;
                    self.set("refundPaymentScheduleDate", "");
                    self.set("tabAction", {});
                },
                setBank: function () {
                    var self = this;
                    if (self.bankList != undefined && self.bankList != null && self.bankList != "") {
                        var ActiveBank = _.find(self.bankList, ["isActive", true]);
                        if (ActiveBank != undefined && ActiveBank != null && ActiveBank != "") {
                            self.BankAccountNumber = ActiveBank.accountNumber;
                            self.BankAccountTypeId = ActiveBank.accountType;
                            self.BankRTN = ActiveBank.routingNumber;
                            self.BorrowersName = ActiveBank.bankHolderName;
                        }
                    }
                },
                _submitRefundPament: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    var paymentProcessor = window.config.services.paymentProcessor;
                    if (form.validate()) {
                        var url = "/loan/" + self.applicationNumber + "/refund/payment";
                        if (self.refundPaymentScheduleDate != "" && self.BankAccountNumber != "" && self.BankAccountTypeId != "" && self.BankRTN != "" && self.BorrowersName != "") {
                            var payload = {
                                PaymentAmount: parseFloat(self.refundPaymentAmount),
                                BankAccountNumber: self.BankAccountNumber,
                                BankAccountType: self.BankAccountTypeId,
                                BankRTN: self.BankRTN,
                                BorrowersName: self.BorrowersName,
                                PaymentScheduleDate: self.formatDate(self.refundPaymentScheduleDate),
                                PaymentInstrumentType: "Ach",
                                PaymentType: "Refund",
                                PaymentRail: "ACH",
                                TransactionType: "Debit"
                            };

                            self.$.httpeconomics.post(url, payload, paymentProcessor).then(function (data) {
                                self.$$('#RefundAmountModal').hideModal();
                                self._raiseEconomicsRefreshEvent(e);
                            }).fail(function (e) {
                                var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                                self.$.economicsmessage.showMessage(strMessage, "ERROR", self.$$('#refundMessageContainer'));
                            });
                        }
                        else {
                            var strMessage = "Bank Details are missing. Please update bank Details.";
                            self.$.economicsmessage.showMessage(strMessage, "ERROR", self.$$('#refundMessageContainer'));
                        }
                    }
                },
                _hasExcessAmount: function (objAmount) {
                    var self = this;
                    if (objAmount != undefined && objAmount != null && objAmount !== "" && objAmount != 0) {
                        return true;
                    }
                    return false;
                },
                hasRole: function (compName) {
                    return this.$.economicsauthorize.hasRole(compName);
                },
                checkPortfolioType: function (objType) {
                    var self = this;
                    if (self.loanData && self.loanData.productPortfolioType != "MCA" && self.loanData.productPortfolioType != "MCALOC") {
                        return true;
                    }
                    return false;
                },
                _getPaymentPerformance: function () {
                    var self = this;
                    var url = "/matrics/" + self.applicationNumber;
                    self.$.httpeconomics.get(url, window.config.services.lmsLoanFilters).then(function (data) {
                        if (data) {
                            self.set('metricsData', data.metrics);
                        }
                        else {
                            self.set('metricsData', {});
                        }
                    }).fail(function (e) {
                        console.error("Payment Performance error is ", e);
                    });
                },
                bankBumber: function (objBankNumber) {
                    var self = this;
                    return formats.accountNumber(objBankNumber, window.config.country);
                },
                checkPaymentPerformance: function (metricsData, Key) {
                    var self = this;
                    if (self.metricsData) {
                        var obj = _.find(self.metricsData, ['name', Key]);
                        var data = (obj != undefined) ? obj.value : 0;
                        return data;
                    }
                    else {
                        return 0;
                    }
                },
                calculateNonMcaInterestOutstanding: function (objCurrEconomics) {
                    var self = this;
                    if (objCurrEconomics != undefined && objCurrEconomics.pboc != undefined && objCurrEconomics.pboc != null && objCurrEconomics.pboc.currentPrincipalOutStanding > 0) {
                        var finalSum = objCurrEconomics.pbot.additionalOutStandingInterest + objCurrEconomics.schedule.scheduleInterest;
                        self.set("nonMcaInterestOutstanding", finalSum);
                        return self.formatMoney(finalSum);
                    }
                    else {
                        self.set("nonMcaInterestOutstanding", 0);
                        return parseFloat(0).toFixed(2);
                    }
                },
                setExcessAmount: function () {
                    var self = this;
                    self.ExcessAmount = 0;
                    if (self.currentEconomicsData != undefined && self.currentEconomicsData != null && self.currentEconomicsData.excessMoney != null && self.currentEconomicsData.excessMoney != undefined && self.currentEconomicsData.excessMoney != "") {
                        self.ExcessAmount = self.currentEconomicsData.excessMoney.amount;
                    }
                    self.PaymentAmount = parseFloat(self.ExcessAmount).toFixed(2);
                    self.refundPaymentAmount = parseFloat(self.ExcessAmount).toFixed(2);
                    self.PaymentAmountLBL = "Payment Amount (" + self.PaymentAmount + ")";
                },
                checkMultipleVersion: function (allScheduleVersion) {
                    var self = this;
                    return (allScheduleVersion.length > 1) ? true : false;
                },
                interestPaid: function (interest, additionalInterest) {
                    var self = this;
                    var finalSum = parseFloat(interest) + parseFloat(additionalInterest);
                    return self.formatMoney(finalSum);
                },
                checkPriorIneterest: function (objType, scheduleList) {
                    var self = this;
                    if (self.scheduleList !== undefined) {
                        var activeLoanMod = _.find(self.scheduleList, ["modStatus", "Active"]);
                        if (self.loanData && self.loanData.productPortfolioType !== "MCA" && self.loanData.productPortfolioType !== "MCALOC" && activeLoanMod !== undefined) {
                            return true;
                        }
                        else {
                            return false;
                        }
                    }
                    return false;

                },
                getCurrencySymbol: function () {
                    var self = this;
                    return formats.currencySymbol(window.config.country) + " prefixSign";
                },
                _hasSuspenseApply: function (statusObj) {
                    var self = this;
                    var hideApplySuspenseForStatus = self.$.economicsConfig.getConfigurationBasedOnKey("hideApplySuspenseForStatus");
                    if (self.hasRole('suspenseApply') && hideApplySuspenseForStatus !== undefined && (hideApplySuspenseForStatus.indexOf(statusObj.code) >= 0)) {
                        return false;
                    }
                    return true;
                }
            });
        });
    </script>
</dom-module>