<dom-module id="edit-borrower">
    <template>
        <style>
            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }

            address {
                margin-bottom: 20px;
                font-style: normal;
                line-height: 1.42857143;
            }

            strong {
                display: block;
            }
        </style>
        <div class="row">
            <div id="editBorrowerMessage"></div>
            <div class="col-sm-12">
                <form is="iron-form" class="form-horizontal" name="multipleContactp" autocomplete="off" aria-autocomplete="none">
                    <div class="row header">
                        <div class="col-sm-11">
                            <h4 class="modal-title">Email Details
                            </h4>
                        </div>
                        <div class="col-sm-1">
                            <paper-icon-button title="Add More Email Details" on-click="_addEmail" icon="add"></paper-icon-button>
                        </div>
                    </div>
                    <div id="emailErrorMessge" style="display: none;">
                        <p>{{emailMessage}}</p>
                    </div>
                    <template is="dom-repeat" items="{{emailArray}}" index-as="indx" as="fieldArray">
                        <div>
                            <dynamic-form form-configuration={{fieldArray}} values="{{fieldArray.values}}"></dynamic-form>
                            <br />
                        </div>
                    </template>
                    <div class="row header">
                        <div class="col-sm-11">
                            <h4 class="modal-title">Phone Details
                            </h4>
                        </div>
                        <div class="col-sm-1">
                            <paper-icon-button title="Add More Phone Details" on-click="_addPhone" icon="add"></paper-icon-button>
                        </div>
                    </div>
                    <div id="phoneErrorMessge" style="display: none;">
                        <p>{{phoneMessage}}</p>
                    </div>
                    <template is="dom-repeat" items="{{phoneArray}}" index-as="indx" as="fieldArray">
                        <div>
                            <dynamic-form form-configuration={{fieldArray}} values="{{fieldArray.values}}"></dynamic-form>
                            <br />
                        </div>
                    </template>
                    <div class="row header">
                        <div class="col-sm-11">
                            <h4 class="modal-title">Address Details
                            </h4>
                        </div>
                        <div class="col-sm-1">
                            <paper-icon-button title="Add More Address Details" on-click="_addAddress" icon="add"></paper-icon-button>
                        </div>
                    </div>
                    <div id="addressErrorMessge" style="display: none;">
                        <p>{{addressMessage}}</p>
                    </div>
                    <template is="dom-repeat" items="{{addressArray}}" index-as="indx" as="fieldArray">
                        <div>
                            <dynamic-form form-configuration={{fieldArray}} values="{{fieldArray.values}}"></dynamic-form>
                        </div>
                    </template>
                    <br />
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_SubmitCollectionDetails" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <http-request id="httpPersonal"></http-request>
        <lookup-service id="lookupPersonal"></lookup-service>
        <utility-service id="utilityPersonal"></utility-service>
        <message-component id="messagePersonal"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "edit-borrower",
                properties: {
                    actionDone: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    isPrimary: {
                        type: Boolean,
                        notify: true,
                        reflectToAttribute: true
                    },
                    fireEvent: {
                        type: Object,
                        notify: true,
                        value: { 'RefreshLoanData': true }
                    },
                    multipleContactsEmail: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                EmailType: {
                                    label: "Email Type",
                                    type: "combobox",
                                    class: "threeColumn",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: false
                                    }
                                },
                                EmailAddress: {
                                    label: "Email",
                                    type: "email",
                                    class: "threeColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        pattern: 'EMAIL',
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                IsActive: {
                                    label: "Is Active",
                                    type: "checkbox",
                                    class: "threeColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        autovalidate: false
                                    }
                                }
                            },
                            values: {
                                EmailType: "",
                                EmailAddress: "",
                                IsActive: false
                            }
                        }
                    },
                    multipleContactsPhone: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                PhoneType: {
                                    label: "Phone Type",
                                    type: "combobox",
                                    class: "threeColumn",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: false
                                    }
                                },
                                PhoneNo: {
                                    label: "Phone No",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                IsActive: {
                                    label: "Is Active",
                                    type: "checkbox",
                                    class: "threeColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        autovalidate: false
                                    }
                                }
                            },
                            values: {
                                PhoneType: "",
                                PhoneNo: "",
                                IsActive: false
                            }
                        }
                    },
                    multipleContactsAddress: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                AddressType: {
                                    label: "Address Type",
                                    type: "combobox",
                                    class: "threeColumn",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: false
                                    }
                                },
                                AddressLine1: {
                                    label: "Address Line 1",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 1,
                                        maxLen: 40
                                    }
                                },
                                AddressLine2: {
                                    label: "Address Line 2",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 40
                                    }
                                },
                                City: {
                                    label: "City",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                State: {
                                    label: "State",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                Zip: {
                                    label: "Zip",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 6
                                    }
                                },
                                IsActive: {
                                    label: "Is Active",
                                    type: "checkbox",
                                    class: "threeColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        autovalidate: false
                                    }
                                }
                            },
                            values: {
                                AddressType: "",
                                AddressLine1: "",
                                AddressLine2: "",
                                City: "",
                                State: "",
                                Zip: "",
                                IsActive: false
                            }
                        }
                    },
                    emailArray: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    },
                    phoneArray: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    },
                    addressArray: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    },
                    emailMessage: {
                        type: String,
                        notify: true
                    },
                    phoneMessage: {
                        type: String,
                        notify: true
                    },
                    addressMessage: {
                        type: String,
                        notify: true
                    },
                    applicantDetail: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true,
                        observer: "_editmultipleContacts"
                    }
                },
                init: function () {
                    var vv = "";
                },
                ready: function () {
                    var self = this;
                    self.GetLookups();
                },
                GetLookups: function () {
                    var self = this;
                    var phoneTypes = this.$.lookupPersonal.getLookupBasedOnName("phoneTypes");
                    var emailTypes = this.$.lookupPersonal.getLookupBasedOnName("emailTypes");
                    var addressTypes = this.$.lookupPersonal.getLookupBasedOnName("addressTypes");

                    var multipleContactsEmail = _.cloneDeep(self.get('multipleContactsEmail'));
                    multipleContactsEmail.controls.EmailType.selectList = emailTypes;
                    self.set('multipleContactsEmail', multipleContactsEmail);

                    var multipleContactsPhone = _.cloneDeep(self.get('multipleContactsPhone'));
                    multipleContactsPhone.controls.PhoneType.selectList = phoneTypes;
                    self.set('multipleContactsPhone', multipleContactsPhone);

                    var multipleContactsAddress = _.cloneDeep(self.get('multipleContactsAddress'));
                    multipleContactsAddress.controls.AddressType.selectList = addressTypes;
                    self.set('multipleContactsAddress', multipleContactsAddress);
                },
                _addEmail: function (event) {
                    var self = this;
                    var emailArray = _.cloneDeep(self.emailArray);
                    var multipleemail = JSON.stringify(_.cloneDeep(self.multipleContactsEmail));
                    multipleemail = JSON.parse(multipleemail);
                    if (event != "AddNew") {
                        multipleemail.values.EmailType = "";
                        multipleemail.values.EmailAddress = "";
                        multipleemail.values.IsActive = false;
                    }
                    emailArray.push(multipleemail);
                    self.set('emailArray', emailArray);
                },
                _addPhone: function (event) {
                    var self = this;
                    var phoneArray = _.cloneDeep(self.phoneArray);
                    var multiplephone = JSON.stringify(_.cloneDeep(self.multipleContactsPhone));
                    multiplephone = JSON.parse(multiplephone);
                    if (event != "AddNew") {
                        multiplephone.values.PhoneNo = "";
                        multiplephone.values.PhoneType = "";
                        multiplephone.values.IsActive = false;
                    }
                    phoneArray.push(multiplephone);
                    self.set('phoneArray', phoneArray);
                },
                _addAddress: function (event) {
                    var self = this;
                    var addressArray = _.cloneDeep(self.addressArray);
                    var multipleaddress = JSON.stringify(_.cloneDeep(self.multipleContactsAddress));
                    multipleaddress = JSON.parse(multipleaddress);
                    if (event != "AddNew") {
                        multipleaddress.values.AddressType = "";
                        multipleaddress.values.AddressLine1 = "";
                        multipleaddress.values.AddressLine2 = "";
                        multipleaddress.values.City = "";
                        multipleaddress.values.State = "";
                        multipleaddress.values.Zip = "";
                        multipleaddress.values.IsActive = false;
                    }
                    addressArray.push(multipleaddress);
                    self.set('addressArray', addressArray);
                },
                _editmultipleContacts: function (objPersonal) {
                    var self = this;
                    if (objPersonal && !_.isEmpty(objPersonal)) {
                        if (objPersonal.emails != null && objPersonal.emails.length > 0) {
                            objPersonal.emails.forEach(function (obj) {
                                var multipleContactsEmail = _.cloneDeep(self.get('multipleContactsEmail'));
                                multipleContactsEmail.values.EmailType = obj.emailType.toLowerCase();
                                multipleContactsEmail.values.EmailAddress = obj.emailAddress;
                                multipleContactsEmail.values.IsActive = obj.isActive;
                                self.set('multipleContactsEmail', multipleContactsEmail);
                                self._addEmail('AddNew');
                            });
                        }
                        else {
                            var multipleContactsEmail = _.cloneDeep(self.get('multipleContactsEmail'));
                            multipleContactsEmail.values.EmailType = "";
                            multipleContactsEmail.values.EmailAddress = "";
                            multipleContactsEmail.values.IsActive = false;
                            self.set('multipleContactsEmail', multipleContactsEmail);
                            self._addEmail('AddNew');
                        }

                        if (objPersonal.phones != null && objPersonal.phones.length > 0) {
                            objPersonal.phones.forEach(function (obj) {
                                var multipleContactsPhone = _.cloneDeep(self.get('multipleContactsPhone'));
                                multipleContactsPhone.values.PhoneNo = obj.phoneNo;
                                multipleContactsPhone.values.PhoneType = obj.phoneType.toLowerCase();
                                multipleContactsPhone.values.IsActive = obj.isActive;
                                self.set('multipleContactsPhone', multipleContactsPhone);
                                self._addPhone('AddNew');
                            });
                        }
                        else {
                            var multipleContactsPhone = _.cloneDeep(self.get('multipleContactsPhone'));
                            multipleContactsPhone.values.PhoneNo = "";
                            multipleContactsPhone.values.PhoneType = "";
                            multipleContactsPhone.values.IsActive = false;
                            self.set('multipleContactsPhone', multipleContactsPhone);
                            self._addPhone('AddNew');

                        }

                        if (objPersonal.addresses != null && objPersonal.addresses.length > 0) {
                            objPersonal.addresses.forEach(function (obj) {
                                var multipleContactsAddress = _.cloneDeep(self.get('multipleContactsAddress'));
                                multipleContactsAddress.values.AddressType = obj.addressType.toLowerCase();
                                multipleContactsAddress.values.AddressLine1 = obj.addressLine1;
                                multipleContactsAddress.values.AddressLine2 = obj.addressLine2;
                                multipleContactsAddress.values.City = obj.city;
                                multipleContactsAddress.values.State = obj.state;
                                multipleContactsAddress.values.Zip = obj.zip;
                                multipleContactsAddress.values.IsActive = obj.isActive;
                                self.set('multipleContactsAddress', multipleContactsAddress);
                                self._addAddress('AddNew');
                            });
                        }
                        else {
                            var multipleContactsAddress = _.cloneDeep(self.get('multipleContactsAddress'));
                            multipleContactsAddress.values.AddressType = "";
                            multipleContactsAddress.values.AddressLine1 = "";
                            multipleContactsAddress.values.AddressLine2 = "";
                            multipleContactsAddress.values.City = "";
                            multipleContactsAddress.values.State = "";
                            multipleContactsAddress.values.Zip = "";
                            multipleContactsAddress.values.IsActive = false;
                            self.set('multipleContactsAddress', multipleContactsAddress);
                            self._addAddress('AddNew');
                        }
                    }
                    else {
                        //Email Address
                        self.set('emailArray', []);

                        //Phone
                        self.set('phoneArray', []);

                        //Address
                        self.set('addressArray', []);
                    }
                },
                _SubmitCollectionDetails: function (event) {
                    var self = this;
                    var lmsService = window.config.services.lmsService;
                    var url = "/applicant/" + self.applicationNumber + "/" + self.applicantDetail.id;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    if (form.validate()) {
                        var emailValues = [];
                        self.emailArray.forEach(function (obj) {
                            if (obj.values.EmailAddress == "" && obj.values.IsActive == false) {
                                self.emailMessage = "";
                                $('div#emailErrorMessge').hide();
                            }
                            else if (obj.values.EmailAddress != "") {
                                self.emailMessage = "";
                                $('div#emailErrorMessge').hide();
                                emailValues.push(obj.values);
                            }
                            else {
                                self.emailMessage = "Email Address is required.";
                                $('div#emailErrorMessge').show();
                            }
                        });
                        var phoneValues = [];
                        self.phoneArray.forEach(function (obj) {
                            if (obj.values.PhoneNo == "" && obj.values.IsActive == false) {
                                self.phoneMessage = "";
                                $('div#phoneErrorMessge').hide();
                            }
                            else if (obj.values.PhoneNo != "") {
                                self.phoneMessage = "";
                                $('div#phoneErrorMessge').hide();
                                phoneValues.push(obj.values);
                            }
                            else {
                                self.phoneMessage = "Phone no is required.";
                                $('div#phoneErrorMessge').show();

                            }
                        });
                        var addressValues = [];
                        self.addressArray.forEach(function (obj) {
                            if (obj.values.AddressLine1 == "" && obj.values.City == "" && obj.values.State == "" && obj.values.Zip == "" && obj.values.IsActive == false) {
                                self.addressMessage = "";
                                $('div#addressErrorMessge').hide();
                            }
                            else if (obj.values.AddressLine1 != "" && obj.values.City != "" && obj.values.State != "" && obj.values.Zip != "") {
                                self.addressMessage = "";
                                $('div#addressErrorMessge').hide();
                                addressValues.push(obj.values);
                            }
                            else {
                                self.addressMessage = "Address details all fields are required.";
                                $('div#addressErrorMessge').show();
                            }
                        });
                        var payload = {
                            PositionOfLoan: self.applicantDetail.positionOfLoan,
                            Role: self.applicantDetail.role,
                            Name: {
                                First: self.applicantDetail.name.first,
                                Last: self.applicantDetail.name.last,
                                Middle: self.applicantDetail.name.middle,
                                Salutation: self.applicantDetail.name.salutation,
                                Generation: self.applicantDetail.name.generation
                            },
                            PII: {
                                DOB: self.applicantDetail.pii.dob,
                                SSN: self.applicantDetail.pii.ssn
                            },
                            Addresses: addressValues,
                            Emails: emailValues,
                            Phones: phoneValues,
                            isPrimary: self.isPrimary
                        };
                        if (self.emailMessage == "" && self.phoneMessage == "" && self.addressMessage == "" && (addressValues.length > 0 || emailValues.length > 0 || emailValues.length > 0)) {
                            self.$.httpPersonal.put(url, payload, lmsService).then(function (data) {
                                self.actionDone = "Done";
                                self.raiseBorrowerRefreshEvent(event);
                            }).fail(function (e) {
                                var response = e.responseJSON;
                                if (response) {
                                    self.$.messagePersonal.showMessage(response.message, "ERROR", self.$$('#editBorrowerMessage'));
                                }
                                else {
                                    self.$.messagePersonal.showMessage("Update Personal details error is: ", "ERROR", self.$$('#editBorrowerMessage'));
                                }
                            });
                        }
                    }
                },
                raiseBorrowerRefreshEvent: function (event) {
                    var self = this;
                    self.$.utilityPersonal.raiseEvent(self.fireEvent, {
                        ActionName: 'UpdatePersonalInfo',
                        EventData: event,
                        CompnentName: 'edit-borrower'
                    });
                }
            });
        });
    </script>
</dom-module>