<dom-module id="funding-details">
    <template>
        <style>
            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B !important;
            }

            address {
                margin-bottom: 20px;
                font-style: normal;
                line-height: 1.42857143;
            }

            strong {
                display: block;
            }

            .a-map-marker {
                font-size: 14px;
            }

            .bank-name {
                height: 1px;
                color: #03466B;
                background-color: #ddd;
            }

            .viewMiddle {
                padding-top: 10px;
            }
        </style>
        <template is="dom-if" if="{{checkMultipleVersion(allScheduleVersion)}}">
            <div class="row">
                <div class="col-lg-3">
                    <vaadin-combo-box name="scheduledropdowns" value="{{selectedScheduleVersion}}" item-value-path="key" item-label-path="value"
                        items="{{allScheduleVersion}}" label="Select Schedule" prevent-invalid-input="true" on-change="_onVersionChange">
                    </vaadin-combo-box>
                </div>
                <div class="col-lg-3 viewMiddle">
                    <a on-click="_viewMoreInfo" href="javascript:">
                        View Version Details
                    </a>
                </div>
            </div>
        </template>
        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    <tr>
                        <th colspan="6" class="header">Loan Details</th>
                    </tr>
                    <template is="dom-if" if="{{CheckProduct(loanDetails.ProductPortfolioType, loanDetails)}}">
                        <tr>
                            <th>Loan Number</th>
                            <td>{{loanDetails.LoanNumber}}</td>
                            <th>Loan Application Number</th>
                            <td>{{loanDetails.LoanApplicationNumber}}</td>
                            <th>Onboarded Date</th>
                            <td>{{date(loanDetails.OnboardedDate)}}</td>
                        </tr>
                        <tr>
                            <th>Limit</th>
                            <td>{{formatMoney(loanDetails.CreditLimit)}}</td>
                            <th>Total Drawdown Amount </th>
                            <td>{{formatMoney(loanDetails.Drawdown)}}</td>
                            <th>Available for draws</th>
                            <td>{{formatMoney(loanDetails.AmountRemaining)}}</td>
                        </tr>
                        <tr>
                            <template is="dom-if" if="{{!checkPortfolioType(loanDetails)}}">
                                <th>Factor</th>
                                <td>{{_twoDecimal(loanDetails.FactorRate)}}</td>
                            </template>
                            <template is="dom-if" if="{{checkPortfolioType(loanDetails)}}">
                                <th>Interest Rate</th>
                                <td>{{_twoDecimal(loanDetails.AnnualRate)}} %</td>
                            </template>
                            <th>{{paymentTermLabel}}</th>
                            <td colspan="3">{{_tenure(loanDetails)}}</td>
                        </tr>
                        <tr>
                            <th>Installment Amount</th>
                            <td>{{formatMoney(currentEconomicsData.installmentAmount)}}</td>
                            <th></th>
                            <td></td>
                            <th></th>
                            <td></td>
                        </tr>
                    </template>
                    <template is="dom-if" if="{{!CheckProduct(loanDetails.ProductPortfolioType, loanDetails)}}">
                        <tr>
                            <th>Loan Number</th>
                            <td>{{loanDetails.LoanNumber}}</td>
                            <th>Loan Application Number</th>
                            <td>{{loanDetails.LoanApplicationNumber}}</td>
                            <th>Onboarded Date</th>
                            <td>{{onlyDate(loanDetails.OnboardedDate)}}</td>
                        </tr>
                        <tr>
                            <th>Funded Amount</th>
                            <template is="dom-if" if="{{CheckProduct(loanDetails.ProductPortfolioType, loanDetails)}}">
                                <td>{{formatMoney(loanDetails.Drawdown)}}</td>
                            </template>
                            <template is="dom-if" if="{{!CheckProduct(loanDetails.ProductPortfolioType, loanDetails)}}">
                                <td>{{formatMoney(loanDetails.FundedAmount)}}</td>
                            </template>
                            <th>Origination Fee</th>
                            <td>{{formatMoney(FeesDetails.paidAmount)}}</td>
                            <template is="dom-if" if="{{!checkPortfolioType(loanDetails)}}">
                                <th>Total Finance Charge</th>
                            </template>
                            <template is="dom-if" if="{{checkPortfolioType(loanDetails)}}">
                                <th>Total Interest Amount</th>
                            </template>
                            <td>{{formatMoney(loanDetails.InterestAmount)}}</td>
                        </tr>
                        <tr>
                            <template is="dom-if" if="{{!checkPortfolioType(loanDetails)}}">
                                <th>Factor</th>
                                <td>{{_twoDecimal(loanDetails.FactorRate)}}</td>
                            </template>
                            <template is="dom-if" if="{{checkPortfolioType(loanDetails)}}">
                                <th>Interest Rate</th>
                                <td>{{_twoDecimal(loanDetails.AnnualRate)}} %</td>
                            </template>
                            <th>{{paymentTermLabel}}</th>
                            <td colspan="3">{{_tenure(loanDetails)}}</td>
                        </tr>
                    </template>
                    <template is="dom-if" if="{{CheckPaidOff(currentEconomicsData.payOff, currentEconomicsData)}}">
                        <tr>
                            <th>Paid Off Date</th>
                            <td>{{date(currentEconomicsData.payOff.payOffDate)}}</td>
                            <th>&nbsp;</th>
                            <td>&nbsp;</td>
                            <th>&nbsp;</th>
                            <td>&nbsp;</td>
                        </tr>
                    </template>
                    <template is="dom-if" if="{{CheckClosed(currentEconomicsData.Closed, currentEconomicsData)}}">
                        <tr>
                            <th>Closed Date</th>
                            <td>{{date(currentEconomicsData.closed.closedDate)}}</td>
                            <th>&nbsp;</th>
                            <td>&nbsp;</td>
                            <th>&nbsp;</th>
                            <td>&nbsp;</td>
                        </tr>
                    </template>
                    <tr>
                        <template is="dom-if" if="{{PauseAccrual(currentEconomicsData.accrualStop, currentEconomicsData)}}">
                            <th>Pause Accrual Date</th>
                            <td>{{onlyDate(currentEconomicsData.accrualStopDate)}}</td>
                            <th></th>
                            <td></td>
                            <th></th>
                            <td></td>
                        </template>
                        <template is="dom-if" if="{{StartAccrual(currentEconomicsData.accrualStartDate, currentEconomicsData)}}">
                            <th>Start Accrual Date</th>
                            <td>{{onlyDate(currentEconomicsData.accrualStartDate)}}</td>
                            <th></th>
                            <td></td>
                            <th></th>
                            <td></td>
                        </template>
                    </tr>
                    <tr>
                        <template is="dom-if" if="{{!PausePayment(loanData.isAutoPay, loanData)}}">
                            <th>Pause Auto Payment Date</th>
                            <td>{{onlyDate(loanData.autoPayStopDate.time)}}</td>
                            <th></th>
                            <td></td>
                            <th></th>
                            <td></td>
                        </template>
                    </tr>
                    <tr>
                        <th colspan="6" class="header">Bank Details</th>
                    </tr>
                    <template is="dom-repeat" items="{{bankList}}" as="bank">
                        <tr>
                            <th colspan="6" class="bank-name">{{_getBankDisplayName(bank)}}</th>
                        </tr>
                        <tr>
                            <th>Holder Name</th>
                            <td>{{bank.bankHolderName}}</td>
                            <th>Account Number</th>
                            <td>{{_formateAccountNumber(bank.accountNumber)}}</td>
                            <th>Routing Number</th>
                            <td>{{bank.routingNumber}}</td>
                        </tr>
                        <tr>
                            <th>Account Type</th>
                            <td>{{bank.accountType}}</td>
                            <th>Payment Instrument Type</th>
                            <td>{{GetInstrumentType(bank, loanData)}}</td>
                            <th>Primary</th>
                            <td>
                                <template is="dom-if" if="{{_checkIfPrimaryBank(bank.isActive)}}">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </template>
                                <template is="dom-if" if="{{!_checkIfPrimaryBank(bank.isActive)}}">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </template>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6"></td>
                        </tr>
                    </template>
                </table>
            </div>
            <div id="scheduleVersiobDetails" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Schedule Version Details</h4>
                        </div>
                        <div class="modal-body">

                            <template is="dom-repeat" items="{{modScheduleList}}" as="schedule">
                                <table class="table table-striped" id="scheduleDetailsTable" style="width:100%;">
                                    <tr>
                                        <th colspan="6" class="header">{{schedule.scheduleVersionNo}}</th>
                                    </tr>
                                    <tr>
                                        <th>Version Date</th>
                                        <td>{{date(schedule.scheduleVersionDate.time)}}</td>
                                        <th>Funded Amount</th>
                                        <td>{{formatMoney(schedule.fundedAmount)}}</td>
                                        <th>Funded Date</th>
                                        <td>{{date(schedule.fundedDate.time)}}</td>
                                    </tr>
                                    <tr>
                                        <template is="dom-if" if="{{!checkPortfolioType(loanDetails)}}">
                                            <th>Factor</th>
                                            <td>{{_twoDecimal(schedule.factorRate)}}</td>
                                        </template>
                                        <template is="dom-if" if="{{checkPortfolioType(loanDetails)}}">
                                            <th>Interest Rate</th>
                                            <td>{{_twoDecimal(schedule.annualRate)}} %</td>
                                        </template>
                                        <th>Notes</th>
                                        <td colspan="3">{{schedule.scheduleNotes}}</td>
                                    </tr>
                                    <tr>
                                        <th>Reason for creation</th>
                                        <td colspan="5">{{schedule.scheduledCreatedReason}}</td>
                                    </tr>
                                </table>
                            </template>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <url-parser id="urlloanfd"></url-parser>
        <http-request id="httploanfd"></http-request>
        <auth-service id="authorizeloanfd"></auth-service>
        <session-manager id="sessionloanfd"></session-manager>
        <alloy-config id="config"></alloy-config>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "funding-details",
                properties: {
                    selectedScheduleVersion: {
                        type: String,
                        notify: true
                    },
                    allScheduleVersion: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    currentSchedule: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    currentEconomicsData: {
                        type: Object,
                        notify: true,
                        observer: 'init'
                    },
                    loanData: {
                        type: Object,
                        notify: true
                    },
                    loanDetails: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    FeesDetails: {
                        type: Object,
                        notify: true
                    },
                    bankList: {
                        type: Array,
                        notify: true
                    },
                    totalInterest: {
                        type: String,
                        notify: true
                    },
                    scheduleList: {
                        type: Array,
                        notify: true,
                        observer: 'loadScheduleList'
                    },
                    modScheduleList: {
                        type: Array,
                        notify: true,
                        reflectToAttribute: true
                    },
                    paymentTermLabel: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true,
                        value: 'Tenure'
                    }
                },
                init: function () {
                    this.processScheduleData();
                },
                ready: function () {
                    this.getPaymentTerm();
                },
                getPaymentTerm: function () {
                    var paymentTerm = this.$.config.getConfigurationBasedOnKey("payment-term");
                    if (paymentTerm !== undefined && paymentTerm !== null && paymentTerm !== "") {
                        this.set('paymentTermLabel', paymentTerm);
                    }
                },
                _onVersionChange: function (event) {
                    var self = this;
                    var selectedValues = event.target.value;
                    var params = self.$.urlloanfd.getParams();
                    self.GetScheduleData(selectedValues, params.loanId);
                },
                GetScheduleData: function (objversion, applicationNumber) {
                    var self = this;
                    var Url = "/" + applicationNumber + "/schedule/" + objversion;
                    self.$.httploanfd.get(Url, window.config.services.lmsService, true).then(function (data) {
                        if (data) {
                            self.set('currentSchedule', data);
                            self.processScheduleData();
                        }
                    }).fail(function (e) {
                        console.error("loan Current Schedule is ", e);
                    });
                },
                GetInstrumentType: function (obj) {
                    var self = this;
                    if (self.loanData) {
                        var Instrument = _.find(self.loanData.paymentInstruments, ["id", obj.paymentInstrumentId]);
                        if (Instrument != undefined && Instrument != null && Instrument != "") {
                            return Instrument.paymentInstrumentType.toUpperCase();
                        }
                    }
                    return "";
                },
                processScheduleData: function () {
                    var self = this;
                    if (self.loanData && self.currentSchedule && self.currentEconomicsData) {
                        self.totalInterest = _.sumBy(self.currentSchedule.scheduleDetails, function (sch) {
                            if (sch.isMissed === false) {
                                return sch.interestAmount;
                            }
                        });
                        self.CalculateInterest(self.currentSchedule, self.totalInterest);
                        //TODO fix this its calling even before loan detail data
                        self.GetFees();
                    }
                },
                loadScheduleList: function () {
                    var self = this;
                    var params = this.$.urlloanfd.getParams();
                    var updatedList = _.transform(self.scheduleList, function (result, item) {
                        if (item.modStatus === "None" || item.modStatus === "Active") {
                            result.push({ key: item.scheduleVersionNo, value: item.scheduleVersionNo });
                        }
                    }, []);
                    self.set('allScheduleVersion', updatedList);
                    var currentSchedule = _.find(self.scheduleList, ["isCurrent", true]);
                    if (currentSchedule) {
                        self.set('selectedScheduleVersion', currentSchedule.scheduleVersionNo);
                    }
                    self.set('modScheduleList', _.orderBy(self.scheduleList, ['scheduleVersionDate.time'], ['desc']));
                },
                GetFees: function () {
                    var self = this;
                    var Url = "/" + self.applicationNumber + "/fees";
                    var loanDetailOriginationFeeKey = self.$.config.getConfigurationBasedOnKey("loanDetailOriginationFeeKey");
                    self.$.httploanfd.get(Url, window.config.services.accountingService).then(function (data) {
                        if (data) {
                            var OrigiFee = _.find(data, ["feeName", loanDetailOriginationFeeKey]);
                            if (OrigiFee != undefined) {
                                self.set('FeesDetails', OrigiFee);
                            }
                            else {
                                OrigiFee = {};
                                OrigiFee.paidAmount = 0;
                                self.set('FeesDetails', OrigiFee);
                            }
                        }
                    }).fail(function (e) {
                        console.error("load config error is ", e);
                    });
                },
                CalculateInterest: function (data, TotalInterest) {
                    var self = this;
                    var currentSchedule = data;
                    var TotalDrawdown = self.GetTotalDrawdown();
                    var _loanDetails = {
                        ProductPortfolioType: self.loanData.productPortfolioType,
                        LoanNumber: currentSchedule.loanNumber + "-" + currentSchedule.scheduleVersionNo,
                        OnboardedDate: self.loanData.loanOnboardedDate.time,
                        LoanAmount: currentSchedule.loanAmount,
                        AnnualRate: currentSchedule.annualRate,
                        FactorRate: currentSchedule.factorRate,
                        PaymentTerm: currentSchedule.tenure,
                        PaymentFrequency: currentSchedule.paymentFrequency,
                        InterestAmount: TotalInterest,
                        LoanApplicationNumber: self.loanData.loanApplicationNumber,
                        Drawdown: TotalDrawdown,
                        AmountRemaining: currentSchedule.creditLimit - self.currentEconomicsData.pbot.totalPrincipalOutStanding,
                        LoanCurrency: self.loanData.currency,
                        FundedDate: currentSchedule.fundedDate.time,
                        FundedAmount: currentSchedule.fundedAmount,
                        CreditLimit: currentSchedule.creditLimit
                    };
                    self.set("loanDetails", _loanDetails);
                },
                GetTotalDrawdown: function () {
                    var self = this;
                    var TotalDrawdown = 0;
                    if (self.loanData.drawDownDetails != undefined) {
                        TotalDrawdown = _.sumBy(self.loanData.drawDownDetails, 'loanAmount');
                    }
                    return TotalDrawdown;
                },
                formatMoney: function (value) {
                    return formats.money(value, window.config.country, 0);
                },
                date: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.date(date, window.config.country, false);
                    }
                    return "NA";
                },
                onlyDate: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.onlyDate(date, window.config.country);
                    }
                    return "NA";
                },
                checkPortfolioType: function (objType) {
                    var self = this;
                    if (self.loanDetails.ProductPortfolioType != "MCA" && self.loanData.productPortfolioType != "MCALOC") {
                        return true;
                    }
                    return false;
                },
                CheckProduct: function (objType, objloandata) {
                    if (objType != undefined && (objType === "LineOfCredit" || objType === "MCALOC")) {
                        return true;
                    }
                    return false;
                },
                CheckCurrency: function (objCurrency) {
                    if (objCurrency === "Dollar") {
                        return true;
                    }
                    else {
                        return false;
                    }
                },
                CheckPaidOff: function (obj) {
                    if (!_.isNull(obj) && !_.isUndefined(obj) && !_.isEmpty(obj)) {
                        return true;
                    }
                    else {
                        return false;
                    }
                },
                CheckClosed: function (obj) {
                    if (!_.isNull(obj) && !_.isUndefined(obj) && !_.isEmpty(obj)) {
                        return true;
                    }
                    else {
                        return false;
                    }
                },
                PauseAccrual: function (obj) {
                    if (obj != undefined && obj === true) {
                        return true;
                    }
                    else {
                        return false;
                    }
                },
                StartAccrual: function (obj) {
                    if (obj != undefined && obj === true) {
                        return true;
                    }
                    else {
                        return false;
                    }
                },
                PausePayment: function (obj) {
                    if (obj != undefined && obj === true) {
                        return true;
                    }
                    else {
                        return false;
                    }
                },
                _checkIfPrimaryBank: function (objIsPaid) {
                    return objIsPaid === true;
                },
                _getBankDisplayName: function (bank) {
                    var self = this;
                    return bank.name + "-" + self._formateAccountNumber(bank.accountNumber);
                },
                _formateAccountNumber: function (data) {
                    return formats.accountNumber(data, window.config.country);
                },
                _tenure: function (objLoanData) {
                    return objLoanData.PaymentTerm + " " + objLoanData.PaymentFrequency;
                },
                _twoDecimal: function (objNumber) {
                    var self = this;
                    if (objNumber != undefined && objNumber != null && objNumber != "") {
                        return parseFloat(objNumber).toFixed(2);
                    }
                    return parseFloat(0).toFixed(2);
                },
                _viewMoreInfo: function (event) {
                    $('#scheduleVersiobDetails').modal('show');
                },
                checkMultipleVersion: function (allScheduleVersion) {
                    var self = this;
                    return (allScheduleVersion.length > 1) ? true : false;
                }
            });
        });
    </script>
</dom-module>