<dom-module id="personal-info">
    <template>
        <style>
            .subheader {
                height: 1px;
                color: #03466B;
                background-color: #ddd;
            }

            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }

            address {
                margin-bottom: 20px;
                font-style: normal;
                line-height: 1.42857143;
            }

            strong {
                display: block;
            }

            .modal-dialog {
                margin: 10% auto;
                width: 700px !important;
            }

            .set-vertical-height {
                height: 450px;
                overflow-y: auto;
                overflow-x: hidden;
            }
        </style>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <tbody>
                        <tr>
                            <th colspan="5" class="header">Personal Information</th>
                            <th colspan="1" class="header">
                                <div class="pull-right">
                                    <i aria-hidden="true" title="Edit Personal Information" class="fa fa-pencil-square-o" data-arg="{{application.id}}" on-click="editPersonalInfo"></i>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{getName(application)}}</td>
                            <th>DOB</th>
                            <td>{{date(application.pii.dob)}}</td>
                            <th>SSN</th>
                            <td>{{_formateSSN(application.pii.ssn)}}</td>
                        </tr>
                        <tr>
                            <th colspan="6" class="subheader">Emails</th>
                        </tr>
                        <template is="dom-repeat" items="{{application.emails}}" as="email">
                            <tr>
                                <th>Email</th>
                                <td>{{email.emailAddress }}</td>
                                <th>Email Type</th>
                                <td>{{email.emailType}}</td>
                                <th>Active</th>
                                <td>
                                    <i class$="{{_checkIfPrimary(email.isActive)}}" aria-hidden="true"></i>
                                </td>
                            </tr>
                        </template>
                        <tr>
                            <th colspan="6" class="subheader">Phones</th>
                        </tr>
                        <template is="dom-repeat" items="{{application.phones}}" as="phone">
                            <tr>
                                <th>Phone No</th>
                                <td>{{ _phoneFormat(phone.phoneNo) }}</td>
                                <th>Phone Type</th>
                                <td>{{phone.phoneType}}</td>
                                <th>Active</th>
                                <td>
                                    <i class$="{{_checkIfPrimary(phone.isActive)}}" aria-hidden="true"></i>
                                </td>
                            </tr>
                        </template>
                        <tr>
                            <th colspan="6" class="subheader">Addresses</th>
                        </tr>
                        <template is="dom-repeat" items="{{application.addresses}}" as="address">
                            <tr>
                                <td colspan="2">{{GetAddress(address)}}</td>
                                <th>Address Type</th>
                                <td>{{address.addressType}}</td>
                                <th>Active</th>
                                <td>
                                    <i class$="{{_checkIfPrimary(address.isActive)}}" aria-hidden="true"></i>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
        <custom-modal id="editBorrowerModalFromPersonal" class="modal-drop" on-modal-hidden="resetPersonal">
            <div>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Edit Personal Details</h4>
                        </div>
                        <div class="modal-body set-vertical-height">
                            <div id="PersonalMessageContainer"></div>
                            <edit-borrower id="personalInfo" is-primary="{{true}}" application-number="{{applicationNumber}}" applicant-detail="{{applicantDetail}}"
                                action-done="{{actionDone}}"></edit-borrower>
                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "personal-info",
                properties: {
                    actionDone: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true,
                        observer: "hideModal"
                    },
                    applicationNumber: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    applicantDetail: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    application: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    loanData: {
                        type: Object,
                        notify: true,
                        observer: "init"
                    }
                },
                date: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.date(date, window.config.country, false);
                    }
                    return "NA";
                },
                _formateSSN: function (data) {
                    return formats.ssn(data, window.config.country);
                },
                _checkIfEmptyObject: function (obj) {
                    return Object.keys(obj).length === 0 && obj.constructor === Object;
                },
                _Mobile: function (mobileObj) {
                    return mobileObj !== null ? mobileObj : "NA";
                },
                _Email: function (emailObj) {
                    return emailObj !== null ? emailObj : "NA";
                },
                phone: function (phone) {
                    return formats.phone(phone, window.config.country);
                },
                _checkIfPrimary: function (status) {
                    return status === true ? 'fa fa-check' : 'fa fa-times';
                },
                init: function () {
                    this._loadApplicantDetails();
                },
                _loadApplicantDetails: function () {
                    var self = this;
                    if (self.loanData != undefined && self.loanData != null) {
                        self.set('application', self.loanData.primaryApplicantDetails);
                    }
                },
                getName: function () {
                    var self = this;
                    if (!_.isUndefined(self.application) && !_.isNull(self.application) && !_.isEmpty(self.application)) {
                        return self.application.name.salutation + " " + self.application.name.first + " " + self.application.name.middle + " " + self.application.name.last;
                    }
                    else
                        return "";
                },
                GetAddress: function (Address) {
                    var self = this;
                    if (Address && Address != null && Address != undefined) {
                        var FinalAddress = "";
                        if (!_.isUndefined(Address.addressLine2) && !_.isNull(Address.addressLine2) && !_.isEmpty(Address.addressLine2)) {
                            FinalAddress = Address.addressLine1 + ", " + Address.addressLine2 + ", " + Address.city + ", " + Address.state + ", " + Address.zip;
                            return FinalAddress;
                        }
                        else {
                            FinalAddress = Address.addressLine1 + ", " + Address.city + ", " + Address.state + ", " + Address.zip;
                            return FinalAddress;
                        }
                    } else {
                        return "NA";
                    }
                },
                editPersonalInfo: function (event) {
                    var self = this;
                    var applicantId = event.target.dataArg;
                    self.set("applicantDetail", self.application);
                    self.$$('#editBorrowerModalFromPersonal').showModal();
                },
                resetPersonal: function () {
                    var self = this;
                    self.actionDone = "";
                    self.applicantDetail = {};
                },
                hideModal: function (obj) {
                    var self = this;
                    if (obj === "Done") {
                        self.$$('#editBorrowerModalFromPersonal').hideModal();
                    }
                },
                _phoneFormat: function (phone) {
                    return formats.phone(phone, window.config.country);
                }
            });
        });
    </script>
</dom-module>
<html-import html-href="loan-details-tab/edit-borrower.html"></html-import>