<html-import html-href="loaders/sk-wave.html"></html-import>
<dom-module id="transactions-detail">
    <template>
        <style>
            .modal-body .row {
                margin: 10px auto;
            }

            .modal-body .col-md-12 {
                padding: 0;
            }

            .modal-body h3 {
                margin: 0 auto;
                border-bottom: 1px solid;
                padding: 10px 0;
            }

            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B !important;
            }

            .dt-body-right {
                text-align: right !important;
            }

            .dt-body-center {
                text-align: center !important;
            }

            th.h-center-c-left {
                text-align: center !important;
            }

            td.h-center-c-left {
                text-align: left !important;
            }

            th.h-right-c-right {
                text-align: right !important;
            }

            td.h-right-c-right {
                text-align: right !important;
            }

            th.h-center-c-center {
                text-align: center !important;
            }

            td.h-center-c-center {
                text-align: center !important;
            }

            th.h-center-c-right {
                text-align: center !important;
            }

            td.h-center-c-right {
                text-align: right !important;
            }
        </style>
        <div id="MessageContainer"></div>
        <div id="transcationsTableContainer">
            <spinkit-wave hidden$="{{loadding}}"></spinkit-wave>
            <table id="queuetransactionTable" class="table table-striped" width="100%" cellspacing="0">
            </table>
            <div id="moreInfoPopup" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Outstanding Details Post Transaction</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table table-striped" id="moreInfoTable" style="width:100%;">
                                <tr>
                                    <th colspan="6" class="header">Payment Information</th>
                                </tr>
                                <tr>
                                    <th>Transaction Date</th>
                                    <td>{{date(transaction.transactionDate)}}</td>
                                    <th>Transaction Amount</th>
                                    <td>{{formatMoney(transaction.amount)}}</td>
                                    <th>Principal</th>
                                    <td>{{formatMoney(transaction.principal)}}</td>
                                </tr>
                                <tr>
                                    <template is="dom-if" if="{{!checkPortfolioType(loanData)}}">
                                        <th>Finance Charge</th>
                                    </template>
                                    <template is="dom-if" if="{{checkPortfolioType(loanData)}}">
                                        <th>Interest</th>
                                    </template>
                                    <td>{{formatMoney(transaction.interest)}}</td>
                                    <template is="dom-if" if="{{checkPortfolioType(loanData)}}">
                                        <th>Additional Interest</th>
                                        <td>{{formatMoney(transaction.additionalInterest)}}</td>
                                    </template>
                                    <th>Fee</th>
                                    <td>{{formatMoney(transaction.fee)}}</td>
                                    <template is="dom-if" if="{{!checkPortfolioType(loanData)}}">
                                        <th></th>
                                        <td></td>
                                    </template>
                                </tr>
                                <tr>
                                    <th>Excess Amount</th>
                                    <td>{{formatMoney(transaction.excessAmount)}}</td>
                                    <th>Transaction Description</th>
                                    <td colspan="3">{{transaction.description}}</td>
                                </tr>
                                <tr>
                                    <th colspan="6" class="header">Outstanding Information</th>
                                </tr>
                                <tr>
                                    <th>Principal</th>
                                    <td>{{formatMoney(transaction.pbotPrincipal)}}</td>
                                    <template is="dom-if" if="{{!checkPortfolioType(loanData)}}">
                                        <th>Finance Charge</th>
                                    </template>
                                    <template is="dom-if" if="{{checkPortfolioType(loanData)}}">
                                        <th>Interest</th>
                                    </template>
                                    <td>{{InterstCalculation(transaction.pbotInterest,transaction.pbotAdditionalInterest)}}</td>
                                    <th>Fee</th>
                                    <td>{{formatMoney(transaction.pbotFees)}}</td>
                                </tr>
                                <tr>
                                    <template is="dom-if" if="{{checkPortfolioType(loanData)}}">
                                        <th>Additional Interest</th>
                                        <td>{{formatMoney(transaction.pbotAdditionalInterest)}}</td>
                                    </template>
                                    <th>Excess Amount</th>
                                    <td>{{formatMoney(transaction.pbotExcessAmount)}}</td>
                                    <template is="dom-if" if="{{checkPriorIneterest(loanData,scheduleList)}}">
                                        <th>Prior Interest</th>
                                        <td>{{ formatMoney(transaction.pbotPriorInterest) }}
                                        </td>
                                    </template>
                                    <template is="dom-if" if="{{!checkPriorIneterest(loanData,scheduleList)}}">
                                        <th></th>
                                        <td></td>
                                    </template>
                                    <template is="dom-if" if="{{!checkPortfolioType(loanData)}}">
                                        <th></th>
                                        <td></td>
                                    </template>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="reversePaymentPopup" class="modal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Reverse Payment/Fee</h4>
                        </div>
                        <div class="modal-body">
                            <h5 style="border: none;">
                                You are about to reverse a {{_reserveDisplayText(reverseTransaction)}} of {{_reserveDisplayAmount(reverseTransaction)}}.
                                Do you want to continue with this operation?</h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" on-click="reversePayment">Yes</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <url-parser id="urlloant"></url-parser>
        <http-request id="httploant"></http-request>
        <alloy-config id="configloant"></alloy-config>
        <auth-service id="authorizeloant"></auth-service>
        <session-manager id="sessionloant"></session-manager>
        <utility-service id="utilityloant"></utility-service>
        <message-component id="messageloant"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "transactions-detail",
                properties: {
                    tableObj: {
                        type: Object,
                        notify: false
                    },
                    loadding: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    transactionConfig: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    loanData: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    applicationNumber: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    transactionList: {
                        type: Object,
                        notify: true
                    },
                    transaction: {
                        type: Object,
                        notify: true,
                        value: {},
                        reflectToAttribute: true
                    },
                    jsonObj: {
                        type: Object,
                        notify: true
                    },
                    tabAction: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    scheduleList: {
                        type: Array,
                        notify: true,
                        reflectToAttribute: true
                    }
                },
                init: function () {
                    var self = this;
                    this._getTransactions();
                    setTimeout(function () {
                        $('#reversePaymentPopup').on('hidden.bs.modal', function initDynamicForm(e) {
                            self.resetData();
                        });
                    }, 1000);
                },
                GetLatestPayment: function (array, propName, payment) {
                    var Obj = array.filter(function (e) {
                        return (payment.indexOf(e[propName]) != -1) ? true : false;
                    })[0];
                    return Obj || {};
                },
                _getTransactions: function () {
                    var self = this;
                    var params = self.$.urlloant.getParams();
                    var Url = "/" + params.loanId + "/transactions";
                    var dataConfig = self.$.configloant.getConfigurationBasedOnKey("filters");
                    var transactionConfig;
                    if (self.checkPortfolioType(self.loanData) === true) {
                        transactionConfig = _.cloneDeep(dataConfig["NonMCATransactionTab"]);
                    }
                    else {
                        transactionConfig = _.cloneDeep(dataConfig["MCATransactionTab"]);
                    }
                    var columnLength = transactionConfig.columns.length;
                    for (var i = 0; i < columnLength; i++) {
                        if (transactionConfig.columns[i].render != undefined) {
                            var render = transactionConfig.columns[i].render;
                            if (transactionConfig.columns[i].isFunction) {
                                transactionConfig.columns[i].render = eval("(" + render + ")");
                            }
                            else {
                                transactionConfig.columns[i].render = eval(render);
                            }
                        }
                    }
                    self.set("jsonObj", transactionConfig);
                    self.$.httploant.get(Url, window.config.services.accountingService, false).then(function (data) {
                        if (data) {
                            var sortData = _.orderBy(data, "transactionDateTime", "desc");
                            var LatestPayment = self.GetLatestPayment(sortData, "transactionType", ["payment", "feepaid"]);
                            var sortObj = _.transform(sortData, function (result, item) {
                                item.isPayment = (LatestPayment.id == item.id) ? true : false;
                                result.push(item);
                            }, []);
                            self.set('transactionList', data);
                            setTimeout(function () {
                                self._generateTable(self.transactionList);
                                self.set('loadding', true);
                                if (self.tabAction !== undefined && self.tabAction !== null && self.tabAction !== "" && self.tabAction.actionToPerform === "reversePayment") {
                                    self.performTabAction();
                                }
                            }, 1000);
                        }
                    }).fail(function (e) {
                        console.error("load transactions error is ", e);
                    });
                },
                _generateTable: function (transactionList) {
                    var self = this, table;
                    table = self.tableObj;
                    if (table !== null && table !== undefined) {
                        table.clear();
                        table.destroy(true);
                        $('#transcationsTableContainer').append($('<table/>').attr('id', 'queuetransactionTable').css('width', '100%').addClass('table table-striped'));
                    }
                    table = self.tableObj = $(self.$$('#queuetransactionTable')).DataTable({
                        dom: "<'row'<'pull-left col-sm-3'B>>" +
                            "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                        data: transactionList,
                        columns: self.jsonObj.columns,
                        columnDefs: self.jsonObj.columnDefs,
                        order: self.jsonObj.order,
                        language: {
                            lengthMenu: "show_MENU_ Transaction",
                            zeroRecords: "No Data found.",
                            info: "Showing _START_ to _END_ of _TOTAL_ Transaction",
                            infoEmpty: "No Transaction available",
                            infoFiltered: "(filtered from _MAX_ total Transaction)"
                        },
                        buttons: [
                            {
                                extend: 'csv',
                                text: '<i class="fa fa-file-text-o"></i>',
                                titleAttr: 'Click here to download the transactions in csv format',
                                filename: function () {
                                    var d = new Date();
                                    var timestamp = d.getTime();
                                    return "transaction_" + self.applicationNumber + "_" + timestamp;
                                },
                                exportOptions: {
                                    columns: self.jsonObj.exportColumn
                                }
                            },
                            {
                                extend: 'excel',
                                text: '<i class="fa fa-file-excel-o"></i>',
                                titleAttr: 'Click here to download the transactions in excel format',
                                filename: function () {
                                    var d = new Date();
                                    var timestamp = d.getTime();
                                    return "transaction_" + self.applicationNumber + "_" + timestamp;
                                },
                                exportOptions: {
                                    columns: self.jsonObj.exportColumn
                                }
                            }
                        ],
                    });
                    setTimeout(function () {
                        $('#queuetransactionTable tbody').off('click').on('click', 'a', function (event) {
                            event.preventDefault();
                            var data = self.tableObj.row($(this).parents('tr')).data();
                            var clickFunName = this.getAttribute("click");
                            if (clickFunName === "_viewMoreInfo") {
                                self._viewMoreInfo(data);
                            }
                            else if (clickFunName === "_reversePaymentFees") {
                                self._reversePaymentFees(event, data);
                            }
                        });
                    }, 700);
                },
                date: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.onlyDate(date, window.config.country);
                    }
                    return "NA";
                },
                formatMoney: function (value) {
                    return formats.money(value, window.config.country, 0);
                },
                _viewMoreInfo: function (event) {
                    var transactionObj = event;
                    this.set('transaction', transactionObj);
                    $('#moreInfoPopup').modal('show');
                },
                InterstCalculation: function (pbotInterest, pbotAdditionalInterest) {
                    var self = this;
                    var value = parseFloat(pbotInterest) - parseFloat(pbotAdditionalInterest);
                    var data = parseFloat(value).toFixed(2);
                    return self.formatMoney(data);
                },
                CheckPaymentType: function (data, TransactionType) {
                    var self = this;
                    var _transactionType = data.transactionType;
                    var _isReverse = data.isReverse;
                    var _isPayment = data.isPayment;
                    if (_isReverse != undefined && TransactionType === "Payment" && (_transactionType === "payment" || _transactionType === "feepaid") && _isPayment === true && _isReverse === false) {
                        return true;
                    }
                    else if (_isReverse != undefined && TransactionType === "Fees" && _transactionType === "feeapplied" && _isReverse === false) {
                        return true;
                    }
                    return false;
                },
                _reversePaymentFees: function (event, objtransaction) {
                    this.set('reverseTransaction', objtransaction);
                    $('#reversePaymentPopup').modal('show');
                },
                reversePayment: function () {
                    var self = this;
                    var objtransaction = self.reverseTransaction;
                    var payload = {
                        ProcessingDate: self.formatDate(new Date()),
                        TransactionReferenceId: objtransaction.id
                    };
                    var url = "";
                    if (objtransaction != undefined && objtransaction != "" && objtransaction != null && objtransaction.transactionType == "feeapplied") {
                        url = "/" + self.applicationNumber + "/reversefee";
                    }
                    else if (objtransaction != undefined && objtransaction != "" && objtransaction != null && (objtransaction.transactionType == "payment" || objtransaction.transactionType == "feepaid")) {
                        url = "/" + self.applicationNumber + "/reversepayment";
                    }
                    self.$.httploant.put(url, payload, window.config.services.accountingService).then(function (result) {
                        $('#reversePaymentPopup').modal('hide');
                        self.$.messageloant.showMessage("Reversal request initiated successfully.", "INFO", self.$$('#MessageContainer'));
                        self.raiseAppRefreshEvent(event);
                    }).fail(function (e) {
                        self.$.messageloant.showMessage("Some error occured, Please try it after some time.", "ERROR", self.$$('#MessageContainer'));
                    });
                },
                formatDate: function (date) {
                    return moment(date).format("YYYY-MM-DD");
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utilityloant.raiseEvent(this.fireEvent, {
                        ActionName: 'UpdateTransaction',
                        EventData: event,
                        CompnentName: 'transactions-detail'
                    });
                },
                checkPortfolioType: function (objType) {
                    var self = this;
                    if (self.loanData && self.loanData.productPortfolioType != "MCA" && self.loanData.productPortfolioType != "MCALOC") {
                        return true;
                    }
                    return false;
                },
                formatCurrency: function (data) {
                    return formats.money(data, window.config.country, 0);
                },
                _reserveDisplayText: function (reverseTransaction) {
                    var self = this;
                    if (reverseTransaction.transactionType !== "payment") {
                        var descList = _.split(reverseTransaction.description, "-");
                        return descList[1];
                    }
                    return reverseTransaction.transactionType;
                },
                _reserveDisplayAmount: function (reverseTransaction) {
                    var self = this;
                    if (reverseTransaction.transactionType !== "payment") {
                        return self.formatCurrency((reverseTransaction.amount * -1));
                    }
                    return self.formatCurrency(reverseTransaction.amount);
                },
                performTabAction: function () {
                    var self = this;
                    if (self.tabAction !== undefined && self.tabAction !== null && self.tabAction !== "" && self.tabAction.actionToPerform === "reversePayment") {
                        var objtransaction = _.find(self.transactionList, { 'isPayment': true, "isReverse": false });
                        if (objtransaction != undefined && objtransaction != "") {
                            this.set('reverseTransaction', objtransaction);
                            $('#reversePaymentPopup').modal('show');
                        }
                    }
                },
                resetData: function () {
                    var self = this;
                    self.set("tabAction", {});
                },
                checkPriorIneterest: function (objType, scheduleList) {
                    var self = this;
                    if (self.scheduleList !== undefined) {
                        var activeLoanMod = _.find(self.scheduleList, ["modStatus", "Active"]);
                        if (self.loanData && self.loanData.productPortfolioType !== "MCA" && self.loanData.productPortfolioType !== "MCALOC" && activeLoanMod !== undefined) {
                            return true;
                        }
                        else {
                            return false;
                        }
                    }
                    return false;

                }
            });
        });
    </script>
</dom-module>