<dom-module id="enable-reapply">
    <template>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <button id="btnRevive" on-click="enableReapplyApplication" class="btn btn-primary activity-action-btn">Enable ReApply</button>
                </div>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "enable-reapply",
                properties: {
                    applicationNumber: {
                        type: String,
                        notify: true
                    }
                },
                init: function () {
                },
                enableReapplyApplication: function (event) {
                    var self = this;
                    var processorEndpoint = window.config.services.appProcessor;
                    var url = "/application/" + self.applicationNumber + "/enable/reapply";
                    self.$.http.post(url, undefined, processorEndpoint).then(function (data) {
                        self.raiseAppRefreshEvent(event);
                    }).fail(function (e) {
                        console.error(e.message);
                    });
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "EnableReApply",
                        EventData: event,
                        CompnentName: 'enable-reapply'
                    });
                }
            });
        });
    </script>
</dom-module>