<dom-module id="loan-fact-details">
    <template>
        <style>
            .panel-group {
                width: 350px !important;
                margin: 5px auto 20px;
            }

            .panel-group .panel {
                border-radius: 0;
                box-shadow: none;
                border-color: #EEEEEE;
            }

            .panel-default>.panel-heading {
                padding: 0;
                border-radius: 0;
                color: #03466B;
                background-color: #ddd;
                border-color: #ddd;
            }

            .panel-title {
                font-size: 14px;
                margin-top: 0;
            }

            .panel-title>a {
                display: block;
                padding: 15px;
                text-decoration: none;
            }

            .more-less {
                float: right;
                color: #03466B;
            }

            .panel-default>.panel-heading+.panel-collapse>.panel-body {
                border-top-color: #EEEEEE;
            }

            .pass {
                color: #80b43c;
            }

            .fail {
                color: #ff0000;
            }

            .bluedash {
                color: blue;
                font-size: 17px;
            }

            .green {
                color: green;
                font-size: 17px;
            }

            .fa-toggle-on {
                color: green;
                font-size: 17px;
            }

            .fa-toggle-off {
                color: red;
                font-size: 17px;
            }

            .red {
                color: red;
                font-size: 17px;
            }

            .fa-question {
                font-size: 17px;
            }

            ul {
                list-style-type: none !important;
                padding-left: 0px;
            }

            li {
                margin: 7px 15px;
            }

            li>b {
                margin-right: 2px;
            }

            li>b:nth-of-type(2) {
                font-weight: normal;
            }

            li.array-list {
                display: block;
                width: auto;
            }

            h3 {
                margin: 10px auto !important;
            }

            table {
                width: 100%;
                word-wrap: break-word;
                table-layout: fixed;
            }
        </style>
        <div class="row">
            <div class="col-md-12">
                <h3>{{factDetailMessage}}</h3>
                <br />
                <template is="dom-repeat" items="{{factNormalized}}" as="factSource">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th>Verified By</th>
                                        <td>{{factSource.verifiedBy}}</td>
                                    </tr>
                                    <tr>
                                        <th>Verified On</th>
                                        <td>{{factSource.dateAttempt}}</td>
                                    </tr>
                                    <tr>
                                        <th>Verification Status</th>
                                        <td>{{factSource.result}}
                                            <i class$="{{_computeClass(factSource)}}" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Source Name</th>
                                        <td>{{factSource.sourceName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <template is="dom-if" if="{{_showFactDetail(factSource)}}">
                            <div class="panel-group Accheader-tab1 clearfix" style="clear: both !important" id="factSource" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="{{factSource.sourceName}}-Header">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#factSource" href="#{{factSource.id}}" aria-expanded="true" aria-controls="{{factSource.id}}">
                                                <i class="more-less fa fa-plus"></i> {{factSource.displayName}}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="{{factSource.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{factSource.sourceName}}-Header">
                                        <ul>
                                            <template is="dom-repeat" items="{{factSource.fields}}" as="field">
                                                <template is="dom-if" if="{{_hasCondFormat(field)}}">
                                                    <li>
                                                        <b>{{field.label}}:&nbsp;</b>
                                                        <i class$="{{_getCondClass(field)}}">
                                                        </i>{{field.value}}</li>
                                                </template>
                                                <template is="dom-if" if="{{!_hasCondFormat(field)}}">
                                                    <li>
                                                        <b>{{field.label}}:&nbsp;</b>{{field.value}}</li>
                                                </template>
                                            </template>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                </template>
            </div>
        </div>
        <http-request id="http"></http-request>
        <alloy-format id="format"></alloy-format>
        <alloy-config id="config"></alloy-config>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "loan-fact-details",
                properties: {
                    fact: {
                        type: Object,
                        notify: true,
                        value: {},
                        observer: '_normalizedFactDetails'
                    },
                    factConfig: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    factNormalized: {
                        type: Array,
                        notify: true,
                        value: []
                    }
                },
                _computeClass: function (factObj) {
                    var className = "fa fa-circle";
                    var status = factObj.result;
                    if (status === "Failed") {
                        className = "fa fa-times fail";
                    }
                    else if (status === "Passed") {
                        className = "fa fa-check pass";
                    }
                    return className;
                },
                date: function (date) {
                    return formats.date(date, window.config.country, false);
                },
                phone: function (phone) {
                    return formats.phone(phone, window.config.country);
                },
                formatMoney: function (value) {
                    return formats.money(value, window.config.country, 0);
                },
                decimal: function (value) {
                    return formats.round(value, 2);
                },
                bool2value: function (booldata) {
                    return formats.bool2value(booldata);
                },
                percent: function (value) {
                    if (value) {
                        value = new Number(value);
                        return value.toFixed(2) + "%";
                    }
                    else {
                        return "0%";
                    }
                },
                hyperlink: function (value) {
                    var anchor$ = $('<a></a>');
                    anchor$.prop('href', value);
                    anchor$.prop('target', "_Blank");
                    anchor$.html("click here");
                    return anchor$[0].outerHTML;
                },
                _formatDate: function (date) {
                    if (date !== undefined) {
                        return moment.tz(date, window.config.timezone).format("MM/DD/YYYY LT z");
                    }
                    return "";
                },
                accordionToggle: function () {
                    $('.Accheader-tab1').on('hidden.bs.collapse', function () {
                        $(this).find(".more-less").removeClass('fa-minus');
                        $(this).find(".more-less").addClass('fa-plus');
                    });
                    $('.Accheader-tab1').on('shown.bs.collapse', function () {
                        $(this).find(".more-less").removeClass('fa-plus');
                        $(this).find(".more-less").addClass('fa-minus');
                    });
                },
                _checkIfNullObject: function (obj) {
                    return Object.keys(obj).length === 0 && obj.constructor === Object;
                },
                _normalizedFactDetails: function () {
                    var self = this;
                    var factObj = self.fact;
                    var verificationSources = factObj.verificationSources;
                    var attempts = factObj.attempts;
                    var normObjArr = [];
                    var data = self.$.config.getConfigurationBasedOnKey("fact-detail");
                    self.set('factConfig', data);
                    for (var i = 0; i < verificationSources.length; i++) {
                        var tempObj = {};
                        var sourceObj = verificationSources[i];
                        var attemptObj = attempts[i];
                        tempObj.id = self.getFactDetailModalId(sourceObj);
                        tempObj.sourceName = sourceObj.sourceName;
                        if (attemptObj != null && attemptObj != undefined && !self._checkIfNullObject(attemptObj)) {
                            tempObj.result = attemptObj.result;
                            tempObj.verifiedBy = attemptObj.verifiedBy;
                            tempObj.dateAttempt = self._formatDate(attemptObj.dateAttempt.time);
                        }
                        var sourceData = sourceObj.dataExtracted.input;
                        var fieldsObj = _.cloneDeep(self.factConfig[sourceObj.sourceName]);
                        if (sourceData.hasOwnProperty('data')) {
                            sourceData = sourceData.data.data;
                        }
                        if (!_.isUndefined(fieldsObj)) {
                            $.each(fieldsObj.fields, function (index, obj) {
                                var dataVal = self.getDataFromPath(sourceData, obj.data);
                                if (obj.format) {
                                    obj["value"] = self[obj.format](dataVal);
                                }
                                else {
                                    obj["value"] = dataVal;
                                }
                            });
                            tempObj.fields = fieldsObj.fields;
                            tempObj.displayName = fieldsObj.displayName;
                        }
                        normObjArr.push(tempObj);
                    }
                    self.set('factNormalized', normObjArr);
                    setTimeout(function () {
                        self.accordionToggle();
                    }, 1);
                },
                _showFactDetail: function (factSource) {
                    if (_.isUndefined(factSource.fields) || _.isEmpty(factSource.fields)) {
                        return false;
                    }
                    return true;
                },
                getDataFromPath: function (data, dataPath) {
                    var keyArray = dataPath.split(".");
                    var dataVal = data;
                    keyArray.forEach(function (key) {
                        if (dataVal != undefined) {
                            dataVal = dataVal[key];
                        }
                    });
                    return dataVal;
                },
                getFactDetailModalId: function (factSource) {
                    if (factSource) {
                        return factSource.sourceName + this._autoIdGenerator();
                    }
                },
                _randomNumber: function () {
                    return Math.floor((1 + Math.random()) * 0x10000).toString(16).substring(1);
                },
                _autoIdGenerator: function (name) {
                    return name + this._randomNumber();
                },
                _hasCondFormat: function (field) {
                    return scoring.hasCondFormat(field);
                },
                _getCondClass: function (field) {
                    return scoring.evalCondFormat(field);
                },
            });
        });
    </script>
</dom-module>