<dom-module id="additional-borrower">
    <template>
        <style>
            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }

            address {
                margin-bottom: 20px;
                font-style: normal;
                line-height: 1.42857143;
            }

            strong {
                display: block;
            }

            .bank-name {
                height: 1px;
                color: #03466B;
                background-color: #ddd;
            }
        </style>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <tbody>
                        <template is="dom-repeat" items="{{AdditionalBorrower}}" as="borrower">
                            <tr>
                                <th colspan="4" class="header">{{GetName(borrower)}}</th>
                            </tr>
                            <tr>
                                <th>Phone</th>
                                <td>{{_phoneFormat(borrower.phone.phoneNo)}}</td>
                                <th>Email</th>
                                <td>{{borrower.email.emailAddress}}</td>
                            </tr>
                            <tr>
                                <th>Address</th>
                                <td colspan="3">{{_getOwnerAddress(borrower.address)}}</td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row divideborder">
        </div>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "additional-borrower",
                properties: {
                    AdditionalBorrower: {
                        type: Array,
                        notify: true
                    },
                    loanData: {
                        type: Object,
                        notify: true,
                        observer: "init"
                    }
                },
                _checkIfEmptyObject: function (obj) {
                    return Object.keys(obj).length === 0 && obj.constructor === Object;
                },
                init: function () {
                    this._loadAdditionalBorrower();
                },
                _phoneFormat: function (phone) {
                    return formats.phone(phone, window.config.country);
                },
                _getOwnerAddress: function (Address) {
                    var self = this;
                    if (Address && Address != null && Address != undefined) {
                        var FinalAddress = "";
                        if (!_.isUndefined(Address.addressLine2) && !_.isNull(Address.addressLine2) && !_.isEmpty(Address.addressLine2)) {
                            FinalAddress = Address.addressLine1 + ", " + Address.addressLine2 + ", " + Address.city + ", " + Address.state + ", " + Address.zip;
                            return FinalAddress;
                        }
                        else {
                            FinalAddress = Address.addressLine1 + ", " + Address.city + ", " + Address.state + ", " + Address.zip;
                            return FinalAddress;
                        }
                    } else {
                        return "NA";
                    }
                },
                _checkNullUndefined: function (obj) {
                    if (obj && !_.isNull(obj) && !_.isUndefined(obj) && !_.isEmpty(obj)) {
                        return obj;
                    }
                    return '';
                },
                _loadAdditionalBorrower: function () {
                    var self = this;
                    if (!self._checkIfEmptyObject(self.loanData)) {
                        self.set('AdditionalBorrower', self.loanData.applicantDetails);
                    }
                },
                GetName: function (objData) {
                    var self = this;
                    if (!_.isUndefined(objData) && !_.isNull(objData) && !_.isEmpty(objData)) {
                        return objData.name.salutation + " " + objData.name.first + " " + objData.name.middle + " " + objData.name.last;
                    }
                    else
                        return "";
                }
            });
        });
    </script>
</dom-module>