<dom-module id="payment-schedule">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .dt-body-right {
                text-align: right !important;
            }

            dt.dt-body-center {
                text-align: center !important;
            }

            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B !important;
            }

            th.h-center-c-left {
                text-align: center !important;
            }

            td.h-center-c-left {
                text-align: left !important;
            }

            th.h-right-c-right {
                text-align: right !important;
            }

            td.h-right-c-right {
                text-align: right !important;
            }

            th.h-center-c-center {
                text-align: center !important;
            }

            td.h-center-c-center {
                text-align: center !important;
            }

            th.h-center-c-right {
                text-align: center !important;
            }

            td.h-center-c-right {
                text-align: right !important;
            }
        </style>
        <div class="panel-body">
            <template is="dom-if" if="{{checkMultipleVersion(allScheduleVersion)}}">
                <div class="row">
                    <div class="col-lg-3">
                        <vaadin-combo-box name="scheduledropdowns" value="{{selectedScheduleVersion}}" item-value-path="key" item-label-path="value"
                            items="{{allScheduleVersion}}" label="Select Schedule" prevent-invalid-input="true" on-change="_onVersionChange">
                        </vaadin-combo-box>
                    </div>
                </div>
            </template>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table">
                        <tr>
                            <th colspan="6" class="header">Schedule</th>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <table id="queueSchedule" class="table table-striped" width="100%" cellspacing="0"></table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="paymentDetailsDialog" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title docSubject">Payment Details</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table table-striped" id="schedulesVisePaymentTable">
                                <thead>
                                    <tr>
                                        <th class="h-center-c-center">Paid Date</th>
                                        <th class="h-center-c-center">Effective Date</th>
                                        <th class="h-right-c-right">Principal Paid</th>
                                        <template is="dom-if" if="{{!checkPortfolioType(loanData)}}">
                                            <th class="h-right-c-right">Finance Charge</th>
                                        </template>
                                        <template is="dom-if" if="{{checkPortfolioType(loanData)}}">
                                            <th class="h-right-c-right">Interest Paid</th>
                                        </template>
                                        <th class="h-right-c-right">Paid Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <template is="dom-repeat" items="{{PaymentDetails}}" as="payment">
                                        <tr>
                                            <td class="h-center-c-center">{{date(payment.paymentDate)}}</td>
                                            <td class="h-center-c-center">{{date(payment.effectiveDate)}}</td>
                                            <td class="h-right-c-right">{{formatMoney(payment.principalAmount)}}</td>
                                            <td class="h-right-c-right">{{formatMoney(payment.interestAmount)}}</td>
                                            <td class="h-right-c-right">{{_paidSum(payment.principalAmount,payment.interestAmount)}}</td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <url-parser id="urlloanps"></url-parser>
        <http-request id="httploanps"></http-request>
        <session-manager id="sessionloanps"></session-manager>
        <auth-service id="authorizeloanps"></auth-service>
        <alloy-config id="configloanps"></alloy-config>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "payment-schedule",
                properties: {
                    loanData: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    PaymentDetails: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    scheduleList: {
                        type: Array,
                        notify: true,
                        reflectToAttribute: true,
                        observer: "init"
                    },
                    currentSchedule: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: false,
                    },
                    modifiedSchedule: {
                        type: Array,
                        notify: true,
                        reflectToAttribute: true
                    },
                    selectedScheduleVersion: {
                        type: String,
                        notify: true
                    },
                    allScheduleVersion: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    tableObj: {
                        type: Object,
                        notify: false
                    },
                    tableMissedObj: {
                        type: Object,
                        notify: false
                    },
                    jsonObj: {
                        type: Object,
                        notify: true
                    },
                    showTable: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    missedPayment: {
                        type: Object,
                        notify: true
                    },
                    paidInstallmentNo: {
                        type: String,
                        notify: true
                    }
                },
                init: function () {
                    this.loadScheduleList();
                },
                _onVersionChange: function (event) {
                    var self = this;
                    var selectedValues = event.target.value;
                    self.GetCurrentVersion(selectedValues);
                },
                loadScheduleList: function () {
                    var self = this;
                    var updatedList = _.transform(self.scheduleList, function (result, item) {
                        if (item.modStatus === "None" || item.modStatus === "Active") {
                            result.push({ key: item.scheduleVersionNo, value: item.scheduleVersionNo });
                        }
                    }, []);
                    self.set('allScheduleVersion', updatedList);
                    var currentSchedule = _.find(self.scheduleList, ["isCurrent", true]);
                    if (currentSchedule) {
                        self.set('selectedScheduleVersion', currentSchedule.scheduleVersionNo);
                        self._loadJson(currentSchedule.scheduleVersionNo);
                    }
                },
                _loadJson: function (selectedScheduleVersion) {
                    var self = this;
                    var data = self.$.configloanps.getConfigurationBasedOnKey("filters");
                    var paymentScheduleObj = _.cloneDeep(data["PaymentSchedule"]);
                    if (self.checkPortfolioType(self.loanData) === false) {
                        paymentScheduleObj.columns[4].title = "Finance Charge";
                        paymentScheduleObj.columns[4].tooltip = "Finance Charge";
                    }

                    var columnLength = paymentScheduleObj.columns.length;
                    for (var i = 0; i < columnLength; i++) {
                        if (paymentScheduleObj.columns[i].render != undefined) {
                            var render = paymentScheduleObj.columns[i].render;
                            if (paymentScheduleObj.columns[i].isFunction) {
                                paymentScheduleObj.columns[i].render = eval("(" + render + ")");
                            }
                            else {
                                paymentScheduleObj.columns[i].render = eval(render);
                            }
                        }
                    }
                    self.set("jsonObj", paymentScheduleObj);
                    self.set("showTable", true);
                    self.GetCurrentVersion(selectedScheduleVersion);
                },
                GetCurrentVersion: function (objVersion) {
                    var self = this;
                    if (objVersion !== "") {
                        var Url = "/" + self.applicationNumber + "/" + objVersion + "/payment";
                        self.$.httploanps.get(Url, window.config.services.accountingService, true).then(function (data) {
                            if (data) {
                                var MergedData = [];
                                data.forEach(function (item) {
                                    var FinalItem = item.loanDetails;
                                    var isPaid = false;
                                    if (item.schduleTreckingDetails && item.schduleTreckingDetails.length > 0) {
                                        self.set("paidInstallmentNo", item.schduleTreckingDetails[0].installmentnumber);
                                        var Datafound = _.find(item.schduleTreckingDetails, ["isPaid", true]);
                                        if (Datafound) {
                                            isPaid = true;
                                        }
                                    }
                                    FinalItem.tenure = item.tenure;
                                    FinalItem.IsPaid = isPaid;
                                    FinalItem.PaymentInfo = item.schduleTreckingDetails;
                                    MergedData.push(FinalItem);
                                });
                                self.set("currentSchedule", MergedData);
                                self.set("modifiedSchedule", MergedData);
                                self.LoadTable(self.currentSchedule);
                            }
                        }).fail(function (e) {
                            console.error("load config error is ", e);
                        });
                    }
                    else {
                        var MergedData = [];
                        self.set("currentSchedule", MergedData);
                        self.set("modifiedSchedule", MergedData);
                        self.LoadTable(self.currentSchedule);
                    }
                },
                LoadTable: function (currentSchedule) {
                    var self = this, table;
                    if (self.jsonObj !== undefined && self.jsonObj !== "") {
                        table = self.tableObj;
                        if (table !== null && table !== undefined) {
                            table.clear();
                            table.destroy();
                        }
                        table = self.tableObj = $(self.$$('#queueSchedule')).DataTable({
                            dom: "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                            data: currentSchedule,
                            columns: self.jsonObj.columns,
                            columnDefs: self.jsonObj.columnDefs,
                            order: self.jsonObj.order,
                            language: {
                                lengthMenu: "show_MENU_ Schedule",
                                zeroRecords: "No Data found.",
                                info: "Showing _START_ to _END_ of _TOTAL_ Schedule",
                                infoEmpty: "No Schedule available",
                                infoFiltered: "(filtered from _MAX_ total Schedule)"
                            }
                        });

                        setTimeout(function () {
                            $('#queueSchedule tbody').on('click', 'a', function () {
                                var data = self.tableObj.row($(this).parents('tr')).data();
                                if (this.getAttribute("on-click") !== null && this.getAttribute("on-click") !== undefined) {
                                    self[this.getAttribute("on-click")](data);
                                }
                            });

                        }, 700);
                    }
                },
                _viewPaymentDetail: function (e) {
                    var self = this;
                    self.PaymentDetails = e.PaymentInfo;
                    $("#paymentDetailsDialog").modal('show');
                },
                date: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.onlyDate(date, window.config.country);
                    }
                    return "NA";
                },
                formatMoney: function (value) {
                    return formats.money(value, window.config.country, 0);
                },
                CheckPaid: function (objIsPaid) {
                    if (objIsPaid === true)
                        return true;
                    else
                        return false;
                },
                formatCurrency: function (data) {
                    return formats.money(data, window.config.country, 0);
                },
                checkPortfolioType: function (objType) {
                    var self = this;
                    if (self.loanData && self.loanData.productPortfolioType != "MCA" && self.loanData.productPortfolioType != "MCALOC") {
                        return true;
                    }
                    return false;
                },
                anyMissedPayment: function (objType, missedPayment) {
                    var self = this;
                    if (self.loanData && self.missedPayment && !_.isEmpty(self.missedPayment) && (self.loanData.productPortfolioType === "MCA" || self.loanData.productPortfolioType === "MCALOC")) {
                        return true;
                    }
                    return false;
                },
                CheckProduct: function (objType) {
                    var self = this;
                    if (self.loanData && (self.loanData.productPortfolioType === "LineOfCredit" || self.loanData.productPortfolioType === "MCALOC")) {
                        return true;
                    }
                    return false;
                },
                _paidSum: function (val1, val2) {
                    var self = this;
                    var sum = parseFloat(val1) + parseFloat(val2);
                    return self.formatMoney(parseFloat(sum).toFixed(2));
                },
                checkMultipleVersion: function (allScheduleVersion) {
                    var self = this;
                    return (allScheduleVersion.length > 1) ? true : false;
                }
            });
        });
    </script>
</dom-module>