<dom-module id="personal-info">
    <template>
        <style>
            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }

            address {
                margin-bottom: 20px;
                font-style: normal;
                line-height: 1.42857143;
            }

            strong {
                display: block;
            }
        </style>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <tr>
                        <td colspan="6" class="header">Personal Info</td>
                    </tr>
                    <tr>
                        <th class="col-sm-2">Name</th>
                        <td class="col-sm-4" colspan="2">{{ getName(application) }}</td>
                        <th class="col-sm-2">Email</th>
                        <td class="col-sm-4" colspan="2">{{ _Email(application.email.emailAddress) }}</td>
                    </tr>
                    <tr>
                        <th>Mobile No</th>
                        <td colspan="2">
                            <i class="fa fa-mobile" aria-hidden="true"></i> {{ phone(application.phone.phoneNo) }}
                        </td>
                        <th class="col-sm-2">DOB</th>
                        <td class="col-sm-4" colspan="2">{{ date(application.pii.dob) }}</td>
                    </tr>
                    <tr>
                        <th class="col-sm-2">SSN</th>
                        <td class="col-sm-4" colspan="4">{{ application.pii.ssn}}</td>
                    </tr>
                    <tr>
                        <th class="col-sm-2">Address</th>
                        <td class="col-sm-4" colspan="4">{{GetAddress(application.address)}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "personal-info",
                properties: {
                    application: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    loanData: {
                        type: Object,
                        notify: true,
                        observer: "init"
                    }
                },
                date: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.date(date, window.config.country, false);
                    }
                    return "NA";
                },
                _formateSSN: function (data) {
                    return formats.ssn(data, window.config.country);
                },
                _checkIfEmptyObject: function (obj) {
                    return Object.keys(obj).length === 0 && obj.constructor === Object;
                },
                _Mobile: function (mobileObj) {
                    return mobileObj !== null ? mobileObj : "NA";
                },
                _Email: function (emailObj) {
                    return emailObj !== null ? emailObj : "NA";
                },
                phone: function (phone) {
                    return formats.phone(phone, window.config.country);
                },
                init: function () {
                    this._loadApplicantDetails();
                },
                _loadApplicantDetails: function () {
                    var self = this;
                    if (!self._checkIfEmptyObject(self.loanData)) {
                        self.set('application', self.loanData.primaryApplicantDetails);
                    }
                },
                getName: function () {
                    var self = this;
                    if (!_.isUndefined(self.application) && !_.isNull(self.application) && !_.isEmpty(self.application)) {
                        return self.application.name.salutation + " " + self.application.name.first + " " + self.application.name.middle + " " + self.application.name.last;
                    }
                    else
                        return "";
                },
                GetAddress: function (Address) {
                    var self = this;
                    if (Address && Address != null && Address != undefined) {
                        var FinalAddress = "";
                        if (!_.isUndefined(Address.addressLine2) && !_.isNull(Address.addressLine2) && !_.isEmpty(Address.addressLine2)) {
                            FinalAddress = Address.addressLine1 + ", " + Address.addressLine2 + ", " + Address.city + ", " + Address.state + ", " + Address.zip;
                            return FinalAddress;
                        }
                        else {
                            FinalAddress = Address.addressLine1 + ", " + Address.city + ", " + Address.state + ", " + Address.zip;
                            return FinalAddress;
                        }
                    } else {
                        return "NA";
                    }
                }

            });
        });
    </script>
</dom-module>