<html-import html-href="personal-details/index.html"></html-import>
<html-import html-href="app-details-tab/alerts.html"></html-import>
<html-import html-href="app-details-tab/doc-view.html"></html-import>
<html-import html-href="app-details-tab/owners-info.html"></html-import>
<html-import html-href="app-details-tab/loc-details.html"></html-import>
<html-import html-href="app-details-tab/offers-grid.html"></html-import>
<html-import html-href="app-details-tab/funding-info.html"></html-import>
<html-import html-href="app-details-tab/business-info.html"></html-import>
<html-import html-href="app-details-tab/cashflow-info.html"></html-import>
<html-import html-href="app-details-tab/status-history.html"></html-import>
<html-import html-href="app-details-tab/thirdparty-info.html"></html-import>
<html-import html-href="app-details-tab/funding-request.html"></html-import>
<html-import html-href="app-details-tab/drawdown-request.html"></html-import>
<html-import html-href="app-details-tab/verification-details.html"></html-import>
<html-import html-href="custom-component/activity-wrapper.html"></html-import>
<dom-module id="application-detail">
    <template>
        <style>
            .nav-tabs {
                margin-bottom: -1px;
            }

            .header {
                font-size: 20px !important;
            }

            .modal-dialog {
                margin: 10% auto;
                width: 400px !important;
            }

            .appTabs li a {
                padding: 14px !important;
            }

            a.headerStatus {
                background-color: #80b43c !important;
                padding: 5px;
                font-size: 17px !important;
                color: #fff !important;
                float: right;
                font-weight: bold;
                font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            }

            .title-case {
                text-transform: capitalize;
                margin: 10px auto;
            }

            .nav-tabs>li.active>a,
            .nav-tabs>li.active>a:hover,
            .nav-tabs>li.active>a:focus {
                color: #555555 !important;
                cursor: default;
                background: white;
                border-bottom: #f3f3f4;
                border-color: #dddddd #dddddd rgba(0, 0, 0, 0);
                border-image: none;
                border-style: solid;
                border-width: 1px;
                -moz-border-bottom-colors: none;
                -moz-border-left-colors: none;
                -moz-border-right-colors: none;
                -moz-border-top-colors: none;
            }

            .panel-default>.panel-heading+.panel-collapse>.panel-body {
                border-top-color: #EEEEEE;
            }

            .panel-body {
                min-height: 0px;
            }

            .tab-content>.active {
                display: block;
                background: white;
            }

            .top-tabs {
                padding: 15px 0 !important;
            }

            .helpIcon {
                cursor: pointer;
                font-size: 20px;
                color: lightseagreen;
                float: right;
                margin: 5px;
            }

            .image-list-box {
                padding: 0 5px;
                margin: 0 auto 15px;
                clear: both;
                color: inherit;
                background-color: #ffffff;
                border-color: #e7eaec;
                border-image: none;
                border-style: solid solid none;
                border-width: 4px 0 0;
                height: 50px;
            }

            .image-list-label {
                position: absolute;
                margin: 15px auto;
            }

            .image-list-container {
                padding-left: 90px;
                display: inline-block;
                margin: 0 auto;
            }

            .textareascroll {
                overflow-y: auto;
                height: 150px;
            }

            .header .col-md-7,
            .header .col-md-5 {
                padding: 0 !important;
            }
        </style>
        <div class="row">
            <div class="wrapper wrapper-content col-md-8">
                <div class="ibox float-e-margins loan-summary">
                    <div class="ibox-title">
                        <div class="row header title-case">
                            <div class="col-md-7">
                                {{_changeApplicationTitle(currentEntityName)}} {{_setEntityId()}}
                                <strong>{{lenderIdTxt}} {{productname}}</strong>
                                <br> {{_businessName(dataAttributes)}}
                            </div>
                            <div class="col-md-5">
                                <i aria-hidden="true" class="fa fa-info-circle helpIcon" data-args="{{statusObj.name}}" on-click="Helptext">
                                </i>
                                <template is="dom-if" if="{{_hasSubWorkFlowInitited(statusObj)}}">
                                    <i class="fa fa-random" aria-hidden="true" style="float: right;margin: 5px;cursor: pointer" onclick="$('#subworkFlowPopup').modal('show');"></i>
                                </template>
                                <ul class="nav navbar-top-links navbar-right" style="display: inline-block; margin-right: 0 !important">
                                    <li class="dropdown" style="margin-right: 0px;height: 20px;">
                                        <a href="javascript:" style="min-height: inherit" class="dropdown-toggle headerStatus" data-toggle="dropdown" role="button"
                                            aria-expanded="false">
                                            {{statusObj.name}}&nbsp;
                                        </a>
                                        <template is="dom-if" if="{{_hasSubWorkFlow(statusObj)}}">
                                            <ul class="dropdown-menu" style="top: 30px;">
                                                <li style="padding: 10px; cursor: pointer" onclick="$('#initiateSubworkFlowPopup').modal('show')">Available Sub Workflow</li>
                                            </ul>
                                        </template>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <ul class="nav nav-tabs appTabs" id="myTab">
                            <template is="dom-repeat" items="{{appDetailsTopTabList}}" as="AppTab">
                                <template is="dom-if" if="{{hasRole(AppTab.role)}}">
                                    <template is="dom-if" if="{{_checkIfTabVisible(AppTab.displayIn,statusObj)}}">
                                        <li>
                                            <a data-model$="{{AppTab}}" data-target$="{{AppTab.target}}" title="{{getTooltip(AppTab.toolTip)}}">{{_getTabName(AppTab.tabDisplayName,AppTab.role)}}</a>
                                        </li>
                                    </template>
                                </template>
                            </template>
                        </ul>
                        <div class="tab-content panel-body">
                            <div class="tab-pane" id="businessinfo">
                                <app-business-info id="businessInfoTemplate" application-number="{{applicationNumber}}" data-attributes="{{dataAttributes}}"
                                    industry-lookup="{{industryTypeLookup}}" property-lookup="{{propertyTypeLookup}}" purposeofloan-lookup="{{purposeOfLoanTypeLookup}}"
                                    businesstype-lookup="{{businessTypeLookup}}" loanpriority-lookup="{{loanPriorityLookup}}"
                                    businesslocation-lookup="{{businessLocationLookup}}"></app-business-info>
                            </div>
                            <div class="tab-pane" id="sponsorsinfo">
                                <app-owners-info id="ownersInfoTemplate" application-number="{{applicationNumber}}" data-attributes="{{dataAttributes}}"></app-owners-info>
                            </div>
                            <div class="tab-pane" id="LocDetails">
                                <loc-details id="locDetailsInfo" application-number="{{applicationNumber}}" other-attributes="{{dataAttributes}}"></loc-details>
                            </div>
                            <div class="tab-pane" id="3rdpartyinfo">
                                <app-thirdparty-info id="scoreCardInfo" data-owner-reports="{{ownerReports}}" application-number="{{applicationNumber}}"
                                    data-attributes-config="{{daConfig}}" data-attributes="{{dataAttributes}}" score-config="{{scConfig}}"
                                    score-card="{{scoreCard}}" criminal-records="{{criminalRecords}}" bankruptcy-data="{{bankruptcyData}}"
                                    other-attributes="{{otherAttributes}}" bankruptcy-report-records="{{bankruptcyReportRecords}}"
                                    merchant-notes="{{notes}}" ocrolus-info="{{ocinfo}}"></app-thirdparty-info>
                            </div>
                            <div class="tab-pane" id="cashflowinfo">
                                <app-cashflow-info id="cashflowDetails" application-number="{{applicationNumber}}" status-code="{{statusCode}}" cashflow-list="{{CashflowList}}"
                                    fire-event="{{getEvents(actionEvents, 'SelectBank')}}"></app-cashflow-info>
                            </div>
                            <div class="tab-pane" id="verificationdashboard">
                                <verification-details id="veriDetails" application-number="{{applicationNumber}}" status-obj="{{statusObj}}"></verification-details>
                            </div>
                            <div class="tab-pane" id="fundingInfo">
                                <app-funding-info id="fundingInfoTemplate" application-number="{{applicationNumber}}"></app-funding-info>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="nav nav-tabs appTabs" id="bottomTabs">
                    <template is="dom-repeat" items="{{appDetailsBottomTabList}}" as="AppBottomTab">
                        <template is="dom-if" if="{{hasRole(AppBottomTab.role)}}">
                            <template is="dom-if" if="{{_checkIfTabVisible(AppBottomTab.displayIn,statusObj)}}">
                                <li>
                                    <a data-model$="{{AppBottomTab}}" data-target$="{{AppBottomTab.target}}" title="{{getTooltip(AppBottomTab.toolTip)}}">
                                        <i aria-hidden="true" class$="{{AppBottomTab.class}}"></i>{{_getTabName(AppBottomTab.tabDisplayName,AppBottomTab.role)}}</a>
                                </li>
                            </template>
                        </template>
                    </template>
                </ul>
                <div class="tab-content top-tabs" id="bottomTabContent">
                    <div class="tab-pane" id="drawdownRequest">
                        <app-drawdown-request id="drawdownr" application-number="{{applicationNumber}}"></app-drawdown-request>
                    </div>
                    <div class="tab-pane" id="fundingRequest">
                        <app-funding-request id="fundingr" application-number="{{applicationNumber}}"></app-funding-request>
                    </div>
                    <div class="tab-pane" id="offers" style="padding: 10px 15px 0;">
                        <app-offers-grid id="offerView" application-number="{{applicationNumber}}" data-attributes="{{dataAttributes}}" status-obj="{{statusObj}}"></app-offers-grid>
                    </div>
                    <div class="tab-pane" id="viewdocument">
                        <doc-view id="docView" facts="{{tabs}}" application-number="{{applicationNumber}}"></doc-view>
                    </div>
                    <div class="tab-pane" id="alerts">
                        <alert-view id="alertView" application-number="{{applicationNumber}}"></alert-view>
                    </div>
                    <div class="tab-pane" id="statushistory">
                        <status-history id="statusHistoryView" application-number="{{applicationNumber}}"></status-history>
                    </div>
                </div>
            </div>
            <div class="wrapper wrapper-content col-md-4">
                <div class="box image-list-box">
                    <label class="image-list-label">Team Members:</label>
                    <div class="image-list-container">
                        <template is="dom-repeat" items="{{assignments}}">
                            <image-circle img-obj="{{item}}" username-prop="assignee" full-username-prop="assignee"></image-circle>
                        </template>
                    </div>
                </div>
                <template is="dom-if" if="{{hasRole('ActivityListTab')}}">
                    <activity-wrapper id="activityListTab" application-number="{{applicationNumber}}" data-attributes="{{dataAttributes}}" status-obj="{{statusObj}}"></activity-wrapper>
                </template>
            </div>
            <template is="dom-if" if="{{_showEditApplicationTemplate(componentMap.Edit)}}">
                <application-details id="customDetails" fire-event="{{getEvents(actionEvents, 'Edit')}}" application-number="{{applicationNumber}}"></application-details>
            </template>
            <div id="initiateSubworkFlowPopup" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title docSubject">Initiate Process</h4>
                        </div>
                        <div class="modal-body">
                            <template is="dom-if" if="{{_hasSubWorkFlow(statusObj)}}">
                                <template is="dom-repeat" items="{{statusObj.subWorkFlows}}" as="subflow">
                                    <paper-button style="margin: 10px auto" model$="{{subflow}}" class="btn btn-primary activity-action-btn" on-click="_initiatSubWorkflow"
                                        disabled="{{_disableSubworkflowIfInitiated(subflow)}}">{{_getDisplayName(subflow.name)}}</paper-button>
                                    <br/>
                                </template>
                            </template>
                        </div>
                    </div>
                    <div id="subFlowMessageContainer"></div>
                </div>
            </div>
            <div id="subworkFlowPopup" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title docSubject">Sub Workflow</h4>
                        </div>
                        <div class="modal-body">
                            <vaadin-combo-box class="custom-input" name="Role" value="{{selectedSubFlow}}" item-value-path="code" item-label-path="name"
                                items="{{subStatusList}}" label="Select Sub Workflow" prevent-invalid-input="true" required>
                            </vaadin-combo-box>
                            <br>
                            <paper-textarea id="notes" label="Notes" rows="5"></paper-textarea>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary activity-action-btn" on-click="_moveFurtherSteps">Submit</button>
                            <button class="btn btn-primary activity-action-btn" data-dismiss="modal">cancel</button>
                        </div>
                    </div>
                    <div id="subFlowProcessContainer"></div>
                </div>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <alloy-config id="config"></alloy-config>
        <alloy-format id="format"></alloy-format>
        <lookup-service id="lookup"></lookup-service>
        <auth-service id="authorize"></auth-service>
        <utility-service id="utility"></utility-service>
        <session-manager id="session"></session-manager>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "application-detail",
                properties: {
                    cashflowList: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    },
                    appDetailsTopTabList: {
                        type: Array,
                        notify: true,
                        reflectToAttribute: true
                    },
                    appDetailsBottomTabList: {
                        type: Array,
                        notify: true,
                        reflectToAttribute: true
                    },
                    helpObj: {
                        type: Object,
                        notify: true
                    },
                    daConfig: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    ownerList: {
                        type: Array,
                        notify: true,
                        reflectToAttribute: true
                    },
                    ownerReports: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true,
                        observer: "init"
                    },
                    otherAttributes: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    statusObj: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true,
                        observer: 'loadInititedSubworkInfo'
                    },
                    statusCode: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    declineReasons: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    scoreCard: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    finalOffer: {
                        type: Object,
                        notify: true
                    },
                    offerDetails: {
                        type: String,
                        notify: true
                    },
                    initialOfferScore: {
                        type: String,
                        notify: true,
                        value: "Not available"
                    },
                    lenderIdTxt: {
                        type: String,
                        notify: true,
                        value: "",
                        reflectToAttribute: true
                    },
                    productname: {
                        type: String,
                        notify: true,
                        value: "",
                        reflectToAttribute: true
                    },
                    finalOfferScore: {
                        type: String,
                        notify: true,
                        value: "Not available"
                    },
                    ancillaryData: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    fundingdata: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    additionalInfoData: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    propertyTypeLookup: {
                        type: Object,
                        notify: true,
                        value: []
                    },
                    industryTypeLookup: {
                        type: Object,
                        notify: true,
                        value: []
                    },
                    purposeOfLoanTypeLookup: {
                        type: Object,
                        notify: true,
                        value: []
                    },
                    businessTypeLookup: {
                        type: Object,
                        notify: true,
                        value: []
                    },
                    businessLocationLookup: {
                        type: Object,
                        notify: true,
                        value: []
                    },
                    loanPriorityLookup: {
                        type: Object,
                        notify: true,
                        value: []
                    },
                    thirdPartyDataLoaded: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    fundingDataLoaded: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    assignments: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    lookupRequires: {
                        type: Array,
                        notify: true,
                        value: [{
                            name: 'propertyType',
                            pageVariable: 'propertyTypeLookup'
                        }, {
                            name: 'industry',
                            pageVariable: 'industryTypeLookup'
                        }, {
                            name: 'purposeOfLoan',
                            pageVariable: 'purposeOfLoanTypeLookup'
                        }, {
                            name: 'businessTypes',
                            pageVariable: 'businessTypeLookup'
                        }, {
                            name: 'loanTimeFrame',
                            pageVariable: 'loanTimeFrameLookup'
                        }, {
                            name: 'loanPriority',
                            pageVariable: 'loanPriorityLookup'
                        }, {
                            name: 'businessLocation',
                            pageVariable: 'businessLocationLookup'
                        }]
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: "application",
                        reflectToAttribute: true
                    },
                    scConfig: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    }
                },
                date: function (date) {
                    return formats.date(date, window.config.country, false);
                },
                phone: function (phone) {
                    return formats.phone(phone, window.config.country);
                },
                formatMoney: function (value) {
                    return formats.money(value, window.config.country, 0);
                },
                decimal: function (value) {
                    return formats.round(value, 2);
                },
                bool2value: function (booldata) {
                    return formats.bool2value(booldata);
                },
                percent: function (value) {
                    if (value) {
                        value = new Number(value);
                        return value.toFixed(2) + "%";
                    }
                    return "0%";
                },
                hyperlink: function (value) {
                    var anchor$ = $('<a></a>');
                    anchor$.prop('href', value);
                    anchor$.prop('target', "_Blank");
                    anchor$.html("click here");
                    return anchor$[0].outerHTML;
                },
                _changeApplicationTitle: function () {
                    return (this.currentEntityName !== 'application') ? ' Drawdown # : ' : ' App # : ';
                },
                _setEntityId: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    if (params.entity === "drawdown") {
                        return params.drawdownId;
                    }
                    return params.app;
                },
                _addLenderId: function () {
                    var self = this;
                    var dataAttribute = self.dataAttributes;
                    if (!_.isUndefined(dataAttribute) && dataAttribute.hasOwnProperty('lenderResult') && !_.isNull(dataAttribute.lenderResult) && !_.isUndefined(dataAttribute.lenderResult)) {
                        self.set("lenderIdTxt", ' (' + _.startCase(self.dataAttributes.lenderResult.lenderName) + ')');
                    }
                },
                _addSubProductId: function () {
                    var self = this;
                    var dataAttribute = self.dataAttributes;
                    if (!_.isUndefined(dataAttribute) && dataAttribute.hasOwnProperty('productResult') && !_.isNull(dataAttribute.productResult) && !_.isUndefined(dataAttribute.productResult)) {
                        if (self.dataAttributes.lenderResult.lenderName != "Other Lenders")
                            self.set("productname", ' (' + _.startCase(self.dataAttributes.productResult.SubProductId) + ')');
                    }
                },
                _checkIfArray: function (array) {
                    return Object.prototype.toString.call(array) === '[object Array]';
                },
                hasRole: function (compName) {
                    return this.$.authorize.hasRole(compName);
                },
                _showEditApplicationTemplate: function (val) {
                    if (val) {
                        return true;
                    }
                    return false;
                },
                lookup: function (value, pageVariable) {
                    var self = this;
                    if (value != null) {
                        var lookUpObj = _.find(self[pageVariable], ['key', value]);
                        return _.isUndefined(lookUpObj) ? "Not available" : lookUpObj.value;
                    }
                },
                _processSingleOwnerData: function (config, dataAttribute, ownerId) {
                    var self = this;
                    config.reports.forEach(function (report) {
                        var keys = Object.keys(report);
                        var key = keys[0];
                        if (dataAttribute[key]) {
                            report.name = report[key].displayName;
                            report.headerId = key + "header";
                            report.id = key + ownerId;
                            self.processFields(report[key].fields, dataAttribute, key, undefined);
                            report.fields = report[key].fields;
                            report.hasReport = true;
                        } else {
                            report.hasReport = false;
                        }
                    });
                    return config;
                },
                loadDataAttConfig: function () {
                    var self = this;
                    var ownerReports = [];
                    var ownerList = [{
                        FirstName: "Business Reports",
                        LastName: "",
                        OwnerId: '0'
                    }];
                    var baseConfig = self.$.config.getConfigurationBasedOnKey("data-attribute");
                    var config = baseConfig[self.currentEntityName];
                    var reportConfig = self.$.config.getConfigurationBasedOnKey("report-config");
                    var perReportConfig = self.$.config.getConfigurationBasedOnKey("personal-report-config");
                    var dataAttributes = (self.currentEntityName === "application") ? self.dataAttributes : self.otherAttributes;
                    ownerList = _.union(ownerList, self.dataAttributes.application.owners);
                    _.forEach(ownerList, function (owner) {
                        var cloneConfig = _.cloneDeep(config);
                        cloneConfig.owner = owner;
                        if (owner.OwnerId === '0') {
                            var updatedReports = [];
                            var extractedDataAttr = _.pick(dataAttributes, reportConfig);
                            _.forEach(reportConfig, function (item) {
                                var reportObj = _.find(cloneConfig.reports, ['key', item]);
                                if (!_.isUndefined(reportObj)) {
                                    updatedReports.push(reportObj)
                                }
                            });
                            cloneConfig.reports = updatedReports;
                            ownerReports.push(self._processSingleOwnerData(cloneConfig, extractedDataAttr, owner.OwnerId));
                        } else {
                            var updatedReports = [];
                            _.forEach(perReportConfig, function (item) {
                                var reportObj = _.find(cloneConfig.reports, ['key', item]);
                                if (!_.isUndefined(reportObj)) {
                                    updatedReports.push(reportObj)
                                }
                            });
                            cloneConfig.reports = updatedReports;
                            var extractedDataAttr = _.pick(dataAttributes, perReportConfig);
                            var updatedDataAttribute = _.transform(extractedDataAttr, function (result, value, key) {
                                var onwerObj = _.find(value, ['SecondaryName', owner.OwnerId]);
                                result[key] = !_.isUndefined(onwerObj) ? onwerObj : {};
                            }, {});
                            ownerReports.push(self._processSingleOwnerData(cloneConfig, updatedDataAttribute, owner.OwnerId));
                            cloneConfig.criminalRecords = self.loadLexisNexisConfig("criminalReport-details", owner.OwnerId);
                            cloneConfig.bankruptcyReportRecords = self.loadLexisNexisConfig("bankruptcyReport-details", owner.OwnerId);
                        }
                    });
                    self.set('ownerReports', ownerReports);
                    self.set('daConfig', config);
                },
                loadCashFlowConfig: function () {
                    var self = this;
                    var config = self.$.config.getConfigurationBasedOnKey("cashflow-details");
                    self.set('cfConfig', config);
                    var dataAttributes = (self.currentEntityName === "application") ? self.dataAttributes : self.otherAttributes;
                    var allCashflow = _.pickBy(dataAttributes, function (value, key) {
                        return _.startsWith(key, "plaidCashflow");
                    });
                    var reports = _.transform(allCashflow.plaidCashflow, function (result, value, key) {
                        result.push({
                            accountId: value.AccountID,
                            displayName: 'Cashflow-' + value.InstitutionName,
                            id: 'cfOne-' + key,
                            report: self.getReports(value)
                        });
                    }, []);
                    self.set("CashflowList", reports);

                },
                loadNotesConfig: function () {
                    var self = this;
                    var config = self.$.config.getConfigurationBasedOnKey("merchantNotes");
                    self.set('mNConfig', config);
                    var reports = self.getMNotes();
                    self.set("notes", reports);
                },
                loadBankruptcyDatesConfig: function () {
                    var self = this;
                    var config = self.$.config.getConfigurationBasedOnKey("bankruptcyDates");
                    self.set('bDConfig', config);
                    var reports = self.getbankruptcyData();
                    self.set("bankruptcyData", reports);
                },
                loadOcrolusConfig: function () {
                    var self = this;
                    var config = self.$.config.getConfigurationBasedOnKey("ocrolusBankInfo");
                    self.set('oCConfig', config);
                    var reports = self.getOcrolusInfo();
                    self.set("ocinfo", reports);
                },
                getOcrolusInfo: function () {
                    var self = this;
                    var config = self.oCConfig;
                    var responsedata = (self.currentEntityName === "application") ? self.dataAttributes : self.otherAttributes;
                    var baseReport = [];
                    if (responsedata && responsedata != null) {
                        var key = "ocrolusData";
                        if (responsedata.hasOwnProperty(key) && responsedata.ocrolusData.OcrolusInfo) {
                            var notedata = responsedata.ocrolusData.OcrolusInfo.info;
                            if (notedata) {
                                notedata.forEach(function (note) {
                                    var notesFields = _.cloneDeep(config.fields)
                                    self.processFields(notesFields, note, "", undefined);
                                    baseReport.push(notesFields);
                                });
                            }
                        }
                    }
                    self.set('thirdPartyDataLoaded', true);
                    return baseReport;
                },
                _onDataAttributesLoad: function () {
                    var self = this;
                    if (self.dataAttributes) {
                        if (self.dataAttributes.hasOwnProperty('ancillaryData')) {
                            self.set('ancillaryData', self.dataAttributes['ancillaryData']);
                        }
                        if (self.dataAttributes.hasOwnProperty('loan-fundeddata')) {
                            self.set('fundingDataLoaded', true);
                            self.set('fundingdata', self.dataAttributes['loan-fundeddata']);
                        }
                        self.loadDataAttConfig();
                        self.loadCashFlowConfig();
                        self.loadNotesConfig();
                        self.loadOcrolusConfig();
                        self.loadBankruptcyDatesConfig();
                        self._addLenderId();
                        self._addSubProductId();
                    }
                },
                loadLexisNexisConfig: function (configName, ownerId) {
                    var self = this;
                    var config = self.$.config.getConfigurationBasedOnKey(configName);
                    self.set(configName, config);
                    var reports = self.getLNReports(configName, ownerId);
                    var Reportdetails = config.base.baseObject;
                    self.set(Reportdetails, reports);
                    return reports;
                },
                getMNotes: function () {
                    var self = this;
                    var config = self.mNConfig;
                    var responsedata = (self.currentEntityName === "application") ? self.dataAttributes : self.otherAttributes;
                    var baseReport = [];
                    if (responsedata && responsedata != null) {
                        var key = "datamerchReport";
                        if (responsedata.hasOwnProperty(key) && responsedata.datamerchReport.MerchantNotes) {
                            var notedata = responsedata.datamerchReport.MerchantNotes.Notes;
                            if (notedata) {
                                notedata.forEach(function (note) {
                                    var notesFields = _.cloneDeep(config.fields)
                                    self.processFields(notesFields, note, "", undefined);
                                    baseReport.push(notesFields);
                                });
                            }
                        }
                    }
                    self.set('thirdPartyDataLoaded', true);
                    return baseReport;
                },
                getbankruptcyData: function () {
                    var self = this;
                    var config = self.bDConfig;
                    var responsedata = (self.currentEntityName === "application") ? self.dataAttributes : self.otherAttributes;
                    var baseReport = [];
                    if (responsedata && responsedata != null) {
                        var key = "personalCreditReport";
                        if (responsedata.hasOwnProperty(key) && responsedata.personalCreditReport[0].bankruptcyDates) {
                            var notedata = responsedata.personalCreditReport[0].bankruptcyDates.Notes;
                            if (notedata) {
                                notedata.forEach(function (note) {
                                    var notesFields = _.cloneDeep(config.fields)
                                    self.processFields(notesFields, note, "", undefined);
                                    baseReport.push(notesFields);
                                });
                            }
                        }
                    }
                    self.set('thirdPartyDataLoaded', true);
                    return baseReport;
                },
                getLNReports: function (configName, ownerId) {
                    var self = this;
                    var responsedata = (self.currentEntityName === "application") ? self.dataAttributes : self.otherAttributes;
                    var initConfig = self[configName]['base'];
                    var config = self[configName][initConfig.baseObject];
                    if (responsedata[initConfig.baseObject] && responsedata[initConfig.baseObject] != null) {
                        var dataArry = responsedata[initConfig.baseObject];
                        var newDataArr = [];
                        for (var i = 0; i < dataArry.length; i++) {
                            newDataArr = newDataArr.concat(dataArry[i]);
                        }
                        var obj = _.filter(newDataArr, {
                            SecondaryName: ownerId
                        });
                        responsedata = (newDataArr && newDataArr.length >= 0) ? obj : [{}];
                        var baseReport = [];
                        if (responsedata && responsedata != null) {
                            if (initConfig.baseObjectType == 'Array') {
                                responsedata.forEach(function (rptData) {
                                    var result = self.processreport(config, rptData, self[configName]);
                                    baseReport.push(result);
                                });
                            } else {
                                var result = self.processreport(config, responsedata, self[configName]);
                                baseReport.push(result);
                            }
                        }
                    }
                    return baseReport;
                },
                loadAdditionalInfo: function () {
                    var self = this;
                    var data = self.$.config.getConfigurationBasedOnKey("additional-info");
                    for (var i = 0; i < data.length; i++) {
                        var dataObj = self[data[i].tabName];
                        if (!(Object.keys(dataObj).length === 0 && dataObj.constructor === Object)) {
                            data[i].fields.forEach(function (field) {
                                var dataVal = dataObj[field.data];
                                if (field.format) {
                                    field.value = self[field.format](dataVal);
                                } else {
                                    field.value = dataVal;
                                }
                            });
                        }
                    }
                    self.set('additionalInfoData', data);
                },
                loadProductRuleConfig: function () {
                    var self = this;
                    var EXCLUDE_KEYS = ["name", "displayName"];
                    var data = self.$.config.getConfigurationBasedOnKey("product-rule");

                    self.set('scConfig', _.cloneDeep(data.rules));
                    var scData = self.scoreCard;
                    self.scConfig.forEach(function (rule) {
                        if (rule && scData) {
                            var properties = Object.keys(rule);
                            properties.forEach(function (key) {
                                if (key && EXCLUDE_KEYS.indexOf(key) === -1) {
                                    if (scData[key]) {
                                        rule[key].executedDate = scData[key].executedDate.time;
                                        rule[key].result = scData[key].result;
                                        var properties = Object.keys(rule[key]);
                                        if (properties && properties.length > 0) {
                                            properties.forEach(function (subKey) {
                                                if (rule[key].result) {
                                                    if (subKey === "intermediateData") {
                                                        self.processIntermediateData(rule, key, subKey, scData, self);
                                                    } else if (subKey === 'sourceData') {
                                                        self.processSourceData(rule, key, subKey, scData, self);
                                                    }
                                                } else {
                                                    rule[key][subKey] = null;
                                                }
                                            });
                                        } else {
                                            console.info("Rule doesn't have intermediateData or sourceData");
                                        }
                                    } else {
                                        rule.delete = true;
                                    }
                                }
                            });
                        } else {
                            console.info("rule object is undefined");
                        }
                    });
                    var rules = [];
                    for (var i = 0; i < self.scConfig.length; i++) {
                        if (!self.scConfig[i].delete) {
                            rules.push(self.scConfig[i]);
                        }
                    }
                    self.set("scConfig", rules);
                },
                loadProductRuleDetails: function () {
                    var self = this;
                    var url = "/" + self.currentEntityName + "/" + self.applicationNumber;
                    var productRuleService = window.config.services.productRule;
                    self.$.http.get(url, productRuleService).then(function (data) {
                        var i = 0;
                        data.forEach(function (e) {
                            data[e.name] = e;
                            i++;
                        });
                        for (var i = 0; i < data.length; i++) {
                            delete data[i];
                        }
                        self.set('scoreCard', data);
                        self.loadProductRuleConfig();
                    }).fail(function (e) {
                        console.error("loadProductRuleDetails error is ", e);
                    });
                },
                loadLookups: function () {
                    var self = this;
                    self.lookupRequires.forEach(function (lookupObject) {
                        var data = self.$.lookup.getLookupBasedOnName(lookupObject.name);
                        self.set(lookupObject.pageVariable, data);
                    });
                    self.loadProductRuleDetails();
                },
                _setOfferDetails: function (offer) {
                    if (offer) {
                        var amount = offer.finalOfferAmount !== undefined ? this.amount(offer.finalOfferAmount) : 0;
                        var tenure = offer.loantenure !== undefined ? offer.loantenure : 0;
                        var emi = offer.emi !== undefined ? this.amount(offer.emi) : 0;
                        this.set("offerDetails", amount + "/" + tenure + "/" + emi);
                        return;
                    }
                    this.set("offerDetails", "Not available");
                    return;
                },
                _businessName: function (obj) {
                    var app = obj.application;
                    if (app) {
                        return app.legalBusinessName;
                    }
                },
                ready: function () {
                    var self = this;
                    var appDetailsTopTabList = self.$.config.getConfigurationBasedOnKey("AppDetailsTopTabList");
                    self.set('appDetailsTopTabList', appDetailsTopTabList);
                    var appDetailsBottomTabList = self.$.config.getConfigurationBasedOnKey("AppDetailsBottomTabList");
                    self.set('appDetailsBottomTabList', appDetailsBottomTabList);
                    var params = self.$.url.getParams();
                    if (params.hasOwnProperty('entity')) {
                        self.set('currentEntityName', params.entity);
                    }
                    self.set('applicationNumber', params.app);
                    self.init();
                },
                initJqueryTabEvents: function () {
                    var self = this;
                    $(document).ready(function () {
                        $('.appTabs a').off('click').on('click', function tabClickHandler(e) {
                            e.stopPropagation();
                            e.preventDefault();
                            var modelData = $(this).data('model');
                            self.$$(modelData.elementId).init();
                            $(this).tab('show');
                        });
                        self.setDefaultTabs();
                    });
                },
                setDefaultTabs: function () {
                    var self = this;
                    var topTabs = _.cloneDeep(self.appDetailsTopTabList);
                    var bottomTabs = _.cloneDeep(self.appDetailsBottomTabList);
                    var defaultTopTab = _.find(topTabs, ["isDefault", true]);
                    var defaultbottomTab = _.find(bottomTabs, ["isDefault", true]);
                    setTimeout(function () {
                        if ($("#myTab li.active").length === 0) {
                            if (defaultTopTab !== undefined) {
                                $('.nav-tabs a[data-target="' + defaultTopTab.target + '"]').tab('show');
                                self.$$(defaultTopTab.elementId).init();
                            }
                        }
                        if ($("#bottomTabs li.active").length === 0) {
                            if (defaultbottomTab !== undefined) {
                                $('.nav-tabs a[data-target="' + defaultbottomTab.target + '"]').tab('show');
                                self.$$(defaultbottomTab.elementId).init();
                            }
                        }
                    }, 2000);
                },
                init: function () {
                    var self = this;
                    self.loadLookups();
                    self.loadAssignments();
                    setTimeout(function () {
                        self.initJqueryTabEvents();
                    }, 3500);
                },
                processFields: function (fields, data, path, currentSource) {
                    var self = this;
                    fields.forEach(function (field) {
                        var dataVal = null;
                        if (field.type && field.type === "derived") {
                            var dataList = self.extractDataNameFromExpr(field.data);
                            var dataExp = field.data;
                            for (var i = 0; i < dataList.length; i++) {
                                var dataPath = path + "." + dataList[i];
                                if (currentSource === undefined) {
                                    dataVal = self.getDataFromPath(data, dataPath);
                                } else if (currentSource === 'ruleSourceData') {
                                    dataVal = self.getDataFromPathWithSourceData(data, dataPath);
                                }
                                if (self.checkifOnlyDigit(dataVal)) {
                                    if (_.isNaN(parseInt(dataList[i]))) {
                                        if (_.isNaN(parseInt(dataVal))) {
                                            dataExp = dataExp.replace("this['" + dataList[i] + "']", dataVal);
                                        } else {
                                            dataExp = dataExp.replace("this['" + dataList[i] + "']", parseInt(dataVal));
                                        }
                                    }
                                } else {
                                    dataExp = dataExp.replace("this['" + dataList[i] + "']", "'" + dataVal + "'");
                                }
                            }
                            dataVal = eval(dataExp);
                        } else {
                            var dataPath = path + "." + field.data;
                            if (currentSource === undefined) {
                                dataVal = self.getDataFromPath(data, dataPath);
                            } else if (currentSource === 'ruleSourceData') {
                                dataVal = self.getDataFromPathWithSourceData(data, dataPath);
                            }
                        }
                        if (field.data && !_.isNull(dataVal) && dataVal !== '' && !_.isUndefined(dataVal)) {
                            if (field.format) {
                                if (self._checkIfArray(dataVal)) {
                                    field.value = self._processListField(field, dataVal);
                                } else if (self[field.format]) {
                                    if (field.format == "lookup") {
                                        field.value = self[field.format](dataVal, field.lookupname);
                                    } else {
                                        field.value = self[field.format](dataVal);
                                    }
                                }
                            } else {
                                field.value = dataVal;
                            }
                        } else {
                            field.value = "Not available";
                        }
                        if (field.hasOwnProperty('visibleTo')) {
                            field.isVisible = self.$.authorize.IsVisible(field.visibleTo);
                        }
                    });
                },
                checkifOnlyDigit: function (val) {
                    var regexpattern = /^\d+$/;
                    regexpattern.test(val);
                },
                extractDataNameFromExpr: function (exp) {
                    return scoring.extractDataNameFromExpr(exp);
                },
                getDataFromPathWithSourceData: function (data, dataPath) {
                    var keyArray = dataPath.split(".");
                    var dataVal = data;
                    keyArray.forEach(function (key) {
                        if (dataVal != undefined && key != "") {
                            dataVal = dataVal[key];
                            if (Array.isArray(dataVal)) {
                                dataVal = dataVal[0];
                            }
                        }
                    });
                    return dataVal;
                },
                getDataFromPath: function (data, dataPath) {
                    var keyArray = dataPath.split(".");
                    var dataVal = data;
                    keyArray.forEach(function (key) {
                        if (dataVal != undefined && key != "") {
                            dataVal = dataVal[key];
                        }
                    });
                    return dataVal;
                },
                processIntermediateData: function (rule, key, subKey, scData, self) {
                    //iterate over product rule's properites
                    var properties = Object.keys(rule[key][subKey]);
                    if (properties && properties.length > 0) {
                        properties.forEach(function (intDataKey) {
                            if (intDataKey === 'fields') {
                                var fieldsObj = rule[key][subKey][intDataKey];
                                if (scData[key][subKey]) {
                                    var path = key + "." + subKey;
                                    self.processFields(fieldsObj, scData, path, undefined);
                                }
                            } else if (intDataKey != 'displayName') {
                                var groups = rule[key][subKey][intDataKey];
                                if (scData[key][subKey][intDataKey] && scData[key][subKey][intDataKey].length > 0) {
                                    var intDataLength = scData[key][subKey][intDataKey].length;
                                    var intConfDataLength = rule[key][subKey][intDataKey].length;
                                    for (var i = intConfDataLength; i < intDataLength; i++) {
                                        var newArray = JSON.parse(JSON.stringify(rule[key][subKey][intDataKey][0]));
                                        rule[key][subKey][intDataKey].push(newArray);
                                    }
                                    var indx = 0;
                                    groups.forEach(function (group) {
                                        var path = key + "." + subKey + "." + intDataKey + "." + indx;
                                        self.processFields(group.fields, scData, path, undefined);
                                        indx++;
                                    });
                                } else {
                                    console.info("PRODUCTRULE:rule intermediateData group is empty");
                                }
                            }
                        });
                    } else {
                        console.info("intermediateData doesn't have any group or fields");
                    }
                },
                processSourceData: function (rule, key, subKey, scData, self) {
                    var sources = Object.keys(rule[key][subKey]);
                    sources.forEach(function (source) {
                        var sourceObj = rule[key][subKey][source];
                        if (sourceObj.fields) {
                            var path = key + "." + subKey + "." + source;
                            self.processFields(sourceObj.fields, scData, path, 'ruleSourceData');
                        } else {
                            if (Object.keys(sourceObj).length > 0) {
                                var nestedSource = Object.keys(sourceObj)[0];
                                var nestedSourceObj = rule[key][subKey][source][nestedSource];
                                if (nestedSourceObj.fields) {
                                    nestedSourceObj.fields.forEach(function (field) {
                                        if (field.data && scData[key][subKey][source][nestedSource]) {
                                            if (typeof scData[key][subKey][source][nestedSource][field.data] === 'object') {
                                                var obj = scData[key][subKey][source][nestedSource][field.data][0]; // its a object Array
                                                if (field.format) {
                                                    field.value = self[field.format](obj[field.actualData]);
                                                } else {
                                                    field.value = obj[field.actualData];
                                                }
                                            } else {
                                                field.value = scData[key][subKey][source][nestedSource][field.data];
                                            }
                                            if (field.hasOwnProperty('visibleTo')) {
                                                field.isVisible = self.$.authorize.IsVisible(field.visibleTo);
                                            }
                                        }
                                    });
                                } else {
                                    console.info("rule nested source doesn't have fields configured");
                                }
                            }
                        }
                    });
                },
                getReports: function (responsedata) {
                    var self = this;
                    var initConfig = self.cfConfig['base'];
                    var config = self.cfConfig[initConfig.baseObject];
                    var baseReport = [];
                    if (responsedata && responsedata != null) {
                        if (initConfig.baseObjectType == 'Array') {
                            responsedata.forEach(function (rptData) {
                                var result = self.processreport(config, rptData, self.cfConfig);
                                baseReport.push(result);
                            });
                        } else {
                            var result = self.processreport(config, responsedata, self.cfConfig);
                            baseReport.push(result);
                        }
                    }
                    return baseReport;
                },
                processreport: function (report, reportdata, reportconfiguration) {
                    var self = this;
                    var reportOutput = {};
                    reportOutput.name = self.getReportDisplayName(report.displayName, reportdata);
                    reportOutput.source = reportdata && reportdata.Source ? reportdata.Source : '';
                    reportOutput.headerId = 'header' + reportOutput.name;
                    reportOutput.id = self._autoIdGenerator("reptId");
                    reportOutput.headerId = self._autoIdGenerator("reptHeaderId");
                    reportOutput.displayFormat = report.displayFormat;
                    if (report.prepareList != undefined) {
                        reportOutput.prepareList = report.prepareList;
                    } else {
                        reportOutput.prepareList = false;
                    }
                    if (report.renderOnScreen != undefined) {
                        reportOutput.renderOnScreen = report.renderOnScreen;
                    } else {
                        reportOutput.renderOnScreen = true;
                    }
                    if (report.displayFormat != undefined) {
                        reportOutput.displayFormat = report.displayFormat;
                    } else {
                        reportOutput.displayFormat = 'default';
                    }
                    if (report.innerreports == undefined && report.innerreports == null) {
                        var fieldsToprocess = report.fields;
                        reportOutput.fields = [];
                        self.processRptFields(fieldsToprocess, reportdata, reportOutput.fields);
                        reportOutput.hasSubReports = false;
                        reportOutput.subReports = null;
                        reportOutput.firstSubReports = null;
                        return reportOutput;
                    } else {
                        var allInnerReports = [];
                        report.innerreports.forEach(function (inerReport) {
                            var innerReportConfig = reportconfiguration[inerReport.name];
                            var innerReportData = self.getDataFromPath(reportdata, innerReportConfig.data);
                            if (inerReport.type == 'Object') {
                                var inrRprt = self.processreport(innerReportConfig, innerReportData, reportconfiguration);
                                allInnerReports.push(inrRprt);
                            }
                            if (inerReport.type == 'Array') {
                                innerReportData.forEach(function (data) {
                                    var inrRprt = self.processreport(innerReportConfig, data, reportconfiguration);
                                    allInnerReports.push(inrRprt);
                                });
                            }
                        });
                        reportOutput.subReports = allInnerReports;
                        reportOutput.hasSubReports = true;
                        reportOutput.firstSubReports = allInnerReports[0];
                        return reportOutput;
                    }
                },
                _randomNumber: function () {
                    return Math.floor((1 + Math.random()) * 0x10000).toString(16).substring(1);
                },
                _autoIdGenerator: function (name) {
                    return name + this._randomNumber();
                },
                processRptFields: function (fields, data, result) {
                    var self = this;
                    fields.forEach(function (field) {
                        if (field.data) {
                            var fieldToadd = {};
                            fieldToadd.label = field.label;
                            fieldToadd.data = field.data;
                            if (field.hasOwnProperty('type')) {
                                fieldToadd.type = field.type;
                            }
                            if (field.hasOwnProperty('validations')) {
                                fieldToadd.validations = field.validations;
                            }
                            if (field.hasOwnProperty('placeholder')) {
                                fieldToadd.placeholder = field.placeholder;
                            }
                            if (field.hasOwnProperty('dateCulture')) {
                                fieldToadd.dateCulture = field.dateCulture;
                            }
                            if (field.hasOwnProperty('class')) {
                                fieldToadd.class = field.class;
                            }
                            if (field.hasOwnProperty('condFormat')) {
                                fieldToadd.condFormat = field.condFormat;
                            }
                            if (field.hasOwnProperty('visibleTo')) {
                                field.isVisible = self.$.authorize.IsVisible(field.visibleTo);
                            }
                            if (field.hasOwnProperty("minFactor")) {
                                fieldToadd.minFactor = field.minFactor;
                            }
                            if (field.hasOwnProperty("maxFactor")) {
                                fieldToadd.maxFactor = field.maxFactor;
                            }
                            var dataVal = null;
                            if (field.type && field.type === 'derived') {
                                field.data = field.data.replace(/this/g, 'data');
                                dataVal = eval(field.data);
                            } else if (field.data && !_.isNull(data[field.data]) && data[field.data] !== '' && !_.isUndefined(data[field.data])) {
                                dataVal = data[field.data];
                            } else {
                                dataVal = "Not available";
                            }
                            fieldToadd.actualValue = dataVal;
                            if (field.format && dataVal != "Not available") {
                                fieldToadd.format = field.format;
                                if (self[field.format]) {
                                    fieldToadd.value = self[field.format](dataVal);
                                } else {
                                    fieldToadd.value = dataVal;
                                }
                            } else {
                                fieldToadd.value = dataVal;
                            }
                            result.push(fieldToadd);
                        } else {
                            console.log("In configuration field is empty");
                        }
                    });
                    return true;
                },
                getReportDisplayName: function (displayNameConfig, reportData) {
                    if (displayNameConfig && displayNameConfig != null) {
                        var computedDisplayName = '';
                        if (displayNameConfig.isComputable) {
                            displayNameConfig.fields.forEach(function (fieldToGet) {
                                if (reportData && reportData != null && reportData[fieldToGet] != undefined) {
                                    computedDisplayName += computedDisplayName != '' ? displayNameConfig.separator : computedDisplayName;
                                    computedDisplayName += reportData[fieldToGet];
                                }
                            });
                        }
                    }
                    if (computedDisplayName == '') {
                        return displayNameConfig.defaultdisplay;
                    } else {
                        return computedDisplayName;
                    }
                },
                _processListField: function (field, array) {
                    var self = this;
                    var temp = "";
                    if (array && array.length <= 0) {
                        return "Not available";
                    }
                    for (var i = 0; i < array.length; i++) {
                        temp = temp + self[field.format](array[i]);
                        if (i === array.length - 1) {
                            return temp;
                        }
                        temp = temp + ",";
                    }
                    return temp;
                },
                Helptext: function (e) {
                    var self = this;
                    var args = e.target.dataArgs;
                    var tooltipObj = self.$.authorize.getToolTip(args, "Status");
                    $("h4.modal-title").text(tooltipObj.title);
                    if (args === "Declined") {
                        var html = '<ul>'
                        self.declineReasons.forEach(function (element) {
                            html += "<li>" + element + "</li>";
                        }, this);
                        html += "</ul>"
                        $('#modalDesc').html(html);
                    } else {
                        $('#modalDesc').html(tooltipObj.data);
                    }
                    $('#helpTextModal')[0].showModal();
                },
                getTooltip: function (compName) {
                    var tooltip = this.$.authorize.getToolTip(compName, "");
                    return tooltip.data;
                },
                getEvents: function (actionEvents, action) {
                    var self = this;
                    if (self.actionEvents) {
                        var event = this.actionEvents[action];
                        return event;
                    }
                },
                loadAssignments: function () {
                    var self = this;
                    var assignmentEndPoint = window.config.services.assignment;
                    var url = "/" + self.currentEntityName + "/" + self.applicationNumber + "/assignments";
                    self.$.http.get(url, assignmentEndPoint).then(function (data) {
                        var assigmentList = self._setAssigneeImageContent(data);
                        setTimeout(function () {
                            self.set('assignments', assigmentList);
                            self.$.session.set("assignments", JSON.stringify(assigmentList));
                            self._onDataAttributesLoad();
                        }, 1000);
                    }).fail(function (e) {
                        self._onDataAttributesLoad();
                        console.error("load assignment error ", e);
                    });
                },
                _setAssigneeImageContent: function (assignments) {
                    var self = this;
                    var assetService = window.config.services.assetService;
                    assignments.forEach(function (assignment) {
                        var url = "/user/" + assignment.assignee + "/profile.png";
                        self.$.http.get(url, assetService).then(function (result) {
                            if (result.hasOwnProperty('url') && !_.isUndefined(result.url) && !_.isNull(result.url)) {
                                _.extend(assignment, {
                                    url: result.url,
                                    fullName: assignment.assignee
                                });
                            } else {
                                _.extend(assignment, {
                                    url: null,
                                    fullName: assignment.assignee
                                });
                            }
                        }).fail(function (e) {
                            _.extend(assignment, {
                                url: null,
                                fullName: assignment.assignee
                            });
                            return '';
                        });
                    });
                    return assignments;
                },
                _getDisplayName: function (val) {
                    return _.startCase(_.lowerCase(val));
                },
                _hasSubWorkFlow: function () {
                    if (!_.isNull(this.statusObj) && !_.isNull(this.statusObj.subWorkFlows)) {
                        return true;
                    }
                    return false;
                },
                _hasSubWorkFlowInitited: function (objstatus) {
                    var self = this;
                    if (self.statusObj != undefined && !_.isNull(self.statusObj) && !_.isNull(self.statusObj.subStatusDetail)) {
                        var initiatedSubflow = _.find(self.statusObj.subStatusDetail, ['completedDate', null]);
                        if (!_.isUndefined(initiatedSubflow))
                            return true;
                    }
                    return false;
                },
                _disableSubworkflowIfInitiated: function (subflowObj) {
                    var self = this;
                    var statusObj = self.statusObj;
                    if (!_.isNull(statusObj.subStatusDetail)) {
                        var currentSubStatus = _.find(statusObj.subStatusDetail, ['completedDate', null]);
                        if (!_.isUndefined(currentSubStatus) && subflowObj.defaultInitiateCode === currentSubStatus.subStatusCode) {
                            return true;
                        }
                    }
                    return false;
                },
                _initiatSubWorkflow: function (e) {
                    e.preventDefault();
                    var self = this;
                    var subflowObj = e.model.__data__.subflow;
                    var statusObj = self.statusObj;
                    var payload = {
                        Note: "Move Application to respected stage"
                    };
                    var url = "/status-management/" + self.currentEntityName + "/" + self.applicationNumber + "/subworkflow/" + subflowObj.name;
                    self.set('initiatedSubflow', subflowObj.name);
                    self.$.http.post(url, payload, "").then(function (result) {
                        self.$.message.showMessage(subflowObj.name + "sub workflow is initiated successfully.", "INFO", self.$$('#subFlowMessageContainer'));
                        self.$.utility.raiseEvent(self.getEvents(self.actionEvents, 'Edit'), {});
                    }).fail(function (e) {
                        var resObj = e.responseJSON;
                        self.$.message.showMessage("Subwork is already initiated.", "ERROR", self.$$('#subFlowMessageContainer'));
                    });
                },
                _moveFurtherSteps: function (e) {
                    e.preventDefault();
                    var self = this;
                    var subflow = self.initiatedSubflow;
                    var statusObj = self.statusObj;
                    var payload = {
                        Note: "Move Application to respected stage"
                    };
                    var url = "/status-management/" + self.currentEntityName + "/" + self.applicationNumber + "/" + statusObj.statusWorkFlowId + "/";
                    url = url + subflow.name + "/" + self.selectedSubFlow;
                    self.$.http.put(url, payload, "").then(function (result) {
                        $('#subworkFlowPopup').modal('hide');
                        self.$.utility.raiseEvent(self.getEvents(self.actionEvents, 'Edit'), {});
                    }).fail(function (e) {
                        console.error(e.responseJSON);
                        self.$.message.showMessage("You don't have permission to change status.", "ERROR", self.$$('#subFlowProcessContainer'));
                    });
                },
                loadInititedSubworkInfo: function () {
                    var self = this;
                    var statusObj = this.statusObj;
                    if (!_.isNull(statusObj.subStatusDetail)) {
                        var subStatusDetails = _.find(statusObj.subStatusDetail, ['completedDate', null]);
                        if (!_.isUndefined(subStatusDetails)) {
                            var initiatedSubflow = _.find(statusObj.subWorkFlows, ['name', subStatusDetails.subWorkFlowId]);
                            if (initiatedSubflow != undefined && initiatedSubflow.subWorkFlowStatus !== "Completed") {
                                var remainingStatusList = _.reject(initiatedSubflow.status, {
                                    code: initiatedSubflow.defaultInitiateCode
                                });
                                if (initiatedSubflow.defaultInitiateCode !== subStatusDetails.subStatusCode) {
                                    remainingStatusList = _.reject(remainingStatusList, {
                                        code: subStatusDetails.subStatusCode
                                    });
                                }
                                self.set('subStatusList', remainingStatusList);
                                self.set('initiatedSubflow', initiatedSubflow);
                            }
                        }
                    }
                },
                _checkIfTabVisible: function (obj, statusObj) {

                    var self = this;
                    var params = this.$.url.getParams();
                    var locTabDisplayStatus = self.$.config.getConfigurationBasedOnKey("locTabDisplayStatus");
                    var drawTabDisplayStatus = self.$.config.getConfigurationBasedOnKey("drawTabDisplayStatus");
                    var scoreCardKeys = self.$.config.getConfigurationBasedOnKey("scoreCardTabKeys");
                    var drawdownKeys = drawTabDisplayStatus;
                    if ((obj === "loc" || obj === "funding") && (params.product.toLowerCase().indexOf("loc") !== -1) && (locTabDisplayStatus.indexOf(statusObj.code) !== -1)) {
                        return true;
                    } else if (obj === "scoreCard" && scoreCardKeys.indexOf(params.filter) === -1) {
                        return true;
                    } else if (obj === "Funded" && params.filter === "funded") {
                        return true;
                    } else if (obj === "drawdown" && (params.product.toLowerCase().indexOf("loc") !== -1) && (drawTabDisplayStatus.indexOf(statusObj.code) !== -1)) {
                        return true;
                    } else if (obj === "offer" && params.filter !== "funded") {
                        return true;
                    } else if (obj === "All") {
                        return true;
                    }
                    return false;
                },
                _getTabName: function (tabName, roleName) {
                    return tabName;
                }
            });
        });
    </script>
</dom-module>