<link rel="import" href="../services/http.html">
<dom-module id="alloy-config">
    <template>
        <http-request id="httpalco"></http-request>
    </template>
    <script>
        (function () {
            var Configuration = function () {
                this.is = "alloy-config";
                this.properties = {
                    configReady: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    configFailed: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    alloyConfiguration: {
                        type: Object,
                        notify: true
                    },
                    alloyTenant: {
                        type: Object,
                        notify: true
                    }
                };
                this.ready = function () {
                    var self = this;
                    self.getAlloyConfig();
                };
                this.getAlloyConfig = function () {
                    var self = this;

                    var configSet = Configuration.prototype.configReady;
                    if (configSet) {
                        self.alloyConfiguration = Configuration.prototype.configuration;
                        self.services = Configuration.prototype.services;
                        self.configReady = true;
                        return;
                    }
                    self.getAlloyConfiguration(function (alloyData) {
                        window.config = self.config = alloyData;
                        self.getPortalConfiguration(function (data) {
                            var alloyConfiguration = {};
                            for (var config in data) {
                                Configuration.prototype.configuration[config] = alloyConfiguration[config] = data[config];
                            }
                            //for dynamic config loading basesd on portnal i.e back-office  or bankportal
                            window.configName = data.configName;
                            self.alloyConfiguration = alloyConfiguration;
                            Configuration.prototype.configReady = self.configReady = true;
                            if (data.securityAndAuthentication && data.securityAndAuthentication.portal) {
                                window.portal = data.securityAndAuthentication.portal;
                            } else {
                                console.log("securityAndAuthentication.portal is not configured!")
                            }
                            var services = data.services;
                            window.config = window.config || {};
                            window.config.services = services;
                            window.config.country = data.countryName || 'USA';
                            self.services = {};
                            for (var service in services) {
                                Configuration.prototype.services[service] = self.services[service] = services[service];
                            }
                            $(document).prop('title', data.portalTitle);
                        });
                    });
                };
                this.getConfigService = function (service, callback) {
                    return this.$.httpalco.get("/configuration/" + service, "", false, callback);
                };
                this.getAlloyConfiguration = function (callback) {
                    return this.$.httpalco.get("/alloy/", "", false, callback);
                };
                this.getPortalConfiguration = function (callback) {
                    return this.$.httpalco.get("/portal/", "", false, callback);
                };
                this.getTenantConfiguration = function (callback) {
                    return this.$.httpalco.get("/tenant/", "", false, callback);
                };
                this.getConfiguration = function () {
                    return Configuration.prototype.configuration;
                };
                this.getConfigurationBasedOnKey = function (key) {
                    return Configuration.prototype.configuration[key];
                };
                this.getAppConfiguration = function (microApp) {
                    return Configuration.prototype.configuration.apps[microApp].configuration;
                }
            }

            Configuration.prototype.configReady = false;
            Configuration.prototype.configuration = {};
            Configuration.prototype.services = {};

            var config = new Configuration();
            Polymer(config);
        })();
    </script>
</dom-module>