<dom-module id="http-request">
    <template>
        <url-parser id="urlht"></url-parser>
        <session-manager id="sessionht"></session-manager>
    </template>
    <script>
        Polymer({
            is: "http-request",
            properties: {
                sessionConfig: {
                    type: Object
                }
            },
            ready: function () {
                var self = this;
                window.jQuery ? self.init()() : window.addEventListener("WebComponentsReady", self.init());
            },
            init: function () {
                var self = this;
                return function () { }
            },
            parseUrl: function (url) {
                // Allows ability to pass in parameters defined in the URL of the current page
                // example: this.$.http("/endpoint/:param");
                var urlParams = this.$.urlht.getParams();
                var ajaxParams = this.$.urlht.getParams(url);

                if (!urlParams) { return url }
                for (var params in ajaxParams) {
                    url = url.replace(":" + params, urlParams[params]);
                }
                url = url.replace(/:/g, "");
                return url;
            },
            get: function (url, base, spinner, cb, ecb) {
                return this._request(url, undefined, base, "GET", true, spinner, cb, ecb);
            },
            getSync: function (url, base, spinner, cb, ecb) {
                return this._request(url, undefined, base, "GET", false, spinner, cb, ecb);
            },
            post: function (url, data, base, spinner, cb, ecb) {
                return this._request(url, data, base, "POST", true, spinner, cb, ecb);
            },
            postSync: function (url, data, base, spinner, cb, ecb) {
                return this._request(url, data, base, "POST", false, spinner, cb, ecb);
            },
            put: function (url, data, base, spinner, cb, ecb) {
                return this._request(url, data, base, "PUT", true, spinner, cb, ecb);
            },
            putSync: function (url, data, base, spinner, cb, ecb) {
                return this._request(url, data, base, "PUT", false, spinner, cb, ecb);
            },
            delete: function (url, data, base, spinner, cb, ecb) {
                return this._request(url, data, base, "DELETE", true, spinner, cb, ecb);
            },
            _request: function (url, data, base, type, async, spinner, cb, ecb) {
                var self = this;
                var showLoader = spinner || false;
                // Store url in "a" tag to access href API
                var a = $("<a>", { href: url })[0];
                a.pathname = self.parseUrl(a.pathname);
                var requestUrl = base + a.pathname + a.search;
                // Check if body is sent
                var sendBody = ["POST", "PUT", "DELETE"];
                var requestInfo = {
                    type: type,
                    url: requestUrl,
                    data: JSON.stringify(data),
                    async: async,
                    contentType: sendBody.indexOf(type) !== -1 ? "application/json" : "",
                    beforeSend: function (xhr) {
                        var token = self.$.sessionht.get("token");
                        if (token) {
                            xhr.setRequestHeader('Authorization', "Bearer " + token);
                        }
                        if (showLoader) {
                            self.showSpinner();
                        }
                        if (base !== "" && (token === undefined || token === null)) //just an example
                        {
                            xhr.abort();
                        }
                    },
                    complete: function (xhr, status) {
                        if (showLoader) {
                            self.hideSpinner();
                        }
                    }
                }
                if (!type)
                    console.warn(Error("Attempted request with no type.", requestInfo));

                if (self.sessionConfig) {
                    var requestStatus = {};
                    var isAuthorized = self.sessionConfig.isAuthorized();
                    var request = isAuthorized.then(function () {
                        return requestStatus.ajax = $.ajax(requestInfo);
                    });
                    requestStatus.q = request.done(function (data) {
                        if (typeof cb !== "function") { return }
                        cb(data);
                    }).fail(function (response) {
                        if (typeof ecb !== "function") { return }
                        ecb(response);
                    });
                    return requestStatus;
                } else {
                    return $.ajax(requestInfo).done(function (data) {
                        if (typeof cb !== "function") { return }
                        cb(data);
                    });
                }
            },
            showSpinner: function () {
                $("div.overlay").show();
                $("#paceContainer").show();
            },
            hideSpinner: function () {
                $("div.overlay").hide();
                $("#paceContainer").hide();
            }
        })
    </script>
</dom-module>