<dom-module id="identity-service">
    <template>
        <http-request id="httpids"></http-request>
        <auth-service id="authorizeids"></auth-service>
        <session-manager id="sessionids"></session-manager>
        <lookup-service id="lookupService"></lookup-service>
        <alloy-config id="configids" alloy-configuration="{{configuration}}"></alloy-config>
    </template>
    <script>
        (function () {
            Polymer({
                is: "identity-service",
                login: function (username, password, portal) {
                    var self = this;
                    var data = {
                        username: username,
                        password: password,
                        portal: portal
                    }
                    return self.$.httpids.post("/login/", data, "", false).done(function (result) {
                        self.$.sessionids.set("username", username);
                        self.$.sessionids.set("token", result.token);
                        //loads roles and premission from db
                        self.$.authorizeids.loadUserRoleAndPermission();
                        //load roles and permission configuration from the portal config
                        self.$.authorizeids.loadRoleAndPermissionConfig();
                        self.$.authorizeids.loadTooltipConfig();
                        //load status management configuration from config service
                        self.$.authorizeids.loadStatusManagementConfig("configuration/status-management/entityTypes");
                        self.$.authorizeids.loadHolidayCalendar();
                        self.$.lookupService.getLookupData();
                        window.location.hash = self.configuration.private.url;
                    });
                },
                updateIgnoreLoaderUrls: function () {
                    var data = this.$.configids.getConfigurationBasedOnKey("ignoreLoaderUrls");
                    if (!data) {
                        return;
                    }
                    window.Pace.options.ajax.ignoreURLs = data;
                },
                logout: function () {
                    var self = this;
                    return self.$.httpids.get("/logout", "").done(function () {
                        self.$.sessionids.clearLocalStorage();
                        window.location.hash = self.configuration.public.url;
                    });
                },
                validateUsername: function (username) {
                    var self = this;
                    var url = "check/";
                    var payload = { username: username };

                    return new Promise(function (resolve, reject) {
                        self.$.httpids.post(url, payload, "", function success(response) {
                            resolve(response.available);
                        },
                            function failure(error) {
                                reject(error)
                            });
                    });
                },
                requestToken: function (username) {
                    var self = this;
                    var payload = {
                        username: username,
                        portal: window.portal
                    }
                    return self.$.httpids.post("/request-token/", payload, "");
                },
                resetPassword: function (username, password, token) {
                    var self = this;
                    var data = {
                        username: username,
                        password: password
                    }
                    return self.$.httpids.post("/reset-password/" + token, data, "");
                }
            });
        })();
    </script>
</dom-module>