<link rel="import" href="config.html">
<dom-module id="alloy-tenant">
    <template>
        <alloy-config id="config" config-ready="{{configReady}}"></alloy-config>
    </template>
    <script>
        (function () {
            var Tenant = function () {
                this.is = "alloy-tenant";
                this.observers = ["getTenantInformation(configReady)"];
                this.properties = {
                    alloyTenant: {
                        type: Object,
                        notify: true
                    },
                    tenantSet: {
                        type: Boolean,
                        notify: true
                    }
                };
                this.getTenantInformation = function (configReady) {
                    var self = this;
                    if (!configReady) { return }

                    var tenantSet = Tenant.prototype.tenantRetrieved;
                    if (tenantSet) {
                        window.tenant = self.alloyTenant = Tenant.prototype.tenant;
                        self.tenantSet = tenantSet;
                        return;
                    }

                    self.$.config.getTenantConfiguration(function (tenantInformation) {
                        window.tenant = Tenant.prototype.tenant = self.alloyTenant = tenantInformation;
                        Tenant.prototype.tenantRetrieved = true;
                    });
                }
            }
            Tenant.prototype.tenantRetrieved = false;

            var tenant = new Tenant();
            Polymer(tenant);
        })();
    </script>
</dom-module>