<dom-module id="workflow-service">
    <template>
        <http-request id="http"></http-request>
        <session-manager id="session"></session-manager>
    </template>
    <script>
        (function () {
            'use strict';
            Polymer({
                is: 'workflow-service',
                properties: {
                    workflowId: {
                        type: String,
                        nofity: true,
                        observer: '_updateWorkFlowId'
                    }
                },
                _updateWorkFlowId: function (newValue) {
                    this.$.session.set('workflowId', newValue);
                },
                loadSettingsForWorkflow: function (setting) {
                    var self = this;
                    return self.$.http.get('/' + self.workflowId + "-" + setting + '/store', window.config.services.workflow);
                },
                saveSettingsForWorkflow: function (setting, payload) {
                    var self = this;
                    return self.$.http.post('/' + self.workflowId + "-" + setting + '/store', payload, window.config.services.workflow);
                },
                loadSettings: function (setting) {
                    var self = this;
                    return self.$.http.get('/' + setting + '/store', window.config.services.workflow);
                },
                saveSettings: function (setting, payload) {
                    var self = this;
                    return self.$.http.post('/' + setting + '/store', payload, window.config.services.workflow);
                },
                associateWith: function (username) {
                    var self = this;
                    self.loadSettings(username).then(function (setting) {
                        if (setting.associateWorkflow && setting.associateWorkflow !== self.workflowId) {
                            self.set('workflowId', setting.associateWorkflow);
                        }
                    }).fail(function (err) {
                        self.saveSettings(username, { associateWorkflow: self.workflowId });
                    });
                },
                ready: function () {
                    var self = this;
                    if (!(this.workflowId = this.$.session.get('workflowId'))) {
                        this.set('workflowId', (new Date()).getTime());
                    } else {
                        var token = this.$.session.get('token');
                        if (token) {
                            self.associateWith(JSON.parse(atob(token.split('.')[1])).sub);
                        }
                    }
                },
                execute: function (stage, fact, action, payload) {
                    var self = this;
                    return self.$.http.post('/' + this.workflowId + '/' + stage + '/' + fact + '/' + action, payload, window.config.services.workflow).then(function (value) {
                        return value;
                    });
                },
                getId: function () {
                    var self = this;
                    return this.workflowId;
                },
                status: function (stage, fact) {
                    var self = this;
                    return self.$.http.get('/' + this.workflowId + '/' + stage + (fact ? '/' + fact : ''), window.config.services.workflow);
                }
            });
        })();
    </script>
</dom-module>