<dom-module id="assignment-modal">
    <template>
        <style>
            .modal-dialog {
                width: 400px;
                margin: 30px auto;
            }

            .modal-body {
                padding: 20px 10px 30px 10px;
            }

            .hide-other-method {
                display: none;
            }

            .errorMessage {
                color: #ff0000;
            }
        </style>
        <custom-modal id="[[generateId(assignObj)]]" class="modal-drop" on-modal-hidden="resetModal">
            <div>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">{{_Title(assignObj)}}</h4>
                        </div>
                        <div class="modal-body">
                            <div id="ErrorMessge" style="display: none;">
                                <p></p>
                            </div>
                            <template is="dom-if" if="{{!CanRelease}}">
                                <form is="iron-form" class="form-horizontal" name="UnAssign">
                                    <dynamic-form form-configuration="{{roleUserObj}}" values="{{roleUserObj.values}}"></dynamic-form>
                                    <br/>
                                    <paper-button class="btn btn-primary activity-action-btn" on-click="_UnassignForm" raised>UnAssign</paper-button>
                                </form>
                            </template>
                            <template is="dom-if" if="{{CanRelease}}">
                                <form is="iron-form" class="form-horizontal" name="Release">
                                    <dynamic-form form-configuration="{{roleObj}}" values="{{roleObj.values}}"></dynamic-form>
                                    <br/>
                                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Release</paper-button>
                                </form>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "assignment-modal",
                properties: {
                    CanRelease: {
                        type: Boolean,
                        notify: true
                    },
                    fireEvent: {
                        type: String,
                        notify: true
                    },
                    assignObj: {
                        type: Object,
                        notify: true
                    },
                    roleObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                Role: {
                                    label: "Role",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: true,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                }
                            },
                            values: {
                                Role: ""
                            }
                        }
                    },
                    roleUserObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                Role: {
                                    label: "Role",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: true,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                User: {
                                    label: "User",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: true,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                }
                            },
                            values: {
                                Role: "",
                                User: ""
                            }
                        }
                    }
                },
                generateId: function (assignObj) {
                    return assignObj.entityType + assignObj.entityId + assignObj.id;
                },
                _verifyForm: function (event) {
                    var self = this;
                    var $element = $(event.target);
                    var form = Polymer.dom(event).localTarget.parentElement;
                    if (form.validate()) {
                        var assignmentEndPoint = window.config.services.assignment;
                        var url = "/application/" + self.applicationNumber + "/release";
                        url = url + "/" + self.roleObj.values.Role
                        self.$.http.post(url, null, assignmentEndPoint).then(function (result) {
                            var message = "Application " + self.applicationNumber + " release  successfully";
                            $('.close').trigger('click');
                            self.raiseAppRefreshEvent(event, message);
                        }).fail(function (e) {
                            console.error("Fail to relase app error is ", e);
                        });
                    }
                },
                _UnassignForm: function (event) {
                    var self = this;
                    var $element = $(event.target);
                    var form = Polymer.dom(event).localTarget.parentElement;
                    if (form.validate()) {
                        var assignmentEndPoint = window.config.services.assignment;
                        var url = "/application/" + self.applicationNumber;
                        url = url + "/" + self.roleUserObj.values.Role
                        self.$.http.delete(url, null, assignmentEndPoint).then(function (result) {
                            var message = "Application " + self.applicationNumber + " unassign  successfully";
                            $('.close').trigger('click');
                            self.raiseAppRefreshEvent(event, message);
                        }).fail(function (e) {
                            console.error("Fail to unassign app error is ", e);
                        });
                    }
                },
                show: function (objData) {
                    this.assignObj = objData;
                    this.CanRelease = this._ReleaseORReassign(objData);
                    this.roleObj.values.Role = this.assignObj.role;
                    this.roleUserObj.values.Role = this.assignObj.role;
                    this.roleUserObj.values.User = this.assignObj.assignee;
                    this.$$('#' + this.generateId(this.assignObj)).showModal();
                },
                _Title: function (item) {
                    if (item.canRelease) {
                        return "Release";
                    }
                    return "UnAssign";
                },
                _ReleaseORReassign: function (item) {
                    if (item.canRelease) {
                        return true;
                    }
                    return false;
                },
                resetModal: function () {
                },
                init: function () {
                },
                raiseAppRefreshEvent: function (event, message) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        Message: message,
                        EventData: event,
                        CompnentName: 'assignment-modal'
                    });
                }
            });
        });
    </script>
</dom-module>