<html-import html-href="app-details-tab/duplicacy-details.html"></html-import>
<dom-module id="app-business-info">
    <template>
        <style>
            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }

            address {
                margin-bottom: 20px;
                font-style: normal;
                line-height: 1.42857143;
            }

            strong {
                display: block;
            }

            .a-map-marker {
                font-size: 14px;
            }
        </style>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <tr>
                        <th colspan="6" class="header">{{_displayDefaultIfNull(application.legalBusinessName, application)}}</th>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td colspan="5">{{_displayDefaultIfNull(application.applicantWorkEmail,application)}}</td>
                    </tr>
                    <tr>
                        <th>DBA</th>
                        <td colspan="5">{{_displayDefaultIfNull(application.dBA,application)}}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td colspan="5">
                            {{_getFullBusinessAddess(application.businessAddress,application)}}
                            <a class="a-map-marker" href="{{_generateGoogleMapLink(application.businessAddress,application)}}" target="_blank">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>{{phone(application.businessPhone,application)}}</td>
                        <th>Requested Amt.</th>
                        <td>{{ formatMoney(application.requestedAmount,application)}}</td>
                        <th>Business Tax Id</th>
                        <template is="dom-if" if="{{hasRole('BusinessTaxIDField')}}">
                            <td>{{_checkIfValue(application.businessTaxID,application)}}</td>
                        </template>
                        <template is="dom-if" if="{{!hasRole('BusinessTaxIDField')}}">
                            <td>
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </td>
                        </template>
                    </tr>
                    <tr>
                        <th>Annual Revenue</th>
                        <td>{{ formatMoney(application.annualRevenue,application)}}</td>
                        <th>Established Date</th>
                        <td>{{ date(application.businessStartDate.Time,application)}}</td>
                        <th>Rent/Own</th>
                        <td>{{_formatePropertyType(application.propertyType,application)}}</td>
                    </tr>
                    <tr>
                        <th>Average Bank Balance</th>
                        <td>{{ formatMoney(application.averageBankBalance,application)}} </td>
                        <th>Existing Loan</th>
                        <td>{{_getYesNo(application.haveExistingLoan,application)}}</td>
                        <th>Industry</th>
                        <td>{{_formateIndustryType(dataAttributes.application.industry,application)}}</td>
                    </tr>
                    <tr>
                        <th>Purpose Of Fund</th>
                        <td>{{_formatePurposeOfLoanType(dataAttributes.application.purposeOfLoan,application)}}</td>
                        <th>Entity Type</th>
                        <td>{{_formateBusinessType(dataAttributes.application.businessType,application)}}</td>
                        <th>SIC Code</th>
                        <td>{{ _displayDefaultIfNull(application.sICCode,application)}}</td>
                    </tr>
                    <tr>
                        <th>Time In Business</th>
                        <td>{{years(application.businessStartDate.Time,application)}} Years</td>
                        <th>Lead Source</th>
                        <td>{{_formateSourceType(application.sourceId,application)}}</td>
                        <th></th>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row divideborder">
        </div>
        <duplicacy-details data-attributes="{{dataAttributes}}" owners="{{owners}}"></duplicacy-details>
        <div class="row divideborder">
        </div>
        <auth-service id="authorizeappbi"></auth-service>
        <alloy-config id="config"></alloy-config>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "app-business-info",
                properties: {
                    application: {
                        type: Object,
                        notify: true,
                        value: {},
                        reflectToAttribute: true
                    },
                    duplicacyData: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true,
                        observer: '_loadDataAttributes'
                    },
                    owners: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    },
                },
                date: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.onlyDate(date, window.config.country);
                    }
                    return "NA";
                },
                years: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.round(moment().diff(date, 'years', true), 1);
                    }
                    return "NA";
                },
                _checkIfValue: function (value) {
                    if (!_.isNull(value) && !_.isUndefined(value) && !_.isEmpty(value)) {
                        var self = this;
                        var formattaxid = self.$.config.getConfigurationBasedOnKey('formatTaxId');
                        if (!_.isNull(formattaxid) && !_.isUndefined(formattaxid) && formattaxid) {
                            return formats.taxid(value);
                        }
                        return value;
                    }
                    return "NA";
                },
                phone: function (phone) {
                    return formats.phone(phone, window.config.country);
                },
                formatMoney: function (value) {
                    return formats.money(value, window.config.country, 0);
                },
                _getYesNo: function (value) {
                    return value ? "Yes" : "No";
                },
                _formateIndustryType: function (propType) {
                    var self = this;
                    if (propType && self.industryLookup && self.industryLookup.length > 0) {
                        var obj = _.find(self.industryLookup, ['key', propType]);
                        return obj.value || "NA";
                    }
                    return "NA";
                },
                _formatePropertyType: function (propType) {
                    var self = this;
                    if (propType && self.propertyLookup && self.propertyLookup.length > 0) {
                        var obj = _.find(self.propertyLookup, ['key', propType]);
                        return obj.value || "NA";
                    }
                    return "NA";
                },
                _formatePurposeOfLoanType: function (propType) {
                    var self = this;
                    if (propType && self.purposeofloanLookup && self.purposeofloanLookup.length > 0) {
                        var obj = _.find(self.purposeofloanLookup, ['key', propType]);
                        return obj.value || "NA";
                    }
                    return "NA";
                },
                _formateSourceType: function (propType) {
                    var self = this;
                    if (propType && self.sourceLookup && self.sourceLookup.length > 0) {
                        var obj = _.find(self.sourceLookup, ['key', propType]);
                        return obj.value || "NA";
                    }
                    return "NA";
                },
                _formateBusinessType: function (propType) {
                    var self = this;
                    if (propType && self.businesstypeLookup && self.businesstypeLookup.length > 0) {
                        var obj = _.find(self.businesstypeLookup, ['key', propType]);
                        return obj.value || "NA";
                    }
                    return "NA";
                },
                _getFullBusinessAddess: function (businessAddress) {
                    var address = '';
                    if (businessAddress && businessAddress != null) {
                        address = this._checkNullUndefined(businessAddress.AddressLine1) + ' ' + this._checkNullUndefined(businessAddress.AddressLine2) + ' ' +
                            this._checkNullUndefined(businessAddress.City) + ' '
                            + this._checkNullUndefined(businessAddress.State) + ' '
                            + this._checkNullUndefined(businessAddress.PinCode);
                    }
                    else {
                        address = "NA";
                    }
                    return address;
                },
                _checkIfEmptyObject: function (obj) {
                    return Object.keys(obj).length === 0 && obj.constructor === Object;
                },
                _checkNullUndefined: function (obj) {
                    if (obj && obj != null) {
                        return obj;
                    }
                    return '';
                },
                _displayDefaultIfNull: function (obj) {
                    return obj !== null ? obj : "NA";
                },
                init: function () {
                    this._loadDataAttributes();
                    this._getDuplicacyData();
                },
                _loadDataAttributes: function () {
                    var self = this;
                    var data = self.dataAttributes;
                    if (data && !self._checkIfEmptyObject(data)) {
                        self.set('application', data.application);
                        self.set('owners', data.application.owners);
                    }
                },
                _generateGoogleMapLink: function (address) {
                    var fullAddr = this._getFullBusinessAddess(address);
                    const baseUrl = "https://maps.google.com/maps?q=";
                    var encodedAddr = encodeURIComponent(fullAddr);
                    return baseUrl + encodedAddr;
                },
                _getDuplicacyData: function () {
                    var self = this;
                    var mappedData = [];
                    if (self.dataAttributes && self.dataAttributes.duplicacyResult) {
                        duplicacyData = self.dataAttributes.duplicacyResult;
                        mappedData = _.transform(duplicacyData, function (result, value, key) {
                            result.push({ key: key, value: _.join(value, ', ') });
                        }, []);
                    }
                    self.set("duplicacyData", mappedData);
                },
                hasRole: function (compName) {
                    return this.$.authorizeappbi.hasRole(compName);
                }
            });
        });
    </script>
</dom-module>