<dom-module id="app-funding-request">
    <template>
        <style>
            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }
        </style>
        <div class="row">
            <div class="col-sm-12">
                <table id="tblfundingRequest" class="table table-striped" style="width: 100% !important;">
                    <thead>
                        <tr>

                            <th>Name</th>
                            <th>Req. Date</th>
                            <th>Amount Funded</th>
                            <th>Request Status</th>
                            <th>Bank Account Number</th>
                            <th>Bank RTN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template is="dom-repeat" items="{{fundingRequest}}" index-as="indx">
                            <tr>
                                <td>{{item.borrowersName}}</td>
                                <td>{{date(item.requestedDate.time)}}</td>
                                <td>{{formatMoney(item.amountFunded)}}</td>
                                <td>{{item.requestStatus}}</td>
                                <td>{{item.bankAccountNumber}}</td>
                                <td>{{item.bankRTN}}{{_templateRenderComplete(indx)}}</td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
        <url-parser id="urlappfr"></url-parser>
        <http-request id="httpappfr"></http-request>
        <auth-service id="authorizeappfr"></auth-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "app-funding-request",
                properties: {
                    drawdown: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    fundingRequest: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    },
                    applicationNumber: {
                        type: String,
                        notify: true
                    }
                },
                date: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.date(date, window.config.country, false);
                    }
                    return "NA";
                },
                _templateRenderComplete: function (indx) {
                    var self = this;
                    if (self.fundingRequest !== undefined && indx === self.fundingRequest.length - 1) {
                        setTimeout(function () {
                            $.fn.dataTable.ext.errMode = 'none';
                            $("table#tblfundingRequest").dataTable({
                                sDom: '<"top">rt<"bottom"ip><"clear">',
                                language: {
                                    "zeroRecords": "No data found."
                                },
                                "order": [
                                    [0, "desc"]
                                ],
                                "columnDefs": [
                                    {
                                        "width": "10%",
                                        "targets": 0
                                    },
                                    {
                                        "width": "10%",
                                        "targets": 1
                                    },
                                    {
                                        "width": "10%",
                                        "targets": 2
                                    },
                                    {
                                        "width": "15%",
                                        "targets": 3
                                    },
                                    {
                                        "width": "15%",
                                        "targets": 4
                                    },
                                    {
                                        "width": "10%",
                                        "targets": 5
                                    }
                                ]
                            });
                        }, 800);
                    }
                },
                formatMoney: function (value) {
                    return formats.money(value, window.config.country, 0);
                },
                GetNumber: function (obj) {
                    return obj.entityId;
                },
                init: function () {
                    var self = this;
                    var urlParams = this.$.urlappfr.getParams();
                    if (urlParams.hasOwnProperty('entity')) {
                        this.set('currentEntityName', urlParams.entity);
                    }
                    if (self.currentEntityName == "drawdown") {
                        self.applicationNumber = urlParams.drawdownId;
                    } else {
                        self.applicationNumber = urlParams.app;
                    }
                    self.LoadData();
                },
                LoadData: function () {
                    var self = this;
                    var fundingService = window.config.services.fundingService;
                    var url = "/" + self.currentEntityName + "/" + self.applicationNumber;
                    self.$.httpappfr.get(url, fundingService).then(function (data) {
                        if (data) {
                            self.fundingRequest = [data];
                        }
                    }).fail(function (e) {
                        console.error("Funding error is ", e);
                    });
                },
                hasRole: function (compName) {
                    return this.$.authorizeappfr.hasRole(compName);
                }
            });
        });
    </script>
</dom-module>