<html-import html-href="app-actions/reject-drawdown.html"></html-import>
<dom-module id="loc-details">
    <template>
        <style>
            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }
        </style>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <tr>
                        <td colspan="6" class="header">LOC Details</td>
                    </tr>
                    <tr>
                        <th class="col-sm-2">Start Date</th>
                        <td class="col-sm-2">{{ date(offerDetails.OpenDate.Time.DateTime) }}</td>
                        <th class="col-sm-2">Close Date</th>
                        <td class="col-sm-2">{{ date(offerDetails.TermClosureDate.Time.DateTime) }}</td>
                        <th class="col-sm-2">Limit</th>
                        <td class="col-sm-2">{{formatMoney(offerDetails.LoanAmount)}}</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="header">Current State</td>
                    </tr>
                    <tr>
                        <th class="col-sm-2">Drawn-down</th>
                        <td class="col-sm-2">{{ formatMoney(offerDetails.TotalDrawDownAmount) }}</td>
                        <th class="col-sm-2">Amount Remaining</th>
                        <td class="col-sm-2">{{ CalculateRaminingAmount(offerDetails.LoanAmount,offerDetails.TotalDrawDownAmount) }}</td>
                        <th class="col-sm-2">Term Remaining</th>
                        <td class="col-sm-2">{{getDateDifference(offerDetails.TermClosureDate.Time.DateTime)}}</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="header">Outstanding Information</td>
                    </tr>
                    <tr>
                        <th class="col-sm-2">As of Date</th>
                        <td class="col-sm-2">{{ date(updateOutStandingDetails.pbot.asOfDatePBOT) }}</td>
                        <th class="col-sm-2">Principal Paid</th>
                        <td class="col-sm-2">{{ formatMoney(updateOutStandingDetails.paymentInfo.paidPrincipalAmount) }}</td>
                        <th class="col-sm-2">Interest Paid</th>
                        <td class="col-sm-2">{{formatMoney(updateOutStandingDetails.paymentInfo.paidInterestAmount)}}</td>
                    </tr>
                    <tr>
                        <th class="col-sm-2">Principal Outstanding</th>
                        <td class="col-sm-2">{{ formatMoney(updateOutStandingDetails.pbot.totalPrincipalOutStanding) }}</td>
                        <th class="col-sm-2">Interest Outstanding</th>
                        <td class="col-sm-2">{{ formatMoney(updateOutStandingDetails.pbot.totalInterestOutstanding) }}</td>
                        <th class="col-sm-2">Fees Outstanding</th>
                        <td class="col-sm-2">{{formatMoney(updateOutStandingDetails.pbot.totalFeeOutstanding)}}</td>
                    </tr>
                    <tr>
                        <th class="col-sm-2">Additional Outstanding Interest</th>
                        <td class="col-sm-2">{{ formatMoney(updateOutStandingDetails.pbot.additionalOutStandingInterest) }}</td>
                        <th class="col-sm-2"></th>
                        <td class="col-sm-2"></td>
                        <th class="col-sm-2"></th>
                        <td class="col-sm-2"></td>
                    </tr>
                    <tr>
                        <td colspan="6" class="header">Eligibility</td>
                    </tr>
                    <tr>
                        <th class="col-sm-2">Amount eligible</th>
                        <td class="col-sm-2">{{ CalculateRaminingAmount(offerDetails.LoanAmount,offerDetails.TotalDrawDownAmount) }}</td>
                        <th class="col-sm-2">
                            <paper-button class="btn btn-primary activity-action-btn" on-click="_RequestDrawdown" raised>Request Drawdown</paper-button>
                        </th>
                        <td class="col-sm-2"></td>
                        <th class="col-sm-2"></th>
                        <td class="col-sm-2"></td>
                    </tr>
                </table>
            </div>
        </div>
        <custom-modal id="RequestDrawdown" class="modal-drop" on-modal-hidden="resetModal">
            <div>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Request Drawdown</h4>
                        </div>
                        <div class="modal-body">
                            <div id="ErrorMessge" style="display: none;">
                                <p></p>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <request-drawdown id="requestDrawdownaction" form-id="rdFromLocTab" application-number="{{applicationNumber}}" show-content="true"></request-drawdown>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <auth-service id="authorize"></auth-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "loc-details",
                properties: {
                    drawdown: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    displayButton: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    otherAttributes: {
                        type: Object,
                        notify: true
                    },
                    updateOutStandingDetails: {
                        type: Object,
                        notify: true
                    },
                    offerDetails: {
                        type: Object,
                        notify: true
                    },
                    applicationNumber: {
                        type: String,
                        notify: true
                    }
                },
                date: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.date(date, window.config.country, false);
                    }
                    return "Not available";
                },
                formatMoney: function (value) {
                    return formats.money(value, window.config.country, 0);
                },
                GetNumber: function (obj) {
                    return obj.entityId;
                },
                CalculateRaminingAmount: function (objlimit, drawdown) {
                    var self = this;
                    var remainingAmount = objlimit - drawdown;
                    return self.formatMoney(remainingAmount);
                },
                init: function () {
                    var params = this.$.url.getParams();
                    this.applicationNumber = params.app;
                    this.GetOutStandingInfo();
                    this.GetOfferData();
                },
                GetOutStandingInfo: function () {
                    var self = this;
                    var url = "/accrual/" + self.applicationNumber;
                    self.$.http.get(url, window.config.services.accountingService).then(function (data) {
                        if (data) {
                            self.updateOutStandingDetails = data;
                        }
                    }).fail(function (e) {
                        console.error("Filter error is ", e);
                    });
                },
                GetOfferData: function () {
                    var self = this;
                    var loanFilters = window.config.services.savedFilters;
                    var url = "/application/Search/ApplicationData?pageSize=10&page=1";
                    var payload = { searchFilterView: [{ "ApplicationNumber": self.applicationNumber }] };
                    self.$.http.post(url, payload, loanFilters).then(function (data) {
                        if (!_.isNull(data) && !_.isUndefined(data) && !_.isEmpty(data)) {
                            self.offerDetails = data[0];
                        }
                    }).fail(function (e) {
                        console.error("application error is ", e);
                    });
                },
                hasRole: function (compName) {
                    return this.$.authorize.hasRole(compName);
                },
                getDateDifference: function (dateobj) {
                    if (dateobj != undefined) {
                        var date1 = new Date(dateobj);
                        var date2 = new Date();
                        var diffDays = date1.getTime() - date2.getTime();
                        var diff = new Date(diffDays);
                        return diff.getUTCMonth() + " Months and " + (diff.getUTCDate() - 1) + " Days";
                    }
                    else {
                        return "";
                    }
                },
                _RequestDrawdown: function (event) {
                    event.preventDefault();
                    var self = this;
                    self.$$('#RequestDrawdown').showModal();
                },
                resetModal: function () {
                    var self = this;
                }
            });
        });
    </script>
</dom-module>