<dom-module id="app-offers-grid">
    <template>
        <style>
            paper-slider {
                width: 100%;
                --paper-slider-height: 2px;
            }

            .table>tbody>tr>th,
            .table>tbody>tr>td {
                vertical-align: middle;
                border-bottom: 1px solid #e7eaec;
            }

            .no-document {
                min-height: 20px;
                padding: 19px;
                background-color: #f5f5f5;
                border-radius: 4px;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
                border: 1px solid #e3e3e3;
            }

            .div-button {
                text-align: center;
                display: block
            }

            .custom-input {
                --paper-slider-input: {
                    width: 70px;
                }

                --paper-input: {
                    min-width: 50px;
                }
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .custom-input-amount {
                --paper-slider-input: {
                    width: 73px;
                }
                --paper-input-container-input: {
                    font-size: 11px;
                    min-width: 50px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .dollar {
                position: absolute;
                font-size: inherit;
                padding-top: 5px;
                padding-right: 0;
                padding-left: 7px;
            }

            .editDealIcon {
                float: right;
                cursor: pointer;
                font-size: 18px;
                margin: 10px;
            }

            .customWidth {
                width: 700px !important;
            }
        </style>
        <div class="panel-body">
            <div class="row no-document" id="noOffer">
                <div style="float:left;">
                    No Offer available.
                </div>
                <div id="ComputeProvisionalOfferSection" style="float:right;">
                    <button class="btn btn-primary" on-click="_computeProvisionalOffer">Compute Provisional Offer</button>
                </div>
            </div>
            <div id="OfferMessageContainer"></div>
            <div id="withOffer" style="display: none">
                <div id="dealGenSection" style="display: none">
                    <div class="row">
                        <div class="col-sm-12 div-button">
                            <h2>Deal Generation</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <form is="iron-form" id="dealGen" class="form-horizontal">
                                <table class="table">
                                    <tr>
                                        <th>Type of Payment</th>
                                        <td>
                                            <vaadin-combo-box class="custom-input" name="TypeOfPayment" value="{{selectedTypeOfPayment}}" item-value-path="key" item-label-path="value"
                                                items="{{TypeOfPayment}}" label="Select Type of Payment" prevent-invalid-input="true"
                                                required on-change="_paymentTypeChanged">
                                            </vaadin-combo-box>
                                        </td>
                                        <th>Number of Payments</th>
                                        <td>{{pickedOffer.numberOfPayment}}</td>
                                    </tr>
                                    <tr>
                                        <th colspan="1">Term(Month)</th>
                                        <td colspan="3">
                                            <paper-slider class="custom-input" name="term" id="term" min="{{min}}" max="{{max}}" value="{{term}}" step="1" on-change="_termChanged"></paper-slider>
                                        </td>
                                        <td>
                                            <label>{{term}}</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th colspan="1">Loan Amount</th>
                                        <td colspan="4">
                                            <paper-slider class="custom-input-amount" name="amount" id="amount" min="{{minAmount}}" max="{{loanAmountCap}}" step="1"
                                                value="{{amount}}" on-change="_amountChanges" editable></paper-slider>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Sell Rate</th>
                                        <td>
                                            <paper-slider class="custom-input" step="0.01" name="sellRate" id="sellRate" min="{{minRate}}" max="{{maxRate}}" value="{{rate}}"
                                                on-change="_rateChanged"></paper-slider>
                                        </td>
                                        <td>
                                            <label>{{_parseStringToFloat(rate)}}</label>
                                        </td>
                                        <td>
                                            <b>Buy Rate</b>
                                        </td>
                                        <td> {{pickedOffer.buyRate}}</td>
                                    </tr>
                                    <tr>
                                        <th>Origination Fee Amount</th>
                                        <td>
                                            <input name="originatingFeeAmount" id="originatingFeeAmount" class="form-control custom-input" type="text" on-change="_onchangeOriginatingFees"
                                                value="{{_formatMoney(pickedOffer.originatingFeeAmount.amount)}}">
                                        </td>
                                        <th>ACH Fee</th>
                                        <td>{{_formatMoney(pickedOffer.achFee)}}</td>
                                    </tr>
                                    <tr>
                                        <th>Approved Amount</th>
                                        <td>{{_formatMoney(pickedOffer.approvedAmount)}}</td>
                                        <th>Payment Amount</th>
                                        <td>{{_formatMoney(pickedOffer.paymentAmount)}}</td>
                                    </tr>
                                    <tr>
                                        <th>Funded points</th>
                                        <td>{{_roundValue(pickedOffer.commissionRate)}}</td>
                                        <th>Commission Amount</th>
                                        <td>{{_formatMoney(pickedOffer.commissionAmount)}}</td>
                                    </tr>
                                    <tr>

                                        <th>Total Payback</th>
                                        <td>{{_formatMoney(pickedOffer.repaymentAmount)}}</td>
                                        <th>Expected Yield</th>
                                        <td>{{_formatMoney(pickedOffer.expectedYield)}}</td>
                                    </tr>
                                    <template is="dom-if" if="{{_showAddDealButton()}}">
                                        <tr>
                                            <td colspan="4" style="text-align: center;">
                                                <button on-click="_addDeal" class="btn btn-primary">Generate Deal</button>
                                            </td>
                                        </tr>
                                    </template>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="SelectedDealSection" style="display: none">
                    <div class="row">
                        <div class="col-sm-12">
                            <div style="float:left;">
                                <h2>Deal Selected</h2>
                            </div>
                            <div id="btnEditDeal" style="float:right;display:none;">
                                <button class="btn btn-primary" on-click="_editDeal">Edit Deal</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table">
                                <tr>
                                    <th>Loan Amount</th>
                                    <td>{{_formatMoney(dealObject.LoanAmount)}}</td>
                                    <th>Term(Month)</th>
                                    <td>{{dealObject.Term}}</td>
                                </tr>
                                <tr>
                                    <th>Sell Rate</th>
                                    <td>{{_parseStringToFloat(dealObject.SellRate)}}</td>
                                    <th>Buy Rate</th>
                                    <td>{{dealObject.BuyRate}}</td>
                                </tr>
                                <tr>
                                    <th>Type of Payment</th>
                                    <td>{{dealObject.TypeOfPaymentText}}</td>
                                    <th>Number of Payments</th>
                                    <td>{{dealObject.NumberOfPayment}}</td>
                                </tr>
                                <tr>
                                    <th>Origination Fee Amount</th>
                                    <td>{{_formatMoney(dealObject.OriginatingFeeAmount)}}</td>
                                    <th>ACH Fee</th>
                                    <td>{{_formatMoney(dealObject.ACHFee)}}</td>
                                </tr>
                                <tr>
                                    <th>Approved Amount</th>
                                    <td>{{_formatMoney(dealObject.ApprovedAmount)}}</td>
                                    <th>Payment Amount</th>
                                    <td>{{_formatMoney(dealObject.PaymentAmount)}}</td>
                                </tr>
                                <tr>
                                    <th>Funded points</th>
                                    <td>{{_roundValue(dealObject.CommissionRate)}}</td>
                                    <th>Commission Amount</th>
                                    <td>{{_formatMoney(dealObject.CommissionAmount)}}</td>
                                </tr>
                                <tr>
                                    <th>Total Payback</th>
                                    <td>{{_formatMoney(dealObject.RepaymentAmount)}}</td>
                                    <th>Funded Amount</th>
                                    <td>{{_formatMoney(dealObject.AmountFunded)}}</td>
                                </tr>
                                <tr>
                                    <th>Expected Yield</th>
                                    <td colspan=3>{{_formatMoney(dealObject.ExpectedYield)}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="CreditModelSection" style="display: none">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Credit Model</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table">
                                <tr>
                                    <th>Credit Model Offer</th>
                                    <td>{{_formatMoney(creditModel.Offer)}}</td>
                                    <th>Credit Model PTI</th>
                                    <td>{{_roundValue(creditModel.PTI)}}</td>
                                </tr>
                                <tr>
                                    <th>Risk Grade</th>
                                    <td>{{creditModel.RiskGrade}}</td>
                                    <th>Tier</th>
                                    <td>{{creditModel.Tier}}</td>
                                </tr>
                                <tr>
                                    <th>Annual Gross Sales</th>
                                    <td>{{_formatMoney(creditModel.AnnualGrossSales)}}</td>
                                    <th></th>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <custom-modal id="customModalProvisionalOffer" class="modal-drop" on-modal-hidden="resetModal">
            <div class="popup-modal">
                <div class="modal-dialog">
                    <div class="modal-content customWidth">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Provisional Offers</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <ul>
                                    <li>Max Loan Amount Cap : {{_formatMoney(maxLoanAmountCap)}}</li>
                                </ul>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Term</th>
                                            <th>Buy Rate</th>
                                            <th>Sell Rate</th>
                                            <th>PTI</th>
                                            <th>Calculated Offer Amount</th>
                                            <th>Debt Obligation</th>
                                            <th>Debt Payment</th>
                                            <th>Daily Revenue</th>
                                            <th>Monthly Revenue</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <template is="dom-repeat" items="{{provisionalOffers}}" as="item">
                                            <tr>
                                                <td>{{item.term}}</td>
                                                <td>{{item.buy_rate}}</td>
                                                <td>{{item.sell_rate}}</td>
                                                <td>{{_roundValue(item.pti)}}</td>
                                                <td>{{_formatMoney(item.cal_loan_offer)}}</td>
                                                <td>{{_formatMoney(item.max_daily_debt_obligation)}}</td>
                                                <td>{{_formatMoney(item.max_debt_payment)}}</td>
                                                <td>{{_formatMoney(item.daily_revenue)}}</td>
                                                <td>{{_formatMoney(item.monthly_revenue)}}</td>
                                            </tr>
                                        </template>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>
        <http-request id="http"></http-request>
        <alloy-config id="config"></alloy-config>
        <alloy-format id="format"></alloy-format>
        <lookup-service id="lookup"></lookup-service>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "app-offers-grid",
                properties: {
                    computedOffers: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    provisionalOffers: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    editedLoanAmount: {
                        type: String,
                        notify: true,
                        value: 0
                    },
                    dealObject: {
                        type: Object,
                        notify: true,
                        value: {
                            AccountNumber: '',
                            AccountType: '',
                            AmountFunded: 0,
                            BankName: '',
                            CommissionAmount: 0,
                            CommissionRate: 0,
                            DurationType: '',
                            LoanAmount: 0,
                            RepaymentAmount: 0,
                            RoutingNumber: '',
                            SellRate: 0.00,
                            TermPayment: 0,
                            Term: 0,
                            ApprovedAmount: 0,
                            TypeOfPayment: '',
                            TypeOfPaymentText: 'Daily',
                            PaymentAmount: 0,
                            NumberOfPayment: 0,
                            OriginatingFeeAmount: 0,
                            ACHFee: 0,
                            BuyRate: 0.00,
                            ExpectedYield: 0.00,
                            LoanAmountCap: 0.00
                        },
                        reflectToAttribute: true
                    },
                    pickedOffer: {
                        type: Object,
                        notify: true,
                        value: {
                            loanAmount: 0.00,
                            sellRate: 0.00,
                            buyRate: 0.00,
                            term: 0,
                            approvedAmount: 0.00,
                            typeOfPayment: '',
                            commissionAmount: 0.00,
                            commissionRate: '',
                            paymentAmount: 0.00,
                            numberOfPayment: 0,
                            originatingFeeAmount: {
                                amount: 0.00,
                                isEdited: false
                            },
                            achFee: 0.00,
                            repaymentAmount: 0.00,
                            minDuration: 0,
                            maxDuration: 0,
                            minFactor: 0.00,
                            maxFactor: 0.00,
                            fixedOriginatingFee: 0.00,
                            originatingFeePer: 0.00,
                            originatingFeeMinLoanAmount: 0.00,
                            amountFunded: 0.00,
                            expectedYield: 0.00,
                            loanAmountCap: 0.00
                        },
                        reflectToAttribute: true,
                        observer: "_updateDealObject"
                    },
                    fireEvent: {
                        type: Object,
                        notify: true,
                        value: {
                            "AppDetailsPageRefresh": true
                        }
                    },
                    TypeOfPayment: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    OriginatingFeeMinLoanAmount: {
                        type: String,
                        notify: true,
                        value: ''
                    },
                    FixedOriginatingFee: {
                        type: String,
                        notify: true,
                        value: ''
                    },
                    OriginatingFeePer: {
                        type: String,
                        notify: true,
                        value: ''
                    },
                    ACHFee: {
                        type: String,
                        notify: true,
                        value: ''
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true,
                        observer: '_getCreditModel'
                    },
                    creditModel: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true,
                        value: {
                            Offer: 0,
                            PTI: 0,
                            RiskGrade: '',
                            Tier: 0,
                            AnnualGrossSales: 0
                        },
                        reflectToAttribute: true
                    },
                    selectedTypeOfPayment: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true,
                        value: ""
                    },
                    maxLoanAmountCap: {
                        type: String,
                        notify: true,
                        value: '0'
                    },
                    offersConfig: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    tags: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    }
                },
                _computeProvisionalOffer: function () {
                    var self = this;
                    var url = '/application/' + self.applicationNumber + '/compute/provisional/offer'
                    var appProcessorEndpoint = window.config.services.appProcessor;
                    self.$.http.get(url, appProcessorEndpoint).then(function (data) {
                        if (!_.isNull(data) && !_.isEmpty(data.offers) && !_.isNull(data.offers) && !_.isUndefined(
                            data.offers)) {
                            self.set('provisionalOffers', data.offers);
                            if (data.offers.length > 0) {
                                self.set('maxLoanAmountCap', data.offers[0].loan_amount_cap);
                            }
                            self.$$('#customModalProvisionalOffer').showModal();
                        }
                        else {
                            self.$.message.showMessage("No offer available", "ERROR", self.$$('#OfferMessageContainer'));
                        }
                    }).fail(function (e) {
                        console.error("compute provisional offer error is ", e);
                    });
                },
                _updateDealObject: function () {
                    var self = this;
                    var currentDeal = _.cloneDeep(self.dealObject);
                    var calculatedDeal = _.cloneDeep(self.pickedOffer);
                    currentDeal.AmountFunded = calculatedDeal.amountFunded;
                    currentDeal.CommissionAmount = calculatedDeal.commissionAmount;
                    currentDeal.CommissionRate = calculatedDeal.commissionRate;
                    currentDeal.LoanAmount = calculatedDeal.loanAmount;
                    currentDeal.RepaymentAmount = calculatedDeal.repaymentAmount;
                    currentDeal.SellRate = calculatedDeal.sellRate;
                    currentDeal.TermPayment = calculatedDeal.dailyPayment;
                    currentDeal.Term = calculatedDeal.term;
                    currentDeal.ApprovedAmount = calculatedDeal.approvedAmount;
                    currentDeal.PaymentAmount = calculatedDeal.paymentAmount;
                    currentDeal.NumberOfPayment = calculatedDeal.numberOfPayment;
                    currentDeal.OriginatingFeeAmount = calculatedDeal.originatingFeeAmount.amount;
                    currentDeal.ACHFee = calculatedDeal.achFee;
                    currentDeal.BuyRate = calculatedDeal.buyRate;
                    currentDeal.TypeOfPayment = calculatedDeal.typeOfPayment;
                    currentDeal.ExpectedYield = calculatedDeal.expectedYield;
                    currentDeal.LoanAmountCap = calculatedDeal.loanAmountCap;
                    if (calculatedDeal.typeOfPayment != null && calculatedDeal.typeOfPayment != '') {
                        var output = _.find(self.TypeOfPayment, ['key', calculatedDeal.typeOfPayment]);
                        if (output)
                            currentDeal.TypeOfPaymentText = output.value;
                    }
                    self.set('dealObject', currentDeal);
                },
                _loadOffers: function () {
                    var self = this;
                    var offerEndPoint = window.config.services.offerengine;
                    var url = "/application/" + self.applicationNumber + "/offerengine/getapplicationoffers";
                    self.$.http.get(url, offerEndPoint).then(function (data) {
                        if (!_.isEmpty(data.offers) && !_.isNull(data.offers) && !_.isUndefined(data.offers)) {
                            var markersDuration = _.map(data.offers, 'maxDuration');
                            self.set('min', _.min(markersDuration));
                            self.set('max', _.max(markersDuration));
                            var filteredOfferForMaxDuration = _.filter(data.offers, function (offer) {
                                return offer.maxDuration == self.max;
                            });
                            var currentOfferForMaxDuration = filteredOfferForMaxDuration[0];
                            self.set('minAmount', currentOfferForMaxDuration.minAmount);
                            self.set('maxAmount', currentOfferForMaxDuration.maxAmount);
                            self.set('loanAmountCap', currentOfferForMaxDuration.loanAmountCap);
                            self.set('minRate', currentOfferForMaxDuration.minFactor);
                            self.set('maxRate', currentOfferForMaxDuration.maxFactor);
                            data.offers.forEach(function (offer) {
                                _.extend(offer, {
                                    loanAmount: offer.maxAmount
                                });
                            });
                            self.set('computedOffers', data.offers);
                            if (data.dealOffer !== null) {
                                var pickedOffer = _.cloneDeep(data.dealOffer);
                                pickedOffer.originatingFeeAmount = {
                                    amount: data.dealOffer.originatingFeeAmount,
                                    isEdited: false
                                };
                                pickedOffer.fixedOriginatingFee = self.FixedOriginatingFee;
                                pickedOffer.originatingFeePer = self.OriginatingFeePer;
                                pickedOffer.originatingFeeMinLoanAmount = self.OriginatingFeeMinLoanAmount;
                                self.set('pickedOffer', pickedOffer);
                                self.set('rate', pickedOffer.sellRate);
                                self.set('amount', pickedOffer.approvedAmount);
                                self.set('term', pickedOffer.term);
                                self.set("selectedTypeOfPayment", pickedOffer.typeOfPayment);
                            } else {
                                var pickedOffer = _.cloneDeep(self.pickedOffer);
                                pickedOffer.loanAmount = currentOfferForMaxDuration.maxAmount;
                                pickedOffer.amountFunded = currentOfferForMaxDuration.maxAmount;
                                pickedOffer.approvedAmount = currentOfferForMaxDuration.maxAmount;
                                pickedOffer.minDuration = _.min(markersDuration);
                                pickedOffer.maxDuration = _.max(markersDuration);
                                pickedOffer.maxFactor = currentOfferForMaxDuration.maxFactor;
                                pickedOffer.minFactor = currentOfferForMaxDuration.minFactor;
                                pickedOffer.term = _.max(markersDuration);
                                pickedOffer.buyRate = currentOfferForMaxDuration.minFactor;
                                pickedOffer.sellRate = currentOfferForMaxDuration.maxFactor;
                                pickedOffer.loanAmountCap = currentOfferForMaxDuration.loanAmountCap;
                                pickedOffer.achFee = self.ACHFee;
                                pickedOffer.fixedOriginatingFee = self.FixedOriginatingFee;
                                pickedOffer.originatingFeePer = self.OriginatingFeePer;
                                pickedOffer.originatingFeeMinLoanAmount = self.OriginatingFeeMinLoanAmount;
                                self.set('rate', currentOfferForMaxDuration.maxFactor);
                                self.set('amount', currentOfferForMaxDuration.maxAmount);
                                self.set('term', _.max(markersDuration));
                                self.set('pickedOffer', pickedOffer);
                                self._getCalculatedOfferModel(pickedOffer);
                            }
                            self._hasDeal(data.offers);
                            self._showControl(data.dealOffer);
                        }
                        self._showProvisionalOffersSection();
                    }).fail(function (e) {
                        self._hasDeal(self.computedOffers);
                        console.error("application error is ", e);
                    });
                },
                _termChanged: function (event) {
                    var self = this;
                    var currentpickedOffer = _.cloneDeep(self.pickedOffer);
                    var selectedTerm = event.target.value;
                    var output = _.find(self.computedOffers, ['maxDuration', selectedTerm]);
                    currentpickedOffer.loanAmount = output.maxAmount;
                    self.set('amount', output.maxAmount);
                    self.set('minAmount', output.minAmount);
                    self.set('maxAmount', output.maxAmount);
                    self.set('loanAmountCap', output.loanAmountCap);
                    currentpickedOffer.maxFactor = output.maxFactor;
                    currentpickedOffer.minFactor = output.minFactor;
                    currentpickedOffer.buyRate = output.minFactor;
                    currentpickedOffer.sellRate = output.maxFactor;
                    self.set('minRate', output.minFactor);
                    self.set('maxRate', output.maxFactor);
                    self.set('rate', output.maxFactor);
                    currentpickedOffer.term = parseInt(selectedTerm);
                    self._getCalculatedOfferModel(currentpickedOffer);
                },
                _amountChanges: function (event) {
                    var self = this;
                    var currentpickedOffer = _.cloneDeep(self.pickedOffer);
                    var selectedAmount = event.target.value;
                    self.editedLoanAmount = event.target.value;
                    if (selectedAmount > self.loanAmountCap) {
                        selectedAmount = self.loanAmountCap;
                        self.set('amount', self.loanAmountCap);
                        self.$.message.showMessage("Loan Amount can not be more than " + self.loanAmountCap, "ERROR", self.$$('#OfferMessageContainer'));
                    }
                    currentpickedOffer.loanAmount = parseFloat(selectedAmount);
                    currentpickedOffer.approvedAmount = parseFloat(selectedAmount);
                    currentpickedOffer.amountFunded = parseFloat(selectedAmount);
                    self._getCalculatedOfferModel(currentpickedOffer);
                },
                _rateChanged: function (event) {
                    var self = this;
                    var currentpickedOffer = _.cloneDeep(self.pickedOffer);
                    var selectedRate = event.target.value;
                    currentpickedOffer.rate = parseFloat(selectedRate);
                    currentpickedOffer.sellRate = parseFloat(selectedRate);
                    self._getCalculatedOfferModel(currentpickedOffer);
                },
                _onchangeOriginatingFees: function (event) {
                    var self = this;
                    var currentpickedOffer = _.cloneDeep(self.pickedOffer);
                    var selectedFee = _.replace(event.target.value, '$', '');
                    var selectedFee = _.replace(selectedFee, ',', '');
                    currentpickedOffer.originatingFeeAmount.amount = parseFloat(selectedFee);
                    currentpickedOffer.originatingFeeAmount.isEdited = true;
                    self._getCalculatedOfferModel(currentpickedOffer);
                },
                _paymentTypeChanged: function (event) {
                    var self = this;
                    var currentpickedOffer = _.cloneDeep(self.pickedOffer);
                    var selectedPaymentType = event.target.value;
                    if (selectedPaymentType !== null && selectedPaymentType !== undefined && selectedPaymentType !== "") {
                        currentpickedOffer.typeOfPayment = selectedPaymentType;
                        self._getCalculatedOfferModel(currentpickedOffer);
                    }
                },
                raiseAppRefreshEvent: function () {
                    var fireEvent = {
                        "RefreshStatus": true,
                        "RefreshStatusHistory": true,
                        "RefreshVerificationDashboard": true,
                        "RefreshOffers": true,
                        "ShowMessage": true,
                        "RefreshActivity": true,
                        "RefreshDocuments": true
                    };
                    this.$.utility.raiseEvent(fireEvent, { Message: "Deal Added" });
                    this.fire('iron-signal', { name: 'factinitiated', data: null });
                },
                _formatMoney: function (amount) {
                    return formats.money(amount, window.config.country, 0);
                },
                init: function () {
                    this._loadOffers();
                },
                ready: function () {
                    var data = this.$.config.getConfigurationBasedOnKey("offers-config");
                    var paymentType = this.$.lookup.getLookupBasedOnName("paymentType");
                    this.set('TypeOfPayment', _.orderBy(paymentType, ['value'], ['asc']));
                    this.set('offersConfig', data);
                    this._getCreditModel();
                    this._loadOfferEngineConfig();
                },
                _addDeal: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = document.querySelector('#dealGen');
                    if (form.validate()) {
                        if (self.editedLoanAmount > self.loanAmountCap) {
                            self.$.message.showMessage("Loan Amount can not be more than " + self.loanAmountCap, "ERROR", self.$$('#OfferMessageContainer'));
                            return;
                        }
                        showOverlay();
                        var offerEndPoint = window.config.services.appProcessor;
                        var url = "/application/" + self.applicationNumber + "/add/deal";
                        var dealObject = self.dealObject;
                        dealObject.OriginatingFeeAmount = self.pickedOffer.originatingFeeAmount.amount;
                        dealObject.SellRate = _.ceil(dealObject.SellRate, 2);
                        self.$.http.post(url, { dealOffers: [dealObject] }, offerEndPoint, true).then(function (data) {
                            hideOverlay();
                            self.raiseAppRefreshEvent();
                        }).fail(function (e) {
                            hideOverlay();
                            var response = e.responseJSON;
                            if (response) {
                                self.$.message.showMessage(response.message, "ERROR", self.$$('#OfferMessageContainer'));
                            } else {
                                self.$.message.showMessage("Get Cashflow Preference error ", "ERROR", self.$$('#OfferMessageContainer'));
                            }
                        });
                    }
                },
                _hasDeal: function (computedOffers) {
                    if (!_.isUndefined(computedOffers) && computedOffers.length > 0) {
                        $('#noOffer').hide();
                        $('#withOffer').show();
                        $('#CreditModelSection').show();
                    } else {
                        $('#noOffer').show();
                        $('#withOffer').hide();
                    }
                },
                _editButtonVisibility: function () {
                    var editDealButtonConfig = this.offersConfig["editDealButton"];
                    var appliedTags = [];
                    if (!_.isNull(this.tags) && !_.isEmpty(this.tags)) {
                        if (!_.isNull(editDealButtonConfig) && !_.isNull(editDealButtonConfig.tag)) {
                            _.forEach(editDealButtonConfig.tag, function (config) {
                                _.forEach(this.tags, function (t) {
                                    if (config === t.name) {
                                        appliedTags.push(config);
                                    }
                                });
                            });
                        }
                    }
                    if ((!_.isNull(appliedTags) && !_.isEmpty(appliedTags)) || _.indexOf(editDealButtonConfig.statusCode, this.statusCode) > -1) {
                        $('#btnEditDeal').show();
                    }
                    else {
                        $('#btnEditDeal').hide();
                    }
                },
                _showControl: function (dealOffer) {
                    if (_.isNull(dealOffer) || this.statusCode == "200.70") {
                        $('#dealGenSection').show();
                    }
                    else {
                        $('#dealGenSection').hide();
                        $('#SelectedDealSection').show();
                        this._editButtonVisibility();
                    }
                },
                _showProvisionalOffersSection: function () {
                    var provisionOffersButtonConfig = this.offersConfig["provisionOffersButton"];
                    if (this.statusCode == provisionOffersButtonConfig.statusCode) {
                        $('#ComputeProvisionalOfferSection').show();
                    }
                    else {
                        $('#ComputeProvisionalOfferSection').hide();
                    }
                },
                _showAddDealButton: function () {
                    var self = this;
                    var offersConfig = self.$.config.getConfigurationBasedOnKey("offers-config");
                    var addDealActionConfig = offersConfig["addDealAction"];
                    if (!_.isNull(addDealActionConfig) && !_.isNull(addDealActionConfig.statusCodeNotIn)) {
                        if (_.indexOf(addDealActionConfig.statusCodeNotIn, this.statusCode) > -1) {
                            return false;
                        }
                        else {
                            return true;
                        }
                    }
                },
                _loadOfferEngineConfig: function () {
                    var self = this;
                    var url = "/configuration/business-offerengine";
                    self.$.http.get(url, "").then(function (data) {
                        if (data && !_.isNull(data) && !_.isUndefined(data)) {
                            self.FixedOriginatingFee = data.FixedOriginatingFee;
                            self.OriginatingFeePer = data.OriginatingFeePer;
                            self.ACHFee = data.ACHFee;
                            self.OriginatingFeeMinLoanAmount = data.OriginatingFeeMinLoanAmount;
                        }
                    }).fail(function (e) {
                        console.error("Offer Engine Configuration error is ", e);
                    });
                },
                _parseStringToFloat: function (value) {
                    return parseFloat(value).toFixed(2);
                },
                _roundValue: function (amount) {
                    amount = amount * 100;
                    return Math.round(amount) + "%";
                },
                _getCalculatedOfferModel: function (payload) {
                    var self = this;
                    var appProcessorEndPoint = window.config.services.appProcessor;
                    var url = "/application/" + self.applicationNumber + "/pricingcalculator";
                    self.$.http.post(url, payload, appProcessorEndPoint).then(function (data) {
                        var IntermediateData = data.intermediateData;
                        payload.numberOfPayment = IntermediateData._NumberOfPayment;
                        payload.commissionRate = self._parseStringToFloat(IntermediateData._computeFundingPoints);
                        payload.paymentAmount = self._parseStringToFloat(IntermediateData._calculatePaymentAmount);
                        payload.commissionAmount = self._parseStringToFloat(IntermediateData._computeGMCommision);
                        payload.originatingFeeAmount.amount = self._parseStringToFloat(IntermediateData._countOriginatingfees);
                        payload.originatingFeeAmount.isEdited = false;
                        payload.repaymentAmount = self._parseStringToFloat(IntermediateData._countTotalPayback);
                        payload.expectedYield = self._parseStringToFloat(IntermediateData._computeExpectedYield);
                        payload.amountFunded = self._parseStringToFloat(IntermediateData._computeFundedAmount);
                        self.set('pickedOffer', payload);
                    }).fail(function (e) {
                        console.error("application error is ", e);
                    });
                },
                _getCreditModel: function () {
                    var self = this;
                    var dataAttr = self.dataAttributes;
                    if (dataAttr) {
                        var creditmodel = _.cloneDeep(self.creditModel);
                        if (dataAttr.tier_Attribute) {
                            creditmodel.Tier = dataAttr.tier_Attribute.value
                        }
                        if (dataAttr.riskGrade_Attribute) {
                            creditmodel.RiskGrade = dataAttr.riskGrade_Attribute.value
                        }
                        if (dataAttr.cashflowVerificationData && dataAttr.cashflowVerificationData.SelectedAccountData) {
                            if (!_.isNull(dataAttr.cashflowVerificationData.SelectedAccountData) && dataAttr.cashflowVerificationData.SelectedAccountData.length > 0) {
                                var selectedCashFlow = dataAttr.cashflowVerificationData.SelectedAccountData[0].CashFlow;
                                if (selectedCashFlow && selectedCashFlow.TransactionSummary) {
                                    creditmodel.AnnualGrossSales = selectedCashFlow.TransactionSummary.AnnualCalculatedRevenue;
                                }
                            }
                        }
                        if (dataAttr.finalOffer_Attribute && dataAttr.finalOffer_Attribute.offers && dataAttr.finalOffer_Attribute.offers.length > 0) {
                            var offersData = dataAttr.finalOffer_Attribute.offers;
                            var termsData = _.map(offersData, 'term');
                            var maxTerm = _.max(termsData);
                            var offerForMaxDuration = _.filter(offersData, function (offer) {
                                return offer.term == maxTerm;
                            })[0];
                            creditmodel.Offer = offerForMaxDuration.loan_offer_max;
                            creditmodel.PTI = offerForMaxDuration.pti;
                        }
                        self.set('creditModel', creditmodel);
                    }
                },
                _editDeal: function (event) {
                    this._updateOfferGenerationStatus();
                    $('#dealGenSection').show();
                    $('#SelectedDealSection').hide();
                },
                _updateOfferGenerationStatus: function () {
                    var editDealActionConfig = this.offersConfig["editDealAction"];
                    var self = this;
                    var url = '/status-management/application/' + self.applicationNumber + '/' + editDealActionConfig.statusCode;
                    self.$.http.post(url, undefined, "", true).then(function (data) {
                        var fireEvent = {
                            "RefreshActivity": true,
                            "RefreshStatus": true,
                            "RefreshStatusHistory": true
                        };
                        self.$.utility.raiseEvent(fireEvent, {});
                    }).fail(function (e) {
                        console.error("Failed to update the status", e.responseJSON.message);
                    });
                }
            });
        });
    </script>
</dom-module>