<dom-module id="app-request-drawdown">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }
        </style>
        <div id="MessageContainer"></div>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="{{formId}}" id="{{formId}}">
                    <dynamic-form form-configuration={{requestedAmountObj}} values="{{requestedAmountObj.values}}"></dynamic-form>
                    <br/>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <url-parser id="urlappnrd"></url-parser>
        <http-request id="httpappnrd"></http-request>
        <utility-service id="utilityappnrd"></utility-service>
        <message-component id="messageappnrd"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "app-request-drawdown",
                properties: {
                    formId: {
                        type: String,
                        notify: true
                    },
                    fireEvent: {
                        type: Object,
                        notify: true,
                        value: {
                            "AppDetailsPageRefresh": true
                        }
                    },
                    requestedAmountObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                DrawDownDateAction: {
                                    label: "Requested Date",
                                    title: "Requested Date",
                                    type: "date",
                                    format: "MM/DD/YYYY",
                                    validations: {
                                        required: false
                                    }
                                },
                                RequestedAmountRD: {
                                    label: "Requested Amount",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        pattern: 'AMOUNT',
                                        minLen: 1,
                                        maxLen: 10
                                    }
                                },
                                NeedByDateAction: {
                                    label: "Need By Date",
                                    title: "Need by Date",
                                    type: "date",
                                    format: "MM/DD/YYYY",
                                    validations: {
                                        required: false
                                    }
                                }
                            },
                            values: {
                                DrawDownDateAction: "",
                                NeedByDateAction: ""
                            }
                        }
                    }
                },
                init: function () {

                },
                _verifyForm: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    var drawdownProcessor = window.config.services.drawdownProcessor;
                    if (form.validate()) {
                        var rAmount = $("#" + form.id + " input[name*='RequestedAmountRD']").val();
                        var params = this.$.urlappnrd.getParams();
                        var payload = {
                            DrawDownDate: self.formatDate(self.requestedAmountObj.values.DrawDownDateAction),
                            RequestedAmount: parseFloat(rAmount),
                            NeedByDate: self.formatDate(self.requestedAmountObj.values.NeedByDateAction),
                            LocNumber: params.app
                        };
                        self.$.httpappnrd.post("", payload, drawdownProcessor).then(function (data) {
                            self.raiseAppRefreshEvent();
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            self.$.messageappnrd.showMessage(strMessage, "ERROR", self.$.MessageContainer);
                        });
                    }
                },
                raiseAppRefreshEvent: function () {
                    this.$.utilityappnrd.raiseEvent(this.fireEvent, {});
                },
                formatDate: function (date) {
                    return moment.tz(date, window.config.timezone).format("YYYY-MM-DD");
                }
            });
        });
    </script>
</dom-module>