<html-import html-href="custom-component/custom-panel.html"></html-import>
<html-import html-href="custom-component/multi-level-report.html"></html-import>
<dom-module id="app-thirdparty-info">
    <template>
        <style>
            .application-detail>.FixWidth {
                width: 50% !important;
            }

            .application-detail>.FixWidthDD {
                margin-left: 52% !important;
            }

            .ExeResuSpacing {
                padding-top: 50px !important;
            }

            .passed {
                font-size: 15px;
                color: green;
            }

            .failed {
                color: red;
                font-size: 15px;
            }

            .panel-body {
                min-height: 0px;
            }

            .cell {
                margin: 5px;
                padding: 5px;
            }

            .show {
                display: block;
            }

            .hide {
                display: none;
            }

            .panel-group .panel {
                border-radius: 0;
                box-shadow: none;
                border-color: #EEEEEE;
            }

            .panel.panel-default {
                margin-bottom: 10px !important;
            }

            .panel-default>.panel-heading {
                padding: 0;
                border-radius: 0;
                color: #ffffff;
                background-color: #03466B;
                border-color: #03466B;
            }

            .panel-title {
                font-size: 14px;
            }

            .panel-title>a {
                display: block;
                padding: 15px;
                text-decoration: none;
            }

            .more-less {
                float: right;
            }

            .panel-default>.panel-heading+.panel-collapse>.panel-body {
                border-top-color: #EEEEEE;
            }

            .demo {
                padding-top: 60px;
                padding-bottom: 110px;
            }

            .wd100 {
                width: 178px;
            }

            .fieldset {
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;
                border-radius: 8px;
            }

            .the-legend {
                border-style: none;
                width: auto !important;
                border-width: 0;
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 0;
            }

            .the-fieldset {
                border: 2px groove threedface #444;
                -webkit-box-shadow: 0px 0px 0px 0px #000;
                box-shadow: 0px 0px 0px 0px #000;
            }

            .well {
                text-align: left;
                background-color: white !important;
            }

            .divider {
                border-bottom: 1px solid #ccc;
                margin-top: 10px;
                margin-bottom: 5px;
            }

            .dl-horizontal dd {
                margin-left: 96px !important;
            }

            #scData .dl-horizontal dt {
                width: 110px !important;
            }

            #scData .dl-horizontal dd {
                margin-left: 120px !important;
            }

            .rupee::before {
                background: transparent url("../images/rupee.png") no-repeat;
                background-size: 10px 10px;
                background-position: 5px 5px;
                display: block;
                height: 16px;
                line-height: 12px;
                padding-left: 15px;
                position: absolute;
                margin-right: 10px;
            }

            .dollerClass::before {
                content: "$ ";
            }

            .panel-title.thirdparty-info {
                font-size: 14px;
                margin-top: 0 !important;
            }

            ul.thirdparty-info {
                list-style-type: none !important;
                padding-left: 0px;
            }

            #scData .panel-default>.panel-heading {
                padding: 0;
                border-radius: 0;
                color: #03466B;
                background-color: #ddd;
                border-color: #ddd;
            }

            #scData .div-ul {
                margin: 15px auto;
            }

            #scData .div-ul li {
                display: inline-flex;
                width: 49%;
                margin: 5px auto;
            }

            #scData .div-ul li>b {
                margin-right: 2px;
            }

            #scData .div-ul li>b:nth-of-type(2) {
                font-weight: normal;
            }
        </style>
        <template is="dom-repeat" items="{{dataOwnerReports}}" as="dataOwnerReport">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-group Accheader-tab" id="daPanel{{dataOwnerReport.owner.OwnerId}}" role="tablist" aria-multiselectable="true">
                        <div id="da" class="panel panel-default">
                            <div class="panel-heading" role="tab" id="daHeading">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#daPanel{{dataOwnerReport.owner.OwnerId}}" href="#daOne{{dataOwnerReport.owner.OwnerId}}"
                                        aria-expanded="true" aria-controls="daOne">
                                        <i class="more-less fa fa-minus"></i> {{dataOwnerReport.owner.FirstName}} {{dataOwnerReport.owner.LastName}}
                                    </a>
                                </h4>
                            </div>
                            <div id="daOne{{dataOwnerReport.owner.OwnerId}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="daHeading">
                                <div class="panel-body">
                                    <div class="panel-group" id="report{{dataOwnerReport.owner.OwnerId}}" role="tablist" aria-multiselectable="true">
                                        <template is="dom-if" if="{{_hasDataAttrObj(dataOwnerReport.reports)}}">
                                            <custom-panel reports="{{dataOwnerReport.reports}}" notes="{{merchantNotes}}"></custom-panel>
                                        </template>
                                    </div>
                                    <div class="panel-group" id="criminalreport{{dataOwnerReport.owner.OwnerId}}" role="tablist" aria-multiselectable="true">
                                        <template is="dom-if" if="{{_hasDataAttrObj(dataOwnerReport.criminalRecords)}}">
                                            <multi-level-report report-list="{{dataOwnerReport.criminalRecords}}"></multi-level-report>
                                        </template>
                                    </div>
                                    <div class="panel-group" id="bankruptcyreport{{dataOwnerReport.owner.OwnerId}}" role="tablist" aria-multiselectable="true">
                                        <template is="dom-if" if="{{_hasDataAttrObj(dataOwnerReport.bankruptcyReportRecords)}}">
                                            <multi-level-report report-list="{{dataOwnerReport.bankruptcyReportRecords}}"></multi-level-report>
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" id="scPanel" role="tablist" aria-multiselectable="true">
                    <div id="data" class="panel panel-default">
                        <div class="panel-heading" role="tab" id="scHeading">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#scPanel" href="#scData" aria-expanded="true" aria-controls="scData">
                                    <i class="more-less fa fa-minus"></i> Rule Execution
                                </a>
                            </h4>
                        </div>
                        <div id="scData" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="scHeading">
                            <div class="panel-body">
                                <div class="panel-group" id="rules" role="tablist" aria-multiselectable="true">
                                    <template is="dom-repeat" items="{{scoreConfig}}" as="rule">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="{{rule.name}}header">
                                                <h4 class="panel-title">
                                                    <a role="button" data-toggle="collapse" data-parent="#rules" href="#{{rule.name}}" aria-expanded="true" aria-controls="{{rule.name}}">
                                                        <i class="more-less fa fa-plus"></i> {{rule.displayName}}
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="{{rule.name}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{rule.name}}header">
                                                <div class="col-lg-12">
                                                    <ul class="div-ul">
                                                        <li>
                                                            <b>Executed Date:&nbsp;</b>{{_getExecutedDate(rule)}}
                                                        </li>
                                                        <li>
                                                            <b>Result:&nbsp;</b>
                                                            <i class$="{{_getResult(rule)}}" aria-hidden="true"></i>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="panel-body ExeResuSpacing">
                                                    <div class="panel-group" id="sourceInt">
                                                        <template is="dom-if" if="{{_hasSourceOrIntermediateData(rule,'sourceData')}}">
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading">
                                                                    <h4 class="panel-title">
                                                                        <a data-toggle="collapse" data-parent="#sourceInt" href="#{{rule.name}}_source">Source</a>
                                                                    </h4>
                                                                </div>
                                                                <div id="{{rule.name}}_source" class="panel-collapse collapse in">
                                                                    <div class="panel-body">
                                                                        <template is="dom-if" if="{{_hasGroup(rule,'sourceData')}}">
                                                                            <template is="dom-repeat" items="{{_getSourceGroups(rule,'sourceData')}}" as="groupName">
                                                                                <fieldset class="well the-fieldset">
                                                                                    <legend class="the-legend">{{_getSourceDisplayName(rule,'sourceData',groupName)}}</legend>
                                                                                    <template is="dom-repeat" items="{{_getGroupFieldsByName(rule,'sourceData',groupName)}}" as="field">
                                                                                        <div class="panel-left col-lg-6">
                                                                                            <ul>
                                                                                                <template is="dom-if" if="{{!_hasAmountField(field)}}">
                                                                                                    <li>
                                                                                                        <b>{{field.label}}:&nbsp;</b>{{_checkIfRolesAndAssigneeOnField(field)}}</li>
                                                                                                </template>
                                                                                                <template is="dom-if" if="{{_hasAmountField(field)}}">
                                                                                                    <li>
                                                                                                        <b>{{field.label}}:&nbsp;</b>$
                                                                                                        {{_checkIfRolesAndAssigneeOnField(field)}}
                                                                                                    </li>
                                                                                                </template>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </template>
                                                                                </fieldset>
                                                                            </template>
                                                                        </template>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </template>
                                                        <template is="dom-if" if="{{_hasSourceOrIntermediateData(rule,'intermediateData')}}">
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading">
                                                                    <h4 class="panel-title">
                                                                        <a data-toggle="collapse" data-parent="#sourceInt" href="#{{rule.name}}_intermediate">Intermediate</a>
                                                                    </h4>
                                                                </div>
                                                                <div id="{{rule.name}}_intermediate" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <template is="dom-repeat" items="{{_getSourceGroups(rule,'intermediateData')}}" as="groupName">
                                                                            <template is="dom-if" if="{{_hasFields(rule,'intermediateData')}}">
                                                                                <template is="dom-repeat" items="{{_getGroupFields(rule,'intermediateData',groupName)}}" as="field">
                                                                                    <div class="panel-left col-lg-6">
                                                                                        <ul>
                                                                                            <template is="dom-if" if="{{!_hasAmountField(field)}}">
                                                                                                <li>
                                                                                                    <b>{{field.label}}:&nbsp;</b>{{_checkIfRolesAndAssigneeOnField(field)}}</li>
                                                                                            </template>
                                                                                            <template is="dom-if" if="{{_hasAmountField(field)}}">
                                                                                                <li>
                                                                                                    <b>{{field.label}}:&nbsp;</b>$
                                                                                                    {{_checkIfRolesAndAssigneeOnField(field)}}
                                                                                                </li>
                                                                                            </template>
                                                                                        </ul>
                                                                                    </div>
                                                                                </template>
                                                                            </template>
                                                                            <template is="dom-if" if="{{!_hasFieldsWithNTC(rule,'intermediateData',groupName)}}">
                                                                                <fieldset class="well the-fieldset">
                                                                                    <legend class="the-legend">{{_getIntermediateDisplayName(rule,'intermediateData',groupName)}}</legend>
                                                                                    <template is="dom-repeat" items="{{_getGroupFields(rule,'intermediateData',groupName)}}" index-as="indx" as="fieldArray">
                                                                                        <template is="dom-repeat" items="{{fieldArray.fields}}" as="field">
                                                                                            <template is="dom-if" if="{{_renderField(rule,'intermediateData',field,indx)}}">
                                                                                                <template is="dom-if" if="{{_AddBreak(field,rule)}}">
                                                                                                    <div class="clearfix"></div>
                                                                                                    <hr class="half-rule" />
                                                                                                </template>
                                                                                                <div class="panel-left col-lg-6">
                                                                                                    <ul>
                                                                                                        <template is="dom-if" if="{{!_hasAmountField(field)}}">
                                                                                                            <li>
                                                                                                                <b>{{field.label}}:&nbsp;</b>{{_checkIfRolesAndAssigneeOnField(field)}}</li>
                                                                                                        </template>
                                                                                                        <template is="dom-if" if="{{_hasAmountField(field)}}">
                                                                                                            <li>
                                                                                                                <b>{{field.label}}:&nbsp;</b>$
                                                                                                                {{_checkIfRolesAndAssigneeOnField(field)}}
                                                                                                            </li>
                                                                                                        </template>
                                                                                                    </ul>
                                                                                                </div>
                                                                                            </template>
                                                                                        </template>
                                                                                    </template>
                                                                                </fieldset>
                                                                            </template>
                                                                        </template>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </template>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "app-thirdparty-info",
                properties: {
                    dataAttributesConfig: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    dataOwnerReports: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    reports: {
                        type: Array,
                        notify: true,
                        value: []
                    }
                },
                ready: function () {
                    var self = this;
                    setTimeout(function () {
                        self._initJQueryEvents();
                    }, 5000);
                },
                init: function () {

                },
                _initJQueryEvents: function () {
                    function showIcon(e) {
                        $(e.target).prev('.panel-heading').find(".more-less").removeClass("fa-plus").addClass("fa-minus");
                    }
                    function hideIcon(e) {
                        $(e.target).prev('.panel-heading').find(".more-less").removeClass("fa-minus").addClass("fa-plus");
                    }
                    $('#data').on('hidden.bs.collapse', hideIcon);
                    $('#data').on('shown.bs.collapse', showIcon);
                    $('.Accheader-tab').on('hidden.bs.collapse', hideIcon);
                    $('.Accheader-tab').on('shown.bs.collapse', showIcon);
                },
                _hasDataAttrObj: function (reports) {
                    var self = this;
                    if (reports && reports.length > 0) {
                        return true;
                    }
                    return false;
                },
                _setReportData: function () {
                    var self = this;
                    if (self.dataOwnerReports && self.dataOwnerReports.length > 0) {
                        self.set('reports', self.dataOwnerReports[0].reports);
                    }
                },
                _hasAmountField: function (field) {
                    if (field.format && (field.format === "amount" || field.format === "currencyFormat")) {
                        return true;
                    }
                    return false;
                },
                _getResult: function (rule) {
                    if (rule && rule.name && rule[rule.name] && rule[rule.name].result) {
                        return "fa fa-check passed";
                    } else {
                        return "fa fa-times failed";
                    }
                },
                date: function (date) {
                    return formats.date(date, window.config.country, false);
                },
                _getExecutedDate: function (rule) {
                    return this.date(rule[rule.name].executedDate);
                },
                _hasSourceOrIntermediateData: function (rule, type) {
                    var ruleObj = rule[rule.name];
                    if (type === "intermediateData") {
                        var intermidiateObj = ruleObj.intermediateData
                        if (intermidiateObj && Object.keys(intermidiateObj).includes("fields") && _.isEmpty(intermidiateObj.fields)) {
                            return false;
                        }
                    }
                    if (ruleObj[type] === null) {
                        return false;
                    }
                    return true;
                },
                _hasGroup: function (intData, type) {
                    var ruleObj = intData[intData.name];
                    if (ruleObj && ruleObj[type]) {
                        return true;
                    } else {
                        return false;
                    }
                },
                _getSourceGroups: function (intData, type) {
                    var ruleObj = intData[intData.name];
                    return Object.keys(ruleObj[type]);
                },
                _getSourceDisplayName: function (intData, type, name) {
                    var ruleObj = intData[intData.name];
                    if (ruleObj[type][name].displayName) {
                        return ruleObj[type][name].displayName;
                    }
                    else {
                        return name;
                    }
                },
                _getGroupFieldsByName: function (intData, type, name) {
                    var ruleObj = intData[intData.name];
                    if (ruleObj[type][name].fields) {
                        return ruleObj[type][name].fields;
                    } else {
                        var property = Object.keys(ruleObj[type][name])[0];
                        return ruleObj[type][name][property].fields;
                    }
                },
                _hasFields: function (intData, type) {
                    var ruleObj = intData[intData.name];
                    if (ruleObj && ruleObj[type] && ruleObj[type].fields) {
                        return true;
                    } else {
                        return false;
                    }
                },
                _getGroupFields: function (intData, type, name) {
                    var ruleObj = intData[intData.name];
                    return ruleObj[type][name];
                },
                _hasFieldsWithNTC: function (intData, type, groupName) {
                    var ruleObj = intData[intData.name];
                    if (ruleObj && ruleObj[type] && ruleObj[type].fields) {
                        return true;
                    }
                    if (groupName == "NTCData") {
                        var objscore = this.scoreCard;
                        if (objscore.CalculateInitialOffer.intermediateData.NTCData == undefined) {
                            return true;
                        }
                    }
                    return false;
                },
                _getIntermediateDisplayName: function (intData, type, name) {
                    var ruleObj = intData[intData.name];
                    if (ruleObj[type][name][0].displayName) {
                        return ruleObj[type][name][0].displayName;
                    }
                    else {
                        return name;
                    }
                },
                _renderField: function (intData, type, field, index) {
                    var ruleObj = intData[intData.name];
                    var groupName = Object.keys(ruleObj[type])[0];
                    var obj = ruleObj[type][groupName];
                    if (index > 0 && obj.length >= 3 && intData.FinalOfferCalculation != undefined) {
                        var RepeatKey = ['loantenure', 'offerAmount', 'emi', 'interestRate', 'processingFee'];
                        if (RepeatKey.indexOf(field.data) != -1) {
                            return true;
                        }
                        else {
                            return false;
                        }
                    }
                    else {
                        return true;
                    }
                },
                _AddBreak: function (field, intData) {
                    if (field.data == "loantenure" && intData.FinalOfferCalculation != undefined) {
                        return true;
                    }
                    else {
                        return false;
                    }
                },
                _checkIfRolesAndAssigneeOnField: function (field) {
                    if (field.hasOwnProperty('isVisible')) {
                        return field.isVisible ? field.value : "";
                    }
                    return field.value;
                }
            });
        });
    </script>
</dom-module>