<dom-module id="user-activity">
    <template>
        <style>
            .activity-stream {
                overflow-y: auto;
            }

            .stream .stream-info .date {
                color: #9a9d9f;
                font-size: 80%;
            }

            .eventName {
                color: #337ab7;
                cursor: default;
            }

            .my-image {
                --image-circle-width: 25px;
                --image-circle-height: 25px;
                --image-circle-margin-x: -4px;
                --image-circle-margin-y: 2px;
                --image-circle-cursor: default;
            }

            .ibox {
                margin-bottom: 0;
                color: inherit;
                background-color: #ffffff;
                border-color: #e7eaec;
                border-image: none;
                border-style: solid solid none;
                border-width: 4px 0 0;
            }

            .ibox-title {
                cursor: default;
                border: none;
                padding: 15px 30px 15px 15px;
            }

            .ibox-content {
                padding: 15px 5px 0;
            }

            .stream {
                position: relative;
                padding: 10px 0;
            }

            .stream .stream-badge,
            .stream .firstChild,
            .stream .lastChild {
                width: 50px;
            }

            .stream .stream-panel {
                margin-left: 40px;
                margin-top: 4px;
            }

            .stream .stream-info {
                font-size: 12px;
                margin-bottom: 5px;
            }

            .stream .stream-info .date {
                color: #9a9d9f;
                font-size: 80%;
            }

            .stream .stream-badge i,
            .stream .firstChild i,
            .stream .lastChild i {
                border: 1px solid #e7eaec;
                border-radius: 50%;
                padding: 6px;
                color: #808486;
                position: absolute;
                background-color: #ffffff;
                left: 8px;
            }

            .stream .stream-badge:before {
                content: '';
                width: 1px;
                background-color: #e7eaec;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 20px;
            }

            .stream .firstChild:before {
                content: '';
                width: 1px;
                background-color: #e7eaec;
                position: absolute;
                top: 10px;
                bottom: 0;
                left: 20px;
            }

            .stream .lastChild:before {
                content: '';
                width: 1px;
                background-color: #e7eaec;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 20px;
                height: 30px;
            }
        </style>
        <div class="ibox">
            <div class="ibox-title">
                <h5>User Activity List</h5>
            </div>
            <div class="ibox-content">
                <div class="activity-stream">
                    <template is="dom-repeat" items="{{activityList}}" as="activityObj">
                        <div class="stream">
                            <div class="stream-badge" class$="{{_computeClass(index)}}">
                                <i title="{{activityObj.title}}" class$="{{_computeIconClass(activityObj.event.name)}}" aria-hidden="true"></i>
                            </div>
                            <div class="stream-panel">
                                <div class="stream-info">
                                    <a href="javascript:">
                                        <image-circle class="my-image" img-obj="{{activityObj}}" username-prop="author" full-username-prop="author"></image-circle>
                                        <span class="eventName">{{_changeTextDisplay(activityObj.event.name)}}</span>
                                        <span class="date"> at {{formatDate(activityObj.activityDate)}}</span>
                                    </a>
                                </div>
                                {{activityObj.description}}
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
        <alloy-config id="config"></alloy-config>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "user-activity",
                properties: {
                    activityList: {
                        type: Array,
                        notify: true,
                        reflectToAttribute: true
                    }
                },
                init: function () {

                },
                ready: function () {
                    this._getActivityIconConfigurations();
                },
                _changeTextDisplay: function (value) {
                    if (!_.isNull(value) && !_.isUndefined(value) && !_.isEmpty(value))
                        return _.startCase(_.lowerCase(value));
                    return "";
                },
                formatDate: function (date) {
                    return formats.date(date, window.config.country, true);
                },
                _computeClass: function (index) {
                    var length = this.activityList.length;
                    if (index === 0) {
                        return "firstChild";
                    }
                    else if (index === length - 1) {
                        return "lastChild";
                    }
                    else {
                        return "stream-badge";
                    }
                },
                _computeIconClass: function (eventName) {
                    var iconConfig = this.iconConfig;
                    return iconConfig.hasOwnProperty(eventName) ? iconConfig[eventName] : "fa fa-circle";
                },
                _getActivityIconConfigurations: function () {
                    var self = this;
                    var data = self.$.config.getConfigurationBasedOnKey("activity-icons");
                    this.set('iconConfig', data);
                },
            })
        })
    </script>
</dom-module>