<html-import html-href="fact-verification/fact-modal.html"></html-import>
<html-import html-href="fact-verification/status-icon.html"></html-import>
<dom-module id="verification-details">
    <template>
        <style>
            .table>thead>tr>th,
            .table>tbody>tr>td {
                vertical-align: middle;
                text-align: center;
                padding: 4px;
            }

            td .btn {
                margin: 0 !important;
                font-size: 12px;
                padding: 2px 5px;
            }

            .sendEmailToast {
                max-width: 536px !important;
                position: static !important;
            }

            .left-align {
                text-align: left !important;
            }

            .helpIcon {
                cursor: pointer;
                font-size: 14px;
                color: lightseagreen;
            }
        </style>
        <spinkit-wave hidden$="{{loading}}"></spinkit-wave>
        <table hidden$="{{!loading}}" class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th title="{{getTooltip('Fact','FactGrid')}}">Fact</th>
                    <th title="{{getTooltip('Status','FactGrid')}}">Status</th>
                    <th title="{{getTooltip('VerificationResult','FactGrid')}}">Verification Result</th>
                    <th title="{{getTooltip('VerifiedBy','FactGrid')}}">Verified By</th>
                    <th title="{{getTooltip('VerifiedOn','FactGrid')}}">Verified On</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <template is="dom-repeat" items="{{currentFacts}}">
                    <tr>
                        <td>
                            <status-icon verification-status="{{item.verificationResult}}" current-status="{{item.status}}" method-list="{{item.tabs}}"
                                current-initiated-method="{{item.currentInitiatedMethod}}"></status-icon>
                        </td>
                        <td class="left-align">{{item.displayName}}
                            <i aria-hidden="true" class="fa fa-info-circle helpIcon" data-args="{{item.fact}}" on-click="Helptext"></i>
                        </td>
                        <td>{{item.status}}</td>
                        <td>{{item.verificationResult}}</td>
                        <td>{{item.verifiedBy}}</td>
                        <td>{{item.verifiedDate}}</td>
                        <td>
                            <template is="dom-if" if="[[_checkFactInfo(item)]]">
                                <fact-modal id="[[generateId(item)]]" fact-obj="[[item]]" current-entity-name="{{currentEntityName}}" application-number="{{applicationNumber}}"
                                    status-obj="{{statusObj}}" document-reasons="[[documentReasons]]" fire-event="{{getEvents('VerificationDashboard')}}"></fact-modal>
                                <button on-click="showFactModal" class="btn btn-primary">Detail</button>
                            </template>
                        </td>
                    </tr>
                </template>

            </tbody>
        </table>
        <template is="dom-if" if="{{hasRole('AddNewVerification')}}">
            <div class="pull-right">
                <paper-button class="btn btn-primary activity-action-btn" on-click="_AddNewFact" raised>Add New Verification</paper-button>
            </div>
        </template>
        <div id="toastContainer">
            <paper-toast id="toast" class="fit-bottom sendEmailToast" duration="2000" text="Optional fact can not be initiated!"></paper-toast>
        </div>
        <template is="dom-if" if="[[_checkOptionalFacts(optionalFacts)]]">
            <h4 style="margin: 15px auto;">Optional Facts</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Fact</th>
                        <th>Status</th>
                        <th>Verification Result</th>
                        <th>Verified By</th>
                        <th>Verified On</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <template is="dom-repeat" items="{{optionalFacts}}" as="factObj">
                        <tr>
                            <td>
                                <status-icon verification-status="{{factObj.verificationResult}}" current-status="{{factObj.status}}"></status-icon>
                            </td>
                            <td class="left-align">{{factObj.displayName}}
                                <i aria-hidden="true" class="fa fa-info-circle helpIcon" data-args="{{factObj.fact}}" on-click="Helptext"></i>
                            </td>
                            <td>{{factObj.status}}</td>
                            <td>{{factObj.verificationResult}}</td>
                            <td>{{factObj.verifiedBy}}</td>
                            <td>{{factObj.verifiedDate}}</td>
                            <td>
                                <button model$="[[factObj]]" on-click="_initiatOptionalFact" class="btn btn-primary">Initiate</button>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </template>
        <template is="dom-if" if="[[_checkIfFactHistory(historyFacts)]]">
            <h4 style="margin: 15px auto;">Historical Fact Data</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Fact</th>
                        <th>Product</th>
                        <th>Status WorkFlow</th>
                        <th>Status</th>
                        <th>Verification Result</th>
                        <th>Verified By</th>
                        <th>Verified On</th>
                    </tr>
                </thead>
                <tbody>
                    <template is="dom-repeat" items="{{historyFacts}}" as="factObj">
                        <tr>
                            <td>
                                <status-icon verification-status="{{factObj.verificationStatus}}" current-status="{{factObj.currentStatus}}"></status-icon>
                            </td>
                            <td class="left-align">{{factObj.factName}}
                                <i aria-hidden="true" class="fa fa-info-circle helpIcon" data-args="{{factObj.factName}}" on-click="Helptext"></i>
                            </td>
                            <td>{{factObj.productId}}</td>
                            <td>{{factObj.statusWorkFlowId}}</td>
                            <td>{{factObj.currentStatus}}</td>
                            <td>{{factObj.verificationStatus}}</td>
                            <td>{{factObj.lastVerifiedBy}}</td>
                            <td>{{formatDate(factObj.lastVerifiedDate.time)}}</td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </template>
        <custom-modal id="addnewverificationmodal" class="modal-drop" on-modal-hidden="resetModal">
            <div>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Add New Verification</h4>
                        </div>
                        <div class="modal-body">
                            <div id="ErrorMessageContainer"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <form is="iron-form" class="form-horizontal" name="scorCardForm">
                                        <dynamic-form form-configuration={{dynamicVerification}} values="{{dynamicVerification.values}}"></dynamic-form>
                                        <br/>
                                        <template is="dom-if" if="{{hasRole('AddNewVerification')}}">
                                            <paper-button class="btn btn-primary activity-action-btn" on-click="_AddVerification" raised>Submit</paper-button>
                                        </template>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <alloy-format id="format"></alloy-format>
        <alloy-config id="config"></alloy-config>
        <auth-service id="authorize"></auth-service>
        <lookup-service id="lookup"></lookup-service>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "verification-details",
                properties: {
                    loading: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    masterFacts: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    masterFactsConfig: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    statusObj: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    historyFacts: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    optionalFacts: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    currentFacts: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    documentReasons: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    },
                    dynamicVerification: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                VerificationName: {
                                    label: "Verification Name",
                                    type: "textbox",
                                    class: "twoRow",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                DocumentRequired: {
                                    label: "Document Required",
                                    type: "combobox",
                                    class: "twoRow",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                DocumentMessage: {
                                    label: "Document Message",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 2000
                                    }
                                }
                            },
                            values: {
                                VerificationName: "",
                                DocumentRequired: "",
                                DocumentMessage: ""
                            }
                        }
                    }
                },
                _checkFactInfo: function (item) {
                    return true;
                },
                generateId: function (item) {
                    return item.fact.replace(/ /g, '') + item.displayOrder;
                },
                showFactModal: function (e) {
                    var self = this;
                    self.$$('#' + self.generateId(e.model.__data__.item)).show();
                },
                formatDate: function (date) {
                    if (date !== undefined && date !== null && date !== "") {
                        return moment.tz(date, window.config.timezone).format("MM/DD/YYYY LT z");
                    }
                    return "";
                },
                _checkOptionalFacts: function (optionalFacts) {
                    if (!_.isNull(optionalFacts) && !_.isUndefined(optionalFacts) && !_.isEmpty(optionalFacts)) {
                        return true;
                    }
                    return false;
                },
                _checkIfFactHistory: function (historyFacts) {
                    if (!_.isNull(historyFacts) && !_.isUndefined(historyFacts) && !_.isEmpty(historyFacts)) {
                        return true;
                    }
                    return false;
                },
                _checkIfNullObject: function (obj) {
                    return Object.keys(obj).length === 0 && obj.constructor === Object;
                },
                _getDynamicName: function (array, propName, factName) {
                    var Obj = array.filter(function (e) {
                        return e[propName] === factName;
                    });
                    return Obj || [];
                },
                _getFactByFactName: function (array, propName, factName) {
                    var Obj = array.filter(function (e) {
                        return e[propName] === factName;
                    })[0];
                    return Obj || {};
                },
                _checkVerificationStatus: function (factObj, requiredObj) {
                    var self = this;
                    if (!self._checkIfNullObject(factObj)) {
                        requiredObj.attempts = factObj.attempts;
                        requiredObj.verificationSources = factObj.verificationSources;
                        if (factObj.hasOwnProperty("verificationStatus")) {
                            if (factObj.verificationStatus === "None") {
                                requiredObj.initiated = true;
                                requiredObj.verifyButton = false;
                            }
                            if (factObj.verificationStatus === "Failed") {
                                requiredObj.initiated = false;
                                requiredObj.verifyButton = true;
                            }
                            if (factObj.verificationStatus === "Passed") {
                                requiredObj.initiated = false;
                                requiredObj.verifyButton = false;
                            }
                        }
                    }
                    return requiredObj;
                },
                _checkVerificationStatusForSource: function (sourceName, sources, status) {
                    var attemptObj = sources.filter(function (e) {
                        return e.sourceName === sourceName && e.result === status;
                    });
                    return attemptObj.length > 0 ? true : false;
                },
                _checkVerificationStatusBasedOnTabs: function (factConfig, factObj, requiredObj) {
                    var self = this;
                    var tempObj = self._checkVerificationStatus(factObj, requiredObj);
                    if (factConfig.tabs.length <= 1) {
                        return tempObj;
                    }
                    else {
                        var tab1 = factConfig.tabs[0];
                        var tab2 = factConfig.tabs[1];
                        if (tempObj.attempts.length > 0 && self._checkVerificationStatusForSource(tab1.source, tempObj.attempts, "Failed")) {
                            tempObj.initiated = true;
                            tempObj.verifyButton = false;
                        }
                        if (tempObj.attempts.length > 0 && self._checkVerificationStatusForSource(tab2.source, tempObj.attempts, "Passed")) {
                            requiredObj.initiated = false;
                            requiredObj.verifyButton = false;
                        }
                        return tempObj;
                    }
                },
                _checkIfSystemMethodFailed: function (factObj, methodList, manualForm) {
                    var formTypeMethods = _.filter(methodList, { method: factObj.currentInitiatedMethod, type: "Review", isReviewMethod: true });
                    return _.isEmpty(formTypeMethods) ? manualForm : true;
                },
                _verificationDetails: function (facts) {
                    var self = this;
                    self.$.http.get("/verification-engine/" + self.currentEntityName + "/" + self.applicationNumber, "").then(function (data) {
                        self.set('loading', true);
                        for (var i = 0; i < facts.length; i++) {
                            var factObj = self._getFactByFactName(data, 'factName', facts[i].fact);
                            if (!self._checkIfNullObject(factObj)) {
                                var requiredObj = { initiated: false, verifyButton: true };
                                facts[i].status = factObj.currentStatus;
                                facts[i].verificationResult = factObj.verificationStatus;
                                facts[i].verifiedBy = _.isNull(factObj.lastVerifiedBy) ? "-" : _.startCase(factObj.lastVerifiedBy);
                                facts[i].verifiedDate = _.isNull(factObj.lastVerifiedDate) ? "-" : self.formatDate(factObj.lastVerifiedDate.time);
                                facts[i].attempts = factObj.attempts;
                                facts[i].verificationSources = factObj.verificationSources;
                                facts[i].isOptional = false;
                                facts[i].manualForm = self._checkIfSystemMethodFailed(factObj, facts[i].tabs, facts[i].manualForm);
                                facts[i].currentInitiatedMethod = factObj.currentInitiatedMethod;
                                facts[i].isDynamicFact = false;
                                facts[i] = $.extend({}, facts[i], self._checkVerificationStatusBasedOnTabs(facts[i], factObj, requiredObj));
                            }
                        }
                        var dFact = self._getDynamicName(data, "isDynamic", true);
                        var newFacts = _.transform(dFact, function (result, item) {
                            facts.push({
                                fact: item.factName,
                                displayName: item.factName,
                                status: item.currentStatus,
                                verificationResult: item.verificationStatus,
                                verifiedBy: _.isNull(item.lastVerifiedBy) ? "-" : _.startCase(item.lastVerifiedBy),
                                verifiedDate: _.isNull(item.lastVerifiedDate) ? "-" : self.formatDate(item.lastVerifiedDate.time),
                                attempts: item.attempts,
                                verificationSources: item.verificationSources,
                                isOptional: false,
                                manualForm: true,
                                verifyButton: false,
                                initiated: true,
                                isDynamicFact: true,
                                currentInitiatedMethod: item.currentInitiatedMethod,
                                tabs: [
                                    {
                                        type: "Form",
                                        tabName: item.factName,
                                        method: item.factName,
                                        source: item.factName,
                                        document: " ",
                                        values: {
                                            result: false
                                        },
                                        controls: {
                                            result: {
                                                label: "Pass",
                                                type: "checkbox",
                                                validations: {
                                                    required: false
                                                }
                                            }
                                        },
                                        isReviewMethod: false
                                    }
                                ]
                            });
                        }, []);
                        self.set('optionalFacts', _.filter(facts, { status: "-", isOptional: true }));
                        self.set('currentFacts', _.reject(facts, { isOptional: true }));
                        self._processHistoricalFactData(data);
                    }).fail(function (ex) {
                        self.set('loading', true);
                        console.error("loadConfig error is ", ex);
                    });
                },
                checkIfObjectIsAlreadyAddedInArray: function (objArray, propName, value) {
                    for (var i = objArray.length - 1; i > -1; i--) {
                        var propObj = objArray[i];
                        if (propObj[propName] === value) {
                            return true;
                        }
                    }
                    return false;
                },
                _fetchMethodsInfoForManualFact: function (factConfig, facts, factName) {
                    var fact = this._getFactByFactName(facts, 'name', factName);
                    var returnResult = { isOptional: fact.isOptional };
                    var methodList = fact.methods.filter(function (e) {
                        return (e.sources = e.sources.filter(function (e) {
                            return e.type === 'Form' || e.type === 'Review' || e.type === 'Polling';
                        })).length > 0;
                    });
                    var tabs = methodList.map(function (t) {
                        return {
                            type: t.sources[0].type,
                            tabName: t.name,
                            method: t.name,
                            source: t.sources[0].name,
                            document: t.sources[0].settings.hasOwnProperty('documentRequired') ? t.sources[0].settings.documentRequired : '',
                            values: factConfig[t.name] != undefined ? factConfig[t.name].values : {},
                            controls: factConfig[t.name] != undefined ? factConfig[t.name].controls : {},
                            isReviewMethod: t.isReviewMethod
                        };
                    });
                    returnResult.tabs = (tabs.length > 0 && factName !== "EmploymentVerification") ? tabs : [];
                    return returnResult;
                },
                _checkIfReviewMethod: function (methods) {
                    var formTypeMethods = _.filter(methods, { type: "Form" });
                    return !(_.isEmpty(formTypeMethods));
                },
                _checkIfPollingMethod: function (methods) {
                    var formTypeMethods = _.filter(methods, { type: "Polling" });
                    return !(_.isEmpty(formTypeMethods));
                },
                _transformFacts: function (facts, factConfig) {
                    var self = this;
                    var factList = [];
                    var keys = Object.keys(factConfig);
                    for (var i = 0; i < keys.length; i++) {
                        var factObj = factConfig[keys[i]];
                        var tabsObj = self._fetchMethodsInfoForManualFact(factConfig, facts, factObj.fact);
                        var tempObj = {};
                        tempObj.fact = factObj.fact;
                        tempObj.displayName = factObj.displayName;
                        tempObj.displayOrder = factObj.displayOrder;
                        tempObj.status = "-";
                        tempObj.verificationResult = "-";
                        tempObj.verifiedBy = "-";
                        tempObj.verifiedDate = "-";
                        tempObj.attempts = [];
                        tempObj.verificationSources = [];
                        tempObj.tabs = tabsObj.tabs;
                        tempObj.isOptional = tabsObj.isOptional;
                        tempObj.manualForm = self._checkIfReviewMethod(tabsObj.tabs);
                        tempObj.isPollingMethod = self._checkIfPollingMethod(tabsObj.tabs);
                        tempObj.initiated = false;
                        tempObj.verifyButton = true;
                        if (!self.checkIfObjectIsAlreadyAddedInArray(factList, 'fact', factObj.fact)) {
                            factList.push(tempObj);
                        }
                        tempObj = {};
                    }
                    return factList;
                },
                _getMasterData: function (factsInfo) {
                    var normObjArr = [];
                    var normObjArrSort = [];
                    var data = this._findFactsConfigBasedOnProduct();
                    var facts = this._transformFacts(factsInfo, data);
                    facts = facts.sort(function (obj1, obj2) {
                        return obj1.displayOrder - obj2.displayOrder;
                    });
                    this.set('masterFacts', factsInfo);
                    this._verificationDetails(facts);
                },
                _findFactsConfigBasedOnProduct: function () {
                    var statusObj = this.statusObj;
                    var data = this.$.config.getConfigurationBasedOnKey("facts");
                    this.set('masterFactsConfig', data);
                    var factsList = data[statusObj.productId];
                    return factsList[statusObj.statusWorkFlowId];
                },
                _loadFacts: function () {
                    var self = this;
                    var statusObj = self.statusObj;
                    var url = "/verification-engine/" + statusObj.productId + "/" + statusObj.statusWorkFlowId + "/config-detail";
                    self.$.http.get(url, "", false).then(function (data) {
                        self._getMasterData(data);
                    }).fail(function (e) {
                        console.error("_loadFacts error is ", e);
                    });
                },
                _loadDocumentReasons: function () {
                    var documentReasons = this.$.lookup.getLookupBasedOnName("documentReasons");
                    this.set('documentReasons', documentReasons);
                    this._loadFacts();
                },
                init: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    if (params.hasOwnProperty('entity')) {
                        self.set('currentEntityName', params.entity);
                    }
                    if (self.currentEntityName == "drawdown") {
                        self.applicationNumber = params.drawdownId;
                    }
                    else {
                        self.applicationNumber = params.app;
                    }
                    self._loadDocumentReasons();
                    var catList = this.$.lookup.getLookupBasedOnName("applicationDocument-category");
                    this.set('categoryLookup', catList);
                    self.dynamicVerification.controls.DocumentRequired.selectList = catList;
                    self.set('dynamicVerification', $.extend({}, self.get('dynamicVerification'), self.dynamicVerification));
                    self.addEventListener("VerificationDashboardRefresh", this.verificationDashboardRefresh.bind(this));
                },
                verificationDashboardRefresh: function () {
                    this._loadDocumentReasons();
                },
                getEvents: function (tab) {
                    if (window.config.events) {
                        var event = window.config.events[tab];
                        return event;
                    }
                },
                _initiatOptionalFact: function (event) {
                    var self = this;
                    var eventModel = event.model;
                    var $element = $(event.target);
                    var factObj = eventModel.get('factObj');
                    var statusObj = self.statusObj;
                    var tabObj = factObj.tabs[0];
                    var url = "/verification-engine/" + self.currentEntityName + "/" + self.applicationNumber + "/" + statusObj.statusWorkFlowId + "/" + factObj.fact + "/" + tabObj.method + "/initiate-manualverification";

                    self.$.http.post(url, {}, "").then(function (data) {
                        self._loadFacts();
                    }).fail(function (e) {
                        self.$$('#toast').fitInto = self.$$('#toastContainer');
                        $("#toastContainer").show();
                        self.$$('#toast').open();
                        setTimeout(function () {
                            $("#toastContainer").hide();
                        }, 1000);
                        console.error("application error is ", e);
                    });
                },
                Helptext: function (e) {
                    var self = this;
                    var args = e.target.dataArgs;
                    var tooltipObj = self.$.authorize.getToolTip(args, "Fact");
                    $("h4.modal-title").text(tooltipObj.title);
                    $('#modalDesc').html(tooltipObj.data);
                    $('#helpTextModal')[0].showModal();
                },
                getTooltip: function (compName, Type) {
                    var tooltip = this.$.authorize.getToolTip(compName, Type);
                    if (!_.isNull(tooltip) && !_.isUndefined(tooltip) && !_.isEmpty(tooltip))
                        return tooltip.data;
                    return "";
                },
                _processHistoricalFactData: function (data) {
                    var statusObj = this.statusObj;
                    var data = _.reject(data, { productId: statusObj.productId, statusWorkFlowId: statusObj.statusWorkFlowId });
                    var factData = _.orderBy(data, ['productId', 'statusWorkFlowId'], ['asc', 'desc']);
                    this.set('historyFacts', factData);
                },
                groupByMulti: function (list, values, context) {
                    var self = this;
                    if (!values.length) {
                        return list;
                    }
                    var byFirst = _.groupBy(list, values[0], context),
                        rest = values.slice(1);
                    for (var prop in byFirst) {
                        byFirst[prop] = self.groupByMulti(byFirst[prop], rest, context);
                    }
                    return byFirst;
                },
                _AddNewFact: function (event) {
                    event.preventDefault();
                    this.$$('#addnewverificationmodal').showModal();
                },
                _AddVerification: function (event) {
                    var self = this;
                    event.preventDefault();
                    var params = self.$.url.getParams();
                    var url = "/verification-engine/" + self.currentEntityName + "/" + self.applicationNumber + "/" + params.workflow + "/initiate-dynamicfact-verification";
                    var payload = {
                        FactName: self.dynamicVerification.values.VerificationName,
                        DocumentDetails: [
                            {
                                Name: self.dynamicVerification.values.DocumentMessage,
                                Category: self.dynamicVerification.values.DocumentRequired
                            }
                        ]
                    };
                    self.$.http.post(url, payload, "").then(function (data) {
                        self.$$('#addnewverificationmodal').hideModal();
                        var fireEvent = {
                            "RefreshVerificationDashboard": true,
                            "RefreshDataAttributes": true,
                            "RefreshDocuments": true,
                            "RefreshActivity": true,
                            "ShowMessage": true
                        };
                        self.$.utility.raiseEvent(fireEvent, {});
                    }).fail(function (e) {
                        console.error("application error is ", e);
                    });
                },
                hasRole: function (RoleName) {
                    return this.$.authorize.hasRole(RoleName);
                }
            });
        });
    </script>
</dom-module>