<dom-module id="checkbox-group">
    <template>
        <style>
            :host {
                display: block;
            }

            :host ::content>* {
                padding: var(--checkbox-group-item-padding, 10px);
                padding-left: 0;
            }
        </style>

        <template is="dom-repeat" items="[[checkboxes]]">
            <paper-checkbox id$="[[_computeId(item)]]" checked$="[[_computeCheck(item)]]" disabled$="[[disabled]]">[[item]]</paper-checkbox>
        </template>
    </template>
    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'checkbox-group',

                listeners: {
                    'change': '_checkedChanged'
                },

                properties: {
                    checkboxes: {
                        type: Array,
                        notify: true
                    },
                    selectedItems: {
                        type: Array,
                        notify: true,
                        value: function () {
                            return [];
                        },
                        observer: '_valueChanged',
                    },
                    disabled: {
                        type: Boolean,
                        notify: true,
                        value: false
                    }
                },

                reset: function () {
                    this.selectedItems = [];
                },

                _computeId: function (item) {
                    return item.replace(/\W/g, '');
                },

                _computeCheck: function (item) {
                    return (this.selectedItems.indexOf(item) === -1) ? false : true;
                },

                _valueChanged: function () {
                    var _this = this;
                    var checkboxes = _this.checkboxes;
                    if (checkboxes) {
                        for (var i = 0; i < checkboxes.length; i++) {
                            var checkbox = _this.$$('#' + _this._computeId(checkboxes[i]));
                            if (checkbox) {
                                checkbox.checked = _this._computeCheck(checkboxes[i]) ? true : false;
                            }
                        }
                    }
                },

                _checkedChanged: function () {
                    var _this = this;
                    var checkboxes = _this.checkboxes;
                    var _value = [];
                    for (var i = 0; i < checkboxes.length; i++) {
                        if (_this.$$('#' + _this._computeId(checkboxes[i])).checked) {
                            _value.push(checkboxes[i]);
                        }
                    }
                    _this.selectedItems = _value;
                },

                validate: function () {
                    var _this = this;

                    if (_this.selectedItems && _this.selectedItems.length > 0) {
                        return true;
                    }

                    return false;
                }
            });
        })();
    </script>
</dom-module>