<html-import html-href="custom-component/calendar-icon.html"></html-import>
<dom-module id="custom-panel">
    <template>
        <style>
            .dl-horizontal.custom-panel dt.custom-panel {
                width: 110px !important;
                text-align: left;
            }

            ul.custom-panel {
                list-style-type: none !important;
                padding-left: 0px;
            }

            .panel-body {
                min-height: 0px;
            }

            .panel-title.custom-panel {
                font-size: 14px;
                margin-top: 0 !important;
            }

            .panel-group .panel {
                border-radius: 0;
                box-shadow: none;
                border-color: #EEEEEE;
            }

            .panel-default>.panel-heading {
                padding: 0;
                border-radius: 0;
                color: #03466B;
                background-color: #ddd;
                border-color: #ddd;
            }

            .panel-title {
                font-size: 14px;
            }

            .panel-title>a {
                display: block;
                padding: 15px;
                text-decoration: none;
            }

            .more-less {
                float: right;
            }

            .panel-default>.panel-heading+.panel-collapse>.panel-body {
                border-top-color: #EEEEEE;
            }

            .panel.panel-default.custom-panel {
                margin-bottom: 10px !important;
                border-radius: 0;
                box-shadow: none;
                border-color: #EEEEEE;
            }

            .div-ul li {
                display: inline-flex;
                width: 47%;
                margin: 5px auto;
            }

            .div-ul li>b {
                margin-right: 2px;
            }

            .div-ul li>b:nth-of-type(2) {
                font-weight: normal;
            }

            .div-ul li.array-list {
                display: block;
                width: auto;
            }

            .bluedash {
                color: blue;
                font-size: 17px;
            }

            .green {
                color: green;
                font-size: 17px;
            }

            .fa-toggle-on {
                color: green;
                font-size: 17px;
            }

            .fa-toggle-off {
                color: red;
                font-size: 17px;
            }

            .red {
                color: red;
                font-size: 17px;
            }

            .fa-question {
                font-size: 17px;
            }
        </style>
        <template is="dom-repeat" items="{{reports}}" as="report">
            <template is="dom-if" if="{{_hasReport(report)}}">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="{{report.headerId}}">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#report" href="#{{report.id}}" aria-expanded="true" aria-controls="{{report.id}}">
                                <i class="more-less fa fa-plus"></i> {{report.name}}
                            </a>
                        </h4>
                    </div>
                    <div id="{{report.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{report.headerId}}">
                        <div class="panel-body">
                            <div class="col-lg-12">
                                <ul class="div-ul">
                                    <template is="dom-repeat" items="{{report.fields}}" as="field">
                                        <li class$="{{_getClass(field)}}">
                                            <template is="dom-if" if="{{!_isobjectArrayFormat(field)}}">
                                                <b>{{field.label}}:&nbsp;</b>
                                                <template is="dom-if" if="{{_hasCondFormat(field)}}">
                                                    <i class$="{{_getCondClass(field)}}"></i>&nbsp;{{_checkIfRolesAndAssigneeOnField(field)}}
                                                </template>
                                                <template is="dom-if" if="{{!_hasCondFormat(field)}}">
                                                    <template is="dom-if" if="{{_hasDateFormat(field)}}">
                                                        <calendar-icon day-value="{{field.day}}" month-value="{{field.month}}" year-value="{{field.year}}"></calendar-icon>
                                                    </template>
                                                    <template is="dom-if" if="{{!_hasDateFormat(field)}}">
                                                        <b inner-h-t-m-l="{{_checkIfRolesAndAssigneeOnField(field)}}"></b>
                                                    </template>
                                                </template>
                                            </template>
                                            <template is="dom-if" if="{{_isobjectArrayFormat(field)}}">
                                                <ul>
                                                    <template is="dom-if" if="{{_isobjectArrayLabel(field,'MerchnatNotes')}}">
                                                        <template is="dom-repeat" items="{{notes}}" as="field">
                                                            <hr>
                                                            <b> Merchant Notes {{_indexNumber(index)}} :</b>
                                                            </br>
                                                            <template is="dom-repeat" items="{{field}}" as="d">
                                                                <li>
                                                                    <b>{{d.label}}:&nbsp;</b>
                                                                    <template is="dom-if" if="{{_hasCondFormat(d)}}">
                                                                        <span class$="{{_getCondClass(d)}}">{{_checkIfRolesAndAssigneeOnField(d)}} </span>
                                                                    </template>
                                                                    <template is="dom-if" if="{{!_hasCondFormat(d)}}">
                                                                        <template is="dom-if" if="{{_hasDateFormat(d)}}">
                                                                            <calendar-icon day-value="{{d.day}}" month-value="{{d.month}}" year-value="{{d.year}}"></calendar-icon>
                                                                        </template>
                                                                        <template is="dom-if" if="{{!_hasDateFormat(d)}}">
                                                                            <span>{{_checkIfRolesAndAssigneeOnField(d)}} </span>
                                                                        </template>
                                                                    </template>
                                                                </li>
                                                            </template>
                                                        </template>
                                                    </template>
                                                    <template is="dom-if" if="{{_isobjectArrayLabel(field,'bankruptcyData')}}">
                                                        <template is="dom-repeat" items="{{bankruptcyData}}" as="field">
                                                            <hr>
                                                            <b> Bankruptcy Details {{_indexNumber(index)}} :</b>
                                                            </br>
                                                            <template is="dom-repeat" items="{{field}}" as="d">
                                                                <li>
                                                                    <b>{{d.label}}:&nbsp;</b>
                                                                    <template is="dom-if" if="{{_hasCondFormat(d)}}">
                                                                        <span class$="{{_getCondClass(d)}}">{{_checkIfRolesAndAssigneeOnField(d)}} </span>
                                                                    </template>
                                                                    <template is="dom-if" if="{{!_hasCondFormat(d)}}">
                                                                        <template is="dom-if" if="{{_hasDateFormat(d)}}">
                                                                            <calendar-icon day-value="{{d.day}}" month-value="{{d.month}}" year-value="{{d.year}}"></calendar-icon>
                                                                        </template>
                                                                        <template is="dom-if" if="{{!_hasDateFormat(d)}}">
                                                                            <span>{{_checkIfRolesAndAssigneeOnField(d)}} </span>
                                                                        </template>
                                                                    </template>
                                                                </li>
                                                            </template>
                                                        </template>
                                                    </template>
                                                    <template is="dom-if" if="{{_isobjectArrayLabel(field,'Ocrolus')}}">
                                                        <template is="dom-repeat" items="{{ocinfo}}" as="field">
                                                            <hr>
                                                            <template is="dom-repeat" items="{{field}}" as="d">
                                                                <li>
                                                                    <b>{{d.label}}:&nbsp;</b>
                                                                    <template is="dom-if" if="{{_hasCondFormat(d)}}">
                                                                        <span class$="{{_getCondClass(d)}}">{{_checkIfRolesAndAssigneeOnField(d)}} </span>
                                                                    </template>
                                                                    <template is="dom-if" if="{{!_hasCondFormat(d)}}">
                                                                        <template is="dom-if" if="{{_hasDateFormat(d)}}">
                                                                            <calendar-icon day-value="{{d.day}}" month-value="{{d.month}}" year-value="{{d.year}}"></calendar-icon>
                                                                        </template>
                                                                        <template is="dom-if" if="{{!_hasDateFormat(d)}}">
                                                                            <span>{{_checkIfRolesAndAssigneeOnField(d)}} </span>
                                                                        </template>
                                                                    </template>
                                                                </li>
                                                            </template>
                                                        </template>
                                                    </template>
                                                </ul>
                                            </template>
                                        </li>
                                    </template>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </template>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "custom-panel",
                properties: {
                    reports: {
                        type: Array,
                        notify: true,
                        value: []
                    }
                },
                _hasReport: function (report) {
                    if (report && report.name && report.hasReport) {
                        return true;
                    }
                    return false;
                },
                _isobjectArrayFormat: function (field) {
                    if (field.format === "objectArray") {
                        return true;
                    } else {
                        return false;
                    }
                },
                _isobjectArrayLabel: function (field, fieldlabel) {
                    if (field.label === fieldlabel) {
                        return true;
                    } else {
                        return false;
                    }
                },
                _getClass: function (field) {
                    return field.format === "objectArray" ? "array-list" : "";
                },
                _indexNumber: function (index) {
                    return index + 1;
                },
                _hasCondFormat: function (field) {
                    return scoring.hasCondFormat(field);
                },
                _getCondClass: function (field) {
                    return scoring.evalCondFormat(field);
                },
                _hasDateFormat: function (field) {
                    return scoring.hasDateFormat(field);
                },
                _checkIfRolesAndAssigneeOnField: function (field) {
                    if (field.hasOwnProperty('isVisible')) {
                        return field.isVisible ? field.value : "";
                    }
                    return field.value;
                }
            });
        });
    </script>
</dom-module>