<dom-module id="custom-table-component">
    <template>
        <style>
            ul {
                list-style-type: none !important;
                padding-left: 0px;
            }

            li {
                display: inline-block;
                width: 30%;
                margin: 5px auto;
            }

            li>b {
                margin-right: 2px;
            }

            li>b:nth-of-type(2) {
                font-weight: normal;
            }

            .dt-body-right {
                text-align: right !important;
            }

            .dt-body-center {
                text-align: center !important;
            }

            th.h-center-c-left {
                text-align: center !important;
            }

            td.h-center-c-left {
                text-align: left !important;
            }

            th.h-right-c-right {
                text-align: right !important;
            }

            td.h-right-c-right {
                text-align: right !important;
            }

            th.h-center-c-center {
                text-align: center !important;
            }

            td.h-center-c-center {
                text-align: center !important;
            }

            th.h-center-c-right {
                text-align: center !important;
            }

            td.h-center-c-right {
                text-align: right !important;
            }

            .width-15 {
                width: 15%;
            }

            .width-20 {
                width: 20%;
            }

            .width-65 {
                width: 65%;
            }
        </style>
        <custom-modal id="{{generateId(indxTop,indx)}}" class="modal-drop" on-modal-hidden="resetModal">
            <div>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Recurring Transactions</h4>
                        </div>
                        <div class="modal-body">
                            <ul>
                                <template is="dom-repeat" items="{{getItemSummary(parentData)}}">
                                    <template is="dom-if" if="{{!_IsLinkFormat(item)}}">
                                        <li>
                                            <b>{{item.label}}:&nbsp;</b> {{item.value}}</li>
                                    </template>
                                </template>
                            </ul>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="h-center-c-left width-15">Date</th>
                                        <th class="h-right-c-right width-20">Amount</th>
                                        <th class="h-center-c-left width-65">Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <template is="dom-repeat" items="{{getItems(transactions)}}">
                                        <tr>
                                            <td class="h-center-c-left width-15">{{item.Date}}</td>
                                            <td class="h-right-c-right width-20">{{formatMoney(item.Amount)}}</td>
                                            <td class="h-center-c-left width-65">{{item.Description}}</td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "custom-table-component",
                properties: {
                    indxTop: {
                        type: String,
                        notify: true,
                        value: ''
                    },
                    indx: {
                        type: String,
                        notify: true,
                        value: ''
                    },
                    parentData: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    transactions: {
                        type: Array,
                        notify: true,
                        value: []
                    }
                },
                show: function () {
                    var modalID = '#' + this.generateId();
                    this.$$(modalID).showModal();
                },
                generateId: function () {
                    return 'modal' + this.indxTop + this.indx;
                },
                getItems: function () {
                    var self = this;
                    if (self.transactions != null && self.transactions != undefined) {
                        return self.transactions.value;
                    }
                },
                _IsLinkFormat: function (field) {
                    if (field.format != undefined && field.format == 'link') {
                        return true;
                    }
                    return false;
                },
                getItemSummary: function () {
                    var self = this;
                    if (self.parentData != null && self.parentData != undefined) {
                        return self.parentData;
                    }
                },
                isItemsAvailalable: function () {
                    var data = this.transactions.value;
                    if (data != null && data.length > 0 && data[0].Amount != undefined) {
                        return true;
                    }
                    return false;
                }, formatMoney: function (value) {
                    return formats.money(value, window.config.country, 0);
                }
            });
        });
    </script>
</dom-module>