<dom-module id="custom-modal">
    <template>
        <div id="modal-wrapper" class="modal">
            <content></content>
        </div>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "custom-modal",
                attached: function () {
                    var self = this;

                    if (window.jQuery) {
                        self.init()();
                    } else {
                        window.addEventListener("WebComponentsReady", self.init())
                    }
                },
                init: function () {
                    var self = this;
                    return function () {
                        $(self.$["modal-wrapper"]).on("hidden.bs.modal", function () {
                            self.fire("modal-hidden");
                        });
                        $(self.$["modal-wrapper"]).on("shown.bs.modal", function () {
                            self.fire("modal-shown");
                        });
                    }
                },
                showModal: function () {
                    $(this.$["modal-wrapper"]).modal("show");
                },
                hideModal: function () {
                    $(this.$["modal-wrapper"]).modal("hide");
                }
            });
        });
    </script>
</dom-module>