<dom-module id="editable-label">
    <style>
        #static {
            border: 1px solid #E6F0EA;
            min-width: 10px;
            height: 13px;
            float: left;
            font-size: 12px;
            font-family: dejavu sans mono, monospace;
        }
    </style>
    <template>
        <div hidden?='{{hidden}}'>
            <div id='static' on-click='startEditing'>{{text}}</div>
            <input id='dynamic' type='text' value='{{text}}' size='{{width}}' on-blur='stopEditing' on-keypress='handleKeyPress' />
        </div>
    </template>
    <script>
        Polymer({
            is: "editable-label",
            properties: {
                text: {
                    type: String,
                    value: ''
                },
                editing: {
                    type: Boolean,
                    value: false
                },
                width: {
                    type: String,
                    value: '10'
                },
                lastText: {
                    type: String,
                    value: ''
                },
                hidden: {
                    type: Boolean,
                    value: false
                },
                done: {
                    type: String,
                    notify: true,
                    value: ''
                }
            },
            toggleEditing: function () {
                if (this.editing) {
                    this.$.dynamic.style.display = 'none';
                    this.$.static.style.display = 'block';
                } else {
                    this.$.dynamic.style.display = 'block';
                    this.$.static.style.display = 'none';
                }
                this.editing = !this.editing;
            },
            ready: function () {
                this.$.dynamic.style.display = 'none';
            },
            startEditing: function () {
                if (!this.editing) {
                    this.toggleEditing();
                    this.$.dynamic.select();
                }
            },
            stopEditing: function (event) {
                var self = this;
                if (self.editing) {
                    self.set('text', event.target.value)
                    self.toggleEditing();
                    if (self.lastText === self.text) {
                        return;
                    }
                    self.set('lastText', self.text);
                    var strAr = self.done.split('.');
                    var parentel = document.querySelector(strAr[0]);
                    parentel[strAr[1]](self.text);
                }
            },
            handleKeyPress: function (event) {
                if (event.keyCode === 13) {
                    this.stopEditing(event);
                }
            }
        });
    </script>
</dom-module>