<dom-module id="flag-wrapper">
    <template>
        <style>
            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }

            .ibox {
                margin-bottom: 0;
                color: inherit;
                background-color: #ffffff;
                border-color: #e7eaec;
                border-image: none;
                border-style: solid solid none;
                border-width: 0;
                min-height: 300px;
            }

            .ibox-title {
                cursor: default;
                border: none;
                padding: 10px;
            }

            .ibox-content {
                padding: 15px 5px;
            }

            .col-md-12 {
                padding-bottom: 15px;
            }

            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .stream-small {
                padding: 5px 0;
                margin: auto auto 5px auto;
                min-height: 40px;
                border: solid gray;
                border-width: 0 0 1px 0;
            }

            .stream-small .label {
                padding: 2px 6px;
                margin: 0;
                font-size: 11px;
            }

            .label-primary {
                border-radius: 20px;
                border-width: 1px;
                border: 1px solid;
                background-color: #fff;
            }

            .active-badge {
                color: #88bf40;
            }

            .acknowledge-badge,
            .dismiss-badge {
                color: gray;
            }

            .fa-flag {
                cursor: pointer;
                font-size: 10px;
                border: 1px solid gray;
                border-radius: 10px;
                padding: 5px;
            }

            .col-checkbox {
                margin: 0;
                display: inline-block;
                vertical-align: middle;
            }

            .fa-archive,
            .fa-bell-o,
            .fa-bell-slash-o,
            .fa-check,
            .fa-plus,
            .fa-refresh {
                margin-right: 10px;
                cursor: pointer !important;
            }

            .input-group-btn .btn-group {
                display: flex !important;
            }

            .input-group-btn {
                width: 10%;
            }

            #adv-search {
                width: 100%;
            }

            .col-md-12 {
                padding-bottom: 15px;
            }
        </style>
        <div class="ibox" style="margin-bottom: 15px;">
            <div class="ibox-title">
                <div class="btn-group">
                    <button class="btn dropdown-toggle" name="recordinput" data-toggle="dropdown">
                        Action
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <template is="dom-repeat" items="{{topMenuList}}" as="menuObj">
                            <li>
                                <a href="javascript:" model$="{{menuObj}}" on-click="_performFilter">{{menuObj.name}}</a>
                            </li>
                        </template>
                    </ul>
                </div>
                <div class="icon-list btn-group" hidden$="{{!loadMenu}}">
                    <template is="dom-repeat" items="{{topActionList}}" as="actionObj">
                        <i class$="{{actionObj.className}}" title="{{actionObj.title}}" on-click="_doActionOnClick" aria-hidden="true"></i>
                    </template>
                </div>
                <div class="icon-tool btn-group">
                    <template is="dom-if" if="{{hasRole('ManageFlag')}}">
                        <i class="fa fa-plus fa-lg" title="Add Flag" on-click="_manageFlag" aria-hidden="true"></i>
                    </template>
                    <i class="fa fa-refresh fa-lg" title="Refresh Flag" on-click="_getAllFlags" aria-hidden="true"></i>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row" style="margin: 0;">
                    <div class="col-md-12">
                        <div class="input-group" id="adv-search">
                            <input type="text" id="tag-search" class="form-control" placeholder="Search Tag...">
                            <div class="input-group-btn">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-primary" on-click="_onOuterSearchBtn">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <template is="dom-repeat" items="{{displayFlagList}}" as="flagObj" index-as="indx">
                    <div class="row stream-small">
                        <div class="col-md-3" style="padding-right: 0;" on-change="oncheckboxChange">
                            <paper-checkbox id$="[[flagObj.id]]" class="col-checkbox" checked$="[[flagObj.checked]]" on-change="checkboxValueChange"></paper-checkbox>
                            <i class="fa fa-flag dropdown-toggle" style="color: {{flagObj.flagDetail.colorCode}} !important;" aria-hidden="true" data-toggle="dropdown"
                                role="button" aria-expanded="true"></i>
                            <ul class="dropdown-menu">
                                <li>
                                    <a on-click="_manageTagAction" model$="{{flagObj}}" href="javascript:">Manage Tags</a>
                                </li>
                                <li>
                                    <hr style="margin-top: 0px !important; margin-bottom: 0px !important;">
                                </li>
                                <template is="dom-repeat" items="{{flagObj.action}}" as="actionObj">
                                    <template is="dom-if" if="{{_checkStatus(flagObj.status, actionObj,componentMap)}}">
                                        <li>
                                            <a on-click="_flagUpdateStatus" model$="{{flagObj}}" status="{{actionObj}}" href="javascript:">{{actionObj}}</a>
                                        </li>
                                    </template>
                                </template>
                            </ul>
                        </div>
                        <div class="col-md-9" style="padding: 0">
                            <div class="col-md-8" style="display: inline-block; padding: 0">
                                <p>
                                    <a href="javascript:"> {{_changeTextDisplay(flagObj.eventName)}} </a> at {{formatDate(flagObj.flagCreatedDate)}}
                                </p>
                                <p>
                                    {{flagObj.description}}
                                </p>
                                <template is="dom-repeat" items="{{_getTagsList(flagObj)}}" as="tagObj">
                                    <span class="btn btn-default btn-xs tags" style="pointer-events: none; margin-bottom: 3px !important;">{{tagObj}}</span>
                                </template>
                            </div>
                            <div class="col-md-4" style="display: inline-block; padding: 0">
                                <label class$="{{_computeClass(flagObj)}}">{{flagObj.status}}</label>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
            <custom-modal id="manageFlagModal" class="modal-drop" on-modal-hidden="resetFlagModal">
                <div>
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">Add/Edit Flag</h4>
                            </div>
                            <div class="modal-body">
                                <div id="ErrorMessageContainerFlag"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <form is="iron-form" class="form-horizontal" name="flagForm">
                                            <dynamic-form form-configuration={{flagForm}} values="{{flagForm.values}}"></dynamic-form>
                                            <br/>
                                            <div class="row rowMargin">
                                                <div class="panel-left col-md-12">
                                                    Perform Actions
                                                    <checkbox-group id="papercheckboxGroupFlag" checkboxes="{{flagAction}}" selected-items="{{selectedFlagActions}}"></checkbox-group>
                                                </div>
                                            </div>
                                            <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </custom-modal>
            <custom-modal id="manageTagModal" class="modal-drop" on-modal-hidden="resetTagModal">
                <div>
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div id="ErrorMessageContainerTag"></div>
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">Add/Update Tag</h4>
                            </div>
                            <div class="modal-body">
                                <form is="iron-form" class="form-horizontal" name="addTags">
                                    <div class="row">
                                        <div class="col-md-11">
                                            <paper-input type="text" class="custom-input" auto-validate value="{{addTagText}}" name="addTagText" id="addTagText" label="Add Tag"
                                                on-blur="_addTag"></paper-input>
                                        </div>
                                        <div class="col-md-1 middle">
                                            <paper-icon-button title="Add More Email Details" on-click="_addTag" icon="add"></paper-icon-button>
                                        </div>
                                    </div>
                                    <div class="row rowMargin">
                                        <div class="col-md-12">
                                            <h4 class="modal-title">Tags</h4>
                                        </div>
                                    </div>
                                    <div class="row rowMargin">
                                        <div class="col-md-12">
                                            <checkbox-group id="papercheckboxGroup" checkboxes="{{alltags}}" selected-items="{{selectedtags}}"></checkbox-group>
                                        </div>
                                    </div>
                                    <div class="row rowMargin">
                                        <div class="col-md-12">
                                            <br>
                                            <paper-button class="btn btn-primary activity-action-btn" on-click="_addRemoveTags" raised>Add/Update Tag</paper-button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </custom-modal>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <alloy-config id="config"></alloy-config>
        <auth-service id="authorize"></auth-service>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: 'flag-wrapper',
                properties: {
                    flagActionMapped: {
                        type: Array,
                        notify: true
                    },
                    currentSchedule: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true,
                        observer: "getFlagData"
                    },
                    loadMenu: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    topMenuList: {
                        type: Array,
                        notify: true,
                        value: [
                            { name: 'All', filterName: 'ALL' },
                            { name: 'None', filterName: 'none' },
                            { name: 'Acknowledge', filterName: 'Acknowledge' },
                            { name: 'Dismiss', filterName: 'Dismiss' },
                            { name: 'Active', filterName: 'Active' }
                        ]
                    },
                    topActionList: {
                        type: Array,
                        notify: true,
                        value: [
                            { title: 'Acknowledge', className: 'fa fa-bell-o fa-lg', action: 'Acknowledge' },
                            { title: 'Active', className: 'fa fa-check fa-lg', action: 'Active' },
                            { title: 'Dismiss', className: 'fa fa-archive fa-lg', action: 'Dismiss' }
                        ]
                    },
                    componentMap: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    jsonObj: {
                        type: Object,
                        notify: true
                    },
                    loadding: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    tableObj: {
                        type: Object,
                        notify: false
                    },
                    flagId: {
                        type: String,
                        notify: true
                    },
                    addTagText: {
                        type: String,
                        notify: true
                    },
                    alltags: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    },
                    selectedtags: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    },
                    unSelectedtags: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    },
                    flagAction: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    selectedFlagActions: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    openActivity: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    tabAction: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    flagList: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    },
                    displayFlagList: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    },
                    savedDisplayFlagList: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'loan'
                    },
                    flagForm: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                colorName: {
                                    label: "Color Name",
                                    title: "Color Name",
                                    type: "combobox",
                                    class: "twoRow",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                description: {
                                    label: "Description",
                                    title: "Description",
                                    type: "textbox",
                                    class: "twoRow",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 1,
                                        maxLen: 2000
                                    }
                                }
                            },
                            values: {
                                colorName: "",
                                description: ""
                            }
                        }
                    }
                },
                hasRole: function (RoleName) {
                    return this.$.authorize.hasRole(RoleName);
                },
                raiseFlagRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: 'FlagsTab',
                        EventData: event,
                        CompnentName: 'flag-details'
                    });
                },
                formatDate: function (date) {
                    return formats.date(date, window.config.country, true);
                },
                _computeClass: function (flagObj) {
                    var className = "label label-primary pull-right";
                    if (flagObj.status === "Active") {
                        return className + " active-badge";
                    }
                    else if (flagObj.status === "Acknowledge") {
                        return className + " acknowledge-badge";
                    }
                    else if (flagObj.status === "Dismiss") {
                        return className + " dismiss-badge";
                    }
                    return className;
                },
                _checkStatus: function (flagStatus, actionName, componentMap) {
                    var self = this;
                    var componentMap = self.componentMap;
                    var params = self.$.url.getParams();
                    var flagActionObj = _.find(self.flagActionMapped, ["label", actionName]);
                    if (!_.isUndefined(flagActionObj)) {
                        actionName = flagActionObj.key;
                    }
                    if (flagStatus === actionName) {
                        return false;
                    }
                    else if (self.componentMap[actionName] === undefined && self.componentMap[actionName] === null && self.componentMap[actionName] === "") {
                        return true;
                    }
                    else if (self.componentMap[actionName] === false || (flagActionObj != undefined && flagActionObj.hideForProduct.indexOf(params.product) != -1)) {
                        return false;
                    }
                    return true;
                },
                ready: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    var dataConfig = this.$.config.getConfigurationBasedOnKey("filters");
                    var colorCodes = this.$.config.getConfigurationBasedOnKey("colorCode");
                    var flagActionMapped = [];
                    flagActionMapped = this.$.config.getConfigurationBasedOnKey("flagActionMapped");
                    self.set("flagActionMapped", flagActionMapped)
                    var actionMapped = _.transform(self.flagActionMapped, function (result, item) {
                        if (item.hideForProduct === "" || item.hideForProduct.indexOf(params.product) === -1) {
                            result.push(item.label);
                        }
                    }, []);
                    var flagFormObj = _.cloneDeep(this.flagForm);
                    flagFormObj.controls.colorName.selectList = colorCodes;
                    this.set("flagForm", flagFormObj);
                    this.set('flagAction', actionMapped);
                },
                init: function () {
                    //this._getAllFlags();
                },
                _getAllFlags: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    var Url = "/" + self.currentEntityName + "/" + params.loanId + "/flags";
                    var hidePaymentReceived = this.$.config.getConfigurationBasedOnKey("hidePaymentReceived");
                    var DisplayOnlyFlag = this.$.config.getConfigurationBasedOnKey("DisplayOnlyFlag");
                    var finalFlagList = [];
                    self.$.http.get(Url, window.config.services.flagService, false).then(function (data) {
                        _.forEach(data, function (item) {
                            var result = _.find(DisplayOnlyFlag, ["activity", item.description]);
                            if (result === undefined) {
                                result = _.find(DisplayOnlyFlag, ["activity", "Manual" + item.flagDetail.colorName]);
                            }
                            if (result) {
                                var flag = item;
                                flag.flagDetail = result.color;
                                flag.flagTags = _.uniq(_.concat(flag.flagTags, result.tag));
                                flag.action = _.concat(flag.action, result.action);
                                finalFlagList.push(flag);
                            }
                        });
                        var filterFlag = [];
                        if (self.currentSchedule != undefined && hidePaymentReceived !== undefined && hidePaymentReceived !== null && hidePaymentReceived !== "" && (hidePaymentReceived.indexOf(self.currentSchedule.paymentFrequency) >= 0)) {
                            filterFlag = _.reject(finalFlagList, ['eventName', 'PaymentReceived']);
                        }
                        else {
                            filterFlag = finalFlagList;
                        }
                        var sortData = _.orderBy(filterFlag, "flagDate", "desc");
                        sortData.map(function (flagObj) {
                            return _.extend(flagObj, { checked: false });
                        });
                        self.set('flagList', sortData);
                        self.set('displayFlagList', sortData);
                        self.set("savedDisplayFlagList", sortData);
                    }).fail(function (e) {
                        console.error("Loan flag error is ", e);
                    });
                },
                _manageTagAction: function (e) {
                    var self = this;
                    var flagObj = e.model.__data__.flagObj;
                    self.set('flagId', flagObj.id);
                    self.set('alltags', flagObj.flagTags);
                    self.set('selectedtags', flagObj.flagTags);
                    self.$$('#manageTagModal').showModal();
                },
                _addTag: function (e) {
                    var self = this;
                    if (_.trim(self.addTagText) !== "") {
                        var alltags = _.cloneDeep(self.alltags);
                        var selectedtags = _.cloneDeep(self.selectedtags);
                        var newTags = _.transform(_.split(self.addTagText, ","), function (result, item) {
                            result.push(_.trim(item));
                        }, []);
                        self.set('alltags', _.union(alltags, newTags));
                        self.set('selectedtags', _.union(selectedtags, newTags));
                        self.set("addTagText", "");
                    }
                },
                _addRemoveTags: function (event) {
                    var self = this;
                    if (self.alltags != undefined && self.alltags != null && self.alltags != "") {
                        var Url = "/" + self.flagId + "/tags";
                        var payload = {
                            FlagItems: self.selectedtags,
                            Action: "Add",
                            flagId: self.flagId
                        }
                        self.$.http.post(Url, payload, window.config.services.flagService).then(function (data) {
                            self.removeTag(event);
                        }).fail(function (e) {
                            self.removeTag(event);
                        });
                    }
                    else {
                        self.$.messageflag.showMessage("No tags available", "ERROR", self.$$('#ErrorMessageContainerTag'));
                    }
                },
                removeTag: function (event) {
                    var self = this;
                    var len = self.alltags.length;
                    var removeTag = _.difference(self.alltags, self.selectedtags);
                    var Url = "/" + self.flagId + "/tags";
                    var payload = {
                        FlagItems: removeTag,
                        Action: "Remove"
                    }
                    self.$.http.post(Url, payload, window.config.services.flagService, true).then(function (data) {
                        $('.close').click();
                        self.raiseFlagRefreshEvent(event);
                    }).fail(function (e) {
                        self.raiseFlagRefreshEvent(event);
                    });
                },
                resetTagModal: function () {
                    var self = this;
                    self.flagId = "";
                    self.set("addTagText", "");
                    self.set("alltags", []);
                    self.set("selectedtags", []);
                    self.set("unSelectedtags", []);
                },
                _manageFlag: function (event) {
                    var self = this;
                    self.$$('#manageFlagModal').showModal();
                },
                resetFlagModal: function () {
                    var self = this;
                    var flagFormObj = _.cloneDeep(self.flagForm);
                    flagFormObj.values.flagTags = "";
                    flagFormObj.values.colorName = "";
                    flagFormObj.values.colorCode = "";
                    flagFormObj.values.description = "";
                    self.set('flagForm', flagFormObj);
                    self.selectedFlagActions = [];
                },
                _flagUpdateStatus: function (e) {
                    var self = this;
                    var performEvent = "";
                    var flagObj = e.model.__data__.flagObj;
                    var actionName = e.model.__data__.actionObj;
                    var EXCLUDE_Status = ["Active", "Acknowledge", "Dismiss"];
                    var result = _.find(self.flagActionMapped, ["label", actionName]);
                    if (result !== undefined) {
                        performEvent = result.value;
                    }
                    if (EXCLUDE_Status.indexOf(actionName) !== -1) {
                        self._updateStatus(e);
                    }
                    else if (result.actionToPerform != undefined && result.actionToPerform != "") {
                        self.set('tabAction', result);
                    }
                    else {
                        self.set('openActivity', performEvent);
                    }
                },
                _updateStatus: function (e) {
                    var self = this;
                    var flagObj = e.model.__data__.flagObj;
                    var actionName = e.model.__data__.actionObj;
                    var url = "/" + flagObj.id + "/" + actionName + "/status";
                    self.$.http.put(url, {}, window.config.services.flagService, true).then(function (data) {
                        self.raiseFlagRefreshEvent(e);
                    }).fail(function (e) {
                        var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                        self.$.messageflag.showMessage(strMessage, "ERROR", self.$.messageContainerFlag);
                    });
                },
                _verifyForm: function (event) {
                    var self = this;
                    var params = self.$.url.getParams();
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var flagFormObj = _.cloneDeep(self.flagForm.values);
                    var defaultStatus = ["Active", "Acknowledge", "Dismiss"];
                    var mergedActions = defaultStatus.concat(self.selectedFlagActions);
                    var obj = _.find(self.flagForm.controls.colorName.selectList, ['key', flagFormObj.colorName]);
                    if (form.validate()) {
                        var Payload = {
                            flagTags: [],
                            flagDetail: {
                                colorName: obj.value,
                                colorCode: flagFormObj.colorName
                            },
                            eventData: null,
                            action: mergedActions,
                            flagCreatedDate: moment().format("YYYY-MM-DD"),
                            description: flagFormObj.description
                        }
                        var url = "/loan/" + params.loanId;
                        self.$.http.post(url, Payload, window.config.services.flagService, true).then(function (result) {
                            $('.close').click();
                            self.raiseFlagRefreshEvent(event);
                        }).fail(function (e) {
                            self.$.messageflag.showMessage("Failed to complete the operation.", "ERROR", self.$$('#ErrorMessageContainerFlag'));
                            console.error("Manage flag error is ", e);
                        });
                    }
                },
                _getTagsList: function (flagObj) {
                    return _.without(flagObj.flagTags, "");
                },
                _performFilter: function (event) {
                    var self = this;
                    var loadMenu = true;
                    var newObj = { checked: false };
                    var flagList = _.cloneDeep(self.flagList);
                    var menuObj = event.model.__data__.menuObj;
                    if (menuObj.filterName === "ALL") {
                        newObj.checked = true;
                    }
                    else if (menuObj.filterName === "Active") {
                        newObj.checked = true;
                        flagList = _.reject(flagList, ['status', 'Active']);
                    }
                    else if (menuObj.filterName === "Dismiss") {
                        newObj.checked = true;
                        flagList = _.reject(flagList, ['status', 'Dismiss']);
                    }
                    else if (menuObj.filterName === "Acknowledge") {
                        newObj.checked = true;
                        flagList = _.filter(flagList, { status: "Active" });
                    }
                    else {
                        newObj.checked = false;
                        loadMenu = false;
                    }
                    self.set('loadMenu', loadMenu);
                    flagList.map(function (flagObj) {
                        return _.extend(flagObj, newObj);
                    });
                    self.set('displayFlagList', flagList);
                },
                oncheckboxChange: function (event) {
                    var flagObj = event.model.__data__.flagObj;
                    var flagList = this.displayFlagList;
                    var index = _.findIndex(flagList, { id: flagObj.id });
                    flagObj.checked = event.target.checked;
                    flagList.splice(index, 1, flagObj);
                    this.set('displayFlagList', flagList);
                },
                _doActionOnClick: function (event) {
                    var self = this;
                    var flagObj = this.displayFlagList;
                    var actionName = event.model.__data__.actionObj.action;
                    var url = "";
                    $.each(flagObj, function (key, data) {
                        if (data.checked === true) {
                            url = "/" + data.id + "/" + actionName + "/status";
                            self.$.http.put(url, {}, window.config.services.flagService, true).then(function (data) {
                            }).fail(function (e) {
                                console.error("Manage flag error is ", e);
                            });
                        }
                    });
                    setTimeout(function () {
                        self.raiseFlagRefreshEvent(event);
                    }, 2000);
                },
                _changeTextDisplay: function (value) {
                    if (!_.isNull(value) && !_.isUndefined(value) && !_.isEmpty(value))
                        return _.startCase(_.lowerCase(value));
                    return "";
                },
                getFlagData: function () {
                    var self = this;
                    self._getAllFlags();
                },
                checkboxValueChange: function () {
                    var self = this;
                    setTimeout(() => {
                        var disptrue = _.find(self.displayFlagList, ["checked", true]);
                        if (disptrue !== undefined && disptrue !== null && disptrue !== "") {
                            self.set('loadMenu', true);
                        }
                        else {
                            self.set('loadMenu', false);
                        }
                    }, 500);
                },
                _checkIfNotNullAndEmpty: function (str) {
                    return !_.isUndefined(str) && !_.isNull(str) && !_.isEmpty(str);
                },
                _onOuterSearchBtn: function () {
                    var self = this;
                    var searchedVal = $('#tag-search').val();
                    if (!_.isEmpty(searchedVal)) {
                        var result = self._getTagSearch(self.savedDisplayFlagList, searchedVal);
                        self.set('displayFlagList', []);
                        self.set('displayFlagList', $.extend([], result));
                    } else {
                        this.set('displayFlagList', self.savedDisplayFlagList);
                    }
                },
                _getTagSearch: function (items, val) {
                    var val = val.toLowerCase();
                    var result = _.filter(items, function (item) {
                        var searchArr = item.flagTags.toString().toLowerCase();
                        return searchArr.search(val) !== -1;
                    });
                    return result || [];
                },
            });
        });
    </script>
</dom-module>