<!-- When using this comonent don't forgot to update the API Key and Please uncomment the google-map component in alloy.html component in BL_Alloy Repo. -->
<dom-module id="google-map-custom">
    <style>
        .tablecontainer {
            margin: 40px auto 0;
        }

        .row {
            margin: 0 auto !important;
        }
    </style>
    <template>
        <div class="row tablecontainer">
            <template is="dom-bind">
                <div class="row">
                    <div class="col-md-6">
                        <paper-input type="text" value="{{address::input}}" label="Address" required></paper-input>
                    </div>
                </div>
                <br></br>
                <google-map-search map="[[map]]" query="{{address}}" results="{{results}}"></google-map-search>
                <google-map fit-to-markers disable-default-ui map="{{map}}" api-key="YOUR_API_KEY" zoom="15">
                    <template is="dom-repeat" items="{{results}}" as="marker">
                        <google-map-marker latitude="{{marker.latitude}}" longitude="{{marker.longitude}}">
                            <h2>{{marker.name}}</h2>
                            <span>{{marker.formatted_address}}</span>
                        </google-map-marker>
                    </template>
                </google-map>
            </template>
        </div>
    </template>
    <script>
        Polymer({
            is: "google-map-custom",
            properties: {
                map: {
                    type: Object,
                    notify: true
                },
                address: {
                    type: String,
                    notify: true
                },
                results: {
                    type: Array,
                    notify: true
                }
            }
        });
    </script>
</dom-module>