<dom-module id="help-text">
    <template>
        <style>
            .modal-dialog {
                width: 500px;
                margin: 80px auto;
            }

            .modal-body {
                padding: 20px 10px 30px 10px;
            }

            .hide-other-method {
                display: none;
            }

            .errorMessage {
                color: #ff0000;
            }
        </style>
        <custom-modal id="helpTextModal" class="modal-drop" on-modal-hidden="resetModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <div id="modalDesc"></div>
                    </div>
                </div>
            </div>
        </custom-modal>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "help-text",
                show: function (objData) {
                    this.$$('#helpTextModal').showModal();
                },
                resetModal: function () { }
            });
        });
    </script>
</dom-module>