<dom-module id="message-component">
    <template>
        <style>
            #Toast.error {
                color: #a94442 !important;
                background-color: #f2dede !important;
            }

            #Toast.warning {
                color: #8a6d3b !important;
                background-color: #fcf8e3 !important;
            }

            #Toast.info {
                color: #31708f !important;
                background-color: #d9edf7 !important;
            }

            #Toast.success {
                color: #3c763d !important;
                background-color: #dff0d8 !important;
            }
        </style>
        <paper-toast id="Toast" class$="{{className}}" duration="5000" text="{{errorMessage}}"></paper-toast>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "message-component",
                properties: {
                    errorMessage: {
                        type: String,
                        notify: true
                    },
                    className: {
                        type: String,
                        notify: true
                    }
                },
                _getMessageClass: function (messageType) {
                    switch (messageType) {
                        case "INFO":
                            return "fit-bottom info";
                        case "SUCCESS":
                            return "fit-bottom success";
                        case "WARNING":
                            return "fit-bottom warning";
                        case "ERROR":
                            return "fit-bottom error";
                        default:
                            return "fit-bottom";
                    }
                },
                showMessage: function (message, messageType, fitInto) {
                    this.set('className', this._getMessageClass(messageType));
                    this.set("errorMessage", message);
                    this.$.Toast.fitInto = fitInto;
                    this.$.Toast.open();
                }
            });
        });
    </script>
</dom-module>