<dom-module id="notes-wrapper">
    <template>
        <style>
            .modal-dialog1 {
                margin: 10% auto;
                width: 800px !important;
            }

            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }

            .activity-stream {
                overflow-y: auto;
            }

            .ibox {
                margin-bottom: 0;
                color: inherit;
                background-color: #ffffff;
                border-color: #e7eaec;
                border-image: none;
                border-style: solid solid none;
                border-width: 0;
            }

            .ibox-title {
                cursor: default;
                border: none;
                padding: 15px 30px 15px 15px;
            }

            .ibox-content {
                padding: 15px 5px 0;
            }

            .stream-small {
                margin: 10px 0;
            }

            .stream {
                position: relative;
                padding: 10px 0;
            }

            .stream .stream-badge,
            .stream .firstChild,
            .stream .lastChild {
                width: 50px;
            }

            .stream .stream-panel {
                margin-left: 40px;
                margin-top: 4px;
            }

            .stream .stream-info {
                font-size: 12px;
                margin-bottom: 5px;
            }

            .stream .stream-info .date {
                color: #9a9d9f;
                font-size: 80%;
            }

            .stream .stream-badge i,
            .stream .firstChild i,
            .stream .lastChild i {
                border: 1px solid #e7eaec;
                border-radius: 50%;
                padding: 6px;
                color: #808486;
                position: absolute;
                background-color: #ffffff;
                left: 8px;
            }

            .stream .stream-badge:before {
                content: '';
                width: 1px;
                background-color: #e7eaec;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 20px;
            }

            .stream .firstChild:before {
                content: '';
                width: 1px;
                background-color: #e7eaec;
                position: absolute;
                top: 10px;
                bottom: 0;
                left: 20px;
            }

            .stream .lastChild:before {
                content: '';
                width: 1px;
                background-color: #e7eaec;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 20px;
                height: 30px;
            }

            i.bg-warning {
                color: #ffffff;
                background-color: #f8ac59;
                border-color: #f8ac59;
            }

            .stream i.bg-success {
                color: #ffffff !important;
                background-color: #1c84c6 !important;
                border-color: #1c84c6 !important;
            }

            .my-image {
                --image-circle-width: 25px;
                --image-circle-height: 25px;
                --image-circle-margin-x: -4px;
                --image-circle-margin-y: 2px;
                --image-circle-cursor: default;
            }

            .eventName {
                color: #337ab7;
                cursor: default;
            }

            .green-icon {
                color: green !important;
            }

            .red-icon {
                color: red !important;
            }

            .blue-icon {
                color: blue !important;
            }

            .yellow-icon {
                color: yellow !important;
            }

            .black-icon {
                color: black !important;
            }

            .grey-icon {
                color: gray !important;
            }

            .gold-icon {
                color: #DDBF1A !important;
            }

            .dark-red-icon {
                color: #9D0E11 !important;
            }

            .cyan-icon {
                color: #26D7EF !important;
            }
        </style>
        <div class="ibox">
            <div class="ibox-title">
                <h5>Notes</h5>
            </div>
            <div class="ibox-content">
                <div class="activity-stream">
                    <template is="dom-repeat" items="{{notesListProcessed}}" as="noteObj">
                        <div class="stream">
                            <div class="stream-badge" class$="{{_computeClass(index)}}">
                                <i title="{{noteObj.title}}" class$="{{_computeIconClass(noteObj.event.name)}}" aria-hidden="true"></i>
                            </div>
                            <div class="stream-panel">
                                <div class="stream-info">
                                    <a href="javascript:">
                                        <image-circle class="my-image" img-obj="{{noteObj}}" username-prop="author" full-username-prop="author"></image-circle>
                                        <span class="eventName">Contacted: {{noteObj.event.data.callNote.ContactPerson}}</span>
                                        <span class="date"> at {{formatDate(noteObj.activityDate)}}</span>
                                    </a>
                                </div>
                                Follow-Up Date: {{formatOnlyDate(noteObj.event.data.callNote.FollowUpDate)}}
                                <template is="dom-if" if="{{showViewCallNotes(noteObj)}}">
                                    <a href="javascript:void()" model$={{noteObj}} on-click="ShowCallNotes"> More Details</a>
                                </template>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
            <div id="callNoteContent" class="modal fade" role="dialog">
                <div class="modal-dialog1">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Call Notes</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <table class="table">
                                        <tr>
                                            <td colspan="6" class="header">Call Notes</td>
                                        </tr>
                                        <tr>
                                            <th class="col-sm-2">Call Date</th>
                                            <td class="col-sm-4" colspan="2">{{ date(callNotesData.CallDateTime)}}</td>
                                            <th class="col-sm-2">Contacted By</th>
                                            <td class="col-sm-4" colspan="2">{{ callNotesData.ContactedBy }}</td>
                                        </tr>
                                        <tr>
                                            <th class="col-sm-2">Contact Person</th>
                                            <td class="col-sm-4" colspan="2">{{ callNotesData.ContactPerson }}</td>
                                            <th class="col-sm-2">Relation To Borrower</th>
                                            <td class="col-sm-4" colspan="2">{{ callNotesData.RelationToBorrower }}</td>
                                        </tr>
                                        <tr>
                                            <th class="col-sm-2">Call Disposition</th>
                                            <td class="col-sm-4" colspan="2">{{ callNotesData.CallDisposition }}</td>
                                            <th class="col-sm-2">Follow Up Date</th>
                                            <td class="col-sm-4" colspan="2">{{ date(callNotesData.FollowUpDate) }}</td>

                                        </tr>
                                        <tr>
                                            <th class="col-sm-2">Notes</th>
                                            <td class="col-sm-10" colspan="5">{{ callNotesData.Notes }}</td>
                                        </tr>
                                        <tr>
                                            <th class="col-sm-2">Recorded Date</th>
                                            <td class="col-sm-4" colspan="2">{{ date(callNotesData.CallDateTime) }}</td>
                                            <th class="col-sm-2">Recorded By</th>
                                            <td class="col-sm-4" colspan="2">{{callNotesData.RecordedBy}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <template is="dom-if" if="{{showRecordingLink(callNotesData.RecordingLink)}}">
                                                <th class="col-sm-2">Recording Link</th>
                                                <td class="col-sm-4" colspan="2">
                                                    <a href="{{ callNotesData.RecordingLink }}" target="_blank">View</a>
                                                </td>
                                            </template>
                                            <template is="dom-if" if="{{showRecordingLink(callNotesData.RecordingFileId)}}">
                                                <th class="col-sm-2">Recording File</th>
                                                <td class="col-sm-4" colspan="2">
                                                    <a href="javascript:return void(0);" style="cursor:pointer; text-decoration: underline;" on-click="downloadDoc">{{documentData.FileName}}</a>
                                                </td>
                                            </template>
                                            <th class="col-sm-2"></th>
                                            <td class="col-sm-4" colspan="2">
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <alloy-format id="format"></alloy-format>
        <alloy-config id="config"></alloy-config>
        <session-manager id="session"></session-manager>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "notes-wrapper",
                properties: {
                    notesList: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true,
                        observer: "processNoteList"
                    },
                    notesListProcessed: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    },
                    callNotesData: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    documentData: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    }
                },
                date: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.date(date, window.config.country, false);
                    }
                    return "NA";
                },
                formatDate: function (date) {
                    if (date !== undefined) {
                        return moment.tz(date, window.config.timezone).format("MM/DD/YYYY LT z");
                    }
                    return "";
                },
                formatOnlyDate: function (date) {
                    if (date !== undefined) {
                        return moment.tz(date, window.config.timezone).format("MM/DD/YYYY");
                    }
                    return "";
                },
                _computeClass: function (index) {
                    var length = this.notesListProcessed.length;
                    if (index === 0) {
                        return "firstChild";
                    }
                    else if (index === length - 1) {
                        return "lastChild";
                    }
                    else {
                        return "stream-badge";
                    }
                },
                _computeIconClass: function (eventName) {
                    var iconConfig = this.iconConfig;
                    return iconConfig.hasOwnProperty(eventName) ? iconConfig[eventName] : "fa fa-circle";
                },
                showRecordingLink: function (item) {
                    if (item != undefined && item != "") {
                        return true;
                    }
                    return false;
                },
                showViewCallNotes: function (item) {
                    if (item.isCallNotes != undefined && item.isCallNotes) {
                        return true;
                    }
                    return false;
                },
                ShowCallNotes: function (event) {
                    var self = this;
                    event.preventDefault();
                    var noteObj = event.model.__data__.noteObj;
                    var html = noteObj.HTML;
                    var subject = noteObj.title;
                    self.set('callNotesData', noteObj.event.data.callNote);
                    self.set('documentData', noteObj.event.data.uploadedDocument);
                    $('#callNoteContent').modal('show');
                },
                _changeTextDisplay: function (value) {
                    if (!_.isNull(value) && !_.isUndefined(value) && !_.isEmpty(value))
                        return _.startCase(_.lowerCase(value));
                    return "";
                },
                ready: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    if (params.hasOwnProperty('entity')) {
                        self.set('currentEntityName', params.entity);
                    }
                    var iconConfigData = self.$.config.getConfigurationBasedOnKey("activity-icons");
                    self.set('iconConfig', iconConfigData);
                },
                downloadDoc: function (e) {
                    var self = this;
                    var params = self.$.url.getParams();
                    var id = self.callNotesData.RecordingFileId;
                    self.set("fileName", self.documentData.FileName);
                    var token = self.$.session.get("token");
                    var appId = params.hasOwnProperty('app') ? params.app : params.loanId;
                    var url = "/loan/" + appId + "/" + id + "/download";
                    var documentService = window.config.services.downloadDocService;
                    var xhr = new XMLHttpRequest();
                    xhr.open('GET', documentService + url, true);
                    xhr.setRequestHeader('Authorization', "Bearer " + token);
                    xhr.responseType = 'blob';

                    xhr.onload = function (e) {
                        if (this.status == 200) {
                            var blob = new Blob([this.response], { type: this.response.type });
                            var link = document.createElement('a');
                            link.href = window.URL.createObjectURL(blob);
                            link.download = self.fileName;
                            link.click();
                        }
                    };
                    xhr.onerror = function (e) {
                        console.error("Error " + e.target.status + " occurred while receiving the document.");
                    };
                    xhr.send();
                },
                processNoteList: function () {
                    var self = this;
                    var processedNoteList = [];
                    _.forEach(self.notesList, function (item) {
                        if (item.title === "Call notes added") {
                            var obj = _.find(processedNoteList, ['eventId', item.event.data.callNote.Id]);
                            if (obj === undefined || obj === null || obj === "") {
                                processedNoteList.push(item);
                            }
                        }
                        else {
                            var finalObj = item;
                            finalObj.eventId = item.event.data.callNote.Id
                            processedNoteList.push(finalObj);
                        }
                    });
                    self.set("notesListProcessed", processedNoteList);
                }
            });
        });
    </script>
</dom-module>