<dom-module id="session-timeout">
    <template>
        <style>
            .row {
                margin: 0;
            }

            .col-lg-12 {
                margin: 10px auto;
                padding: 0;
            }

            .modal-dialog {
                margin: 10% auto;
                width: 400px !important;
            }
        </style>
        <div id="sessionTimeOutPopup" class="modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title docSubject">Session Timeout</h4>
                    </div>
                    <div class="modal-body">
                        <p>Your session is about to expire in {{remainingTime}} minutes, Would you like to continue working?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary activity-action-btn" on-click="_renewToken">Yes</button>
                        <button class="btn btn-primary activity-action-btn" on-click="_logout">No</button>
                    </div>
                </div>
            </div>
        </div>
        <http-request id="httpst"></http-request>
        <session-manager id="sessionst"></session-manager>
        <alloy-config id="config" alloy-configuration="{{configuration}}"></alloy-config>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "session-timeout",
                properties: {
                    remainingTime: {
                        type: Number,
                        notify: true,
                        value: 5
                    },
                    sessionTimeout: {
                        type: Number,
                        notify: true,
                        value: 0
                    }
                },
                ready: function () {
                    var self = this;
                    var ExpirationThreshold = parseInt(self.$.sessionst.get('ExpirationThreshold'), 10);
                    self.set('remainingTime', (ExpirationThreshold / 60000));
                    var sessionTimeout = parseInt(self.$.sessionst.get('SessionTimeOut'), 10) - ExpirationThreshold;
                    self.set('sessionTimeout', sessionTimeout);
                    if (!_.isNaN(sessionTimeout)) {
                        self._initAutoSessionTimeout();
                    }
                },
                _initAutoSessionTimeout: function () {
                    var self = this;
                    if (self.logoutTimeout) {
                        clearTimeout(self.logoutTimeout);
                    }

                    self.logoutTimeout = setTimeout(function () {
                        self._isExpiring();
                    }, self.sessionTimeout);
                },
                _isExpiring: function () {
                    var self = this;
                    self.$.httpst.get("/is-expiring/", "").done(function (data) {
                        if (data) {
                            $('#sessionTimeOutPopup').modal('show');
                        }
                    });
                },
                _renewToken: function () {
                    var self = this;
                    self.$.httpst.get("/renew-token/", "").done(function (data) {
                        self.$.sessionst.set("token", data);
                        $('#sessionTimeOutPopup').modal('hide');
                        self._initAutoSessionTimeout();
                    }).fail(function (e) {
                        self.resetStuff();
                    });
                },
                _logout: function () {
                    var self = this;
                    var token = self.$.sessionst.get("token");
                    self.$.httpst.get("/logout", "").done(function () {
                        self.resetStuff();
                    });
                },
                resetStuff: function () {
                    var self = this;
                    clearTimeout(self.logoutTimeout);
                    self.$.sessionst.clearLocalStorage();
                    $('#sessionTimeOutPopup').modal('hide');
                    window.location.hash = self.configuration.public.url;
                }
            });
        });
    </script>
</dom-module>