<dom-module id="swim-lane">
    <template>
        <style>
            .ibox-content {
                border-radius: 10px;
            }

            .agile-list div {
                border-radius: 5px;
                min-height: 80px;
            }

            #scroller-wrapper {
                width: 100%;
                height: 600px;
            }

            #scroller {
                height: 100%;
                overflow-x: auto;
                white-space: nowrap;
            }

            .elem {
                height: 100%;
                display: inline-block;
                vertical-align: top;
                width: 250px;
                margin-left: 10px;
                box-sizing: border-box;
            }

            .agile-list div {
                padding: 10px;
                margin: 0 auto 10px auto;
                background: #FAFAFB;
                border: 1px solid #e7eaec;
                white-space: normal;
            }

            .loan-application {
                cursor: pointer;
            }
        </style>
        <div id="scroller-wrapper">
            <div id="scroller">
                <template is="dom-repeat" items="{{_getObjectKeyArray(swimLaneData)}}" as="statusName">
                    <div class="elem">
                        <div class="ibox">
                            <div class="ibox-content">
                                <h3>{{statusName}}</h3>
                                <div class="agile-list" id="{{_dynamicId(statusName)}}">
                                    <template is="dom-repeat" items="{{_getApplicationList(statusName)}}" as="application">
                                        <div class="loan-application" id="task{{application.applicationNumber}}" on-click="_openLoanView">
                                            Application Number: {{application.applicationNumber}}
                                            <br> Business Name: {{application.legalBusinessName}}
                                            <br> Applicant Name: {{application.businessApplicantName}}
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "swim-lane",

            _dynamicId: function (statusName) {
                return _.snakeCase(statusName);
            },

            _getObjectKeyArray: function () {
                var swimLaneData = this.swimLaneData;
                if (!_.isEmpty(Object.keys(swimLaneData)))
                    return Object.keys(swimLaneData);
                return [];
            },

            _getApplicationList: function (statusName) {
                if (statusName !== "" && statusName !== null)
                    return _.orderBy(this.swimLaneData[statusName], ['applicationNumber'], ['desc']);
            },

            _openLoanView: function (e) {
                var self = this;
                var appObj = e.model.__data__.application;
                if (appObj.applicantId != null) {
                    window.location = "/app-details/filter:" + self.filterCodeMapping[appObj.statusCode] + "/app:" + appObj.applicationNumber + "/applicantId:" + appObj.applicantId;
                }
                else {
                    window.location = "/app-details/filter:" + self.filterCodeMapping[appObj.statusCode] + "/app:" + appObj.applicationNumber;
                }
            }
        });
    </script>
</dom-module>