<dom-module id="team-members">
    <template>
        <style>
            .box {
                padding: 0 5px;
                margin: 0 auto 15px;
                clear: both;
                color: inherit;
                background-color: #ffffff;
                border-color: #e7eaec;
                border-image: none;
                border-style: solid solid none;
                border-width: 4px 0 0;
                height: 50px;
            }

            .image-list-label {
                position: absolute;
                margin: 15px auto;
            }

            .image-list-container {
                padding-left: 90px;
                display: inline-block;
                margin: 0 auto;
            }
        </style>
        <div class="box">
            <label class="image-list-label">Team Members:</label>
            <div class="image-list-container">
                <template is="dom-repeat" items="{{assignmentList}}">
                    <image-circle img-obj="{{item}}" username-prop="assignee" full-username-prop="assignee"></image-circle>
                </template>
            </div>
        </div>
        <script>
            HTMLImports.whenReady(function () {
                Polymer({
                    is: "team-members",
                    properties: {
                        assignmentList: {
                            type: Array,
                            notify: true
                        }
                    }
                });
            });
        </script>
</dom-module>