<dom-module id="action-center">
    <template>
        <style>
            .tablecontainer {
                margin: 40px auto 0;
            }

            .row {
                margin: 0 auto !important;
            }

            .header-right {
                position: absolute;
                right: 20px;
            }

            .footer-right {
                float: right;
            }

            div#queue_wrapper {
                text-align: center;
            }

            .panel-group .panel {
                border-radius: 0;
                box-shadow: none;
                border-color: #EEEEEE;
            }

            .panel.panel-default {
                margin-bottom: 10px !important;
            }

            .panel-default>.panel-heading {
                padding: 0;
                border-radius: 0;
                color: #ffffff;
                background-color: #03466B;
                border-color: #03466B;
            }

            .panel-default>.panel-heading1 {
                padding: 0;
                border-radius: 0;
                color: #03466B;
                background-color: #ddd;
                border-color: #ddd;
            }

            .panel-title {
                font-size: 14px;
            }

            .panel-title>a {
                display: block;
                padding: 10px;
                text-decoration: none;
            }

            .bold {
                font-weight: 800;
                color: #fff;
            }

            .list-group p {
                color: #fff
            }

            .no-top-margin {
                margin-top: 20px;
            }

            .list-group {
                padding-left: 0;
                margin-bottom: 20px;
                margin-bottom: 0;
            }

            .list-group {
                padding-left: 0;
                margin-bottom: 20px;
                margin-bottom: 0;
            }

            .list-group-item:first-child {
                border-top: none;
                border-right: none;
                border-bottom: none;
                border-left: none;
            }

            .btn-take-action,
            .btn-take-action:hover,
            .btn-take-action:focus,
            .btn-take-action:active {
                color: white;
                background-color: #d9010c;
                border-color: #d9010c;
            }

            .btn-view-now,
            .btn-view-now:hover,
            .btn-view-now:focus,
            .btn-view-now:active {
                background-color: #03426b;
                color: #fff !important;
                border-color: #03426b;
            }

            .b-b {
                border-bottom: 1px solid #e7eaec;
            }

            .b-r {
                border-right: 1px solid #e7eaec;
            }

            .b-l {
                border-left: 1px solid #e7eaec;
            }

            .b-t {
                border-top: 1px solid #e7eaec;
                background: #011a2f;
                min-height: 125px
            }

            .list-group .fa {
                color: #fff;
                font-size: 20px;
                position: absolute;
                top: 10px;
                left: 0;
            }
        </style>
        <div class="row">
            <breadcrumb-links show-content="true"></breadcrumb-links>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="panel-group Accheader-tab" id="daPanel" role="tablist" aria-multiselectable="true">
                    <div id="da" class="panel panel-default">
                        <div class="panel-heading" role="tab" id="daHeading">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#daPanel" href="#daOne"
                                    aria-expanded="true" aria-controls="daOne">
                                    <i class="fa fa-flash"></i> Action Center
                                </a>
                            </h4>
                        </div>
                        <div id="daOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="daHeading">
                            <div class="panel-body">
                                <div class="panel-group" id="report" role="tablist" aria-multiselectable="true">
                                    <div class="row">
                                        <template is="dom-repeat" items="{{actionCenters}}" as="action">
                                            <template is="dom-if" if="{{hasRole(action.filterText)}}">
                                                <div class$="{{action.displayColumnClass}}">
                                                    <ul class="list-group text-center">
                                                        <a href="{{action.redirectUrl}}">
                                                            <li class="list-group-item">
                                                                <i class$="{{action.btnClass}}"></i>
                                                                {{_getRecords(action)}}
                                                                <h1 class="bold no-top-margin ">
                                                                    <span id$="{{action.recordsId}}">0</span>
                                                                </h1>
                                                                <p>{{action.displayText}}</p>
                                                            </li>
                                                        </a>
                                                    </ul>
                                                </div>
                                            </template>
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-group Search-tab" id="searchPanel" role="tablist" aria-multiselectable="true">
                    <div id="da" class="panel panel-default">
                        <div class="panel-heading" role="tab" id="searchHeading">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#searchPanel" href="#searchOne"
                                    aria-expanded="true" aria-controls="searchOne">
                                    <i class="fa fa-search"></i> Application Search
                                </a>
                            </h4>
                        </div>
                        <div id="searchOne" class="panel-collapse collapse in" role="tabpanel"
                            aria-labelledby="searchHeading">
                            <div class="panel-body">
                                <div class="panel-group" id="report" role="tablist" aria-multiselectable="true">
                                    <form is="iron-form" class="form-horizontal" name="searchForm">
                                        <dynamic-form form-configuration={{searchObj}} values="{{searchObj.values}}">
                                        </dynamic-form>
                                        <br />
                                        <button class="btn btn-primary activity-action-btn" on-click="_verifyForm"
                                            raised>Search</button>
                                        <button id="actioncenterFormCancelBtn"
                                            class="btn btn-primary activity-action-btn" on-click="_resetForm"
                                            style="display: none;">Cancel</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row tablecontainer" id="tableContainer">
            <table id="searchData" class="table table-striped" width="100%" cellspacing="0"></table>
        </div>
        <url-parser id="urlaction"></url-parser>
        <http-request id="httpsaction"></http-request>
        <alloy-config id="configaction"></alloy-config>
        <session-manager id="sessionAction"></session-manager>
        <auth-service id="authorizenavn"></auth-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "action-center",
                properties: {
                    statusListForSearch: {
                        type: Array,
                        value: []
                    },
                    actionCenters: {
                        type: Array,
                        notify: true,
                        reflectToAttribute: true
                    },
                    tableObj: {
                        type: Object,
                        notify: false
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    },
                    configAppliedOn: {
                        type: Object,
                        value: []
                    },
                    configExpiryOn: {
                        type: Object,
                        value: []
                    },
                    searchReqObj: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    filteredItems: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    searchObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                ApplicationNumber: {
                                    label: "Application Number",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 7,
                                        maxLen: 7
                                    }
                                },
                                ApplicantPhone: {
                                    label: "Mobile number",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 11
                                    }
                                },
                                LCaseApplicant: {
                                    label: "Name",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 50
                                    }
                                },
                                LCaseApplicantPanNumber: {
                                    label: "Pan Number",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 10
                                    }
                                },
                                LCaseApplicantPersonalEmail: {
                                    label: "Personal Email",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 50
                                    }
                                },
                                LCaseApplicantEmployer: {
                                    label: "Employer Name",
                                    type: "textbox",
                                    class: "threeColumn",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 50
                                    }
                                }
                            },
                            values: {
                                ApplicantPhone: "",
                                LCaseApplicant: "",
                                LCaseApplicantPanNumber: "",
                                LCaseApplicantPersonalEmail: "",
                                LCaseApplicantEmployer: "",
                                ApplicationNumber: ""
                            }
                        }
                    },
                    microAppName: {
                        type: String,
                        notify: true
                    }
                },
                formatDate: function (date) {
                    var dateValue = date;
                    if (!_.isEmpty(dateValue) && _.toNumber(dateValue[0])) {
                        dateValue.DateTime = formats.netTicksToDate(dateValue[0]);
                    }
                    return formats.date(dateValue.DateTime, window.config.country, false);
                },
                _showResult: function (searchFilterView) {
                    var self = this;
                    var table = self.tableObj;
                    var searchReqObj = _.cloneDeep(self.searchReqObj);
                    var savedFilters = window.config.services.savedFilters;
                    if (table !== null && table !== undefined) {
                        table.clear();
                        table.destroy(true);
                        $('#tableContainer').append($('<table/>').attr('id', 'searchData').css('width', '100%').addClass('table table-striped'));
                    }
                    self.tableObj = $(this.$$('#searchData')).DataTable({
                        serverSide: true,
                        ajax: function (data, success) {
                            var page = data.start / 10;
                            page = page + 1;
                            var draw = data.draw;
                            var sortObj = _.transform(data.order, function (result, item) {
                                var columnObj = data.columns[item.column];
                                result[columnObj.data] = item.dir === "desc" ? -1 : 1;
                            }, {});
                            searchReqObj.searchFilterView = _.concat(self.searchReqObj.searchFilterView, searchFilterView);
                            searchReqObj.sorts = sortObj;
                            $.ajax({
                                url: savedFilters + '/' + self.currentEntityName + '/search-applications/?pageSize=10&page=' + page,
                                type: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify(searchReqObj),
                                headers: {
                                    'Authorization': "Bearer " + self.$.sessionAction.get('token')
                                },
                                complete: function (data) {
                                    var _responseJSON = data.responseJSON;
                                    self.set('filteredItems', _responseJSON);
                                    var gridData = {
                                        "draw": draw,
                                        "recordsTotal": parseInt(data.getResponseHeader('X-TOTAL-COUNT')),
                                        "recordsFiltered": parseInt(data.getResponseHeader('X-TOTAL-COUNT')),
                                        "data": _responseJSON
                                    }
                                    $('html, body').animate({
                                        scrollTop: ($('#tableContainer').first().offset().top)
                                    }, 500);
                                    success(gridData);
                                }
                            });
                        },
                        dom: "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                        order: [[2, "desc"]],
                        columnDefs: [
                            {
                                targets: 2,
                                orderable: true
                            },
                            {
                                targets: 4,
                                orderData: 9
                            },
                            {
                                targets: 9,
                                visible: false
                            }
                        ],
                        columns: [
                            {
                                "data": "ApplicationNumber",
                                "title": "Application No"
                            },
                            {
                                "data": "Submitted",
                                "title": "Application Date",
                                "render": function (data) {
                                    return "<span>" + self.formatDate(data) + "</span>"
                                }
                            },
                            {
                                "data": "Applicant",
                                "title": "Applicant Name",
                            },
                            {
                                "data": "ApplicantPhone",
                                "title": "Phone Number"
                            },
                            {
                                "data": "AmountRequested",
                                "title": "Req Loan Amount",
                                "render": function (data, type, full, meta) {
                                    return self.currencyFormat(data);
                                }
                            },
                            {
                                "data": "ApplicantEmployer",
                                "title": "Employer Name"
                            },
                            {
                                "data": "ExpirationDate",
                                "title": "Expiry Date",
                                "render": function (data) {
                                    return "<span>" + self.formatDate(data) + "</span>"
                                }
                            },
                            {
                                "data": "SourceType",
                                "title": "Source"
                            },
                            {
                                "data": "ApplicationNumber",
                                "isFunction": true,
                                "orderable": false,
                                "render": eval("(function(data,type,full,meta) { return \"<button class='btn btn-primary btn-xs' data-appId='\" + data + \"' on-click='openAppView'>Details</button>\"})")
                            },
                            {
                                "data": "AmountRequested",
                                "title": "Req Loan Amount"
                            }
                        ],
                        language: {
                            lengthMenu: "show_MENU_ applications",
                            zeroRecords: "No applications found.",
                            info: "Showing _START_ to _END_ of _TOTAL_ Applications",
                            infoEmpty: "No applications available",
                            infoFiltered: "(filtered from _MAX_ total Applications)"
                        }
                    });
                    $('#searchData tbody').on('click', 'button', function () {
                        self.openAppView($(this).data());
                    });
                    //Grid header tooltip
                    var configData = self.tableObj.settings().aoColumns;
                    if ($('#searchData thead tr')[0] != undefined) {
                        $('#searchData thead tr')[0].childNodes.forEach(function (obj) {
                            var tooltipObj = _.filter(configData, { title: obj.innerText });
                            if (!_.isUndefined(tooltipObj) && !_.isNull(tooltipObj) && !_.isEmpty(tooltipObj)) {
                                var tooltip = tooltipObj[0].tooltip;
                                if (tooltip !== "" && tooltip !== undefined) {
                                    $(obj).attr('title', tooltip);
                                }
                            }
                        });
                    }
                },
                openAppView: function (rowObj) {
                    var self = this;
                    var appId = rowObj.appid;
                    var appObj = _.find(self.filteredItems, ['ApplicationNumber', appId]);
                    var params = self.$.urlaction.getParams();
                    self.set("statusName", appObj.StatusName);
                    self.set("applicantId", appObj.ApplicantId);
                    self.set("applicationNumber", appObj.ApplicationNumber);
                    var url = "/app-details/filter:ActionCenter";
                    if (self.applicantId != null) {
                        url = url + "/app:" + self.applicationNumber + "/applicantId:" + self.applicantId;
                    }
                    else {
                        url = url + "/app:" + self.applicationNumber;
                    }
                    window.location.hash = url;
                },
                _verifyForm: function (event) {
                    event.preventDefault();
                    var self = this;
                    var inputObj = _.cloneDeep(self.searchObj.values);
                    var exludeAppConfig = self.$.configaction.getConfigurationBasedOnKey("excludeApp");
                    var form = Polymer.dom(event).localTarget.parentElement;
                    if (form.validate()) {
                        if (exludeAppConfig && !_.isEmpty(exludeAppConfig)) {
                            var statusListToExclude = _.transform(exludeAppConfig, function (result, element) {
                                result.push(element.code);
                            }, []);
                            inputObj.StatusCode = { "$nin": statusListToExclude };
                        }
                        //split name : Name Search Case Sensitive
                        if (!_.isUndefined(inputObj.LCaseApplicant) && !_.isNull(inputObj.LCaseApplicant) && !_.isEmpty(inputObj.LCaseApplicant)) {
                            var _tempApplicantName = inputObj.LCaseApplicant.split(" ");
                            if (_tempApplicantName != undefined && _tempApplicantName.length === 2) {
                                inputObj.LCaseApplicant = _.join(_tempApplicantName, "  ");
                            }
                        }
                        var excludeKeyList = ['StatusCode'];
                        var searchFilterView = _.transform(inputObj, function (result, value, key) {
                            if (value) {
                                var tempObj = {};
                                if (excludeKeyList.indexOf(key) === -1) {
                                    tempObj[key] = _.toLower(value);
                                } else {
                                    tempObj[key] = value;
                                }
                                result.push(tempObj);
                            }
                        }, []);
                        self._showResult(searchFilterView);
                    }
                },
                attached: function () {
                    window.addEventListener("hashchange", this.createHashChangedHandler());
                    this.init();
                },
                detached: function () {
                    window.removeEventListener("hashchange", this.onHashChanged);
                },
                createHashChangedHandler: function () {
                    this.onHashChanged = function () {
                        var self = this;
                        var currentMicroApp = window.location.hash.slice(2).split("/")[0];
                        if (self.microAppName === currentMicroApp) {
                            self.set('microAppName', window.location.hash.slice(2).split("/")[0]);
                            self.init();
                        }
                    }.bind(this);
                    return this.onHashChanged;
                },
                init: function () {
                    var self = this;
                    self.set('microAppName', window.location.hash.slice(2).split("/")[0]);
                    $('#actioncenterFormCancelBtn').click();
                },
                ready: function () {
                    var self = this;
                    var urlParams = self.$.urlaction.getParams();
                    if (urlParams.hasOwnProperty('entity')) {
                        self.set('currentEntityName', urlParams.entity);
                    }
                    var actionCenter = self.$.configaction.getConfigurationBasedOnKey("actionCenter");
                    self.set('actionCenters', actionCenter);
                    var searchReqObjConfig = self.$.configaction.getConfigurationBasedOnKey("searchReqObj");
                    self.set("searchReqObj", searchReqObjConfig);
                },
                currencyFormat: function (data) {
                    return formats.moneyWithoutFraction(data, window.config.country, 0);
                },
                hasRole: function (compName) {
                    compName = compName + "Filters";
                    return this.$.authorizenavn.hasRole(compName);
                },
                _resetForm: function (event) {
                    var self = this;
                    var _tempSearchObj = _.cloneDeep(self.searchObj);
                    _tempSearchObj.values = {
                        ApplicantPhone: "",
                        LCaseApplicant: "",
                        LCaseApplicantPanNumber: "",
                        LCaseApplicantPersonalEmail: "",
                        LCaseApplicantEmployer: "",
                        ApplicationNumber: ""
                    };
                    self.set('searchObj', $.extend({}, self.get('searchObj'), _tempSearchObj));
                    var form = Polymer.dom(event).localTarget.parentElement;
                    form.reset();
                },
                _getRecords: function (onjAction) {
                    var self = this;
                    var payload = {};
                    $.ajax({
                        url: window.config.services.savedFilters + '/' + onjAction.entityType + '/' + onjAction.searchName + '/' + onjAction.filterName + '?pageSize=1&page=1',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(payload),
                        headers: {
                            'Authorization': "Bearer " + self.$.sessionAction.get('token')
                        },
                        complete: function (data) {
                            var recordsTotal = parseInt(data.getResponseHeader('X-TOTAL-COUNT'));
                            if (isNaN(recordsTotal)) {
                                recordsTotal = 0;
                            }
                            $('#' + onjAction.recordsId).text(recordsTotal);
                        }
                    });
                }
            });
        });
    </script>
</dom-module>