<dom-module id="activity-wrapper">
    <template>
        <style>
            .activity-stream {
                overflow-y: auto;
            }

            .ibox {
                margin-bottom: 0;
                color: inherit;
                background-color: #ffffff;
                border-color: #e7eaec;
                border-image: none;
                border-style: solid solid none;
                border-width: 4px 0 0;
            }

            .ibox-title {
                cursor: default;
                border: none;
                padding: 15px 30px 15px 15px;
            }

            .ibox-content {
                padding: 15px 5px 0;
            }

            .fa-refresh,
            .fa-search {
                cursor: pointer;
            }

            .dropdown.dropdown-lg .dropdown-menu {
                margin-top: 0;
                padding: 6px 20px;
                width: 365px;
                z-index: 199;
            }

            .input-group-btn .btn-group {
                display: flex !important;
            }

            .btn-group .btn {
                border-radius: 0;
                margin-left: -1px;
            }

            .btn-group .btn:last-child {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }

            .btn-group .form-horizontal .btn[type="submit"] {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }

            .form-horizontal .form-group {
                margin-left: 0;
                margin-right: 0;
            }

            .form-group .form-control:last-child {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }

            #adv-search {
                width: 100%;
            }

            .input-group-btn {
                width: 10%;
            }

            .col-md-12 {
                padding-bottom: 15px;
            }

            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .stream-small {
                margin: 10px 0;
            }

            .stream {
                position: relative;
                padding: 10px 0;
            }

            .stream .stream-badge,
            .stream .firstChild,
            .stream .lastChild {
                width: 50px;
            }

            .stream .stream-panel {
                margin-left: 40px;
                margin-top: 4px;
            }

            .stream .stream-info {
                font-size: 12px;
                margin-bottom: 5px;
            }

            .stream .stream-info .date {
                color: #9a9d9f;
                font-size: 80%;
            }

            .stream .stream-badge i,
            .stream .firstChild i,
            .stream .lastChild i {
                border: 1px solid #e7eaec;
                border-radius: 50%;
                padding: 6px;
                color: #808486;
                position: absolute;
                background-color: #ffffff;
                left: 8px;
            }

            .stream .stream-badge:before {
                content: '';
                width: 1px;
                background-color: #e7eaec;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 20px;
            }

            .stream .firstChild:before {
                content: '';
                width: 1px;
                background-color: #e7eaec;
                position: absolute;
                top: 10px;
                bottom: 0;
                left: 20px;
            }

            .stream .lastChild:before {
                content: '';
                width: 1px;
                background-color: #e7eaec;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 20px;
                height: 30px;
            }

            i.bg-warning {
                color: #ffffff;
                background-color: #f8ac59;
                border-color: #f8ac59;
            }

            .stream i.bg-success {
                color: #ffffff !important;
                background-color: #1c84c6 !important;
                border-color: #1c84c6 !important;
            }

            .my-image {
                --image-circle-width: 25px;
                --image-circle-height: 25px;
                --image-circle-margin-x: -4px;
                --image-circle-margin-y: 2px;
                --image-circle-cursor: default;
            }

            .eventName {
                color: #337ab7;
                cursor: default;
            }
        </style>
        <div class="ibox">
            <div class="ibox-title">
                <h5>Activity List</h5>
                <div class="ibox-tools">
                    <i class="fa fa-refresh fa-lg" on-click="_reloadActivityList"></i>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row" style="margin: 0;">
                    <div class="col-md-12">
                        <div class="input-group" id="adv-search">
                            <input type="text" id="activity-search" on-change="_onInputChange" class="form-control" placeholder="Search...">
                            <div class="input-group-btn">
                                <div class="btn-group" role="group">
                                    <div class="dropdown dropdown-lg">
                                        <button type="button" id="dropdownToggleBtn" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                                            <form is="iron-form" class="form-horizontal" name="activityAdvanceSearch">
                                                <div class="form-group">
                                                    <vaadin-combo-box class="custom-input" value="{{selectedKey}}" name="activityKeyName" id="activityKeyName" item-value-path="key"
                                                        item-label-path="value" items="{{keyList}}" label="Select Property Name"
                                                        prevent-invalid-input="true">
                                                    </vaadin-combo-box>
                                                </div>
                                                <div class="form-group">
                                                    <paper-input class="custom-input" type="textbox" value="{{InnerSearch}}" name="InnerSearch" id="InnerSearch" label="Search"></paper-input>
                                                </div>
                                                <div class="form-group">
                                                    <vaadin-combo-box class="custom-input" value="{{selectedRange}}" name="dateRangeName" id="dateRangeName" item-value-path="key"
                                                        item-label-path="value" items="{{dateRange}}" label="Select Date Within"
                                                        prevent-invalid-input="true">
                                                    </vaadin-combo-box>
                                                </div>
                                                <paper-button class="btn btn-primary activity-action-btn" on-click="_onDropdownMenuSearch" raised>Submit</paper-button>
                                            </form>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary" on-click="_onOuterSearchBtn">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="activity-stream">
                    <template is="dom-if" if="{{_rerenderList(displayActivityList)}}">
                        <template is="dom-repeat" items="{{displayActivityList}}" as="activityObj">
                            <div class="stream">
                                <div class="stream-badge" class$="{{_computeClass(index)}}">
                                    <i title="{{activityObj.title}}" class$="{{_computeIconClass(activityObj.event.name)}}" aria-hidden="true"></i>
                                </div>
                                <div class="stream-panel">
                                    <div class="stream-info">
                                        <a href="javascript:">
                                            <image-circle class="my-image" img-obj="{{activityObj}}" username-prop="author" full-username-prop="author"></image-circle>
                                            <span class="eventName">{{_changeTextDisplay(activityObj.event.name)}}</span>
                                            <span class="date"> at {{formatDate(activityObj.activityDate)}}</span>
                                        </a>
                                    </div>
                                    {{activityObj.description}}
                                    <template is="dom-if" if="{{showViewHtmlLink(activityObj)}}">
                                        <a href="javascript:void()" model$={{activityObj}} on-click="ShowHTML">click here</a>
                                    </template>
                                </div>
                            </div>
                        </template>
                        <div id="emailContent" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title EmailSubject">Email Content</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div id="EmailModelContent"></div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
        <url-parser id="urlaw"></url-parser>
        <http-request id="httpaw"></http-request>
        <alloy-format id="formataw"></alloy-format>
        <alloy-config id="configaw"></alloy-config>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "activity-wrapper",
                properties: {
                    applicationNumber: {
                        type: String,
                        notify: true
                    },
                    displayActivityList: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    },
                    filteredActivityList: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    },
                    activityList: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    },
                    keyList: {
                        type: Array,
                        notify: true,
                        value: [
                            { key: 'activityDate', value: 'Activity Date' },
                            { key: 'author', value: 'Author' },
                            { key: 'description', value: 'Description' },
                            { key: 'title', value: 'Title' },
                            { key: 'event.ipAddress', value: 'IP Address' },
                            { key: 'event.name', value: 'Event Name' },
                            { key: 'event.userName', value: 'Event User Name' }
                        ]
                    },
                    dateRange: {
                        type: Array,
                        notify: true,
                        value: [
                            { key: '1', value: '1 Day' },
                            { key: '3', value: '3 Days' },
                            { key: '7', value: '1 Week' },
                            { key: '14', value: '2 Weeks' },
                            { key: '30', value: '1 Month' },
                            { key: '60', value: '2 Months' },
                            { key: 'All', value: 'All' }
                        ]
                    },
                    selectedKey: {
                        type: String,
                        notify: true
                    },
                    InnerSearch: {
                        type: String,
                        notify: true,
                        observer: "UpdateSearchText"
                    },
                    selectedRange: {
                        type: String,
                        notify: true
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    }
                },
                UpdateSearchText: function (objText) {
                    $('#activity-search').val(objText);
                },
                _computeClass: function (index) {
                    var length = this.activityList.length;
                    if (index === 0) {
                        return "firstChild";
                    }
                    else if (index === length - 1) {
                        return "lastChild";
                    }
                    else {
                        return "stream-badge";
                    }
                },
                _computeIconClass: function (eventName) {
                    var iconConfig = this.iconConfig;
                    return iconConfig.hasOwnProperty(eventName) ? iconConfig[eventName] : "fa fa-circle";
                },
                showViewHtmlLink: function (item) {
                    if (item.isHTML != undefined && item.isHTML) {
                        return true;
                    }
                    return false;
                },
                ShowHTML: function (event) {
                    event.preventDefault();
                    var html = event.model.__data__.activityObj.HTML;
                    var subject = event.model.__data__.activityObj.title;
                    if (html.indexOf("<body>") > 0) {
                        html = html.substring(html.indexOf("<body>") + 6, html.indexOf("</body>"));
                    }
                    $("h4.EmailSubject").text(subject);
                    $('#EmailModelContent').html(html);
                    $('#emailContent').modal('show');
                    $('#EmailModelContent').find('a').removeAttr("href");
                    $('#EmailModelContent').find('div').css({ "width": "" });
                    $('#EmailModelContent').find('table').css({ "width": "" });
                    $('#EmailModelContent').find('table').css({ "height": "" });
                    $('#EmailModelContent').find('table tbody tr td a').css({ "height": "" });
                },
                formatDate: function (date) {
                    return formats.date(date, window.config.country, true);
                },
                _changeTextDisplay: function (value) {
                    if (!_.isNull(value) && !_.isUndefined(value) && !_.isEmpty(value))
                        return _.startCase(_.lowerCase(value));
                    return "";
                },
                _onInputChange: function (event) {
                    var self = this;
                    if (this._checkIfNotNullAndEmpty(event.target.value)) {
                        $(event).removeClass('error');
                        self.InnerSearch = event.target.value;
                    } else {
                        $(event).addClass('error');
                    }
                },
                _onOuterSearchBtn: function () {
                    var self = this;
                    var searchedVal = $('#activity-search').val();
                    var activityList = _.cloneDeep(self.activityList);
                    if (!_.isEmpty(searchedVal)) {
                        var result = self._getActivitySearch(activityList, searchedVal);
                        self.set('displayActivityList', []);
                        self.set('displayActivityList', $.extend([], result));
                    } else {
                        self.set('displayActivityList', activityList);
                    }
                },
                getDataFromPath: function (data, dataPath) {
                    var keyArray = dataPath.split(".");
                    var dataVal = data;
                    keyArray.forEach(function (key) {
                        if (dataVal != undefined && key != "") {
                            dataVal = dataVal[key];
                        }
                    });
                    return dataVal;
                },
                _onDropdownMenuSearch: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var searchInputObj = $('#activity-search');
                    var activityList = _.cloneDeep(self.activityList);
                    if (self._checkIfNotNullAndEmpty(searchInputObj.val()) && (self.selectedKey == "" || self.selectedKey == undefined) && (self.selectedRange == undefined || self.selectedRange == "")) {
                        self._onOuterSearchBtn();
                        $('#dropdownToggleBtn').click();
                    }
                    else {
                        if (self._checkIfNotNullAndEmpty(searchInputObj.val())) {
                            searchInputObj.removeClass('error');
                            if (self.selectedRange !== "All" && self.selectedRange != "") {
                                var currentDate = moment.tz(window.config.timezone);
                                currentDate.subtract(self.selectedRange, 'days');
                                activityList = _.filter(activityList, function (item) {
                                    var date = moment(item.activityDate);
                                    return currentDate.diff(date) < 0;
                                });
                            }
                            var filteredList = self._advanceActivitySearch(activityList, searchInputObj.val(), self.selectedKey);
                            self.set('displayActivityList', []);
                            self.set('displayActivityList', $.extend([], filteredList));
                            $('#dropdownToggleBtn').click();
                        } else {
                            searchInputObj.addClass('error');
                        }
                    }
                },
                _advanceActivitySearch: function (items, val, keyName) {
                    var self = this;
                    //var val = val.toLowerCase();
                    var result = _.filter(items, function (item) {
                        var data = self.getDataFromPath(item, keyName);
                        data = data.toLowerCase();
                        return data.indexOf(val) !== -1;
                    });
                    return result || [];
                },
                _getActivitySearch: function (items, val) {
                    //var val = val.toLowerCase();
                    var result = _.filter(items, function (item) {
                        return item.searchArr.search(val) !== -1;
                    });
                    return result || [];
                },
                ready: function () {
                    var self = this;
                    var params = self.$.urlaw.getParams();
                    if (params.hasOwnProperty('entity')) {
                        self.set('currentEntityName', params.entity);
                    }
                    self.addEventListener('reload', self._reloadActivityList.bind(self));
                    self._getActivityIconConfigurations();
                },
                _processActivityData: function (data) {
                    var self = this;
                    data = _.forEach(data, function (item) {
                        if (item.description.indexOf("$$") > 0) {
                            var description = item.description;
                            var textContent = description.substring(0, description.indexOf("$$"));
                            var htmlContent = description.substring(description.indexOf("$$"));
                            item.HTML = htmlContent.replace(/[$$]/g, "");
                            item.isHTML = true;
                            item.description = textContent;
                        }
                        item.searchArr = JSON.flatten(item).join(' ');
                    });
                    return data;
                },
                _fetchActivity: function () {
                    var self = this;
                    var params = self.$.urlaw.getParams();
                    var url = '/' + self.currentEntityName + '/' + params.app + "/all/clean";
                    self.$.httpaw.get(url, window.config.services.activityList).then(function (data) {
                        var activityList = self._processActivityData(data);
                        self.set('displayActivityList', _.orderBy(activityList, ['activityDate'], ['desc']));
                        var distUserList = _.uniq(_.map(activityList, 'author'));
                        var updatedUserList = self._fetchUserImage(distUserList);
                        setTimeout(function () {
                            var savedActivityList = _.cloneDeep(self.displayActivityList);
                            _.forEach(savedActivityList, function (item) {
                                var userObj = _.find(updatedUserList, ['fullName', item.author]);
                                if (userObj) {
                                    _.extend(item, {
                                        url: userObj.url,
                                        fullName: userObj.fullName
                                    });
                                }
                            });
                            var filteredList = _.filter(savedActivityList, ['event.name', 'ApplicationActivityLogged']);
                            savedActivityList = _.reject(savedActivityList, ['event.name', 'ApplicationActivityLogged']);
                            self.set('activityList', _.orderBy(savedActivityList, ['activityDate'], ['desc']));
                            self.set('displayActivityList', savedActivityList);
                            self.set('filteredActivityList', filteredList);
                        }, 700);
                    }).fail(function (e) {
                        console.error(e.responseJSON);
                    });
                },
                _checkIfNotNullAndEmpty: function (str) {
                    return !_.isUndefined(str) && !_.isNull(str) && !_.isEmpty(str);
                },
                _fetchUserImage: function (userList) {
                    var self = this;
                    var assetService = window.config.services.assetService;
                    var systemImage = "/images/lendfoundry-blocks-1000.png";
                    var userImageData = [];
                    userList.forEach(function (item) {
                        var username = self._checkIfNotNullAndEmpty(item) ? item : "system";
                        var url = "/user/" + username + "/profile.png";
                        self.$.httpaw.get(url, assetService).then(function (result) {
                            if (result.hasOwnProperty('url') && !_.isUndefined(result.url) && !_.isNull(result.url)) {
                                userImageData.push({
                                    url: result.url,
                                    fullName: username
                                });
                            }
                            else {
                                userImageData.push({
                                    url: null,
                                    fullName: username
                                });
                            }
                        }).fail(function (e) {
                            userImageData.push({
                                url: null,
                                fullName: username
                            });
                            return '';
                        });
                    });
                    return userImageData;
                },
                _reloadActivityList: function (e) {
                    this._fetchActivity();
                },
                _getActivityIconConfigurations: function () {
                    var self = this;
                    var data = self.$.configaw.getConfigurationBasedOnKey("activity-icons");
                    this.set('iconConfig', data);
                    this._fetchActivity();
                },
                _rerenderList: function (displayActivityList) {
                    return this._checkIfNotNullAndEmpty(this.displayActivityList);
                },
                date: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.date(date, window.config.country, true);
                    }
                    return "NA";
                }
            });
        });
    </script>
</dom-module>