<html-import html-href="custom-component/calendar-icon.html"></html-import>
<dom-module id="cashflow-report">
    <template>
        <style>
            .dt-body-right {
                text-align: right !important;
            }

            .dt-body-center {
                text-align: center !important;
            }

            th.h-center-c-left {
                text-align: center !important;
            }

            td.h-center-c-left {
                text-align: left !important;
            }

            th.h-right-c-right {
                text-align: right !important;
            }

            td.h-right-c-right {
                text-align: right !important;
            }

            th.h-center-c-center {
                text-align: center !important;
            }

            td.h-center-c-center {
                text-align: center !important;
            }

            th.h-center-c-right {
                text-align: center !important;
            }

            td.h-center-c-right {
                text-align: right !important;
            }

            .FixWidth {
                width: 70% !important;
            }

            .FixWidthDD {
                margin-left: 30% !important;
            }

            .panel-body {
                min-height: 0px;
            }

            .panel-title {
                font-size: 12px;
                margin-top: 0 !important;
            }

            .panel-group .panel {
                border-radius: 0;
                box-shadow: none;
                border-color: #EEEEEE;
            }

            .panel-default .panel-heading {
                padding: 0;
                border-radius: 0;
                color: inherit;
                background-color: #fff;
            }

            .panel-body .panel-default>.panel-heading {
                padding: 0;
                border-radius: 0;
                color: #03466B;
                background-color: #ddd;
                border-color: #ddd;
            }

            .panel-title>a {
                display: block;
                padding: 15px;
                text-decoration: none;
            }

            .more-less {
                float: right;
            }

            .panel-default>.panel-heading+.panel-collapse>.panel-body {
                border-top-color: #EEEEEE;
            }

            .panel.panel-default {
                margin-bottom: 10px !important;
                border-radius: 0;
                box-shadow: none;
                border-color: #EEEEEE;
            }

            .div-ul {
                padding: 0;
            }

            .div-ul li {
                display: inline-flex;
                width: 47%;
                margin: 5px auto;
            }

            .div-ul li>b {
                margin-right: 2px;
            }

            .div-ul li>b:nth-of-type(2) {
                font-weight: normal;
            }

            .div-ul.menu li {
                width: 33%;
            }

            .bluedash {
                color: blue;
            }

            .green {
                color: green;
            }

            .red {
                color: red;
            }

            .div-border {
                border: 1px solid !important;
            }

            .panel-title ul.dropdown-menu li {
                padding: 10px;
                color: #03466B;
                cursor: pointer;
            }

            ul.dropdown-menu li:hover {
                background-color: lightgray;
            }

            .panel-title ul.nav.navbar-top-links {
                position: absolute;
                width: 5%;
                right: 0;
                top: 0;
            }

            .panel-title ul.nav li.dropdown a {
                padding: 15px;
                min-height: initial;
            }

            div.div-border div.panel-heading {
                margin: 0px !important;
                border-radius: 0px !important;
            }

            .fa-university,
            .fa-money {
                color: blue;
            }

            .fa-pencil {
                margin: 9px auto;
                font-size: 12px;
                color: black;
            }

            .editAnchor {
                min-height: initial;
                height: 46px;
                vertical-align: middle;
                padding: 7px !important;
            }
        </style>
        <template is="dom-repeat" items="{{reportList}}" as="report" index-as="repIdx">
            <template is="dom-if" if="{{report.renderOnScreen}}">
                <div class$="{{_getClassName(report)}}">
                    <div class="panel-heading" role="tab" id="{{report.headerId}}">
                        <template is="dom-if" if="{{_hasFirstSubReport(report)}}">
                            <h4 class="panel-title" style="position: relative">
                                <a role="button" data-toggle="collapse" data-parent="#report" style="width: 95%" href="#{{report.id}}" aria-expanded="true"
                                    aria-controls="{{report.id}}">
                                    <i class="more-less fa fa-plus"></i> {{report.name}} {{_getStatementDetails(report.firstSubReports)}}
                                    <i class$="{{_isFundingAccount(fundingAccountId)}}" title="Funding Account"></i>
                                    <i class$="{{_isCashflowAccount(cashflowAccountId)}}" title="Cashflow Account"></i>
                                    <span>(Source: {{report.source}})</span>
                                </a>
                                <template is="dom-if" if="{{hasRole('CashflowInfoMenu')}}">
                                    <ul class="nav navbar-top-links">
                                        <li class="dropdown">
                                            <a href="javascript:" class="dropdown-toggle moreHeight" data-toggle="dropdown" role="button" aria-expanded="false">
                                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <template is="dom-if" if="{{_showCashflowManuItem('cash-flow-summary',statusCode)}}">
                                                    <li model$="{{report}}" data-cashflow-key="Cash flow Summary" on-click="_editCashflowSummary">Edit Cashflow</li>
                                                </template>
                                                <template is="dom-if" if="{{_showCashflowManuItem('edit-account',statusCode)}}">
                                                    <li model$="{{report}}" on-click="_editBankAccount">Edit Account</li>
                                                </template>
                                                <template is="dom-if" if="{{_showCashflowManuItem('add-monthaly-cashflow',statusCode)}}">
                                                    <li model$="{{report}}" id="linkAddMonthlyReport{{currentAccountId}}" data-cashflow-key="Monthly Summary" on-click="_editCashflowSummary">Add Monthly Cashflow</li>
                                                </template>
                                                <template is="dom-if" if="{{_showCashflowManuItem('set-funding-account',statusCode)}}">
                                                    <li model$="{{report}}" data-account-type="funding" on-click="_setBankAccountPreference">Set As Funding Account</li>
                                                </template>
                                                <template is="dom-if" if="{{_showCashflowManuItem('set-cashflow-account',statusCode)}}">
                                                    <li model$="{{report}}" data-account-type="cashflow" on-click="_setBankAccountPreference">Set As Cashflow Account</li>
                                                </template>
                                                <li model$="{{report}}" on-click="_viewBankAccountTransaction">View Transaction List</li>
                                            </ul>

                                        </li>
                                    </ul>
                                </template>
                            </h4>
                            <div class="row" style="margin: 0 auto;">
                                <div class="col-md-12">
                                    <ul class="div-ul menu">
                                        <template is="dom-repeat" items="{{report.firstSubReports.fields}}" as="summary">
                                            <template is="dom-if" if="{{_showCashflowSummaryDetails(summary)}}">
                                                <li>
                                                    <b>{{summary.label}}:&nbsp;</b> {{summary.value}}
                                                </li>
                                            </template>
                                        </template>
                                    </ul>
                                </div>
                            </div>
                        </template>
                        <template is="dom-if" if="{{!showMenu}}">
                            <h4 class="panel-title" style="position: relative">
                                <a role="button" data-toggle="collapse" data-parent="#report" style="width: 95%" href="#{{report.id}}" aria-expanded="true"
                                    aria-controls="{{report.id}}">
                                    <i class="more-less fa fa-plus"></i> {{report.name}}
                                </a>
                                <template is="dom-if" if="{{_showCashflowManuItem('edit-monthaly-cashflow',statusCode)}}">
                                    <template is="dom-if" if="{{report.prepareList}}">
                                        <ul class="nav navbar-top-links">
                                            <li class="dropdown">
                                                <a href="javascript:" class="dropdown-toggle moreHeight editAnchor" aria-expanded="false" model$="{{report}}" on-click="_editMonthlyCashflow">
                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </template>
                                </template>
                            </h4>
                        </template>
                    </div>
                    <div id="{{report.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{report.headerId}}">
                        <div class="panel-body">
                            <template is="dom-if" if="{{_IsDefaultFormat(report)}}">
                                <template is="dom-if" if="{{_hasSubReports(report)}}">
                                    <cashflow-report status-code="{{statusCode}}" report-List="{{report.subReports}}" current-account-id="{{currentAccountId}}"
                                        funding-account-id="{{fundingAccountId}}" cashflow-account-id="{{cashflowAccountId}}"
                                        fire-event="{{fireEvent}}">
                                    </cashflow-report>
                                </template>
                                <template is="dom-if" if="{{_showReport(report)}}">
                                    <div class="col-lg-12">
                                        <ul class="div-ul">
                                            <template is="dom-repeat" items="{{report.fields}}" as="field">
                                                <li>
                                                    <b>{{field.label}}:&nbsp;</b>
                                                    <template is="dom-if" if="{{_hasCondFormat(field)}}">
                                                        <b class$="{{_getCondClass(field)}}">{{_checkIfRolesAndAssigneeOnField(field)}} </b>
                                                    </template>
                                                    <template is="dom-if" if="{{!_hasCondFormat(field)}}">
                                                        <template is="dom-if" if="{{_hasDateFormat(field)}}">
                                                            <calendar-icon day-value="{{field.day}}" month-value="{{field.month}}" year-value="{{field.year}}"></calendar-icon>
                                                        </template>
                                                        <template is="dom-if" if="{{!_hasDateFormat(field)}}">
                                                            <b>{{_checkIfRolesAndAssigneeOnField(field)}}</b>
                                                        </template>
                                                    </template>
                                                </li>
                                            </template>
                                        </ul>
                                    </div>
                                </template>
                            </template>
                            <template is="dom-if" if="{{!_IsDefaultFormat(report)}}">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <template is="dom-repeat" items="{{_getTableHeader(report.subReports)}}" as="field">
                                                <th class="dt-body-center">{{field}}</th>
                                            </template>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <template is="dom-repeat" items="{{report.subReports}}" as="reportTable" index-as="indxTop">
                                            <tr>
                                                <template is="dom-repeat" items="{{reportTable.fields}}" as="field1" index-as="indx">
                                                    <td index$="{{indx}}">
                                                        <template is="dom-if" if="{{!_IsLinkFormat(field1)}}">
                                                            {{field1.value}}
                                                        </template>
                                                        <template is="dom-if" if="{{_IsLinkFormat(field1)}}">
                                                            <a href="javascript:" indx$="{{indx}}" indxTop$="{{indxTop}}" on-click="showCustomTableComponent">View</a>
                                                            <custom-table-component id="{{generateId(indxTop,indx)}}" indx="{{indx}}" indx-top="{{indxTop}}" parent-data="{{reportTable.fields}}"
                                                                transactions="{{field1}}"></custom-table-component>
                                                        </template>
                                                    </td>
                                                </template>
                                            </tr>
                                        </template>
                                    </tbody>
                                </table>
                            </template>
                        </div>
                    </div>
                </div>
            </template>
        </template>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <alloy-config id="config"></alloy-config>
        <auth-service id="authorize"></auth-service>
        <session-manager id="session"></session-manager>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "cashflow-report",
                properties: {
                    reportList: {
                        type: Array,
                        notify: true,
                        value: [],
                        observer: "_processDateFields"
                    },
                    applicationNumber: {
                        type: String,
                        notify: true
                    },
                    showMenu: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    statusCode: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    displayFields: {
                        type: Array,
                        notify: true,
                        value: ["AvailableBalance", "AverageDailyBalance", "AverageDeposit", "NumberOfNSF", "NumberOfNegativeBalance", "Source"]
                    },
                    editCashflowSummary: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {},
                            values: {}
                        }
                    },
                    allCashflowSummary: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    currentAccountId: {
                        type: String,
                        notify: true,
                        value: ''
                    },
                    currentKey: {
                        type: String,
                        notify: true,
                        value: ''
                    },
                    fundingAccountId: {
                        type: String,
                        notify: true,
                        value: ''
                    },
                    cashflowAccountId: {
                        type: String,
                        notify: true,
                        value: ''
                    },
                    editBankObj: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    currentFilterName: {
                        type: String,
                        notify: true,
                        value: 'AccountTransaction'
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'cashflow'
                    },
                    filterConfig: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    tableObj: {
                        type: Object,
                        notify: true
                    },
                    spin: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    }
                },
                ready: function () {
                    var self = this;
                    $('#addEditCashflowSummaryPopup').on('hidden.bs.modal', function initDynamicForm(e) {
                        $('#linkAddMonthlyReport' + self.currentAccountId).data('cashflowKeyInner', '');
                    });
                    self._loadFilterConfigurations();
                },
                generateId: function (indxTop, indx) {
                    return 'modal' + indxTop + indx;
                },
                showCustomTableComponent: function (e) {
                    var index = 'modal' + e.model.__data__.indxTop + e.model.__data__.indx;
                    this.$$('#' + index).show();
                },
                hasRole: function (compName) {
                    return this.$.authorize.hasRole(compName);
                },
                _getTableHeader: function (report) {
                    var headers = [];
                    if (!_.isNull(report) && !_.isEmpty(report) && !_.isNull(report[0].fields)) {
                        report[0].fields.forEach(function (element) {
                            headers.push(element.label);
                        }, this);
                    }
                    return headers;
                },
                _IsDefaultFormat: function (report) {
                    if (report && report.name) {
                        if (report.hasOwnProperty('displayFormat') && report.displayFormat === 'default') {
                            return true;
                        }
                    }
                    return false;
                },
                _showCashflowManuItem: function (key, statusCode) {
                    var self = this;
                    var cashConfig = self.$.config.getConfigurationBasedOnKey("cashflow-menu-item-status");
                    if (cashConfig && cashConfig.hasOwnProperty(key)) {
                        var cashflowConfig = cashConfig[key];
                        if (cashflowConfig.indexOf(self.statusCode) !== -1) {
                            return true;
                        }
                    }
                    return false;
                },
                _IsLinkFormat: function (field) {
                    if (field.format != undefined && field.format == 'link') {
                        return true;
                    }
                    return false;
                },
                _hasSubReports: function (report) {
                    if (report && report.name && report.hasSubReports) {
                        return true;
                    }
                    return false;
                },
                _showReport: function (report) {
                    if (report && report.name && !report.hasSubReports) {
                        return true;
                    }
                    return false;
                },
                _hasCondFormat: function (field) {
                    return scoring.hasCondFormat(field);
                },
                _getCondClass: function (field) {
                    return scoring.evalCondFormat(field);
                },
                _hasDateFormat: function (field) {
                    return scoring.hasDateFormat(field);
                },
                _hasFirstSubReport: function (report) {
                    if (report && report.name && !_.isNull(report.firstSubReports) && this.showMenu) {
                        return true;
                    }
                    return false;
                },
                _getClassName: function (report) {
                    if (this._hasFirstSubReport(report)) {
                        return "panel panel-default div-border";
                    }
                    return "panel panel-default";
                },
                _isFundingAccount: function (fundingAccountId) {
                    if (this.currentAccountId == this.fundingAccountId) {
                        return 'fa fa-university';
                    }
                    return '';
                },
                _isCashflowAccount: function (cashflowAccountId) {
                    if (this.currentAccountId == this.cashflowAccountId) {
                        return 'fa fa-money';
                    }
                    return '';
                },
                _getStatementDetails: function (firstSubReports) {
                    var fieldsList = firstSubReports.fields;
                    var startDateObj = _.find(firstSubReports.fields, ['data', 'StartDate']);
                    var EndDateObj = _.find(firstSubReports.fields, ['data', 'EndDate']);
                    if (startDateObj.value != "Invalid date" && EndDateObj.value != "Invalid date") {
                        return " - " + startDateObj.value + " to " + EndDateObj.value;
                    }
                },
                _showCashflowSummaryDetails: function (fieldObj) {
                    return this.displayFields.indexOf(fieldObj.data) !== -1 ? true : false;
                },
                _setBankAccountPreference: function (e) {
                    var self = this;
                    var $ele = $(e.target);
                    var payload = {
                        AccountType: $ele.data('accountType'),
                        AccountID: self.currentAccountId
                    };
                    var url = "/application/" + self.applicationNumber + "/add/account/preference";
                    var cashflowServiceEndpoint = window.config.services.cashflowService;
                    self.$.http.post(url, payload, cashflowServiceEndpoint, true).then(function (data) {
                        var _tempProductChangeOnCashflowPreference = self.$.config.getConfigurationBasedOnKey("productChangeOnCashflowPreference");
                        if (!_.isUndefined(_tempProductChangeOnCashflowPreference) && !_.isEmpty(_tempProductChangeOnCashflowPreference) && !_.isNull(_tempProductChangeOnCashflowPreference) && (_tempProductChangeOnCashflowPreference)) {
                            setTimeout(function () {
                                self.redirectToNewProduct(e, payload);
                            }, 3000);
                        } else {
                            self.raiseAppRefreshEvent(e, "Account preference " + payload.AccountType + " done");
                        }
                    }).fail(function (e) {
                        var response = e.responseJSON;
                        if (response) {
                            self.$.message.showMessage(response.message, "ERROR", self.$$('#MessageContainer'));
                        }
                        else {
                            self.$.message.showMessage("Add bank account error ", "ERROR", self.$$('#MessageContainer'));
                        }
                    });
                },
                _editBankAccount: function (e) {
                    var self = this;
                    var editBankObj = _.cloneDeep(self.editBankObj);
                    var cashflowServiceEndpoint = window.config.services.cashflowService;
                    var url = "/application/" + self.applicationNumber + "/" + self.currentAccountId;
                    self.$.http.get(url, cashflowServiceEndpoint).then(function (result) {
                        if (result) {
                            editBankObj.values.AccountId = result.id;
                            editBankObj.values.RoutingNumber = result.routingNumber;
                            editBankObj.values.BankName = result.bankName;
                            editBankObj.values.AccountNumber = result.accountNumber;
                            editBankObj.values.CurrentBalance = result.currentBalance;
                            editBankObj.values.AvailableBalance = result.availableBalance;
                            editBankObj.values.AccountType = result.accountType;
                            editBankObj.values.Source = result.source;
                            editBankObj.values.BalanceAsOfDate = moment(result.balanceAsOfDate.time).format("YYYY-MM-DD");
                            self.set('editBankObj', editBankObj);
                            $('#editBankAccountPopup').modal('show');
                        }
                    }).fail(function (e) {
                        console.error("_editBankAccount error is ", e);
                    });
                },
                _prepareDynamicFormConfiguration: function (fields) {
                    var excludedValues = ['NaN', 'Not available', 'Invalid date'];
                    return _.transform(fields, function (result, item) {
                        var controlObj = {
                            format: item.dateCulture,
                            label: item.label,
                            title: item.label,
                            type: item.type,
                            validations: item.validations,
                            placeholder: item.placeholder,
                            class: item.class
                        };
                        if (item.type === 'date') {
                            controlObj.maxFactor = item.maxFactor;
                            controlObj.minFactor = item.minFactor;
                        }
                        result.controls[item.data] = controlObj;

                        if (excludedValues.indexOf(item.actualValue) !== -1) {
                            item.actualValue = '';
                        }
                        if (item.type === 'date' && item.actualValue != '') {
                            item.actualValue = moment(item.actualValue).format("YYYY-MM-DD");
                        }
                        result.values[item.data] = item.actualValue;
                    }, { controls: {}, values: {} });
                },
                _editMonthlyCashflow: function (e) {
                    var report = e.model.__data__.report;
                    var elementId = '#linkAddMonthlyReport' + this.currentAccountId;
                    $(elementId).data('cashflowKeyInner', report.name);
                    $(elementId).click();
                },
                _editCashflowSummary: function (e) {
                    var self = this;
                    var $ele = $(e.target);
                    var report = e.model.__data__.report;
                    var subReports = report.subReports;
                    var elementDataObj = $ele.data();
                    self.set('currentKey', elementDataObj.cashflowKey);
                    if (elementDataObj.hasOwnProperty('cashflowKeyInner') && elementDataObj.cashflowKeyInner != '') {
                        self.set('currentKey', elementDataObj.cashflowKeyInner);
                    }
                    var layout = {
                        accountId: self.currentAccountId,
                        id: report.id,
                        name: report.name,
                        hasSubReports: report.hasSubReports,
                        source: report.source
                    };
                    var monthlyCashflows = [];
                    _.forEach(subReports, function (objData) {
                        layout[objData.name] = _.cloneDeep(self._prepareDynamicFormConfiguration(objData.fields));
                        if (objData.prepareList == true) {
                            monthlyCashflows.push(layout[objData.name].values);
                            layout['MonthlyCashFlows'] = monthlyCashflows;
                        }
                    });
                    self.set('editCashflowSummary', { controls: {}, values: {} });
                    self.set('allCashflowSummary', layout);
                    self.set('editCashflowSummary', layout[self.currentKey]);
                    $('#addEditCashflowSummaryPopup').modal('show');
                },
                _checkIfEmptyObject: function (obj) {
                    return Object.keys(obj).length === 0 && obj.constructor === Object;
                },
                _viewBankAccountTransaction: function (e) {
                    var self = this;
                    var loanFilters = window.config.services.savedFilters + '/' + self.currentEntityName;
                    $.fn.dataTable.ext.errMode = 'none';
                    $('#transactionListContainer').empty();
                    $('#transactionListContainer').append($('<table/>').attr('id', 'transactionList').css('width', '100%').addClass('table table-striped'));
                    $('#transactionList').DataTable({
                        serverSide: true,
                        pageLength: 15,
                        ajax: function (data, success) {
                            var page = data.start / 15;
                            page = page + 1;
                            var draw = data.draw;
                            var sortObj = _.transform(data.order, function (result, item) {
                                var columnObj = data.columns[item.column];
                                result[columnObj.data] = item.dir === "desc" ? -1 : 1;
                            }, {});
                            var payload = { sorts: { "TransactionOn.Time.DateTime": -1 } };
                            payload.searchFilterView = [{ "AccountId": self.currentAccountId }];
                            $.ajax({
                                url: loanFilters + '/Search/' + self.currentFilterName + '?pageSize=15&page=' + page,
                                type: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify(payload),
                                headers: {
                                    'Authorization': "Bearer " + self.$.session.get('token')
                                },
                                complete: function (data) {
                                    var gridData = {
                                        "draw": draw,
                                        "recordsTotal": parseInt(data.getResponseHeader('X-TOTAL-COUNT')),
                                        "recordsFiltered": parseInt(data.getResponseHeader('X-TOTAL-COUNT')),
                                        "data": data.responseJSON
                                    }
                                    self.set('spin', true);
                                    success(gridData);
                                }
                            });
                        },
                        dom: "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                        columns: self.filterConfig.columns,
                        columnDefs: self.filterConfig.columnDefs,
                        order: self.filterConfig.order,
                        language: {
                            lengthMenu: "show_MENU_ transactions",
                            zeroRecords: "No transactions found.",
                            info: "Showing _START_ to _END_ of _TOTAL_ Transactions",
                            infoEmpty: "No transactions available",
                            infoFiltered: "(filtered from _MAX_ total Transactions)"
                        }
                    });
                    $('#viewTransactionListPopup').modal('show');
                },
                raiseAppRefreshEvent: function (event, message) {
                    this.$.utility.raiseEvent(this.fireEvent, { Message: message, EventData: event });
                },
                _checkIfRolesAndAssigneeOnField: function (field) {
                    if (field.hasOwnProperty('isVisible')) {
                        return field.isVisible ? field.value : "";
                    }
                    return field.value;
                },
                _loadFilterConfigurations: function () {
                    var self = this;
                    var data = self.$.config.getConfigurationBasedOnKey("filters");
                    var config = _.cloneDeep(data[self.currentFilterName]);
                    var columnLength = config.columns.length;
                    for (var i = 0; i < columnLength; i++) {
                        if (config.columns[i].render != undefined) {
                            var render = config.columns[i].render;
                            if (config.columns[i].isFunction) {
                                config.columns[i].render = eval("(" + render + ")");
                            }
                            else {
                                config.columns[i].render = eval(render);
                            }
                        }
                    }
                    self.set("filterConfig", config);
                },
                _processDateFields: function (reportList) {
                    if (this.reportList.length > 0) {
                        reportList.forEach(function (report) {
                            if (report.fields && report.fields.length > 0) {
                                report.fields.forEach(function (field) {
                                    if (field.type && field.type === "date") {
                                        scoring.setDateVariables(field);
                                    }
                                });
                            }
                        });
                    }
                },
                redirectToNewProduct: function (e, payload) {
                    var self = this;
                    var params = self.$.url.getParams();
                    var url = "/status-management/application/" + params.app + "/statusworkflow";
                    self.$.http.get(url, "").then(function (data) {
                        var redirect = "/app-details/entity:application/filter:Application";
                        if (params.product !== data.productId) {
                            if (params.applicantId !== undefined && params.applicantId !== null && params.applicantId !== "") {
                                redirect = redirect + "/app:" + params.app + "/applicantId:" + params.applicantId + "/product:" + data.productId + "/workflow:" + data.statusWorkFlowId;
                            } else {
                                redirect = redirect + "/app:" + params.app + "/product:" + data.productId + "/workflow:" + data.statusWorkFlowId;
                            }
                            window.location.hash = redirect;
                            window.location.reload();
                        } else {
                            self.raiseAppRefreshEvent(e, "Account preference " + payload.AccountType + " done");
                        }
                    }).fail(function (e) {
                        console.error("initiat fact verification error is ", e);
                    });
                }
            });
        });
    </script>
</dom-module>