<html-import html-href="custom-component/loan-activity.html"></html-import>
<html-import html-href="app-actions/cancel-loc.html"></html-import>
<html-import html-href="app-actions/assign-app.html"></html-import>
<html-import html-href="app-actions/upload-docs.html"></html-import>
<html-import html-href="app-actions/select-bank.html"></html-import>
<html-import html-href="app-actions/switch-owner.html"></html-import>
<html-import html-href="app-actions/edit-cashflow.html"></html-import>
<html-import html-href="app-actions/stipulate-docs.html"></html-import>
<html-import html-href="app-actions/edit-ach-return.html"></html-import>
<html-import html-href="app-actions/verify-documents.html"></html-import>
<html-import html-href="app-actions/edit-application.html"></html-import>
<html-import html-href="app-actions/add-bank-account.html"></html-import>
<html-import html-href="app-actions/move-to-next-step.html"></html-import>
<html-import html-href="app-actions/status-management.html"></html-import>
<html-import html-href="app-actions/submit-application.html"></html-import>
<html-import html-href="app-actions/reject-application.html"></html-import>
<html-import html-href="app-actions/approve-application.html"></html-import>
<html-import html-href="app-actions/resend-bank-linking.html"></html-import>
<html-import html-href="app-actions/add-funding-request.html"></html-import>
<html-import html-href="app-actions/clear-person-report.html"></html-import>
<html-import html-href="app-actions/resend-for-signature.html"></html-import>
<html-import html-href="app-actions/clear-business-report.html"></html-import>
<html-import html-href="app-actions/upload-bank-statement.html"></html-import>
<html-import html-href="app-actions/business-credit-report.html"></html-import>
<html-import html-href="app-actions/call-personal-verifications.html"></html-import>
<dom-module id="action-container">
    <template>
        <style>
            .activity-action-btn {
                padding: 10px;
                width: 100%;
                font-size: inherit;
            }
        </style>
        <template is="dom-if" if="{{hasRole(componentMap,'EditACHReturnAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.EditACHReturn)}}">
                <loan-activity id="editACHReturn-loan-activity" activity-title="Edit ACH Return">
                    <edit-ach-return id="editACHReturn" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'EditACHReturn')}}"></edit-ach-return>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'EditCashflowAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.EditCashflow)}}">
                <loan-activity id="editCashflow-loan-activity" activity-title="Edit Cashflow">
                    <edit-cashflow id="editCashflow" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'EditCashflow')}}"></edit-cashflow>
                </loan-activity>
                <iron-signals on-iron-signal-openeditcashflow="_openEditCashflow"></iron-signals>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'SelectBankAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.SelectBank)}}">
                <loan-activity id="selectBank-loan-activity" activity-title="Select Accounts">
                    <select-bank id="selectBank" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'SelectBank')}}"></select-bank>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'EditApplicationAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.Edit)}}">
                <loan-activity id="editapplication-loan-activity" activity-title="Edit">
                    <edit-application id="editapplication" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'Edit')}}"></edit-application>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'SubmitApplicationAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.SubmitApplication)}}">
                <loan-activity id="submitApplication-loan-activity" activity-title="Submit Application">
                    <submit-application id="submitApplication" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'SubmitApplication')}}"></submit-application>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'ManualCashflowReviewAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.VerifyCashflowManual)}}">
                <loan-activity id="manualcashflow-loan-activity" activity-title="Manual CashFlow Review">
                    <manual-cashflow id="manualcashflow" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'VerifyCashflowManual')}}"></manual-cashflow>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'ComputeOfferAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.ComputeOffers)}}">
                <loan-activity id="computeoffer-loan-activity" activity-title="Compute Offer">
                    <compute-offer id="computeoffer" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'ComputeOffers')}}"></compute-offer>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'SendBankLinkingAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.ResendBankLinking)}}">
                <loan-activity id="resendbanklinking-loan-activity" activity-title="Send Bank Linking">
                    <resend-bank-linking id="resendbanklinking" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'ResendBankLinking')}}"></resend-bank-linking>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'UpdateBankStatementAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.UploadBankStatement)}}">
                <loan-activity id="updateBankStatement-loan-activity" activity-title="Upload Bank Statement">
                    <app-update-bank-statement id="updateBankStatement" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'UploadBankStatement')}}"></app-update-bank-statement>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'AddBankAccountAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.AddBankAccount)}}">
                <loan-activity id="addBankAccount-loan-activity" activity-title="Add Bank Account">
                    <add-bank-account id="addBankAccount" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'AddBankAccount')}}"></add-bank-account>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'SwitchOwnerAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.SwitchOwner)}}">
                <loan-activity id="SwitchOwner-loan-activity" activity-title="SwitchOwner">
                    <switch-owner id="SwitchOwner" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'SwitchOwner')}}"></switch-owner>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'BusinessCreditReportAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.BusinessCreditReport)}}">
                <loan-activity id="businesscreditreport-loan-activity" activity-title="Business Credit Report">
                    <business-credit-report id="businesscreditreport" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'BusinessCreditReport')}}"
                        data-attributes="{{dataAttributes}}"></business-credit-report>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'ClearPersonReportAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.ClearPersonReport)}}">
                <loan-activity id="clearpersonaReport-loan-activity" activity-title="Clear Person Report">
                    <clear-person-report id="clearpersonaReport" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'PersonaReport')}}"
                        data-attributes="{{dataAttributes}}"></clear-person-report>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'ClearBusinessReportAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.ClearBusinessReport)}}">
                <loan-activity id="clearbusinessReport-loan-activity" activity-title="Clear Business Report">
                    <clear-business-report id="clearbusinessReport" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'BusinessReport')}}"
                        data-attributes="{{dataAttributes}}"></clear-business-report>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'ResendForSignatureAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.ResendForSignature)}}">
                <loan-activity id="resendforsignature-loan-activity" activity-title="Resend For Signature">
                    <resend-for-signature id="resendforsignature" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'ResendForSignature')}}"></resend-for-signature>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'UploadDocsAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.UploadDocs)}}">
                <loan-activity id="uploaddocs-loan-activity" activity-title="Upload Docs">
                    <upload-docs id="uploaddocs" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'UploadDocs')}}"></upload-docs>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'VerifyDocsAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.VerifyDocuments)}}">
                <loan-activity id="verifydocuments-loan-activity" activity-title="Verify Documents">
                    <verify-documents id="verifydocuments" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'VerifyDocuments')}}"></verify-documents>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'EnableReapplyAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.EnableReApply)}}">
                <loan-activity id="enableReapply-loan-activity" activity-title="Enable Re-apply">
                    <enable-reapply id="enableReapply" class="loan-activity" application-number="{{applicationNumber}}"></enable-reapply>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'AddFundingRequestAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.addFundingRequest)}}">
                <loan-activity id="addfundingrequest-loan-activity" activity-title="Add Funding Request">
                    <add-funding-request id="addfundingrequest" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'addFundingRequest')}}"></add-funding-request>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'ApproveApplicationAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.ApproveApplication)}}">
                <loan-activity id="approveApplication-loan-activity" activity-title="Approve Application">
                    <approve-application id="approveApplication" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'ApproveApplication')}}"></approve-application>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'RejectApplicationAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.RejectApp)}}">
                <loan-activity id="rejectApplication-loan-activity" activity-title="Reject Application">
                    <reject-application id="rejectApplication" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'RejectApp')}}"></reject-application>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'PersonalverificationsAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.personalverifications)}}">
                <loan-activity id="callpersonalverifications-loan-activity" activity-title="Personal Verifications">
                    <call-personal-verifications id="callpersonalverifications" application-number={{applicationNumber}} fire-event="{{getEvents(actionEvents,'personalverifications')}}"></call-personal-verifications>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'ClaimAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.Claim)}}">
                <loan-activity id="claimApp-loan-activity" activity-title="Claim Application">
                    <claim-app id="claimApp" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'Claim')}}"></claim-app>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'AssignAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.Assign)}}">
                <loan-activity id="assignApp-loan-activity" activity-title="Assign Application">
                    <assign-app id="assignApp" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'Assign')}}"></assign-app>
                </loan-activity>
            </template>
        </template>
        <url-parser id="urlac"></url-parser>
        <http-request id="httpac"></http-request>
        <alloy-format id="formatac"></alloy-format>
        <auth-service id="authorizeac"></auth-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "action-container",
                properties: {
                    componentMap: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    noActionMessage: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    applicationNumber: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    statusObj: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    actionEvents: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    }
                },
                ready: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    if (params.hasOwnProperty('entity')) {
                        self.set('currentEntityName', _.startCase(params.entity));
                    }
                },
                _showComponentTemplate: function (applicationNumber, componentMap, val) {
                    if (this.applicationNumber && this.componentMap && val) {
                        return true;
                    }
                    return false;
                },
                getEvents: function (actionEvents, action) {
                    var event = this.actionEvents[action];
                    return event;
                },
                hasRole: function (componentMap, compName) {
                    return this.$.authorizeac.hasRole(compName);
                },
                _openEditCashflow: function (e) {
                    var actObj = this.$$('#editCashflow-loan-activity');
                    actObj._openActivity(e);
                }
            });
        });
    </script>
</dom-module>