<dom-module id="add-cashflow-info">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }
        </style>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="cashflowInfoForm" autocomplete="off" aria-autocomplete="none">
                    <div class="row">
                        <div class="col-md-12">
                            <paper-input type="text" class="custom-input" auto-validate maxlength="9" minlength="9" value="{{RoutingNumber}}" name="routingNumber"
                                id="routingNumber" label="Routing Number" required on-change="_getBankName"></paper-input>
                        </div>
                    </div>
                    <dynamic-form form-configuration={{addBankObj}} values="{{addBankObj.values}}"></dynamic-form>
                    <br />
                    <div style="margin: 10px auto; text-align: center;">
                        <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                    </div>
                </form>
            </div>
            <div id="MessageContainer"></div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "add-cashflow-info",
                properties: {
                    applicationNumber: {
                        type: String,
                        notify: true
                    },
                    addBankObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                BankName: {
                                    label: "Bank Name",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: true,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 10,
                                        maxLen: 100
                                    }
                                },
                                AccountNumber: {
                                    label: "Account Number",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 0,
                                        maxLen: 20
                                    }
                                },
                                CurrentBalance: {
                                    label: "Current Balance",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 0,
                                        maxLen: 20
                                    }
                                },
                                AvailableBalance: {
                                    label: "Available Balance",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 0,
                                        maxLen: 20
                                    }
                                },
                                AccountType: {
                                    label: "Account Type",
                                    type: "combobox",
                                    selectList: [
                                        { key: 'Checking', value: 'Checking' },
                                        { key: 'Savings', value: 'Savings' }
                                    ],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                }
                            },
                            values: {
                                BankName: "",
                                AccountNumber: "",
                                CurrentBalance: 0,
                                AvailableBalance: 0,
                                AccountType: ""
                            }
                        }
                    }
                },
                init: function () {
                    var self = this;
                },
                _verifyForm: function (event) {
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement.parentElement;
                    if (form.validate()) {
                        var payload = self.addBankObj.values;
                        payload.RoutingNumber = self.RoutingNumber;
                        var cashflowServiceEndpoint = window.config.services.cashflowService;
                        var url = "/application/" + self.applicationNumber + "/add/cashflow";

                        self.$.http.post(url, payload, cashflowServiceEndpoint, true).then(function (data) {
                            self.raiseAppRefreshEvent(event);
                        }).fail(function (e) {
                            var response = e.responseJSON;
                            if (response) {
                                self.$.message.showMessage(response.message, "ERROR", self.$$('#MessageContainer'));
                            }
                            else {
                                self.$.message.showMessage("Add bank account error ", "ERROR", self.$$('#MessageContainer'));
                            }
                        });
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        Message: 'Cash flow Added',
                        EventData: event,
                        CompnentName: 'add-cashflow-info'
                    });
                }
            });
        });
    </script>
</dom-module>