<dom-module id="approve-system-app">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }
        </style>

        <div id="MessageContainer"></div>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="ApproveApp">
                    <paper-button class="btn btn-primary activity-action-btn" on-click="updateStatus" raised>Approve Application</paper-button>
                </form>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "approve-system-app",
                properties: {
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    },
                    selectedReason: {
                        type: String,
                        notify: true
                    }
                },
                init: function () {
                    var self = this;
                    var urlParams = self.$.url.getParams();
                    if (urlParams.hasOwnProperty('entity')) {
                        self.set('currentEntityName', urlParams.entity);
                    }
                },
                raiseAppRefreshEvent: function () {
                    this.$.utility.raiseEvent(this.fireEvent, {});
                },
                updateStatus: function (e) {
                    var self = this;
                    var event = e;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    var params = self.$.url.getParams();
                    var url = "/status-management/" + self.currentEntityName + "/" + params.app + "/" + params.workflow + "/200.60";
                    var payload = {
                        Note: ""
                    };
                    self.$.http.put(url, payload, "").then(function (data) {
                        self.raiseAppRefreshEvent();
                    }).fail(function (e) {
                        var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                        self.$.message.showMessage(strMessage, "ERROR", self.$.MessageContainer);
                    });
                }
            });
        });
    </script>
</dom-module>