<dom-module id="claim-app">
    <style>
        #claimErrorMessge p {
            color: red;
        }
    </style>
    <template>
        <div id="claimErrorMessge" style="display: none;">
            <p></p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="claimForm">
                    <dynamic-form form-configuration={{claimAppObj}} values="{{claimAppObj.values}}"></dynamic-form>
                    <br/>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="claimApp" raised>Claim</paper-button>
                </form>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "claim-app",
                properties: {
                    claimAppObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                claimRole: {
                                    label: "Role",
                                    type: "combobox",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "value",
                                    validations: {
                                        required: true
                                    }
                                }
                            },
                            values: {
                                claimRole: ""
                            }
                        }
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    }
                },
                _getRoles: function () {
                    var self = this;
                    var url = "/roles/user";
                    self.$.http.get(url, "").then(function (data) {
                        if (data) {
                            var tempList = _.transform(data, function (result, item) {
                                result.push({ key: item, value: item });
                            }, []);
                            var claimAppObj = _.cloneDeep(self.get('claimAppObj'));
                            claimAppObj.controls.claimRole.selectList = tempList;
                            self.set('claimAppObj', claimAppObj);
                        }
                    }).fail(function (e) {
                        console.error("Get roles error is ", e);
                    });
                },
                ready: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    if (params.hasOwnProperty('entity')) {
                        self.set('currentEntityName', params.entity);
                    }
                },
                init: function () {
                    this._getRoles();
                },
                claimApp: function (event) {
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var $errorDiv = $('div#claimErrorMessge');
                    if (form.validate()) {
                        var claimRole = self.claimAppObj.values.claimRole;
                        var url = '/' + self.currentEntityName + '/' + self.applicationNumber + '/claim/' + claimRole;
                        $errorDiv.hide();
                        var assignmentService = window.config.services.assignment
                        self.$.http.post(url, {}, assignmentService, true).then(function (data) {
                            var message = "Application " + self.applicationNumber + " claimed  successfully";
                            self.raiseAppRefreshEvent(event, message);
                        }).fail(function (e) {
                            var strMessage = e.responseJSON.message + " Unable to claim.";
                            $('div#claimErrorMessge p').html(strMessage);
                            $errorDiv.show();
                            setTimeout(function () {
                                $errorDiv.hide();
                            }, 3000);
                        });
                    }
                },
                raiseAppRefreshEvent: function (event, message) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        Message: message,
                        EventData: event,
                        CompnentName: 'claim-app'
                    });
                }
            });
        });
    </script>
</dom-module>