<dom-module id="compute-offer">
    <template>
        <div class="slide-action">
            <button id="computeoffers" on-click="computeOffer" class="btn btn-primary activity-action-btn">Compute Offers</button>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "compute-offer",
                properties: {

                },
                init: function () {

                },
                computeOffer: function (event) {
                    var self = this;
                    var url = '/application/' + self.applicationNumber + '/compute/offer'
                    var appProcessorEndpoint = window.config.services.appProcessor;
                    self.$.http.get(url, appProcessorEndpoint, true).then(function (data) {
                        self.raiseAppRefreshEvent(event);
                    }).fail(function (e) {
                        console.error("computeOffer error is ", e);
                    });
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "ComputeOffers",
                        EventData: event,
                        CompnentName: 'compute-offer'
                    });
                }
            });
        });
    </script>
</dom-module>