<dom-module id="custom-email">
    <template>
        <style>
            .sendEmailToast {
                max-width: 536px !important;
                position: static !important;
            }

            #closebtn {
                margin-bottom: 5px !important;
            }

            .padding {
                padding-top: 8px;
            }

            paper-input {
                --paper-input-container-disabled: {
                    opacity: 0.66;
                }
            }
        </style>

        <http-request id="http"></http-request>
        <custom-modal id="sendEmail" class="modal-drop" on-modal-hidden="resetModal">
            <div>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Compose Email</h4>
                        </div>
                        <div class="modal-body">
                            <div>
                                <paper-input label="To" disabled value="{{email}}"></paper-input>
                            </div>
                            <paper-input id="subject" label="Subject"></paper-input>
                            <div id="error-message" class="alert alert-danger" hidden$="{{validSubject}}">
                                Subject is required field.
                            </div>
                            <div id="emailbody"></div>
                            <div class="padding"></div>
                            <div id="error-message" class="alert alert-danger" hidden$="{{validBody}}">
                                Email Body is required.
                            </div>
                            <div id="toastContainer">
                                <paper-toast id="toast" class="fit-bottom sendEmailToast" duration="2000" text="Email has been sent successfully!"></paper-toast>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" on-click="sendEmail">Send</button>
                            <button id="closebtn" type="button" class="btn btn-primary" on-click="cleanup" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "custom-email",
                properties: {
                    email: {
                        type: String,
                        notify: true
                    },
                    firstName: {
                        type: String,
                        notify: true
                    },
                    middleName: {
                        type: String,
                        notify: true
                    },
                    lastName: {
                        type: String,
                        notify: true
                    },
                    validSubject: {
                        type: Boolean,
                        notify: true,
                        value: true
                    },
                    validBody: {
                        type: Boolean,
                        notify: true,
                        value: true
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true,
                        observer: "_onDataAttributesLoad"
                    }
                },
                cleanup: function () {
                    this.$.subject.value = "";
                    $("#emailbody").summernote("code", "");
                    this.cleanValidationMsg();
                },
                _fullName: function () {
                    return this.firstName.concat(" " + this.middleName + " " + this.lastName);
                },
                _onDataAttributesLoad: function () {
                    var self = this;
                    if (self.dataAttributes) {
                        self.set('email', self.dataAttributes.application.personalEmail);
                        self.set('firstName', self.dataAttributes.application.firstName);
                        self.set('middleName', self.dataAttributes.application.middleName);
                        self.set('lastName', self.dataAttributes.application.lastName);
                    }
                },
                show: function () {
                    this.$.sendEmail.showModal();
                },
                cleanValidationMsg: function () {
                    this.validSubject = true;
                    this.validBody = true;
                },
                validate: function () {
                    var self = this;
                    if (!self.$.subject.value || self.$.subject.value.length <= 0) {
                        self.validSubject = false;
                    } else {
                        self.validSubject = true;
                    }
                    if (!$("#emailbody").summernote('code') || $("#emailbody").summernote('code').trim().length <= 0) {
                        self.validBody = false;
                    } else {
                        self.validBody = true;
                    }
                    if (self.validSubject && self.validBody) {
                        return true;
                    } else {
                        return false;
                    }
                },
                sendEmail: function () {
                    var emailService = window.config.services.emailSerivce;
                    var self = this;
                    if (!self.validate()) {
                        return;
                    }
                    var payload = {
                        ToName: self._fullName(),
                        ToAddress: self.email,
                        Subject: self.$.subject.value,
                        Body: $("#emailbody").summernote('code')
                    };
                    self.$.http.post('/application/' + self.applicationNumber, payload, emailService).then(function (data) {
                        self.$.toast.fitInto = self.$.sendEmail;
                        $("#toastContainer").show();
                        self.$.toast.open();
                        function hide() {
                            $("#toastContainer").hide();
                            self.$.sendEmail.hideModal();
                        }
                        setTimeout(function () {
                            hide();
                            self.cleanup();
                            self.raiseAppRefreshEvent();
                        }, 500);
                    }).fail(function (e) {
                        self.cleanup();
                        console.error("email error is ", e);
                    });
                },
                raiseAppRefreshEvent: function () {
                    this.$.utility.raiseEvent(this.fireEvent, {});
                },
                initSummerNote: function () {
                    $('#emailbody').summernote({
                        height: 200,                 // set editor height
                        minHeight: 200,             // set minimum height of editor
                        maxHeight: null,             // set maximum height of editor
                        focus: true                  // set focus to editable area after initializing summernote
                    });
                },
                init: function () {
                    var self = this;
                },
                attached: function () {
                    var self = this;
                    if (window.jQuery) {
                        self.initSummerNote();
                    } else {
                        window.addEventListener("WebComponentsReady", self.initSummerNote());
                    }
                }
            });
        });
    </script>
</dom-module>