<dom-module id="decide-product">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }
        </style>

        <div id="MessageContainer"></div>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="MoveApp">
                    <vaadin-combo-box class="custom-input" name="productId" value="{{productId}}" item-value-path="value" item-label-path="key"
                        items="{{ProductList}}" label="Select Product" prevent-invalid-input="true" required>
                    </vaadin-combo-box>
                    <br>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="updateStatus" raised>Move Application</paper-button>
                </form>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
        <alloy-config id="config" alloy-configuration="{{configuration}}"></alloy-config>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "decide-product",
                properties: {
                    productId: {
                        type: String,
                        notify: true
                    },
                    ProductList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    }
                },
                init: function () {
                    var self = this;
                    var urlParams = this.$.url.getParams();
                    if (urlParams.hasOwnProperty('entity')) {
                        this.set('currentEntityName', urlParams.entity);
                    }
                    self._getProductList();
                },
                raiseAppRefreshEvent: function () {
                    this.$.utility.raiseEvent(this.fireEvent, {});
                },
                _getProductList: function () {
                    var self = this;
                    var url = "/all/product";
                    var multiProducts = window.config.services.multiProducts;
                    self.$.http.get(url, multiProducts).then(function (data) {
                        var ProductList = _.transform(data, function (result, item) {
                            result.push({ key: item.productId, value: item.productId });
                        }, []);
                        self.ProductList = ProductList;
                    }).fail(function (e) {
                        console.error("Product List error is ", e);
                    });
                },
                updateStatus: function (e) {
                    var self = this;
                    if (self.productId != undefined && self.productId != "") {
                        var event = e;
                        var form = Polymer.dom(e).localTarget.parentElement;
                        var params = self.$.url.getParams();
                        var url = "/" + params.app + "/switchProduct/" + self.productId;
                        self.$.http.post(url, null, window.config.services.applicationDetail).then(function (data) {
                            window.location.hash = self.configuration.private.url;
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            self.$.message.showMessage(strMessage, "ERROR", self.$.MessageContainer);
                        });
                    } else {
                        var strMessage = "All fields are required";
                        self.$.message.showMessage(strMessage, "ERROR", self.$.MessageContainer);
                    }
                }
            });
        });
    </script>
</dom-module>