<dom-module id="manual-cashflow">
    <template>
        <style>
            #ErrorMessge p {
                color: #ff0000;
                font-size: 12px !important;
            }
        </style>
        <div class="row">
            <div class="col-md-12">
                <div id="ErrorMessge" style="display: none;">
                    <p></p>
                </div>
                <form is="iron-form" class="form-horizontal" name="manualcashflowForm" autocomplete="off" aria-autocomplete="none">
                    <dynamic-form form-configuration={{manualCashFlowObj}} values="{{manualCashFlowObj.values}}"></dynamic-form>
                    <br />
                    <div style="margin: 10px auto; text-align: center;">
                        <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                    </div>
                </form>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <alloy-config id="config"></alloy-config>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "manual-cashflow",
                properties: {
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    },
                    applicationNumber: {
                        type: String,
                        notify: true
                    },
                    manualCashFlowObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                fromDate: {
                                    label: "From Date",
                                    title: "From Date",
                                    type: "date",
                                    format: "MM/DD/YYYY",
                                    validations: {
                                        required: true
                                    }
                                },
                                toDate: {
                                    label: "To Date",
                                    title: "To Date",
                                    type: "date",
                                    format: "MM/DD/YYYY",
                                    validations: {
                                        required: true
                                    }
                                },
                                providerAccountId: {
                                    label: "Account Id",
                                    type: "combobox",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                generatePdf: {
                                    label: "Generate PDF",
                                    type: "checkbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        autovalidate: false
                                    }
                                }
                            },
                            values: {
                                fromDate: "",
                                toDate: "",
                                providerAccountId: "",
                                generatePdf: false
                            }
                        }
                    }
                },
                init: function () {
                    var self = this;
                    var urlParams = self.$.url.getParams();
                    if (urlParams.hasOwnProperty('entity')) {
                        self.set('currentEntityName', urlParams.entity);
                    }
                    self.getAccountId();
                },
                getAccountId: function () {
                    var self = this;
                    var accountIdList = [];
                    var url = "/" + self.currentEntityName + "/" + self.applicationNumber + "/account/all"
                    self.$.http.get(url, window.config.services.ibvService).then(function (data) {
                        if (data) {
                            accountIdList = _.transform(data, function (result, item) {
                                result.push({ key: item.providerAccountId, value: item.accountNumberMask });
                            }, []);
                            var manualCashFlowObj = _.cloneDeep(self.manualCashFlowObj);
                            manualCashFlowObj.controls.providerAccountId.selectList = accountIdList;
                            self.set('manualCashFlowObj', manualCashFlowObj);
                        }
                    }).fail(function (e) {
                        var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                        $('div#ErrorMessge p').html(strMessage);
                        $('div#ErrorMessge').show();
                        setTimeout(function () {
                            $('div#ErrorMessge').hide();
                        }, 5000);
                    });
                },
                _verifyForm: function (event) {
                    var self = this;
                    $('div#ErrorMessge').hide();
                    var form = Polymer.dom(event).localTarget.parentElement.parentElement;
                    if (form.validate()) {
                        var url = "/" + self.currentEntityName + "/" + self.applicationNumber + "/create/cashflow";
                        var payload = {
                            fromDate: self.formatDate(self.manualCashFlowObj.values.fromDate),
                            toDate: self.formatDate(self.manualCashFlowObj.values.toDate),
                            providerAccountId: self.manualCashFlowObj.values.providerAccountId,
                            generatePdf: (self.manualCashFlowObj.values.generatePdf === "") ? false : true
                        };
                        self.$.http.post(url, payload, window.config.services.ibvCashFlowService, true).then(function (data) {
                            self.raiseAppRefreshEvent(event);
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            $('div#ErrorMessge p').html(strMessage);
                            $('div#ErrorMessge').show();
                            setTimeout(function () {
                                $('div#ErrorMessge').hide();
                            }, 5000);
                        });
                    }
                },
                formatDate: function (date) {
                    return moment(date).format("YYYY-MM-DD");
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "GenerateCashflowManual",
                        EventData: event,
                        CompnentName: 'manual-cashflow'
                    });
                }
            });
        });
    </script>
</dom-module>