<dom-module id="not-interested-application">
    <template>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="NotInterestedApplication">
                    <dynamic-form form-configuration={{notInterestedObj}} values="{{notInterestedObj.values}}"></dynamic-form>
                    <br>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_notInterestedApp" raised>Not Interested</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <alloy-config id="config"></alloy-config>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "not-interested-application",
                properties: {
                    notInterestedObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                notInterestedReason: {
                                    label: "Not Interested Reason",
                                    type: "combobox",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                }
                            },
                            values: {
                                notInterestedReason: ""
                            }
                        }
                    }
                },
                init: function () {
                    this._loadReasonList();
                },
                _loadReasonList: function () {
                    var self = this;
                    var data = self.$.config.getConfigurationBasedOnKey("notInterested-reasons");
                    if (data) {
                        var tempList = _.transform(data, function (result, value, key) {
                            result.push({ key: key, value: value });
                        }, []);
                        var notInterestedObj = self.get('notInterestedObj');
                        notInterestedObj.controls.notInterestedReason.selectList = tempList;
                        self.set('notInterestedObj', $.extend({}, self.get('notInterestedObj'), notInterestedObj));
                    }
                },
                _notInterestedApp: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    if (form.validate()) {
                        var selectedReason = self.notInterestedObj.values.notInterestedReason;
                        var url = "/status-management/application/" + self.applicationNumber + "/200.14/" + selectedReason;
                        self.$.http.post(url, {}, "").then(function (data) {
                            $(e.target).parents().find('not-interested-application').parent().hide();
                            var listOfParentelements = $("loan-activity");
                            for (i = 0; i < listOfParentelements.length; i++) {
                                $(listOfParentelements[i]).children().first().show();
                            }
                            self.raiseAppRefreshEvent();
                        }).fail(function (e) {
                            console.error("application error is ", e);
                        });
                    }
                },
                raiseAppRefreshEvent: function () {
                    this.$.utility.raiseEvent(this.fireEvent, {});
                }
            });
        });
    </script>
</dom-module>