<dom-module id="loan-onboarding">
    <template>
        <div>
            TBD
        </div>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "loan-onboarding",
                init: function () {

                }
            });
        });
    </script>
</dom-module>