<dom-module id="perform-risk-review">
    <template>
        <div class="slide-action">
            TBD
        </div>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "perform-risk-review",
                init: function () {

                }
            });
        });
    </script>
</dom-module>