<dom-module id="personal-details">
    <template>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="PersonalDetail">
                    <dynamic-form form-configuration={{personalDetailObj}} values="{{personalDetailObj.values}}"></dynamic-form>
                    <br/>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "personal-details",
                properties: {
                    personalDetail: {
                        type: Object,
                        notify: true,
                        value: {
                            AadhaarNumber: '',
                            DateOfBirth: '',
                            FirstName: '',
                            LastName: '',
                            MiddleName: '',
                            PermanentAccountNumber: '',
                            Salutation: '',
                            EmploymentStatus: '',
                            Gender: '',
                            MaritalStatus: ''
                        }
                    },
                    personalDetailObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                Salutation: {
                                    label: "Title",
                                    type: "combobox",
                                    selectList: [
                                        { key: "Mr.", value: "Mr." },
                                        { key: "Mrs", value: "Mrs" },
                                        { key: "Miss", value: "Miss" }
                                    ],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                FirstName: {
                                    label: "First Name",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                MiddleName: {
                                    label: "Middle Name",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 64
                                    }
                                },
                                LastName: {
                                    label: "LastName",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                DateOfBirth: {
                                    label: "Date Of Birth",
                                    type: "date",
                                    format: "MM/DD/YYYY",
                                    minFactor: 10,
                                    maxFactor: 0,
                                    validations: {
                                        required: true,
                                        min: false,
                                        max: true
                                    }
                                },
                                PermanentAccountNumber: {
                                    label: "Permanent Account Number",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        pattern: 'PAN',
                                        allowpattern: "[\\w]",
                                        minLen: 10,
                                        maxLen: 10
                                    }
                                },
                                AadhaarNumber: {
                                    label: "Aadhaar Number",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        pattern: 'AADHAAR',
                                        allowpattern: "[\\w]",
                                        minLen: 12,
                                        maxLen: 12
                                    }
                                },
                                Gender: {
                                    label: "Gender",
                                    type: "radiogroup",
                                    radioList: [
                                        { key: "Male", value: "Male" },
                                        { key: "Female", value: "Female" }
                                    ]
                                },
                                MaritalStatus: {
                                    label: "Martial Status",
                                    type: "radiogroup",
                                    radioList: [
                                        { key: "Single", value: "Single" },
                                        { key: "Married", value: "Married" }
                                    ]
                                }
                            },
                            values: {
                                AadhaarNumber: "",
                                DateOfBirth: "",
                                FirstName: "",
                                LastName: "",
                                MiddleName: "",
                                PermanentAccountNumber: "",
                                Salutation: "",
                                Gender: "Male",
                                MaritalStatus: "Single",
                                EmploymentStatus: "Salaried"
                            }
                        }
                    }
                },
                _checkIfNullObject: function (obj) {
                    return Object.keys(obj).length === 0 && obj.constructor === Object;
                },
                _getPersonalDetail: function () {
                    var self = this;
                    var url = "/" + self.applicationNumber;
                    var applicationEndpoint = window.config.services.applicationDetail;
                    var applicantEndpoint = window.config.services.applicantDetail;
                    self.$.http.get(url, applicationEndpoint).then(function (result) {
                        if (result != undefined && !self._checkIfNullObject(result)) {
                            var suburl = "/" + result.applicantId;
                            self.$.http.get(suburl, applicantEndpoint).then(function (data) {
                                if (!self._checkIfNullObject(data)) {
                                    self.personalDetail.AadhaarNumber = data.aadhaarNumber;
                                    self.personalDetail.DateOfBirth = data.dateOfBirth;
                                    self.personalDetail.FirstName = data.firstName;
                                    self.personalDetail.MiddleName = data.middleName;
                                    self.personalDetail.LastName = data.lastName;
                                    self.personalDetail.PermanentAccountNumber = data.permanentAccountNumber;
                                    self.personalDetail.Salutation = data.salutation;
                                    self.personalDetailObj.values["AadhaarNumber"] = data.aadhaarNumber;
                                    self.personalDetailObj.values["DateOfBirth"] = moment.tz(data.dateOfBirth, window.config.timezone).format("YYYY-MM-DD");
                                    if (data.employmentDetails != undefined && data.employmentDetails != null) {
                                        self.selectedEmploymentStatus = data.employmentDetails[0].employmentStatus;
                                        self.set('selectedEmploymentStatus', data.employmentStatus);
                                    }
                                    self.personalDetailObj.values["FirstName"] = data.firstName;
                                    self.personalDetailObj.values["MiddleName"] = data.middleName;
                                    self.personalDetailObj.values["LastName"] = data.lastName;
                                    self.personalDetailObj.values["PermanentAccountNumber"] = data.permanentAccountNumber;
                                    self.personalDetailObj.controls.Salutation.selectedValue = data.salutation;
                                    self.personalDetailObj.values["Gender"] = data.gender;
                                    self.personalDetailObj.values["MaritalStatus"] = data.maritalStatus;
                                }
                                self.set('personalDetailObj', $.extend({}, self.personalDetailObj));
                                self.set('personalDetail', $.extend({}, self.personalDetail));
                            }).fail(function (e) {
                                console.error("_getPersonalDetail error is ", e);
                            });
                        }
                    }).fail(function (e) {
                        console.error("_getPersonalDetail error is ", e);
                    });
                },
                _verifyForm: function (event) {
                    event.preventDefault();
                    var self = this;
                    var perEmailObj = self.perEmailObj;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var appProcessor = window.config.services.appProcessor;
                    var url = "/application/" + self.applicationNumber + "/applicantDetails";
                    if (form.validate()) {
                        //assign value from UI to Employee Detail object
                        var ResultObj = self.personalDetail;
                        ResultObj.AadhaarNumber = self.personalDetailObj.values.AadhaarNumber;
                        ResultObj.DateOfBirth = self.personalDetailObj.values.DateOfBirth;
                        ResultObj.DateOfBirth = moment.tz(ResultObj.DateOfBirth, window.config.timezone).format("YYYY-MM-DD");
                        ResultObj.FirstName = self.personalDetailObj.values.FirstName;
                        ResultObj.MiddleName = self.personalDetailObj.values.MiddleName;
                        ResultObj.LastName = self.personalDetailObj.values.LastName;
                        ResultObj.PermanentAccountNumber = self.personalDetailObj.values.PermanentAccountNumber;
                        ResultObj.Salutation = self.personalDetailObj.values.Salutation;
                        ResultObj.Gender = self.personalDetailObj.values.Gender;
                        ResultObj.MaritalStatus = self.personalDetailObj.values.MaritalStatus;
                        ResultObj.EmploymentStatus = self.personalDetailObj.values.EmploymentStatus;
                        self.$.http.put(url, ResultObj, appProcessor).then(function (result) {
                            $(event.target).parents().find('personal-details').parent().hide();
                            //To get list of LoanActivity template and then display block for all Div.
                            var listOfParentelements = $("loan-activity");
                            for (i = 0; i < listOfParentelements.length; i++) {
                                $(listOfParentelements[i]).children().first().show();
                            }
                            self.raiseAppRefreshEvent();
                        }).fail(function (e) {
                            console.error("loadConfig error is ", e);
                        });
                    }
                },
                init: function () {
                    this._getPersonalDetail();
                },
                raiseAppRefreshEvent: function () {
                    this.$.utility.raiseEvent(this.fireEvent, {});
                }
            });
        });
    </script>
</dom-module>