<dom-module id="probe-company-search">
    <template>
        <style>
            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }

            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
                .btnmargin {
                    margin-top: 20px;
                }
            }
        </style>
        <div id="ErrorMessgeProbeDet" style="display: none;">
            <p></p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="probecompanyForm">
                    <div class="row">
                        <div class="col-md-12">
                            <paper-input type="textbox" class="custom-input" auto-validate required value="{{cinNumber}}" name="cinNumber" id="cinNumber"
                                label="CIN Number"></paper-input>
                        </div>
                    </div>
                    <paper-button id="getProbeCompanyDetails" class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Search</paper-button>
                </form>
                <div id="tblCompDetails" style="display:none;">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th colspan="2" class="header">{{searchResult.legalName}}</th>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <td>{{searchResult.legalName}}</td>
                            </tr>
                            <tr>
                                <th>Incorporation date</th>
                                <td>{{formatDate(searchResult.incorporationDate)}}</td>
                            </tr>
                            <tr>
                                <th>City</th>
                                <td>{{searchResult.registeredAddress.city}}</td>
                            </tr>
                            <tr>
                                <th>State</th>
                                <td>{{searchResult.registeredAddress.state}}</td>
                            </tr>
                            <tr>
                                <th>Classification</th>
                                <td>{{searchResult.classification}}</td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <td>{{searchResult.status}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "probe-company-search",
                properties: {
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    },
                    searchResult: {
                        type: Object,
                        notify: true
                    },
                    cinNumber: {
                        type: String,
                        notify: true
                    },
                    applicationNumber: {
                        type: String,
                        notify: true
                    }
                },
                init: function () {
                    var self = this;
                    var urlParams = self.$.url.getParams();
                    if (urlParams.hasOwnProperty('entity')) {
                        self.set('currentEntityName', urlParams.entity);
                    }
                    self.applicationNumber = urlParams.app;
                },
                formatDate: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.onlyDate(date, window.config.country);
                    }
                    return "NA";
                },
                _verifyForm: function (event) {
                    $('div#ErrorMessgeProbeDet').hide();
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    if (form.validate()) {
                        var url = "/" + self.currentEntityName + "/" + self.applicationNumber + "/probe/companydetails/" + self.cinNumber;
                        self.$.http.get(url, window.config.services.appProcessor, true).then(function (data) {
                            if (data.company !== undefined && data.company !== null && data.company !== "") {
                                self.set("searchResult", data.company);
                                $('div#ErrorMessgeProbeDet p').html("Operation completed successfully.");
                                $('div#ErrorMessgeProbeDet').show();
                                $("#tblCompDetails").show();
                                self.set("cinNumber", "");
                            }
                            else {
                                $("#tblCompDetails").hide();
                                $('div#ErrorMessgeProbeDet p').html("Company not found");
                                $('div#ErrorMessgeProbeDet').show();
                                setTimeout(function () {
                                    $('div#ErrorMessgeProbeDet').hide();
                                }, 5000);
                            }
                        }).fail(function (e) {
                            $("#tblCompDetails").hide();
                            $('div#ErrorMessgeProbeDet p').html("Company not found");
                            $('div#ErrorMessgeProbeDet').show();
                            setTimeout(function () {
                                $('div#ErrorMessgeProbeDet').hide();
                            }, 5000);
                        });
                    }
                }
            });
        });
    </script>
</dom-module>