<dom-module id="request-vote">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }
        </style>

        <div id="MessageContainer"></div>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="vote">
                    <vaadin-combo-box class="custom-input" name="postVote" value="{{SelectedOption}}" item-value-path="key" item-label-path="value"
                        items="{{VoteOptions}}" label="Select Options" prevent-invalid-input="true" required>
                    </vaadin-combo-box>
                    <br>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
        <session-manager id="session"></session-manager>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "request-vote",
                properties: {
                    SelectedOption: {
                        type: String,
                        notify: true
                    },
                    VoteOptions: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    formId: {
                        type: String,
                        notify: true
                    }
                },
                init: function () {
                    this.loadData();
                },
                loadData: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    var url = "/poll/" + params.pollId;
                    var pollingVoting = window.config.services.pollingVoting;
                    self.$.http.get(url, pollingVoting).then(function (data) {
                        self.set('pollData', data);
                        var tempList = _.transform(data.options, function (result, value, key) {
                            result.push({ key: value.id, value: value.title });
                        }, []);
                        self.VoteOptions = tempList;
                    }).fail(function (e) {
                        console.log("loadData error is ", e);
                    });
                },
                raiseAppRefreshEvent: function () {
                    this.$.utility.raiseEvent(this.fireEvent, {});
                },
                _verifyForm: function (e) {
                    var self = this;
                    var event = e;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    var params = self.$.url.getParams();
                    var username = self.$.session.get('username');
                    var url = "/poll/" + params.pollId + "/vote/participant/" + username + "/option/" + self.SelectedOption;
                    if (form.validate()) {
                        self.$.http.post(url, {}, window.config.services.pollingVoting).then(function (data) {
                            self.raiseAppRefreshEvent();
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation." + e.responseJSON.message;
                            self.$.message.showMessage(strMessage, "ERROR", self.$.MessageContainer);
                        });
                    }
                }
            });
        });
    </script>
</dom-module>