<dom-module id="resend-bank-linking">
    <template>
        <div class="slide-action">
            <button id="resendbanklink" on-click="resendBankLinkMail" class="btn btn-primary activity-action-btn">Send Bank Link Email</button>
        </div>
        <div id="MessageContainer"></div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "resend-bank-linking",
                init: function () {

                },
                resendBankLinkMail: function (event) {
                    var self = this;
                    var url = '/application/' + self.applicationNumber + '/resend/banklink'
                    var appProcessorEndpoint = window.config.services.appProcessor;
                    self.$.http.post(url, {}, appProcessorEndpoint, true).then(function (data) {
                        self.raiseAppRefreshEvent(event);
                    }).fail(function (e) {
                        self.$.message.showMessage(e.responseJSON.message, "ERROR", self.$.MessageContainer);
                    });
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: 'ResendBankLinking',
                        EventData: event,
                        CompnentName: 'resend-bank-linking'
                    });
                }
            });
        });
    </script>
</dom-module>