<dom-module id="revive-application">
    <template>
        <style>
            .errormsg {
                color: #a94442 !important;
            }
        </style>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <iron-label id="errormsg" class="errormsg" style="display:none">
                        Application is not eligible for the revival.
                    </iron-label>
                    <button id="btnRevive" on-click="reviveApp" class="btn btn-primary activity-action-btn">Revive</button>
                </div>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "revive-application",
                properties: {
                    applicationNumber: {
                        type: String,
                        notify: true
                    }
                },
                init: function () {
                    this.checkRevivalEligibility();
                },
                checkRevivalEligibility: function () {
                    var self = this;
                    var url = "/application/" + self.applicationNumber + "/revival_check";
                    self.$.http.get(url, window.config.services.appProcessor).then(function (data) {
                        if (!data) {
                            $('#btnRevive').hide();
                            $('#errormsg').show();
                        }
                    }).fail(function (e) {
                        console.error("checkRevivalEligibility error is ", e);
                    });
                },
                reviveApp: function (event) {
                    var self = this;
                    var url = "/application/" + self.applicationNumber + "/revive";
                    self.$.http.post(url, undefined, window.config.services.appProcessor).then(function (data) {
                        self.raiseAppRefreshEvent(event);
                    }).fail(function (e) {
                        console.error("reviveApp error is ", e);
                    });
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "ReviveApplication",
                        EventData: event,
                        CompnentName: 'revive-application'
                    });
                },
            });
        });
    </script>
</dom-module>