<dom-module id="stipulate-docs">
    <template>
        <div>
            TBD
        </div>
    </template>
    <script>
        Polymer({
            is: "stipulate-docs",
            init: function () {

            },
        });
    </script>
</dom-module>