<dom-module id="submit-application">
    <template>
        <div class="slide-action">
            <button id="submitApplication" on-click="submitApplication" class="btn btn-primary activity-action-btn">
                Submit Application
            </button>
        </div>
        <div id="MessageContainer"></div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "submit-application",
                properties: {

                },
                init: function () {

                },
                submitApplication: function (event) {
                    var self = this;
                    var offerEndPoint = window.config.services.appProcessor;
                    var url = "/application/" + self.applicationNumber + "/changeStatus-submit";
                    self.$.http.post(url, {}, offerEndPoint, true).then(function (data) {
                        $('button#submitApplication').hide();
                        self.$.message.showMessage("Application is submitted successfully.", "SUCCESS", self.$.MessageContainer);
                        self.raiseAppRefreshEvent(event);
                    }).fail(function (e) {
                        self.$.message.showMessage(e.responseJSON.message, "ERROR", self.$.MessageContainer);
                    });
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: 'SubmitApplication',
                        EventData: event,
                        CompnentName: 'submit-application'
                    });
                }
            });
        });
    </script>
</dom-module>