<dom-module id="unhold-loc">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }
        </style>

        <div id="MessageContainer"></div>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="rejectApplication">
                    <vaadin-combo-box id="ReasonDDLUN" class="custom-input" name="productId" value="{{selectedReason}}" item-value-path="key"
                        item-label-path="value" items="{{reasonList}}" label="Select Reason" prevent-invalid-input="true">
                    </vaadin-combo-box>
                    <h4>
                        <b>Notes</b>
                    </h4>
                    <br>
                    <textarea id="notes" rows="6" form="ach-form" class="form-control textareascroll" value="{{Notes}}" on-input="setNotes"></textarea>
                    <br>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="updateStatus" raised>Update Status</paper-button>
                </form>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "unhold-loc",
                properties: {
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    },
                    reasonList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    Notes: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    selectedReason: {
                        type: String,
                        notify: true
                    }
                },
                setNotes: function (event) {
                    var self = this;
                    self.Notes = event.target.value;
                },
                init: function () {
                    var self = this;
                    var urlParams = this.$.url.getParams();
                    if (urlParams.hasOwnProperty('entity')) {
                        this.set('currentEntityName', urlParams.entity);
                    }
                    self._loadReasonList();
                },
                _loadReasonList: function () {
                    var self = this;
                    var url = "";
                    var urlParams = this.$.url.getParams();
                    url = "/status-management/" + self.currentEntityName + "/" + urlParams.workflow + "/200.12/reasons";
                    self.$.http.get(url, "").then(function (result) {
                        var tempList = [];
                        if (!_.isNull(result)) {
                            for (var i = 0; i < result.length; i++) {
                                tempList.push({ key: result[i].code, value: result[i].descriptions });
                            }
                            self.set('reasonList', tempList);
                            $('#ReasonDDLUN').show();
                        }
                    }).fail(function (e) {
                        $('#ReasonDDLUN').hide();
                        console.error("not able to load status .", e);
                    });
                },
                raiseAppRefreshEvent: function () {
                    this.$.utility.raiseEvent(this.fireEvent, {});
                },
                updateStatus: function (e) {
                    var self = this;
                    var event = e;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    var params = self.$.url.getParams();
                    var url = "";
                    url = "/status-management/" + self.currentEntityName + "/" + params.app + "/" + params.workflow + "/200.12";
                    var payload = {
                        Note: self.Notes
                    };
                    if (_.isEmpty(self.reasonList) || self.selectedReason == "") {
                        self.$.http.put(url, payload, "").then(function (data) {
                            self.raiseAppRefreshEvent();
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            self.$.message.showMessage(strMessage, "ERROR", self.$.MessageContainer);
                        });
                    }
                    else if (!_.isEmpty(self.reasonList) && self.reasonList.length > 0 && self.selectedReason != "") {
                        payload.Reasons = [self.selectedReason];
                        self.$.http.put(url, payload, "").then(function (data) {
                            self.raiseAppRefreshEvent();
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            self.$.message.showMessage(strMessage, "ERROR", self.$.MessageContainer);
                        });
                    }
                    else {
                        var strMessage = "All fields are Required";
                        self.$.message.showMessage(strMessage, "ERROR", self.$.MessageContainer);
                    }
                }
            });
        });
    </script>
</dom-module>