<dom-module id="update-funding-status">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }
        </style>

        <div id="MessageContainer"></div>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="rejectApplication">
                    <vaadin-combo-box id="Status" class="custom-input" name="productId" value="{{selectedStatus}}" item-value-path="key" item-label-path="value"
                        items="{{StatusList}}" label="Select Status" prevent-invalid-input="true">
                    </vaadin-combo-box>
                    <br>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="updateStatus" raised>Update Status</paper-button>
                </form>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "update-funding-status",
                properties: {
                    selectedStatus: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    },
                    StatusList: {
                        type: Array,
                        notify: true,
                        value: [
                            { key: "returned", value: "Funding Rejected" },
                            { key: "confirmed", value: "Funding Success" }
                        ]
                    },
                    selectedReason: {
                        type: String,
                        notify: true,
                        value: ""
                    }
                },
                init: function () {
                    var self = this;
                    var urlParams = this.$.url.getParams();
                    if (urlParams.hasOwnProperty('entity')) {
                        this.set('currentEntityName', urlParams.entity);
                    }
                },
                raiseAppRefreshEvent: function () {
                    this.$.utility.raiseEvent(this.fireEvent, {});
                },
                updateStatus: function (e) {
                    var self = this;
                    var event = e;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    var params = self.$.url.getParams();
                    var url = "";
                    if (self.currentEntityName == "application") {
                        url = "/" + self.currentEntityName + "/" + params.app + "/" + self.selectedStatus + "/funding";
                    }
                    else {
                        url = "/" + params.drawdownId + "/" + self.selectedStatus + "/funding";
                    }
                    if (form.validate()) {
                        self.$.http.post(url, {}, window.config.services.drawdownFilters).then(function (data) {
                            self.raiseAppRefreshEvent();
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            self.$.message.showMessage(strMessage, "ERROR", self.$.MessageContainer);
                        });
                    }
                }
            });
        });
    </script>
</dom-module>