<dom-module id="update-outstanding-info">
    <template>
        <div id="MessageContainer"></div>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="AncillaryApplication">
                    <dynamic-form form-configuration={{outstandingObj}} values="{{outstandingObj.values}}"></dynamic-form>
                    <br>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "update-outstanding-info",
                properties: {
                    outstandingObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                PrincipalPaid: {
                                    label: "Principal Paid",
                                    type: "number",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                InterestPaid: {
                                    label: "Interest Paid",
                                    type: "number",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                PrincipalOutstanding: {
                                    label: "Principal Outstanding",
                                    type: "number",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                InterestOutstanding: {
                                    label: "Interest Outstanding",
                                    type: "number",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                FeesOutstanding: {
                                    label: "Fees Outstanding",
                                    type: "number",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                Note: {
                                    label: "Note",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: true,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 4000
                                    }
                                }
                            },
                            values: {
                                PrincipalPaid: "",
                                InterestPaid: "",
                                PrincipalOutstanding: "",
                                InterestOutstanding: "",
                                FeesOutstanding: "",
                                Note: ""
                            }
                        }
                    }
                },
                init: function () {
                },
                raiseAppRefreshEvent: function () {
                    this.$.utility.raiseEvent(this.fireEvent, {});
                },
                _formatDate: function (date) {
                    if (date !== "")
                        return moment.tz(date, window.config.timezone).format("YYYY-MM-DD");
                    else
                        return moment.tz(window.config.timezone).format("YYYY-MM-DD");
                },
                _getAttrributesData: function () {
                    var self = this;
                    var outstandingObj = self.outstandingObj;
                    var urlParams = self.$.url.getParams();
                    var url = "/application/" + urlParams.app + "/updateOutStandingDetails";
                    var dataAttrEndPoint = window.config.services.dataAttributes;
                    self.$.http.get(url, dataAttrEndPoint).then(function (data) {
                        if (data) {
                            outstandingObj.values = data;
                            self.set('outstandingObj', $.extend({}, self.get('outstandingObj'), outstandingObj));
                        }
                    }).fail(function (e) {
                        var outstandingObj = self.get('outstandingObj');
                        var Obj = {
                            PrincipalOutstanding: "",
                            PrincipalPaid: "",
                            InterestPaid: "",
                            InterestOutstanding: "",
                            FeesOutstanding: "",
                            Note: ""
                        };
                        outstandingObj.values = Obj;
                        self.set('outstandingObj', $.extend({}, self.get('outstandingObj'), outstandingObj));
                        console.error("get error is ", e);
                    });
                },
                _verifyForm: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    var dataAttributes = window.config.services.dataAttributes;
                    if (form.validate()) {
                        var payload = self.outstandingObj.values;
                        payload.AsofDate = new Date();
                        var urlParams = self.$.url.getParams();
                        var url = "/application/" + urlParams.app + "/updateOutStandingDetails";
                        self.$.http.post(url, payload, dataAttributes, true).then(function (data) {
                            self.raiseAppRefreshEvent();
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. ";
                            self.$.message.showMessage(strMessage, "ERROR", self.$.MessageContainer);
                        });
                    }
                }
            });
        });
    </script>
</dom-module>