<dom-module id="app-upload-bank-statement">
    <template>
        <style>
            vaadin-upload {
                --vaadin-upload-button-add: {
                    background: #80b43c;
                }
                --vaadin-upload-file-list: {
                    margin-left: 20px;
                }
                --vaadin-upload-drop-label: {
                    margin: 0 !important;
                    padding: 0 !important;
                }
            }

            #ErrorMessge p {
                color: #ff0000;
                font-size: 12px !important;
            }
        </style>

        <div class="row">
            <div class="col-md-12">
                <div id="ErrorMessge" style="display: none;">
                    <p></p>
                </div>
                <form is="iron-form" class="form-horizontal" name="cashflowForm" autocomplete="off" aria-autocomplete="none">
                    <dynamic-form form-configuration={{uploadBankObj}} values="{{uploadBankObj.values}}"></dynamic-form>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <vaadin-upload id="BankStatement" method="POST" max-files="1" on-upload-before="_fileUploadBefore" required></vaadin-upload>
                        </div>
                    </div>
                    <div style="margin: 10px auto; text-align: center;">
                        <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                    </div>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <session-manager id="session"></session-manager>
        <alloy-config id="config"></alloy-config>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "app-upload-bank-statement",
                properties: {
                    applicationNumber: {
                        type: String,
                        notify: true
                    },
                    file: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    uploadBankObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                instituteName: {
                                    label: "Bank Name",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 100
                                    }
                                },
                                accountNumber: {
                                    label: "Account Number",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        pattern: "NUMBER",
                                        allowpattern: "^[0-9]+$"
                                    }
                                },
                                accountType: {
                                    label: "Account Type",
                                    type: "combobox",
                                    selectList: [
                                        { key: 'Checking', value: 'Checking' },
                                        { key: 'Savings', value: 'Savings' }
                                    ],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                }
                            },
                            values: {
                                instituteName: "",
                                accountNumber: "",
                                accountType: ""
                            }
                        }
                    }
                },
                init: function () {
                },
                _checkfileType: function (doc) {
                    var fileName = doc;
                    if (/\.(csv)$/i.test(fileName)) {
                        return true;
                    }
                    return false;
                },
                _fileUploadBefore: function (event) {
                    var self = this;
                    event.preventDefault();
                    var fileObj = event.detail.file;
                    if (!this._checkfileType(fileObj.name)) {
                        $('div#ErrorMessge p').html("Invalid file extension. Only .csv extension allowed.");
                        $('div#ErrorMessge').show();
                        return;
                    }
                    $('div#ErrorMessge').hide();
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var fileContent = reader.result;
                        fileContent = fileContent.replace('data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;base64,', '');
                        fileContent = fileContent.replace('data:application/vnd.ms-excel;base64,', '');
                        var statement = {
                            fileName: fileObj.name,
                            fileContent: fileContent,
                            type: fileObj.type
                        };
                        self.file = statement;
                    };
                    reader.readAsDataURL(event.detail.file);
                },
                _removeStatementFromArray: function (name) {
                    var filteredData = this.file.filter(function (element) {
                        return element.file !== name;
                    });
                    return filteredData;
                },
                _verifyForm: function (event) {
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement.parentElement;
                    var payload = {
                    };
                    payload = $.extend({}, payload, self.file);
                    $('div#ErrorMessge').hide();

                    if (_.isEmpty(self.file)) {
                        $('div#ErrorMessge p').html("Please upload document.");
                        $('div#ErrorMessge').show();

                        return;
                    }

                    if (form.validate()) {
                        var uploadContainer = document.querySelector("vaadin-upload#BankStatement");
                        var encryptedTenantId = self.$.config.getConfigurationBasedOnKey("encryptedTenantId");
                        var reqdata = self.uploadBankObj.values;
                        payload = $.extend({}, payload, reqdata);

                        payload = $.extend({}, payload, { EntityType: 'application', EntityId: self.applicationNumber });
                        var serviceEndPoint = window.config.services.webhookNotifier;
                        var url = "/plaidmanual/?token=" + encryptedTenantId;
                        $('div#ErrorMessge').hide();

                        window.jQuery.ajax({
                            type: "POST",
                            url: serviceEndPoint + url,
                            contentType: "application/json",
                            data: JSON.stringify(payload),
                            success: function (data) {
                                form.reset();
                                uploadContainer.files = [];
                                self.raiseAppRefreshEvent(event);
                            },
                            error: function (xhr, status, errorThrown) {
                                var error = JSON.parse(xhr.responseText);
                                $('div#ErrorMessge p').html(error.message);
                                $('div#ErrorMessge').show();
                                setTimeout(function () {
                                    $('div#ErrorMessge').hide();
                                }, 5000);
                            }
                        });
                    }
                    else {
                        $('div#ErrorMessge p').html("Bank statement all fields are required.");
                        $('div#ErrorMessge').show();
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "UploadBankStatement",
                        EventData: event,
                        CompnentName: 'app-upload-bank-statement'
                    });
                }
            });
        });
    </script>
</dom-module>