<dom-module id="verify-documents">
    <template>
        <div>
            TBD
        </div>
    </template>
    <script>
        Polymer({
            is: "verify-documents",
            init: function () {
            }
        });
    </script>
</dom-module>