<script src="https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay.min.js" async></script>

<dom-module id="spinner-loader">
    <template></template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "spinner-loader",
                loadingOn: function () {
                    $.LoadingOverlay("show");
                },
                loadingOff: function () {
                    $.LoadingOverlay("hide");
                }
            });
        });
    </script>
</dom-module>