<dom-module id="apply-suspense">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            ul.dropdown-menu li {
                padding: 10px;
                color: #03466B;
                cursor: pointer;
            }

            ul.dropdown-menu li:hover {
                background-color: lightgray;
            }

            .DownArrow {
                font-size: 20px;
                padding-top: 23px;
            }

            .set-vertical-height {
                height: 500px;
                overflow-y: scroll;
            }
        </style>
        <div id="MessageContainer"></div>
        <div class="row">
            <div class="col-md-12 set-vertical-height">
                <form is="iron-form" class="form-horizontal" name="ApplySuspense">
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <paper-input class="custom-input" required type="text" value="{{PaymentAmount}}" name="PaymentAmount" id="PaymentAmount"
                                label="Payment Amount" pattern="^[0-9]+(.[0-9]{0,2})?$" on-blur="getEstimate"></paper-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <paper-input class="custom-input" pattern="^[0-9]+(.[0-9]{0,2})?$" type="text" value="{{Principal}}" name="Principal" id="Principal"
                                label="Principal"></paper-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <paper-input class="custom-input" pattern="^[0-9]+(.[0-9]{0,2})?$" type="text" value="{{Interest}}" name="Interest" id="Interest"
                                label="{{interestLabel}}"></paper-input>
                        </div>
                    </div>
                    <template is="dom-if" if="{{checkPortfolioType(loanData)}}">
                        <div class="row">
                            <div class="panel-left col-md-12">
                                <paper-input class="custom-input" pattern="^[0-9]+(.[0-9]{0,2})?$" type="text" value="{{AdditionalInterest}}" name="Additional Interest"
                                    id="AdditionalInterest" label="Additional Interest"></paper-input>
                            </div>
                        </div>
                    </template>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <paper-input class="custom-input" readonly pattern="^[0-9]+(.[0-9]{0,2})?$" type="text" value="{{Fees}}" name="Fees" id="Fees"
                                label="Fees"></paper-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <checkbox-group id="papercheckboxGroup" checkboxes="{{AppliedFees}}" selected-items="{{selectedFees}}"></checkbox-group>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <vaadin-date-picker class="custom-input" required id="PaymentScheduleDate" i18n="[[i18n]]" label="Payment Date" format="{{_getFormat(item.value)}}"
                                value="{{PaymentScheduleDate}}"></vaadin-date-picker>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <paper-input class="custom-input" type="text" value="{{Description}}" name="Description" id="Description" label="Description"></paper-input>
                        </div>
                    </div>
                    <br>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>

                </form>
            </div>
        </div>
        <url-parser id="urlas"></url-parser>
        <http-request id="httpas"></http-request>
        <alloy-config id="configas"></alloy-config>
        <auth-service id="authorizeas"></auth-service>
        <lookup-service id="lookupas"></lookup-service>
        <utility-service id="utilityas"></utility-service>
        <session-manager id="sessionas"></session-manager>
        <message-component id="messageas"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "apply-suspense",
                properties: {
                    interestLabel: {
                        type: String,
                        notify: true
                    },
                    loanData: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    currentEconomicsData: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true,
                        observer: "processEconomicsData"
                    },
                    ExcessAmount: {
                        type: String,
                        notify: true
                    },
                    Description: {
                        type: String,
                        notify: true
                    },
                    AppliedFees: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    selectedFees: {
                        type: Array,
                        notify: true,
                        value: [],
                        observer: "feesChanged"
                    },
                    loanNumber: {
                        type: String,
                        notify: true
                    },
                    PaymentTypeId: {
                        type: String,
                        notify: true
                    },
                    PaymentType: {
                        type: Array,
                        notify: true
                    },
                    purposeList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    PurposeId: {
                        type: String,
                        notify: true,
                        value: "default"
                    },
                    PaymentAmount: {
                        type: String,
                        notify: true
                    },
                    ExcessPayment: {
                        type: String,
                        notify: true
                    },
                    Principal: {
                        type: String,
                        notify: true,
                        observer: "reCalculateValue"
                    },
                    Interest: {
                        type: String,
                        notify: true,
                        observer: "reCalculateValue"
                    },
                    AdditionalInterest: {
                        type: String,
                        notify: true,
                        observer: "reCalculateValue"
                    },
                    Fees: {
                        type: String,
                        notify: true,
                        observer: "reCalculateValue"
                    },
                    PaymentScheduleDate: {
                        type: Date,
                        notify: true,
                        observer: "checkHoliday"
                    },
                    EstimateObj: {
                        type: Object,
                        notify: true
                    },
                    bankList: {
                        type: Array,
                        notify: true
                    },
                    i18n: {
                        type: Object,
                        notify: true,
                        value: {
                            monthNames: moment.months(),
                            weekdays: moment.weekdays(),
                            weekdaysShort: moment.weekdaysShort(),
                            firstDayOfWeek: moment.localeData().firstDayOfWeek(),
                            week: 'Week',
                            calendar: 'Calendar',
                            clear: 'Clear',
                            today: 'Today',
                            cancel: 'Cancel',
                            formatDate: function (d) {
                                return moment(d).format("MM/DD/YYYY");
                            },
                            parseDate: function (s) {
                                return moment(s, "MM/DD/YYYY").toDate();
                            },
                            formatTitle: function (monthName, fullYear) {
                                return monthName + ' ' + fullYear;
                            }
                        }
                    }
                },
                reCalculateValue: function () {
                    var self = this;
                    if (self.Principal === undefined || self.Principal === "") {
                        self.Principal = 0;
                    }
                    if (self.Interest === undefined || self.Interest === "") {
                        self.Interest = 0;
                    }
                    if (self.AdditionalInterest === undefined || self.AdditionalInterest === "") {
                        self.AdditionalInterest = 0;
                    }
                    if (self.Fees === undefined || self.Fees === "") {
                        self.Fees = 0;
                    }
                    var value = parseFloat(self.Principal) + parseFloat(self.Interest) + parseFloat(self.AdditionalInterest) + parseFloat(self.Fees);
                    self.PaymentAmount = parseFloat(value).toFixed(2);
                },
                _verifyForm: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    var accountingService = window.config.services.accountingService;
                    if (form.validate()) {
                        var url = "/" + self.applicationNumber + "/payment";
                        var Amount = 0;
                        var value = parseFloat(self.Principal) + parseFloat(self.Interest) + parseFloat(self.AdditionalInterest) + parseFloat(self.Fees);
                        Amount = parseFloat(value).toFixed(2);
                        var payload = {
                            Principal: self.Principal,
                            Interest: self.Interest,
                            Fees: self.getFeesObject(),
                            AdditionalInterest: self.AdditionalInterest,
                            ProcessingDate: self.formatDate(self.PaymentScheduleDate),
                            EffectiveDate: self.formatDate(self.PaymentScheduleDate),
                            FeeAmount: self.Fees,
                            TotalAmount: parseFloat(Amount),
                            IsSuspense: true,
                            Description: self.Description,
                            Action: "custom"
                        };
                        self.$.httpas.post(url, payload, accountingService, true).then(function (data) {
                            self.raiseAppRefreshEvent(e);
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            self.$.messageas.showMessage(strMessage, "ERROR", self.$$('#MessageContainer'));
                        });
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utilityas.raiseEvent(this.fireEvent, {
                        ActionName: 'ApplySuspense',
                        EventData: event,
                        CompnentName: 'apply-suspense'
                    });
                },
                formatDate: function (date) {
                    return moment.tz(date, window.config.timezone).format("YYYY-MM-DD");
                },
                getEstimate: function () {
                    this.getCustomFees(self.PaymentAmount);
                },
                getFeesTotal: function (fees) {
                    var Totalfees = 0;
                    if (fees != undefined && fees != "" && fees != null) {
                        Totalfees = _.sumBy(fees, function (obj) {
                            if (obj.isPaid === false) {
                                return obj.feeAmount;
                            }
                        });
                    }
                    return Totalfees;
                },
                getFeesObject: function () {
                    var self = this;
                    var feesObj = [];
                    if (self.EstimateObj != undefined && self.EstimateObj != null && self.EstimateObj.fees != undefined && self.EstimateObj.fees != "" && self.EstimateObj.fees != null) {
                        for (var i = 0; i < self.EstimateObj.fees.length; i++) {
                            var selFees = self.EstimateObj.fees[i].feeName + "-" + self.EstimateObj.fees[i].feeAmount;
                            if (self.EstimateObj.fees[i].isPaid === false && self.selectedFees != "" && self.selectedFees != undefined && self.selectedFees.indexOf(selFees) !== -1) {
                                feesObj.push({
                                    FeeAmount: self.EstimateObj.fees[i].feeAmount,
                                    FeeType: self.EstimateObj.fees[i].feeType,
                                    FeeName: self.EstimateObj.fees[i].feeName
                                });
                            }
                        }
                    }
                    return feesObj;
                },
                getCustomFees: function (PaymentAmount) {
                    var self = this;
                    var Url = "/" + self.applicationNumber + "/fees";
                    self.$.httpas.get(Url, window.config.services.accountingService).then(function (data) {
                        if (data) {
                            self.EstimateObj = {};
                            self.EstimateObj.fees = data;
                            self.Fees = self.getFeesTotal(data);
                            self.Principal = (parseFloat(PaymentAmount) > parseFloat(self.Fees)) ? parseFloat(PaymentAmount) - parseFloat(self.Fees) : 0;
                            self.Interest = 0;
                            self.AdditionalInterest = 0;
                            self.ExcessPayment = 0;
                            self.generateCheckGroup();
                        }
                    }).fail(function (e) {
                        console.error("Get Custom fees error is ", e);
                    });
                },
                generateCheckGroup: function () {
                    var self = this;
                    var feesObj = [];
                    self.set("AppliedFees", []);
                    if (self.EstimateObj != undefined && self.EstimateObj != null && self.EstimateObj.fees != undefined && self.EstimateObj.fees != "" && self.EstimateObj.fees != null) {
                        for (var i = 0; i < self.EstimateObj.fees.length; i++) {
                            if (self.EstimateObj.fees[i].isPaid === false) {
                                feesObj.push(self.EstimateObj.fees[i].feeName + "-" + self.EstimateObj.fees[i].feeAmount);
                            }
                        }
                        self.set("AppliedFees", feesObj);
                        self.set("selectedFees", feesObj);
                    }
                },
                feesChanged: function () {
                    var self = this;
                    var sum = 0;
                    if (self.selectedFees != undefined && self.selectedFees != null && self.selectedFees != "") {
                        self.selectedFees.forEach(function (element) {
                            var FeesAmount = element.substring(element.lastIndexOf('-') + 1);
                            sum = parseFloat(sum) + parseFloat(FeesAmount);
                        });
                    }
                    self.set('Fees', sum);
                },
                checkHoliday: function () {
                    var self = this;
                    var allowHolidayAsPaymentDate = self.$.configas.getConfigurationBasedOnKey("allowHolidayAsPaymentDate");
                    if (allowHolidayAsPaymentDate) {
                        var weekday = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
                        if (self.PaymentScheduleDate != undefined && self.PaymentScheduleDate != null && self.PaymentScheduleDate != "") {
                            var selectedDate = new Date(self.PaymentScheduleDate);
                            var holidayCalendar = JSON.parse(self.$.sessionas.get("holidayCalendar"));
                            var CheckDayList = holidayCalendar[weekday[selectedDate.getDay()]];
                            var CheckDateList = holidayCalendar[self.PaymentScheduleDate];
                            if (CheckDayList != undefined && CheckDayList != null && CheckDayList != "") {
                                self.set('PaymentScheduleDate', "");
                                self.$.messageas.showMessage("Please select bank working day", "ERROR", self.$$('#MessageContainer'));
                            }
                            else if (CheckDateList != undefined && CheckDateList != null && CheckDateList != "") {
                                self.set('PaymentScheduleDate', "");
                                self.$.messageas.showMessage("Please select bank working day", "ERROR", self.$$('#MessageContainer'));
                            }
                        }
                    }
                },
                processEconomicsData: function () {
                    var self = this;
                    self.ExcessAmount = 0;
                    if (self.currentEconomicsData.excessMoney != null && self.currentEconomicsData.excessMoney != undefined && self.currentEconomicsData.excessMoney != "") {
                        self.ExcessAmount = self.currentEconomicsData.excessMoney.amount;
                    }
                    self.PaymentAmount = self.ExcessAmount;
                },
                init: function () {
                    var self = this;
                    if (self.checkPortfolioType(self.loanData)) {
                        self.interestLabel = "Interest";
                    }
                    else {
                        self.interestLabel = "Finance Charge";
                    }
                    self.getCustomFees(self.PaymentAmount);
                },
                checkPortfolioType: function (objType) {
                    var self = this;
                    if (self.loanData && self.loanData.productPortfolioType != "MCA" && self.loanData.productPortfolioType != "MCALOC") {
                        return true;
                    }
                    return false;
                }
            });
        });
    </script>
</dom-module>