<dom-module id="apply-fees">
    <template>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="FeeForm">
                    <dynamic-form form-configuration={{feeObj}} values="{{feeObj.values}}"></dynamic-form>
                    <br/>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
            <div id="MessageContainer"></div>
        </div>
        <url-parser id="urlaf"></url-parser>
        <http-request id="httpaf"></http-request>
        <lookup-service id="lookupaf"></lookup-service>
        <utility-service id="utilityaf"></utility-service>
        <message-component id="messageaf"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "apply-fees",
                properties: {
                    feeObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                FeeType: {
                                    label: "Fee Type",
                                    type: "combobox",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                ApplyDate: {
                                    label: "Apply Date",
                                    title: "Requested Date",
                                    type: "date",
                                    format: "MM/DD/YYYY",
                                    validations: {
                                        required: true
                                    }
                                },
                                FeeAmount: {
                                    label: "Fee Amount",
                                    type: "textboxwithCurrency",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        pattern: 'DECIMAL',
                                        minLen: 1,
                                        maxLen: 10,
                                        currencySign: "$"
                                    }
                                },
                                FeeName: {
                                    label: "Fee Name",
                                    type: "combobox",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                Description: {
                                    label: "Description",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                }
                            },
                            values: {
                                FeeType: "",
                                ApplyDate: "",
                                FeeAmount: "0.00",
                                FeeName: "",
                                Description: ""
                            }
                        }
                    }
                },
                _verifyForm: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    var accountingService = window.config.services.accountingService;
                    if (form.validate()) {
                        var feeObj = self.feeObj.values;
                        var url = "/" + self.applicationNumber + "/applyfee";
                        feeObj.ApplyDate = self.formatDate(self.feeObj.values.ApplyDate);
                        self.$.httpaf.post(url, feeObj, accountingService, true).then(function (data) {
                            self.raiseAppRefreshEvent(e);
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            self.$.messageaf.showMessage(strMessage, "ERROR", self.$$('#MessageContainer'));
                        });
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utilityaf.raiseEvent(this.fireEvent, {
                        ActionName: 'ApplyFees',
                        EventData: event,
                        CompnentName: 'apply-fees'
                    });
                },
                formatDate: function (date) {
                    return moment.tz(date, window.config.timezone).format("YYYY-MM-DD");
                },
                init: function () {
                    this._getFeesLookupData();
                },
                _getFeesLookupData: function () {
                    var self = this;
                    var params = self.$.urlaf.getParams();
                    var url = "/" + params.product + "/all/feeparameter";
                    var multiProducts = window.config.services.multiProducts;
                    self.$.httpaf.get(url, multiProducts).then(function (data) {
                        var updatedData = _.reject(data, ['feeId', null]);
                        var feesList = _.transform(updatedData, function (result, fee) {
                            result.push({ key: fee.feeId, value: fee.name });
                        }, []);
                        var feeTypes = self.$.lookupaf.getLookupBasedOnName("feeTypes");
                        var feeObj = _.cloneDeep(self.get('feeObj'));
                        feeObj.controls.FeeName.selectList = feesList;
                        feeObj.controls.FeeType.selectList = feeTypes;
                        self.set('feeObj', feeObj);
                    }).fail(function (e) {
                        console.error("alert error is ", e);
                    });
                }
            });
        });
    </script>
</dom-module>