<dom-module id="close-loan">
    <template>
        <div class="row">
            <div id="MessageContainer"></div>
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="rejectApplication">
                    <vaadin-combo-box id="ReasonCloseLoan" class="custom-input" name="CloseLoan" value="{{selectedReason}}" item-value-path="key"
                        item-label-path="value" items="{{reasonList}}" label="Select Reason" prevent-invalid-input="true">
                    </vaadin-combo-box>
                    <br>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Close Loan</paper-button>
                </form>
            </div>
        </div>
        <url-parser id="urlcloan"></url-parser>
        <http-request id="httpcloan"></http-request>
        <utility-service id="utilitycloan"></utility-service>
        <message-component id="messagecloan"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "close-loan",
                properties: {
                    reasonList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    selectedReason: {
                        type: String,
                        notify: true
                    }
                },
                init: function () {
                    this._loadReasonList();
                },
                _loadReasonList: function () {
                    var self = this;
                    var url = "";
                    var urlParams = this.$.urlcloan.getParams();
                    url = "/status-management/" + urlParams.entity + "/" + urlParams.workflow + "/200.60/reasons";
                    self.$.httpcloan.get(url, "").then(function (result) {
                        var tempList = [];
                        if (!_.isNull(result)) {
                            for (var i = 0; i < result.length; i++) {
                                tempList.push({ key: result[i].code, value: result[i].descriptions });
                            }
                            self.set('reasonList', tempList);
                        }
                    }).fail(function (e) {
                        console.error("not able to load status .", e);
                    });
                },
                _verifyForm: function (e) {
                    e.preventDefault();
                    var self = this;
                    var lmsService = window.config.services.lmsService;
                    if (self.selectedReason != "" && self.selectedReason != undefined && self.selectedReason != null) {
                        var url = "/status/close/" + self.applicationNumber + "/" + self.selectedReason;
                        self.$.httpcloan.put(url, {}, lmsService, true).then(function (data) {
                            self.raiseAppRefreshEvent(e);
                        }).fail(function (e) {
                            var strMessage = e.responseJSON.message;
                            self.$.messagecloan.showMessage(strMessage, "ERROR", self.$$('#MessageContainer'));
                        });
                    }
                    else {
                        var strMessage = "All fields are Required";
                        self.$.messagecloan.showMessage(strMessage, "ERROR", self.$$('#MessageContainer'));
                    }
                },
                removeTagFromLoan: function (e) {
                    var self = this;
                    var PayLoad = {
                        LoanNumber: self.applicationNumber
                    };
                    self.$.httpcloan.post("/LoanClosed", PayLoad, window.config.services.eventHub, true).then(function (data) {
                        self.raiseAppRefreshEvent(e);
                    }).fail(function (e) {
                        var strMessage = "You can not close this loan.";
                        self.$.messagecloan.showMessage(strMessage, "ERROR", self.$$('#MessageContainer'));
                    });
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utilitycloan.raiseEvent(this.fireEvent, {
                        ActionName: 'CloseLoan',
                        EventData: event,
                        CompnentName: 'close-loan'
                    });
                }
            });
        });
    </script>
</dom-module>