<dom-module id="make-new-payment">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            ul.dropdown-menu li {
                padding: 10px;
                color: #03466B;
                cursor: pointer;
            }

            ul.dropdown-menu li:hover {
                background-color: lightgray;
            }

            .DownArrow {
                font-size: 20px;
                padding-top: 23px;
            }
        </style>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="MakeNewPayment">
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <vaadin-combo-box class="custom-input" name="Purpose" value="{{selectedPurpose}}" item-value-path="value" item-label-path="key"
                                items="{{purposeList}}" required label="Select Purpose" on-change="_onPurposeChange" prevent-invalid-input="true"></vaadin-combo-box>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <paper-input class="custom-input" required type="text" value="{{PaymentAmount}}" name="PaymentAmount" id="PaymentAmount"
                                label="Payment Amount" pattern="^[0-9]+(.[0-9]{0,2})?$" on-blur="GetEstimate"></paper-input>
                        </div>
                    </div>
                    <div id="Estimaters" style="display:none;">
                        <div class="row">
                            <div class="panel-left col-md-12">
                                <paper-input class="custom-input" pattern="^[0-9]+(.[0-9]{0,2})?$" type="text" value="{{Principal}}" name="Principal" id="Principal"
                                    label="Principal"></paper-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="panel-left col-md-12">
                                <paper-input class="custom-input" pattern="^[0-9]+(.[0-9]{0,2})?$" type="text" value="{{Interest}}" name="Interest" id="Interest"
                                    label="Interest"></paper-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="panel-left col-md-11">
                                <paper-input class="custom-input" readonly pattern="^[0-9]+(.[0-9]{0,2})?$" type="text" value="{{Fees}}" name="Fees" id="Fees"
                                    label="Fees"></paper-input>
                            </div>
                            <div class="panel-left col-md-1">
                                <a href="javascript:" class="dropdown-toggle moreHeight" data-toggle="dropdown" role="button" aria-expanded="false">
                                    <i class="fa fa-angle-down DownArrow" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <template is="dom-repeat" items="{{EstimateObj.fees}}" as="fee">
                                        <li>{{fee.feeName}}</li>
                                    </template>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <vaadin-date-picker class="custom-input" required id="ProcessingDate" i18n="[[i18n]]" label="Processing Date" format="{{_getFormat(item.value)}}"
                                value="{{ProcessingDate}}"></vaadin-date-picker>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <vaadin-date-picker class="custom-input" required id="EffectiveDate" i18n="[[i18n]]" label="Effective Date" format="{{_getFormat(item.value)}}"
                                value="{{EffectiveDate}}"></vaadin-date-picker>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <paper-input class="custom-input" type="text" value="{{Description}}" name="Description" id="Description" label="Description"></paper-input>
                        </div>
                    </div>
                    <br>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
            <div id="MessageContainer"></div>
        </div>
        <url-parser id="urlmnp"></url-parser>
        <http-request id="httpmnp"></http-request>
        <utility-service id="utilitymnp"></utility-service>
        <message-component id="messagemnp"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "make-new-payment",
                properties: {
                    purposeList: {
                        type: Array,
                        notify: true,
                        value: [
                            { value: 'defaulthierarchy', key: 'Default Hierarchy' },
                            { value: 'schedule', key: 'Schedule' },
                            { value: 'additional', key: 'Additional' },
                            { value: 'custom', key: 'Custom' }]
                    },
                    selectedPurpose: {
                        type: String,
                        notify: true
                    },
                    PaymentAmount: {
                        type: String,
                        notify: true
                    },
                    Principal: {
                        type: String,
                        notify: true,
                        observer: "changePrincipal"
                    },
                    Interest: {
                        type: String,
                        notify: true,
                        observer: "changeInterest"
                    },
                    Fees: {
                        type: String,
                        notify: true
                    },
                    OriPrincipal: {
                        type: String,
                        notify: true
                    },
                    OriInterest: {
                        type: String,
                        notify: true
                    },
                    OriFees: {
                        type: String,
                        notify: true
                    },
                    ProcessingDate: {
                        type: Date,
                        notify: true
                    },
                    EffectiveDate: {
                        type: Date,
                        notify: true
                    },
                    loanNumber: {
                        type: String,
                        notify: true
                    },
                    Description: {
                        type: String,
                        notify: true
                    },
                    EstimateObj: {
                        type: Object,
                        notify: true
                    },
                    i18n: {
                        type: Object,
                        notify: true,
                        value: {
                            monthNames: moment.months(),
                            weekdays: moment.weekdays(),
                            weekdaysShort: moment.weekdaysShort(),
                            firstDayOfWeek: moment.localeData().firstDayOfWeek(),
                            week: 'Week',
                            calendar: 'Calendar',
                            clear: 'Clear',
                            today: 'Today',
                            cancel: 'Cancel',
                            formatDate: function (d) {
                                return moment(d).format("MM/DD/YYYY");
                            },
                            parseDate: function (s) {
                                return moment(s, "MM/DD/YYYY").toDate();
                            },
                            formatTitle: function (monthName, fullYear) {
                                return monthName + ' ' + fullYear;
                            }
                        }
                    }
                },
                _onPurposeChange: function (event) {
                    var self = this;
                    var selectedValues = event.target.value;
                    if (selectedValues === "custom") {
                        $('#Estimaters').show();
                    }
                    else {
                        $('#Estimaters').hide();
                    }
                },
                changePrincipal: function () {
                    var self = this;
                    var value = parseFloat(self.Principal) + parseFloat(self.Interest);
                    self.PaymentAmount = parseFloat(value).toFixed(2);
                },
                changeInterest: function () {
                    var self = this;
                    var value = parseFloat(self.Principal) + parseFloat(self.Interest);
                    self.PaymentAmount = parseFloat(value).toFixed(2);
                },
                _verifyForm: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    var url = "/" + self.applicationNumber + "/totalpayment";
                    var accountingService = window.config.services.accountingService;
                    if (form.validate()) {
                        var payload = {
                            Action: self.selectedPurpose,
                            ProcessingDate: self.formatDate(self.ProcessingDate),
                            EffectiveDate: self.formatDate(self.EffectiveDate),
                            Description: self.Description,
                            TotalAmount: parseFloat(self.PaymentAmount)
                        };

                        if (self.selectedPurpose === "custom") {
                            payload.TotalAmount = self.Principal + self.Interest;
                            payload.Principal = self.Principal;
                            payload.Interest = self.Interest;
                            payload.Fees = self.GetFeesObject();
                        }
                        self.$.httpmnp.post(url, payload, accountingService, true).then(function (data) {
                            self.raiseAppRefreshEvent(e);
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            self.$.messagemnp.showMessage(strMessage, "ERROR", self.$$('#MessageContainer'));
                        });
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utilitymnp.raiseEvent(this.fireEvent, {
                        ActionName: 'MakeNewPayment',
                        EventData: event,
                        CompnentName: 'make-new-payment'
                    });
                },
                formatDate: function (date) {
                    return moment.tz(date, window.config.timezone).format("YYYY-MM-DD");
                },
                GetEstimate: function () {
                    var self = this;
                    if (self.selectedPurpose == "custom") {
                        var url = "/" + self.applicationNumber + "/" + self.PaymentAmount + "/" + self.selectedPurpose + "/estimate";
                        self.$.httpmnp.get(url, window.config.services.accountingService).then(function (data) {
                            if (data) {
                                self.EstimateObj = data;
                                self.Principal = data.principal;
                                self.Interest = data.interest;
                                self.Fees = self.GetFeesTotal(data.fees);
                                self.OriPrincipal = data.principal;
                                self.OriInterest = data.interest;
                                self.OriFees = data.fees;
                            }
                        }).fail(function (e) {
                            console.error("Filter error is ", e);
                        });
                    }
                },
                GetFeesTotal: function (fees) {
                    var Totalfees = 0;
                    if (fees != undefined && fees != "" && fees != null) {
                        Totalfees = _.sumBy(fees, 'feeAmount');
                    }
                    return Totalfees;
                },
                GetFeesObject: function () {
                    var self = this;
                    var feesObj = [];
                    if (self.EstimateObj != undefined && self.EstimateObj != null && self.EstimateObj.fees != undefined && self.EstimateObj.fees != "" && self.EstimateObj.fees != null) {
                        for (var i = 0; i < self.EstimateObj.fees.length; i++) {
                            feesObj.push({
                                FeeAmount: self.EstimateObj.fees[i].feeAmount,
                                Id: self.EstimateObj.fees[i].id,
                                FeeName: self.EstimateObj.fees[i].feeName
                            });
                        }
                    }
                    return feesObj;
                },
                init: function () {

                }
            });
        });
    </script>
</dom-module>