<dom-module id="manual-payment">
    <template>
        <style>
            .prefixSign {
                font: normal normal normal 14px/1 FontAwesome !important;
                font-size: inherit !important;
            }

            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            ul.dropdown-menu li {
                padding: 10px;
                color: #03466B;
                cursor: pointer;
            }

            ul.dropdown-menu li:hover {
                background-color: lightgray;
            }

            .DownArrow {
                font-size: 20px;
                padding-top: 23px;
            }

            .set-vertical-height {
                height: 500px;
                overflow-y: scroll;
            }
        </style>
        <div id="MessageContainer"></div>
        <div class="row">
            <div class="col-md-12 set-vertical-height">
                <form is="iron-form" class="form-horizontal" name="ManualPayment">
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <vaadin-combo-box class="custom-input" name="PaymentType" value="{{PaymentTypeId}}" item-value-path="value" item-label-path="key"
                                items="{{PaymentType}}" required label="Select Payment Instrument" prevent-invalid-input="true"
                                on-change="_onTypeChange"></vaadin-combo-box>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <vaadin-combo-box class="custom-input" name="Purpose" value="{{PurposeId}}" item-value-path="key" item-label-path="value"
                                items="{{purposeList}}" required label="Select Payment Type" prevent-invalid-input="true" on-change="_onPurposeChange"></vaadin-combo-box>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <paper-input class="custom-input" required type="text" value="{{PaymentAmount}}" name="PaymentAmount" id="PaymentAmount"
                                label="Payment Amount" pattern="^[0-9]+(.[0-9]{0,2})?$" on-blur="getEstimate">
                                <div prefix class$="{{getCurrencySymbol()}}"></div>
                            </paper-input>
                        </div>
                    </div>
                    <div id="mcaCustom">
                        <div class="row">
                            <div class="panel-left col-md-12">
                                <paper-input class="custom-input" pattern="^[0-9]+(.[0-9]{0,2})?$" type="text" value="{{Principal}}" name="Principal" id="Principal"
                                    label="Principal">
                                    <div prefix class$="{{getCurrencySymbol()}}"></div>
                                </paper-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="panel-left col-md-12">
                                <paper-input class="custom-input" pattern="^[0-9]+(.[0-9]{0,2})?$" type="text" value="{{Interest}}" name="Interest" id="Interest"
                                    label="{{interestLabel}}">
                                    <div prefix class$="{{getCurrencySymbol()}}"></div>
                                </paper-input>
                            </div>
                        </div>
                        <template is="dom-if" if="{{checkPortfolioType(loanData)}}">
                            <div class="row">
                                <div class="panel-left col-md-12">
                                    <paper-input class="custom-input" pattern="^[0-9]+(.[0-9]{0,2})?$" type="text" value="{{AdditionalInterest}}" name="Additional Interest"
                                        id="AdditionalInterest" label="Additional Interest">
                                        <div prefix class$="{{getCurrencySymbol()}}"></div>
                                    </paper-input>
                                </div>
                            </div>
                        </template>
                        <template is="dom-if" if="{{checkPriorIneterest(loanData,scheduleList)}}">
                            <div class="row">
                                <div class="panel-left col-md-12">
                                    <paper-input class="custom-input" pattern="^[0-9]+(.[0-9]{0,2})?$" type="text" value="{{PriorInterest}}" name="Prior Interest"
                                        id="PriorInterest" label="Prior Interest">
                                        <div prefix class$="{{getCurrencySymbol()}}"></div>
                                    </paper-input>
                                </div>
                            </div>
                        </template>
                        <div class="row">
                            <div class="panel-left col-md-12">
                                <paper-input class="custom-input" desabled="true" pattern="^[0-9]+(.[0-9]{0,2})?$" type="text" value="{{excessPayment}}"
                                    name="excessPayment" id="excessPayment" label="Excess Payment" readonly$="{{isReadonly}}">
                                    <div prefix class$="{{getCurrencySymbol()}}"></div>
                                </paper-input>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <paper-input class="custom-input" readonly pattern="^[0-9]+(.[0-9]{0,2})?$" type="text" value="{{fees}}" name="Fees" id="Fees"
                                label="Fees">
                                <div prefix class$="{{getCurrencySymbol()}}"></div>
                            </paper-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <checkbox-group id="papercheckboxGroup" disabled$="{{feesDesabled}}" checkboxes="{{AppliedFees}}" selected-items="{{selectedFees}}"></checkbox-group>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <vaadin-date-picker class="custom-input" required id="PaymentScheduleDate" i18n="[[i18n]]" label="Payment Date" format="{{_getFormat(item.value)}}"
                                min="{{paymentDateMin}}" max="{{paymentDateMax}}" value="{{PaymentScheduleDate}}"></vaadin-date-picker>
                        </div>
                    </div>
                    <div id="BankDetails" style="display:none;">
                        <div class="row">
                            <div class="panel-left col-md-12">
                                <paper-input class="custom-input" type="text" value="{{BankAccountNumber}}" name="BankAccountNumber" id="BankAccountNumber"
                                    label="Bank Account Number"></paper-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="panel-left col-md-12">
                                <vaadin-combo-box class="custom-input" name="BankAccountType" value="{{bankAccountTypeId}}" item-value-path="value" item-label-path="key"
                                    items="{{BankAccountType}}" label="Bank Account Type" prevent-invalid-input="true"></vaadin-combo-box>
                            </div>
                        </div>
                        <div class="row">
                            <div class="panel-left col-md-12">
                                <paper-input class="custom-input" type="text" value="{{BankRTN}}" name="BankRTN" id="BankRTN" label="Bank RTN"></paper-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="panel-left col-md-12">
                                <paper-input class="custom-input" type="text" value="{{BorrowersName}}" name="BorrowersName" id="BorrowersName" label="Borrower's Name"></paper-input>
                            </div>
                        </div>
                        <div id="CheckDetails" style="display:none;">
                            <div class="row">
                                <div class="panel-left col-md-12">
                                    <paper-input class="custom-input" type="text" value="{{CheckNo}}" name="CheckNo" id="CheckNo" label="Check Number"></paper-input>
                                </div>
                            </div>
                            <div class="row">
                                <div class="panel-left col-md-12">
                                    <paper-input class="custom-input" type="text" value="{{MICR}}" name="MICR" id="MICR" label="MICR"></paper-input>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <url-parser id="urlmp"></url-parser>
        <http-request id="httpmp"></http-request>
        <alloy-config id="configmp"></alloy-config>
        <auth-service id="authorizemp"></auth-service>
        <lookup-service id="lookupmp"></lookup-service>
        <utility-service id="utilitymp"></utility-service>
        <session-manager id="sessionmp"></session-manager>
        <message-component id="messagemp"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "manual-payment",
                properties: {
                    scheduleList: {
                        type: Array,
                        notify: true,
                        reflectToAttribute: true
                    },
                    isReadonly: {
                        type: Boolean,
                        notify: true,
                        value: true,
                        reflectToAttribute: true
                    },
                    interestLabel: {
                        type: String,
                        notify: true
                    },
                    loanData: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    paymentDateMin: {
                        type: Date,
                        notify: true
                    },
                    paymentDateMax: {
                        type: Date,
                        notify: true
                    },
                    feesDesabled: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    AppliedFees: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    AppliedFeesId: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    selectedFees: {
                        type: Array,
                        notify: true,
                        value: [],
                        observer: "feesChanged"
                    },
                    loanNumber: {
                        type: String,
                        notify: true
                    },
                    PaymentTypeId: {
                        type: String,
                        notify: true
                    },
                    PaymentType: {
                        type: Array,
                        notify: true
                    },
                    purposeList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    PurposeId: {
                        type: String,
                        notify: true,
                        value: "default"
                    },
                    PaymentAmount: {
                        type: String,
                        notify: true
                    },
                    excessPayment: {
                        type: String,
                        notify: true,
                        observer: "reCalculateValue"
                    },
                    Principal: {
                        type: String,
                        notify: true,
                        observer: "reCalculateValue"
                    },
                    Interest: {
                        type: String,
                        notify: true,
                        observer: "reCalculateValue"
                    },
                    AdditionalInterest: {
                        type: String,
                        notify: true,
                        observer: "reCalculateValue"
                    },
                    PriorInterest: {
                        type: String,
                        notify: true,
                        observer: "reCalculateValue"
                    },
                    fees: {
                        type: String,
                        notify: true,
                        observer: "reCalculateValue"
                    },
                    PaymentScheduleDate: {
                        type: Date,
                        notify: true,
                        observer: "checkHoliday"
                    },
                    BankAccountNumber: {
                        type: String,
                        notify: true
                    },
                    BankAccountType: {
                        type: Array,
                        notify: true,
                        value: [
                            { key: 'Checking', value: 'Checking' },
                            { key: 'Savings', value: 'Savings' }]
                    },
                    BankRTN: {
                        type: String,
                        notify: true
                    },
                    BorrowersName: {
                        type: String,
                        notify: true
                    },
                    CheckNo: {
                        type: String,
                        notify: true
                    },
                    MICR: {
                        type: String,
                        notify: true
                    },
                    bankAccountTypeId: {
                        type: String,
                        notify: true
                    },
                    estimateObj: {
                        type: Object,
                        notify: true
                    },
                    bankList: {
                        type: Array,
                        notify: true
                    },
                    i18n: {
                        type: Object,
                        notify: true,
                        value: {
                            monthNames: moment.months(),
                            weekdays: moment.weekdays(),
                            weekdaysShort: moment.weekdaysShort(),
                            firstDayOfWeek: moment.localeData().firstDayOfWeek(),
                            week: 'Week',
                            calendar: 'Calendar',
                            clear: 'Clear',
                            today: 'Today',
                            cancel: 'Cancel',
                            formatDate: function (d) {
                                return moment(d).format("MM/DD/YYYY");
                            },
                            parseDate: function (s) {
                                return moment(s, "MM/DD/YYYY").toDate();
                            },
                            formatTitle: function (monthName, fullYear) {
                                return monthName + ' ' + fullYear;
                            }
                        }
                    }
                },
                reCalculateValue: function () {
                    var self = this;
                    if (self.checkPortfolioType(self.loanData) === true && self.PurposeId != "custom") {
                        var value = parseFloat(self.Principal) + parseFloat(self.Interest) + parseFloat(self.AdditionalInterest) + parseFloat(self.PriorInterest) + parseFloat(self.fees) + parseFloat(self.excessPayment);
                        if (!_.isNaN(value)) {
                            self.PaymentAmount = parseFloat(value).toFixed(2);
                        }
                    }
                    else {
                        if (self.PaymentAmount != undefined && self.PaymentAmount != "" && self.PaymentAmount != null) {
                            self.PaymentAmount = parseFloat(self.PaymentAmount).toFixed(2);
                        }
                    }
                },
                _onPurposeChange: function (event) {
                    var self = this;
                    self.clearField();
                    var selectedValues = event.target.value;
                    if (selectedValues != "custom") {
                        self.set("isReadonly", true);
                        $("#mcaCustom").show();
                    }
                    else {
                        self.set("isReadonly", false);
                        if (self.checkPortfolioType(self.loanData) === false) {
                            $("#mcaCustom").hide();
                        }
                        else {
                            $("#mcaCustom").show();
                        }
                    }
                },
                _onTypeChange: function (event) {
                    var self = this;
                    var selectedValues = event.target.value;
                    self.clearField();
                    if (selectedValues === "Cash") {
                        self.PaymentScheduleDate = "";
                        $('#BankDetails').hide();
                        $('#CheckDetails').hide();
                        self.BankAccountNumber = "";
                        self.bankAccountTypeId = "";
                        self.BankRTN = "";
                        self.BorrowersName = "";
                    }
                    else if (selectedValues === "Check") {
                        self.PaymentScheduleDate = "";
                        $('#BankDetails').show();
                        $('#CheckDetails').show();
                        self.BankAccountNumber = "";
                        self.bankAccountTypeId = "";
                        self.BankRTN = "";
                        self.BorrowersName = "";
                    }
                    else if (selectedValues === "Ach") {
                        self.setBank();
                    }
                },
                clearField: function () {
                    var self = this;
                    self.PaymentAmount = "";
                    self.Principal = "";
                    self.Interest = "";
                    self.AdditionalInterest = "";
                    self.PriorInterest = "";
                    self.fees = "";
                    self.excessPayment = "";
                    self.set("AppliedFees", []);
                    self.set("AppliedFees", []);
                    self.set("selectedFees", []);
                },
                setBank: function () {
                    var self = this;
                    self.PaymentScheduleDate = self.formatDate(new Date());
                    $('#BankDetails').show();
                    $('#CheckDetails').hide();
                    var ActiveBank = _.find(self.bankList, ["isActive", true]);
                    self.BankAccountNumber = ActiveBank.accountNumber;
                    self.bankAccountTypeId = ActiveBank.accountType;
                    self.BankRTN = ActiveBank.routingNumber;
                    self.BorrowersName = ActiveBank.bankHolderName;
                },
                _verifyForm: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    var paymentProcessor = window.config.services.paymentProcessor;
                    if (form.validate()) {
                        var url = "/loan/" + self.applicationNumber + "/manual/payment";
                        if (self.PaymentTypeId == "Cash") {
                            var Amount = parseFloat(self.PaymentAmount);
                            if (self.checkPortfolioType(self.loanData) === false && self.PurposeId == "custom") {
                                Amount = parseFloat(Amount).toFixed(2);
                            }
                            else if (self.PurposeId == "custom") {
                                var value = parseFloat(self.Principal) + parseFloat(self.Interest) + parseFloat(self.AdditionalInterest) + parseFloat(self.PriorInterest) + parseFloat(self.fees) + parseFloat(self.excessPayment);
                                Amount = parseFloat(value).toFixed(2);
                            }
                            var payload = {};
                            if (self.PurposeId == "custom") {
                                payload = {
                                    PaymentType: "Manual",
                                    PaymentInstrumentType: self.PaymentTypeId,
                                    RequestedDate: self.formatDate(new Date()),
                                    PaymentPurpose: self.PurposeId,
                                    PaymentAmount: parseFloat(Amount),
                                    PrincipalAmount: parseFloat(self.Principal),
                                    InterestAmount: parseFloat(self.Interest),
                                    AdditionalInterestAmount: parseFloat(self.AdditionalInterest),
                                    PriorInterest: parseFloat(self.PriorInterest),
                                    Fees: self.getFeesObject(),
                                    PaymentScheduleDate: self.formatDate(self.PaymentScheduleDate),
                                    TransactionType: "Credit"
                                };
                            }
                            else {
                                payload = {
                                    PaymentType: "Manual",
                                    PaymentInstrumentType: self.PaymentTypeId,
                                    RequestedDate: self.formatDate(new Date()),
                                    PaymentPurpose: self.PurposeId,
                                    PaymentAmount: parseFloat(Amount),
                                    PaymentScheduleDate: self.formatDate(self.PaymentScheduleDate),
                                    TransactionType: "Credit"
                                };
                            }
                            if (self.checkPortfolioType(self.loanData) === false && self.PurposeId == "custom" && (Amount < parseFloat(self.fees))) {
                                var strMessage = "Payment amount should be more than fees amount.";
                                self.$.messagemp.showMessage(strMessage, "ERROR", self.$$('#MessageContainer'));
                                return;
                            }
                            else if (self.checkPortfolioType(self.loanData) === true && self.PurposeId == "custom") {
                                var paymentAmount = parseFloat(self.PaymentAmount);
                                var sumValue = parseFloat(self.Principal) + parseFloat(self.Interest) + parseFloat(self.AdditionalInterest) + parseFloat(self.PriorInterest) + parseFloat(self.fees) + parseFloat(self.excessPayment);
                                if (paymentAmount !== sumValue) {
                                    var strMessage = "Total Amount is not matching with Payment amount.";
                                    self.$.messagemp.showMessage(strMessage, "ERROR", self.$$('#MessageContainer'));
                                    return;
                                }
                            }

                            self.$.httpmp.post(url, payload, paymentProcessor, true).then(function (data) {
                                self.raiseAppRefreshEvent(e);
                            }).fail(function (e) {
                                var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                                self.$.messagemp.showMessage(strMessage, "ERROR", self.$$('#MessageContainer'));
                            });
                        }
                        else if (self.PaymentTypeId == "Check") {
                            if (self.PaymentScheduleDate != "" && self.BankAccountNumber != "" && self.bankAccountTypeId != "" && self.BankRTN != "" && self.BorrowersName != "" && self.CheckNo != "" && self.MICR != "") {
                                var Amount = parseFloat(self.PaymentAmount);
                                if (self.checkPortfolioType(self.loanData) === false && self.PurposeId == "custom") {
                                    Amount = parseFloat(Amount).toFixed(2);
                                }
                                else if (self.PurposeId == "custom") {
                                    var value = parseFloat(self.Principal) + parseFloat(self.Interest) + parseFloat(self.AdditionalInterest) + parseFloat(self.PriorInterest) + parseFloat(self.fees) + parseFloat(self.excessPayment);
                                    Amount = parseFloat(value).toFixed(2);
                                }
                                var payload = {};
                                if (self.PurposeId == "custom") {
                                    payload = {
                                        PaymentType: "Manual",
                                        PaymentInstrumentType: self.PaymentTypeId,
                                        RequestedDate: self.formatDate(new Date()),
                                        PaymentPurpose: self.PurposeId,
                                        PaymentAmount: parseFloat(Amount),
                                        PrincipalAmount: parseFloat(self.Principal),
                                        InterestAmount: parseFloat(self.Interest),
                                        AdditionalInterestAmount: parseFloat(self.AdditionalInterest),
                                        PriorInterest: parseFloat(self.PriorInterest),
                                        Fees: self.getFeesObject(),
                                        PaymentScheduleDate: self.formatDate(self.PaymentScheduleDate),
                                        BankAccountNumber: self.BankAccountNumber,
                                        BankAccountType: self.bankAccountTypeId,
                                        BankRTN: self.BankRTN,
                                        BorrowersName: self.BorrowersName,
                                        CheckNo: self.CheckNo,
                                        MICR: self.MICR,
                                        CheckDate: self.formatDate(new Date()),
                                        TransactionType: "Credit"
                                    };
                                }
                                else {
                                    payload = {
                                        PaymentType: "Manual",
                                        PaymentInstrumentType: self.PaymentTypeId,
                                        RequestedDate: self.formatDate(new Date()),
                                        PaymentPurpose: self.PurposeId,
                                        PaymentAmount: parseFloat(Amount),
                                        PaymentScheduleDate: self.formatDate(self.PaymentScheduleDate),
                                        BankAccountNumber: self.BankAccountNumber,
                                        BankAccountType: self.bankAccountTypeId,
                                        BankRTN: self.BankRTN,
                                        BorrowersName: self.BorrowersName,
                                        CheckNo: self.CheckNo,
                                        MICR: self.MICR,
                                        CheckDate: self.formatDate(new Date()),
                                        TransactionType: "Credit"
                                    };
                                }
                                if (self.checkPortfolioType(self.loanData) === false && self.PurposeId == "custom" && (Amount < parseFloat(self.fees))) {
                                    var strMessage = "Payment amount should be more than fees amount.";
                                    self.$.messagemp.showMessage(strMessage, "ERROR", self.$$('#MessageContainer'));
                                    return;
                                }
                                else if (self.checkPortfolioType(self.loanData) === true && self.PurposeId == "custom") {
                                    var paymentAmount = parseFloat(self.PaymentAmount);
                                    var sumValue = parseFloat(self.Principal) + parseFloat(self.Interest) + parseFloat(self.AdditionalInterest) + parseFloat(self.PriorInterest) + parseFloat(self.fees) + parseFloat(self.excessPayment);
                                    if (paymentAmount !== sumValue) {
                                        var strMessage = "Total Amount is not matching with Payment amount.";
                                        self.$.messagemp.showMessage(strMessage, "ERROR", self.$$('#MessageContainer'));
                                        return;
                                    }
                                }

                                self.$.httpmp.post(url, payload, paymentProcessor, true).then(function (data) {
                                    self.raiseAppRefreshEvent(e);
                                }).fail(function (e) {
                                    var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                                    self.$.messagemp.showMessage(strMessage, "ERROR", self.$$('#MessageContainer'));
                                });
                            }
                            else {
                                var strMessage = "All Fields are required";
                                self.$.messagemp.showMessage(strMessage, "ERROR", self.$$('#MessageContainer'));
                            }
                        }
                        else if (self.PaymentTypeId == "Ach") {
                            if (self.PaymentScheduleDate != "" && self.BankAccountNumber != "" && self.bankAccountTypeId != "" && self.BankRTN != "" && self.BorrowersName != "") {
                                var url = "/loan/" + self.applicationNumber + "/add";
                                var Amount = parseFloat(self.PaymentAmount);
                                if (self.checkPortfolioType(self.loanData) === false && self.PurposeId == "custom") {
                                    Amount = parseFloat(Amount).toFixed(2);
                                }
                                else if (self.PurposeId == "custom") {
                                    var value = parseFloat(self.Principal) + parseFloat(self.Interest) + parseFloat(self.AdditionalInterest) + parseFloat(self.PriorInterest) + parseFloat(self.fees) + parseFloat(self.excessPayment);
                                    Amount = parseFloat(value).toFixed(2);
                                }
                                var payload = {};
                                if (self.PurposeId == "custom") {
                                    payload = {
                                        PrincipalAmount: parseFloat(self.Principal),
                                        InterestAmount: parseFloat(self.Interest),
                                        Fees: self.getFeesObject(),
                                        AdditionalInterestAmount: parseFloat(self.AdditionalInterest),
                                        PriorInterest: parseFloat(self.PriorInterest),
                                        PaymentType: "Additional",
                                        PaymentInstrumentType: "Ach",
                                        RequestedDate: self.formatDate(new Date()),
                                        PaymentPurpose: self.PurposeId,
                                        PaymentAmount: parseFloat(Amount),
                                        PaymentScheduleDate: self.formatDate(self.PaymentScheduleDate),
                                        BankAccountNumber: self.BankAccountNumber,
                                        BankAccountType: self.bankAccountTypeId,
                                        BankRTN: self.BankRTN,
                                        BorrowersName: self.BorrowersName,
                                        PaymentRail: "ACH",
                                        TransactionType: "Credit"
                                    };
                                }
                                else {
                                    payload = {
                                        PaymentType: "Additional",
                                        PaymentInstrumentType: "Ach",
                                        RequestedDate: self.formatDate(new Date()),
                                        PaymentPurpose: self.PurposeId,
                                        PaymentAmount: parseFloat(Amount),
                                        PaymentScheduleDate: self.formatDate(self.PaymentScheduleDate),
                                        BankAccountNumber: self.BankAccountNumber,
                                        BankAccountType: self.bankAccountTypeId,
                                        BankRTN: self.BankRTN,
                                        BorrowersName: self.BorrowersName,
                                        PaymentRail: "ACH",
                                        TransactionType: "Credit"
                                    };
                                }
                                if (self.checkPortfolioType(self.loanData) === false && self.PurposeId == "custom" && (Amount < parseFloat(self.fees))) {
                                    var strMessage = "Payment amount should be more than fees amount.";
                                    self.$.messagemp.showMessage(strMessage, "ERROR", self.$$('#MessageContainer'));
                                    return;
                                }
                                else if (self.checkPortfolioType(self.loanData) === true && self.PurposeId == "custom") {
                                    var paymentAmount = parseFloat(self.PaymentAmount);
                                    var sumValue = parseFloat(self.Principal) + parseFloat(self.Interest) + parseFloat(self.AdditionalInterest) + parseFloat(self.PriorInterest) + parseFloat(self.fees) + parseFloat(self.excessPayment);
                                    if (paymentAmount !== sumValue) {
                                        var strMessage = "Total Amount is not matching with Payment amount.";
                                        self.$.messagemp.showMessage(strMessage, "ERROR", self.$$('#MessageContainer'));
                                        return;
                                    }
                                }

                                self.$.httpmp.post(url, payload, paymentProcessor, true).then(function (data) {
                                    self.raiseAppRefreshEvent(e);
                                }).fail(function (e) {
                                    var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                                    self.$.messagemp.showMessage(strMessage, "ERROR", self.$$('#MessageContainer'));
                                });
                            }
                            else {
                                var strMessage = "All Fields are required";
                                self.$.messagemp.showMessage(strMessage, "ERROR", self.$$('#MessageContainer'));
                            }
                        }
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utilitymp.raiseEvent(this.fireEvent, {
                        ActionName: 'MakePayment',
                        EventData: event,
                        CompnentName: 'manual-payment'
                    });
                },
                formatDate: function (date) {
                    return moment.tz(date, window.config.timezone).format("YYYY-MM-DD");
                },
                init: function () {
                    var self = this;
                    self.PaymentType = [
                        { key: 'Cash', value: 'Cash' },
                        { key: 'Check', value: 'Check' },
                        { key: 'ACH', value: 'Ach' }
                    ];
                    self.PaymentTypeId = "Cash";
                    var paymentPurpose = self.$.lookupmp.getLookupBasedOnName("payment-purpose");
                    self.set('purposeList', paymentPurpose);
                    if (self.hasRole('RestrictPastDate')) {
                        self.paymentDateMin = self.setCurrentDate();
                        self.paymentDateMax = self.setMaxDate();
                    }
                    else {
                        self.paymentDateMin = moment().format('YYYY-MM-DD');
                        self.paymentDateMax = self.setMaxDate();
                    }
                    if (self.checkPortfolioType(self.loanData)) {
                        self.interestLabel = "Interest";
                    }
                    else {
                        self.interestLabel = "Finance Charge";
                    }
                },
                setMaxDate: function () {
                    var self = this;
                    var someDate = new Date();
                    var calanderDays = self.$.configmp.getConfigurationBasedOnKey("calanderDays");
                    var numberOfDaysToAdd = calanderDays;
                    someDate.setDate(someDate.getDate() + numberOfDaysToAdd);
                    return moment(someDate).format('YYYY-MM-DD');
                },
                setCurrentDate: function () {
                    var self = this;
                    var someDate = new Date();
                    var calanderDays = self.$.configmp.getConfigurationBasedOnKey("calanderDays");
                    var numberOfDaysToAdd = calanderDays;
                    someDate.setDate(someDate.getDate() - numberOfDaysToAdd);
                    return moment(someDate).format('YYYY-MM-DD');
                },
                getEstimate: function () {
                    var self = this;
                    self.set('feesDesabled', false);
                    if (self.PurposeId != undefined && self.PurposeId != null && self.PurposeId != "" && self.PurposeId !== "custom") {
                        self.set("isReadonly", true);
                        self.set('feesDesabled', true);
                        var url = "/" + self.applicationNumber + "/" + self.PaymentAmount + "/" + self.PurposeId + "/estimate";
                        self.$.httpmp.get(url, window.config.services.accountingService, true).then(function (data) {
                            if (data) {
                                self.estimateObj = data;
                                self.Principal = parseFloat(data.principal).toFixed(2);
                                self.Interest = parseFloat(data.interest).toFixed(2);
                                self.fees = parseFloat(self.getFeesTotal(data.fees)).toFixed(2);
                                self.AdditionalInterest = parseFloat(data.additionalInterest).toFixed(2);
                                self.PriorInterest = parseFloat(data.priorInterest).toFixed(2);
                                self.excessPayment = parseFloat(data.excessAmount).toFixed(2);
                                self.generateCheckGroup();
                            }
                        }).fail(function (e) {
                            console.error("Filter error is ", e);
                        });
                    }
                    else if (self.PurposeId != undefined && self.PurposeId != null && self.PurposeId != "") {
                        self.set("isReadonly", false);
                        self.getCustomFees(self.PaymentAmount);
                    }
                },
                getFeesTotal: function (fees) {
                    var Totalfees = 0;
                    if (fees != undefined && fees != "" && fees != null) {
                        Totalfees = _.sumBy(fees, function (obj) {
                            if (obj.isPaid === false) {
                                return obj.feeAmount;
                            }
                        });
                    }
                    return (Totalfees === undefined) ? 0 : Totalfees;
                },
                getFeesObject: function () {
                    var self = this;
                    var feesObj = [];
                    if (self.estimateObj != undefined && self.estimateObj != null && self.estimateObj.fees != undefined && self.estimateObj.fees != "" && self.estimateObj.fees != null) {
                        for (var i = 0; i < self.estimateObj.fees.length; i++) {
                            if (self.estimateObj.fees[i].isPaid === false && self.selectedFees != "" && self.selectedFees != undefined) {
                                for (var j = 0; j < self.AppliedFeesId.length; j++) {
                                    if (self.selectedFees.toString().indexOf(self.AppliedFeesId[j].key) !== -1) {
                                        var findOBJ = self._getFeesId(feesObj, "id", self.AppliedFeesId[j].value);
                                        if (findOBJ == undefined) {
                                            feesObj.push({
                                                FeeAmount: self.AppliedFeesId[j].feeAmount,
                                                FeeType: self.AppliedFeesId[j].feeType,
                                                FeeName: self.AppliedFeesId[j].feeName,
                                                id: self.AppliedFeesId[j].value
                                            });
                                        }
                                    }
                                }
                            }
                        }
                    }
                    return feesObj;
                },
                _getFeesId: function (array, propName, borrowerID) {
                    var Obj = array.filter(function (e) {
                        return e[propName] === borrowerID;
                    })[0];
                    return Obj || undefined;
                },
                getCustomFees: function (PaymentAmount) {
                    var self = this;
                    var Url = "/" + self.applicationNumber + "/fees";
                    self.$.httpmp.get(Url, window.config.services.accountingService).then(function (data) {
                        if (data) {
                            self.estimateObj = {};
                            self.estimateObj.fees = data;
                            self.fees = parseFloat(self.getFeesTotal(data)).toFixed(2);
                            self.Principal = parseFloat(0).toFixed(2);
                            self.Interest = parseFloat(0).toFixed(2);
                            self.AdditionalInterest = parseFloat(0).toFixed(2);
                            self.PriorInterest = parseFloat(0).toFixed(2);
                            self.excessPayment = parseFloat(0).toFixed(2);
                            self.generateCheckGroup();
                        }
                    }).fail(function (e) {
                        console.error("Get Custom fees error is ", e);
                    });
                },
                hasRole: function (compName) {
                    return this.$.authorizemp.hasRole(compName);
                },
                generateCheckGroup: function () {
                    var self = this;
                    var feesObj = [];
                    var feesObjNew = [];
                    self.set("AppliedFees", []);
                    self.set("AppliedFeesId", []);
                    if (self.estimateObj != undefined && self.estimateObj != null && self.estimateObj.fees != undefined && self.estimateObj.fees != "" && self.estimateObj.fees != null) {
                        for (var i = 0; i < self.estimateObj.fees.length; i++) {
                            if (self.estimateObj.fees[i].isPaid === false) {
                                feesObj.push(self.estimateObj.fees[i].feeName + "-" + self.estimateObj.fees[i].feeAmount + "- " + (i + 1));
                                feesObjNew.push({
                                    key: self.estimateObj.fees[i].feeName + "-" + self.estimateObj.fees[i].feeAmount + "- " + (i + 1),
                                    value: self.estimateObj.fees[i].id,
                                    feeAmount: self.estimateObj.fees[i].feeAmount,
                                    feeType: self.estimateObj.fees[i].feeType,
                                    feeName: self.estimateObj.fees[i].feeName
                                });
                            }
                        }
                        self.set("AppliedFees", feesObj);
                        self.set("AppliedFeesId", feesObjNew);
                        self.set("selectedFees", feesObj);
                    }
                },
                feesChanged: function () {
                    var self = this;
                    var sum = 0;
                    if (self.selectedFees != undefined && self.selectedFees != null && self.selectedFees != "") {
                        self.selectedFees.forEach(function (element) {
                            var FeesAmount = element.substring(element.indexOf('-') + 1, element.lastIndexOf('-'));
                            sum = parseFloat(sum) + parseFloat(FeesAmount);
                        });
                    }
                    self.set('fees', sum);
                },
                checkHoliday: function () {
                    var self = this;
                    var allowHolidayAsPaymentDate = self.$.configmp.getConfigurationBasedOnKey("allowHolidayAsPaymentDate");
                    if (allowHolidayAsPaymentDate) {
                        var weekday = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
                        if (self.PaymentScheduleDate != undefined && self.PaymentScheduleDate != null && self.PaymentScheduleDate != "") {
                            var selectedDate = new Date(self.PaymentScheduleDate);
                            var holidayCalendar = JSON.parse(self.$.sessionmp.get("holidayCalendar"));
                            var CheckDayList = holidayCalendar[weekday[selectedDate.getDay()]];
                            var CheckDateList = holidayCalendar[self.PaymentScheduleDate];
                            if (CheckDayList != undefined && CheckDayList != null && CheckDayList != "") {
                                self.set('PaymentScheduleDate', "");
                                self.$.messagemp.showMessage("Please select bank working day", "ERROR", self.$$('#MessageContainer'));
                            }
                            else if (CheckDateList != undefined && CheckDateList != null && CheckDateList != "") {
                                self.set('PaymentScheduleDate', "");
                                self.$.messagemp.showMessage("Please select bank working day", "ERROR", self.$$('#MessageContainer'));
                            }
                        }
                    }
                },
                checkPortfolioType: function (objType) {
                    var self = this;
                    if (self.loanData && self.loanData.productPortfolioType != "MCA" && self.loanData.productPortfolioType != "MCALOC") {
                        return true;
                    }
                    return false;
                },
                checkPriorIneterest: function (objType, scheduleList) {
                    var self = this;
                    if (self.scheduleList !== undefined) {
                        var activeLoanMod = _.find(self.scheduleList, ["modStatus", "Active"]);
                        if (self.loanData && self.loanData.productPortfolioType !== "MCA" && self.loanData.productPortfolioType !== "MCALOC" && activeLoanMod !== undefined) {
                            return true;
                        }
                        else {
                            return false;
                        }
                    }
                    return false;

                },
                getCurrencySymbol: function () {
                    var self = this;
                    return formats.currencySymbol(window.config.country) + " prefixSign";
                }
            });
        });
    </script>
</dom-module>