<dom-module id="modify-schedule">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .set-vertical-height {
                height: 500px;
                overflow-y: scroll;
            }
        </style>
        <div class="row">
            <div class="col-md-12 set-vertical-height">
                <form is="iron-form" class="form-horizontal" name="modifyschedule">
                    <dynamic-form form-configuration={{modifyScheduleObj}} values="{{modifyScheduleObj.values}}"></dynamic-form>
                    <br/>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                    <div id="MessageContainerSchedule"></div>
                </form>
            </div>
        </div>
        <url-parser id="urlms"></url-parser>
        <http-request id="httpms"></http-request>
        <utility-service id="utilityms"></utility-service>
        <message-component id="messagems"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "modify-schedule",
                properties: {
                    loanData: {
                        type: Object,
                        notify: true,
                        observer: "SetVisibility"
                    },
                    currentSchedule: {
                        type: Object,
                        notify: true
                    },
                    modifyScheduleObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                loanAmount: {
                                    label: "Loan Amount",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        pattern: 'DECIMAL',
                                        minLen: 1,
                                        maxLen: 10
                                    }
                                },
                                fundedAmount: {
                                    label: "Funded Amount",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        pattern: 'DECIMAL',
                                        minLen: 1,
                                        maxLen: 10
                                    }
                                },
                                fundedDate: {
                                    label: "Funded Date",
                                    title: "Requested Date",
                                    type: "date",
                                    format: "MM/DD/YYYY",
                                    validations: {
                                        required: true
                                    }
                                },
                                firstPaymentDate: {
                                    label: "First Payment Date",
                                    title: "Requested Date",
                                    type: "date",
                                    format: "MM/DD/YYYY",
                                    validations: {
                                        required: true
                                    }
                                },
                                tenure: {
                                    label: "Tenure",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 0,
                                        maxLen: 60
                                    }
                                },
                                paymentFrequency: {
                                    label: "Payment Frequency",
                                    type: "combobox",
                                    selectList: [
                                        { key: 'Daily', value: 'Daily' },
                                        { key: 'Monthly', value: 'Monthly' }
                                    ],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                paymentFrequencyRate: {
                                    label: "Rate Per Payment Frequency",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        pattern: 'RATE',
                                        minLen: 1,
                                        maxLen: 10
                                    }
                                },
                                dailyRate: {
                                    label: "Daily Rate",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        pattern: 'RATE',
                                        minLen: 1,
                                        maxLen: 10
                                    }
                                },
                                annualRate: {
                                    label: "Annual Rate",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        pattern: 'RATE',
                                        minLen: 1,
                                        maxLen: 10
                                    }
                                },
                                factorRate: {
                                    label: "Factor Rate",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        pattern: 'RATE',
                                        minLen: 1,
                                        maxLen: 10
                                    }
                                },
                                creditLimit: {
                                    label: "Credit Limit",
                                    type: "number",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        pattern: 'DECIMAL',
                                        minLen: 1,
                                        maxLen: 10
                                    }
                                },
                                totalDrawDown: {
                                    label: "Total DrawDown",
                                    type: "number",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 1,
                                        maxLen: 10
                                    }
                                }
                            },
                            values: {
                                loanAmount: "",
                                fundedAmount: "",
                                fundedDate: "",
                                firstPaymentDate: "",
                                tenure: "",
                                paymentFrequency: "",
                                paymentFrequencyRate: "",
                                dailyRate: "",
                                annualRate: "",
                                factorRate: "",
                                creditLimit: "",
                                totalDrawDown: ""
                            }
                        }
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utilityms.raiseEvent(this.fireEvent, {
                        ActionName: 'ModifySchedule',
                        EventData: event,
                        CompnentName: 'modify-schedule'
                    });
                },
                init: function () {
                    this.prefillScheduleData();
                },
                prefillScheduleData: function () {
                    var self = this;
                    if (self.currentSchedule) {
                        var modifyScheduleObj = _.cloneDeep(self.modifyScheduleObj);
                        modifyScheduleObj.values.loanAmount = self.currentSchedule.loanAmount;
                        modifyScheduleObj.values.fundedAmount = self.currentSchedule.fundedAmount;
                        modifyScheduleObj.values.fundedDate = self.formatDate(self.currentSchedule.fundedDate.time);
                        modifyScheduleObj.values.firstPaymentDate = self.formatDate(self.currentSchedule.firstPaymentDate.time);
                        modifyScheduleObj.values.tenure = self.currentSchedule.tenure;
                        modifyScheduleObj.values.paymentFrequency = self.currentSchedule.paymentFrequency;
                        modifyScheduleObj.values.paymentFrequencyRate = self.currentSchedule.paymentFrequencyRate;
                        modifyScheduleObj.values.dailyRate = self.currentSchedule.dailyRate;
                        modifyScheduleObj.values.annualRate = self.currentSchedule.annualRate;
                        modifyScheduleObj.values.factorRate = self.currentSchedule.factorRate;
                        modifyScheduleObj.values.creditLimit = self.currentSchedule.creditLimit;
                        modifyScheduleObj.values.totalDrawDown = self.currentSchedule.totalDrawDown;
                        self.set('modifyScheduleObj', modifyScheduleObj);
                    }
                },
                SetVisibility: function () {
                    var self = this;
                    if (self.loanData && self.loanData.productPortfolioType != "MCA") {
                        $("input[name*='AnnualRate']").parent().parent().parent().show();
                        $("input[name*='factorRate']").parent().parent().parent().hide();
                    }
                    else {
                        $("input[name*='AnnualRate']").parent().parent().parent().hide();
                        $("input[name*='factorRate']").parent().parent().parent().show();
                    }
                    if (self.loanData && self.loanData.productPortfolioType === "LineOfCredit" || self.loanData.productPortfolioType === "MCALOC") {
                        $("input[name*='creditLimit']").parent().parent().parent().show();
                        $("input[name*='totalDrawDown']").parent().parent().parent().show();
                    }
                    else {
                        $("input[name*='creditLimit']").parent().parent().parent().hide();
                        $("input[name*='totalDrawDown']").parent().parent().parent().hide();
                    }
                },
                formatDate: function (date) {
                    return moment.tz(date, window.config.timezone).format("YYYY-MM-DD");
                },
                _verifyForm: function (event) {
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    if (form.validate()) {
                        if (self.loanData.productPortfolioType === "LineOfCredit" && self.modifyScheduleObj.values.creditLimit == "" && self.modifyScheduleObj.values.totalDrawDown == "") {
                            self.$.messagems.showMessage("All Fields are required", "ERROR", self.$$('#MessageContainerSchedule'));
                        }
                        else if (self.loanData.productPortfolioType != "MCA" && self.modifyScheduleObj.values.annualRate == "") {
                            self.$.messagems.showMessage("All Fields are required", "ERROR", self.$$('#MessageContainerSchedule'));
                        }
                        else if (self.loanData.productPortfolioType === "MCA" && self.modifyScheduleObj.values.factorRate == "") {
                            self.$.messagems.showMessage("All Fields are required", "ERROR", self.$$('#MessageContainerSchedule'));
                        }
                        else {
                            var payload = {
                                LoanNumber: self.currentSchedule.loanNumber,
                                ScheduleVersionNo: self.currentSchedule.scheduleVersionNo,
                                ScheduledCreatedReason: self.currentSchedule.scheduledCreatedReason,
                                ScheduleNotes: self.currentSchedule.scheduleNotes,
                                LoanAmount: self.modifyScheduleObj.values.loanAmount,
                                FundedAmount: self.modifyScheduleObj.values.fundedAmount,
                                FundedDate: self.modifyScheduleObj.values.fundedDate,
                                FirstPaymentDate: self.modifyScheduleObj.values.firstPaymentDate,
                                DailyRate: self.modifyScheduleObj.values.dailyRate,
                                PaymentFrequency: self.modifyScheduleObj.values.paymentFrequency,
                                AnnualRate: self.modifyScheduleObj.values.annualRate,
                                PaymentFrequencyRate: self.modifyScheduleObj.values.paymentFrequencyRate,
                                Tenure: self.modifyScheduleObj.values.tenure,
                                FactorRate: self.modifyScheduleObj.values.factorRate,
                                CreditLimit: self.modifyScheduleObj.values.creditLimit,
                                TotalDrawDown: self.modifyScheduleObj.values.totalDrawDown
                            };
                            var lmsService = window.config.services.lmsService;
                            var url = "/schedule/" + self.applicationNumber + "/" + self.currentSchedule.id;
                            self.$.httpms.put(url, payload, lmsService, true).then(function (data) {
                                self.raiseAppRefreshEvent(event);
                            }).fail(function (e) {
                                var response = e.responseJSON;
                                if (response) {
                                    self.$.messagems.showMessage(response.message, "ERROR", self.$$('#MessageContainerSchedule'));
                                }
                                else {
                                    self.$.messagems.showMessage("Update Schedule error ", "ERROR", self.$$('#MessageContainerSchedule'));
                                }
                            });
                        }
                    }
                }
            });
        });
    </script>
</dom-module>