<dom-module id="pause-accrual">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }
        </style>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="pauseAccrual">
                    <template is="dom-if" if="{{checkPortfolioType(loanData)}}">
                        <template is="dom-if" if="{{!pauseAccrual(currentEconomicsData.accrualStop)}}">
                            <div class="row">
                                <div class="panel-left col-md-12">
                                    <span>Pause/Re-Start Accrual</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="panel-left col-md-12">
                                    <vaadin-date-picker class="custom-input" id="PausedFrom" i18n="[[i18n]]" label="Paused From" format="{{_getFormat(item.value)}}"
                                        value={{PausedFrom}}></vaadin-date-picker>
                                </div>
                            </div>
                        </template>
                        <template is="dom-if" if="{{pauseAccrual(currentEconomicsData.accrualStop)}}">
                            <div class="row">
                                <div class="panel-left col-md-12">
                                    <vaadin-date-picker class="custom-input" id="PausedSince" i18n="[[i18n]]" label="Paused Since" format="{{_getFormat(item.value)}}"
                                        value={{PausedSince}}></vaadin-date-picker>
                                </div>
                            </div>
                            <div class="row">
                                <div class="panel-left col-md-12">
                                    <vaadin-date-picker class="custom-input" id="StartFrom" i18n="[[i18n]]" label="Start From" format="{{_getFormat(item.value)}}"
                                        value={{StartFrom}}></vaadin-date-picker>
                                </div>
                            </div>
                        </template>
                        <div class="row">
                            <div class="panel-left col-md-12">
                                <br>
                                <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="panel-left col-md-12">
                                <hr>
                            </div>
                        </div>
                    </template>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <span>Pause/Re-Start Payment</span>
                        </div>
                    </div>
                    <template is="dom-if" if="{{pauseAutoPayment(loanData.isAutoPay)}}">
                        <div class="row">
                            <div class="panel-left col-md-12">
                                <vaadin-date-picker class="custom-input" id="StopAutoPayment" i18n="[[i18n]]" label="Paused From" format="{{_getFormat(item.value)}}"
                                    value={{PaymentPausedFrom}}></vaadin-date-picker>
                            </div>
                        </div>
                    </template>
                    <template is="dom-if" if="{{!pauseAutoPayment(loanData.isAutoPay)}}">
                        <div class="row">
                            <div class="panel-left col-md-12">
                                <vaadin-date-picker class="custom-input" id="StropSince" i18n="[[i18n]]" label="Paused Since" format="{{_getFormat(item.value)}}"
                                    value={{PaymentPausedSince}}></vaadin-date-picker>
                            </div>
                        </div>
                        <div class="row">
                            <div class="panel-left col-md-12">
                                <vaadin-date-picker class="custom-input" id="StartFromAutoPayment" i18n="[[i18n]]" label="Start From" format="{{_getFormat(item.value)}}"
                                    value={{PaymentStartFrom}}></vaadin-date-picker>
                            </div>
                        </div>
                    </template>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <br>
                            <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyFormPayment" raised>Submit</paper-button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="MessageContainer"></div>
        </div>
        <url-parser id="urlpa"></url-parser>
        <http-request id="httppa"></http-request>
        <utility-service id="utilitypa"></utility-service>
        <message-component id="messagepa"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "pause-accrual",
                properties: {
                    currentEconomicsData: {
                        type: Object,
                        notify: true
                    },
                    PausedFrom: {
                        type: Date,
                        notify: true
                    },
                    PausedSince: {
                        type: Date,
                        notify: true
                    },
                    StartFrom: {
                        type: Date,
                        notify: true
                    },
                    PaymentPausedFrom: {
                        type: Date,
                        notify: true
                    },
                    PaymentPausedSince: {
                        type: Date,
                        notify: true
                    },
                    PaymentStartFrom: {
                        type: Date,
                        notify: true
                    },
                    VerisonNumber: {
                        type: String,
                        notify: true
                    },
                    loanNumber: {
                        type: String,
                        notify: true
                    },
                    i18n: {
                        type: Object,
                        notify: true,
                        value: {
                            monthNames: moment.months(),
                            weekdays: moment.weekdays(),
                            weekdaysShort: moment.weekdaysShort(),
                            firstDayOfWeek: moment.localeData().firstDayOfWeek(),
                            week: 'Week',
                            calendar: 'Calendar',
                            clear: 'Clear',
                            today: 'Today',
                            cancel: 'Cancel',
                            formatDate: function (d) {
                                return moment(d).format("MM/DD/YYYY");
                            },
                            parseDate: function (s) {
                                return moment(s, "MM/DD/YYYY").toDate();
                            },
                            formatTitle: function (monthName, fullYear) {
                                return monthName + ' ' + fullYear;
                            }
                        }
                    },
                    loanData: {
                        type: Object,
                        notify: true,
                        observer: "getCurrentVersion"
                    }
                },
                init: function () {
                    this.processEconomicsData();
                },
                processEconomicsData: function () {
                    var self = this;
                    if (self.currentEconomicsData) {
                        var data = self.currentEconomicsData;
                        self.VerisonNumber = data.scheduleVersion;
                        if (data.accrualStop != undefined && data.accrualStop != null && data.accrualStop === true) {
                            self.set('PausedSince', moment(data.accrualStopDate).format("YYYY-MM-DD"));
                        }
                    }
                },
                pauseAccrual: function (obj) {
                    if (obj != undefined && obj === true) {
                        return true;
                    }
                    else {
                        return false;
                    }
                },
                pauseAutoPayment: function (obj) {
                    if (obj != undefined && obj === true) {
                        return true;
                    }
                    else {
                        return false;
                    }
                },
                getCurrentVersion: function () {
                    var self = this;
                    if (self.loanData && self.loanData.isAutoPay === false) {
                        self.PaymentPausedSince = moment(self.loanData.autoPayStopDate.time).format("YYYY-MM-DD");
                    }
                },
                _verifyForm: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    var accountingService = window.config.services.accountingService;
                    if (self.currentEconomicsData.accrualStop == true) {
                        if (self.StartFrom != null && self.StartFrom != "" && self.StartFrom != undefined) {
                            var url = "/" + self.applicationNumber + "/" + self.VerisonNumber + "/start/accrual";
                            var payload = {
                                ProcessingDate: self.formatDate(self.StartFrom),
                                IsAccrual: true
                            };
                            self.$.httppa.post(url, payload, accountingService, true).then(function (data) {
                                self.raiseAppRefreshEvent(e);
                            }).fail(function (e) {
                                var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                                self.$.messagepa.showMessage(strMessage, "ERROR", self.$$('#MessageContainer'));
                            });
                        }
                        else {
                            var strMessage = "All Fields are required " + e.responseJSON.message;
                            self.$.messagepa.showMessage(strMessage, "ERROR", self.$$('#MessageContainer'));
                        }
                    }
                    else {
                        if (self.PausedFrom != null && self.PausedFrom != "" && self.PausedFrom != undefined) {
                            var url = "/" + self.applicationNumber + "/" + self.VerisonNumber + "/stop/accrual";
                            var payload = {
                                ProcessingDate: self.formatDate(self.PausedFrom)
                            };
                            self.$.httppa.post(url, payload, accountingService, true).then(function (data) {
                                self.raiseAppRefreshEvent(e);
                            }).fail(function (e) {
                                var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                                self.$.messagepa.showMessage(strMessage, "ERROR", self.$$('#MessageContainer'));
                            });
                        }
                        else {
                            var strMessage = "All Fields are required " + e.responseJSON.message;
                            self.$.messagepa.showMessage(strMessage, "ERROR", self.$$('#MessageContainer'));
                        }
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utilitypa.raiseEvent(this.fireEvent, {
                        ActionName: 'PauseAccrual',
                        EventData: event,
                        CompnentName: 'pause-accrual'
                    });
                },
                formatDate: function (date) {
                    return moment.tz(date, window.config.timezone).format("YYYY-MM-DD");
                },
                _verifyFormPayment: function (e) {
                    e.preventDefault();
                    var self = this;
                    var lmsService = window.config.services.lmsService;
                    if (self.loanData.isAutoPay == false) {
                        if (self.PaymentStartFrom != null && self.PaymentStartFrom != "" && self.PaymentStartFrom != undefined) {
                            var url = "/" + self.applicationNumber + "/autopay";
                            var payload = {
                                IsAutopay: true,
                                AutoPayStartDate: self.formatDate(self.PaymentStartFrom),
                                AutoPayStopDate: null
                            };
                            self.$.httppa.put(url, payload, lmsService, true).then(function (data) {
                                self.raiseAppRefreshEvent(e);
                            }).fail(function (e) {
                                var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                                self.$.messagepa.showMessage(strMessage, "ERROR", self.$$('#MessageContainer'));
                            });
                        }
                        else {
                            var strMessage = "All Fields are required " + e.responseJSON.message;
                            self.$.messagepa.showMessage(strMessage, "ERROR", self.$$('#MessageContainer'));
                        }
                    }
                    else {
                        if (self.PaymentPausedFrom != null && self.PaymentPausedFrom != "" && self.PaymentPausedFrom != undefined) {
                            var url = "/" + self.applicationNumber + "/autopay";
                            var payload = {
                                IsAutopay: false,
                                AutoPayStartDate: null,
                                AutoPayStopDate: self.formatDate(self.PaymentPausedFrom),
                            };
                            self.$.httppa.put(url, payload, lmsService, true).then(function (data) {
                                self.raiseAppRefreshEvent(e);
                            }).fail(function (e) {
                                var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                                self.$.messagepa.showMessage(strMessage, "ERROR", self.$$('#MessageContainer'));
                            });
                        }
                        else {
                            var strMessage = "All Fields are required " + e.responseJSON.message;
                            self.$.messagepa.showMessage(strMessage, "ERROR", self.$$('#MessageContainer'));
                        }
                    }
                },
                checkPortfolioType: function (objType) {
                    var self = this;
                    if (self.loanData && self.loanData.productPortfolioType != "MCA" && self.loanData.productPortfolioType != "MCALOC") {
                        return true;
                    }
                    return false;
                }
            });
        });
    </script>
</dom-module>