<dom-module id="pause-auto-payment">
    <template>
        <div>
            TBD
        </div>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "pause-auto-payment",
                properties: {
                }
            });
        });
    </script>
</dom-module>