<dom-module id="payoff-calculator">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }
        </style>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="PayoffCalculator">
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <span>As of Date :</span>{{onlyDate(AsOfDate)}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <vaadin-date-picker class="custom-input" id="PayoffDate" i18n="[[i18n]]" label="Pay off date" format="{{_getFormat(item.value)}}"
                                min="{{PayoffDateMin}}" max="{{PayoffDateMax}}" value={{PayoffDate}}></vaadin-date-picker>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <br>
                            <paper-checkbox checked="{{IntermediatePayments}}" name="IntermediatePayments" id="IntermediatePayments">
                                Assume Schedule payments will be paid
                            </paper-checkbox>
                        </div>
                    </div>
                    <br/>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_calculate" raised>Calculate</paper-button>
                </form>
            </div>
        </div>
        <http-request id="httppc"></http-request>
        <utility-service id="utilitypc"></utility-service>
        <message-component id="messagepc"></message-component>
        <alloy-config id="configpc"></alloy-config>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "payoff-calculator",
                properties: {
                    AsOfDate: {
                        type: Date,
                        notify: true,
                        observer: "setAsOfDate"
                    },
                    currentEconomicsData: {
                        type: Object,
                        notify: true
                    },
                    PayoffDateMin: {
                        type: Date,
                        notify: true
                    },
                    PayoffDateMax: {
                        type: Date,
                        notify: true
                    },
                    PayoffDate: {
                        type: Date,
                        notify: true,
                        value: []
                    },
                    IntermediatePayments: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    payCalculator: {
                        type: Array,
                        notify: true,
                        reflectToAttribute: true
                    },
                    i18n: {
                        type: Object,
                        notify: true,
                        value: {
                            monthNames: moment.months(),
                            weekdays: moment.weekdays(),
                            weekdaysShort: moment.weekdaysShort(),
                            firstDayOfWeek: moment.localeData().firstDayOfWeek(),
                            week: 'Week',
                            calendar: 'Calendar',
                            clear: 'Clear',
                            today: 'Today',
                            cancel: 'Cancel',
                            formatDate: function (d) {
                                return moment(d).format("MM/DD/YYYY");
                            },
                            parseDate: function (s) {
                                return moment(s, "MM/DD/YYYY").toDate();
                            },
                            formatTitle: function (monthName, fullYear) {
                                return monthName + ' ' + fullYear;
                            }
                        }
                    }
                },
                init: function () {
                    this.processEconomicsData();
                },
                processEconomicsData: function () {
                    var self = this;
                    if (self.currentEconomicsData) {
                        self.set('AsOfDate', self.currentEconomicsData.pboc.asOfDatePBOC);
                        self.setData();
                    }
                },
                setData: function () {
                    var self = this;
                    self.PayoffDateMin = self.setCurrentDate();
                    self.PayoffDateMax = self.setMaxDate();
                },
                setCurrentDate: function () {
                    var self = this;
                    var currentDate = new Date(self.AsOfDate);
                    return moment(currentDate).format('YYYY-MM-DD');
                },
                setMaxDate: function () {
                    var self = this;
                    var someDate = new Date(self.AsOfDate);
                    var numberOfDaysToAdd = self.$.configpc.getConfigurationBasedOnKey("EstimatePayoffDays");
                    someDate.setDate(someDate.getDate() + numberOfDaysToAdd);
                    return moment(someDate).format('YYYY-MM-DD');
                },
                _calculate: function (event) {
                    event.preventDefault();
                    var self = this;
                    var Url = "/" + self.applicationNumber + "/payoffcalculation";
                    var Payload = {
                        PayOffDate: self.PayoffDate,
                        IsPaid: self.IntermediatePayments
                    };
                    self.$.httppc.post(Url, Payload, window.config.services.accountingService, true).then(function (data) {
                        if (data) {
                            self.set('payCalculator', data);
                        }
                    }).fail(function (e) {
                        console.error("Payoff calculate error is ", e);
                    });
                },
                onlyDate: function (date) {
                    var EXCLUDE_Date = ["01-01-0001", "01/01/0001", "0001-01-01T00:00:00Z"];
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        if (EXCLUDE_Date.indexOf(date.toString()) != -1) {
                            return "NA";
                        }
                        else {
                            return formats.onlyDate(date, window.config.country);
                        }
                    }
                    return "NA";
                }
            });
        });
    </script>
</dom-module>