<dom-module id="refund-payment">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .set-vertical-height {
                height: 500px;
                overflow-y: scroll;
            }
        </style>
        <div id="MessageContainer"></div>
        <div class="row">
            <div class="col-md-12 set-vertical-height">
                <form is="iron-form" class="form-horizontal" name="RefundPayment">
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <paper-input class="custom-input" required type="text" value="{{PaymentAmount}}" name="PaymentAmount" id="PaymentAmount"
                                label="Payment Amount" pattern="^[0-9]+(.[0-9]{0,2})?$"></paper-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <paper-input class="custom-input" required type="text" value="{{BankAccountNumber}}" name="BankAccountNumber" id="BankAccountNumber"
                                label="Bank Account Number"></paper-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <vaadin-combo-box class="custom-input" required name="BankAccountType" value="{{BankAccountTypeId}}" item-value-path="value"
                                item-label-path="key" items="{{BankAccountType}}" label="Bank Account Type" prevent-invalid-input="true"></vaadin-combo-box>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <paper-input class="custom-input" type="text" required value="{{BankRTN}}" name="BankRTN" id="BankRTN" label="Bank RTN"></paper-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <paper-input class="custom-input" type="text" required value="{{BorrowersName}}" name="BorrowersName" id="BorrowersName"
                                label="Borrower's Name"></paper-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <vaadin-date-picker class="custom-input" required id="PaymentScheduleDate" i18n="[[i18n]]" label="Payment Date" format="{{_getFormat(item.value)}}"
                                value="{{PaymentScheduleDate}}"></vaadin-date-picker>
                        </div>
                    </div>
                    <br>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <http-request id="httprf"></http-request>
        <alloy-config id="configrf"></alloy-config>
        <utility-service id="utilityrf"></utility-service>
        <session-manager id="sessionrf"></session-manager>
        <message-component id="messagerf"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "refund-payment",
                properties: {
                    PaymentAmount: {
                        type: String,
                        notify: true
                    },
                    PaymentScheduleDate: {
                        type: Date,
                        notify: true,
                        observer: "checkHoliday"
                    },
                    currentEconomicsData: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    BankAccountNumber: {
                        type: String,
                        notify: true
                    },
                    BankAccountTypeId: {
                        type: String,
                        notify: true
                    },
                    BankAccountType: {
                        type: Array,
                        notify: true,
                        value: [
                            { key: 'Checking', value: 'Checking' },
                            { key: 'Savings', value: 'Savings' }
                        ]
                    },
                    BankRTN: {
                        type: String,
                        notify: true
                    },
                    BorrowersName: {
                        type: String,
                        notify: true
                    },
                    bankList: {
                        type: Array,
                        notify: true,
                        observer: "setBank",
                        reflectToAttribute: true
                    },
                    i18n: {
                        type: Object,
                        notify: true,
                        value: {
                            monthNames: moment.months(),
                            weekdays: moment.weekdays(),
                            weekdaysShort: moment.weekdaysShort(),
                            firstDayOfWeek: moment.localeData().firstDayOfWeek(),
                            week: 'Week',
                            calendar: 'Calendar',
                            clear: 'Clear',
                            today: 'Today',
                            cancel: 'Cancel',
                            formatDate: function (d) {
                                return moment(d).format("MM/DD/YYYY");
                            },
                            parseDate: function (s) {
                                return moment(s, "MM/DD/YYYY").toDate();
                            },
                            formatTitle: function (monthName, fullYear) {
                                return monthName + ' ' + fullYear;
                            }
                        }
                    }
                },
                setBank: function () {
                    var self = this;
                    if (self.bankList != undefined && self.bankList != null && self.bankList != "") {
                        self.PaymentScheduleDate = self.formatDate(new Date());
                        var ActiveBank = _.find(self.bankList, ["isActive", true]);
                        self.BankAccountNumber = ActiveBank.accountNumber;
                        self.BankAccountTypeId = ActiveBank.accountType;
                        self.BankRTN = ActiveBank.routingNumber;
                        self.BorrowersName = ActiveBank.bankHolderName;
                    }
                },
                formatDate: function (date) {
                    return moment(date).format("YYYY-MM-DD");
                },
                _verifyForm: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    var paymentProcessor = window.config.services.paymentProcessor;
                    if (form.validate()) {
                        var url = "/loan/" + self.applicationNumber + "/refund/payment";
                        if (self.PaymentScheduleDate != "" && self.BankAccountNumber != "" && self.BankAccountTypeId != "" && self.BankRTN != "" && self.BorrowersName != "") {
                            var payload = {
                                PaymentAmount: parseFloat(self.PaymentAmount),
                                BankAccountNumber: self.BankAccountNumber,
                                BankAccountType: self.BankAccountTypeId,
                                BankRTN: self.BankRTN,
                                BorrowersName: self.BorrowersName,
                                PaymentScheduleDate: self.formatDate(self.PaymentScheduleDate),
                                PaymentInstrumentType: "Ach",
                                PaymentType: "Refund",
                                PaymentRail: "ACH",
                                TransactionType: "Debit"
                            };

                            self.$.httprf.post(url, payload, paymentProcessor, true).then(function (data) {
                                self.raiseAppRefreshEvent(e);
                            }).fail(function (e) {
                                var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                                self.$.messagerf.showMessage(strMessage, "ERROR", self.$$('#MessageContainer'));
                            });
                        }
                        else {
                            var strMessage = "All Fields are required";
                            self.$.messagerf.showMessage(strMessage, "ERROR", self.$$('#MessageContainer'));
                        }
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utilityrf.raiseEvent(this.fireEvent, {
                        ActionName: 'RefundPayment',
                        EventData: event,
                        CompnentName: 'refund-payment'
                    });
                },
                checkHoliday: function () {
                    var self = this;
                    var allowHolidayAsPaymentDate = self.$.configrf.getConfigurationBasedOnKey("allowHolidayAsPaymentDate");
                    if (allowHolidayAsPaymentDate) {
                        var weekday = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
                        if (self.PaymentScheduleDate != undefined && self.PaymentScheduleDate != null && self.PaymentScheduleDate != "") {
                            var selectedDate = new Date(self.PaymentScheduleDate);
                            var holidayCalendar = JSON.parse(self.$.sessionrf.get("holidayCalendar"));
                            var CheckDayList = holidayCalendar[weekday[selectedDate.getDay()]];
                            var CheckDateList = holidayCalendar[self.PaymentScheduleDate];
                            if (CheckDayList != undefined && CheckDayList != null && CheckDayList != "") {
                                self.set('PaymentScheduleDate', "");
                                self.$.messagerf.showMessage("Please select bank working day", "ERROR", self.$$('#MessageContainer'));
                            }
                            else if (CheckDateList != undefined && CheckDateList != null && CheckDateList != "") {
                                self.set('PaymentScheduleDate', "");
                                self.$.messagerf.showMessage("Please select bank working day", "ERROR", self.$$('#MessageContainer'));
                            }
                        }
                    }
                },
                init: function () {
                    var self = this;
                    if (self.currentEconomicsData) {
                        self.set('PaymentAmount', self.currentEconomicsData.excessMoney.amount);
                    }
                }
            });
        });
    </script>
</dom-module>