<dom-module id="schedule-payment">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            ul.dropdown-menu li {
                padding: 10px;
                color: #03466B;
                cursor: pointer;
            }

            ul.dropdown-menu li:hover {
                background-color: lightgray;
            }

            .DownArrow {
                font-size: 20px;
                padding-top: 23px;
            }
        </style>
        <div class="row">
            <div id="MessageContainer"></div>
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="SchedulePayment">
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <vaadin-combo-box class="custom-input" name="Purpose" value="{{PurposeId}}" item-value-path="value" item-label-path="key"
                                items="{{Purpose}}" required label="Select Purpose" prevent-invalid-input="true"></vaadin-combo-box>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <paper-input class="custom-input" required type="text" value="{{PaymentAmount}}" name="PaymentAmount" id="PaymentAmount"
                                label="Payment Amount" pattern="^[0-9]+(.[0-9]{0,2})?$" on-blur="getEstimate"></paper-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <paper-input class="custom-input" pattern="^[0-9]+(.[0-9]{0,2})?$" type="text" value="{{Principal}}" name="Principal" id="Principal"
                                label="Principal"></paper-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <paper-input class="custom-input" pattern="^[0-9]+(.[0-9]{0,2})?$" type="text" value="{{Interest}}" name="Interest" id="Interest"
                                label="Interest"></paper-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <paper-input class="custom-input" pattern="^[0-9]+(.[0-9]{0,2})?$" type="text" value="{{AdditionalInterest}}" name="AdditionalInterest"
                                id="AdditionalInterest" label="AdditionalInterest"></paper-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-11">
                            <paper-input class="custom-input" pattern="^[0-9]+(.[0-9]{0,2})?$" type="text" value="{{Fees}}" name="Fees" id="Fees" label="Fees"></paper-input>
                        </div>
                        <div class="panel-left col-md-1">
                            <a href="javascript:" class="dropdown-toggle moreHeight" data-toggle="dropdown" role="button" aria-expanded="false">
                                <i class="fa fa-angle-down DownArrow" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <template is="dom-repeat" items="{{EstimateObj.fees}}" as="fee">
                                    <li>{{fee.feeName}}</li>
                                </template>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <vaadin-date-picker class="custom-input" required id="PaymentScheduleDate" i18n="[[i18n]]" label="Payment Schedule Date"
                                format="{{_getFormat(item.value)}}" value="{{PaymentScheduleDate}}"></vaadin-date-picker>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <paper-input class="custom-input" type="text" required value="{{BankAccountNumber}}" name="BankAccountNumber" id="BankAccountNumber"
                                label="Bank Account Number"></paper-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <vaadin-combo-box class="custom-input" name="BankAccountType" required value="{{BankAccountTypeId}}" item-value-path="value"
                                item-label-path="key" items="{{BankAccountType}}" label="Bank Account Type" prevent-invalid-input="true"></vaadin-combo-box>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <paper-input class="custom-input" type="text" required value="{{BankRTN}}" name="BankRTN" id="BankRTN" label="Bank RTN"></paper-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-left col-md-12">
                            <paper-input class="custom-input" type="text" required value="{{BorrowersName}}" name="BorrowersName" id="BorrowersName"
                                label="Borrowers Name"></paper-input>
                        </div>
                    </div>
                    <br>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <url-parser id="urlsp"></url-parser>
        <http-request id="httpsp"></http-request>
        <utility-service id="utilitysp"></utility-service>
        <message-component id="messagesp"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "schedule-payment",
                properties: {
                    loanNumber: {
                        type: String,
                        notify: true
                    },
                    Purpose: {
                        type: Array,
                        notify: true,
                        value: [
                            { value: 'defaulthierarchy', key: 'System' },
                            { value: 'schedule', key: 'Schedule' },
                            { value: 'additional', key: 'Additional' },
                            { value: 'custom', key: 'Custom' }]
                    },
                    PurposeId: {
                        type: String,
                        notify: true,
                        value: "defaulthierarchy"
                    },
                    PaymentAmount: {
                        type: String,
                        notify: true
                    },
                    Principal: {
                        type: String,
                        notify: true,
                        observer: "reCalculateValue"
                    },
                    Interest: {
                        type: String,
                        notify: true,
                        observer: "reCalculateValue"
                    },
                    AdditionalInterest: {
                        type: String,
                        notify: true,
                        observer: "reCalculateValue"
                    },
                    Fees: {
                        type: String,
                        notify: true,
                        observer: "reCalculateValue"
                    },
                    OriPrincipal: {
                        type: String,
                        notify: true
                    },
                    OriInterest: {
                        type: String,
                        notify: true
                    },
                    OriFees: {
                        type: String,
                        notify: true
                    },
                    PaymentScheduleDate: {
                        type: Date,
                        notify: true
                    },
                    BankAccountNumber: {
                        type: String,
                        notify: true
                    },
                    BankAccountType: {
                        type: Array,
                        notify: true,
                        value: [
                            { key: 'Checking', value: 'Checking' },
                            { key: 'Savings', value: 'Savings' }]
                    },
                    BankRTN: {
                        type: String,
                        notify: true
                    },
                    BorrowersName: {
                        type: String,
                        notify: true
                    },
                    CheckNo: {
                        type: String,
                        notify: true
                    },
                    MICR: {
                        type: String,
                        notify: true
                    },
                    BankAccountTypeId: {
                        type: String,
                        notify: true
                    },
                    EstimateObj: {
                        type: Object,
                        notify: true
                    },
                    i18n: {
                        type: Object,
                        notify: true,
                        value: {
                            monthNames: moment.months(),
                            weekdays: moment.weekdays(),
                            weekdaysShort: moment.weekdaysShort(),
                            firstDayOfWeek: moment.localeData().firstDayOfWeek(),
                            week: 'Week',
                            calendar: 'Calendar',
                            clear: 'Clear',
                            today: 'Today',
                            cancel: 'Cancel',
                            formatDate: function (d) {
                                return moment(d).format("MM/DD/YYYY");
                            },
                            parseDate: function (s) {
                                return moment(s, "MM/DD/YYYY").toDate();
                            },
                            formatTitle: function (monthName, fullYear) {
                                return monthName + ' ' + fullYear;
                            }
                        }
                    }
                },
                init: function () {

                },
                reCalculateValue: function () {
                    var self = this;
                    var value = parseFloat(self.Principal) + parseFloat(self.Interest) + parseFloat(self.AdditionalInterest) + parseFloat(self.Fees);
                    self.PaymentAmount = parseFloat(value).toFixed(2);
                },
                _verifyForm: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    var paymentProcessor = window.config.services.paymentProcessor;
                    if (form.validate()) {
                        var url = "/loan/" + self.applicationNumber + "/add";
                        var Amount = self.PaymentAmount;
                        if (self.PurposeId == "custom") {
                            var value = parseFloat(self.Principal) + parseFloat(self.Interest) + parseFloat(self.AdditionalInterest) + parseFloat(self.Fees);
                            Amount = parseFloat(value).toFixed(2);
                        }
                        var payload = {};
                        if (self.PurposeId == "custom") {
                            payload = {
                                PrincipalAmount: self.Principal,
                                InterestAmount: self.Interest,
                                Fees: self.getFeesObject(),
                                AdditionalInterestAmount: self.AdditionalInterest,
                                PaymentType: "Additional",
                                PaymentInstrumentType: "Ach",
                                RequestedDate: self.formatDate(new Date()),
                                PaymentPurpose: self.PurposeId,
                                PaymentAmount: parseFloat(Amount),
                                PaymentScheduleDate: self.formatDate(self.PaymentScheduleDate),
                                BankAccountNumber: self.BankAccountNumber,
                                BankAccountType: self.BankAccountTypeId,
                                BankRTN: self.BankRTN,
                                BorrowersName: self.BorrowersName
                            };
                        }
                        else {
                            payload = {
                                PaymentType: "Additional",
                                PaymentInstrumentType: "Ach",
                                RequestedDate: self.formatDate(new Date()),
                                PaymentPurpose: self.PurposeId,
                                PaymentAmount: parseFloat(Amount),
                                PaymentScheduleDate: self.formatDate(self.PaymentScheduleDate),
                                BankAccountNumber: self.BankAccountNumber,
                                BankAccountType: self.BankAccountTypeId,
                                BankRTN: self.BankRTN,
                                BorrowersName: self.BorrowersName
                            };
                        }

                        self.$.httpsp.post(url, payload, paymentProcessor, true).then(function (data) {
                            self.raiseAppRefreshEvent(e);
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            self.$.messagesp.showMessage(strMessage, "ERROR", self.$$('#MessageContainer'));
                        });
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utilitysp.raiseEvent(this.fireEvent, {
                        ActionName: 'SchedulePayment',
                        EventData: event,
                        CompnentName: 'schedule-payment'
                    });
                },
                formatDate: function (date) {
                    return moment.tz(date, window.config.timezone).format("YYYY-MM-DD");
                },
                getEstimate: function () {
                    var self = this;
                    if (self.PurposeId != "custom") {
                        var url = "/" + self.applicationNumber + "/" + self.PaymentAmount + "/" + self.PurposeId + "/estimate";
                        self.$.httpsp.get(url, window.config.services.accountingService).then(function (data) {
                            if (data) {
                                self.EstimateObj = data;
                                self.Principal = data.principal;
                                self.Interest = data.interest;
                                self.Fees = self.getFeesTotal(data.fees);
                                self.OriPrincipal = data.principal;
                                self.OriInterest = data.interest;
                                self.OriFees = data.fees;
                                self.AdditionalInterest = data.additionalInterest;
                            }
                        }).fail(function (e) {
                            console.error("Filter error is ", e);
                        });
                    }
                },
                getFeesTotal: function (fees) {
                    var Totalfees = 0;
                    if (fees != undefined && fees != "" && fees != null) {
                        Totalfees = _.sumBy(fees, 'feeAmount');
                    }
                    return Totalfees;
                },
                getFeesObject: function () {
                    var self = this;
                    var feesObj = [];
                    if (self.EstimateObj != undefined && self.EstimateObj != null && self.EstimateObj.fees != undefined && self.EstimateObj.fees != "" && self.EstimateObj.fees != null) {
                        for (var i = 0; i < self.EstimateObj.fees.length; i++) {
                            feesObj.push({
                                FeeAmount: self.EstimateObj.fees[i].feeAmount,
                                Id: self.EstimateObj.fees[i].id,
                                FeeName: self.EstimateObj.fees[i].feeName
                            });
                        }
                    }
                    return feesObj;
                }
            });
        });
    </script>
</dom-module>