<dom-module id="sell-off">
    <template>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="sellOffForm">
                    <dynamic-form form-configuration={{SellOffObj}} values="{{SellOffObj.values}}"></dynamic-form>
                    <br/>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
            <div id="MessageContainer"></div>
        </div>
        <url-parser id="urlsoff"></url-parser>
        <http-request id="httpsoff"></http-request>
        <utility-service id="utilitysoff"></utility-service>
        <message-component id="messagesoff"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "sell-off",
                properties: {
                    currentEconomicsData: {
                        type: Object,
                        notify: true
                    },
                    SellOffObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                SellOffDate: {
                                    label: "Sell Off Date",
                                    title: "Requested Date",
                                    type: "date",
                                    format: "MM/DD/YYYY",
                                    validations: {
                                        required: true
                                    }
                                },
                                SellOffAmount: {
                                    label: "Sell Off Amount",
                                    type: "textboxwithCurrency",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        pattern: 'DECIMAL',
                                        minLen: 1,
                                        maxLen: 10,
                                        currencySign: "$"
                                    }
                                },
                                InterestOutStanding: {
                                    label: "Interest Outstanding",
                                    type: "textboxwithCurrency",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        pattern: 'DECIMAL',
                                        minLen: 1,
                                        maxLen: 10,
                                        currencySign: "$"
                                    }
                                },
                                FeeOutStanding: {
                                    label: "Fee Outstanding",
                                    type: "textboxwithCurrency",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        pattern: 'DECIMAL',
                                        minLen: 1,
                                        maxLen: 10,
                                        currencySign: "$"
                                    }
                                }
                            },
                            values: {
                                SellOffDate: "",
                                SellOffAmount: "",
                                InterestOutStanding: "",
                                FeeOutStanding: ""
                            }
                        }
                    }
                },
                _verifyForm: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    var accountingService = window.config.services.accountingService;
                    if (form.validate()) {
                        var url = "/" + self.applicationNumber + "/selloff";
                        var payload = {
                            SellOffDate: self.formatDate(self.SellOffObj.values.SellOffDate),
                            SellOffAmount: self.SellOffObj.values.SellOffAmount,
                            InterestOutStanding: self.SellOffObj.values.InterestOutStanding,
                            FeeOutStanding: self.SellOffObj.values.FeeOutStanding
                        };
                        self.$.httpsoff.post(url, payload, accountingService, true).then(function (data) {
                            self.raiseAppRefreshEvent(e);
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            self.$.messagesoff.showMessage(strMessage, "ERROR", self.$$('#MessageContainer'));
                        });
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utilitysoff.raiseEvent(this.fireEvent, {
                        ActionName: 'SellOff',
                        EventData: event,
                        CompnentName: 'sell-off'
                    });
                },
                formatDate: function (date) {
                    return moment(date).format("YYYY-MM-DD");
                },
                init: function () {
                    this.processEconomicsData();
                },
                processEconomicsData: function () {
                    var self = this;
                    if (self.currentEconomicsData) {
                        var data = self.currentEconomicsData;
                        var SellOffObj = _.cloneDeep(self.get('SellOffObj'));
                        SellOffObj.values.SellOffDate = self.formatDate(data.pbot.asOfDatePBOT);
                        SellOffObj.values.SellOffAmount = data.pbot.totalPrincipalOutStanding;
                        SellOffObj.values.InterestOutStanding = data.pbot.totalInterestOutstanding;
                        SellOffObj.values.FeeOutStanding = data.pbot.totalFeeOutstanding;
                        self.set('SellOffObj', SellOffObj);
                    }
                }
            });
        });
    </script>
</dom-module>