<html-import html-href="personal-details/basic-details.html"></html-import>
<html-import html-href="personal-details/amount-details.html"></html-import>
<html-import html-href="personal-details/business-details.html"></html-import>
<html-import html-href="personal-details/applicant-details.html"></html-import>
<dom-module id="application-details">
    <template>
        <style>
            .nav li.active>a {
                color: #555555;
            }

            .inmodal .modal-title {
                font-size: 18px !important;
            }

            .inmodal .modal-body {
                background: #fff !important;
            }

            .top-tabs .tab-pane {
                padding: 10px 15px 0;
            }
        </style>
        <div class="modal inmodal" id="editApplicationModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h6 class="modal-title">Edit Application
                            <i aria-hidden="true" class="modal-title fa fa-edit"></i>
                        </h6>
                    </div>
                    <div class="modal-body">
                        <ul class="nav nav-tabs appsTab" id="editApplicationTab">
                            <li class="active">
                                <a data-target="#bscDtl" data-toggle="tab">
                                    <i aria-hidden="true"></i>Basic
                                </a>
                            </li>
                            <li>
                                <a data-target="#bisDtl" data-toggle="tab">
                                    <i aria-hidden="true"></i>Your Business
                                </a>
                            </li>
                            <li>
                                <a data-target="#appDtl" data-toggle="tab">
                                    <i aria-hidden="true"></i>About You
                                </a>
                            </li>
                        </ul>
                        <form is="iron-form" class="form-horizontal" name="cashflowForm" id="ApplicationForm">
                            <div class="tab-content top-tabs">
                                <div class="tab-pane active" id="bscDtl">
                                    <template is="dom-if" if="{{showContentInn}}">
                                        <basic-details id="basicdetails" application-number="{{applicationNumber}}" basic-Detail-Obj="{{basicDetailObj}}" application-Details="{{applicationDetails}}"></basic-details>
                                    </template>
                                </div>
                                <div class="tab-pane" id="bisDtl">
                                    <template is="dom-if" if="{{showContentInn}}">
                                        <business-details id="businessdetails" application-number="{{applicationNumber}}" business-Detail-Obj={{businessDetailObj}}
                                            application-Details="{{applicationDetails}}"></business-details>
                                    </template>
                                </div>
                                <div class="tab-pane" id="appDtl">
                                    <template is="dom-if" if="{{showContentInn}}">
                                        <applicant-details id="applicantdetails" application-number="{{applicationNumber}}" applicant-detail-array="{{applicantDetailArray}}"
                                            ownershipfields="{{ownershipfields}}" application-Details="{{applicationDetails}}"
                                            owner-length="{{ownerLength}}" max-owner={{maxOwner}}></applicant-details>
                                    </template>
                                </div>
                                <div class="tab-pane" id="amtDtl">
                                    <template is="dom-if" if="{{showContentInn}}">
                                        <amount-details id="amountsdetails" application-number="{{applicationNumber}}" amount-Detail-Obj={{amountDetailObj}} application-Details="{{applicationDetails}}"></amount-details>
                                    </template>
                                </div>
                            </div>
                            <div id="MessageContainer"></div>
                            <div class="form-footer">
                                <button type="button" class="btn btn-primary" on-click="submitApplication">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <http-request id="http"></http-request>
        <alloy-config id="config"></alloy-config>
        <lookup-service id="lookup"></lookup-service>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "application-details",
                properties: {
                    applicationDetails: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    applicationRequest: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    showContentInn: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    showOtherOwner: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    owners: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    ownershipfields: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    amountDetailObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {},
                            values: {}
                        }
                    },
                    applicantDetailArray: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    basicDetailObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {},
                            values: {}
                        }
                    },
                    businessDetailObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {},
                            values: {}
                        }
                    },
                    ownerLength: {
                        type: Number,
                        notify: true,
                        value: 0
                    },
                    maxOwner: {
                        type: Number,
                        notify: true,
                        value: 0
                    }
                },
                _checkIfNullObject: function (obj) {
                    return Object.keys(obj).length === 0 && obj.constructor === Object;
                },
                ready: function () {
                    var self = this;
                    setTimeout(function () {
                        self.init();
                    }, 3000);
                },
                init: function () {
                    var self = this;
                    $('#editApplicationModal').on("show.bs.modal", function () {
                        self.loadApplicationFields();
                    });
                },
                loadApplicationFields: function () {
                    var self = this;
                    var result = self.$.config.getConfigurationBasedOnKey("application-fields");
                    var fieldsConfigString = JSON.stringify(result);
                    var ChangedfieldsConfigString = fieldsConfigString.replace(/twoColumn/g, "twoInRow");
                    var data = JSON.parse(ChangedfieldsConfigString);
                    self.set("basicDetailObj", data['basic-fields']);
                    self.setDropDownValue(data['basic-fields']);
                    self.set("businessDetailObj", data['business-fields']);
                    self.setDropDownValue(data['business-fields']);
                    self.set('maxOwner', data.maxOwner);
                    self.setDropDownValue(data['ownership-fields']);
                    self.set('ownershipfields', data['ownership-fields'])
                    self.set("applicationRequest", data['application']);
                    self.set("owners", data['owners']);
                    self._getApplicationDetail();
                    self.set('showContentInn', true);
                },
                _getApplicationDetail: function () {
                    var self = this;
                    var basicDetailObjClone = _.cloneDeep(self.basicDetailObj);
                    var businessDetailObjClone = _.cloneDeep(self.businessDetailObj);
                    var applicantDetailArrayClone = _.cloneDeep(self.applicantDetailArray);
                    var url = "/application/" + self.applicationNumber + "/details";
                    var applicationDetail = window.config.services.appProcessor;
                    self.$.http.get(url, applicationDetail).then(function (result) {
                        if (result != undefined && !self._checkIfNullObject(result)) {
                            self.set('applicationDetails', result);
                            self.mergeObj(basicDetailObjClone.values, result);
                            self.mergeObj(businessDetailObjClone.values, result);
                            businessDetailObjClone.values.businessStartDate = moment(result.businessStartDate.time).format("YYYY-MM-DD");
                            if (result.applicationDate != null) {
                                businessDetailObjClone.values.applicationDate = moment(result.applicationDate.time).format("YYYY-MM-DD");
                            }
                            businessDetailObjClone.values.state = result.state;
                            if (result.owners !== null) {
                                self.set('ownerLength', result.owners.length);
                                if (result.owners.length > applicantDetailArrayClone.length) {
                                    for (var index = 0; index < result.owners.length; index++) {
                                        applicantDetailArrayClone.push(_.cloneDeep(self.ownershipfields));
                                        self.setOwnerInfo(applicantDetailArrayClone[index], index, result);
                                        var ownerJSON = JSON.stringify(applicantDetailArrayClone[index]);
                                        ownerJSON = ownerJSON.replace(/dob/ig, 'dob' + index);
                                        applicantDetailArrayClone[index] = JSON.parse(ownerJSON);
                                    }
                                }
                            }
                            else {
                                applicantDetailArrayClone.push(_.cloneDeep(self.ownershipfields));
                            }
                            self.set("basicDetailObj", basicDetailObjClone);
                            self.set("businessDetailObj", businessDetailObjClone);
                            self.set("applicantDetailArray", applicantDetailArrayClone);
                        }
                    }).fail(function (e) {
                        console.error("_getApplicationDetail error is ", e);
                    });
                },
                mergeObj: function (dataobj, resultObj) {
                    var keys1 = Object.keys(resultObj);
                    for (var key_i = 0; key_i < keys1.length; key_i++) {
                        var key = keys1[key_i];
                        if (dataobj[key] != undefined) {
                            dataobj[key] = resultObj[key];
                        }
                    }
                },
                setOwnerInfo: function (applicantobject, index, result) {
                    var self = this;
                    self.mergeObj(applicantobject.values, result.owners[index]);
                    applicantobject.values.dob = moment(result.owners[index].dateOfBirth).format("YYYY-MM-DD");
                    applicantobject.values.email = result.owners[index].email;
                    applicantobject.values.phone = result.owners[index].phoneNumber;
                    applicantobject.values.addressLine1 = result.owners[index].address;
                    applicantobject.values.zipCode = result.owners[index].zipCode;
                    applicantobject.values.city = result.owners[index].city;
                    applicantobject.values.state = result.owners[index].state;
                },
                submitApplication: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement.parentElement;
                    if (form.validate()) {
                        self.getApplicationRequestObject(self.basicDetailObj);
                        self.getApplicationRequestObject(self.businessDetailObj);
                        //timebucket time
                        self.businessDetailObj.values.businessStartDate = moment(self.applicationDetails.businessStartDate.time).format("YYYY-MM-DD");
                        if (self.applicationDetails.applicationDate != null) {
                            self.businessDetailObj.values.applicationDate = moment(self.applicationDetails.applicationDate.time).format("YYYY-MM-DD");
                        }
                        var aplicationRequestClone = _.cloneDeep(self.applicationRequest);
                        aplicationRequestClone.values.owners = self.addOwnerInfo();
                        if (self.totalPartnerShip > 100) {
                            var errMessage = "Cumulative ownership for all owners can not be more than 100%";
                            self.$$('#message').showMessage(errMessage, "ERROR", self.$$('#MessageContainer'));
                            return;
                        }
                        if (self.totalPartnerShip < 51) {
                            var errMessage = '';
                            if (_.isEqual(aplicationRequestClone.values.owners.length, 1)) {
                                errMessage = "Ownership is less than 51%, kindly add another owner";
                            }
                            else {
                                errMessage = "Cumulative Ownership is less than 51%, kindly add another owner";
                            }
                            self.$$('#message').showMessage(errMessage, "ERROR", self.$$('#MessageContainer'));
                            return;
                        }
                        self.set("applicationRequest", aplicationRequestClone);
                        self.applicationRequest.values.applicationNumber = self.applicationDetails.applicationNumber;
                        self.applicationRequest.values.applicantId = self.applicationDetails.applicantId;
                        var submitBusinessApplicationRequest = self.applicationRequest.values;
                        var appProcessorEndpoint = window.config.services.appProcessor;
                        var url = "/application/" + self.applicationNumber + "/edit";
                        self.$.http.put(url, submitBusinessApplicationRequest, appProcessorEndpoint).then(function (response) {
                            if (self.applicantDetailArray.length > self.ownerLength) {
                                url = "/application/" + self.applicationNumber + "/addedownerfrombackoffice";
                                self.$.http.post(url, submitBusinessApplicationRequest, appProcessorEndpoint).then(function (response) {
                                    self.raiseAppRefreshEvent();
                                });
                            }
                            else {
                                self.raiseAppRefreshEvent();
                            }
                        }).fail(function (e) {
                            var response = e.responseJSON;
                            if (!_.isUndefined(response) && !_.isEmpty(response.message)) {
                                if (response.code === 409) {
                                    self.$$('#message').showMessage("Email is associated with existing account", "ERROR", self.$$('#MessageContainer'));
                                } else {
                                    self.$$('#message').showMessage("Email is associated with existing account" + response.message, "ERROR", self.$$('#MessageContainer'));
                                }
                            } else {
                                self.$$('#message').showMessage("Email is associated with existing account", "ERROR", self.$$('#MessageContainer'));
                            }
                            console.error("Unable to Submit Application error is ", e);
                        });
                    }
                    else {
                        var businessDetailObj = _.cloneDeep(self.businessDetailObj);
                        var basic = false;
                        _.forEach(businessDetailObj.controls, function (dataObj, key) {
                            if (basic == false && dataObj.validations.required != undefined && dataObj.validations.required == true) {
                                var vv = businessDetailObj.values[key];
                                if (vv === "" || vv === undefined || vv === null) {
                                    basic = true;
                                }
                            }
                        });
                        var applicantDetailArray = _.cloneDeep(self.applicantDetailArray);
                        var applicant = false;
                        _.forEach(applicantDetailArray, function (arr, key) {
                            _.forEach(arr.controls, function (dataObj, key) {
                                if (applicant == false && dataObj.validations.required != undefined && dataObj.validations.required == true) {
                                    var vv = arr.values[key];
                                    if (vv === "" || vv === undefined || vv === null) {
                                        applicant = true;
                                    }
                                }
                            });
                        });
                        if (basic === true) {
                            $('.appsTab a[data-target="#bisDtl"]').tab('show');
                        }
                        else if (applicant === true) {
                            $('.appsTab a[data-target="#appDtl"]').tab('show');
                        }


                        var businessDetailObjClone = _.cloneDeep(self.businessDetailObj);
                        var applicantDetailArrayClone = _.cloneDeep(self.applicantDetailArray);
                        self.$$('#message').showMessage("Please provide all the mandatory details", "ERROR", self.$$('#MessageContainer'));
                    }
                },
                addOwnerInfo: function () {
                    var self = this;
                    var totalPartnerShipClone = 0;
                    var ownerdetails = _.cloneDeep(self.applicantDetailArray);
                    var ownerArray = [];
                    if (self.maxOwner >= ownerdetails.length) {
                        ownerdetails.forEach(function (ownerdetail, index) {
                            if (!_.isNull(ownerdetail.values.firstName) && !_.isUndefined(ownerdetail.values.firstName) && !_.isEmpty(ownerdetail.values.firstName)) {
                                var owners = _.cloneDeep(self.owners);
                                owners[0].dob = self.date(ownerdetail.values['dob' + index]);
                                owners[0].addresses[0].addressLine1 = ownerdetail.values.addressLine1;
                                owners[0].addresses[0].city = ownerdetail.values.city;
                                owners[0].addresses[0].state = _.toUpper(ownerdetail.values.state);
                                owners[0].addresses[0].zipCode = ownerdetail.values.zipCode;
                                owners[0].emailAddresses[0].email = ownerdetail.values.email;
                                owners[0].phoneNumbers[0].phone = ownerdetail.values.phoneNumber;
                                owners[0].phoneNumbers[1].phone = ownerdetail.values.mobileNumber;
                                owners[0].ssn = ownerdetail.values.socialSecurityNumber;
                                if (index == 0) {
                                    ownerdetail.values.isPrimary = true;
                                    owners[0].isPrimary = true;
                                }
                                else {
                                    ownerdetail.values.isPrimary = false;
                                    owners[0].isPrimary = false;
                                }
                                totalPartnerShipClone = (parseFloat(totalPartnerShipClone, 10) + parseFloat(ownerdetail.values.ownershipPercentage, 10));
                                self.mergeObj(owners[0], ownerdetail.values);
                                ownerArray.push(owners[0]);
                                self.set('totalPartnerShip', totalPartnerShipClone);
                            }
                        }, this);
                        return ownerArray;
                    }
                },
                setDropDownValue: function (fieldsObject) {
                    var self = this;
                    for (var lookupObject in fieldsObject.controls) {
                        if (fieldsObject.controls[lookupObject].type == "combobox") {
                            var lookupname = fieldsObject.controls[lookupObject].lookup;
                            if (lookupname != undefined) {
                                var data = self.$.lookup.getLookupBasedOnName(fieldsObject.controls[lookupObject].lookup);
                                if (data != undefined) {
                                    fieldsObject.controls[lookupObject].selectList = data;
                                }
                            }
                        }
                    }
                },
                getApplicationRequestObject: function (fields) {
                    var self = this;
                    var applicationclone = _.cloneDeep(self.applicationRequest);
                    applicationclone.values = Object.assign(applicationclone.values, fields.values);
                    self.set("applicationRequest", applicationclone);
                },
                date: function (date) {
                    if (date && date != null) {
                        return moment.tz(date, window.tenant.timezone).format("MM/DD/YYYY");
                    }
                    return '';
                },
                _hide: function () {
                    $('#editApplicationModal').modal('hide');
                },
                raiseAppRefreshEvent: function () {
                    this.$.utility.raiseEvent(this.fireEvent, {});
                }
            });
        });
    </script>
</dom-module>