<html-import html-href="custom-component/loan-activity.html"></html-import>
<html-import html-href="app-actions/onboard.html"></html-import>
<html-import html-href="app-actions/cancel-loc.html"></html-import>
<html-import html-href="app-actions/unhold-loc.html"></html-import>
<html-import html-href="app-actions/assign-app.html"></html-import>
<html-import html-href="app-actions/edit-offer.html"></html-import>
<html-import html-href="app-actions/select-bank.html"></html-import>
<html-import html-href="app-actions/upload-docs.html"></html-import>
<html-import html-href="app-actions/put-on-hold.html"></html-import>
<html-import html-href="app-actions/call-paynet.html"></html-import>
<html-import html-href="app-actions/switch-owner.html"></html-import>
<html-import html-href="app-actions/edit-cashflow.html"></html-import>
<html-import html-href="app-actions/compute-offer.html"></html-import>
<html-import html-href="app-actions/present-offer.html"></html-import>
<html-import html-href="app-actions/cancel-onboard.html"></html-import>
<html-import html-href="app-actions/stipulate-docs.html"></html-import>
<html-import html-href="app-actions/enable-reapply.html"></html-import>
<html-import html-href="app-actions/decide-product.html"></html-import>
<html-import html-href="app-actions/edit-ach-return.html"></html-import>
<html-import html-href="app-actions/manual-cashflow.html"></html-import>
<html-import html-href="app-actions/verify-cashflow.html"></html-import>
<html-import html-href="app-actions/reject-drawdown.html"></html-import>
<html-import html-href="app-actions/request-drawdown.html"></html-import>
<html-import html-href="app-actions/verify-documents.html"></html-import>
<html-import html-href="app-actions/edit-application.html"></html-import>
<html-import html-href="app-actions/add-bank-account.html"></html-import>
<html-import html-href="app-actions/move-to-next-step.html"></html-import>
<html-import html-href="app-actions/status-management.html"></html-import>
<html-import html-href="app-actions/bankurptcy-review.html"></html-import>
<html-import html-href="app-actions/send-for-signature.html"></html-import>
<html-import html-href="app-actions/reject-application.html"></html-import>
<html-import html-href="app-actions/submit-application.html"></html-import>
<html-import html-href="app-actions/approve-system-app.html"></html-import>
<html-import html-href="app-actions/perform-risk-review.html"></html-import>
<html-import html-href="app-actions/resend-bank-linking.html"></html-import>
<html-import html-href="app-actions/sponsor-credit-pull.html"></html-import>
<html-import html-href="app-actions/add-funding-request.html"></html-import>
<html-import html-href="app-actions/approve-application.html"></html-import>
<html-import html-href="app-actions/resend-for-signature.html"></html-import>
<html-import html-href="app-actions/complete-status-flow.html"></html-import>
<html-import html-href="app-actions/resubmit-for-funding.html"></html-import>
<html-import html-href="app-actions/upload-bank-statement.html"></html-import>
<html-import html-href="app-actions/criminalrecord-review.html"></html-import>
<html-import html-href="app-actions/update-funding-status.html"></html-import>
<html-import html-href="app-actions/business-credit-report.html"></html-import>
<html-import html-href="app-actions/update-outstanding-info.html"></html-import>
<html-import html-href="app-actions/notInterested-application.html"></html-import>
<dom-module id="action-container">
    <template>
        <style>
            .activity-action-btn {
                padding: 10px;
                width: 100%;
                font-size: inherit;
            }
        </style>
        <template is="dom-if" if="{{hasRole(componentMap, 'RequestDrawdownAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.RequestDrawdown)}}">
                <loan-activity id="RequestDrawdown-loan-activity" activity-title="Request Drawdown">
                    <request-drawdown id="RequestDrawdown" form-id="rdFromActionca" class="loan-activity" application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'RequestDrawdown')}}"></request-drawdown>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'RejectDrawdownAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.RejectDrawdown)}}">
                <loan-activity id="RejectDrawdown-loan-activity" activity-title="Reject Drawdown">
                    <reject-drawdown id="RejectDrawdown" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'RejectDrawdown')}}"></reject-drawdown>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'AddFundingRequestAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.addFundingRequest)}}">
                <loan-activity id="addfundingrequest-loan-activity" activity-title="Add Funding Request">
                    <add-funding-request id="addfundingrequest" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'addFundingRequest')}}"></add-funding-request>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'ReSubmitForFundingAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.ReSubmitForFunding)}}">
                <loan-activity id="ReSubmitForFunding-loan-activity" activity-title="ReSubmit For Funding">
                    <resubmit-for-funding id="ReSubmitForFunding" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'ReSubmitForFunding')}}"></resubmit-for-funding>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'UpdateFundingStatusAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.UpdateFundingStatus)}}">
                <loan-activity id="UpdateFundingStatus-loan-activity" activity-title="Update Funding Status">
                    <update-funding-status id="UpdateFundingStatus" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'UpdateFundingStatus')}}"></update-funding-status>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'UpdateOutstandingAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.UpdateOutstanding)}}">
                <loan-activity id="UpdateOutstanding-loan-activity" activity-title="Update Outstanding Info">
                    <update-outstanding-info id="UpdateOutstanding" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'UpdateOutstanding')}}"></update-outstanding-info>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'PutOnHoldAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.PutOnHold)}}">
                <loan-activity id="PutOnHold-loan-loan-activity" activity-title="Put On Hold">
                    <put-on-hold id="PutOnHold" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'PutOnHold')}}"></put-on-hold>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'CancelLocAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.CancelLoc)}}">
                <loan-activity id="CancelLoc-loan-activity" activity-title="Cancel Loc">
                    <cancel-loc id="CancelLoc" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'CancelLoc')}}"></cancel-loc>
                </loan-activity>
            </template>
        </template>

        <template is="dom-if" if="{{hasRole(componentMap, 'EditACHReturnAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.EditACHReturn)}}">
                <loan-activity id="editACHReturn-loan-activity" activity-title="Edit ACH Return">
                    <edit-ach-return id="editACHReturn" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'EditACHReturn')}}"></edit-ach-return>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'SelectBankAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.SelectBank)}}">
                <loan-activity id="selectBank-loan-activity" activity-title="Select Accounts">
                    <select-bank id="selectBank" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'SelectBank')}}"></select-bank>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'EditCashflowAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.EditCashflow)}}">
                <loan-activity id="editCashflow-loan-activity" activity-title="Edit Cashflow">
                    <edit-cashflow id="editCashflow" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'EditCashflow')}}"></edit-cashflow>
                </loan-activity>
                <iron-signals on-iron-signal-openeditcashflow="_openEditCashflow"></iron-signals>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'EditApplicationAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.Edit)}}">
                <loan-activity id="editapplication-loan-activity" activity-title="Edit">
                    <edit-application id="editapplication" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'Edit')}}"></edit-application>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'SubmitApplicationAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.SubmitApplication)}}">
                <loan-activity id="submitApplication-loan-activity" activity-title="Submit Application">
                    <submit-application id="submitApplication" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'SubmitApplication')}}"></submit-application>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'PullSponsorCreditAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.SponsorCreditPull)}}">
                <loan-activity id="sponsorcreditpull-loan-activity" activity-title="Pull Sponsor Credit">
                    <sponsor-credit-pull id="sponsorcreditpull" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'SponsorCreditPull')}}"></sponsor-credit-pull>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'ManualCashflowReviewAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.VerifyCashflowManual)}}">
                <loan-activity id="manualcashflow-loan-activity" activity-title="Manual CashFlow Review">
                    <manual-cashflow id="manualcashflow" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'VerifyCashflowManual')}}"></manual-cashflow>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'VerifyCashflowAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.VerifyCashflow)}}">
                <loan-activity id="verifycashflow-loan-activity" activity-title="Verify CashFlow">
                    <verify-cashflow id="verifycashflow" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'VerifyCashflow')}}"></verify-cashflow>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'ComputeOfferAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.ComputeOffers)}}">
                <loan-activity id="computeoffer-loan-activity" activity-title="Compute Offer">
                    <compute-offer id="computeoffer" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'ComputeOffers')}}"></compute-offer>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'SendBankLinkingAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.ResendBankLinking)}}">
                <loan-activity id="resendbanklinking-loan-activity" activity-title="Send Bank Linking">
                    <resend-bank-linking id="resendbanklinking" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'ResendBankLinking')}}"></resend-bank-linking>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'SendLoanAgreementAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.GenerateSendLoanAggrement)}}">
                <loan-activity id="sendloanagreement-loan-activity" activity-title="Send Loan Agreement">
                    <send-for-signature id="sendloanagreement" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'GenerateSendLoanAggrement')}}"></send-for-signature>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'EditOfferAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.EditOffer)}}">
                <loan-activity id="EditOffer-loan-activity" activity-title="Edit Offer">
                    <edit-offer id="EditOffer" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'EditOffer')}}"></edit-offer>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'PerformRiskReviewAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.PerformRiskReview)}}">
                <loan-activity id="PerformRiskReview-loan-activity" activity-title="Perform Risk Review">
                    <perform-risk-review id="PerformRiskReview" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'PerformRiskReview')}}"></perform-risk-review>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'BankurptcyAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.Bankurptcy)}}">
                <loan-activity id="Bankurptcy-loan-activity" activity-title="Bankruptcy">
                    <bankurptcy-review id="Bankurptcy" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'Bankurptcy')}}"
                        data-attributes="{{dataAttributes}}"></bankurptcy-review>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'CriminalRecordAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.CriminalRecord)}}">
                <loan-activity id="CriminalRecord-loan-activity" activity-title="Criminal Record">
                    <criminalrecord-review id="CriminalRecord" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'CriminalRecord')}}"
                        data-attributes="{{dataAttributes}}"></criminalrecord-review>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'BusinessCreditReportAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.BusinessCreditReport)}}">
                <loan-activity id="BusinessCreditReport-loan-activity" activity-title="Business Credit Report">
                    <business-credit-report id="BusinessCreditReport" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'BusinessCreditReport')}}"
                        data-attributes="{{dataAttributes}}"></business-credit-report>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'CallPaynetAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.CallPaynet)}}">
                <loan-activity id="CallPaynet-loan-activity" activity-title="Call Paynet">
                    <call-paynet id="CallPaynet" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'CallPaynet')}}"
                        data-attributes="{{dataAttributes}}"></call-paynet>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'PresentOfferAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.PresentOffers)}}">
                <loan-activity id="PresentOffers-loan-activity" activity-title="Present Offer">
                    <present-offer id="PresentOffers" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'PresentOffers')}}"></present-offer>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'ResendForSignatureAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.ResendForSignature)}}">
                <loan-activity id="ResendForSignature-loan-activity" activity-title="Resend For Signature">
                    <resend-for-signature id="ResendForSignature" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'ResendForSignature')}}"></resend-for-signature>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'StipulateDocsAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.StipulateDocs)}}">
                <loan-activity id="StipulateDocs-loan-activity" activity-title="Stipulate Docs">
                    <stipulate-docs id="StipulateDocs" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'StipulateDocs')}}"></stipulate-docs>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'UploadDocsAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.UploadDocs)}}">
                <loan-activity id="UploadDocs-loan-activity" activity-title="Upload Docs">
                    <upload-docs id="UploadDocs" class="loan-activity" current-status="{{statusObj}}" application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'UploadDocs')}}"></upload-docs>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'VerifyDocsAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.VerifyDocuments)}}">
                <loan-activity id="VerifyDocuments-loan-activity" activity-title="Verify Documents">
                    <verify-documents id="VerifyDocuments" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'VerifyDocuments')}}"></verify-documents>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'EnableReapplyAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.EnableReApply)}}">
                <loan-activity id="enableReapply-loan-activity" activity-title="Enable Re-apply">
                    <enable-reapply id="enableReapply" class="loan-activity" application-number="{{applicationNumber}}"></enable-reapply>
                </loan-activity>
            </template>
        </template>

        <template is="dom-if" if="{{hasRole(componentMap, 'ApproveApplicationAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.ApproveApplication)}}">
                <loan-activity id="approveApplication-loan-activity" activity-title="Approve Application">
                    <approve-application id="approveApplication" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'ApproveApplication')}}"></approve-application>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'RejectApplicationAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.RejectApp)}}">
                <loan-activity id="rejectApplication-loan-activity" activity-title="Reject Application">
                    <reject-application id="rejectApplication" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'RejectApp')}}"></reject-application>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'UpdateFundingDetailsAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.UpdateFundingDetails)}}">
                <loan-activity id="UpdateFundingDetails-loan-activity" activity-title="Update Funding Details">
                    <save-funding id="UpdateFundingDetails" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'UpdateFundingDetails')}}"></save-funding>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'MoveToNextAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.MoveToNextStep)}}">
                <loan-activity id="MoveToNextStep-loan-activity" activity-title="Move To Next Step">
                    <move-to-next-step id="MoveToNextStep" current-status="{{statusObj}}" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'MoveToNextStep')}}"></move-to-next-step>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'CompleteFulfillmentAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.CompleteFulfillment)}}">
                <loan-activity id="completeFulfillment-loan-activity" activity-title="Complete Fulfillment">
                    <approve-application id="completeFulfillment" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'CompleteFulfillment')}}"></approve-application>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'UpdateBankStatementAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.UploadBankStatement)}}">
                <loan-activity id="updateBankStatement-loan-activity" activity-title="Upload Bank Statement">
                    <app-update-bank-statement id="updateBankStatement" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'UploadBankStatement')}}"></app-update-bank-statement>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'AddBankAccountAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.AddBankAccount)}}">
                <loan-activity id="addBankAccount-loan-activity" activity-title="Add Bank Account">
                    <add-bank-account id="addBankAccount" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'AddBankAccount')}}"></add-bank-account>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'SwitchOwnerAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.SwitchOwner)}}">
                <loan-activity id="switchOwner-loan-activity" activity-title="Switch Owner">
                    <switch-owner id="switchOwner" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'SwitchOwner')}}"
                        data-attributes="{{dataAttributes}}"></switch-owner>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'UpdateCashflowAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.UpdateEditCashFlow)}}">
                <loan-activity id="updateCashflow-loan-activity" activity-title="Edit/Update Cashflow">
                    <update-cashflow id="updateCashflow" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'UpdateEditCashFlow')}}"></update-cashflow>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'StatusManagementAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.ChangeStatus)}}">
                <loan-activity id="statusManagement-loan-activity" activity-title="Send To Bank">
                    <status-management id="statusManagement" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'ChangeStatus')}}"></status-management>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'NotInterestedAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.NotInterestApp)}}">
                <loan-activity id="notInterestedApplication-loan-activity" activity-title="Not Interested/Cancel">
                    <not-interested-application id="notInterestedApplication" class="loan-activity" application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'NotInterestApp')}}"></not-interested-application>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'ClaimAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.Claim)}}">
                <loan-activity id="claimApp-loan-activity" activity-title="Claim {{currentEntityName}}">
                    <claim-app id="claimApp" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'Claim')}}"></claim-app>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'AssignAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.Assign)}}">
                <loan-activity id="assignApp-loan-activity" activity-title="Assign {{currentEntityName}}">
                    <assign-app id="assignApp" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'Assign')}}"></assign-app>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'ApproveSystemAppAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.ApproveSystemApp)}}">
                <loan-activity id="ApproveSystemApp-loan-activity" activity-title="Approve System Application">
                    <approve-system-app id="ApproveSystemApp" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'ApproveSystemApp')}}"></approve-system-app>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'CompleteStatusFlowAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.CompleteStatusFlow)}}">
                <loan-activity id="CompleteStatusFlow-loan-activity" activity-title="Complete Status Flow">
                    <complete-status-flow id="CompleteStatusFlow" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'CompleteStatusFlow')}}">
                    </complete-status-flow>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'DecideProductAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.DecideProduct)}}">
                <loan-activity id="DecideProduct-loan-activity" activity-title="Decide Product">
                    <decide-product id="DecideProduct" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'DecideProduct')}}"></decide-product>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'UnHoldLocAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.UnHoldLoc)}}">
                <loan-activity id="UnHoldLoc-loan-activity" activity-title="Open Loc">
                    <unhold-loc id="UnHoldLoc" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'UnHoldLoc')}}"></unhold-loc>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'OnboardAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.Onboard)}}">
                <loan-activity id="Onboard-loan-activity" activity-title="Onboard Loan">
                    <loan-onboarding id="Onboard" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'Onboard')}}"></loan-onboarding>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap, 'CancelOnboardAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap,componentMap.CancelOnboard)}}">
                <loan-activity id="CancelOnboard-loan-activity" activity-title="Cancel Onboarding">
                    <cancel-onboarding id="CancelOnboard" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'CancelOnboard')}}"></cancel-onboarding>
                </loan-activity>
            </template>
        </template>
        <url-parser id="urlac"></url-parser>
        <auth-service id="authorizeac"></auth-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "action-container",
                properties: {
                    componentMap: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    noActionMessage: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    applicationNumber: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    statusObj: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    actionEvents: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    }
                },
                ready: function () {
                    var self = this;
                    var params = self.$.urlac.getParams();
                    if (params.hasOwnProperty('entity')) {
                        self.set('currentEntityName', _.startCase(params.entity));
                    }
                },
                _showComponentTemplate: function (applicationNumber, componentMap, val) {
                    if (this.applicationNumber && this.componentMap && val) {
                        return true;
                    }
                    return false;
                },
                getEvents: function (actionEvents, action) {
                    var event = this.actionEvents[action];
                    return event;
                },
                hasRole: function (componentMap, compName) {
                    return this.$.authorizeac.hasRole(compName);
                }
            });
        });
    </script>
</dom-module>