<dom-module id="application-details-home">
    <template>
        <style>
            .nav-tabs>li.active>a,
            .nav-tabs>li.active>a:hover,
            .nav-tabs>li.active>a:focus {
                color: #555555 !important;
                cursor: default;
                background: white;
                border-bottom: #f3f3f4;
                border-color: #dddddd #dddddd rgba(0, 0, 0, 0);
                border-image: none;
                border-style: solid;
                border-width: 1px;
                -moz-border-bottom-colors: none;
                -moz-border-left-colors: none;
                -moz-border-right-colors: none;
                -moz-border-top-colors: none;
            }

            .tab-content>.active {
                display: block;
                background: white;
            }

            .loan-summary .ibox-content {
                padding-bottom: 0;
            }

            .theme-config {
                height: 100%;
                top: 0;
            }

            .theme-config-box {
                margin-right: -400px;
                position: relative;
                height: 100%;
                z-index: 99;
            }

            .theme-config-box.show {
                margin-right: 0;
            }

            .skin-settings {
                width: 395px;
                margin-left: 40px;
                background: #f3f3f2;
                height: auto;
                min-height: 100px;
                padding-bottom: 20px;
            }

            .spin-icon {
                background-color: #03466B;
            }
        </style>
        <help-text></help-text>
        <div class="theme-config">
            <div class="theme-config-box">
                <div class="spin-icon" on-click="_spinIconClick">
                    <i class="fa fa-chevron-circle-left" id="gearIcon"></i>
                </div>
                <div class="skin-settings">
                    <template is="dom-if" if="{{_isReady(applicationNumber,componentMapUpdated)}}" restamp="true">
                        <action-container id="actionContainer" application-number="{{applicationNumber}}" component-map="{{componentMap}}" action-events="{{actionEvents}}"
                            status="{{status}}" status-obj="{{statusObj}}" data-attributes="{{dataAttributes}}"></action-container>
                    </template>
                </div>
            </div>
        </div>
        <div id="MessageContainer"></div>
        <application-detail id="appDetails" application-number="{{applicationNumber}}" status-code="{{statusCode}}" status="{{status}}"
            status-obj="{{statusObj}}" action-events="{{actionEvents}}" component-map="{{componentMap}}" data-attributes="{{dataAttributes}}"
            other-attributes="{{otherAttributes}}"></application-detail>

        <fab-menu action-events="{{actionEvents}}" application-number="{{applicationNumber}}" status-obj="{{statusObj}}"></fab-menu>
        <url-parser id="urlappi"></url-parser>
        <http-request id="httpappi"></http-request>
        <alloy-config id="configappi"></alloy-config>
        <session-manager id="sessionappi"></session-manager>
        <message-component id="messageappi"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "application-details-home",
                properties: {
                    applicationNumber: {
                        type: String,
                        notify: true
                    },
                    statusObj: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    componentMap: {
                        type: Object,
                        notify: true,
                        value: {
                            Onboard: false,
                            CancelOnboard: false,
                            PutOnHold: false,
                            UnHoldLoc: false,
                            RequestDrawdown: true
                        }
                    },
                    filterTagMapping: {
                        type: Object,
                        notify: true,
                        value: {
                            "Pending Bank Linking": "PendingBankLinking",
                            "Pending Signature": "DocumentsSignature",
                            "ACH Return": "ACHReturn"
                        }
                    },
                    componentMapUpdated: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    tags: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    actionEvents: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    },
                    refreshTimeSpan: {
                        type: String,
                        notify: true
                    }
                },
                listeners: {
                    'AppDetailsPageRefresh': '_refreshAppDetails',
                    'RefreshOnUploadDoc': '_refreshOnUploadDoc',
                    'RefreshOnAssignment': '_refreshOnAssignmentChange',
                    'RefreshDataAttributes': '_refreshDataAttributesData',
                    'RefreshStatus': '_refreshStatus',
                    'RefreshVerificationDashboard': '_refreshVerificationDashboard',
                    'RefreshStatusHistory': '_refreshStatusHistory',
                    'RefreshActivity': '_refreshActivity',
                    'RefreshDocuments': '_refreshDocuments',
                    'RefreshOffers': '_refreshOffers',
                    'ShowMessage': '_showMessage'
                },
                init: function () {
                    var self = this;
                    return function () {
                        var params = self.$.urlappi.getParams();
                        var config = self.$.configappi.getConfigurationBasedOnKey("refreshTimeSpan");
                        self.set("refreshTimeSpan", config);
                        self.set('productId', params.product);
                        self.set('workflowId', params.workflow);
                        if (params.hasOwnProperty('entity')) {
                            self.set('currentEntityName', params.entity);
                        }
                        if (self.currentEntityName == "drawdown") {
                            self.applicationNumber = params.drawdownId;
                        }
                        else {
                            self.applicationNumber = params.app;
                        }
                        self._loadAppStatus(true);
                        self.loadDataAttributes(true);
                        if (self.currentEntityName === "drawdown") {
                            self.otherDataAttributes(true);
                        }
                        self._OpenActionMenu();
                    }
                },
                _spinIconClick: function (e) {
                    $('.spin-icon i').toggleClass("fa-chevron-circle-left fa-chevron-circle-right");
                    $('.theme-config-box').toggleClass('show');
                },
                ready: function () {
                    var self = this;
                    if (window.jQuery) {
                        self.init()();
                    } else {
                        window.addEventListener("WebComponentsReady", self.init());
                    }
                },
                _getAppNumber: function () {
                    if (this.applicationNumber) {
                        return true;
                    }
                    return false;
                },
                _resetComponentMap: function () {
                    var input = this.componentMap;
                    var result = _.reduce(input, function (output, value, key) {
                        output[key] = false;
                        return output;
                    }, {});
                    this.set('componentMap', result);
                },
                _isReady: function () {
                    var hasNoActions = window.location.href.toLowerCase().includes("/noaction");
                    if (this.applicationNumber && this.componentMapUpdated && !hasNoActions) {
                        return true;
                    }
                    return false;
                },
                _getActionsByTagAndStatus: function (filterActions) {
                    var statusCode = this.statusCode;
                    var tags = this.tags;
                    var params = this.$.urlappi.getParams();
                    var FilterData = filterActions[params.product][params.workflow];
                    var actions = FilterData[statusCode];
                    var filtertagInfo = _.find(tags, ["filter", params.filter]);
                    if (!_.isUndefined(filtertagInfo)) {
                        actions = _.merge(FilterData[filtertagInfo.filter], actions);
                    } else {
                        tags.forEach(function (tagObj) {
                            actions = _.merge(FilterData[tagObj.filter], actions);
                        });
                    }
                    return actions;
                },
                _initializeComponentStatus: function () {
                    var self = this;
                    var componentMap = self.componentMap;
                    var filterActions = self.$.configappi.getConfigurationBasedOnKey("filter-actions");
                    self.set("actionEvents", filterActions.events);
                    self.set("actionMessages", filterActions.messages);
                    self.$.sessionappi.setObject("actionEvents", filterActions.events);
                    if (!_.isUndefined(self.statusCode) && !_.isNull(self.statusCode)) {
                        var params = this.$.urlappi.getParams();
                        var actions = filterActions[self.statusCode];
                        if (!_.isUndefined(actions)) {
                            var result = _.reduce(componentMap, function (output, value, key) {
                                output[key] = actions.hasOwnProperty(key) ? actions[key] : false;
                                return output;
                            }, {});
                            self.set('componentMap', result);
                        }
                    }
                    else {
                        self._resetComponentMap();
                    }
                    self.set('componentMapUpdated', true);
                },
                _fetchCurrentTagsInfo: function () {
                    var self = this;
                    self._initializeComponentStatus();
                },
                _refreshAppDetails: function (e) {
                    this._updateHash();
                },
                _refreshOnUploadDoc: function (e) {
                    var appDetails = this.$$("#appDetails");
                    appDetails.$$('#docView')._getLookupData();
                    appDetails.$$('#veriDetails')._loadDocumentReasons();
                },
                _refreshOnAssignmentChange: function (e) {
                    var appDetails = this.$$("#appDetails");
                    appDetails.loadAssignments();
                },
                _updateHash: function () {
                    var randomVal = Math.floor(Math.random() * (10000 - 1 + 1)) + 1;
                    var hashStr = window.location.hash;
                    if (hashStr.includes("refresh:")) {
                        var newHash = hashStr.replace(/refresh:\d+/i, "refresh:" + randomVal);
                        window.location.hash = newHash;
                    } else {
                        window.location.hash = hashStr + "/refresh:" + randomVal;
                    }
                    window.location.reload();
                },
                _loadAppStatus: function (showLoader) {
                    var self = this;
                    var declineReasons = [];
                    var url = "/status-management/" + self.currentEntityName + "/" + self.applicationNumber + "/" + self.workflowId;
                    self.$.httpappi.get(url, "", showLoader).then(function (data) {
                        self.set("status", data.name);
                        self.set("statusCode", data.code);
                        self.set("statusObj", data);
                        if (data && data.reasonsSelected && data.reasonsSelected.length > 0) {
                            data.reasonsSelected.forEach(function (element) {
                                declineReasons.push(data.reasons[_.camelCase(element)]);
                            }, this);
                        }
                        self.set("declineReasons", declineReasons);
                        self._fetchCurrentTagsInfo();
                    }).fail(function (e) {
                        console.error("loadAppStatusFromConfig error is ", e);
                    });
                },
                loadDataAttributes: function (showLoader) {
                    var self = this;
                    var params = self.$.urlappi.getParams();
                    var url = "/application/" + params.app + "/all";
                    var dataAttributes = window.config.services.dataAttributes;
                    var keyList = ["plaidCashflow", "experianPersonalReport", "bankruptcyReportRecords", "criminalRecords", "duplicacy"];
                    self.$.httpappi.get(url, dataAttributes, showLoader).then(function (data) {
                        var mappedData = _.transform(data, function (result, value, key) {
                            if (keyList.indexOf(key) !== -1) {
                                result[key] = value;
                            }
                            else {
                                result[key] = value[0];
                            }
                        }, {});
                        self.set('dataAttributes', mappedData);
                    }).fail(function (e) {
                        console.error("loadDataAttributes error is ", e);
                    });
                },
                refreshDataAttributes: function (eventObj) {
                    var self = this;
                    self.loadDataAttributes(false);
                },
                _refreshAttribute: function (event) {
                    var self = this;
                    var data = event.detail;
                    setTimeout(function () {
                        self.refreshDataAttributes(data);
                    }, 1000);
                },
                _onFactVerified: function () {
                    var self = this;
                    setTimeout(function () {
                        var appDetails = self.$$("#appDetails");
                        appDetails.$$('#veriDetails')._loadDocumentReasons();
                        self._refreshStatus();
                        self._refreshActivity();
                        self._refreshStatusHistory();
                    }, 2000);
                },
                _OpenActionMenu: function () {
                    var self = this;
                    var OpenActionMenu = self.$.configappi.getConfigurationBasedOnKey("openAction");
                    if (OpenActionMenu) {
                        $('.spin-icon').click();
                    }
                },
                otherDataAttributes: function (showLoader) {
                    var self = this;
                    var params = self.$.urlappi.getParams();
                    var url = "/" + self.currentEntityName + "/" + params.drawdownId + "/all";
                    var dataAttributes = window.config.services.dataAttributes;
                    self.$.httpappi.get(url, dataAttributes, showLoader).then(function (data) {
                        self.set('otherAttributes', data);
                    }).fail(function (e) {
                        console.log("otherAttributes error is ", e);
                    });
                },
                _refreshDataAttributesData: function (e) {
                    var self = this;
                    setTimeout(function () {
                        self.loadDataAttributes(false);
                    }, parseInt(self.refreshTimeSpan));
                },
                _refreshStatus: function () {
                    var self = this;
                    setTimeout(function () {
                        self._loadAppStatus(false);
                    }, parseInt(self.refreshTimeSpan));
                },
                _refreshVerificationDashboard: function () {
                    var self = this;
                    setTimeout(function () {
                        self.callChildMethod("veriDetails", "_loadDocumentReasons");
                        self.fire('iron-signal', { name: 'factinitiated', data: null });
                    }, parseInt(self.refreshTimeSpan));
                },
                _refreshStatusHistory: function () {
                    var self = this;
                    setTimeout(function () {
                        self.callChildMethod("statushistoryTab", "_loadStatusList");
                    }, parseInt(self.refreshTimeSpan));
                },
                _refreshActivity: function () {
                    var self = this;
                    setTimeout(function () {
                        self.callChildMethod("activityListTab", "_reloadActivityList");
                    }, parseInt(self.refreshTimeSpan));
                },
                _refreshDocuments: function () {
                    var self = this;
                    setTimeout(function () {
                        self.callChildMethod("docView", "ready");
                    }, parseInt(self.refreshTimeSpan));
                },
                _refreshOffers: function () {
                    var self = this;
                    setTimeout(function () {
                        self.callChildMethod("offerView", "ready");
                    }, parseInt(self.refreshTimeSpan));
                },
                _showMessage: function (e) {
                    var self = this;
                    if (e.detail.data && e.detail.data.ActionName) {
                        var action = e.detail.data.ActionName;
                        var message = self.actionMessages[action];
                        self.$.messageappi.showMessage(message, "INFO", self.$.MessageContainer);
                    } else if (e.detail.data && e.detail.data.Message) {
                        self.$.messageappi.showMessage(e.detail.data.Message, "INFO", self.$.MessageContainer);
                    }
                    self._resetActionItems(e.detail.data.EventData, e.detail.data.CompnentName);
                },
                callChildMethod: function (childId, method) {
                    var appDetails = this.$$("#appDetails");
                    appDetails.$$('#' + childId)[method]();
                },
                _resetActionItems: function (event, componentName) {
                    if (event && componentName) {
                        var componentObj = $(event.target).parents().find(componentName)[0];
                        var siblingObj = $(componentObj).parent().siblings()[0];
                        $(siblingObj).trigger('click');
                    }
                }
            });
        });
    </script>
</dom-module>
<html-import html-href="app-details/applicationDetail.html"></html-import>
<html-import html-href="app-details/action-container.html"></html-import>
<html-import html-href="custom-component/floating-action-button.html"></html-import>