<dom-module id="partner-details">
    <template>
        <style>
            .inline {
                display: inline;
                margin: 10px;
            }

            .alignRight {
                text-align: right;
            }

            .nav-tabs {
                margin-bottom: -1px;
            }

            .title-case {
                text-transform: capitalize;
            }

            .nav-tabs>li.active>a,
            .nav-tabs>li.active>a:hover,
            .nav-tabs>li.active>a:focus {
                color: #555555 !important;
                cursor: default;
                background: white;
                border-bottom: #f3f3f4;
                border-color: #dddddd #dddddd rgba(0, 0, 0, 0);
                border-image: none;
                border-style: solid;
                border-width: 1px;
                -moz-border-bottom-colors: none;
                -moz-border-left-colors: none;
                -moz-border-right-colors: none;
                -moz-border-top-colors: none;
            }

            .panel-default>.panel-heading+.panel-collapse>.panel-body {
                border-top-color: #EEEEEE;
            }

            .panel-body {
                min-height: 0px;
            }

            .tab-content>.active {
                display: block;
                background: white;
            }

            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }

            address {
                margin-bottom: 20px;
                font-style: normal;
                line-height: 1.42857143;
            }

            strong {
                display: block;
            }

            .right {
                text-align: right;
            }

            .left {
                word-wrap: break-word;
            }

            .theme-config {
                height: 100%;
                top: 0;
            }

            .theme-config-box {
                margin-right: -400px;
                position: relative;
                height: 100%;
                z-index: 99;
            }

            .theme-config-box.show {
                margin-right: 0;
            }

            .skin-settings {
                width: 395px;
                margin-left: 40px;
                background: #f3f3f2;
                height: auto;
                min-height: 100px;
                padding-bottom: 20px;
            }

            .spin-icon {
                background-color: #03466B;
            }
        </style>
        <help-text></help-text>
        <div class="theme-config" hidden$="{{noActions}}">
            <div class="theme-config-box">
                <div class="spin-icon" on-click="_spinIconClick">
                    <i class="fa fa-chevron-circle-left" id="gearIcon"></i>
                </div>
                <div class="skin-settings">
                    <template is="dom-if" if="{{_isReady(partnerId,componentMapUpdated)}}" restamp="true">
                        <actions-container id="actionContainer" application-number="{{partnerId}}" component-map="{{componentMap}}" action-events="{{actionEvents}}"></actions-container>
                    </template>
                </div>
            </div>
        </div>
        <breadcrumb-links></breadcrumb-links>
        <div class="row">
            <div class="col-sm-8">
                <div class="ibox-content">
                    <ul class="nav nav-tabs" id="myTab">
                        <template is="dom-if" if="{{hasRole('PartnerPersonalDetailsTab')}}">
                            <li class="active">
                                <a data-target="#personalinfo" title="{{getTooltip('PartnerPersonalDetailsTab')}}" data-toggle="tab">Partner Details</a>
                            </li>
                        </template>
                        <template is="dom-if" if="{{hasRole('PartnerUserTab')}}">
                            <li>
                                <a data-target="#partnerUsers" title="{{getTooltip('PartnerPersonalDetailsTab')}}" data-toggle="tab">Partner Users</a>
                            </li>
                        </template>
                    </ul>
                    <div class="tab-content panel-body">
                        <div class$="{{addActiveClassIfHasRole('PartnerPersonalDetailsTab')}}" id="personalinfo">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table">
                                        <tr>
                                            <th colspan="6" class="header">Business Details</th>
                                        </tr>
                                        <tr>
                                            <th class="right">Business Name</th>
                                            <td class="left">{{ partnerDetails.name }}</td>
                                            <th class="right">DBA</th>
                                            <td class="left">{{ partnerDetails.dba }}</td>
                                            <th class="right">Nick Name</th>
                                            <td class="left">{{ partnerDetails.nickName }}</td>
                                        </tr>
                                        <tr>
                                            <th class="right">Incorporation Date</th>
                                            <td class="left">{{ date(partnerDetails.inCorporationDate.time) }}</td>
                                            <th class="right">Submitted Date</th>
                                            <td class="left">{{ date(partnerDetails.submittedDate.time) }}</td>
                                            <th class="right">Notes</th>
                                            <td class="left">{{ partnerDetails.notes }}</td>
                                        </tr>
                                        <tr>
                                            <th class="right">Address</th>
                                            <td class="left">
                                                <address>
                                                    {{ partnerDetails.address.line1 }} {{ partnerDetails.address.line2 }}
                                                    <br> {{ partnerDetails.address.line3 }}
                                                    <br> {{ partnerDetails.address.city }} {{ partnerDetails.address.state }}
                                                    {{ partnerDetails.address.zipCode }}
                                                </address>
                                            </td>
                                            <th class="right">EIN</th>
                                            <td class="left">{{ partnerDetails.ein }}</td>
                                            <th class="right">WebSite</th>
                                            <td class="left">{{ partnerDetails.webSite }}</td>
                                        </tr>
                                        <tr>
                                            <th colspan="6" class="header">Principal Owner Details</th>
                                        </tr>
                                        <tr>
                                            <th class="right">Name</th>
                                            <td class="left">{{ _fullName(partnerDetails.principalOwner) }}</td>
                                            <th class="right">Date Of Birth</th>
                                            <td class="left">{{ date(partnerDetails.principalOwner.dateOfBirth) }}</td>
                                            <th class="right">SSN</th>
                                            <td class="left">{{ partnerDetails.principalOwner.ssn }}</td>
                                        </tr>
                                        <tr>
                                            <th class="right">Owned Percentage</th>
                                            <td class="left">{{ partnerDetails.principalOwner.ownedPercentage }}</td>
                                            <th class="right">Address</th>
                                            <td class="left">
                                                <address>
                                                    {{ partnerDetails.principalOwner.address.line1 }} {{ partnerDetails.principalOwner.address.line2 }}
                                                    <br> {{ partnerDetails.principalOwner.address.line3 }}
                                                    <br> {{ partnerDetails.principalOwner.address.city }} {{ partnerDetails.principalOwner.address.state
                                                    }} {{ partnerDetails.principalOwner.address.zipCode }}
                                                </address>
                                            </td>
                                            <th></th>
                                            <td></td>
                                        </tr>
                                        <tr>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="partnerUsers">
                            <div class="row">
                                <div class="col-sm-12">
                                    <partner-users-view modal-user="{{modalUser}}" partner-id="{{partnerId}}"></partner-users-view>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox-content" id="AddUpdateUSer" style="display:none;">
                    <div>
                        <div class='inline'>
                            <div>
                                <h4 class="modal-title">Update User</h4>
                            </div>
                        </div>
                        <div class='inline'>
                            <div class="alignRight">
                                <a id="closeAddUSer">
                                    <i class="fa style-scope loan-activity fa-times"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <add-users modal-user="{{modalUser}}"></add-users>
                </div>
            </div>
        </div>
        <url-parser id="urlpd"></url-parser>
        <http-request id="httppd"></http-request>
        <alloy-config id="configpd"></alloy-config>
        <auth-service id="authorizepd"></auth-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "partner-details",
                properties: {
                    modalUser: {
                        type: Object,
                        notify: true
                    },
                    partnerId: {
                        type: String,
                        notify: true
                    },
                    componentMap: {
                        type: Object,
                        notify: true,
                        value: {
                            EditPartner: false,
                            ApproveAndRejectBroker: false,
                            AddUsers: false
                        }
                    },
                    componentMapUpdated: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    actionEvents: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    listeners: {
                        'PartnerDetailsPageRefresh': '_refreshPartnerDetails'
                    },
                    noActions: {
                        type: Boolean,
                        notify: true,
                        value: false
                    }
                },
                hasRole: function (RoleName) {
                    return this.$.authorizepd.hasRole(RoleName);
                },
                addActiveClassIfHasRole: function (RoleName) {
                    if (this.$.authorizepd.hasRole(RoleName)) {
                        return 'tab-pane active';
                    } else {
                        return 'tab-pane';
                    }
                },
                _isReady: function () {
                    var hasNoActions = window.location.href.toLowerCase().includes("/noaction");
                    if (this.partnerId && this.componentMapUpdated && !hasNoActions) {
                        return true;
                    }
                    return false;
                },
                _initializeComponentStatus: function () {
                    var self = this;
                    var actions;
                    var params = self.$.urlpd.getParams();
                    var componentMap = self.componentMap;
                    var data = self.$.configpd.getConfigurationBasedOnKey("partner-actions");
                    actions = data[params.filter];
                    if (_.isEmpty(actions)) {
                        self.set("noActions", true);
                    } else {
                        self.set("noActions", false);
                    }
                    self.set("actionEvents", data.events);
                    var keys = Object.keys(componentMap);
                    if (actions != undefined) {
                        var actionKeys = Object.keys(actions);
                        for (var i = 0; i < keys.length; i++) {
                            if (actionKeys.indexOf(keys[i]) != -1) {
                                self.componentMap[keys[i]] = actions[keys[i]];
                            } else {
                                self.componentMap[keys[i]] = false;
                            }
                        }
                    }
                    else {
                        self._resetComponentMap();
                    }
                    self.componentMapUpdated = true;
                },
                _resetComponentMap: function () {
                    var self = this;
                    var keys = Object.keys(self.componentMap);
                    for (var i = 0; i < keys.length; i++) {
                        self.componentMap[keys[i]] = false;
                    }
                },
                _refreshPartnerDetails: function (e) {
                    var self = this;
                    if (e && e.detail && e.detail.data && e.detail.data.filter) {
                        var params = this.$.urlpd.getParams();
                        window.location.hash = "/partner-details/filter:" + e.detail.data.filter + "/partner:" + params.partner;
                    } else {
                        self._updateHash(e);
                    }
                },
                _updateHash: function (e) {
                    var randomVal = Math.floor(Math.random() * (10000 - 1 + 1)) + 1;
                    var hashStr = window.location.hash;
                    if (hashStr.includes("refresh:")) {
                        var newHash = hashStr.replace(/refresh:\d+/i, "refresh:" + randomVal);
                        window.location = newHash;
                    } else {
                        window.location = hashStr + "/refresh:" + randomVal;
                    }
                    window.location.reload();
                },
                _spinIconClick: function (e) {
                    $('.spin-icon i').toggleClass("fa-chevron-circle-left fa-chevron-circle-right");
                    $('.theme-config-box').toggleClass('show');
                },
                ready: function () {
                    var self = this;
                    var params = this.$.urlpd.getParams();
                    self.set("partnerId", params.partner);
                    self.addEventListener("PartnerDetailsPageRefresh", self._refreshPartnerDetails.bind(this));
                    self.loadPartnerDetails();
                    self._initializeComponentStatus();
                    $('#closeAddUSer').on("click", function () {
                        $('#AddUpdateUSer').hide();
                    });
                },
                loadPartnerDetails: function () {
                    var self = this;
                    var params = self.$.urlpd.getParams();
                    var partnerId = "/" + params.partner;
                    var partnersHost = window.config.services.partner;
                    self.$.httppd.get(partnerId, partnersHost).then(function (data) {
                        self.set("partnerDetails", data);
                    });
                },
                _fullName: function (prinOwner) {
                    return prinOwner.firstName + " " + prinOwner.lastName;
                },
                date: function (date) {
                    if (date !== null && date !== undefined && date !== "") {
                        return moment.tz(date, window.config.timezone).format("MM/DD/YYYY");
                    }
                    return "";
                },
                getTooltip: function (compName) {
                    var tooltip = this.$.authorizepd.getToolTip(compName, "");
                    return tooltip.data;
                }
            });
        });
    </script>
</dom-module>
<html-import html-href="partners/partner-users.html"></html-import>
<html-import html-href="partners/partner-actions.html"></html-import>