<html-import html-href="custom-component/loan-activity.html"></html-import>
<html-import html-href="partner-actions/addusers.html"></html-import>
<html-import html-href="partner-actions/edit-partner.html"></html-import>
<html-import html-href="partner-actions/approve-and-reject.html"></html-import>
<dom-module id="actions-container">
    <template>
        <template is="dom-if" if="{{hasRole('ApproveAndRejectPartnerAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.ApproveAndRejectBroker)}}">
                <loan-activity id="approveAndReject-loan-activity" activity-title="Approve/Reject Partner">
                    <approve-and-reject id="approveAndReject" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents('ApproveAndRejectBroker')}}"></approve-and-reject>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole('AddUsersAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.AddUsers)}}">
                <loan-activity id="addUsers-activity" activity-title="Add Users">
                    <add-users id="addUsers" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents('AddUsers')}}"></add-users>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole('EditBrokerAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.EditPartner)}}">
                <loan-activity id="editPartner-loan-activity" activity-title="Edit Partner" height="height:462px">
                    <edit-broker id="editPartner" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents('EditPartner')}}"></edit-broker>
                </loan-activity>
            </template>
        </template>
        <auth-service id="authorizepa"></auth-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "actions-container",
                properties: {},
                _showComponentTemplate: function (applicationNumber, val) {
                    if (this.applicationNumber && val) {
                        return true;
                    }
                    return false;
                },
                getEvents: function (action) {
                    var event = this.actionEvents[action];
                    return event;
                },
                hasRole: function (compName) {
                    return this.$.authorizepa.hasRole(compName);
                }
            });
        });
    </script>
</dom-module>