<html-import html-href="custom-component/loan-activity.html"></html-import>
<html-import html-href="loan-actions/apply-suspense.html"></html-import>
<html-import html-href="loan-actions/charged-off.html"></html-import>
<html-import html-href="loan-actions/new-drawdown-request.html"></html-import>
<html-import html-href="loan-actions/pause-accrual.html"></html-import>
<html-import html-href="loan-actions/pause-auto-payment.html"></html-import>
<html-import html-href="loan-actions/sell-off.html"></html-import>
<html-import html-href="loan-actions/start-accrual.html"></html-import>
<html-import html-href="loan-actions/start-auto-payment.html"></html-import>
<html-import html-href="loan-actions/update-bank-details.html"></html-import>
<html-import html-href="loan-actions/update-borrower-details.html"></html-import>
<html-import html-href="loan-actions/apply-fees.html"></html-import>
<html-import html-href="loan-actions/close-loan.html"></html-import>
<html-import html-href="loan-actions/payoff-calculator.html"></html-import>
<html-import html-href="loan-actions/manual-payment.html"></html-import>
<html-import html-href="loan-actions/schedule-payment.html"></html-import>
<html-import html-href="loan-actions/other-contact.html"></html-import>
<html-import html-href="loan-actions/update-bank-statement.html"></html-import>
<html-import html-href="loan-actions/refund-payment.html"></html-import>
<html-import html-href="loan-actions/loan-upload-docs.html"></html-import>
<html-import html-href="loan-actions/send-mail.html"></html-import>
<html-import html-href="loan-actions/loan-mod.html"></html-import>
<html-import html-href="loan-actions/adhoc-payment.html"></html-import>
<dom-module id="actions-container">
    <template>
        <style>
            .activity-action-btn {
                padding: 10px;
                width: 100%;
                font-size: inherit;
            }

            .header {
                font-size: 20px !important;
            }

            .title-case {
                text-transform: capitalize;
                margin: 10px 10px;
            }
        </style>
        <template is="dom-if" if="{{hasRole(componentMap,'UpdatePaymentInstrumentAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(componentMap,componentMap.UpdatePaymentInstrument)}}">
                <loan-activity id="paymentInstrument-loan-activity" activity-title="Update Payment Instrument">
                    <payment-instrument id="paymentInstrument" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'UpdatePaymentInstrument')}}"></payment-instrument>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'UpdateBankDetailAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(componentMap,componentMap.UpdateBankDetail)}}">
                <loan-activity id="UpdateBankDetail-loan-activity" activity-title="Update Bank Details">
                    <update-bank-details id="UpdateBankDetail" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'UpdateBankDetail')}}"
                        loan-data="{{loanData}}" bank-list="{{bankList}}"></update-bank-details>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'UpdateBorrowerDetailAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(componentMap,componentMap.UpdateBorrowerDetail)}}">
                <loan-activity id="UpdateBorrowerDetail-loan-activity" activity-title="Update Contact Information">
                    <update-borrower-details id="UpdateBorrowerDetail" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'UpdateBorrowerDetail')}}"
                        loan-data="{{loanData}}"></update-borrower-details>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'MakePaymentAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(componentMap,componentMap.MakePayment)}}">
                <loan-activity id="MakePayment-loan-activity" activity-title="Make Payment">
                    <manual-payment id="MakePayment" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'MakePayment')}}"
                        bank-list="{{bankList}}" loan-data="{{loanData}}" schedule-list="{{scheduleList}}"></manual-payment>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'SchedulePaymentAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(componentMap,componentMap.SchedulePayment)}}">
                <loan-activity id="SchedulePayment-loan-activity" activity-title="Schedule Payment">
                    <schedule-payment id="SchedulePayment" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'SchedulePayment')}}"></schedule-payment>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'NewDrawDownRequestAction')}}">
            <template is="dom-if" if="{{isActionVisible(loanData)}}">
                <template is="dom-if" if="{{_showComponentTemplate(componentMap,componentMap.NewDrawDownRequest)}}">
                    <loan-activity id="NewDrawDownRequest-loan-activity" activity-title="New Draw Request">
                        <new-drawdown-request id="NewDrawDownRequest" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'NewDrawDownRequest')}}"
                            loan-number="{{loanData.loanApplicationNumber}}"></new-drawdown-request>
                    </loan-activity>
                </template>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'ApplySuspenseAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(componentMap,componentMap.ApplySuspense)}}">
                <loan-activity id="ApplySuspense-loan-activity" activity-title="Apply Suspense">
                    <apply-suspense id="ApplySuspense" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'ApplySuspense')}}"
                        current-economics-data="{{currentEconomicsData}}"></apply-suspense>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'PauseAutoPaymentAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(componentMap,componentMap.PauseAutoPayment)}}">
                <loan-activity id="PauseAutoPayment-loan-activity" activity-title="Pause Auto Payment">
                    <pause-auto-payment id="PauseAutoPayment" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'PauseAutoPayment')}}"></pause-auto-payment>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'StartAutoPaymentAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(componentMap,componentMap.StartAutoPayment)}}">
                <loan-activity id="StartAutoPayment-loan-activity" activity-title="Start Auto Payment">
                    <start-auto-payment id="StartAutoPayment" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'StartAutoPayment')}}"></start-auto-payment>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'PauseAccrualAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(componentMap,componentMap.PauseAccrual)}}">
                <loan-activity id="PauseAccrual-loan-activity" activity-title="{{checkPortfolioType(loanData)}}">
                    <pause-accrual id="PauseAccrual" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'PauseAccrual')}}"
                        current-economics-data="{{currentEconomicsData}}" loan-data="{{loanData}}"></pause-accrual>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'StartAccrualAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(componentMap,componentMap.StartAccrual)}}">
                <loan-activity id="StartAccrual-loan-activity" activity-title="Start Accrual">
                    <start-accrual id="StartAccrual" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'StartAccrual')}}"
                        current-schedule="{{currentSchedule}}"></start-accrual>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'ApplyFeesAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(componentMap,componentMap.ApplyFees)}}">
                <loan-activity id="ApplyFees-loan-activity" activity-title="Apply Fee/Charge">
                    <apply-fees id="ApplyFees" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'ApplyFees')}}"></apply-fees>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'ChargedOffAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(componentMap,componentMap.ChargedOff)}}">
                <loan-activity id="ChargedOff-loan-activity" activity-title="Charge Off">
                    <charged-off id="ChargedOff" class="loan-activity" current-economics-data="{{currentEconomicsData}}" application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'ChargedOff')}}"></charged-off>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'SellOffAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(componentMap,componentMap.SellOff)}}">
                <loan-activity id="SellOff-loan-activity" activity-title="Sell Off">
                    <sell-off id="SellOff" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'SellOff')}}"
                        current-economics-data="{{currentEconomicsData}}"></sell-off>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'CloseLoanAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(componentMap,componentMap.CloseLoan)}}">
                <loan-activity id="CloseLoan-loan-activity" activity-title="Close Loan">
                    <close-loan id="CloseLoan" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'CloseLoan')}}"></close-loan>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'PayoffCalculatorAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(componentMap,componentMap.PayoffCalculator)}}">
                <loan-activity id="PayoffCalculator-loan-activity" activity-title="Estimate Pay-off">
                    <payoff-calculator id="PayoffCalculator" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'PayoffCalculator')}}"
                        pay-calculator="{{payCalculator}}" current-economics-data="{{currentEconomicsData}}"></payoff-calculator>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'OtherContactAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(componentMap,componentMap.OtherContact)}}">
                <loan-activity id="OtherContact-loan-activity" activity-title="Collection Details" perform-action="addNewCollectionBtn">
                    <other-contact id="OtherContact" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'OtherContact')}}"
                        add-new-contact="{{addNewContact}}"></other-contact>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'UpdateBankStatementAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(componentMap,componentMap.UploadBankStatement)}}">
                <loan-activity id="updateBankStatement-loan-activity" activity-title="Upload Bank Statement">
                    <update-bank-statement id="updateBankStatement" class="loan-activity" application-number="{{loanData.loanApplicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'UploadBankStatement')}}"></update-bank-statement>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'RefundPaymentAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(componentMap,componentMap.RefundPayment)}}">
                <loan-activity id="RefundPayment-loan-activity" activity-title="Refund Excess Payment">
                    <refund-payment id="RefundPayment" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'RefundPayment')}}"
                        bank-list="{{bankList}}" current-economics-data="{{currentEconomicsData}}"></refund-payment>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'UploadDocsAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(componentMap,componentMap.UploadDocs)}}">
                <loan-activity id="UploadDocs-loan-activity" activity-title="Upload Docs">
                    <loan-upload-docs id="UploadDocs" class="loan-activity" current-status="{{statusObj}}" application-number="{{applicationNumber}}"
                        fire-event="{{getEvents(actionEvents,'UploadDocs')}}"></loan-upload-docs>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'SendMailAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(componentMap,componentMap.SendMail)}}">
                <loan-activity id="SendMail-loan-activity" activity-title="Send Mail">
                    <send-mail id="SendMail" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'UploadDocs')}}"></send-mail>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'LoanModificationAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(componentMap,componentMap.LoanModification)}}">
                <loan-activity id="LoanMod-loan-activity" activity-title="Loan Modification" perform-action="loanModModalBtn">
                    <loan-mod id="LoanMod" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'LoanModification')}}"
                        loan-modification="{{loanModification}}"></loan-mod>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{hasRole(componentMap,'AdhocPaymentAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(componentMap,componentMap.AdhocPayment)}}">
                <loan-activity id="AdhocPayment-loan-activity" activity-title="Recast" perform-action="adhocPaymentBtn">
                    <adhoc-payment id="AdhocPayment" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents(actionEvents,'AdhocPayment')}}"
                        adhoc-payment="{{adhocPayment}}"></adhoc-payment>
                </loan-activity>
            </template>
        </template>
        <template is="dom-if" if="{{_showComponentTemplate(componentMap,componentMap.NoAction)}}">
            <h1 class="header title-case">{{noActionMessage}}</h1>
        </template>
        <alloy-config id="configloanac"></alloy-config>
        <url-parser id="urlloanac"></url-parser>
        <http-request id="httploanac"></http-request>
        <alloy-format id="formatloanac"></alloy-format>
        <auth-service id="authorizeloanac"></auth-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "actions-container",
                properties: {
                    scheduleList: {
                        type: Array,
                        notify: true,
                        reflectToAttribute: true
                    },
                    componentMap: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    noActionMessage: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    statusObj: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    bankList: {
                        type: Array,
                        notify: true,
                        reflectToAttribute: true
                    },
                    currentSchedule: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    currentEconomicsData: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    loanData: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    payCalculator: {
                        type: Array,
                        notify: true,
                        reflectToAttribute: true
                    },
                    addNewContact: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    loanModification: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    adhocPayment: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    actionEvents: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    }
                },
                ready: function () {
                    var self = this;
                },
                _showComponentTemplate: function (componentMap, val) {
                    if (this.componentMap && val) {
                        return true;
                    }
                    return false;
                },
                getEvents: function (actionEvents, action) {
                    var self = this;
                    var event = self.actionEvents[action];
                    return event;
                },
                hasRole: function (componentMap, compName) {
                    return this.$.authorizeloanac.hasRole(compName);
                },
                isActionVisible: function (loanData) {
                    var self = this;
                    if (!_.isUndefined(loanData) && !_.isNull(loanData) && !_.isEmpty(loanData)) {
                        if (self.loanData.productPortfolioType === "LineOfCredit" || self.loanData.productPortfolioType === "MCALOC")
                            return true;
                        else
                            return false;
                    }
                    else {
                        return false;
                    }
                },
                _showLoanMode: function (componentMap, LoanModification, scheduleList) {
                    var self = this;
                    if (!_.isUndefined(scheduleList) && !_.isNull(scheduleList) && !_.isEmpty(scheduleList)) {
                        var currentScheduleLoanMod = _.find(self.scheduleList, ["modStatus", "Created"]);
                        if (currentScheduleLoanMod !== undefined && currentScheduleLoanMod !== null && currentScheduleLoanMod !== "")
                            return false;
                        else
                            return true;
                    }
                    else {
                        return true;
                    }
                },
                checkPortfolioType: function (objType) {
                    var self = this;
                    if (self.loanData.productPortfolioType != "MCA" && self.loanData.productPortfolioType != "MCALOC") {
                        return "Pause/Re-start Accrual or Payments";
                    }
                    return "Pause/Re-start Payments";
                }
            });
        });
    </script>
</dom-module>