<html-import html-href="loaders/sk-wave.html"></html-import>
<html-import html-href="custom-component/cashflow-report.html"></html-import>
<dom-module id="cashflow-info">
    <template>
        <style>
            .panel-body {
                min-height: 0px;
            }

            .cell {
                margin: 5px;
                padding: 5px;
            }

            .show {
                display: block;
            }

            .hide {
                display: none;
            }

            .panel-group .panel {
                border-radius: 0;
                box-shadow: none;
                border-color: #EEEEEE;
            }

            .panel.panel-default {
                margin-bottom: 10px !important;
            }

            .panel-title>a {
                display: block;
                padding: 15px;
                text-decoration: none;
            }

            .more-less {
                float: right;
            }

            .panel-default>.panel-heading+.panel-collapse>.panel-body {
                border-top-color: #EEEEEE;
            }

            .dollerClass::before {
                content: "$ ";
            }

            .panel-title {
                font-size: 14px;
                margin-top: 0 !important;
            }

            ul {
                list-style-type: none !important;
                padding-left: 0px;
            }

            .panel-group {
                margin: 20px auto;
            }

            .div-ul {
                padding: 0;
            }

            .div-ul li {
                display: inline-flex;
                width: 47%;
                margin: 5px auto;
            }

            .div-ul li>b {
                margin-right: 2px;
            }

            .div-ul li>b:nth-of-type(2) {
                font-weight: normal;
            }

            .div-ul.menu li {
                width: 33%;
            }

            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .error-message {
                color: red;
                font: bold;
            }
        </style>
        <spinkit-wave hidden$="{{loading}}"></spinkit-wave>
        <div id="CashFlowGeneralMessageContainer"></div>
        <div class="row">
            <div class="col-lg-12" hidden$="{{!loading}}">
                <template is="dom-repeat" items="{{cashflowList}}" as="cashflow">
                    <div class="panel-group" id="cfPanel{{cashflow.id}}" role="tablist" aria-multiselectable="true">
                        <cashflow-report application-number="{{applicationNumber}}" status-code="{{statusCode}}" report-list="{{cashflow.report}}"
                            fire-event="{{fireEvent}}" show-menu="{{showMenu}}" edit-cashflow-summary="{{editCashflowSummary}}"
                            all-cashflow-summary="{{allCashflowSummary}}" spin="{{spin}}" edit-bank-obj="{{editBankObj}}" current-key="{{currentKey}}"
                            current-account-id="{{cashflow.accountId}}" funding-account-id="{{fundingAccountId}}" cashflow-account-id="{{cashflowAccountId}}"></cashflow-report>
                    </div>
                </template>
            </div>
        </div>
        <div id="addEditCashflowSummaryPopup" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title docSubject">Add/Edit {{currentKey}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form is="iron-form" class="form-horizontal" name="editcashflowsummary" id="editcashflowsummaryForm">
                                    <dynamic-form id="dynamicEditCashflow" form-configuration={{editCashflowSummary}} values="{{editCashflowSummary.values}}"></dynamic-form>
                                    <br/>
                                    <paper-button class="btn btn-primary activity-action-btn" on-click="_submitCashflowSummary" raised>Submit</paper-button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="editBankAccountPopup" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title docSubject">Edit Bank Account</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="CasfhlowMessageContainer"></div>
                                <form is="iron-form" class="form-horizontal" name="editbankaccount">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <paper-input type="text" class="custom-input" auto-validate maxlength="9" minlength="9" value="{{editBankObj.values.RoutingNumber}}"
                                                name="routingNumber" id="routingNumber" label="Routing Number" required on-change="_getBankName"></paper-input>
                                        </div>
                                    </div>
                                    <dynamic-form id="dynamicEditBankAccount" form-configuration={{editBankObj}} values="{{editBankObj.values}}"></dynamic-form>
                                    <br/>
                                    <paper-button class="btn btn-primary activity-action-btn" on-click="_submitEditAccount" raised>Submit</paper-button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="viewTransactionListPopup" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title docSubject">View Transaction List</h4>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div id="transactionListContainer"></div>
                            <spinkit-wave hidden$="{{spin}}"></spinkit-wave>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <alloy-config id="config"></alloy-config>
        <auth-service id="authorize"></auth-service>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "cashflow-info",
                properties: {
                    cfConfig: {
                        type: Object,
                        notify: true
                    },
                    loading: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    cashflowList: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    },
                    statusCode: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    applicationNumber: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    editCashflowSummary: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {},
                            values: {}
                        },
                        reflectToAttribute: true
                    },
                    allCashflowSummary: {
                        type: Object,
                        notify: true,
                        value: {},
                        reflectToAttribute: true
                    },
                    currentKey: {
                        type: String,
                        notify: true,
                        value: '',
                        reflectToAttribute: true
                    },
                    showMenu: {
                        type: Boolean,
                        notify: true,
                        value: true
                    },
                    editBankObj: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true,
                        value: {
                            controls: {
                                BankName: {
                                    label: "Bank Name",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: true,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 10,
                                        maxLen: 100
                                    }
                                },
                                AccountNumber: {
                                    label: "Account Number",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 0,
                                        maxLen: 20
                                    }
                                },
                                CurrentBalance: {
                                    label: "Current Balance",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 0,
                                        maxLen: 20
                                    }
                                },
                                AvailableBalance: {
                                    label: "Available Balance",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 0,
                                        maxLen: 20
                                    }
                                },
                                AccountType: {
                                    label: "Account Type",
                                    type: "combobox",
                                    selectList: [
                                        { key: 'Checking', value: 'Checking' },
                                        { key: 'Savings', value: 'Savings' }
                                    ],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                BalanceAsOfDate: {
                                    label: "Balance As Of Date",
                                    type: "date",
                                    format: "MM-DD-YYYY",
                                    minFactor: 10,
                                    maxFactor: 0,
                                    validations: {
                                        required: false,
                                        min: true,
                                        max: true
                                    }
                                }
                            },
                            values: {
                                RoutingNumber: "",
                                BankName: "",
                                AccountNumber: "",
                                CurrentBalance: 0,
                                AvailableBalance: 0,
                                AccountType: "",
                                BalanceAsOfDate: "",
                                Source: "",
                                AccountId: ""
                            }
                        }
                    },
                    fundingAccountId: {
                        type: String,
                        notify: true,
                        value: '',
                        reflectToAttribute: true
                    },
                    cashflowAccountId: {
                        type: String,
                        notify: true,
                        value: '',
                        reflectToAttribute: true
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    },
                    spin: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    loanData: {
                        type: Object,
                        notify: true,
                        observer: '_setApplicationId',
                        reflectToAttribute: true
                    }
                },
                _setApplicationId: function () {
                    var self = this;
                    self.set('applicationNumber', self.loanData.loanApplicationNumber);
                    self.getWorkFlowId();
                },
                getWorkFlowId: function () {
                    var self = this;
                    var url = "/status-management/" + self.currentEntityName + "/" + self.applicationNumber + "/statusworkflow";
                    self.$.http.get(url, "").then(function (data) {
                        if (data !== undefined && data !== null && data !== "") {
                            self.setApplicationStatus(data.statusWorkFlowId);
                        }
                    }).fail(function (e) {
                        console.error("Get workflow id ", e);
                    });
                },
                setApplicationStatus: function (statusWorkFlowId) {
                    var self = this;
                    var url = "/status-management/" + self.currentEntityName + "/" + self.applicationNumber + "/" + statusWorkFlowId;
                    self.$.http.get(url, "", false).then(function (data) {
                        if (data !== undefined && data !== null && data !== "") {
                            self.set("statusCode", data.code);
                        }
                    }).fail(function (e) {
                        console.error("loadAppStatusFromConfig error is ", e);
                    });
                },
                init: function () {
                    var self = this;
                    self._getCashflowPreferenceDetails();
                },
                ready: function () {
                    var self = this;
                    setTimeout(function () {
                        self._initJQueryEvents();
                        $('#addEditCashflowSummaryPopup').on('shown.bs.modal', function initDynamicForm(e) {
                            var dynamicForm = document.querySelector('#dynamicEditCashflow');
                            dynamicForm.init();
                            var form = document.querySelector('#editcashflowsummaryForm');
                            form.validate();
                        });
                        $('#addEditCashflowSummaryPopup').on('hidden.bs.modal', function initDynamicForm(event) {
                            var form = document.querySelector('#editcashflowsummaryForm');
                            form.reset();
                            self.set('editCashflowSummary', { controls: {}, values: {} });
                        });
                    }, 5000);
                },
                _getBankName: function () {
                    var self = this;
                    var editBankObj = _.cloneDeep(self.editBankObj);
                    var url = "/bank-details/" + editBankObj.values.RoutingNumber;
                    self.$.http.get(url, "").then(function (response) {
                        editBankObj.values.BankName = response.name;
                        self.set('editBankObj', editBankObj);
                    }).fail(function (e) {
                        editBankObj.values.BankName = "";
                        self.set('editBankObj', editBankObj);
                        self.$.message.showMessage(response.message, "ERROR", self.$$('#CasfhlowMessageContainer'));
                    });
                },
                _getCashflowPreferenceDetails: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    var url = "/" + self.currentEntityName + "/" + self.applicationNumber + "/accountTypeSet";
                    var payload = {
                        IsFundingAccount: true,
                        IsCashflowAccount: true
                    };
                    self.$.http.post(url, payload, window.config.services.ibvService).then(function (data) {
                        if (data != null && data.accounts != null && data.accounts.length > 0) {
                            var fundingAccount = _.find(data.accounts, function (o) { return o.isFundingAccount == true; });
                            if (fundingAccount != undefined) {
                                self.set('fundingAccountId', fundingAccount.providerAccountId);
                            }
                            var cashflowAccount = _.find(data.accounts, function (o) { return o.isCashflowAccount == true; });
                            if (cashflowAccount != undefined) {
                                self.set('cashflowAccountId', cashflowAccount.providerAccountId);
                            }
                        }
                        self.set('loading', true);
                        self.loadCashFlowConfig();
                    }).fail(function (e) {
                        self.set('loading', true);
                        var response = e.responseJSON;
                        if (response) {
                            self.$.message.showMessage(response.message, "ERROR", self.$$('#CashFlowGeneralMessageContainer'));
                        }
                        else {
                            self.$.message.showMessage("Get Cashflow Preference error ", "ERROR", self.$$('#CashFlowGeneralMessageContainer'));
                        }
                        self.loadCashFlowConfig();
                    });
                },
                _submitEditAccount: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    if (form.validate()) {
                        var payload = self.editBankObj.values;
                        var url = "/" + self.currentEntityName + "/" + self.applicationNumber + "/updateBankAccount";
                        self.$.http.post(url, payload, window.config.services.ibvService).then(function (data) {
                            $('#editBankAccountPopup').modal('hide');
                            self.raiseAppRefreshEvent();
                        }).fail(function (e) {
                            var response = e.responseJSON;
                            if (response) {
                                self.$.message.showMessage(response.message, "ERROR", self.$$('#CasfhlowMessageContainer'));
                            }
                            else {
                                self.$.message.showMessage("Add bank account error ", "ERROR", self.$$('#CasfhlowMessageContainer'));
                            }
                        });
                    }
                },
                _submitCashflowSummary: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    if (form.validate()) {
                        var objData = _.split(self.allCashflowSummary.name, "-", 3);
                        var payload = {
                            AccountID: self.allCashflowSummary.accountId,
                            InstitutionName: objData[0],
                            AccountNumber: objData[1],
                            AccountType: objData[2],
                            AccountHeader: self.allCashflowSummary.name,
                            Source: self.allCashflowSummary.source,
                            HasSubReports: self.allCashflowSummary.hasSubReports,
                            CashFlow: {
                                TransactionSummary: {},
                                MonthlySummary: {},
                                MonthlyCashFlows: []
                            }
                        };
                        if (self.currentKey === "Cash flow Summary") {
                            payload.CashFlow.TransactionSummary = self.editCashflowSummary.values;
                            payload.CashFlow.MonthlySummary = self.allCashflowSummary['Monthly Summary'].values;
                        } else if (self.currentKey === "Monthly Summary") {
                            payload.CashFlow.MonthlySummary = self.editCashflowSummary.values;
                            payload.CashFlow.TransactionSummary = self.allCashflowSummary['Cash flow Summary'].values;
                        }
                        else {
                            payload.CashFlow.MonthlySummary = self.allCashflowSummary['Monthly Summary'].values;
                            payload.CashFlow.TransactionSummary = self.allCashflowSummary['Cash flow Summary'].values;
                            var currentIndexOfMonthlyCashflow = _.findIndex(self.allCashflowSummary.MonthlyCashFlows, function (i) { return i["Name"] + "-" + i["Year"] === self.currentKey; });
                            if (currentIndexOfMonthlyCashflow !== -1) {
                                self.allCashflowSummary.MonthlyCashFlows[currentIndexOfMonthlyCashflow] = self.editCashflowSummary.values;
                            }
                        }
                        payload.CashFlow.MonthlyCashFlows = self.allCashflowSummary.MonthlyCashFlows;
                        var cashflowServiceEndpoint = window.config.services.ibvCashFlowService;
                        var url = "/" + self.currentEntityName + "/" + self.applicationNumber + "/add/cashflow";
                        self.$.http.post(url, payload, cashflowServiceEndpoint).then(function (data) {
                            $('#addEditCashflowSummaryPopup').modal('hide');
                            self.raiseAppRefreshEvent();
                        }).fail(function (e) {
                            var response = e.responseJSON;
                            if (response) {
                                self.$.message.showMessage(response.message, "ERROR", self.$$('#CasfhlowMessageContainer'));
                            }
                            else {
                                self.$.message.showMessage("Add bank account error", "ERROR", self.$$('#CasfhlowMessageContainer'));
                            }
                        });
                    }
                },
                _initJQueryEvents: function () {
                    function showIcon(e) {
                        $(e.target).prev('.panel-heading').find(".more-less").removeClass("fa-plus").addClass("fa-minus");
                    }
                    function hideIcon(e) {
                        $(e.target).prev('.panel-heading').find(".more-less").removeClass("fa-minus").addClass("fa-plus");
                    }
                    $('.panel-default').on('hidden.bs.collapse', hideIcon);
                    $('.panel-default').on('shown.bs.collapse', showIcon);
                },
                _hasAmountField: function (field) {
                    if (field.format && (field.format === "amount" || field.format === "currencyFormat")) {
                        return true;
                    }
                    return false;
                },
                date: function (date) {
                    return formats.date(date, window.config.country, false);
                },
                _hasCondFormat: function (field) {
                    return scoring.hasCondFormat(field);
                },
                _getCondClass: function (field) {
                    return scoring.evalCondFormat(field);
                },
                _hasDateFormat: function (field) {
                    return scoring.hasDateFormat(field);
                },
                raiseAppRefreshEvent: function () {
                    this.fire('iron-signal', { name: 'refreshcashflow', data: { keyName: 'plaidCashflow' } });
                },
                loadCashFlowConfig: function () {
                    var self = this;
                    var config = self.$.config.getConfigurationBasedOnKey("cashflow-details-ibv");
                    var cashflowModel = self.$.config.getConfigurationBasedOnKey("cashflowModel");
                    self.set('cfConfig', config);
                    var url = "/" + self.currentEntityName + "/" + self.applicationNumber + "/cashflowResult";
                    self.$.http.get(url, window.config.services.ibvCashFlowService).then(function (data) {
                        if (!_.isNull(data) && !_.isUndefined(data) && !_.isEmpty(data)) {
                            var transformResult = self.transformCashflowModel(cashflowModel, data);
                            var reports = _.transform(transformResult, function (result, value, key) {
                                result.push({ accountId: value.AccountID, displayName: 'Cashflow-' + value.InstitutionName, id: 'cfOne-' + key, report: self.getReports(value) });
                            }, []);
                            self.set("cashflowList", reports);
                        }
                    }).fail(function (e) {
                        console.error("cashflow error is ", e);
                    });
                },
                transformCashflowModel: function (cashflowModel, resultData) {
                    var self = this;
                    var plaidCashflow = cashflowModel;
                    var resultList = [];
                    resultData.forEach(function (cashflowObj) {
                        plaidCashflow = {};
                        plaidCashflow.AccountHeader = cashflowObj.accountHeader;
                        plaidCashflow.AccountID = cashflowObj.accountID;
                        plaidCashflow.AccountNumber = cashflowObj.accountNumber;
                        plaidCashflow.InstitutionName = cashflowObj.institutionName;
                        plaidCashflow.AccountType = cashflowObj.accountType;
                        plaidCashflow.IsSelected = cashflowObj.isSelected;
                        plaidCashflow.Source = cashflowObj.source;
                        plaidCashflow.CashFlow = {};
                        plaidCashflow.CashFlow.MonthlyCashFlows = self.transformMonthlyCashflowModelList(cashflowObj.cashFlow.monthlyCashFlows);
                        plaidCashflow.CashFlow.CategorySummary = self.transformCategorySummaryModelList(cashflowObj.cashFlow.categorySummary);
                        plaidCashflow.CashFlow.TransactionList = null;
                        plaidCashflow.CashFlow.RecurringList = null;
                        plaidCashflow.CashFlow.MCARecurringList = null;
                        plaidCashflow.CashFlow.TransactionSummary = self.transformTransactionSummaryModelList(cashflowObj.cashFlow.transactionSummary);
                        resultList.push(plaidCashflow);
                    });

                    return resultList;
                },
                transformMonthlyCashflowModelList: function (monthlyCashflowList) {
                    var MonthlyCashFlowsList = [];
                    monthlyCashflowList.forEach(function (monthlyItem) {
                        var MonthlyCashFlows = {};
                        MonthlyCashFlows.AverageDailyBalance = monthlyItem.averageDailyBalance;
                        MonthlyCashFlows.BeginingBalance = monthlyItem.beginingBalance;
                        MonthlyCashFlows.CustomAttributes = monthlyItem.customAttributes;
                        MonthlyCashFlows.DaysBelow100Count = monthlyItem.daysBelow100Count;
                        MonthlyCashFlows.DepositCount = monthlyItem.depositCount;
                        MonthlyCashFlows.EndTransactionDate = monthlyItem.endTransactionDate;
                        MonthlyCashFlows.EndingBalance = monthlyItem.endingBalance;
                        MonthlyCashFlows.FirstTransactionDate = monthlyItem.firstTransactionDate;
                        MonthlyCashFlows.LoanPaymentAmount = monthlyItem.loanPaymentAmount;
                        MonthlyCashFlows.MaxDepositAmount = monthlyItem.maxDepositAmount;
                        MonthlyCashFlows.MaxWithdrawalAmount = monthlyItem.maxWithdrawalAmount;
                        MonthlyCashFlows.MinDepositAmount = monthlyItem.minDepositAmount;
                        MonthlyCashFlows.MinWithdrawalAmount = monthlyItem.minWithdrawalAmount;
                        MonthlyCashFlows.NSFAmount = monthlyItem.nsfAmount;
                        MonthlyCashFlows.Name = monthlyItem.name; // monthlyItem.name == undefined ? "Monthly Summary" : monthlyItem.name;
                        MonthlyCashFlows.NumberOfLoanPayment = monthlyItem.numberOfLoanPayment;
                        MonthlyCashFlows.NumberOfNSF = monthlyItem.numberOfNSF;
                        MonthlyCashFlows.NumberOfNegativeBalance = monthlyItem.numberOfNegativeBalance;
                        MonthlyCashFlows.NumberOfPayroll = monthlyItem.numberOfPayroll;
                        MonthlyCashFlows.PDFReportName = monthlyItem.pdfReportName;
                        MonthlyCashFlows.PayrollAmount = monthlyItem.payrollAmount;
                        MonthlyCashFlows.TotalDepositAmount = monthlyItem.totalDepositAmount;
                        MonthlyCashFlows.TotalMonthlyRevenueAmount = monthlyItem.totalMonthlyRevenueAmount;
                        MonthlyCashFlows.TotalMonthlyRevenueCount = monthlyItem.totalMonthlyRevenueCount;
                        MonthlyCashFlows.TotalWithdrawalAmount = monthlyItem.totalWithdrawalAmount;
                        MonthlyCashFlows.WithdrawalCount = monthlyItem.withdrawalCount;
                        MonthlyCashFlows.Year = monthlyItem.year;
                        MonthlyCashFlowsList.push(MonthlyCashFlows);
                    });
                    return MonthlyCashFlowsList;
                },
                transformCategorySummaryModelList: function (categorySummaryList) {
                    var CategorySummaryCashflowList = [];
                    categorySummaryList.forEach(function (categoryItem) {
                        var CategorySummary = {};
                        CategorySummary.TransactionCount = categoryItem.transactionCount;
                        CategorySummary.CategoryName = categoryItem.categoryName;
                        CategorySummary.TransactionTotal = categoryItem.transactionTotal;
                        CategorySummary.CategoryId = categoryItem.categoryId;
                        CategorySummary.CustomCategoryId = categoryItem.customCategoryId;
                        CategorySummary.LastMonthTransactionCount = categoryItem.lastMonthTransactionCount;
                        CategorySummary.LastMonthTransactionTotal = categoryItem.lastMonthTransactionTotal;
                        CategorySummaryCashflowList.push(CategorySummary);
                    });
                    return CategorySummaryCashflowList;
                },
                transformTransactionSummaryModelList: function (transactionSummaryList) {
                    var TransactionSummary = {};
                    if (transactionSummaryList != null && transactionSummaryList != undefined) {
                        TransactionSummary = {
                            "AnnualCalculatedRevenue": transactionSummaryList.annualCalculatedRevenue,
                            "AvailableBalance": transactionSummaryList.availableBalance,
                            "AverageBalanceLastMonth": transactionSummaryList.averageBalanceLastMonth,
                            "AverageDailyBalance": transactionSummaryList.averageDailyBalance,
                            "AverageDeposit": transactionSummaryList.averageDeposit,
                            "AverageMonthlyRevenue": transactionSummaryList.averageMonthlyRevenue,
                            "AverageWithdrawal": transactionSummaryList.averageWithdrawal,
                            "BrokerAGS": transactionSummaryList.brokerAGS,
                            "BrokerAGSText": transactionSummaryList.brokerAGSText,
                            "CAPAGS": transactionSummaryList.capags,
                            "CVOfDailyBalance": transactionSummaryList.cvOfDailyBalance,
                            "CVOfDailyDeposit": transactionSummaryList.cvOfDailyDeposit,
                            "ChangeInDepositVolume": transactionSummaryList.changeInDepositVolume,
                            "CountOfMonthlyStatement": transactionSummaryList.countOfMonthlyStatement,
                            "CurrentBalance": transactionSummaryList.currentBalance,
                            "EndDate": transactionSummaryList.endDate,
                            "LoanPaymentAmount": transactionSummaryList.loanPaymentAmount,
                            "MaxDaysBelow100Count": transactionSummaryList.maxDaysBelow100Count,
                            "MedianDailyBalance": transactionSummaryList.medianDailyBalance,
                            "MedianMonthlyIncome": transactionSummaryList.medianMonthlyIncome,
                            "NSFAmount": transactionSummaryList.nsfAmount,
                            "NumberOfLoanPayment": transactionSummaryList.numberOfLoanPayment,
                            "NumberOfNSF": transactionSummaryList.numberOfNSF,
                            "NumberOfNegativeBalance": transactionSummaryList.numberOfNegativeBalance,
                            "NumberOfPayroll": transactionSummaryList.mumberOfPayroll,
                            "OfficialName": transactionSummaryList.officialName,
                            "PDFReportName": transactionSummaryList.pdfReportName,
                            "PayrollAmount": transactionSummaryList.payrollAmount,
                            "StartDate": transactionSummaryList.startDate,
                            "TotalCredits": transactionSummaryList.totalCredits,
                            "TotalCreditsCount": transactionSummaryList.totalCreditsCount,
                            "TotalDebits": transactionSummaryList.totalDebits,
                            "TotalDebitsCount": transactionSummaryList.totalDebitsCount,
                            "TotalRevenueAmount": transactionSummaryList.totalRevenueAmount,
                            "TotalRevenueCount": transactionSummaryList.totalRevenueCount
                        };
                    }
                    return TransactionSummary;
                },
                getReports: function (responsedata) {
                    var self = this;
                    var initConfig = self.cfConfig['base'];
                    var config = self.cfConfig[initConfig.baseObject];
                    var baseReport = [];
                    if (responsedata && responsedata != null) {
                        if (initConfig.baseObjectType == 'Array') {
                            responsedata.forEach(function (rptData) {
                                var result = self.processreport(config, rptData, self.cfConfig);
                                baseReport.push(result);
                            });
                        } else {
                            var result = self.processreport(config, responsedata, self.cfConfig);
                            baseReport.push(result);
                        }
                    }
                    return baseReport;
                },
                processreport: function (report, reportdata, reportconfiguration) {
                    var self = this;
                    var reportOutput = {};
                    reportOutput.name = self.getReportDisplayName(report.displayName, reportdata);
                    reportOutput.source = reportdata && reportdata.Source ? reportdata.Source : '';
                    reportOutput.headerId = 'header' + reportOutput.name;
                    reportOutput.id = self._autoIdGenerator("reptId");
                    reportOutput.headerId = self._autoIdGenerator("reptHeaderId");
                    reportOutput.displayFormat = report.displayFormat;
                    if (report.prepareList != undefined) {
                        reportOutput.prepareList = report.prepareList;
                    } else {
                        reportOutput.prepareList = false;
                    }
                    if (report.renderOnScreen != undefined) {
                        reportOutput.renderOnScreen = report.renderOnScreen;
                    } else {
                        reportOutput.renderOnScreen = true;
                    }
                    if (report.displayFormat != undefined) {
                        reportOutput.displayFormat = report.displayFormat;
                    } else {
                        reportOutput.displayFormat = 'default';
                    }
                    if (report.innerreports == undefined && report.innerreports == null) {
                        var fieldsToprocess = report.fields;
                        reportOutput.fields = [];
                        self.processRptFields(fieldsToprocess, reportdata, reportOutput.fields);
                        reportOutput.hasSubReports = false;
                        reportOutput.subReports = null;
                        reportOutput.firstSubReports = null;
                        return reportOutput;
                    } else {
                        var allInnerReports = [];
                        report.innerreports.forEach(function (inerReport) {
                            var innerReportConfig = reportconfiguration[inerReport.name];
                            var innerReportData = self.getDataFromPath(reportdata, innerReportConfig.data);
                            if (innerReportData && !_.isUndefined(innerReportData)) {
                                if (inerReport.type == 'Object') {
                                    if (report.fields && report.fields.length > 0) {
                                        var fieldsToprocess = report.fields;
                                        reportOutput.fields = [];
                                        self.processRptFields(fieldsToprocess, reportdata, reportOutput.fields);
                                    }
                                    var inrRprt = self.processreport(innerReportConfig, innerReportData, reportconfiguration);
                                    allInnerReports.push(inrRprt);
                                }
                                if (inerReport.type == 'Array') {
                                    if (report.fields && report.fields.length > 0) {
                                        var fieldsToprocess = report.fields;
                                        reportOutput.fields = [];
                                        self.processRptFields(fieldsToprocess, reportdata, reportOutput.fields);
                                    }
                                    innerReportData.forEach(function (data) {
                                        var inrRprt = self.processreport(innerReportConfig, data, reportconfiguration);
                                        allInnerReports.push(inrRprt);
                                    });
                                }
                            }
                        });
                        reportOutput.subReports = allInnerReports;
                        reportOutput.hasSubReports = true;
                        reportOutput.firstSubReports = allInnerReports[0];
                        return reportOutput;
                    }
                },
                _randomNumber: function () {
                    return Math.floor((1 + Math.random()) * 0x10000).toString(16).substring(1);
                },
                _autoIdGenerator: function (name) {
                    return name + this._randomNumber();
                },
                processRptFields: function (fields, data, result) {
                    var self = this;
                    fields.forEach(function (field) {
                        if (field.data) {
                            var fieldToadd = {};
                            fieldToadd.label = field.label;
                            fieldToadd.data = field.data;
                            if (field.hasOwnProperty('type')) {
                                fieldToadd.type = field.type;
                            }
                            if (field.hasOwnProperty('validations')) {
                                fieldToadd.validations = field.validations;
                            }
                            if (field.hasOwnProperty('placeholder')) {
                                fieldToadd.placeholder = field.placeholder;
                            }
                            if (field.hasOwnProperty('dateCulture')) {
                                fieldToadd.dateCulture = field.dateCulture;
                            }
                            if (field.hasOwnProperty('class')) {
                                fieldToadd.class = field.class;
                            }
                            if (field.hasOwnProperty('condFormat')) {
                                fieldToadd.condFormat = field.condFormat;
                            }
                            if (field.hasOwnProperty('visibleTo')) {
                                field.isVisible = self.$.authorize.IsVisible(field.visibleTo);
                            }
                            if (field.hasOwnProperty("minFactor")) {
                                fieldToadd.minFactor = field.minFactor;
                            }
                            if (field.hasOwnProperty("maxFactor")) {
                                fieldToadd.maxFactor = field.maxFactor;
                            }
                            var dataVal = null;
                            if (field.type && field.type === 'derived') {
                                field.data = field.data.replace(/this/g, 'data');
                                dataVal = eval(field.data);
                            } else if (field.data && !_.isNull(data[field.data]) && data[field.data] !== '' && !_.isUndefined(data[field.data])) {
                                dataVal = data[field.data];
                            } else {
                                dataVal = "Not available";
                            }
                            fieldToadd.actualValue = dataVal;
                            if (field.format && dataVal != "Not available") {
                                fieldToadd.format = field.format;
                                if (self[field.format]) {
                                    fieldToadd.value = self[field.format](dataVal);
                                } else {
                                    fieldToadd.value = dataVal;
                                }
                            } else {
                                fieldToadd.value = dataVal;
                            }
                            result.push(fieldToadd);
                        } else {
                            console.log("In configuration field is empty");
                        }
                    });
                    return true;
                },
                getReportDisplayName: function (displayNameConfig, reportData) {
                    if (displayNameConfig && displayNameConfig != null) {
                        var computedDisplayName = '';
                        if (displayNameConfig.isComputable) {
                            displayNameConfig.fields.forEach(function (fieldToGet) {
                                if (reportData && reportData != null && reportData[fieldToGet] != undefined) {
                                    computedDisplayName += computedDisplayName != '' ? displayNameConfig.separator : computedDisplayName;
                                    computedDisplayName += reportData[fieldToGet];
                                }
                            });
                        }
                    }
                    if (computedDisplayName == '') {
                        return displayNameConfig.defaultdisplay;
                    } else {
                        return computedDisplayName;
                    }
                },
                _processListField: function (field, array) {
                    var self = this;
                    var temp = "";
                    if (array && array.length <= 0) {
                        return "Not available";
                    }
                    for (var i = 0; i < array.length; i++) {
                        temp = temp + self[field.format](array[i]);
                        if (i === array.length - 1) {
                            return temp;
                        }
                        temp = temp + ",";
                    }
                    return temp;
                }, getDataFromPathWithSourceData: function (data, dataPath) {
                    var keyArray = dataPath.split(".");
                    var dataVal = data;
                    keyArray.forEach(function (key) {
                        if (dataVal != undefined && key != "") {
                            dataVal = dataVal[key];
                            if (Array.isArray(dataVal)) {
                                dataVal = dataVal[0];
                            }
                        }
                    });
                    return dataVal;
                },
                getDataFromPath: function (data, dataPath) {
                    var keyArray = dataPath.split(".");
                    var dataVal = data;
                    keyArray.forEach(function (key) {
                        if (dataVal != undefined && key != "") {
                            dataVal = dataVal[key];
                        }
                    });
                    return dataVal;
                },
                formatMoney: function (value) {
                    return formats.money(value, window.config.country, 0);
                },
            });
        });
    </script>
</dom-module>