<html-import html-href="rules/rule-editor.html"></html-import>
<html-import html-href="email/html-editor.html"></html-import>
<dom-module id="template-list">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .modal-dialog1 {
                width: 1000px;
                margin: 30px auto;
            }

            .modal-dialog2 {
                width: 1200px;
                margin: 30px auto;
            }

            #ErrorMessge p {
                color: #FF0000;
            }

            #ErrorMessgeRuleEditor p {
                color: #FF0000;
            }

            #SuccessMessge p {
                color: #008000;
            }

            :host::content.Passed::before {
                background: transparent url("/images/Passed.png") no-repeat;
                background-size: 20px 20px;
                display: block;
                height: 20px;
            }

            :host::content.Failed::before {
                background: transparent url("/images/Failed.png") no-repeat;
                background-size: 20px 20px;
                background-position: 5px 5px;
                display: block;
                height: 20px;
            }

            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .twoRow {
                display: inline-block !important;
                margin: 0px 0px !important;
                width: 49% !important;
            }

            .twoRow .col-md-12 {
                padding: 0 2px;
            }
        </style>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox-content">
                    <div class="row" id="filterContainer">
                        <template is="dom-if" if="{{hasRole('AddEditEmailTemplateBtn')}}">
                            <div class="pull-right">
                                <paper-button class="btn btn-primary activity-action-btn" on-click="_addEditTemplate" raised>Add Event</paper-button>
                            </div>
                        </template>
                        <table id="emailTemplateTable" class="table table-striped" width="100%" cellspacing="0">
                        </table>
                        <custom-modal id="addEditTemplates" class="modal-drop" on-modal-hidden="resetModal">
                            <div>
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title EliRuleTitle"></h4>
                                        </div>
                                        <div class="modal-body">
                                            <div id="ErrorMessge" style="display: none;">
                                                <p></p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <form is="iron-form" class="form-horizontal" name="scorCardForm">
                                                        <div class="row twoRow">
                                                            <div class="col-md-12">
                                                                <vaadin-combo-box class="custom-input" name="Role" id="selectedProductId" value="{{selectedProductId}}" item-value-path="value"
                                                                    item-label-path="key" items="{{productList}}" label="Product"
                                                                    prevent-invalid-input="true" required on-change="_onProductChange">
                                                                </vaadin-combo-box>
                                                            </div>
                                                        </div>
                                                        <dynamic-form form-configuration={{scoreForm}} values="{{scoreForm.values}}"></dynamic-form>
                                                        <br/>
                                                        <template is="dom-if" if="{{hasRole('AddEditEmailTemplateBtn')}}">
                                                            <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                                                        </template>
                                                        <paper-button id="scorecardFormCancelBtn" class="btn btn-primary activity-action-btn" on-click="_resetForm" style="display: none;"
                                                            raised>cancel</paper-button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </custom-modal>
                        <custom-modal id="addEditEmailRuleDefinition" class="modal-drop">
                            <div>
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title lookupRuleDefinition"></h4>
                                        </div>
                                        <div class="modal-body">
                                            <div id="ErrorMessge" style="display: none;">
                                                <p></p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <form id="VariableForm" is="iron-form" class="form-horizontal">
                                                        <div class="row">
                                                            <div class="panel-left col-md-6">
                                                                <paper-input class="custom-input" type="text" auto-validate value="{{EmailRuleName}}" name="RuleName" id="EmailLookupRuleName"
                                                                    label="Rule Name"></paper-input>
                                                            </div>
                                                            <div class="panel-left col-md-6">
                                                                <paper-input class="custom-input" type="text" auto-validate value="{{EmaildataAttributeStoreName}}" name="dataAttributeStoreName"
                                                                    id="dataAttributeStoreName" label="Attribute Store Name"></paper-input>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="panel-left col-md-6">
                                                                <vaadin-combo-box class="custom-input" name="variableTypeS" value="{{SelectedDateType}}" item-value-path="value" item-label-path="key"
                                                                    items="{{DateType}}" label="Select Date Type" prevent-invalid-input="true"
                                                                    on-change="_onTypeChangeL">
                                                                </vaadin-combo-box>
                                                            </div>
                                                            <div class="panel-left col-md-6">
                                                                <vaadin-date-picker class="custom-input" id="EmailCustomDateLookup" i18n="[[i18n]]" label="Custom Date" format="{{_getFormat(item.value)}}"
                                                                    value={{EmailCustomDate}}></vaadin-date-picker>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="panel-left col-md-6">
                                                                <vaadin-date-picker class="custom-input" id="EffectiveDate" i18n="[[i18n]]" label="Effective Date" format="{{_getFormat(item.value)}}"
                                                                    value={{EmailEffectiveDate}}></vaadin-date-picker>
                                                            </div>
                                                            <div class="panel-left col-md-6">
                                                                <vaadin-date-picker class="custom-input" id="ExpiryDate" i18n="[[i18n]]" label="ExpiryDate" format="{{_getFormat(item.value)}}"
                                                                    value={{EmailExpiryDate}}></vaadin-date-picker>
                                                            </div>
                                                        </div>
                                                        <div class="row ">
                                                            <div class="panel-left col-md-6">
                                                                <paper-input class="custom-input" type="text" auto-validate value="{{EmailDERuleName}}" name="DERuleName" id="DERuleName"
                                                                    label="DE Rule Name"></paper-input>
                                                            </div>
                                                            <div class="panel-left col-md-6">
                                                                <paper-input class="custom-input" type="text" auto-validate value="{{EmailRuleVersion}}" name="RuleVersion" id="RuleVersion"
                                                                    label="Rule Version"></paper-input>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <span>Required and Optinal sources allow multiple using "," seperator</span>
                                                            <div class="panel-left col-md-6">
                                                                <paper-input class="custom-input" type="text" auto-validate value="{{EmailRequiredSources}}" name="RequiredSources" id="RequiredSources"
                                                                    label="Required Sources"></paper-input>
                                                            </div>
                                                            <div class="panel-left col-md-6">
                                                                <paper-input class="custom-input" type="text" auto-validate value="{{EmailOptionalSources}}" name="OptionalSources" id="OptionalSources"
                                                                    label="Optional Sources"></paper-input>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="panel-left col-md-12">
                                                                <paper-input class="custom-input" type="text" auto-validate value="{{EmailRuleDescription}}" name="RuleDescription" id="RuleDescription"
                                                                    label="Variable Rule Description"></paper-input>
                                                            </div>
                                                        </div>
                                                        <template is="dom-if" if="{{hasRole('AddEditRuleDefinitionBtn')}}">
                                                            <paper-button id="btnSave" class="btn btn-primary activity-action-btn" on-click="SaveLookupRules" raised>Submit</paper-button>
                                                        </template>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </custom-modal>
                        <custom-modal id="EditEmailRule" class="modal-drop" on-modal-hidden="resetModal">
                            <div>
                                <div class="modal-dialog1">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close CloseRuleEditor" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title">Add/Edit {{dispInfo}} HTML</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div id="ErrorMessgeRuleEditor" style="display: none;">
                                                <p></p>
                                            </div>
                                            <div id="SuccessMessge" style="display: none;">
                                                <p></p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <rule-editor rule-defination="{{ruleDefination}}" disp-info="{{dispInfo}}"></rule-editor>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </custom-modal>
                    </div>
                    <div id="htmlView" style="display:none;">
                        <div class="modal-header">
                            <button type="button" class="close CloseRuleEditor" on-click="backToList" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">{{dispInfo}} Preview</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <html-editor email-template="{{isEmailTemplate}}" template-list="{{emailTemplateList}}" html-defination="{{htmlDefination}}"
                                    disp-info="{{dispInfo}}"></html-editor>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <url-parser id="urltpl"></url-parser>
        <http-request id="httptpl"></http-request>
        <auth-service id="authorizetpl"></auth-service>
        <lookup-service id="lookuptpl"></lookup-service>
    </template>
    <script>
        Polymer({
            is: "template-list",
            properties: {
                selectedProductId: {
                    type: String,
                    notify: true,
                    reflectToAttribute: true
                },
                productList: {
                    type: Array,
                    notify: true,
                },
                ProductId: {
                    type: String,
                    notify: true
                },
                SelectedDateType: {
                    type: String,
                    notify: true
                },
                DateType: {
                    type: Array,
                    notify: true,
                    value: [
                        { key: "System Date", value: "SystemDate" },
                        { key: "Application Date", value: "ApplicationDate" },
                        { key: "Custom Date", value: "CustomDate" }]
                },
                RuleDefinationName: {
                    type: String,
                    notify: true
                },
                ruleId: {
                    type: String,
                    notify: true
                },
                emailTemplateList: {
                    type: Array,
                    notify: true,
                    value: []
                },
                templateId: {
                    type: String,
                    notify: true
                },
                ruleDefination: {
                    type: String,
                    notify: true
                },
                htmlDefination: {
                    type: String,
                    notify: true
                },
                EmailRuleName: {
                    type: String,
                    notify: true
                },
                EmaildataAttributeStoreName: {
                    type: String,
                    notify: true
                },
                EmailCustomDate: {
                    type: Date,
                    notify: true
                },
                CustomDate: {
                    type: Date,
                    notify: true
                },
                EmailEffectiveDate: {
                    type: Date,
                    notify: true
                },
                EmailExpiryDate: {
                    type: Date,
                    notify: true
                },
                EmailDERuleName: {
                    type: String,
                    notify: true
                },
                EmailRuleVersion: {
                    type: String,
                    notify: true
                },
                EmailRequiredSources: {
                    type: String,
                    notify: true
                },
                EmailOptionalSources: {
                    type: String,
                    notify: true
                },
                EmailRuleDescription: {
                    type: String,
                    notify: true
                },
                isEmailTemplate: {
                    type: Boolean,
                    notify: true,
                    value: false
                },
                scoreForm: {
                    type: Object,
                    notify: true,
                    value: {
                        controls: {
                            entityTypes: {
                                label: "Entity Type",
                                type: "combobox",
                                class: "twoRow",
                                selectList: [],
                                labelKey: "value",
                                labelValue: "key",
                                validations: {
                                    required: true
                                }
                            },
                            EventName: {
                                label: "Event Name",
                                type: "textbox",
                                class: "twoRow",
                                validations: {
                                    required: true,
                                    readonly: false,
                                    charcounter: false,
                                    autovalidate: true,
                                    minLen: 1,
                                    maxLen: 64
                                }
                            },
                            EmailTemplateName: {
                                label: "Email Template Name",
                                type: "textbox",
                                class: "twoRow",
                                validations: {
                                    required: true,
                                    readonly: false,
                                    charcounter: false,
                                    autovalidate: true,
                                    minLen: 1,
                                    maxLen: 64
                                }
                            },
                            EmailTemplateVersion: {
                                label: "Email Template Version",
                                type: "textbox",
                                class: "twoRow",
                                validations: {
                                    required: true,
                                    readonly: false,
                                    charcounter: false,
                                    autovalidate: true,
                                    minLen: 1,
                                    maxLen: 64
                                }
                            },
                            MobileTemplateName: {
                                label: "Mobile Template Name",
                                type: "textbox",
                                class: "twoRow",
                                validations: {
                                    required: false,
                                    readonly: false,
                                    charcounter: false,
                                    autovalidate: true,
                                    minLen: 1,
                                    maxLen: 64
                                }
                            },
                            MobileTemplateVersion: {
                                label: "Mobile Template Version",
                                type: "textbox",
                                class: "twoRow",
                                validations: {
                                    required: false,
                                    readonly: false,
                                    charcounter: false,
                                    autovalidate: true,
                                    minLen: 1,
                                    maxLen: 64
                                }
                            },
                            Description: {
                                label: "Description",
                                type: "textbox",
                                validations: {
                                    required: true,
                                    readonly: false,
                                    charcounter: false,
                                    autovalidate: true,
                                    minLen: 1,
                                    maxLen: 1000
                                }
                            },
                            EffectiveDate: {
                                label: "Effective Date",
                                type: "date",
                                class: "twoRow",
                                format: "MM/DD/YYYY",
                                minFactor: 10,
                                maxFactor: 0,
                                validations: {
                                    required: true,
                                    min: false,
                                    max: false
                                }
                            },
                            ExpiryDate: {
                                label: "Expiry Date",
                                type: "date",
                                class: "twoRow",
                                format: "MM/DD/YYYY",
                                minFactor: 10,
                                maxFactor: 0,
                                validations: {
                                    required: true,
                                    min: false,
                                    max: false
                                }
                            },
                            IsEnable: {
                                label: "Is Enable",
                                type: "checkbox",
                                validations: {
                                    required: false
                                }
                            }
                        },
                        values: {
                            ProductId: "",
                            EmailTemplateName: "",
                            EmailTemplateVersion: "",
                            MobileTemplateName: "",
                            MobileTemplateVersion: "",
                            Description: "",
                            EffectiveDate: "",
                            ExpiryDate: "",
                            IsEnable: false,
                            EventName: ""
                        }
                    }
                }
            },
            _onTypeChangeL: function (event) {
                var self = this;
                var selectedValues = event.target.value;
                if (selectedValues === "CustomDate") {
                    $('#EmailCustomDateLookup').show();
                }
                else if (selectedValues === "ApplicationDate") {
                    $('#EmailCustomDateLookup').hide();
                }
                else if (selectedValues === "SystemDate") {
                    $('#EmailCustomDateLookup').hide();
                }
                else {
                    $('#EmailCustomDateLookup').hide();
                }
            },
            observers: [
                'DateTypeChanged(scoreForm.values.DateType)'
            ],
            _onProductChange: function (event) {
                var self = this;
                var val = event.target.value;
                if (val !== "") {
                    var ResultObj = _.cloneDeep(self.scoreForm);
                    var productObj = _.find(self.productList, ['key', val]);
                    ResultObj.values.ExpiryDate = moment(productObj.expiresOn.time).format("YYYY-MM-DD");
                    ResultObj.values.EffectiveDate = moment(productObj.validFrom.time).format("YYYY-MM-DD");
                    self.set('scoreForm', ResultObj);
                }
            },
            DateTypeChanged: function (selectedValue) {
                if (selectedValue != undefined && selectedValue !== "" && selectedValue == "CustomDate") {
                    $('#SegmentCustomDate').show();
                }
                else {
                    $('#SegmentCustomDate').hide();
                }
            },
            ready: function () {
                var self = this;
                self._loadEntityTypes();
                self.loadEmailTemplate();
                self._getProductList();
            },
            hasRole: function (RoleName) {
                return this.$.authorizetpl.hasRole(RoleName);
            },
            _loadEntityTypes: function () {
                var self = this;
                var data = self.$.lookuptpl.getLookupBasedOnName("entityTypes");
                self.scoreForm.controls.entityTypes.selectList = data;
                self.set('scoreForm', $.extend({}, self.get('scoreForm'), self.scoreForm));
            },
            getApplicationData: function () {
                var self = this;
                var params = self.$.urltpl.getParams();
                var productRule = window.config.services.productRule;
                self.$.httptpl.get("/application/all/template", productRule).then(function (data) {
                    self.getDrawdownData(data);
                }).fail(function (e) {
                    self.getDrawdownData([]);
                    console.error("alert error is ", e);
                });
            },
            getDrawdownData: function (objData) {
                var self = this;
                var params = self.$.urltpl.getParams();
                var productRule = window.config.services.productRule;
                self.$.httptpl.get("/drawdown/all/template", productRule).then(function (data) {
                    var mergeData = _.concat(objData, data);
                    self.emailTemplateList = mergeData;
                    self._showResult(self.emailTemplateList);
                }).fail(function (e) {
                    console.error("Drawdown score card ", e);
                });
            },
            loadEmailTemplate: function () {
                var self = this;
                self.getApplicationData();
            },
            clearTable: function (table) {
                if (table !== null && table !== undefined) {
                    table.clear();
                    table.destroy();
                }
            },
            _showResult: function (resultData) {
                var self = this;
                var table = self.tableObj;
                if (table !== null && table !== undefined) {
                    self.clearTable(table);
                }
                $.fn.dataTable.ext.errMode = 'none';
                self.tableObj = $(this.$$('#emailTemplateTable')).DataTable({
                    retrieve: true,
                    sDom: '<"top">rt<"bottom"ip><"clear">',
                    "language": {
                        "zeroRecords": "No data found."
                    },
                    "data": resultData,
                    "order": [[0, "desc"]],
                    columnDefs: [
                        {
                            targets: 0,
                            width: "10%",
                            orderable: true
                        },
                        {
                            targets: 1,
                            width: "10%",
                            orderable: true
                        },
                        {
                            targets: 2,
                            width: "10%"
                        },
                        {
                            targets: 3,
                            width: "5%"
                        },
                        {
                            targets: 4,
                            width: "10%"
                        },
                        {
                            targets: 5,
                            width: "5%"
                        },
                        {
                            targets: 6,
                            width: "15%"
                        },
                        {
                            targets: 7,
                            width: "5%"
                        },
                        {
                            targets: 8,
                            width: "5%"
                        },
                        {
                            targets: 9,
                            width: "5%"
                        },
                        {
                            targets: 10,
                            width: "5%",
                            orderable: false
                        }
                    ],
                    "columns": [
                        {
                            "data": "productId",
                            "title": "Product",
                            "className": "datatabletd",
                            "tooltip": "Product"
                        },
                        {
                            "data": "eventName",
                            "title": "Event Name",
                            "tooltip": "Event Name"
                        },
                        {
                            "data": "emailTemplateName",
                            "title": "Email Template",
                            "className": "datatabletd",
                            "tooltip": "Email Template Name"
                        },
                        {
                            "data": "emailTemplateVersion",
                            "title": "Email Version",
                            "className": "datatabletd",
                            "tooltip": "Email Template Version"
                        },
                        {
                            "data": "mobileTemplateName",
                            "title": "Mobile Template",
                            "tooltip": "Mobile Template Name"
                        },
                        {
                            "data": "mobileTemplateVersion",
                            "title": "Mobile Version",
                            "tooltip": "Mobile Template Version"
                        },
                        {
                            "data": "description",
                            "title": "Description",
                            "className": "datatabletd",
                            "tooltip": "Email Template Description"
                        },
                        {
                            "data": "isEnable",
                            "title": "Enable",
                            "isFunction": true,
                            "render": eval("(function(data,type,full,meta) { if (data) {  return \"<i class='fa fa-check' aria-hidden='true'></i>\"; } return \"<i class='fa fa-times' aria-hidden='true'></i>\";})"),
                            "tooltip": "Is Enable"
                        },
                        {
                            "data": "effectiveDate.time",
                            "title": "Effe. Date",
                            "isFunction": true,
                            "render": eval("(function(data,type,full,meta) { if (!data) {  return ''; } return moment(data).format('MM/DD/YYYY');})"),
                            "tooltip": "Effective Date"
                        },
                        {
                            "data": "expiryDate.time",
                            "title": "Exp. Date",
                            "isFunction": true,
                            "render": eval("(function(data,type,full,meta) { if (!data) {  return ''; } return moment(data).format('MM/DD/YYYY');})"),
                            "tooltip": "Expiry Date"
                        },
                        {
                            "data": null,
                            "isFunction": true,
                            "render": eval("(function(data,type,full,meta){var SetButton=''; var RuleEditor=''; var editEmailTemplate=''; var editHtmlTemplate = ''; var editMobileTemplate = ''; if(((self.hasRole('ViewRuleBtn') == true) || (self.hasRole('AddEditRuleBtn') == true))) { RuleEditor=\"<li><a on-click='editRule' href='javascript:'>Configure Rule</a></li>\" }; if(self.hasRole('ViewEmailTemplateBtn') == true || self.hasRole('AddEditEmailTemplateBtn') == true) { editEmailTemplate=\"<li><a on-click='editEmailTemplate' href='javascript:'>Edit Event</a></li>\" }; if(self.hasRole('ViewRuleDefinitionBtn') == true || self.hasRole('AddEditRuleDefinitionBtn') == true) { SetButton= \"<li><a on-click='setData' href='javascript:'>Add/Edit Rule</a></li>\";} if((self.hasRole('ViewHtmlBtn') == true || self.hasRole('AddEditHtmlBtn') == true) && (data.emailTemplateName != undefined && data.emailTemplateName != '' && data.emailTemplateName != null && data.emailTemplateVersion != undefined && data.emailTemplateVersion != '' && data.emailTemplateVersion != null)) { editHtmlTemplate= \"<li><a on-click='editHtmlTemplate' href='javascript:'>Add/Edit Email Html</a></li>\"; } if((self.hasRole('ViewMobileTxtBtn') == true || self.hasRole('AddEditMobileTxtBtn') == true) && (data.mobileTemplateName != undefined && data.mobileTemplateName != '' && data.mobileTemplateName != null && data.mobileTemplateVersion != undefined && data.mobileTemplateVersion != '' && data.mobileTemplateVersion != null)) { editMobileTemplate= \"<li><a on-click='editMobileTemplate' href='javascript:'>Add/Edit Mobile Text</a></li>\"; }  return \"<ul class='nav navbar-right' style='font-size:15px; margin: 0 0 0 0;'><li class='dropdown'><a href='javascript:' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-expanded='false' style='padding: 3px 0px 0 5px;'><i class='fa fa-ellipsis-h' aria-hidden='true'></i></a><ul class='dropdown-menu'>\" + editEmailTemplate + SetButton + RuleEditor + editHtmlTemplate + editMobileTemplate + \"</ul></li></ul>\" })")
                        }
                    ]
                });
                $('#emailTemplateTable tbody').on('click', 'a', function (obj) {
                    var data = self.tableObj.row($(this).parents('tr')).data();
                    if (this.getAttribute("on-click") !== null && this.getAttribute("on-click") !== undefined) {
                        if (obj.target.textContent === "Configure Rule") {
                            self.editRule(data);
                        }
                        else if (obj.target.textContent === "Edit Event") {
                            self.openModel(data.id);
                        }
                        else if (obj.target.textContent === "Add/Edit Rule") {
                            self.AddRule(data.id);
                        }
                        else if (obj.target.textContent === "Add/Edit Email Html") {
                            self.editHtmlTemplate(data.id);
                        }
                        else if (obj.target.textContent === "Add/Edit Mobile Text") {
                            self.editMobileTemplate(data.id);
                        }

                    }

                });

                //Grid header tooltip
                var configData = $('#emailTemplateTable').dataTable().dataTableSettings[0].aoColumns;
                $('#emailTemplateTable thead tr')[0].childNodes.forEach(function (obj) {
                    var tooltipObj = _.filter(configData, { title: obj.innerText })
                    if (!_.isUndefined(tooltipObj) && !_.isNull(tooltipObj) && !_.isEmpty(tooltipObj)) {
                        var tooltip = tooltipObj[0].tooltip;
                        if (tooltip !== "" && tooltip !== undefined) {
                            $(obj).attr('title', tooltip);
                        }
                    }
                });
            },
            _addEditTemplate: function (event) {
                event.preventDefault();
                var self = this;
                self.templateId = "";
                var ResultObj = self.scoreForm;
                ResultObj.values.ProductId = "";
                ResultObj.values.entityTypes = "";
                ResultObj.values.EmailTemplateName = "";
                ResultObj.values.EmailTemplateVersion = "";
                ResultObj.values.MobileTemplateName = "";
                ResultObj.values.MobileTemplateVersion = "";
                ResultObj.values.Description = "";
                ResultObj.values.EffectiveDate = "";
                ResultObj.values.ExpiryDate = "";
                ResultObj.values.IsEnable = false;
                ResultObj.values.EventName = "";
                $('#selectedProductId').removeAttr('readonly');
                self.set('scoreForm', $.extend({}, ResultObj));
                var text = "Add Event";
                $('.EliRuleTitle').text(text);
                self.$$('#addEditTemplates').showModal();
            },
            _changeTextDisplay: function (value) {
                if (!_.isNull(value) && !_.isUndefined(value) && !_.isEmpty(value))
                    return _.startCase(_.lowerCase(value));
                return "";
            },
            openModel: function (objId) {
                var self = this;
                if (!_.isUndefined(objId) && !_.isNull(objId) && !_.isEmpty(objId)) {
                    var scoreObj = self._getScorCardById(self.emailTemplateList, "id", objId);
                    var ResultObj = self.scoreForm;
                    self.templateId = scoreObj.id;
                    ResultObj.values.ProductId = scoreObj.productId;
                    ResultObj.values.entityTypes = scoreObj.entityType;
                    ResultObj.values.EmailTemplateName = scoreObj.emailTemplateName;
                    ResultObj.values.EmailTemplateVersion = scoreObj.emailTemplateVersion;
                    ResultObj.values.MobileTemplateName = scoreObj.mobileTemplateName;
                    ResultObj.values.MobileTemplateVersion = scoreObj.mobileTemplateVersion;
                    ResultObj.values.Description = scoreObj.description;
                    ResultObj.values.IsEnable = scoreObj.isEnable;
                    ResultObj.values["EffectiveDate"] = moment(scoreObj.effectiveDate.time).format("YYYY-MM-DD");
                    ResultObj.values["ExpiryDate"] = moment(scoreObj.expiryDate.time).format("YYYY-MM-DD");
                    ResultObj.values.EventName = scoreObj.eventName;
                    self.RuleDefinationName = scoreObj.ruleDefinationName;
                    ResultObj.controls.entityTypes.validations.readonly = true;
                    ResultObj.controls.EmailTemplateName.validations.readonly = true;
                    self.selectedProductId = scoreObj.productId;
                    $('#selectedProductId').attr("readonly", "true");
                    self.set('scoreForm', $.extend({}, ResultObj));
                    var text = "Edit " + self._changeTextDisplay(scoreObj.emailTemplateName);
                    $('.EliRuleTitle').text(text);
                    self.$$('#addEditTemplates').showModal();
                }
            },
            editHtmlTemplate: function (objId) {
                var self = this;
                self.isEmailTemplate = true;
                self.htmlDefination = objId;
                $('#htmlView').show();
                $('#filterContainer').hide();
            },
            editMobileTemplate: function (objId) {
                var self = this;
                self.isEmailTemplate = false;
                self.htmlDefination = objId;
                $('#htmlView').show();
                $('#filterContainer').hide();
            },
            _getScorCardById: function (array, propName, scoreID) {
                var Obj = array.filter(function (e) {
                    return e[propName] === scoreID;
                })[0];
                return Obj || {};
            },
            _resetForm: function (event) {
                var form = Polymer.dom(event).localTarget.parentElement;
                form.reset();
            },
            resetModal: function () {
                var self = this;
                self.templateId = "";
                self.SelectedProductId = "";
                var ResultObj = self.scoreForm;
                ResultObj.values.ProductId = "";
                ResultObj.values.entityTypes = "";
                ResultObj.values.EmailTemplateName = "";
                ResultObj.values.EmailTemplateVersion = "";
                ResultObj.values.MobileTemplateName = "";
                ResultObj.values.MobileTemplateVersion = "";
                ResultObj.values.Description = "";
                ResultObj.values.EffectiveDate = "";
                ResultObj.values.ExpiryDate = "";
                ResultObj.values.IsEnable = false;
                ResultObj.values.EventName = "";
                self.RuleDefinationName = "";
                ResultObj.controls.entityTypes.validations.readonly = false;
                ResultObj.controls.EmailTemplateName.validations.readonly = false;
                self.htmlDefination = "";
                $('#scorecardFormCancelBtn').trigger('click');
                self.set('scoreForm', $.extend({}, ResultObj));
            },
            _verifyForm: function (event) {
                event.preventDefault();
                var self = this;
                var form = Polymer.dom(event).localTarget.parentElement;
                var RuleClassobj = "emailTemplate";
                if (form.validate()) {
                    if (!_.isUndefined(self.templateId) && !_.isNull(self.templateId) && !_.isEmpty(self.templateId)) {
                        var Payload = {
                            EmailTemplateName: self.scoreForm.values.EmailTemplateName,
                            EmailTemplateVersion: self.scoreForm.values.EmailTemplateVersion,
                            MobileTemplateName: self.scoreForm.values.MobileTemplateName,
                            MobileTemplateVersion: self.scoreForm.values.MobileTemplateVersion,
                            Description: self.scoreForm.values.Description,
                            EffectiveDate: self.scoreForm.values.EffectiveDate,
                            ExpiryDate: self.scoreForm.values.ExpiryDate,
                            IsEnable: self.scoreForm.values.IsEnable,
                            EventName: self.scoreForm.values.EventName,
                            RuleDefinationName: self.RuleDefinationName
                        }
                        var productRule = window.config.services.productRule;
                        var url = "/" + self.templateId + "/template";
                        self.$.httptpl.put(url, Payload, productRule).then(function (result) {
                            $('.close').click();
                            self.loadEmailTemplate();
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            $('div#ErrorMessge p').html(strMessage);
                            $('div#ErrorMessge').show();
                            setTimeout(function () {
                                $('div#ErrorMessge').hide();
                            }, 2000);
                            console.error("edit Attribute save error is ", e);
                        });
                    }
                    else {
                        if (!_.isUndefined(self.scoreForm.values.ProductId) && !_.isNull(self.scoreForm.values.ProductId) && !_.isEmpty(self.scoreForm.values.ProductId)) {
                            var Payload = {
                                EmailTemplateName: self.scoreForm.values.EmailTemplateName,
                                EmailTemplateVersion: self.scoreForm.values.EmailTemplateVersion,
                                MobileTemplateName: self.scoreForm.values.MobileTemplateName,
                                MobileTemplateVersion: self.scoreForm.values.MobileTemplateVersion,
                                Description: self.scoreForm.values.Description,
                                EffectiveDate: self.scoreForm.values.EffectiveDate,
                                ExpiryDate: self.scoreForm.values.ExpiryDate,
                                IsEnable: self.scoreForm.values.IsEnable,
                                EventName: self.scoreForm.values.EventName,
                                RuleDefinationName: self.RuleDefinationName
                            }
                            var productRule = window.config.services.productRule;
                            var url = "/" + self.scoreForm.values.entityTypes + "/" + self.scoreForm.values.ProductId + "/template";
                            self.$.httptpl.post(url, Payload, productRule).then(function (result) {
                                $('.close').click();
                                self.loadEmailTemplate();
                            }).fail(function (e) {
                                var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                                $('div#ErrorMessge p').html(strMessage);
                                $('div#ErrorMessge').show();
                                setTimeout(function () {
                                    $('div#ErrorMessge').hide();
                                }, 2000);
                            });
                        }
                    }
                }
            },
            formatDate: function (date) {
                if (date !== null && date !== undefined && date !== "") {
                    return moment.tz(date, window.config.timezone).format("YYYY-MM-DD");
                }
                return "";
            },
            editRule: function (e) {
                var self = this;
                if (e.ruleDefinationName != null && e.ruleDefinationName != undefined) {
                    var productRule = window.config.services.productRule;
                    var url = "/" + e.entityType + "/" + e.productId + "/" + e.ruleDefinationName + "/ruledefinition";
                    self.$.httptpl.get(url, productRule).then(function (result) {
                        if (result !== null && result !== undefined && result !== "") {
                            self.ruleDefinitionId = result.id;
                            self.ruleDefination = result.id;
                            $('div#ErrorMessge p').html("");
                            $('div#ErrorMessge').hide();
                            $('div#ErrorMessgeRuleEditor p').html("");
                            $('div#ErrorMessgeRuleEditor').hide();
                            $('div#SuccessMessge p').html("");
                            $('div#SuccessMessge').hide();
                            self.$$('#EditEmailRule').showModal();
                        }
                    });
                }
            },
            AddRule: function (objId) {
                var self = this;
                var scoreObj = self._getScorCardById(self.emailTemplateList, "id", objId);
                self.RuleDefinationName = scoreObj.ruleDefinationName;
                self.templateId = scoreObj.id;
                self.ProductId = scoreObj.productId;
                self.Entity = scoreObj.entityType;
                if (!_.isUndefined(self.RuleDefinationName) && !_.isNull(self.RuleDefinationName) && !_.isEmpty(self.RuleDefinationName)) {
                    var productRule = window.config.services.productRule;
                    var url = "/" + scoreObj.entityType + "/" + scoreObj.productId + "/" + self.RuleDefinationName + "/ruledefinition";
                    if (self.RuleDefinationName != undefined && self.RuleDefinationName != null) {
                        self.$.httptpl.get(url, productRule).then(function (result) {
                            if (result !== null && result !== undefined && result !== "") {
                                self.ruleDefinitionId = result.id;
                                self.EmailRuleName = result.ruleName;
                                self.EmailDERuleName = result.ruleDetail.deRuleName;
                                self.SelectedDateType = result.applicationType;
                                if (self.SelectedDateType === "CustomDate") {
                                    $('#EmailCustomDateLookup').show();
                                    self.EmailCustomDate = moment(result.customDate.time).format("YYYY-MM-DD");
                                }
                                else {
                                    $('#EmailCustomDateLookup').hide();
                                    self.EmailCustomDate = null;
                                }
                                self.EmailEffectiveDate = moment(result.effectiveDate.time).format("YYYY-MM-DD");
                                self.EmailExpiryDate = moment(result.expiryDate.time).format("YYYY-MM-DD");
                                self.EmailRuleVersion = result.ruleDetail.ruleVersion;
                                self.EmailRequiredSources = result.ruleDetail.requiredSources.toString();
                                self.EmailOptionalSources = result.ruleDetail.optionalSources.toString();
                                self.EmailRuleDescription = result.description;
                                self.EmaildataAttributeStoreName = result.dataAttributeStoreName;
                                $('#EmailLookupRuleName').attr('readonly', 'true');
                            }
                            else {
                                self.EmailRuleName = "";
                                self.EmailDERuleName = "";
                                self.EmailEffectiveDate = "";
                                self.EmailCustomDate = "";
                                self.SelectedDateType = "";
                                self.EmailExpiryDate = "";
                                self.EmailRuleVersion = "";
                                self.EmailRequiredSources = "";
                                self.EmailOptionalSources = "";
                                self.EmailRuleDescription = "";
                                self.EmaildataAttributeStoreName = "";
                                $('#EmailCustomDateLookup').hide();
                                $('#EmailLookupRuleName').removeAttr('readonly');
                            }
                        }).fail(function (e) {
                            console.error("Add Attribute save error is ", e);
                        });
                    }

                }
                else {
                    self.EmailRuleName = "";
                    self.EmailDERuleName = "";
                    self.EmailEffectiveDate = "";
                    self.EmailCustomDate = "";
                    self.SelectedDateType = "";
                    self.EmailExpiryDate = "";
                    self.EmailRuleVersion = "";
                    self.EmailRequiredSources = "";
                    self.EmailOptionalSources = "";
                    self.EmailRuleDescription = "";
                    self.EmaildataAttributeStoreName = "";
                    $('#EmailCustomDateLookup').hide();
                    $('#EmailLookupRuleName').removeAttr('readonly');
                }
                var text = "Manage " + self._changeTextDisplay(scoreObj.EmailTemplateName) + " Rule Definition";
                $('.lookupRuleDefinition').text(text);
                self.$$('#addEditEmailRuleDefinition').showModal();
            },
            _ValidateLookupRuleForm: function () {
                var self = this;
                if ((self.SelectedDateType == "CustomDate") && (_.isEmpty(self.EmailCustomDate) || _.isEmpty(self.ProductId) || _.isEmpty(self.EmailRuleName) || _.isEmpty(self.EmailEffectiveDate) || _.isEmpty(self.EmailExpiryDate) || _.isEmpty(self.EmailDERuleName) || _.isEmpty(self.EmailRuleVersion) || _.isEmpty(self.EmailRuleDescription))) {
                    $('div#ErrorMessge p').html("All Fields are required");
                    $('div#ErrorMessge').show();
                    return false;
                }
                else if (_.isEmpty(self.SelectedDateType) || _.isEmpty(self.ProductId) || _.isEmpty(self.EmailRuleName) || _.isEmpty(self.EmailEffectiveDate) || _.isEmpty(self.EmailExpiryDate) || _.isEmpty(self.EmailDERuleName) || _.isEmpty(self.EmailRuleVersion) || _.isEmpty(self.EmailRuleDescription)) {
                    $('div#ErrorMessge p').html("All Fields are required");
                    $('div#ErrorMessge').show();
                    return false;
                }
                return true;
            },
            SaveLookupRules: function (event) {
                event.preventDefault();
                $('div#ErrorMessge').hide();
                var self = this;
                if (self._ValidateLookupRuleForm()) {
                    if (self.ruleDefinitionId != null && self.ruleDefinitionId != undefined) {
                        var productRule = window.config.services.productRule;
                        var url = "/" + self.ruleDefinitionId + "/ruledefinition";
                        var rs = new Array();
                        var os = new Array();
                        if (self.EmailRequiredSources.toString() !== "") {
                            rs = self.EmailRequiredSources.split(',');
                        }
                        if (self.EmailOptionalSources.toString() !== "") {
                            os = self.EmailOptionalSources.split(',');
                        }
                        var CDate;
                        if (self.SelectedDateType !== "CustomDate" && (self.EmailCustomDate === "" || self.EmailCustomDate === null)) {
                            CDate = Date.now();
                        }
                        else {
                            CDate = self.EmailCustomDate
                        }
                        var Payload = {
                            DataAttributeStoreName: self.EmaildataAttributeStoreName,
                            EffectiveDate: self.EmailEffectiveDate,
                            ExpiryDate: self.EmailExpiryDate,
                            RuleClass: "emailTemplate",
                            RuleType: "Rule",
                            DERuleName: self.EmailDERuleName,
                            RuleVersion: self.EmailRuleVersion,
                            RequiredSources: rs,
                            OptionalSources: os,
                            Description: self.EmailRuleDescription,
                            ApplicationType: self.SelectedDateType,
                            CustomDate: self.formatDate(CDate)
                        }
                        self.$.httptpl.put(url, Payload, productRule).then(function (result) {
                            self.UpdateLookup(result.ruleName);
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            $('div#ErrorMessge p').html(strMessage);
                            $('div#ErrorMessge').show();
                            setTimeout(function () {
                                $('div#ErrorMessge').hide();
                            }, 2000);
                            console.error("edit Attribute save error is ", e);
                        });
                    }
                    else {
                        var productRule = window.config.services.productRule;
                        var url = "/" + self.Entity + "/" + self.ProductId + "/ruledefinition";
                        var rs = new Array();
                        var os = new Array();
                        if (self.EmailRequiredSources.toString() !== "") {
                            rs = self.EmailRequiredSources.split(',');
                        }
                        if (self.EmailOptionalSources.toString() !== "") {
                            os = self.EmailOptionalSources.split(',');
                        }
                        var CDate;
                        if (self.SelectedDateType !== "CustomDate" && (self.EmailCustomDate === "" || self.EmailCustomDate === null)) {
                            CDate = Date.now();
                        }
                        else {
                            CDate = self.EmailCustomDate
                        }
                        var Payload = {
                            RuleName: self.EmailRuleName,
                            DataAttributeStoreName: self.EmaildataAttributeStoreName,
                            EffectiveDate: self.EmailEffectiveDate,
                            ExpiryDate: self.EmailExpiryDate,
                            RuleClass: "emailTemplate",
                            RuleType: "Rule",
                            DERuleName: self.EmailDERuleName,
                            RuleVersion: self.EmailRuleVersion,
                            RequiredSources: rs,
                            OptionalSources: os,
                            Description: self.EmailRuleDescription,
                            ApplicationType: self.SelectedDateType,
                            CustomDate: self.formatDate(CDate)
                        }
                        self.$.httptpl.post(url, Payload, productRule).then(function (result) {
                            self.ruleDefinitionId = result.id;
                            self.UpdateLookup(result.ruleName);
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            $('div#ErrorMessge p').html(strMessage);
                            $('div#ErrorMessge').show();
                            setTimeout(function () {
                                $('div#ErrorMessge').hide();
                            }, 2000);
                            console.error("Add Attribute save error is ", e);
                        });
                    }
                }
            },
            UpdateLookup: function (ruleDefinitionName) {
                var self = this;
                var scoreObj = self._getScorCardById(self.emailTemplateList, "id", self.templateId);
                if (!_.isUndefined(self.templateId) && !_.isNull(self.templateId) && !_.isEmpty(self.templateId)) {
                    var Payload = {
                        EmailTemplateName: scoreObj.emailTemplateName,
                        EmailTemplateVersion: scoreObj.emailTemplateVersion,
                        MobileTemplateName: scoreObj.mobileTemplateName,
                        MobileTemplateVersion: scoreObj.mobileTemplateVersion,
                        Description: scoreObj.description,
                        EffectiveDate: moment(scoreObj.effectiveDate.time).format("YYYY-MM-DD"),
                        ExpiryDate: moment(scoreObj.expiryDate.time).format("YYYY-MM-DD"),
                        IsEnable: scoreObj.isEnable,
                        EventName: scoreObj.eventName,
                        RuleDefinationName: ruleDefinitionName
                    }
                    var productRule = window.config.services.productRule;
                    var url = "/" + self.templateId + "/template";
                    self.$.httptpl.put(url, Payload, productRule).then(function (result) {
                        $('.close').click();
                        self.loadEmailTemplate();
                    }).fail(function (e) {
                        var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                        $('div#ErrorMessge p').html(strMessage);
                        $('div#ErrorMessge').show();
                        setTimeout(function () {
                            $('div#ErrorMessge').hide();
                        }, 2000);
                        console.error("edit Attribute save error is ", e);
                    });
                }
            },
            _getResult: function (isEnable) {
                if (isEnable) {
                    return "Passed";
                } else {
                    return "Failed";
                }
            },
            backToList: function () {
                var self = this;
                self.resetModal();
                $('#htmlView').hide();
                $('#filterContainer').show();
            },
            _getProductList: function () {
                var self = this;
                var url = "/all/product";
                var multiProducts = window.config.services.multiProducts;
                self.$.httptpl.get(url, multiProducts).then(function (data) {
                    var ProductList = _.transform(data, function (result, item) {
                        result.push({ key: item.productId, value: item.productId, expiresOn: item.expiresOn, validFrom: item.validFrom });
                    }, []);
                    self.set('productList', ProductList);
                }).fail(function (e) {
                    console.error("Product List error is ", e);
                });

            }
        })
    </script>
</dom-module>