<dom-module id="log-application-activity">
    <style>
        .activityToast {
            max-width: 536px !important;
            position: static !important;
        }

        .form-control {
            padding: 0px !important;
        }

        .activitylog-toast {
            max-width: 536px !important;
            position: static !important;
            margin-bottom: 15px;
        }

        .fab-container {
            padding: 10px;
        }

        .fab-footer {
            text-align: center;
            margin: 0 auto;
        }

        .alert {
            padding: 0;
            margin: 0 auto;
            background-color: #FFF;
            border-color: #FFF;
        }

        .pink-button,
        .btn-primary:hover,
        .btn-primary:active,
        .btn-primary:active:hover {
            background: #03466B !important;
            border-color: #03466B !important;
            outline: none;
        }
    </style>
    <template>
        <div id="ErrorMessge"></div>
        <div class="fab-container">
            <div id="error-message" class="alert alert-danger" hidden$="{{!invalid}}">
                All fields are required.
            </div>
            <div class="form-group">
                <vaadin-combo-box name="logActivity" value="{{SelectedActivity}}" item-value-path="key" item-label-path="value" items="{{LogActivity}}"
                    label="Select Activity" allow-custom-value>
                </vaadin-combo-box>
            </div>
            <h4>
                <b>Notes</b>
            </h4>
            <div class="form-group">
                <textarea id="notes" rows="6" form="ach-form" class="form-control" value="{{Notes}}" on-input="setNotes"></textarea>
            </div>
            <div class="padding"></div>
            <div id="toastContainerActivity">
                <paper-toast id="toast" class="fit-bottom activityToast" duration="2000" text="Activity submitted successfully!"></paper-toast>
            </div>
        </div>
        <div class="fab-footer">
            <button type="button" class="btn btn-primary activity-action-btn  pink-button" on-click="submitForm" raised>Send</button>
            <button type="button" class="btn btn-primary activity-action-btn  pink-button" on-click="_resetForm">Cancel</button>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <alloy-config id="config"></alloy-config>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "log-application-activity",
                properties: {
                    invalid: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    Notes: {
                        type: String,
                        notify: true
                    },
                    applicationNumber: {
                        type: String,
                        notify: true,
                    },
                    SelectedActivity: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    LogActivity: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    statusObj: {
                        type: String,
                        notify: true,
                        observer: '_loadStatusObj'
                    }
                },
                init: function () {

                },
                _resetForm: function () {
                    var self = this;
                    self.Notes = "";
                    self.SelectedActivity = "";
                    self.invalid = false;
                    $("#toastContainerActivity").hide();
                },
                setNotes: function (event) {
                    var self = this;
                    self.Notes = event.target.value;
                },
                validate: function () {
                    var self = this;
                    if (_.isUndefined(self.SelectedActivity) || _.isNull(self.SelectedActivity) || _.isEmpty(self.SelectedActivity)) {
                        self.set("invalid", true);
                        return false;
                    }
                    if (_.isUndefined(self.Notes) || _.isNull(self.Notes) || _.isEmpty(self.Notes)) {
                        self.set("invalid", true);
                        return false;
                    }
                    self.set("invalid", false);
                    return true;
                },
                submitForm: function (event) {
                    var self = this;
                    if (self.validate()) {
                        var payload = {
                            Description: self.Notes,
                            ApplicationNumber: self.applicationNumber,
                            Title: self.SelectedActivity
                        };
                        var eventHub = window.config.services.eventHub;
                        var activityEndPoint = "/ApplicationActivityLogged"
                        self.$.http.post(activityEndPoint, payload, eventHub, true).then(function (data) {
                            self.$.toast.fitInto = self.$.toastContainerActivity;
                            $("#toastContainerActivity").show();
                            self.$.toast.open();
                            setTimeout(function () {
                                self._resetForm();
                            }, 500);
                            self.raiseAppRefreshEvent(event);
                        }).fail(function (error) {
                            console.error("email error is ", e);
                        });
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "SwitchBank",
                        EventData: event,
                        CompnentName: 'log-application-activity'
                    });
                },
                _loadStatusObj: function () {
                    var self = this;
                    var _statusObj = _.cloneDeep(self.statusObj);
                    if (_statusObj) {
                        if (_statusObj.hasOwnProperty('code')) {
                            var statusCode = _statusObj.code;
                            var data = self.$.config.getConfigurationBasedOnKey('logActivities');
                            var actions = data[statusCode];
                            var activities = actions.activities;
                            if (!_.isUndefined(activities) && !_.isNull(activities) && !_.isEmpty(activities)) {
                                var activityList = _.transform(activities, function (result, value, key) {
                                    result.push({ key: key, value: value });
                                }, []);
                                self.LogActivity = activityList;
                            }
                        }
                    }
                }
            });
        });
    </script>
</dom-module>