<dom-module id="bank-linking">
    <template>
        <div class="slide-action">
            <button id="bankLinking" on-click="applyBankLinkingTag" class="btn btn-primary activity-action-btn" raised>Initiate Bank Linking</button>
        </div>
        <div id="ErrorMessge"></div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "bank-linking",
                applyBankLinkingTag: function (event) {
                    var self = this;
                    var payload = {
                        EntityId: self.applicationNumber
                    };
                    var eventHub = window.config.services.eventHub;
                    var url = "/ApplicationBankPending";
                    self.$.http.post(url, payload, eventHub, true).then(function (data) {
                        $('button#bankLinking').hide();
                        self.$.message.showMessage("Bank linking initiated.", "INFO", self.$.ErrorMessge);
                        self.raiseAppRefreshEvent(event);
                    }).fail(function (error) {
                        $('button#bankLinking').hide();
                        self.$.message.showMessage(e.responseJSON.message, "ERROR", self.$.ErrorMessge);
                    });
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "ReInitBankLinking",
                        EventData: event,
                        CompnentName: 'bank-linking'
                    });
                },
                init: function () {

                }
            });
        });
    </script>
</dom-module>