<dom-module id="edu-detail">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .set-vertical-height {
                height: 500px;
                overflow-y: scroll;
            }
        </style>
        <div class="row">
            <div class="col-md-12">
                <div id="ErrorMessge"></div>
                <form is="iron-form" class="form-horizontal" name="EduDetailForm">
                    <vaadin-combo-box name="EducationalQualification" class="custom-input" id="EducationalQualification" value="{{selectedQualification}}"
                        item-value-path="key" item-label-path="value" items="[[qualificationSelectList]]" label="Select Qualification"
                        prevent-invalid-input="true" required>
                    </vaadin-combo-box>
                    <dynamic-form form-configuration={{eduDetailObj}} values="{{eduDetailObj.values}}"></dynamic-form>
                    <br/>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
        <lookup-service id="lookup"></lookup-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "edu-detail",
                properties: {
                    eduDetailObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                EducationalInstitution: {
                                    label: "Educational Institution",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                }
                            },
                            values: {
                                EducationalInstitution: ""
                            }
                        }
                    },
                    qualificationSelectList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    selectedQualification: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true,
                        observer: '_loadDataAttributes'
                    }
                },

                _loadDataAttributes: function () {
                    var self = this;
                    var _dataAttributes = self.dataAttributes;
                    if (_dataAttributes) {
                        if (_dataAttributes.hasOwnProperty('application')) {
                            var educationalQualification = _dataAttributes.application.educationalQualification;
                            var educationalInstitution = _dataAttributes.application.educationalInstitution;
                            var eduDetailObj = self.get('eduDetailObj');
                            eduDetailObj.values["EducationalInstitution"] = educationalInstitution;
                            self.set('selectedQualification', educationalQualification);
                            self.set('eduDetailObj', $.extend({}, self.get('eduDetailObj'), eduDetailObj));
                        }
                    }
                },
                _geteduQualiLookupData: function () {
                    var self = this;
                    var eduDetailObj = _.cloneDeep(self.eduDetailObj);
                    var data = self.$.lookup.getLookupBasedOnName("application-levelOfEducation");
                    self.qualificationSelectList = data;
                    // self.set('eduDetailObj', eduDetailObj);
                },
                _verifyForm: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    if (form.validate()) {
                        var appProcessor = window.config.services.appProcessor;
                        var Payload = {
                            EducationalInstitution: self.eduDetailObj.values.EducationalInstitution,
                            LevelOfEducation: self.selectedQualification
                        }
                        var url = "/application/" + self.applicationNumber + "/educationInformation";
                        self.$.http.put(url, Payload, appProcessor, true).then(function (data) {
                            self.$.message.showMessage("Operation completed successfully.", "INFO", self.$.ErrorMessge);
                            self.raiseAppRefreshEvent(event);
                        }).fail(function (e) {
                            console.error("loadConfig error is ", e);
                        });
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "EducationDetail",
                        EventData: event,
                        CompnentName: 'edu-detail'
                    });
                },
                init: function () {
                    this._geteduQualiLookupData();
                }
            });
        });
    </script>
</dom-module>