<dom-module id="enable-reapply">
    <template>
        <div id="ErrorMessge"></div>
        <div class="slide-action">
            <button id="reapplyApplication" on-click="reapplyApplication" disabled$="[[reApplydisabled]]" class="btn btn-primary activity-action-btn">Re-apply Application</button>
        </div>
        <http-request id="http"></http-request>
        <url-parser id="url"></url-parser>
        <session-manager id="session"></session-manager>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "enable-reapply",
                properties: {
                    applicantId: {
                        type: String,
                        notify: true
                    },
                    reApplydisabled: {
                        type: Boolean,
                        value: true,
                        notify: true
                    },
                    AppAppliedDate: {
                        type: Date,
                        notify: true
                    },
                    ExtData: {
                        type: Date,
                        notify: true
                    }
                },
                reapplyApplication: function () {
                    var self = this;
                    var offerEndPoint = window.config.services.appProcessor;
                    if (self.applicantId != undefined) {
                        var url = "/application/" + self.applicationNumber + "/" + self.applicantId + "/EnableReApplyInCoolOff";
                        self.$.http.post(url, {}, offerEndPoint, true).then(function (data) {
                            $('button#reapplyApplication').hide();
                            self.$.message.showMessage("Operation completed successfully", "INFO", self.$.ErrorMessge);
                        }).fail(function (e) {
                            self.$.message.showMessage("Error occurred while performing the operation. Failed to complete the operation.", "ERROR", self.$.ErrorMessge);
                        });
                    }
                    else {
                        self.$.message.showMessage("ApplicantId is required.", "ERROR", self.$.ErrorMessge);
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "EnableReApply",
                        EventData: event,
                        CompnentName: 'enable-reapply'
                    });
                },
                _reApply: function () {
                    var self = this;
                    var params = this.$.url.getParams();
                    self.applicantId = params.applicantId;
                    var reApplyTimeFrameObj = self.$.session.get("reApplyTimeFrame");
                    self.AppAppliedDate = self.$.session.get("AppAppliedDate");
                    var todaysDate = new Date();
                    var currentDate = new Date(self.AppAppliedDate);
                    var newDate = new Date(currentDate.setTime(currentDate.getTime() + reApplyTimeFrameObj * 86400000));
                    self.ExtData = newDate;
                    if (todaysDate < self.ExtData) {
                        self.reApplydisabled = false;
                    }
                },
                init: function () {
                    var self = this;
                    self._reApply();
                }
            });
        });
    </script>
</dom-module>