<dom-module id="personal-details">
    <template>
        <style>
            .set-vertical-height {
                height: 480px;
                overflow-y: scroll;
            }
        </style>
        <div class="row">
            <div class="col-md-12 set-vertical-height">
                <div id="ErrorMessge"></div>
                <form is="iron-form" class="form-horizontal" name="PersonalDetail">
                    <dynamic-form form-configuration={{personalDetailObj}} values="{{personalDetailObj.values}}"></dynamic-form>
                    <br/>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "personal-details",
                properties: {
                    personalDetail: {
                        type: Object,
                        notify: true,
                        value: {
                            AadhaarNumber: '',
                            DateOfBirth: '',
                            FirstName: '',
                            LastName: '',
                            MiddleName: '',
                            PermanentAccountNumber: '',
                            Salutation: '',
                            EmploymentStatus: '',
                            Gender: '',
                            MaritalStatus: ''
                        }
                    },
                    personalDetailObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                Salutation: {
                                    label: "Title",
                                    type: "combobox",
                                    selectList: [
                                        { key: "Mr", value: "Mr" },
                                        { key: "Mrs", value: "Mrs" },
                                        { key: "Ms", value: "Ms" }
                                    ],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                FirstName: {
                                    label: "First Name",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                MiddleName: {
                                    label: "Middle Name",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        minLen: 0,
                                        maxLen: 64
                                    }
                                },
                                LastName: {
                                    label: "LastName",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                DateOfBirth: {
                                    label: "Date Of Birth",
                                    title: "Date Of Birth",
                                    type: "date",
                                    format: "DD-MM-YYYY",
                                    validations: {
                                        required: true
                                    }
                                },
                                PermanentAccountNumber: {
                                    label: "Permanent Account Number",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        pattern: 'PAN',
                                        allowpattern: "[\\w]",
                                        minLen: 10,
                                        maxLen: 10
                                    }
                                },
                                AadhaarNumber: {
                                    label: "Aadhaar Number",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        pattern: 'AADHAAR',
                                        allowpattern: "[\\w]",
                                        minLen: 12,
                                        maxLen: 12
                                    }
                                },
                                Gender: {
                                    label: "Gender",
                                    type: "radiogroup",
                                    radioList: [
                                        { key: "Male", value: "Male" },
                                        { key: "Female", value: "Female" }
                                    ]
                                },
                                MaritalStatus: {
                                    label: "Martial Status",
                                    type: "radiogroup",
                                    radioList: [
                                        { key: "Single", value: "Single" },
                                        { key: "Married", value: "Married" }
                                    ]
                                }
                            },
                            values: {
                                AadhaarNumber: "",
                                DateOfBirth: "",
                                FirstName: "",
                                LastName: "",
                                MiddleName: "",
                                PermanentAccountNumber: "",
                                Salutation: "",
                                Gender: "Male",
                                MaritalStatus: "Single",
                                EmploymentStatus: "Salaried"
                            }
                        }
                    },
                    applicationDetail: {
                        type: Object,
                        notify: true,
                        observer: '_loadApplicationDetail'
                    }
                },
                _loadApplicationDetail: function () {
                    var self = this;
                    var _applicationDetail = _.cloneDeep(self.applicationDetail);
                    if (_applicationDetail) {
                        self._loadapplicantDetail(_applicationDetail);
                    }
                },
                _loadapplicantDetail: function (_applicationDetail) {
                    var self = this;
                    var applicantEndpoint = window.config.services.applicantDetail;
                    var suburl = "/" + _applicationDetail.applicantId;
                    self.$.http.get(suburl, applicantEndpoint).then(function (data) {
                        if (!_.isNull(data) && !_.isUndefined(data) && !_.isEmpty(data)) {
                            self.personalDetail.AadhaarNumber = data.aadhaarNumber;
                            self.personalDetail.FirstName = data.firstName;
                            self.personalDetail.MiddleName = data.middleName;
                            self.personalDetail.LastName = data.lastName;
                            self.personalDetail.PermanentAccountNumber = data.permanentAccountNumber;
                            self.personalDetail.Salutation = data.salutation;
                            self.personalDetailObj.values["AadhaarNumber"] = data.aadhaarNumber;
                            if (!_.isNull(data.dateOfBirth) && !_.isUndefined(data.dateOfBirth) && !_.isEmpty(data.dateOfBirth)) {
                                var checkDate = moment.tz(data.dateOfBirth, window.config.timezone).format("YYYY-MM-DD")
                                if (checkDate === "0001-01-01") {
                                    self.personalDetail.DateOfBirth = "";
                                    self.personalDetailObj.values["DateOfBirth"] = "";
                                }
                                else {
                                    self.personalDetail.DateOfBirth = data.dateOfBirth;
                                    self.personalDetailObj.values["DateOfBirth"] = moment.tz(data.dateOfBirth, window.config.timezone).format("YYYY-MM-DD");
                                }
                            }
                            else {
                                self.personalDetail.DateOfBirth = "";
                                self.personalDetailObj.values["DateOfBirth"] = "";
                            }
                            if (data.employmentDetails != undefined && data.employmentDetails != null) {
                                self.selectedEmploymentStatus = data.employmentDetails[0].employmentStatus;
                                self.set('selectedEmploymentStatus', data.employmentStatus);
                            }
                            self.personalDetailObj.values["FirstName"] = data.firstName;
                            self.personalDetailObj.values["MiddleName"] = data.middleName;
                            self.personalDetailObj.values["LastName"] = data.lastName;
                            self.personalDetailObj.values["PermanentAccountNumber"] = data.permanentAccountNumber;
                            self.personalDetailObj.values["Salutation"] = data.salutation;
                            self.personalDetailObj.values["Gender"] = data.gender;
                            self.personalDetailObj.values["MaritalStatus"] = data.maritalStatus;
                        }
                        self.set('personalDetailObj', $.extend({}, self.personalDetailObj));
                        self.set('personalDetail', $.extend({}, self.personalDetail));
                    }).fail(function (e) {
                        console.error("_loadapplicantDetail error is ", e);
                    });
                },
                UpdatePersonalDetails: function (event) {
                    var self = this;
                    var offerEngine = window.config.services.appProcessor;
                    var url = "/application/" + self.applicationNumber + "/applicantDetails";
                    var ResultObj = self.personalDetail;
                    ResultObj.AadhaarNumber = self.personalDetailObj.values.AadhaarNumber;
                    ResultObj.DateOfBirth = moment.tz(self.personalDetailObj.values.DateOfBirth, window.config.timezone).format("YYYY-MM-DD");
                    ResultObj.FirstName = self.personalDetailObj.values.FirstName;
                    ResultObj.MiddleName = self.personalDetailObj.values.MiddleName;
                    ResultObj.LastName = self.personalDetailObj.values.LastName;
                    ResultObj.PermanentAccountNumber = self.personalDetailObj.values.PermanentAccountNumber;
                    ResultObj.Salutation = self.personalDetailObj.values.Salutation;
                    ResultObj.Gender = self.personalDetailObj.values.Gender;
                    ResultObj.MaritalStatus = self.personalDetailObj.values.MaritalStatus;
                    ResultObj.EmploymentStatus = self.personalDetailObj.values.EmploymentStatus;
                    self.$.http.put(url, ResultObj, offerEngine, true).then(function (result) {
                        self.$.message.showMessage("Operation completed successfully.", "INFO", self.$.ErrorMessge);
                        self.raiseAppRefreshEvent(event);
                    }).fail(function (e) {
                        console.error("Update Personal Details error is ", e);
                    });
                },
                _verifyForm: function (event) {
                    event.preventDefault();
                    var self = this;
                    var appNumber = self.applicationNumber;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    if (form.validate()) {
                        var applicationFilter = window.config.services.applicationFilters;
                        var url = "/duplicateexistsdata/Pan/" + self.personalDetailObj.values.PermanentAccountNumber;
                        self.$.http.get(url, applicationFilter).then(function (data) {
                            if (data.length == 0 || data[0].applicationNumber === appNumber) {
                                self.UpdatePersonalDetails(event);
                            }
                            else {
                                self.$.message.showMessage("PAN already exists.", "ERROR", self.$.ErrorMessge);
                            }

                        }).fail(function (e) {
                            console.error("Check Duplicate PAN ", e);
                        });
                    }
                },
                init: function () {

                },
                ready: function () {
                    this.personalDetailObj.controls.DateOfBirth.i18n = this.i18n;
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "UpdatePersonalDetails",
                        EventData: event,
                        CompnentName: 'personal-details'
                    });
                }
            });
        });
    </script>
</dom-module>