<dom-module id="revive-application">
    <template>
        <div id="ErrorMessge"></div>
        <div class="slide-action">
            <button id="revive" on-click="_verifyForm" class="btn btn-primary activity-action-btn" raised>Revive</button>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "revive-application",
                properties: {
                    applicationNumber: {
                        type: String,
                        notify: true
                    },
                },
                _verifyForm: function (event) {
                    event.preventDefault();
                    var self = this;
                    var appProcessor = window.config.services.appProcessor;
                    var url = "status-management/" + self.applicationNumber + "/reviveapplication";
                    self.$.http.put(url, {}, appProcessor, true).then(function (data) {
                        self.$.message.showMessage("Operation completed successfully.", "INFO", self.$.ErrorMessge);
                        self.raiseAppRefreshEvent(event);
                    }).fail(function (e) {
                        console.error("loadConfig error is ", e);
                    });
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "ReviveApplication",
                        EventData: event,
                        CompnentName: 'revive-application'
                    });
                },
                init: function () {

                }
            });
        });
    </script>
</dom-module>