<dom-module id="send-to-ce">
    <template>
        <div id="ErrorMessge"></div>
        <div class="slide-action">
            <button id="sendToCE" on-click="sendToCE" class="btn btn-primary activity-action-btn" raised>Send to CE</button>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "send-to-ce",
                sendToCE: function (event) {
                    var self = this;
                    var payload = {
                        Description: "",
                        ApplicationNumber: self.applicationNumber,
                        Title: "Need followup"
                    };
                    var eventHub = window.config.services.eventHub;
                    var activityEndPoint = "/ApplicationActivityLogged"
                    self.$.http.post(activityEndPoint, payload, eventHub).then(function (data) {
                        self.$.message.showMessage("Operation completed successfully.", "INFO", self.$.ErrorMessge);
                        self.raiseAppRefreshEvent(event);
                    }).fail(function (e) {
                        self.$.message.showMessage(e.responseJSON.message, "ERROR", self.$.ErrorMessge);
                    });
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "ReferToCE",
                        EventData: event,
                        CompnentName: 'send-to-ce'
                    });
                },
                init: function () { }
            });
        });
    </script>
</dom-module>