<dom-module id="status-management">
    <style>
        .activity-action-btn {
            padding: 10px;
            width: 100%;
            font-size: inherit;
        }
    </style>
    <template>
        <div class="row HideButton">
            <div class="col-md-6">
                <div id="ErrorMessge"></div>
                <template is="dom-repeat" items="{{statusList}}" as="item">
                    <template is="dom-if" if="{{_isRejectOption(item)}}">
                        <button type="button" on-click="updateStatus" class="btn btn-primary btn-xs activity-action-btn">{{ _getButtonName(item)}}</button>
                    </template>
                </template>
            </div>
        </div>
        <http-request id="httpmp"></http-request>
        <url-parser id="url"></url-parser>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "status-management",
                properties: {
                    statusList: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    currentStatus: {
                        type: String,
                        notify: true
                    },
                    statusObj: {
                        type: String,
                        notify: true,
                        observer: '_loadStatusObj'
                    }
                },
                init: function () {
                    this._loadStatusList();
                },
                _isRejectOption: function (item) {
                    if (item.code !== "200.16") {
                        return true;
                    }
                    return false;
                },
                _getButtonName: function (item) {
                    if (item.code === "200.10") {
                        return "Send To Bank";
                    }
                    return item.name;
                },
                _loadStatusObj: function () {
                    var self = this;
                    var _statusObj = _.cloneDeep(self.statusObj);
                    if (_statusObj) {
                        self.set("currentStatus", _statusObj.code);
                    }
                },
                _loadStatusList: function () {
                    var self = this;
                    if (self.currentStatus !== "") {
                        var url = '/application/' + self.currentStatus + '/transitions';
                        self.$.httpmp.get(url, window.config.services.statusManagement).then(function (data) {
                            if (data !== undefined) {
                                self.set("statusList", data);
                            }
                        }).fail(function (e) {
                            console.error("_loadStatusList error is ", e);
                        });
                    }
                },
                updateStatus: function (e) {
                    var self = this;
                    var params = self.$.url.getParams();
                    var statusCode = e.model.__data__.item.code;
                    var offerEndPoint = window.config.services.appProcessor;
                    var url = "/status-management/" + self.applicationNumber + '/' + statusCode;
                    self.$.httpmp.post(url, {}, offerEndPoint, true).then(function (data) {
                        self.$.message.showMessage("Operation completed successfully", "INFO", self.$.ErrorMessge);
                        self.raiseAppRefreshEvent(e);
                    }).fail(function (e) {
                        self.$.message.showMessage("Failed to complete the operation. " + e.responseJSON.message, "ERROR", self.$.ErrorMessge);
                    });
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "ChangeStatus",
                        EventData: event,
                        CompnentName: 'status-management'
                    });
                }
            });
        });
    </script>
</dom-module>