<dom-module id="submit-application">
    <template>
        <div id="ErrorMessge"></div>
        <div class="slide-action">
            <button id="submitApplication" on-click="submitApplication" class="btn btn-primary activity-action-btn">Submit Application</button>
        </div>
        <http-request id="http"></http-request>
        <url-parser id="url"></url-parser>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "submit-application",
                properties: {
                    messageList: {
                        type: Object,
                        notify: false,
                        value: {
                            Failed: "Unable to generate offer",
                            Completed: "Offer is ready for selection",
                            Rejected: "Application rejected"
                        }
                    }
                },
                submitApplication: function (event) {
                    var self = this;
                    var offerEndPoint = window.config.services.appProcessor;
                    var url = "/application/" + self.applicationNumber + "/changeStatus-submit";
                    self.$.http.post(url, {}, offerEndPoint, true).then(function (data) {
                        self.generateInitialOffer(event);
                    }).fail(function (e) {
                        self.$.message.showMessage(e.responseJSON.message, "ERROR", self.$.ErrorMessge);
                    });
                },
                generateInitialOffer: function () {
                    var self = this;
                    var offerEndPoint = window.config.services.appProcessor;
                    var url = "/offer/" + self.applicationNumber + "/initialoffer";
                    self.$.http.post(url, {}, offerEndPoint, true).then(function (data) {
                        var message = self.messageList[data.status];
                        if (data.status == "Failed") {
                            message += ". Reason: " + data.reasons[0];
                        };
                        if (data.status !== "Failed") {
                            self.raiseAppRefreshEvent(event);
                        } else {
                            self.$.message.showMessage(message, "ERROR", self.$.ErrorMessge);
                        }
                    }).fail(function (e) {
                        console.error("application error is ", e);
                    });
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "SubmitApplication",
                        EventData: event,
                        CompnentName: 'submit-application'
                    });
                },
                init: function () { }

            });
        });
    </script>
</dom-module>