<html-import html-href="services/workflow-service.html"></html-import>
<dom-module id="update-employment">
    <template>
        <style>
            .set-vertical-height {
                height: 500px;
                overflow-y: scroll;
            }
        </style>
        <div id="ErrorMessge"></div>
        <div class="row">
            <div class="col-md-12 set-vertical-height">
                <form is="iron-form" class="form-horizontal" name="updateEmploymentForm">
                    <dynamic-form form-configuration={{perEmpDetailObj}} values="{{perEmpDetailObj.values}}"></dynamic-form>
                    <br/>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <session-manager id="session"></session-manager>
        <utility-service id="utility"></utility-service>
        <workflow-service id="workflow"></workflow-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "update-employment",
                properties: {
                    selectedEmpName: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    selectedEmpCIN: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    employmentDetail: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    perEmpDetailObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                Name: {
                                    label: "Company Name",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                Designation: {
                                    label: "Designation",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                LengthOfEmploymentInMonths: {
                                    label: "Total Work Experience",
                                    type: "combobox",
                                    selectList: [
                                        { key: '1', value: 'Up to 1 Year' },
                                        { key: '2', value: '2 years' },
                                        { key: '3', value: '3 years' },
                                        { key: '4', value: '4 years' },
                                        { key: '5', value: '5 years' },
                                        { key: '6', value: '6 years' },
                                        { key: '7', value: '7 years' },
                                        { key: '8', value: '8 years' },
                                        { key: '9', value: '9 years' },
                                        { key: '10', value: 'More than 9 years' }
                                    ],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: false
                                    }
                                },
                                WorkEmail: {
                                    label: "Work Email",
                                    type: "email",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        pattern: 'EMAIL',
                                        allowpattern: "[\\S]",
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                Income: {
                                    label: "Monthly Income",
                                    type: "number",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                AddressLine1: {
                                    label: "AddressLine 1",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 40
                                    }
                                },
                                AddressLine2: {
                                    label: "Address Line 2",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 0,
                                        maxLen: 40
                                    }
                                },
                                Location: {
                                    label: "Locality",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 40
                                    }
                                },
                                PinCode: {
                                    label: "Pin Code",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        pattern: 'PIN',
                                        minLen: 6,
                                        maxLen: 6
                                    }
                                },
                                City: {
                                    label: "City",
                                    type: "combobox",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: false
                                    }
                                },
                                State: {
                                    label: "State",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 16
                                    }
                                }
                            },
                            values: {
                                Name: "",
                                Designation: "",
                                LengthOfEmploymentInMonths: "",
                                WorkEmail: "",
                                Income: 0,
                                CinNumber: "",
                                AddressLine1: "",
                                AddressLine2: "",
                                Location: "",
                                City: "",
                                State: "",
                                PinCode: "",
                            }
                        }
                    },
                    applicationDetail: {
                        type: Object,
                        notify: true,
                        observer: '_loadApplicationDetail'
                    }
                },
                _makingPostObject: function () {
                    return {
                        EmploymentId: '',
                        Designation: '',
                        LengthOfEmploymentInMonths: '',
                        Name: '',
                        WorkEmail: '',
                        WorkPhoneNumbers: '',
                        Addresses: [{
                            AddressId: '',
                            AddressLine1: '',
                            AddressLine2: '',
                            AddressLine3: '',
                            AddressLine4: '',
                            LandMark: '',
                            Location: '',
                            City: '',
                            State: '',
                            PinCode: '',
                            Country: '',
                            AddressType: '',
                            IsDefault: ''
                        }],
                        IncomeInformation: {
                            Income: '',
                            PaymentFrequency: ''
                        },
                        AsOfDate: '',
                        EmploymentStatus: '',
                        CinNumber: ''
                    }
                },
                _toSmallFirstLtr: function (str) {
                    var res = str.charAt(0).toLowerCase() + str.slice(1);
                    return res;
                },
                checkLength: function (data) {
                    if (!_.isNull(data) && !_.isUndefined(data) && !_.isEmpty(data) && data.length > 40)
                        return data.toString().substring(0, 40);
                    return data;
                },
                _loadApplicationDetail: function () {
                    var self = this;
                    var _applicationDetail = _.cloneDeep(self.applicationDetail);
                    if (!_.isNull(_applicationDetail) && !_.isUndefined(_applicationDetail) && !_.isEmpty(_applicationDetail)) {
                        self.employmentDetail = _applicationDetail.employmentDetail;
                        self.perEmpDetailObj.values["Name"] = _applicationDetail.employmentDetail.name;
                        self.perEmpDetailObj.values["Designation"] = _applicationDetail.employmentDetail.designation;
                        var exp = _applicationDetail.employmentDetail.lengthOfEmploymentInMonths;
                        if (exp != undefined && exp != null) {
                            exp = (exp / 12);
                            self.perEmpDetailObj.values["LengthOfEmploymentInMonths"] = exp.toString();
                        }
                        self.perEmpDetailObj.values["WorkEmail"] = _applicationDetail.employmentDetail.workEmail;
                        self.perEmpDetailObj.values["Income"] = _applicationDetail.employmentDetail.incomeInformation.income;
                        self.perEmpDetailObj.values["PaymentFrequency"] = _applicationDetail.employmentDetail.incomeInformation.paymentFrequency;
                        self.perEmpDetailObj.values["EmploymentStatus"] = _applicationDetail.employmentDetail.employmentStatus;
                        if (_.isNull(_applicationDetail.employmentDetail.cinNumber) || _.isUndefined(_applicationDetail.employmentDetail.cinNumber)) {
                            self.perEmpDetailObj.values["CinNumber"] = '';
                        } else {
                            self.perEmpDetailObj.values["CinNumber"] = _applicationDetail.employmentDetail.cinNumber;
                        }
                        if (!_.isNull(_applicationDetail.employmentDetail.addresses) && !_.isUndefined(_applicationDetail.employmentDetail.addresses) && !_.isEmpty(_applicationDetail.employmentDetail.addresses)) {
                            setTimeout(function () {
                                self._fetchPinCodeDetails(_applicationDetail.employmentDetail.addresses[0].pinCode);
                            }, 2000);

                            self.perEmpDetailObj.values["AddressLine1"] = self.checkLength(_applicationDetail.employmentDetail.addresses[0].addressLine1);
                            self.perEmpDetailObj.values["AddressLine2"] = self.checkLength(_applicationDetail.employmentDetail.addresses[0].addressLine2);
                            self.perEmpDetailObj.values["Location"] = self.checkLength(_applicationDetail.employmentDetail.addresses[0].location);
                            var city = _applicationDetail.employmentDetail.addresses[0].city;
                            self.perEmpDetailObj.values["City"] = city != null ? _.startCase(city) : "";
                            self.perEmpDetailObj.values["State"] = _.startCase(_applicationDetail.employmentDetail.addresses[0].state);
                            self.perEmpDetailObj.values["PinCode"] = _applicationDetail.employmentDetail.addresses[0].pinCode;
                            self.perEmpDetailObj.values["Country"] = (_applicationDetail.employmentDetail.addresses[0].country === null ? "India" : _applicationDetail.employmentDetail.addresses[0].country);
                        }
                        self.set('perEmpDetailObj', $.extend({}, self.perEmpDetailObj));
                    }
                    self.set('employmentDetail', $.extend({}, self.employmentDetail));
                },
                _verifyForm: function (event) {
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    if (form.validate()) {
                        var ResultObj = self._makingPostObject();
                        for (var attrname in ResultObj) {
                            if (attrname == 'IncomeInformation') {
                                for (var subattrname in ResultObj[attrname]) {
                                    ResultObj.IncomeInformation[subattrname] = self.employmentDetail.incomeInformation[self._toSmallFirstLtr(subattrname)];
                                }
                            }
                            else if (attrname == 'Addresses') {
                                for (var subattrname in ResultObj[attrname][0]) {
                                    ResultObj.Addresses[0][subattrname] = self.employmentDetail.addresses[0][self._toSmallFirstLtr(subattrname)];
                                }
                            }
                            else {
                                ResultObj[attrname] = self.employmentDetail[self._toSmallFirstLtr(attrname)];
                            }
                        }
                        var SelectedExp = self.perEmpDetailObj.values["LengthOfEmploymentInMonths"];
                        ResultObj.Name = self.perEmpDetailObj.values["Name"];
                        ResultObj.Designation = self.perEmpDetailObj.values["Designation"];
                        ResultObj.LengthOfEmploymentInMonths = (SelectedExp * 12);
                        ResultObj.WorkEmail = self.perEmpDetailObj.values["WorkEmail"];
                        ResultObj.IncomeInformation.Income = self.perEmpDetailObj.values["Income"];
                        ResultObj.IncomeInformation.PaymentFrequency = self.perEmpDetailObj.values["PaymentFrequency"]
                        ResultObj.EmploymentStatus = self.perEmpDetailObj.values["EmploymentStatus"];
                        ResultObj.CinNumber = self.perEmpDetailObj.values["CinNumber"];
                        ResultObj.Addresses[0].AddressLine1 = self.perEmpDetailObj.values["AddressLine1"];
                        ResultObj.Addresses[0].AddressLine2 = self.perEmpDetailObj.values["AddressLine2"];
                        ResultObj.Addresses[0].Location = self.perEmpDetailObj.values["Location"];
                        ResultObj.Addresses[0].City = self.perEmpDetailObj.values["City"];
                        ResultObj.Addresses[0].State = self.perEmpDetailObj.values["State"];
                        ResultObj.Addresses[0].PinCode = self.perEmpDetailObj.values["PinCode"];
                        ResultObj.Addresses[0].Country = self.perEmpDetailObj.values["Country"];
                        if (ResultObj.CinNumber === "") {
                            ResultObj.CinNumber = ResultObj.Name;
                        }
                        if (ResultObj.EmploymentStatus === 0) {
                            ResultObj.EmploymentStatus = "Salaried";
                        }
                        var appProcessorr = window.config.services.appProcessor;
                        var emailVerifyurl = "/application/verify-email/" + ResultObj.WorkEmail;
                        self.$.http.get(emailVerifyurl, appProcessorr).then(function (data) {
                            if (data) {
                                self._submitEmploymentData(event, ResultObj);
                            } else {
                                self.$.message.showMessage("Generic company e-mail ID is not allowed.", "ERROR", self.$.ErrorMessge);
                            }
                        }).fail(function (e) {
                            self.$.message.showMessage("Generic company e-mail ID is not allowed.", "ERROR", self.$.ErrorMessge);
                            console.error("Email Verification and error is ", e);
                        });
                    }
                },
                _submitEmploymentData: function (event, ResultObj) {
                    var self = this;
                    var appProcessor = window.config.services.appProcessor;
                    var url = "/application/" + self.applicationNumber + "/employmentDetail";
                    self.$.http.put(url, ResultObj, appProcessor, true).then(function (result) {
                        self.raiseAppRefreshEvent(event);
                    }).fail(function (e) {
                        console.error("loadConfig error is ", e);
                    });
                },
                _convertListToObjectList: function (array) {
                    var tempList = [];
                    for (var i = 0; i < array.length; i++) {
                        tempList.push({ key: _.startCase(array[i]), value: _.startCase(array[i]) });
                    }
                    return tempList;
                },
                _fetchPinCodeDetails: function (pinCode) {
                    var self = this;
                    self.$.workflow.execute('on-boarding', 'lookup', 'pincode-details', { "pincode": pinCode }).then(function (result) {
                        if (result != undefined) {
                            self.perEmpDetailObj.values["State"] = _.startCase(result.state);
                            self.perEmpDetailObj.controls.City.selectList = self._convertListToObjectList(result.cities);
                            if (self.perEmpDetailObj.values["City"] == "" && self.perEmpDetailObj.controls.City.selectList.length > 0)
                                self.perEmpDetailObj.values["City"] = self.perEmpDetailObj.controls.City.selectList[0].value;
                            self.set('perEmpDetailObj', $.extend({}, self.perEmpDetailObj));
                        }
                    });
                },
                _pincodeChanged: function () {
                    var self = this;
                    $("input[name='PinCode']").change(function () {
                        var _this = $(this);
                        if (!_.isNull(self.employmentDetail.addresses) && !_.isUndefined(self.employmentDetail.addresses) && !_.isEmpty(self.employmentDetail.addresses)) {
                            self.perEmpDetailObj.values["City"] = "";
                            self._fetchPinCodeDetails(_this.val());
                        }
                    });
                },
                _LoadEmployment: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    $("input[name='Name']").autocomplete({
                        minLength: 3,
                        select: function (event, ui) {
                            self.set('selectedEmpCIN', ui.item.id);
                            self.set('selectedEmpName', ui.item.value);
                            self.perEmpDetailObj.values["Name"] = ui.item.value;
                            self.perEmpDetailObj.values["CinNumber"] = ui.item.id;
                            self.set('perEmpDetailObj', $.extend({}, self.perEmpDetailObj));
                        },
                        source: function (request, response) {
                            self.perEmpDetailObj.values["CinNumber"] = '';
                            var companyDB = window.config.services.companyDB;
                            var url = "/application/" + params.app + "/company/search/byname/" + request.term;
                            $.ajax({
                                url: companyDB + url,
                                beforeSend: function (xhr) {
                                    xhr.setRequestHeader('Authorization', "Bearer " + self.$.session.get("token"));
                                },
                                success: function (result) {
                                    var Employment = result.companySearchResponse.map(function (i) { return { id: i.cin, value: i.name }; });
                                    response(Employment);
                                }
                            });
                        }
                    });
                },
                ready: function () {
                    var self = this;
                    setTimeout(function () {
                        self._pincodeChanged();
                    }, 1000);
                    setTimeout(function () {
                        self._LoadEmployment();
                    }, 2000);
                },
                init: function () {
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "UpdateEmployment",
                        EventData: event,
                        CompnentName: 'update-employment'
                    });
                }
            });
        });
    </script>
</dom-module>