<dom-module id="update-cashflow">
    <template>
        <style>
            .set-vertical-height {
                height: 500px;
                overflow-y: scroll;
            }
        </style>
        <div class="row">
            <div class="col-md-12 set-vertical-height">
                <form is="iron-form" class="form-horizontal" name="cashflowForm">
                    <dynamic-form form-configuration={{prefiosReportObj}} values="{{prefiosReportObj.values}}"></dynamic-form>
                    <br />
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <alloy-config id="config"></alloy-config>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "update-cashflow",
                properties: {
                    prefiosReportObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {},
                            values: {}
                        }
                    }
                },
                _toCapitalize: function (stringObj) {
                    return stringObj.replace(/\b\w/g, function (m) {
                        return m.toUpperCase();
                    });
                },
                _getCashFlowConfig: function () {
                    var self = this;
                    var data = _.cloneDeep(this.$.config.getConfigurationBasedOnKey("cash-flow"));
                    data.controls.salaryDate.i18n = this.i18n;
                    this.set('prefiosReportObj', data);
                },
                _getCashFlowData: function () {
                    var self = this;
                    var offerEngine = window.config.services.appProcessor;
                    var prefiosReportObj = _.cloneDeep(self.prefiosReportObj);
                    var url = "/application/" + self.applicationNumber + "/bank-preference";
                    self.$.http.get(url, offerEngine).then(function (reportObj) {
                        if (reportObj.bankReport != null) {
                            prefiosReportObj.values = reportObj.bankReport;
                            var keys = Object.keys(prefiosReportObj.values);
                            if (keys.length > 0) {
                                for (var i = 0; i < keys.length; i++) {
                                    var key = keys[i];
                                    var value = prefiosReportObj.values[key];
                                    if (key != "ecsBounce" && _.toNumber(value)) {
                                        prefiosReportObj.values[key] = formats.round(value, 2, "0");
                                    }
                                    else if (key === "salaryDate") {
                                        prefiosReportObj.values[key] = self.formatDate(value);
                                    }
                                }
                            }
                        }
                        else {
                            prefiosReportObj.values.monthlyEmi = "";
                            prefiosReportObj.values.monthlyExpense = "";
                            prefiosReportObj.values.monthlyIncome = "";
                            prefiosReportObj.values.avgInvestmentExpensePerMonth = "";
                            prefiosReportObj.values.avgDailyBalance = "";
                            prefiosReportObj.values.ecsBounce = "";
                            prefiosReportObj.values.salaryDate = "";
                            prefiosReportObj.values.maxCredit = "";
                        }
                        self.set('prefiosReportObj', prefiosReportObj);
                    }).fail(function (e) {
                        console.error("loadConfig error is ", e);
                    });
                },
                formatMoney: function (amount) {
                    return formats.moneyWithoutFraction(amount, "INDIA", 0);
                },
                formatDate: function (date) {
                    if (date !== "")
                        return moment.tz(date, window.config.timezone).format("YYYY-MM-DD");
                    else
                        return moment.tz(window.config.timezone).format("YYYY-MM-DD");
                },
                _verifyForm: function (event) {
                    event.preventDefault();
                    var self = this;
                    var prefiosReportObj = self.prefiosReportObj;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var offerEngine = window.config.services.appProcessor;
                    var url = "/application/" + self.applicationNumber + "/perfios-reportData";
                    if (form.validate()) {
                        prefiosReportObj.values.salaryDate = prefiosReportObj.values.salaryDate == "" ? self.formatDate("") : moment.tz(prefiosReportObj.values.salaryDate, window.config.timezone).format("YYYY-MM-DD");
                        prefiosReportObj.values.monthlyExpense = parseFloat(prefiosReportObj.values.monthlyExpense);
                        prefiosReportObj.values.monthlyEmi = parseFloat(prefiosReportObj.values.monthlyEmi);
                        prefiosReportObj.values.ecsBounce = parseInt(prefiosReportObj.values.ecsBounce);
                        prefiosReportObj.values.maxCredit = parseFloat(prefiosReportObj.values.maxCredit);
                        self.$.http.post(url, prefiosReportObj.values, offerEngine, true).then(function (data) {
                            self.raiseAppRefreshEvent(event);
                        }).fail(function (e) {
                            console.error("loadConfig error is ", e);
                        });
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "UpdateEditCashFlow",
                        EventData: event,
                        CompnentName: 'update-cashflow'
                    });
                },
                ready: function () {
                    this._getCashFlowConfig();
                },
                init: function () {
                    this._getCashFlowData();
                }
            });
        });
    </script>
</dom-module>