<dom-module id="update-perfios-salary">
    <template>
        <div class="row">
            <div class="col-md-12">
                <div id="ErrorMessge"></div>
                <form is="iron-form" class="form-horizontal" name="SalaryUpdateApplication">
                    <dynamic-form form-configuration={{perfiossalaryForm}} values="{{perfiossalaryForm.values}}"></dynamic-form>
                    <br>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                    <paper-button id="formResetButton_perfios" class="btn btn-primary activity-action-btn" style="display: none;" on-click="_formReset"
                        raised>Reset</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "update-perfios-salary",
                properties: {
                    perfiossalaryForm: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                amount: {
                                    label: "Amount",
                                    type: "number",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        pattern: 'DECIMAL',
                                        minLen: 0,
                                        maxLen: 10
                                    }
                                },
                                SalaryDate: {
                                    label: "Salary Date",
                                    title: "Salary Date",
                                    type: "date",
                                    format: "DD-MM-YYYY",
                                    validations: {
                                        required: true
                                    }
                                },
                                narration: {
                                    label: "Narration",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true
                                    }
                                }
                            },
                            values: {
                                amount: "",
                                SalaryDate: "",
                                narration: ""
                            }
                        }
                    },
                    perfiossalaryObj: {
                        type: Object,
                        notify: true
                    },
                    chechmanual: {
                        type: Boolean,
                        notify: true
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true,
                        observer: '_loadDataAttributes'
                    }
                },
                init: function () {

                },
                ready: function () {
                    this.perfiossalaryForm.controls.SalaryDate.i18n = this.i18n;
                },
                _formatDate: function (date) {
                    if (date !== "")
                        return moment.tz(date, window.config.timezone).format("YYYY-MM-DD");
                    else
                        return moment.tz(window.config.timezone).format("YYYY-MM-DD");
                },
                _loadDataAttributes: function () {
                    var self = this;
                    var _dataAttributes = self.dataAttributes;
                    if (_dataAttributes) {
                        if (_dataAttributes.hasOwnProperty('manualCashFlowReport')) {
                            if (!_.isNull(_dataAttributes.manualCashFlowReport) && !_.isUndefined(_dataAttributes.manualCashFlowReport) && !_.isEmpty(_dataAttributes.manualCashFlowReport)) {
                                self.set('perfiossalaryObj', _dataAttributes.manualCashFlowReport);
                                self.set('chechmanual', true);
                            }
                        }
                        else if (_dataAttributes.hasOwnProperty('perfiosReport')) {
                            if (!_.isNull(_dataAttributes.perfiosReport) && !_.isUndefined(_dataAttributes.perfiosReport) && !_.isEmpty(_dataAttributes.perfiosReport)) {
                                self.set('perfiossalaryObj', _dataAttributes.perfiosReport);
                                self.set('chechmanual', false);
                            }
                        }
                    }
                },
                _formReset: function (event) {
                    var form = Polymer.dom(event).localTarget.parentElement;
                    form.reset();
                },
                _verifyForm: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    var services = _.cloneDeep(window.config.services);
                    var dataattributeEndPoint = window.config.services.dataAttributes;
                    var payload = _.cloneDeep(self.perfiossalaryObj);
                    var formData = self.perfiossalaryForm.values;
                    var dataList = payload.Last3SalaryDeposit || [];
                    if (form.validate()) {
                        formData.SalaryDate = self._formatDate(formData.SalaryDate);
                        dataList.push(formData);
                        payload.Last3SalaryDeposit = dataList;
                        var url = self.chechmanual ? services.dataAttributesmanualcashflow : services.dataAttributesPost;
                        var url1 = url.replace("applicationNumber", self.applicationNumber)
                        self.$.http.post(url1, payload, dataattributeEndPoint, true).then(function (data) {
                            $('#formResetButton_perfios').click();
                            self.raiseAppRefreshEvent(e);
                        }).fail(function (e) {
                            self.$.message.showMessage("save cam/fcudata error is" + e, "ERROR", self.$.ErrorMessge);
                        });
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "UpdatePerfiosSalary",
                        EventData: event,
                        CompnentName: 'update-perfios-salary'
                    });
                }
            });
        });
    </script>
</dom-module>