<html-import html-href="loaders/sk-wave.html"></html-import>
<dom-module id="update-employer">
    <template>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="employmentemailForm">
                    <div class="row">
                        <div class="col-md-12">
                            <spinkit-wave hidden$="{{!updateEmployerDetail}}"></spinkit-wave>
                        </div>
                    </div>
                    <dynamic-form form-configuration={{perEmpDetailObj}} values="{{perEmpDetailObj.values}}"></dynamic-form>
                    <br/>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
                <br/>
                <div id="employmentEmailErrMsg"></div>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <session-manager id="session"></session-manager>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "update-employer",
                properties: {
                    selectedEmpName: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    selectedEmpCIN: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    companyName: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    message: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    cinNumber: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    employmentDetail: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    applicationDetail: {
                        type: Object,
                        notify: true,
                        observer: '_loadApplicationDetail'
                    },
                    updateEmployerDetail: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    perEmpDetailObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                Name: {
                                    label: "Company Name",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                WorkEmail: {
                                    label: "Work Email",
                                    type: "email",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        pattern: 'EMAIL',
                                        allowpattern: "[\\S]",
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                }
                            },
                            values: {
                                Name: "",
                                CinNumber: "",
                                WorkEmail: ""
                            }
                        }
                    }
                },
                _loadApplicationDetail: function () {
                    var self = this;
                    var _applicationDetail = _.cloneDeep(self.applicationDetail);
                    if (!_.isNull(_applicationDetail) && !_.isUndefined(_applicationDetail) && !_.isEmpty(_applicationDetail)) {
                        if (_applicationDetail.hasOwnProperty('employmentDetail')) {
                            self.employmentDetail = _applicationDetail.employmentDetail;
                            self.perEmpDetailObj.values["Name"] = _applicationDetail.employmentDetail.name;
                            self.perEmpDetailObj.values["WorkEmail"] = _applicationDetail.employmentDetail.workEmail;
                            self.set('perEmpDetailObj', $.extend({}, self.perEmpDetailObj));
                            if (_.isNull(_applicationDetail.employmentDetail.cinNumber) || _.isUndefined(_applicationDetail.employmentDetail.cinNumber)) {
                                self.perEmpDetailObj.values["CinNumber"] = '';
                            } else {
                                self.perEmpDetailObj.values["CinNumber"] = _applicationDetail.employmentDetail.cinNumber;
                            }
                        }
                        self.set('employmentDetail', $.extend({}, self.employmentDetail));
                    }
                },
                _verifyForm: function (event) {
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var appProcessor = window.config.services.appProcessor;
                    var url = "/application/" + self.applicationNumber + "/employmentDetail";
                    if (form.validate()) {
                        var ResultObj = self.employmentDetail;
                        ResultObj.name = self.perEmpDetailObj.values["Name"];
                        ResultObj.cinNumber = self.perEmpDetailObj.values["CinNumber"];
                        ResultObj.workEmail = self.perEmpDetailObj.values["WorkEmail"];
                        if (ResultObj.cinNumber === "") {
                            ResultObj.cinNumber = ResultObj.name;
                        }
                        self.set('updateEmployerDetail', true);
                        self.$.http.put(url, ResultObj, appProcessor, true).then(function (result) {
                            //write a code for viewdns(Email Verification)
                            self._verifyViewDNSEmail(event, ResultObj)
                        }).fail(function (e) {
                            self.set('updateEmployerDetail', false);
                            console.error("loadConfig error is ", e);
                        });
                    }
                },
                _verifyViewDNSEmail: function (event, updatedEmploymentDetail) {
                    var self = this;
                    var httphost = window.config.services.viewDNS;
                    var viewDNSURL = "/application/" + self.applicationNumber + "/" + updatedEmploymentDetail.workEmail + "/" + updatedEmploymentDetail.name + "/" + updatedEmploymentDetail.cinNumber;
                    self.$.http.get(viewDNSURL, httphost).then(function (data) {
                        self.set('updateEmployerDetail', false);
                        if (data.domainMatched) {
                            self.$.message.showMessage("True", "INFO", self.$.employmentEmailErrMsg);
                        } else {
                            self.$.message.showMessage("False", "ERROR", self.$.employmentEmailErrMsg);
                        }
                        setTimeout(function () {
                            self.raiseAppRefreshEvent(event);
                        }, 1000);
                    }).fail(function (e) {
                        self.set('updateEmployerDetail', false);
                        self.$.message.showMessage("False", "ERROR", self.$.employmentEmailErrMsg);
                        console.error("viewDNS error is ", e);
                        setTimeout(function () {
                            self.raiseAppRefreshEvent(event);
                        }, 1000);
                    });
                },
                _LoadEmployment: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    $("input[name='Name']").autocomplete({
                        minLength: 3,
                        select: function (event, ui) {
                            self.set('selectedEmpCIN', ui.item.id);
                            self.set('selectedEmpName', ui.item.value);
                            self.perEmpDetailObj.values["Name"] = ui.item.value;
                            self.perEmpDetailObj.values["CinNumber"] = ui.item.id;
                            self.set('perEmpDetailObj', $.extend({}, self.perEmpDetailObj));
                        },
                        source: function (request, response) {
                            self.perEmpDetailObj.values["CinNumber"] = '';
                            var companyDB = window.config.services.companyDB;
                            var url = "/application/" + params.app + "/company/search/byname/" + request.term;
                            $.ajax({
                                url: companyDB + url,
                                beforeSend: function (xhr) {
                                    xhr.setRequestHeader('Authorization', "Bearer " + self.$.session.get("token"));
                                },
                                success: function (result) {
                                    var Employment = result.companySearchResponse.map(function (i) { return { id: i.cin, value: i.name }; });
                                    response(Employment);
                                }
                            });
                        }
                    });
                },
                ready: function () {
                    var self = this;
                    setTimeout(function () {
                        self._LoadEmployment();
                    }, 2000);
                },
                init: function () {
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "UpdateEmployer",
                        EventData: event,
                        CompnentName: 'update-employer'
                    });
                }
            });
        });
    </script>
</dom-module>