<dom-module id="update-cam-fcu">
    <template>
        <style>
            .set-vertical-height {
                height: 500px;
                overflow-y: scroll;
            }
        </style>
        <div class="row">
            <div class="col-md-12 set-vertical-height">
                <form is="iron-form" class="form-horizontal" name="CamFcuApplication">
                    <dynamic-form form-configuration={{camfcuObj}} values="{{camfcuObj.values}}"></dynamic-form>
                    <br>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "update-cam-fcu",
                properties: {
                    camfcuObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                ecsInwardBounce: {
                                    label: "ECS Inward Bounce",
                                    type: "textbox",
                                    validations: {
                                        required: false
                                    }
                                },
                                chqInwardBounce: {
                                    label: "Cheque Inward Bounce",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 0,
                                        maxLen: 20
                                    }
                                },
                                avgDailyBalance: {
                                    label: "ABB",
                                    type: "textbox",
                                    validations: {
                                        required: false
                                    }
                                },
                                ecsOutwardBounce: {
                                    label: "ECS Outward Bounce",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 0,
                                        maxLen: 20
                                    }
                                },
                                chqOutwardBounce: {
                                    label: "Cheque Outward Bounce",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 0,
                                        maxLen: 20
                                    }
                                },
                                perfiosresult: {
                                    label: "Perfios Result",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 0,
                                        maxLen: 20
                                    }
                                },
                                salaryIdentifiedby: {
                                    label: "Salary Identified By",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 0,
                                        maxLen: 20
                                    }
                                },
                                monthlyIncome: {
                                    label: "Monthly Net SALARY",
                                    type: "number",
                                    validations: {
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                }
                            },
                            values: {
                                ecsInwardBounce: "",
                                chqInwardBounce: "",
                                avgDailyBalance: "",
                                ecsOutwardBounce: "",
                                chqOutwardBounce: "",
                                perfiosresult: "",
                                salaryIdentifiedby: "",
                                monthlyIncome: 0
                            }
                        }
                    },
                    chechmanual: {
                        type: Boolean,
                        notify: true
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true,
                        observer: '_loadDataAttributes'
                    }
                },
                _loadDataAttributes: function () {
                    var self = this;
                    var camfcuObj = _.cloneDeep(self.get('camfcuObj'));
                    var _dataAttributes = self.dataAttributes;
                    if (_dataAttributes) {
                        if (_dataAttributes.hasOwnProperty('manualCashFlowReport')) {
                            if (!_.isNull(_dataAttributes.manualCashFlowReport) && !_.isUndefined(_dataAttributes.manualCashFlowReport) && !_.isEmpty(_dataAttributes.manualCashFlowReport)) {
                                camfcuObj.values = _dataAttributes.manualCashFlowReport;
                                self.set('camfcuObj', camfcuObj);
                                self.set('chechmanual', true);
                            }
                        }
                        else if (_dataAttributes.hasOwnProperty('perfiosReport')) {
                            if (!_.isNull(_dataAttributes.perfiosReport) && !_.isUndefined(_dataAttributes.perfiosReport) && !_.isEmpty(_dataAttributes.perfiosReport)) {
                                camfcuObj.values = _dataAttributes.perfiosReport;
                                self.set('camfcuObj', camfcuObj);
                                self.set('chechmanual', false);
                            }
                        }
                    }
                },
                _verifyForm: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    var dataattributeEndPoint = window.config.services.dataAttributes;
                    var payload = self.camfcuObj.values;
                    if (form.validate()) {
                        var services = _.cloneDeep(window.config.services);
                        var url = self.chechmanual ? services.dataAttributesmanualcashflow : services.dataAttributesPost;
                        var url1 = url.replace("applicationNumber", self.applicationNumber)
                        self.$.http.post(url1, payload, dataattributeEndPoint, true).then(function (data) {
                            self.raiseAppRefreshEvent(e);
                        }).fail(function (e) {
                            console.error("save cam/fcudata error is ", e);
                        });
                    }
                },
                init: function () {

                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "UpdateCamFcu",
                        EventData: event,
                        CompnentName: 'update-cam-fcu'
                    });
                }
            });
        });
    </script>
</dom-module>