<dom-module id="update-grade-score">
    <template>
        <div class="row">
            <div class="col-md-12">
                <div id="ErrorMessge"></div>
                <form is="iron-form" class="form-horizontal" name="UpdateGradeScore">
                    <dynamic-form form-configuration={{updateobj}} values="{{updateobj.values}}"></dynamic-form>
                    <br>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "update-grade-score",
                properties: {
                    scoreCard: {
                        type: Object,
                        notify: true,
                        observer: "_checkexistornot"
                    },
                    updateobj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                grade: {
                                    label: "Grade",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                score: {
                                    label: "Score",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        pattern: 'DECIMAL',
                                        minLen: 0,
                                        maxLen: 10

                                    }
                                }
                            },
                            values: {
                            }
                        }
                    }
                },
                init: function () {

                },
                _checkexistornot: function () {
                    var self = this;
                    var data = self.scoreCard;
                    if (data.FinalOfferCalculation != undefined && data.FinalOfferCalculation.intermediateData != undefined) {
                        if (data.FinalOfferCalculation.intermediateData.offerData != null && data.FinalOfferCalculation.intermediateData.offerData != undefined) {
                            var updateobj = self.get('updateobj');
                            var appScore = data.FinalOfferCalculation.intermediateData.offerData[0].score;
                            var appGrade = data.FinalOfferCalculation.intermediateData.offerData[0].grade;
                            updateobj.values["score"] = appScore;
                            updateobj.values["grade"] = appGrade;
                        }

                    }
                    self.set('updateobj', $.extend({}, self.get('updateobj'), updateobj));
                },
                _verifyForm: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    var offerEngineEndPoint = window.config.services.appProcessor;

                    var payload = null;
                    if (form.validate()) {
                        var newGrade = self.updateobj.values.grade;
                        var newAppScore = self.updateobj.values.score;
                        var url = "offer/" + self.applicationNumber + "/" + newGrade + "/" + newAppScore;
                        self.$.http.post(url, payload, offerEngineEndPoint, true).then(function (data) {
                            self.$.message.showMessage("Operation completed successfully.", "INFO", self.$.ErrorMessge);
                            self.raiseAppRefreshEvent(e);
                        }).fail(function (e) {
                            console.error("save cam/fcudata error is ", e);
                        });
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "UpdateGradeScore",
                        EventData: event,
                        CompnentName: 'update-grade-score'
                    });
                }
            });
        });
    </script>
</dom-module>