<html-import html-href="services/workflow-service.html"></html-import>
<dom-module id="update-bank-detail">
    <template>
        <style>
            vaadin-upload {
                --vaadin-upload-button-add: {
                    background: #80b43c;
                }
                --vaadin-upload-file-list: {
                    margin-left: 20px;
                }
                --vaadin-upload-drop-label: {
                    margin: 0 !important;
                    padding: 0 !important;
                }
            }

            .custom-input {
                --paper-input-container: {
                    padding: 0px 0px !important;
                }
                --paper-input-container-input: {
                    font-size: 11px;
                    padding: 0px 0px !important;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }
        </style>
        <div class="row">
            <div class="col-md-12">
                <div id="ErrorMessge"></div>
                <form is="iron-form" class="form-horizontal" name="updatebankdetailForm" autocomplete="off" aria-autocomplete="none">
                    <dynamic-form form-configuration={{uploadBankObj}} values="{{uploadBankObj.values}}"></dynamic-form>
                    <br />
                    <div style="margin: 10px auto; text-align: center;">
                        <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                    </div>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <workflow-service id="wfservice"> </workflow-service>
        <session-manager id="session"></session-manager>
        <message-component id="message"></message-component>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "update-bank-detail",
                properties: {
                    applicationNumber: {
                        type: String,
                        notify: true
                    },
                    bankList: {
                        type: Array,
                        notify: true,
                        observer: '_loadDataAttributes'
                    },
                    uploadBankObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                bank: {
                                    label: "Bank Name",
                                    type: "combobox",
                                    selectList: [],
                                    labelKey: "name",
                                    labelValue: "id",
                                    validations: {
                                        required: true
                                    }
                                },
                                accountNumber: {
                                    label: "Account Number",
                                    type: "password",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        pattern: 'NUMBER',
                                        minLen: 0,
                                        maxLen: 20
                                    }
                                },
                                confirmAccountNumber: {
                                    label: "Confirm Account Number",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        pattern: 'NUMBER',
                                        minLen: 0,
                                        maxLen: 20
                                    }
                                },
                                ifscCode: {
                                    label: "IFCS Code",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        pattern: 'IFSC',
                                        minLen: 11,
                                        maxLen: 11
                                    }
                                }
                            },
                            values: {
                                bank: "",
                                accountNumber: "",
                                confirmAccountNumber: "",
                                ifscCode: ""
                            }
                        }
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true
                    }
                },
                _loadDataAttributes: function () {
                    var self = this;
                    var _dataAttributes = self.dataAttributes;
                    var uploadBankObj = _.cloneDeep(self.uploadBankObj);
                    if (_dataAttributes) {
                        self.set('application', _dataAttributes.application);
                        if (!_.isNull(_dataAttributes.application.bankInformation) && !_.isUndefined(_dataAttributes.application.bankInformation) && !_.isEmpty(_dataAttributes.application.bankInformation)) {
                            var _bankDetail = _dataAttributes.application.bankInformation[0];
                            var bankObj = _.find(self.bankList, ['name', _bankDetail.BankName]);
                            if (!_.isUndefined(bankObj)) {
                                uploadBankObj.values.bank = bankObj.id;
                            }
                            uploadBankObj.values.accountNumber = _bankDetail.AccountNumber;
                            uploadBankObj.values.confirmAccountNumber = _bankDetail.AccountNumber;
                            uploadBankObj.values.ifscCode = _bankDetail.IfscCode;
                            self.set('uploadBankObj', uploadBankObj);
                        }
                    }
                },
                _verifyForm: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement.parentElement;
                    var payload = {
                        applicationNumber: self.applicationNumber,
                        basicInformation: {
                            firstName: self.application.firstName,
                            lastName: self.application.lastName
                        }
                    };
                    if (form.validate()) {
                        var reqdata = self.uploadBankObj.values;
                        payload = $.extend({}, payload, reqdata);
                        if (!_.isNull(self.application.middleName) && !_.isUndefined(self.application.middleName) && !_.isEmpty(self.application.middleName)) {
                            payload.basicInformation.middleName = self.application.middleName;
                        }
                        payload.bank = _.find(self.bankList, ['id', reqdata.bank]);
                        self.$.wfservice.execute('on-boarding', 'lookup', 'bank-details', { 'ifscCode': payload.ifscCode }).then(function (result) {
                            if (result != "Not Found") {
                                payload.bankAddress = result.address;
                            }
                            var workid = self.$.session.get('workflowId');
                            var WorkflowService = window.config.services.workflow;
                            var urlWF = '/' + workid + '/on-boarding/verify/update-bank-info';
                            self.$.http.post(urlWF, payload, WorkflowService, true).then(function (data) {
                                var process = data;
                                self.raiseAppRefreshEvent(event);
                            }).fail(function (e) {
                                if (e.statusText === "Unprocessable Entity") {
                                    if (e.responseJSON.status == "statementError" || e.responseJSON.status == "apiError") {
                                        self.$.message.showMessage(e.responseJSON.message.body.message, "ERROR", self.$.ErrorMessge);
                                    }
                                    else if (e.responseJSON.details != "" && e.responseJSON.details.length > 0) {
                                        var message = e.responseJSON.details[0].message;
                                        if (message == "\"accountNumber\" and \"confirmAccountNumber\" do not match") {
                                            message = "The account numbers do not match.";
                                        }
                                        self.$.message.showMessage(message, "ERROR", self.$.ErrorMessge);
                                    }
                                }
                                else if (e.statusText === "error") {
                                    self.$.message.showMessage(e.responseJSON.message.body.message, "ERROR", self.$.ErrorMessge);
                                }
                                else {
                                    self.raiseAppRefreshEvent(event);
                                }
                            });
                        }).fail(function (e) {
                            self.$.message.showMessage("IFSC code is not valid", "ERROR", self.$.ErrorMessge);
                        });
                    }
                },
                _getSupportedBanks: function () {
                    var self = this;
                    var url = "/application/" + self.applicationNumber;
                    var workid = self.$.session.get('workflowId');
                    var uploadBankObj = _.cloneDeep(self.uploadBankObj);
                    self.$.wfservice.execute('on-boarding', 'lookup', 'perfios-supported-instition', {}).then(function (result) {
                        var banks = result.map(function (i) { return { id: i.id, name: i.name, institutionType: i.institutionType }; });
                        uploadBankObj.controls.bank.selectList = banks;
                        self.set('uploadBankObj', uploadBankObj);
                        self.set('bankList', banks);
                    });
                },
                ready: function () {
                    this._getSupportedBanks();
                },
                init: function () {

                },
                raiseAppRefreshEvent: function (e) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "UpdateBankDetail",
                        EventData: e,
                        CompnentName: 'update-bank-detail'
                    });
                }
            });
        });
    </script>
</dom-module>