<html-import html-href="rules/rule-editor.html"></html-import>
<html-import html-href="rules/score-filter.html"></html-import>
<dom-module id="other-rules">
    <template>
        <style>
            .modal-dialog1 {
                width: 1000px;
                margin: 30px auto;
            }

            #ErrorMessge p {
                color: #FF0000;
            }

            #ErrorMessgeRuleEditor p {
                color: #FF0000;
            }

            #SuccessMessge p {
                color: #008000;
            }

            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .twoRow {
                display: inline-block !important;
                margin: 0px 0px !important;
                width: 49% !important;
            }

            .twoRow .col-md-12 {
                padding: 0 2px;
            }
        </style>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox-content">
                    <div class="row" id="filterContainer">
                        <template is="dom-if" if="{{hasRole('AddEditRuleDefinitionBtn')}}">
                            <div class="pull-right">
                                <paper-button class="btn btn-primary activity-action-btn" on-click="_addEditRule" raised>Add Rule</paper-button>
                            </div>
                        </template>
                        <template is="dom-if" if="{{_isItemsLoaded(itemsLoaded)}}">
                            <div class="col-md-12">
                                <score-filter id="filter" rule-defination="{{ruleDefination}}" view-model={{viewModel}} filter-items="{{items}}" hide-export="true"></score-filter>
                            </div>
                        </template>
                        <custom-modal id="addEditRules" class="modal-drop" on-modal-hidden="resetModal">
                            <div>
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title OtherRulesTitle"></h4>
                                        </div>
                                        <div class="modal-body">
                                            <div id="ErrorMessge" style="display: none;">
                                                <p></p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <form is="iron-form" class="form-horizontal" name="scorCardForm">
                                                        <div class="row twoRow">
                                                            <div class="col-md-12">
                                                                <vaadin-combo-box class="custom-input" name="Role" id="selectedProductId" value="{{selectedProductId}}" item-value-path="value"
                                                                    item-label-path="key" items="{{productList}}" label="Product"
                                                                    prevent-invalid-input="true" required on-change="_onProductChange">
                                                                </vaadin-combo-box>
                                                            </div>
                                                        </div>
                                                        <dynamic-form form-configuration={{scoreForm}} values="{{scoreForm.values}}"></dynamic-form>
                                                        <br/>
                                                        <template is="dom-if" if="{{hasRole('AddEditRuleDefinitionBtn')}}">
                                                            <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                                                        </template>
                                                        <paper-button id="scorecardFormCancelBtn" class="btn btn-primary activity-action-btn" on-click="_resetForm" style="display: none;"
                                                            raised>cancel</paper-button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </custom-modal>
                        <custom-modal id="EditRule" class="modal-drop" on-modal-hidden="resetModalEditor">
                            <div>
                                <div class="modal-dialog1">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close CloseRuleEditor" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title">Add/Edit {{dispInfo}} Rule</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div id="ErrorMessgeRuleEditor" style="display: none;">
                                                <p></p>
                                            </div>
                                            <div id="SuccessMessge" style="display: none;">
                                                <p></p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <rule-editor rule-defination={{ruleDefination}} disp-info="{{dispInfo}}"></rule-editor>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </custom-modal>
                    </div>
                </div>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <auth-service id="authorize"></auth-service>
        <lookup-service id="lookup"></lookup-service>
    </template>
    <script>
        Polymer({
            is: "other-rules",
            properties: {
                selectedProductId: {
                    type: String,
                    notify: true,
                    reflectToAttribute: true
                },
                productList: {
                    type: Array,
                    notify: true,
                },
                dispInfo: {
                    type: String,
                    notify: true
                },
                ruleId: {
                    type: String,
                    notify: true
                },
                productId: {
                    type: String,
                    notify: true
                },
                ruleDefination: {
                    type: String,
                    notify: true,
                    observer: "editRule"
                },
                ruleDefinitionId: {
                    type: String,
                    notify: true,
                    value: ""
                },
                items: {
                    type: Array,
                    value: []
                },
                viewModel: {
                    type: String,
                    notify: true,
                    observer: "openModel"
                },
                itemsLoaded: {
                    type: Boolean,
                    notify: true,
                    value: false
                },
                scoreForm: {
                    type: Object,
                    notify: true,
                    value: {
                        controls: {
                            entityTypes: {
                                label: "Entity Type",
                                type: "combobox",
                                class: "twoRow",
                                selectList: [],
                                labelKey: "value",
                                labelValue: "key",
                                validations: {
                                    required: true
                                }
                            },
                            RuleName: {
                                label: "Rule Name",
                                type: "textbox",
                                class: "twoRow",
                                validations: {
                                    required: true,
                                    readonly: false,
                                    charcounter: false,
                                    autovalidate: true,
                                    minLen: 1,
                                    maxLen: 64
                                }
                            },
                            DataAttributeStoreName: {
                                label: "Data Attribute Store Name",
                                type: "textbox",
                                class: "twoRow",
                                validations: {
                                    required: false,
                                    readonly: false,
                                    charcounter: false,
                                    autovalidate: true,
                                    minLen: 1,
                                    maxLen: 64
                                }
                            },
                            DERuleName: {
                                label: "DE Rule Name",
                                type: "textbox",
                                validations: {
                                    required: true,
                                    readonly: false,
                                    charcounter: false,
                                    autovalidate: true,
                                    minLen: 1,
                                    maxLen: 64
                                }
                            },
                            DateType: {
                                label: "Date Type",
                                type: "combobox",
                                class: "twoRow",
                                selectList: [
                                    { key: "SystemDate", value: "System Date" },
                                    { key: "ApplicationDate", value: "Application Date" },
                                    { key: "CustomDate", value: "Custom Date" }
                                ],
                                labelKey: "value",
                                labelValue: "key",
                                validations: {
                                    required: true
                                }
                            },
                            CustomDate: {
                                label: "Custom Date",
                                type: "date",
                                class: "CustomDate",
                                format: "MM/DD/YYYY",
                                minFactor: 10,
                                maxFactor: 0,
                                validations: {
                                    required: false,
                                    min: false,
                                    max: false
                                }
                            },
                            EffectiveDate: {
                                label: "Effective Date",
                                type: "date",
                                class: "twoRow",
                                format: "MM/DD/YYYY",
                                minFactor: 10,
                                maxFactor: 0,
                                validations: {
                                    required: true,
                                    min: false,
                                    max: false
                                }
                            },
                            ExpiryDate: {
                                label: "Expiry Date",
                                type: "date",
                                class: "twoRow",
                                format: "MM/DD/YYYY",
                                minFactor: 10,
                                maxFactor: 0,
                                validations: {
                                    required: true,
                                    min: false,
                                    max: false
                                }
                            },

                            RuleVersion: {
                                label: "Rule Version",
                                type: "textbox",
                                class: "twoRow",
                                validations: {
                                    required: true,
                                    readonly: false,
                                    charcounter: false,
                                    autovalidate: true,
                                    minLen: 1,
                                    maxLen: 64
                                }
                            },
                            RequiredSources: {
                                label: "Required Sources allows multiple by (,)",
                                type: "textbox",
                                class: "twoRow",
                                validations: {
                                    required: false,
                                    readonly: false,
                                    charcounter: false,
                                    autovalidate: true,
                                    minLen: 1,
                                    maxLen: 1000
                                }
                            },
                            OptionalSources: {
                                label: "Optional Sources allows multiple by (,)",
                                type: "textbox",
                                class: "twoRow",
                                validations: {
                                    required: false,
                                    readonly: false,
                                    charcounter: false,
                                    autovalidate: true,
                                    minLen: 1,
                                    maxLen: 1000
                                }
                            },
                            RuleDescription: {
                                label: "Rule Description",
                                type: "textbox",
                                validations: {
                                    required: true,
                                    readonly: false,
                                    charcounter: false,
                                    autovalidate: true,
                                    minLen: 1,
                                    maxLen: 1000
                                }
                            }
                        },
                        values: {
                            productId: "",
                            RuleName: "",
                            DataAttributeStoreName: "",
                            DateType: "",
                            CustomDate: "",
                            EffectiveDate: "",
                            ExpiryDate: "",
                            DERuleName: "",
                            RuleVersion: "",
                            RequiredSources: "",
                            OptionalSources: "",
                            RuleDescription: ""
                        }
                    }
                }
            },
            observers: [
                'DateTypeChanged(scoreForm.values.DateType)'
            ],
            _onProductChange: function (event) {
                var self = this;
                var val = event.target.value;
                if (val !== "") {
                    var ResultObj = _.cloneDeep(self.scoreForm);
                    var productObj = _.find(self.productList, ['key', val]);
                    ResultObj.values.ExpiryDate = moment(productObj.expiresOn.time).format("YYYY-MM-DD");
                    ResultObj.values.EffectiveDate = moment(productObj.validFrom.time).format("YYYY-MM-DD");
                    self.set('scoreForm', ResultObj);
                }
            },
            DateTypeChanged: function (selectedValue) {
                if (selectedValue != undefined && selectedValue !== "" && selectedValue == "CustomDate") {
                    $('#CustomDate').show();
                }
                else {
                    $('#CustomDate').hide();
                }
            },
            hasRole: function (RoleName) {
                return this.$.authorize.hasRole(RoleName);
            },
            _isItemsLoaded: function () {
                if (this.itemsLoaded) {
                    return true;
                }
                return false;
            },
            ready: function () {
                var self = this;
                this.hasAlert = false;
                this.orderedLoans = [];
                this._loadEntityTypes();
                this._initializeFilterItems();
                this.hasAlert = true;
                this._getProductList();
            },
            _loadEntityTypes: function () {
                var self = this;
                var scoreFormObj = _.cloneDeep(this.scoreForm);
                var data = self.$.lookup.getLookupBasedOnName("entityTypes");
                scoreFormObj.controls.entityTypes.selectList = data;
                self.set('scoreForm', scoreFormObj);
            },
            getApplicationData: function () {
                var self = this;
                var params = self.$.url.getParams();
                var url = "/application/ruledetails/" + params.rules;
                var productRule = window.config.services.productRule;
                self.$.http.get(url, productRule).then(function (data) {
                    self.getDrawdownData(data);
                }).fail(function (e) {
                    self.getDrawdownData([]);
                    console.error("alert error is ", e);
                });
            },
            getDrawdownData: function (objData) {
                var self = this;
                var params = self.$.url.getParams();
                var url = "/drawdown/ruledetails/" + params.rules;
                var productRule = window.config.services.productRule;
                self.$.http.get(url, productRule).then(function (data) {
                    var mergeData = _.concat(objData, data);
                    self.set('items', mergeData);
                    self.itemsLoaded = true;
                    if (!self.items || !self.items.length) {
                        self.set('hasAlert', true);
                    } else {
                        self.set('hasAlert', false);
                    }
                }).fail(function (e) {
                    console.error("Drawdown score card ", e);
                });
            },
            _initializeFilterItems: function () {
                var self = this;
                self.getApplicationData();
            },
            _addEditRule: function (event) {
                event.preventDefault();
                var self = this;
                self.ruleId = "";
                var ResultObj = self.scoreForm;
                ResultObj.values.productId = "";
                ResultObj.values.RuleName = "";
                ResultObj.values.DataAttributeStoreName = "";
                ResultObj.values.EffectiveDate = "";
                ResultObj.values.ExpiryDate = "";
                ResultObj.values.DERuleName = "";
                ResultObj.values.RuleVersion = "";
                ResultObj.values.RequiredSources = "";
                ResultObj.values.OptionalSources = "";
                ResultObj.values.RuleDescription = "";
                ResultObj.values.DateType = "";
                ResultObj.values.CustomDate = null;
                self.set('scoreForm', $.extend({}, ResultObj));
                var text = "Add Rule";
                $('#selectedProductId').removeAttr('readonly');
                $('.OtherRulesTitle').text(text);
                self.$$('#addEditRules').showModal();
            },
            _changeTextDisplay: function (value) {
                if (!_.isNull(value) && !_.isUndefined(value) && !_.isEmpty(value))
                    return _.startCase(_.lowerCase(value));
                return "";
            },
            openModel: function (objId) {
                var self = this;
                if (!_.isUndefined(objId) && !_.isNull(objId) && !_.isEmpty(objId)) {
                    var scoreObj = self._getScorCardById(self.items, "id", objId);
                    var ResultObj = self.scoreForm;
                    self.ruleDefinitionId = scoreObj.id;
                    self.ruleId = scoreObj.id;
                    var productRule = window.config.services.productRule;
                    var url = "/" + self.ruleDefinitionId + "/ruledefinition";
                    if (self.ruleDefinitionId != undefined && self.ruleDefinitionId != null) {
                        self.$.http.get(url, productRule).then(function (result) {
                            ResultObj.values.productId = result.productId
                            ResultObj.values.entityTypes = result.entityType;
                            ResultObj.values.RuleName = result.ruleName;
                            ResultObj.values.RuleClass = result.ruleClass;
                            ResultObj.values.RuleType = result.ruleType;
                            ResultObj.values.DERuleName = result.ruleDetail.deRuleName;
                            ResultObj.values["EffectiveDate"] = moment(result.effectiveDate.time).format("YYYY-MM-DD");
                            ResultObj.values["ExpiryDate"] = moment(result.expiryDate.time).format("YYYY-MM-DD");
                            ResultObj.values.DateType = result.applicationType;
                            if (result.applicationType === "CustomDate")
                                ResultObj.values["CustomDate"] = moment(result.customDate.time).format("YYYY-MM-DD");
                            else
                                ResultObj.values["CustomDate"] = null;
                            ResultObj.values.RuleVersion = result.ruleDetail.ruleVersion;
                            ResultObj.values.RequiredSources = result.ruleDetail.requiredSources.toString();
                            ResultObj.values.OptionalSources = result.ruleDetail.optionalSources.toString();
                            ResultObj.values.RuleDescription = result.description;
                            ResultObj.values.DataAttributeStoreName = result.dataAttributeStoreName;
                            ResultObj.controls.entityTypes.validations.readonly = true;
                            ResultObj.controls.RuleName.validations.readonly = true;
                            self.set('scoreForm', $.extend({}, ResultObj));
                            self.selectedProductId = scoreObj.productId;
                            $('#selectedProductId').attr("readonly", "true");
                            var text = "Manage " + self._changeTextDisplay(result.ruleName) + " Rule";
                            $('.OtherRulesTitle').text(text);
                            self.$$('#addEditRules').showModal();
                        }).fail(function (e) {
                            console.error("Add Attribute save error is ", e);
                        });
                    }
                }
            },
            _getScorCardById: function (array, propName, scoreID) {
                var Obj = array.filter(function (e) {
                    return e[propName] === scoreID;
                })[0];
                return Obj || {};
            },
            _resetForm: function (event) {
                var form = Polymer.dom(event).localTarget.parentElement;
                form.reset();
            },
            resetModal: function () {
                var self = this;
                self.viewModel = "";
                self.ruleId = "";
                self.selectedProductId = "";
                var ResultObj = self.scoreForm;
                ResultObj.values.productId = "";
                ResultObj.values.entityTypes = "";
                ResultObj.values.RuleName = "";
                ResultObj.values.DataAttributeStoreName = "";
                ResultObj.values.EffectiveDate = "";
                ResultObj.values.ExpiryDate = "";
                ResultObj.values.DERuleName = "";
                ResultObj.values.RuleVersion = "";
                ResultObj.values.RequiredSources = "";
                ResultObj.values.OptionalSources = "";
                ResultObj.values.RuleDescription = "";
                ResultObj.values.DateType = "";
                ResultObj.values.CustomDate = null;
                ResultObj.controls.entityTypes.validations.readonly = false;
                ResultObj.controls.RuleName.validations.readonly = false;
                self.set('scoreForm', $.extend({}, ResultObj));
                $('#scorecardFormCancelBtn').trigger('click');
            },
            _verifyForm: function (event) {
                event.preventDefault();
                var self = this;
                var form = Polymer.dom(event).localTarget.parentElement;
                var params = self.$.url.getParams();
                var RuleClassobj = params.rules;
                if (form.validate()) {
                    if (self.scoreForm.values.DateType === "CustomDate" && (self.scoreForm.values.CustomDate === "" || self.scoreForm.values.CustomDate === null)) {
                        return false;
                    }
                    if (!_.isUndefined(self.ruleId) && !_.isNull(self.ruleId) && !_.isEmpty(self.ruleId)) {
                        var rs = new Array();
                        var os = new Array();
                        if (self.scoreForm.values.RequiredSources.toString() !== "") {
                            rs = self.scoreForm.values.RequiredSources.split(',');
                        }
                        if (self.scoreForm.values.OptionalSources.toString() !== "") {
                            os = self.scoreForm.values.OptionalSources.split(',');
                        }
                        var CDate;
                        if (self.scoreForm.values.DateType !== "CustomDate" && (self.scoreForm.values.CustomDate === "" || self.scoreForm.values.CustomDate === null)) {
                            CDate = Date.now();
                        }
                        else {
                            CDate = self.scoreForm.values.CustomDate
                        }
                        var Payload = {
                            DataAttributeStoreName: self.scoreForm.values.DataAttributeStoreName,
                            EffectiveDate: self.scoreForm.values.EffectiveDate,
                            ExpiryDate: self.scoreForm.values.ExpiryDate,
                            RuleClass: RuleClassobj,
                            RuleType: "Rule",
                            DERuleName: self.scoreForm.values.DERuleName,
                            RuleVersion: self.scoreForm.values.RuleVersion,
                            RequiredSources: rs,
                            OptionalSources: os,
                            Description: self.scoreForm.values.RuleDescription,
                            ApplicationType: self.scoreForm.values.DateType,
                            CustomDate: self.formatDate(CDate)
                        }
                        var productRule = window.config.services.productRule;
                        var url = "/" + self.ruleDefinitionId + "/ruledefinition";
                        self.$.http.put(url, Payload, productRule).then(function (result) {
                            $('.close').click();
                            self._updateHash();
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            $('div#ErrorMessge p').html(strMessage);
                            $('div#ErrorMessge').show();
                            setTimeout(function () {
                                $('div#ErrorMessge').hide();
                            }, 2000);
                            console.error("edit Attribute save error is ", e);
                        });
                    }
                    else {
                        var rs = new Array();
                        var os = new Array();
                        if (self.scoreForm.values.RequiredSources.toString() !== "") {
                            rs = self.scoreForm.values.RequiredSources.split(',');
                        }
                        if (self.scoreForm.values.OptionalSources.toString() !== "") {
                            os = self.scoreForm.values.OptionalSources.split(',');
                        }
                        var CDate;
                        if (self.scoreForm.values.DateType !== "CustomDate" && (self.scoreForm.values.CustomDate === "" || self.scoreForm.values.CustomDate === null)) {
                            CDate = Date.now();
                        }
                        else {
                            CDate = self.scoreForm.values.CustomDate
                        }
                        var Payload = {
                            RuleName: self.scoreForm.values.RuleName,
                            DataAttributeStoreName: self.scoreForm.values.DataAttributeStoreName,
                            EffectiveDate: self.scoreForm.values.EffectiveDate,
                            ExpiryDate: self.scoreForm.values.ExpiryDate,
                            RuleClass: RuleClassobj,
                            RuleType: "Rule",
                            DERuleName: self.scoreForm.values.DERuleName,
                            RuleVersion: self.scoreForm.values.RuleVersion,
                            RequiredSources: rs,
                            OptionalSources: os,
                            Description: self.scoreForm.values.RuleDescription,
                            ApplicationType: self.scoreForm.values.DateType,
                            CustomDate: self.formatDate(CDate)
                        }
                        var productRule = window.config.services.productRule;
                        var url = "/" + self.scoreForm.values.entityTypes + "/" + self.scoreForm.values.productId + "/ruledefinition";
                        self.$.http.post(url, Payload, productRule).then(function (result) {
                            $('.close').click();
                            self._updateHash();
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            $('div#ErrorMessge p').html(strMessage);
                            $('div#ErrorMessge').show();
                            setTimeout(function () {
                                $('div#ErrorMessge').hide();
                            }, 2000);
                        });
                    }
                }
            },
            formatDate: function (date) {
                if (date !== null && date !== undefined && date !== "") {
                    return moment.tz(date, window.config.timezone).format("YYYY-MM-DD");
                }
                return "";
            },
            resetModalEditor: function () {
                var self = this;
                $('div#ErrorMessge p').html("");
                $('div#ErrorMessge').hide();
                $('div#ErrorMessgeRuleEditor p').html("");
                $('div#ErrorMessgeRuleEditor').hide();
                $('div#SuccessMessge p').html("");
                $('div#SuccessMessge').hide();
                self._updateHash();
            },
            editRule: function (e) {
                var self = this;
                self.$$('#EditRule').showModal();
            },
            _updateHash: function () {
                var randomVal = Math.floor(Math.random() * (10000 - 1 + 1)) + 1;
                var hashStr = window.location.hash;
                if (hashStr.includes("refresh:")) {
                    var newHash = hashStr.replace(/refresh:\d+/i, "refresh:" + randomVal);
                    window.location.hash = newHash;
                } else {
                    window.location.hash = hashStr + "/refresh:" + randomVal;
                }
            },
            _getProductList: function () {
                var self = this;
                var url = "/all/product";
                var multiProducts = window.config.services.multiProducts;
                self.$.http.get(url, multiProducts).then(function (data) {
                    var ProductList = _.transform(data, function (result, item) {
                        result.push({ key: item.productId, value: item.productId, expiresOn: item.expiresOn, validFrom: item.validFrom });
                    }, []);
                    self.set('productList', ProductList);
                }).fail(function (e) {
                    console.error("Product List error is ", e);
                });

            }
        });
    </script>
</dom-module>