<html-import html-href="rules/score-filter.html"></html-import>
<html-import html-href="rules/rule-editor.html"></html-import>
<html-import html-href="rules/score-variable.html"></html-import>
<html-import html-href="rules/segment-rule.html"></html-import>
<html-import html-href="rules/lookup-rule.html"></html-import>
<html-import html-href="rules/eligibility-rule.html"></html-import>
<dom-module id="score-card">
    <template>
        <style>
            .modal-dialog1 {
                width: 1000px;
                margin: 30px auto;
            }

            .nav-tabs>li.active>a,
            .nav-tabs>li.active>a:hover,
            .nav-tabs>li.active>a:focus {
                color: #555555 !important;
                cursor: default;
                background: white;
                border-bottom: #f3f3f4;
                border-color: #dddddd #dddddd rgba(0, 0, 0, 0);
                border-image: none;
                border-style: solid;
                border-width: 1px;
                -moz-border-bottom-colors: none;
                -moz-border-left-colors: none;
                -moz-border-right-colors: none;
                -moz-border-top-colors: none;
            }

            #ErrorMessge p {
                color: #FF0000;
            }

            #ErrorMessgeRuleEditor p {
                color: #FF0000;
            }

            #SuccessMessge p {
                color: #008000;
            }

            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .twoRow {
                display: inline-block !important;
                margin: 0px 0px !important;
                width: 49% !important;
            }

            .twoRow .col-md-12 {
                padding: 0 2px;
            }
        </style>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox-content">
                    <ul class="nav nav-tabs" id="myTab">
                        <template is="dom-if" if="{{hasRole('scorecardTab')}}">
                            <li class="active">
                                <a data-target="#scorecard" title="{{getTooltip('scorecardTab')}}" data-toggle="tab">Score Card Rules</a>
                            </li>
                        </template>
                        <template is="dom-if" if="{{hasRole('scorecardVariableTab')}}">
                            <li>
                                <a data-target="#setupScoreCardVariable" title="{{getTooltip('scorecardVariableTab')}}" data-toggle="tab">Setup {{selectedName}} Variables</a>
                            </li>
                        </template>
                        <template is="dom-if" if="{{hasRole('EligibilityTab')}}">
                            <li>
                                <a data-target="#setupEligibility" title="{{getTooltip('EligibilityTab')}}" data-toggle="tab">Eligibility Rules</a>
                            </li>
                        </template>
                        <template is="dom-if" if="{{hasRole('SegmentTab')}}">
                            <li>
                                <a data-target="#setupSegment" title="{{getTooltip('SegmentTab')}}" data-toggle="tab">Segment Rules</a>
                            </li>
                        </template>
                        <template is="dom-if" if="{{hasRole('lookupTab')}}">
                            <li>
                                <a data-target="#setuplookup" title="{{getTooltip('lookupTab')}}" data-toggle="tab">Lookup Rules</a>
                            </li>
                        </template>
                    </ul>
                    <div class="tab-content panel-body">
                        <div class="tab-pane active" id="scorecard">
                            <template is="dom-if" if="{{_isItemsLoaded(itemsLoaded)}}">
                                <template is="dom-if" if="{{hasRole('AddEditScoreCardBtn')}}">
                                    <div class="pull-right">
                                        <paper-button class="btn btn-primary activity-action-btn" on-click="_addScoreCard" raised>Add Score Card</paper-button>
                                    </div>
                                </template>
                                <score-filter id="filter" selected-product="{{selectedProduct}}" selected-name="{{selectedName}}" rule-defination="{{ruleDefination}}"
                                    view-model="{{viewModel}}" entity-type="{{entityType}}" filter-items="{{items}}" hide-export="true"></score-filter>
                            </template>
                            <custom-modal id="addEditScoreCardModal" class="modal-drop" on-modal-hidden="resetModal">
                                <div>
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h4 class="modal-title ScoreCardTitle"></h4>
                                            </div>
                                            <div class="modal-body">
                                                <div id="ErrorMessge" style="display: none;">
                                                    <p></p>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <form is="iron-form" class="form-horizontal" name="scorCardForm">
                                                            <div class="row twoRow">
                                                                <div class="col-md-12">
                                                                    <vaadin-combo-box class="custom-input" name="Role" id="selectedProductId" value="{{selectedProductId}}" item-value-path="value"
                                                                        item-label-path="key" items="{{productList}}" label="Product"
                                                                        prevent-invalid-input="true" required on-change="_onProductChange">
                                                                    </vaadin-combo-box>
                                                                </div>
                                                            </div>
                                                            <dynamic-form form-configuration={{scoreForm}} values="{{scoreForm.values}}"></dynamic-form>
                                                            <br/>
                                                            <template is="dom-if" if="{{hasRole('AddEditScoreCardBtn')}}">
                                                                <paper-button class="btn btn-primary activity-action-btn" on-click="SubmitScoreCard" raised>Submit</paper-button>
                                                            </template>
                                                            <paper-button id="scorecardFormCancelBtn" class="btn btn-primary activity-action-btn" on-click="_resetForm" style="display: none;"
                                                                raised>cancel</paper-button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </custom-modal>
                        </div>
                        <div class="tab-pane" id="setupScoreCardVariable">
                            <score-variable selected-product="{{selectedProduct}}" entity-type="{{entityType}}" selected-name="{{selectedName}}" rule-defination="{{ruleDefination}}"></score-variable>
                        </div>
                        <div class="tab-pane" id="setupEligibility">
                            <eligibility-rules rule-defination="{{ruleDefination}}" show-content="true"></eligibility-rules>
                        </div>
                        <div class="tab-pane" id="setupSegment">
                            <segment-rules rule-defination="{{ruleDefination}}" show-content="true"></segment-rules>
                        </div>
                        <div class="tab-pane" id="setuplookup">
                            <lookup-rules rule-defination="{{ruleDefination}}" show-content="true"></lookup-rules>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <custom-modal id="EditScoreCardRule" class="modal-drop" on-modal-hidden="resetModal">
            <div>
                <div class="modal-dialog1">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close CloseRuleEditor" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Add/Edit {{dispInfo}} Rule</h4>
                        </div>
                        <div class="modal-body">
                            <div id="ErrorMessgeRuleEditor" style="display: none;">
                                <p></p>
                            </div>
                            <div id="SuccessMessge" style="display: none;">
                                <p></p>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <rule-editor rule-defination="{{ruleDefination}}" disp-info="{{dispInfo}}"></rule-editor>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>
        <custom-modal id="addEditValidationRules" class="modal-drop" on-modal-hidden="resetValidationModal">
            <div>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close validateClose" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title ValidationRuleTitle"></h4>
                        </div>
                        <div class="modal-body">
                            <div id="ErrorMessge" style="display: none;">
                                <p></p>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <form is="iron-form" class="form-horizontal" name="ValidationForm">
                                        <dynamic-form form-configuration={{ValidationForm}} values="{{ValidationForm.values}}"></dynamic-form>
                                        <br/>
                                        <template is="dom-if" if="{{hasRole('AddEditScoreCardBtn')}}">
                                            <paper-button class="btn btn-primary activity-action-btn" on-click="SubmitValidationRule" raised>Submit</paper-button>
                                        </template>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <auth-service id="authorize"></auth-service>
        <lookup-service id="lookup"></lookup-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "score-card",
                properties: {
                    dispInfo: {
                        type: String,
                        notify: true
                    },
                    selectedProduct: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    selectedProductId: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    selectedName: {
                        type: String,
                        notify: true
                    },
                    ruleDefination: {
                        type: String,
                        notify: true,
                        observer: "editRule"
                    },
                    ruleDefinitionId: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    items: {
                        type: Array,
                        value: []
                    },
                    scorCardId: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    viewModel: {
                        type: String,
                        notify: true,
                        observer: "openModel"
                    },
                    itemsLoaded: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    ValidationRuleId: {
                        type: String,
                        notify: true
                    },
                    entityType: {
                        type: String,
                        notify: true
                    },
                    productList: {
                        type: Array,
                        notify: true,
                    },
                    scoreForm: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                entityTypes: {
                                    label: "Entity Type",
                                    type: "combobox",
                                    class: "twoRow",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true,
                                        readonly: true
                                    }
                                },
                                scoreCardName: {
                                    label: "Score Card Name",
                                    type: "textbox",
                                    class: "twoRow",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                isValidated: {
                                    label: "Score Card Validated",
                                    type: "checkbox",
                                    class: "twoRow",
                                    validations: {
                                        required: false
                                    }
                                },
                                description: {
                                    label: "Description",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 1000
                                    }
                                },
                                RuleName: {
                                    label: "Rule Name",
                                    type: "textbox",
                                    class: "twoRow",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                DataAttributeStoreName: {
                                    label: "Data Attribute Store Name",
                                    type: "textbox",
                                    class: "twoRow",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                DateType: {
                                    label: "Date Type",
                                    type: "combobox",
                                    class: "twoRow",
                                    selectList: [
                                        { key: "SystemDate", value: "System Date" },
                                        { key: "ApplicationDate", value: "Application Date" },
                                        { key: "CustomDate", value: "Custom Date" }
                                    ],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                CustomDate: {
                                    label: "Custom Date",
                                    type: "date",
                                    class: "CustomDate",
                                    format: "MM/DD/YYYY",
                                    minFactor: 10,
                                    maxFactor: 0,
                                    validations: {
                                        required: false,
                                        min: false,
                                        max: false
                                    }
                                },
                                EffectiveDate: {
                                    label: "Effective Date",
                                    type: "date",
                                    class: "twoRow",
                                    format: "MM/DD/YYYY",
                                    minFactor: 10,
                                    maxFactor: 0,
                                    validations: {
                                        required: true,
                                        min: false,
                                        max: false
                                    }
                                },
                                ExpiryDate: {
                                    label: "Expiry Date",
                                    type: "date",
                                    class: "twoRow",
                                    format: "MM/DD/YYYY",
                                    minFactor: 10,
                                    maxFactor: 0,
                                    validations: {
                                        required: true,
                                        min: false,
                                        max: false
                                    }
                                },
                                DERuleName: {
                                    label: "DE Rule Name",
                                    type: "textbox",
                                    class: "twoRow",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                RuleVersion: {
                                    label: "Rule Version",
                                    type: "textbox",
                                    class: "twoRow",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                RequiredSources: {
                                    label: "Required Sources allows multiple by (,)",
                                    type: "textbox",
                                    class: "twoRow",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 1000
                                    }
                                },
                                OptionalSources: {
                                    label: "Optional Sources allows multiple by (,)",
                                    type: "textbox",
                                    class: "twoRow",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 1000
                                    }
                                },
                                RuleDescription: {
                                    label: "Rule Description",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 1000
                                    }
                                }
                            },
                            values: {
                                productId: "",
                                entityTypes: "",
                                scoreCardName: "",
                                isValidated: false,
                                description: "",
                                RuleName: "",
                                DataAttributeStoreName: "",
                                DateType: "",
                                CustomDate: "",
                                EffectiveDate: "",
                                ExpiryDate: "",
                                DERuleName: "",
                                RuleVersion: "",
                                RequiredSources: "",
                                OptionalSources: "",
                                RuleDescription: ""
                            }
                        }
                    },
                    ValidationForm: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                VproductId: {
                                    label: "Product Id",
                                    type: "combobox",
                                    class: "twoRow",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                VRuleName: {
                                    label: "Rule Name",
                                    type: "textbox",
                                    class: "twoRow",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                VDataAttributeStoreName: {
                                    label: "Data Attribute Store Name",
                                    type: "textbox",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                VDateType: {
                                    label: "Date Type",
                                    type: "combobox",
                                    class: "twoRow",
                                    selectList: [
                                        { key: "SystemDate", value: "System Date" },
                                        { key: "ApplicationDate", value: "Application Date" },
                                        { key: "CustomDate", value: "Custom Date" }
                                    ],
                                    labelKey: "value",
                                    labelValue: "key",
                                    validations: {
                                        required: true
                                    }
                                },
                                VSegmentCustomDate: {
                                    label: "Custom Date",
                                    type: "date",
                                    class: "CustomDate",
                                    format: "MM/DD/YYYY",
                                    minFactor: 10,
                                    maxFactor: 0,
                                    validations: {
                                        required: false,
                                        min: false,
                                        max: false
                                    }
                                },
                                VEffectiveDate: {
                                    label: "Effective Date",
                                    type: "date",
                                    class: "twoRow",
                                    format: "MM/DD/YYYY",
                                    minFactor: 10,
                                    maxFactor: 0,
                                    validations: {
                                        required: true,
                                        min: false,
                                        max: false
                                    }
                                },
                                VExpiryDate: {
                                    label: "Expiry Date",
                                    type: "date",
                                    class: "twoRow",
                                    format: "MM/DD/YYYY",
                                    minFactor: 10,
                                    maxFactor: 0,
                                    validations: {
                                        required: true,
                                        min: false,
                                        max: false
                                    }
                                },
                                VDERuleName: {
                                    label: "DE Rule Name",
                                    type: "textbox",
                                    class: "twoRow",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                VRuleVersion: {
                                    label: "Rule Version",
                                    type: "textbox",
                                    class: "twoRow",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                VRequiredSources: {
                                    label: "Required Sources allows multiple by (,)",
                                    type: "textbox",
                                    class: "twoRow",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 1000
                                    }
                                },
                                VOptionalSources: {
                                    label: "Optional Sources allows multiple by (,)",
                                    type: "textbox",
                                    class: "twoRow",
                                    validations: {
                                        required: false,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 1000
                                    }
                                },
                                VRuleDescription: {
                                    label: "Rule Description",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 1000
                                    }
                                }
                            },
                            values: {
                                VproductId: "",
                                VRuleName: "",
                                VDataAttributeStoreName: "",
                                VDateType: "",
                                VSegmentCustomDate: "",
                                VEffectiveDate: "",
                                VExpiryDate: "",
                                VDERuleName: "",
                                VRuleVersion: "",
                                VRequiredSources: "",
                                VOptionalSources: "",
                                VRuleDescription: ""
                            }
                        }
                    }
                },
                observers: [
                    'DateTypeChanged(scoreForm.values.DateType)',
                    'DateTypeChangedV(ValidationForm.values.VDateType)'
                ],
                _onProductChange: function (event) {
                    var self = this;
                    var val = event.target.value;
                    if (val !== "") {
                        var ResultObj = _.cloneDeep(self.scoreForm);
                        var productObj = _.find(self.productList, ['key', val]);
                        ResultObj.values.ExpiryDate = moment(productObj.expiresOn.time).format("YYYY-MM-DD");
                        ResultObj.values.EffectiveDate = moment(productObj.validFrom.time).format("YYYY-MM-DD");
                        self.set('scoreForm', ResultObj);
                    }
                },
                DateTypeChanged: function (selectedValue) {
                    if (selectedValue != undefined && selectedValue !== "" && selectedValue == "CustomDate") {
                        $('#CustomDate').show();
                    }
                    else {
                        $('#CustomDate').hide();
                    }
                },
                DateTypeChangedV: function (selectedValue) {
                    if (selectedValue != undefined && selectedValue !== "" && selectedValue == "CustomDate") {
                        $('#VSegmentCustomDate').show();
                    }
                    else {
                        $('#VSegmentCustomDate').hide();
                    }
                },
                _isItemsLoaded: function () {
                    if (this.itemsLoaded) {
                        return true;
                    }
                    return false;
                },
                ready: function () {
                    var self = this;
                    if (window.jQuery) {
                        self.init();
                    } else {
                        window.addEventListener("WebComponentsReady", self.init());
                    }
                },
                _loadEntityTypes: function () {
                    var self = this;
                    var data = self.$.lookup.getLookupBasedOnName("entityTypes");
                    self.scoreForm.controls.entityTypes.selectList = data;
                    self.set('scoreForm', $.extend({}, self.get('scoreForm'), self.scoreForm));
                },
                init: function () {
                    this.hasAlert = false;
                    this.orderedLoans = [];
                    this._loadEntityTypes();
                    this._initializeFilterItems();
                    this.hasAlert = true;
                },
                getApplicationData: function () {
                    var self = this;
                    var url = "/application/all/scorecard";
                    var productRule = window.config.services.productRule;
                    self.$.http.get(url, productRule).then(function (data) {
                        self.getDrawdownData(data);
                    }).fail(function (e) {
                        self.getDrawdownData([]);
                        console.error("Application score card ", e);
                    });
                },
                getDrawdownData: function (objData) {
                    var self = this;
                    var url = "/drawdown/all/scorecard";
                    var productRule = window.config.services.productRule;
                    self.$.http.get(url, productRule).then(function (data) {
                        var mergeData = _.concat(objData, data);
                        self.set('items', mergeData);
                        self.itemsLoaded = true;
                        if (!self.items || !self.items.length) {
                            self.set('hasAlert', true);
                        } else {
                            self.set('hasAlert', false);
                        }
                        self._getProductList();
                    }).fail(function (e) {
                        console.error("Drawdown score card ", e);
                    });
                },
                _initializeFilterItems: function () {
                    var self = this;
                    self.getApplicationData()
                },
                get: function (url, loanFilters) {
                    return this.$.http.get(url, loanFilters);
                },
                post: function (url, request, loanFilters) {
                    return this.$.http.post(url, request, loanFilters);
                },
                _addScoreCard: function (event) {
                    event.preventDefault();
                    var self = this;
                    var ResultObj = self.scoreForm;
                    ResultObj.values.productId = "";
                    ResultObj.values.scoreCardName = "";
                    ResultObj.values.entityTypes = "";
                    ResultObj.values.description = "";
                    ResultObj.values.isValidated = false;
                    ResultObj.values.RuleName = "";
                    ResultObj.values.DataAttributeStoreName = "";
                    ResultObj.values.EffectiveDate = "";
                    ResultObj.values.ExpiryDate = "";
                    ResultObj.values.DERuleName = "";
                    ResultObj.values.RuleVersion = "";
                    ResultObj.values.RequiredSources = "";
                    ResultObj.values.OptionalSources = "";
                    ResultObj.values.RuleDescription = "";
                    ResultObj.values.DateType = "";
                    ResultObj.values.CustomDate = null;
                    self.ValidationRuleId = null;
                    ResultObj.controls.entityTypes.validations.readonly = false;
                    ResultObj.controls.scoreCardName.validations.readonly = false;
                    ResultObj.controls.RuleName.validations.readonly = false;
                    $('#selectedProductId').removeAttr('readonly');
                    self.set('scoreForm', $.extend({}, ResultObj));
                    var text = "Add Score Card";
                    $('.ScoreCardTitle').text(text);
                    self.$$('#addEditScoreCardModal').showModal();
                },
                openModel: function (objId) {
                    var self = this;
                    if (objId.indexOf("ValidationRule_") != -1) {
                        objId = objId.replace("ValidationRule_", "").replace("null", "");
                        var ResultObj = self.ValidationForm;
                        if (!_.isUndefined(objId) && !_.isNull(objId) && !_.isEmpty(objId)) {
                            var scoreObj = self._getScorCardById(self.items, "id", objId);
                            self.entityType = scoreObj.entityType;
                            self.ruleDefinitionId = scoreObj.validationRuleId;
                            var productRule = window.config.services.productRule;
                            var url = "/" + self.ruleDefinitionId + "/ruledefinition";
                            if (self.ruleDefinitionId != undefined && self.ruleDefinitionId != null) {
                                self.$.http.get(url, productRule).then(function (result) {
                                    ResultObj.values.VproductId = scoreObj.productId;
                                    ResultObj.values.VRuleName = result.ruleName;
                                    ResultObj.values.VDataAttributeStoreName = result.dataAttributeStoreName;
                                    ResultObj.values.VDateType = result.applicationType;
                                    ResultObj.values.VRuleClass = result.ruleClass;
                                    ResultObj.values.VRuleType = result.ruleType;
                                    ResultObj.values.VDERuleName = result.ruleDetail.deRuleName;
                                    if (result.applicationType === "CustomDate")
                                        ResultObj.values["VSegmentCustomDate"] = moment(result.customDate.time).format("YYYY-MM-DD");
                                    else
                                        ResultObj.values["VSegmentCustomDate"] = null;
                                    ResultObj.values["VEffectiveDate"] = moment(result.effectiveDate.time).format("YYYY-MM-DD");
                                    ResultObj.values["VExpiryDate"] = moment(result.expiryDate.time).format("YYYY-MM-DD");
                                    ResultObj.values.VRuleVersion = result.ruleDetail.ruleVersion;
                                    ResultObj.values.VRequiredSources = result.ruleDetail.requiredSources.toString();
                                    ResultObj.values.VOptionalSources = result.ruleDetail.optionalSources.toString();
                                    ResultObj.values.VRuleDescription = result.description;
                                    ResultObj.controls.VproductId.validations.readonly = true;
                                    ResultObj.controls.VRuleName.validations.readonly = true;
                                    self.set('ValidationForm', $.extend({}, ResultObj));
                                    self.scorCardId = objId;
                                    var text = "Manage " + self._changeTextDisplay(scoreObj.ruleName) + " Score Card";
                                    $('.ValidationRuleTitle').text(text);
                                    self.$$('#addEditValidationRules').showModal();
                                }).fail(function (e) {
                                    console.error("Add Attribute save error is ", e);
                                });
                            }
                            else {
                                ResultObj.controls.VproductId.validations.readonly = false;
                                ResultObj.controls.VRuleName.validations.readonly = false;
                                ResultObj.values.VproductId = "";
                                ResultObj.values.VRuleName = "";
                                ResultObj.values.VDataAttributeStoreName = "";
                                ResultObj.values.VDateType = "";
                                ResultObj.values.VRuleClass = "";
                                ResultObj.values.VRuleType = "";
                                ResultObj.values.VDERuleName = "";
                                ResultObj.values["VSegmentCustomDate"] = "";
                                ResultObj.values["VEffectiveDate"] = "";
                                ResultObj.values["VExpiryDate"] = "";
                                ResultObj.values.VRuleVersion = "";
                                ResultObj.values.VRequiredSources = "";
                                ResultObj.values.VOptionalSources = "";
                                ResultObj.values.VRuleDescription = "";
                                self.set('ValidationForm', $.extend({}, ResultObj));
                                self.scorCardId = objId;
                                var text = "Manage Validation Rule";
                                $('.ValidationRuleTitle').text(text);
                                self.$$('#addEditValidationRules').showModal();
                            }
                        }
                    }
                    else {
                        if (!_.isUndefined(objId) && !_.isNull(objId) && !_.isEmpty(objId)) {
                            var scoreObj = self._getScorCardById(self.items, "id", objId);
                            var ResultObj = self.scoreForm;
                            self.ruleDefinitionId = scoreObj.ruleDefinitionId;
                            var productRule = window.config.services.productRule;
                            var url = "/" + self.ruleDefinitionId + "/ruledefinition";
                            if (self.ruleDefinitionId != undefined && self.ruleDefinitionId != null) {
                                self.$.http.get(url, productRule).then(function (result) {
                                    ResultObj.values.RuleName = result.ruleName;
                                    ResultObj.values.RuleClass = result.ruleClass;
                                    ResultObj.values.RuleType = result.ruleType;
                                    ResultObj.values.DERuleName = result.ruleDetail.deRuleName;
                                    ResultObj.values.DateType = result.applicationType;
                                    if (result.applicationType === "CustomDate")
                                        ResultObj.values["CustomDate"] = moment(result.customDate.time).format("YYYY-MM-DD");
                                    else
                                        ResultObj.values["CustomDate"] = null;
                                    ResultObj.values["EffectiveDate"] = moment(result.effectiveDate.time).format("YYYY-MM-DD");
                                    ResultObj.values["ExpiryDate"] = moment(result.expiryDate.time).format("YYYY-MM-DD");
                                    ResultObj.values.RuleVersion = result.ruleDetail.ruleVersion;
                                    ResultObj.values.RequiredSources = result.ruleDetail.requiredSources.toString();
                                    ResultObj.values.OptionalSources = result.ruleDetail.optionalSources.toString();
                                    ResultObj.values.RuleDescription = result.description;
                                    ResultObj.values.DataAttributeStoreName = result.dataAttributeStoreName;
                                    ResultObj.controls.entityTypes.validations.readonly = true;
                                    ResultObj.controls.scoreCardName.validations.readonly = true;
                                    ResultObj.controls.RuleName.validations.readonly = true;
                                    ResultObj.values.productId = scoreObj.productId;
                                    ResultObj.values.entityTypes = scoreObj.entityType;
                                    ResultObj.values.scoreCardName = scoreObj.scoreCardName;
                                    ResultObj.values.description = scoreObj.description;
                                    ResultObj.values.isValidated = scoreObj.isValidated;
                                    self.ValidationRuleId = scoreObj.validationRuleId;
                                    self.set('scoreForm', $.extend({}, ResultObj));
                                    self.scorCardId = objId;
                                    self.selectedProductId = scoreObj.productId;
                                    $('#selectedProductId').attr("readonly", "true");
                                    var text = "Manage " + self._changeTextDisplay(scoreObj.scoreCardName) + " Score Card";
                                    $('.ScoreCardTitle').text(text);
                                    self.$$('#addEditScoreCardModal').showModal();
                                }).fail(function (e) {
                                    console.error("Add Attribute save error is ", e);
                                });
                            }
                            else {
                                ResultObj.controls.scoreCardName.validations.readonly = true;
                                ResultObj.values.productId = scoreObj.productId;
                                ResultObj.values.entityTypes = scoreObj.entityType;
                                ResultObj.values.scoreCardName = scoreObj.scoreCardName;
                                ResultObj.values.description = scoreObj.description;
                                ResultObj.values.isValidated = scoreObj.isValidated;
                                self.ValidationRuleId = scoreObj.validationRuleId;
                                self.selectedProductId = scoreObj.productId;
                                $('#selectedProductId').attr("readonly", "true");
                                self.set('scoreForm', $.extend({}, ResultObj));
                                self.scorCardId = objId;
                                var text = "Manage " + self._changeTextDisplay(scoreObj.scoreCardName) + " Score Card";
                                $('.ScoreCardTitle').text(text);
                                self.$$('#addEditScoreCardModal').showModal();
                            }
                        }
                    }
                },
                _getScorCardById: function (array, propName, scoreID) {
                    var Obj = array.filter(function (e) {
                        return e[propName] === scoreID;
                    })[0];
                    return Obj || {};
                },
                _resetForm: function (event) {
                    var form = Polymer.dom(event).localTarget.parentElement;
                    form.reset();
                },
                resetModal: function () {
                    var self = this;
                    self.selectedProduct = "";
                    self.scorCardId = "";
                    self.viewModel = "";
                    var ResultObj = self.scoreForm;
                    ResultObj.values.productId = "";
                    ResultObj.values.entityTypes = "";
                    ResultObj.values.scoreCardName = "";
                    ResultObj.values.description = "";
                    ResultObj.values.isValidated = false;
                    ResultObj.values.RuleName = "";
                    ResultObj.values.DataAttributeStoreName = "";
                    ResultObj.values.EffectiveDate = "";
                    ResultObj.values.ExpiryDate = "";
                    ResultObj.values.DERuleName = "";
                    ResultObj.values.RuleVersion = "";
                    ResultObj.values.RequiredSources = "";
                    ResultObj.values.OptionalSources = "";
                    ResultObj.values.RuleDescription = "";
                    ResultObj.values.DateType = "";
                    ResultObj.values.CustomDate = null;
                    self.ValidationRuleId = null;
                    self.set('scoreForm', $.extend({}, ResultObj));
                    $('#scorecardFormCancelBtn').trigger('click');
                },
                SubmitScoreCard: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var params = self.$.url.getParams();
                    var RuleClassName = params.rules;
                    if (form.validate()) {
                        if (self.scoreForm.values.DateType === "CustomDate" && (self.scoreForm.values.CustomDate === "" || self.scoreForm.values.CustomDate === null)) {
                            return false;
                        }
                        if (!_.isUndefined(self.scorCardId) && !_.isNull(self.scorCardId) && !_.isEmpty(self.scorCardId)) {
                            var rs = new Array();
                            var os = new Array();
                            if (self.scoreForm.values.RequiredSources.toString() !== "") {
                                rs = self.scoreForm.values.RequiredSources.split(',');
                            }
                            if (self.scoreForm.values.OptionalSources.toString() !== "") {
                                os = self.scoreForm.values.OptionalSources.split(',');
                            }
                            var CDate;
                            if (self.scoreForm.values.DateType !== "CustomDate" && (self.scoreForm.values.CustomDate === "" || self.scoreForm.values.CustomDate === null)) {
                                CDate = Date.now();
                            }
                            else {
                                CDate = self.scoreForm.values.CustomDate
                            }
                            var Payload = {
                                DataAttributeStoreName: self.scoreForm.values.DataAttributeStoreName,
                                EffectiveDate: self.scoreForm.values.EffectiveDate,
                                ExpiryDate: self.scoreForm.values.ExpiryDate,
                                RuleClass: RuleClassName,
                                RuleType: "Rule",
                                DERuleName: self.scoreForm.values.DERuleName,
                                RuleVersion: self.scoreForm.values.RuleVersion,
                                RequiredSources: rs,
                                OptionalSources: os,
                                Description: self.scoreForm.values.RuleDescription,
                                ApplicationType: self.scoreForm.values.DateType,
                                CustomDate: self.formatDate(CDate)
                            }

                            var PayloadProduct = {
                                productId: self.scoreForm.values.productId,
                                scoreCardName: self.scoreForm.values.scoreCardName,
                                description: self.scoreForm.values.description,
                                EffectiveDate: self.scoreForm.values.EffectiveDate,
                                ExpiryDate: self.scoreForm.values.ExpiryDate,
                                ApplicationType: self.scoreForm.values.DateType,
                                IsValidated: self.scoreForm.values.isValidated,
                                ValidationRuleId: self.ValidationRuleId,
                                CustomDate: self.formatDate(CDate)
                            }

                            var productRule = window.config.services.productRule;
                            var url = "/" + self.ruleDefinitionId + "/ruledefinition";
                            self.$.http.put(url, Payload, productRule).then(function (result) {
                                PayloadProduct.ruleDefinitionId = result.id
                                var url = "/" + self.scorCardId + "/scorecard";
                                self.$.http.put(url, PayloadProduct, productRule).then(function (result) {
                                    $('.close').click();
                                    self._updateHash();
                                }).fail(function (e) {
                                    var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                                    $('div#ErrorMessge p').html(strMessage);
                                    $('div#ErrorMessge').show();
                                    setTimeout(function () {
                                        $('div#ErrorMessge').hide();
                                    }, 2000);
                                    console.error("Scorcard save error is ", e);
                                });
                            }).fail(function (e) {
                                var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                                $('div#ErrorMessge p').html(strMessage);
                                $('div#ErrorMessge').show();
                                setTimeout(function () {
                                    $('div#ErrorMessge').hide();
                                }, 2000);
                                console.error("edit Attribute save error is ", e);
                            });
                        }
                        else {
                            var rs = new Array();
                            var os = new Array();
                            if (self.scoreForm.values.RequiredSources.toString() !== "") {
                                rs = self.scoreForm.values.RequiredSources.split(',');
                            }
                            if (self.scoreForm.values.OptionalSources.toString() !== "") {
                                os = self.scoreForm.values.OptionalSources.split(',');
                            }
                            var CDate;
                            if (self.scoreForm.values.DateType !== "CustomDate" && (self.scoreForm.values.CustomDate === "" || self.scoreForm.values.CustomDate === null)) {
                                CDate = Date.now();
                            }
                            else {
                                CDate = self.scoreForm.values.CustomDate
                            }
                            var PayloadProduct = {
                                productId: self.scoreForm.values.productId,
                                scoreCardName: self.scoreForm.values.scoreCardName,
                                description: self.scoreForm.values.description,
                                EffectiveDate: self.scoreForm.values.EffectiveDate,
                                ExpiryDate: self.scoreForm.values.ExpiryDate,
                                ApplicationType: self.scoreForm.values.DateType,
                                IsValidated: self.scoreForm.values.isValidated,
                                ValidationRuleId: self.ValidationRuleId,
                                CustomDate: self.formatDate(CDate)
                            }

                            var Payload = {
                                RuleName: self.scoreForm.values.RuleName,
                                DataAttributeStoreName: self.scoreForm.values.DataAttributeStoreName,
                                EffectiveDate: self.scoreForm.values.EffectiveDate,
                                ExpiryDate: self.scoreForm.values.ExpiryDate,
                                RuleClass: RuleClassName,
                                RuleType: "Rule",
                                DERuleName: self.scoreForm.values.DERuleName,
                                RuleVersion: self.scoreForm.values.RuleVersion,
                                RequiredSources: rs,
                                OptionalSources: os,
                                Description: self.scoreForm.values.RuleDescription,
                                ApplicationType: self.scoreForm.values.DateType,
                                CustomDate: self.formatDate(CDate)
                            }
                            var productRule = window.config.services.productRule;
                            var url = "/" + self.scoreForm.values.entityTypes + "/" + self.scoreForm.values.productId + "/ruledefinition";
                            self.$.http.post(url, Payload, productRule).then(function (result) {
                                PayloadProduct.ruleDefinitionId = result.id
                                url = "/" + self.scoreForm.values.entityTypes + "/" + self.scoreForm.values.productId + "/scorecard";
                                self.$.http.post(url, PayloadProduct, productRule).then(function (result) {
                                    $('.close').click();
                                    self._updateHash();
                                }).fail(function (e) {
                                    var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                                    $('div#ErrorMessge p').html(strMessage);
                                    $('div#ErrorMessge').show();
                                    setTimeout(function () {
                                        $('div#ErrorMessge').hide();
                                    }, 3000);
                                    console.error("Scorcard save error is ", e);
                                });
                            }).fail(function (e) {
                                var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                                $('div#ErrorMessge p').html(strMessage);
                                $('div#ErrorMessge').show();
                                setTimeout(function () {
                                    $('div#ErrorMessge').hide();
                                }, 2000);
                            });
                        }
                    }
                },
                formatDate: function (date) {
                    if (date !== null && date !== undefined && date !== "") {
                        return moment.tz(date, window.config.timezone).format("YYYY-MM-DD");
                    }
                    return "";
                },
                resetScoreCardModalEditor: function () {
                    var self = this;
                    $('div#ErrorMessge p').html("");
                    $('div#ErrorMessge').hide();
                    $('div#ErrorMessgeRuleEditor p').html("");
                    $('div#ErrorMessgeRuleEditor').hide();
                    $('div#SuccessMessge p').html("");
                    $('div#SuccessMessge').hide();
                    self.ruleDefination = "";
                },
                editRule: function (e) {
                    var self = this;
                    $('div#ErrorMessge p').html("");
                    $('div#ErrorMessge').hide();
                    $('div#ErrorMessgeRuleEditor p').html("");
                    $('div#ErrorMessgeRuleEditor').hide();
                    $('div#SuccessMessge p').html("");
                    $('div#SuccessMessge').hide();
                    if (self.ruleDefination != "")
                        self.$$('#EditScoreCardRule').showModal();
                },
                _updateHash: function () {
                    var randomVal = Math.floor(Math.random() * (10000 - 1 + 1)) + 1;
                    var hashStr = window.location.hash;
                    if (hashStr.includes("refresh:")) {
                        var newHash = hashStr.replace(/refresh:\d+/i, "refresh:" + randomVal);
                        window.location.hash = newHash;
                    } else {
                        window.location.hash = hashStr + "/refresh:" + randomVal;
                    }
                },
                hasRole: function (RoleName) {
                    return this.$.authorize.hasRole(RoleName);
                },
                getTooltip: function (compName) {
                    var tooltip = this.$.authorize.getToolTip(compName, "");
                    return tooltip.data;
                },
                _changeTextDisplay: function (value) {
                    if (!_.isNull(value) && !_.isUndefined(value) && !_.isEmpty(value))
                        return _.startCase(_.lowerCase(value));
                    return "";
                },
                UpdateValidationRule: function (scorCardId, validationRuleId) {
                    var self = this;
                    var scoreObj = self._getScorCardById(self.items, "id", scorCardId);
                    var CDate;
                    if (scoreObj.applicationType !== "CustomDate" && (scoreObj.customDate === "" || scoreObj.customDate === null)) {
                        CDate = Date.now();
                    }
                    else {
                        CDate = scoreObj.customDate.time;
                    }
                    var PayloadProduct = {
                        ProductId: scoreObj.productId,
                        ScoreCardName: scoreObj.scoreCardName,
                        Description: scoreObj.description,
                        EffectiveDate: scoreObj.effectiveDate.time,
                        ExpiryDate: scoreObj.expiryDate.time,
                        ApplicationType: scoreObj.applicationType,
                        IsValidated: scoreObj.isValidated,
                        ValidationRuleId: validationRuleId,
                        CustomDate: CDate,
                        RuleDefinitionId: scoreObj.ruleDefinitionId
                    }
                    var productRule = window.config.services.productRule;
                    var url = "/" + scorCardId + "/scorecard";
                    self.$.http.put(url, PayloadProduct, productRule).then(function (result) {
                        $('.validateClose').click();
                        self._updateHash();
                    }).fail(function (e) {
                        var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                        $('div#ErrorMessge p').html(strMessage);
                        $('div#ErrorMessge').show();
                        setTimeout(function () {
                            $('div#ErrorMessge').hide();
                        }, 2000);
                        console.error("Scorcard save error is ", e);
                    });
                },
                SubmitValidationRule: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var RuleClassobj = "validation";
                    if (form.validate()) {
                        if (self.ValidationForm.values.VDateType === "CustomDate" && (self.ValidationForm.values.VSegmentCustomDate === "" || self.ValidationForm.values.VSegmentCustomDate === null)) {
                            return false;
                        }
                        if (!_.isUndefined(self.validationRuleId) && !_.isNull(self.validationRuleId) && !_.isEmpty(self.validationRuleId)) {
                            var rs = new Array();
                            var os = new Array();
                            if (self.ValidationForm.values.VRequiredSources.toString() !== "") {
                                rs = self.ValidationForm.values.VRequiredSources.split(',');
                            }
                            if (self.ValidationForm.values.VOptionalSources.toString() !== "") {
                                os = self.ValidationForm.values.VOptionalSources.split(',');
                            }
                            var CDate;
                            if (self.ValidationForm.values.VDateType !== "CustomDate" && (self.ValidationForm.values.VSegmentCustomDate === "" || self.ValidationForm.values.VSegmentCustomDate === null)) {
                                CDate = Date.now();
                            }
                            else {
                                CDate = self.ValidationForm.values.VSegmentCustomDate
                            }
                            var Payload = {
                                DataAttributeStoreName: self.ValidationForm.values.VDataAttributeStoreName,
                                EffectiveDate: self.ValidationForm.values.VEffectiveDate,
                                ExpiryDate: self.ValidationForm.values.VExpiryDate,
                                RuleClass: RuleClassobj,
                                RuleType: "Rule",
                                DERuleName: self.ValidationForm.values.VDERuleName,
                                RuleVersion: self.ValidationForm.values.VRuleVersion,
                                RequiredSources: rs,
                                OptionalSources: os,
                                Description: self.ValidationForm.values.VRuleDescription,
                                ApplicationType: self.ValidationForm.values.VDateType,
                                CustomDate: self.formatDate(CDate)
                            }

                            var productRule = window.config.services.productRule;
                            var url = "/" + self.ruleDefinitionId + "/ruledefinition";
                            self.$.http.put(url, Payload, productRule).then(function (result) {
                                $('.validateClose').click();
                                self._updateHash();
                            }).fail(function (e) {
                                var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                                $('div#ErrorMessge p').html(strMessage);
                                $('div#ErrorMessge').show();
                                setTimeout(function () {
                                    $('div#ErrorMessge').hide();
                                }, 2000);
                                console.error("edit Attribute save error is ", e);
                            });
                        }
                        else {
                            var rs = new Array();
                            var os = new Array();
                            if (self.ValidationForm.values.VRequiredSources.toString() !== "") {
                                rs = self.ValidationForm.values.VRequiredSources.split(',');
                            }
                            if (self.ValidationForm.values.VOptionalSources.toString() !== "") {
                                os = self.ValidationForm.values.VOptionalSources.split(',');
                            }
                            var CDate;
                            if (self.ValidationForm.values.VDateType !== "CustomDate" && (self.ValidationForm.values.VSegmentCustomDate === "" || self.ValidationForm.values.VSegmentCustomDate === null)) {
                                CDate = Date.now();
                            }
                            else {
                                CDate = self.ValidationForm.values.VSegmentCustomDate
                            }
                            var Payload = {
                                RuleName: self.ValidationForm.values.VRuleName,
                                DataAttributeStoreName: self.ValidationForm.values.VDataAttributeStoreName,
                                EffectiveDate: self.ValidationForm.values.VEffectiveDate,
                                ExpiryDate: self.ValidationForm.values.VExpiryDate,
                                RuleClass: RuleClassobj,
                                RuleType: "Rule",
                                DERuleName: self.ValidationForm.values.VDERuleName,
                                RuleVersion: self.ValidationForm.values.VRuleVersion,
                                RequiredSources: rs,
                                OptionalSources: os,
                                Description: self.ValidationForm.values.VRuleDescription,
                                ApplicationType: self.ValidationForm.values.VDateType,
                                CustomDate: self.formatDate(CDate)
                            }
                            var productRule = window.config.services.productRule;
                            var url = "/" + self.entityType + "/" + self.ValidationForm.values.VproductId + "/ruledefinition";
                            self.$.http.post(url, Payload, productRule).then(function (result) {
                                self.UpdateValidationRule(self.scorCardId, result.id);
                            }).fail(function (e) {
                                var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                                $('div#ErrorMessge p').html(strMessage);
                                $('div#ErrorMessge').show();
                                setTimeout(function () {
                                    $('div#ErrorMessge').hide();
                                }, 2000);
                            });
                        }
                    }
                },
                resetValidationModal: function () {
                    var self = this;
                    self.entityType = "";
                },
                _getProductList: function () {
                    var self = this;
                    var url = "/all/product";
                    var multiProducts = window.config.services.multiProducts;
                    self.$.http.get(url, multiProducts).then(function (data) {
                        var ProductList = _.transform(data, function (result, item) {
                            result.push({ key: item.productId, value: item.productId, expiresOn: item.expiresOn, validFrom: item.validFrom })
                        });
                        self.set('productList', ProductList);
                    }).fail(function (e) {
                        console.error("Product List error is ", e);
                    });
                }
            });
        });
    </script>
</dom-module>