<dom-module id="score-variable">
    <template>
        <style>
            .setHeight {
                padding: 5px 5px 5px 5px;
            }

            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .modal-dialog1 {
                width: 1000px;
                margin: 30px auto;
            }

            .nav-tabs {
                margin-bottom: -1px;
            }

            .title-case {
                text-transform: capitalize;
            }

            .nav-tabs>li.active>a,
            .nav-tabs>li.active>a:hover,
            .nav-tabs>li.active>a:focus {
                color: #555555 !important;
                cursor: default;
                background: white;
                border-bottom: #f3f3f4;
                border-color: #dddddd #dddddd rgba(0, 0, 0, 0);
                border-image: none;
                border-style: solid;
                border-width: 1px;
                -moz-border-bottom-colors: none;
                -moz-border-left-colors: none;
                -moz-border-right-colors: none;
                -moz-border-top-colors: none;
            }

            .panel-default>.panel-heading+.panel-collapse>.panel-body {
                border-top-color: #EEEEEE;
            }

            .panel-body {
                min-height: 0px;
            }

            .tab-content>.active {
                display: block;
                background: white;
            }

            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
                padding: 10px 0px 10px 5px;
            }

            .addbtn {
                margin-bottom: 10px;
                margin-top: 10px;
            }

            #ErrorMessge p {
                color: #FF0000;
            }

            #ErrorMessgeRuleEditor p {
                color: #FF0000;
            }

            #SuccessMessge p {
                color: #008000;
            }

            .row {
                margin: 0 auto !important;
            }
        </style>
        <div class="pull-right">
            <template is="dom-if" if="{{hasRole('AddEditScoreCardVariableBtn')}}">
                <template is="dom-if" if="{{ShowButton(selectedName)}}">
                    <paper-button class="btn btn-primary activity-action-btn addbtn" on-click="_addScoreCardVariable" raised>Add ScoreCard Variable</paper-button>
                </template>
            </template>
        </div>
        <table id="scoreCardVariableData" class="table table-striped" width="100%" cellspacing="0">
        </table>
        <custom-modal id="addEditScoreCardVariableModal" class="modal-drop" on-modal-hidden="resetScoreCardModal">
            <div>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title ScoreTitle">Manage ScoreCard Variable</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form id="VariableForm" is="iron-form" class="form-horizontal">
                                    <div class="row">
                                        <div class="panel-left col-md-6">
                                            <paper-input type="text" class="custom-input" value="{{variableName}}" name="variableName" id="variableName" label="Variable Name"></paper-input>
                                        </div>
                                        <div class="panel-left col-md-6">
                                            <paper-input class="custom-input" pattern="^\s*(?=.*[1-9])\d*(?:\.\d{1,9})?\s*$" value="{{Weightage}}" name="Weightage" id="Weightage"
                                                label="Weightage"></paper-input>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="panel-left col-md-6">
                                            <paper-input class="custom-input" type="text" value="{{dataAttributeStoreName}}" name="dataAttributeStoreName" id="dataAttributeStoreName"
                                                label="Attribute Store Name"></paper-input>
                                        </div>
                                        <div class="panel-left col-md-6">
                                            <vaadin-combo-box class="custom-input" name="variableType" value="{{SelectedVariableType}}" item-value-path="value" item-label-path="key"
                                                items="{{variableTypes}}" label="Select Variable Type" prevent-invalid-input="true"
                                                on-change="_onTypeChange">
                                            </vaadin-combo-box>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="panel-left col-md-12">
                                            <paper-input class="custom-input" type="text" value="{{description}}" name="Description" id="Description" label="Variable Description"></paper-input>
                                        </div>
                                    </div>
                                    <div class="row" id="DataAttributeRow" style="display: none;">
                                        <div class="panel-left col-md-6">
                                            <paper-input class="custom-input" type="text" value="{{inputSource}}" name="inputSource" id="inputSource" label="Input Source"></paper-input>
                                        </div>
                                        <div class="panel-left col-md-6">
                                            <paper-input class="custom-input" type="text" value="{{inputVariable}}" name="inputVariable" id="inputVariable" label="Input Variable"></paper-input>
                                        </div>
                                    </div>
                                    <div class="row" id="SegmentLookupRules" style="display: none;">
                                        <div class="panel-left col-md-6">
                                            <vaadin-combo-box class="custom-input" name="variableRuleType" value="{{SelectedSegmentLookupRuleId}}" item-value-path="value"
                                                item-label-path="key" items="{{SegmentLookupRules}}" label="Select Rule" prevent-invalid-input="true">
                                            </vaadin-combo-box>
                                        </div>
                                    </div>
                                    <div class="row RuleRow" style="display: none;">
                                        <div class="panel-left col-md-6">
                                            <paper-input class="custom-input" type="text" value="{{RuleName}}" name="RuleName" id="ScoreCardVariableRuleName" label="Rule Name"></paper-input>
                                        </div>
                                    </div>
                                    <div class="row RuleRow" style="display: none;">
                                        <div class="panel-left col-md-6">
                                            <vaadin-combo-box class="custom-input" name="variableType" value="{{SelectedDateTypeL}}" item-value-path="value" item-label-path="key"
                                                items="{{DateType}}" label="Select Date Type" prevent-invalid-input="true" on-change="_onDateTypeChange">
                                            </vaadin-combo-box>
                                        </div>
                                        <div class="panel-left col-md-6">
                                            <vaadin-date-picker class="custom-input" id="CustomDateSeg" i18n="[[i18n]]" label="Custom Date" format="{{_getFormat(item.value)}}"
                                                value={{CustomDate}}></vaadin-date-picker>
                                        </div>
                                    </div>
                                    <div class="row RuleRow" style="display: none;">
                                        <div class="panel-left col-md-6">
                                            <vaadin-date-picker class="custom-input" id="EffectiveDate" i18n="[[i18n]]" label="Effective Date" format="{{_getFormat(item.value)}}"
                                                value={{EffectiveDate}}></vaadin-date-picker>
                                        </div>
                                        <div class="panel-left col-md-6">
                                            <vaadin-date-picker class="custom-input" id="ExpiryDate" i18n="[[i18n]]" label="ExpiryDate" format="{{_getFormat(item.value)}}"
                                                value={{ExpiryDate}}></vaadin-date-picker>
                                        </div>
                                    </div>
                                    <div class="row RuleRow" style="display: none;">
                                        <div class="panel-left col-md-6">
                                            <paper-input class="custom-input" type="text" value="{{DERuleName}}" name="DERuleName" id="DERuleName" label="DE Rule Name"></paper-input>
                                        </div>
                                        <div class="panel-left col-md-6">
                                            <paper-input class="custom-input" type="text" value="{{RuleVersion}}" name="RuleVersion" id="RuleVersion" label="Rule Version"></paper-input>
                                        </div>
                                    </div>
                                    <div class="row RuleRow" style="display: none;">
                                        <span>Required and Optinal sources allow multiple using "," seperator</span>
                                        <div class="panel-left col-md-6">
                                            <paper-input class="custom-input" type="text" value="{{RequiredSources}}" name="RequiredSources" id="RequiredSources" label="Required Sources"></paper-input>
                                        </div>
                                        <div class="panel-left col-md-6">
                                            <paper-input class="custom-input" type="text" value="{{OptionalSources}}" name="OptionalSources" id="OptionalSources" label="Optional Sources"></paper-input>
                                        </div>
                                    </div>
                                    <div class="row RuleRow" style="display: none;">
                                        <div class="panel-left col-md-12">
                                            <paper-input class="custom-input" type="text" value="{{RuleDescription}}" name="RuleDescription" id="RuleDescription" label="Variable Rule Description"></paper-input>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <template is="dom-if" if="{{hasRole('AddEditScoreCardVariableBtn')}}">
                                            <paper-button id="btnSave" class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                                        </template>
                                        <br>
                                    </div>
                                    <div class="setHeight">

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <auth-service id="authorize"></auth-service>
    </template>
    <script>
        Polymer({
            is: "score-variable",
            properties: {
                entityType: {
                    type: String,
                    notify: true
                },
                SelectedDateTypeL: {
                    type: String,
                    notify: true
                },
                CustomDate: {
                    type: Date,
                    notify: true
                },
                EffectiveDate: {
                    type: Date,
                    notify: true
                },
                ExpiryDate: {
                    type: Date,
                    notify: true
                },
                selectedProduct: {
                    type: String,
                    notify: true
                },
                selectedName: {
                    type: String,
                    notify: true,
                    observer: "_nameChanged"
                },
                ruleDefination: {
                    type: String,
                    notify: true
                },
                ruleId: {
                    type: String,
                    notify: true
                },
                scoreCardId: {
                    type: String,
                    notify: true
                },
                scoreCardVariableId: {
                    type: String,
                    notify: true
                },
                variableName: {
                    type: String,
                    notify: true,
                    observer: "variableNameStoreName"
                },
                variableTypes: {
                    type: Array,
                    notify: true,
                    value: [
                        { key: "Attribute", value: "DataAttribute" },
                        { key: "Rule", value: "Rule" },
                        { key: "Segment", value: "SegmentRule" },
                        { key: "Lookup", value: "LookupRule" }
                    ]
                },
                SelectedVariableType: {
                    type: String,
                    notify: true
                },
                SegmentLookupRules: {
                    type: Array,
                    notify: true,
                    value: []
                },
                SelectedSegmentLookupRuleId: {
                    type: String,
                    notify: true
                },
                description: {
                    type: String,
                    notify: true
                },
                ruleDefinitionId: {
                    type: String,
                    notify: true
                },
                dataAttributeStoreName: {
                    type: String,
                    notify: true
                },
                inputSource: {
                    type: String,
                    notify: true
                },
                inputVariable: {
                    type: String,
                    notify: true
                },
                Weightage: {
                    type: String,
                    notify: true
                },
                tableObj: {
                    type: Object,
                    notify: false
                },
                ScoreVariable: {
                    type: Array,
                    notify: true,
                    value: []
                },
                RuleName: {
                    type: String,
                    notify: true
                },
                DERuleName: {
                    type: String,
                    notify: true
                },
                RuleVersion: {
                    type: String,
                    notify: true
                },
                RequiredSources: {
                    type: String,
                    notify: true
                },
                OptionalSources: {
                    type: String,
                    notify: true
                },
                RuleDescription: {
                    type: String,
                    notify: true
                },
                i18n: {
                    type: Object,
                    notify: true,
                    value: {
                        monthNames: moment.months(),
                        weekdays: moment.weekdays(),
                        weekdaysShort: moment.weekdaysShort(),
                        firstDayOfWeek: moment.localeData().firstDayOfWeek(),
                        week: 'Week',
                        calendar: 'Calendar',
                        clear: 'Clear',
                        today: 'Today',
                        cancel: 'Cancel',
                        formatDate: function (d) {
                            return moment(d).format("YYYY-MM-DD");
                        },
                        parseDate: function (s) {
                            return moment(s, "YYYY-MM-DD").toDate();
                        },
                        formatTitle: function (monthName, fullYear) {
                            return monthName + ' ' + fullYear;
                        }
                    }
                },
                DateType: {
                    type: Array,
                    notify: true,
                    value: [
                        { key: "System Date", value: "SystemDate" },
                        { key: "Application Date", value: "ApplicationDate" },
                        { key: "Custom Date", value: "CustomDate" }]
                },
            },
            _onDateTypeChange: function (event) {
                var self = this;
                var selectedValues = event.target.value;
                if (selectedValues === "CustomDate") {
                    $('#CustomDateSeg').show();
                }
                else if (selectedValues === "ApplicationDate") {
                    $('#CustomDateSeg').hide();
                }
                else if (selectedValues === "SystemDate") {
                    $('#CustomDateSeg').hide();
                }
                else {
                    $('#CustomDateSeg').hide();
                }
            },
            ShowButton: function (selectedName) {
                var self = this;
                if (selectedName != undefined && selectedName !== "")
                    return true;
                return false;
            },
            _nameChanged: function () {
                var self = this;
                self.loadScoreVariable();
            },
            loadScoreVariable: function () {
                var self = this;
                var url = "/" + self.entityType + "/" + self.selectedProduct + "/" + self.selectedName + "/scorecard";
                var productRule = window.config.services.productRule;
                self.$.http.get(url, productRule).then(function (data) {
                    self.scoreCardId = data.id;
                    self.ScoreVariable = data.scoreCardVariables;
                    self._showResult(self.ScoreVariable);
                }).fail(function (e) {
                    console.error("alert error is ", e);
                });
            },
            _showResult: function (resultData) {
                var self = this;
                var table = self.tableObj;
                if (table !== null && table !== undefined) {
                    table.clear();
                    table.destroy();
                }
                self.tableObj = $(this.$$('#scoreCardVariableData')).DataTable({
                    retrieve: true,
                    dom: "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    language: {
                        "zeroRecords": "No data found."
                    },
                    data: resultData,
                    order: [[0, "desc"]],
                    columnDefs: [
                        {
                            "width": "15%",
                            targets: 0,
                            orderable: true
                        },
                        {
                            targets: 1,
                            width: "25%"
                        },
                        {
                            targets: 2,
                            width: "15%"
                        },
                        {
                            targets: 3,
                            width: "25%"
                        },
                        {
                            targets: 4,
                            width: "15%"
                        },
                        {
                            targets: 5,
                            width: "5%",
                            sortable: false
                        }
                    ],
                    columns: [
                        {
                            "data": "variableName",
                            "title": "Variable Name",
                            "tooltip": "Variable Name"
                        },
                        {
                            "data": "description",
                            "title": "Description",
                            "tooltip": "Description"
                        },
                        {
                            "data": "variableType",
                            "title": "Variable Type",
                            "tooltip": "variableType"
                        },
                        {
                            "data": "dataAttributeStoreName",
                            "title": "Attribute Store Name",
                            "tooltip": "Attribute Store Name"
                        },
                        {
                            "data": "weightage",
                            "title": "Weightage",
                            "tooltip": "weightage"
                        },
                        {
                            "data": null,
                            "isFunction": true,
                            "render": eval("(function(data,type,full,meta) {var RuleEditor=''; var hasViewScoreCardVariable='';if (data.variableType == 'Rule' && data.definitionId != null && ((self.hasRole('ViewRuleBtn') == true) || (self.hasRole('AddEditRuleBtn') == true))) { RuleEditor = \"<li><a on-click='editRule' href='javascript:'>Edit Rule</a></li>\" }; if (self.hasRole('ViewScoreCardVariableBtn') == true || self.hasRole('AddEditScoreCardVariableBtn') == true) { hasViewScoreCardVariable = \"<li><a on-click='editVariables' href='javascript:'>Edit</a></li>\" }; return \"<ul class='nav navbar-right' style='font-size:15px; margin: 0 0 0 0;'><li class='dropdown'><a href='javascript:' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-expanded='false' style='padding: 3px 0px 0 5px;'><i class='fa fa-ellipsis-h' aria-hidden='true'></i></a><ul class='dropdown-menu'>\" + hasViewScoreCardVariable  + RuleEditor + \"</ul></li></ul>\"})")
                        }
                    ]
                });
                $('#scoreCardVariableData tbody').on('click', 'a', function (obj) {
                    var data = self.tableObj.row($(this).parents('tr')).data();
                    if (this.getAttribute("on-click") !== null && this.getAttribute("on-click") !== undefined) {
                        self[this.getAttribute("on-click")](data);
                    }
                });
            },
            variableNameStoreName: function (objStore) {
                var self = this;
                self.dataAttributeStoreName = objStore + "_Attribute";
                self.inputVariable = objStore;
                self.description = objStore;
                self.RuleDescription = objStore;
            },
            _getFormat: function () {
                return 'MM/DD/YYYY';
            },
            hasRole: function (RoleName) {
                return this.$.authorize.hasRole(RoleName);
            },
            addActiveClassIfHasRole: function (RoleName) {
                if (this.$.authorize.hasRole(RoleName)) {
                    return 'tab-pane active';
                } else {
                    return 'tab-pane';
                }
            },
            editRule: function (e) {
                var self = this;
                self.ruleDefination = e.definitionId;
            },
            editVariables: function (e) {
                var event = e;
                var self = this;
                self.scoreCardVariableId = e.scoreCardVariableId;
                self.variableName = e.variableName;
                self.description = e.description;
                self.SelectedVariableType = e.variableType;
                self.dataAttributeStoreName = e.dataAttributeStoreName;
                self.Weightage = e.weightage;
                var selectedValues = e.variableType;
                if (selectedValues === "DataAttribute") {
                    $('#DataAttributeRow').show();
                    $('.RuleRow').hide();
                    $('#SegmentLookupRules').hide();
                    $('#CustomDateSeg').hide();
                    self.ruleDefinitionId = null;
                    self.inputSource = e.scoreCardVariableSource.inputSource;
                    self.inputVariable = e.scoreCardVariableSource.inputVariable;
                    self.SelectedSegmentLookupRuleId = null;
                }
                else if (selectedValues === "Rule") {
                    $('#DataAttributeRow').hide();
                    $('#SegmentLookupRules').hide();
                    $('.RuleRow').show();
                    $('#CustomDateSeg').hide();
                    self.scoreCardVariableSource = null;
                    self.ruleDefinitionId = e.definitionId;
                    var productRule = window.config.services.productRule;
                    var url = "/" + self.ruleDefinitionId + "/ruledefinition";
                    self.$.http.get(url, productRule).then(function (result) {
                        self.RuleName = result.ruleName;
                        self.RuleType = result.ruleType;
                        self.DERuleName = result.ruleDetail.deRuleName;
                        self.SelectedDateTypeL = result.applicationType;
                        if (self.SelectedDateTypeL === "CustomDate") {
                            $('#CustomDateSeg').show();
                            self.CustomDate = moment(result.customDate.time).format("YYYY-MM-DD");
                        }
                        else {
                            self.CustomDate = null;
                            $('#CustomDateSeg').hide();
                        }
                        self.EffectiveDate = moment(result.effectiveDate.time).format("YYYY-MM-DD");
                        self.ExpiryDate = moment(result.expiryDate.time).format("YYYY-MM-DD");
                        self.RuleVersion = result.ruleDetail.ruleVersion;
                        self.RequiredSources = result.ruleDetail.requiredSources.toString();
                        self.OptionalSources = result.ruleDetail.optionalSources.toString();
                        self.RuleDescription = result.description;
                        self.SelectedSegmentLookupRuleId = null;
                    }).fail(function (e) {
                        console.error("Add Attribute save error is ", e);
                    });
                }
                else if (selectedValues === "SegmentRule" || selectedValues === "LookupRule") {
                    $('#SegmentLookupRules').show();
                    $('#DataAttributeRow').hide();
                    $('.RuleRow').hide();
                    $('#CustomDateSeg').hide();
                    self.ruleDefinitionId = e.definitionId;
                    self.scoreCardVariableSource = null;
                    self.inputSource = null;
                    self.inputVariable = null;
                    self.fillVariableType(selectedValues);
                    self.SelectedSegmentLookupRuleId = e.definitionId;
                }
                $('#variableName').attr('readonly', 'true');
                $('#ScoreCardVariableRuleName').attr('readonly', 'true');
                var text = "Manage " + self._changeTextDisplay(self.selectedName) + " Variables";
                $('.ScoreTitle').text(text);
                self.$$('#addEditScoreCardVariableModal').showModal();
            },
            _changeTextDisplay: function (value) {
                if (!_.isNull(value) && !_.isUndefined(value) && !_.isEmpty(value))
                    return _.startCase(_.lowerCase(value));
                return "";
            },
            date: function (date) {
                if (date !== null && date !== undefined && date !== "") {
                    return moment.tz(date, window.config.timezone).format("MM/DD/YYYY");
                }
                return "";
            },
            getTooltip: function (compName) {
                var tooltip = this.$.authorize.getToolTip(compName, "");
                return tooltip.data;
            },
            resetScoreCardModal: function () {
                var self = this;
                self.scoreCardVariableId = "";
                self.variableName = "";
                self.description = "";
                self.SelectedVariableType = "";
                self.ruleDefinitionId = null;
                self.dataAttributeStoreName = "";
                self.inputSource = "";
                self.inputVariable = "";
                self.Weightage = "";
                self.RuleName = "";
                self.RuleType = "";
                self.DERuleName = "";
                self.RuleVersion = "";
                self.RequiredSources = [];
                self.OptionalSources = [];
                self.RuleDescription = "";
                self.EffectiveDate = "";
                self.ExpiryDate = "";
                self.SelectedSegmentLookupRuleId = "";
                self.SelectedDateTypeL = "";
                self.CustomDate = "";
                $('#CustomDateSeg').hide();
                $('#SegmentLookupRules').hide();
                $('#DataAttributeRow').hide();
                $('.RuleRow').hide();
                $('div#ErrorMessge p').html("");
                $('div#ErrorMessge').hide();
                $('#variableName').removeAttr('readonly');
                $('#ScoreCardVariableRuleName').removeAttr('readonly');
            },
            resetModalEditor: function () {
                var self = this;
                self.loadScoreVariable();
            },
            _addScoreCardVariable: function (event) {
                event.preventDefault();
                var self = this;
                self.resetScoreCardModal();
                var text = "Manage " + self._changeTextDisplay(self.selectedName) + " Variables";
                $('.ScoreTitle').text(text);
                self.$$('#addEditScoreCardVariableModal').showModal();
            },
            _onTypeChange: function (event) {
                var self = this;
                var selectedValues = event.target.value;
                if (selectedValues === "DataAttribute") {
                    $('#DataAttributeRow').show();
                    $('.RuleRow').hide();
                    $('#SegmentLookupRules').hide();
                    self.ruleDefinitionId = null;
                }
                else if (selectedValues === "Rule") {
                    $('#DataAttributeRow').hide();
                    $('.RuleRow').show();
                    $('#SegmentLookupRules').hide();
                    self.scoreCardVariableSource = null;
                }
                else if (selectedValues === "SegmentRule" || selectedValues === "LookupRule") {
                    $('#DataAttributeRow').hide();
                    $('.RuleRow').hide();
                    $('#SegmentLookupRules').show();
                    self.scoreCardVariableSource = null;
                    self.SelectedSegmentLookupRuleId = "";
                    self.fillVariableType(selectedValues);
                }
                else {
                    $('#DataAttributeRow').hide();
                    $('#SegmentLookupRules').hide();
                    $('.RuleRow').hide();
                    $('div#ErrorMessge p').html("");
                    $('div#ErrorMessge').hide();
                }
            },
            fillVariableType: function (objVariableType) {
                var self = this;
                var url = "";
                if (objVariableType === "LookupRule") {
                    url = "/" + self.entityType + "/all/lookup";
                } else {
                    url = "/" + self.entityType + "/all/segment";
                }
                var productRule = window.config.services.productRule;
                self.$.http.get(url, productRule).then(function (data) {
                    var newArray = [];
                    data.forEach(function (element) {
                        if (objVariableType === "LookupRule") {
                            newArray.push({ key: element.lookupName, value: element.id });
                        }
                        else {
                            newArray.push({ key: element.segmentName, value: element.id });
                        }
                    });
                    self.SegmentLookupRules = newArray;
                })
            },
            EditAttribute: function (DefinitionIdObj) {
                var self = this;
                var productRule = window.config.services.productRule;
                var url = "/" + self.scoreCardId + "/" + self.scoreCardVariableId + "/scorecardvariable";
                var Payload;
                if (DefinitionIdObj !== null) {
                    Payload = {
                        variableName: self.variableName,
                        description: self.description,
                        variableType: self.SelectedVariableType,
                        definitionId: DefinitionIdObj,
                        dataAttributeStoreName: self.dataAttributeStoreName,
                        scoreCardVariableSource: null,
                        weightage: self.Weightage
                    }
                } else {
                    Payload = {
                        variableName: self.variableName,
                        description: self.description,
                        variableType: self.SelectedVariableType,
                        definitionId: DefinitionIdObj,
                        dataAttributeStoreName: self.dataAttributeStoreName,
                        scoreCardVariableSource: {
                            inputSource: self.inputSource,
                            inputVariable: self.inputVariable
                        },
                        weightage: self.Weightage
                    }
                }

                self.$.http.put(url, Payload, productRule).then(function (result) {
                    $('.close').click();
                    self.loadScoreVariable();
                }).fail(function (e) {
                    var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                    $('div#ErrorMessge p').html(strMessage);
                    $('div#ErrorMessge').show();
                    setTimeout(function () {
                        $('div#ErrorMessge').hide();
                    }, 2000);
                    console.error("Add Attribute save error is ", e);
                });
            },
            AddAttribute: function (DefinitionIdObj) {
                var self = this;
                var url = "/" + self.scoreCardId + "/scorecardvariable";
                var productRule = window.config.services.productRule;
                var Payload;
                if (DefinitionIdObj !== null) {
                    Payload = {
                        variableName: self.variableName,
                        description: self.description,
                        variableType: self.SelectedVariableType,
                        definitionId: DefinitionIdObj,
                        dataAttributeStoreName: self.dataAttributeStoreName,
                        scoreCardVariableSource: null,
                        weightage: self.Weightage
                    }
                }
                else {
                    Payload = {
                        variableName: self.variableName,
                        description: self.description,
                        variableType: self.SelectedVariableType,
                        definitionId: DefinitionIdObj,
                        dataAttributeStoreName: self.dataAttributeStoreName,
                        scoreCardVariableSource: {
                            inputSource: self.inputSource,
                            inputVariable: self.inputVariable
                        },
                        weightage: self.Weightage
                    }
                }
                self.$.http.post(url, Payload, productRule).then(function (result) {
                    $('.close').click();
                    self.loadScoreVariable();
                }).fail(function (e) {
                    var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                    $('div#ErrorMessge p').html(strMessage);
                    $('div#ErrorMessge').show();
                    setTimeout(function () {
                        $('div#ErrorMessge').hide();
                    }, 2000);
                    console.error("Scorcard save error is ", e);
                });
            },
            _ValidateScoreCardForm: function () {
                var self = this;
                if (_.isUndefined(self.SelectedVariableType) || _.isNull(self.SelectedVariableType) || _.isEmpty(self.SelectedVariableType) || _.isEmpty(self.variableName) || _.isEmpty(self.description) || self.Weightage === "") {
                    $('div#ErrorMessge p').html("All Fields are required");
                    $('div#ErrorMessge').show();
                    return false;
                }
                else if ((self.SelectedVariableType === "DataAttribute") && (_.isEmpty(self.inputSource) || _.isEmpty(self.variableName) || _.isEmpty(self.description) || self.Weightage === "")) {
                    $('div#ErrorMessge p').html("All Fields are required");
                    $('div#ErrorMessge').show();
                    return false;
                }
                if ((self.SelectedDateType == "CustomDate") && (_.isEmpty(self.CustomDate) || self.SelectedVariableType === "Rule" || _.isEmpty(self.ExpiryDate) || _.isEmpty(self.EffectiveDate) || _.isEmpty(self.RuleDescription) || _.isEmpty(self.RuleVersion) || _.isEmpty(self.RuleName) || _.isEmpty(self.DERuleName) || _.isEmpty(self.variableName) || _.isEmpty(self.description) || self.Weightage === "")) {
                    $('div#ErrorMessge p').html("All Fields are required");
                    $('div#ErrorMessge').show();
                    return false;
                }
                else if ((self.SelectedVariableType === "Rule") && (_.isEmpty(self.ExpiryDate) || _.isEmpty(self.EffectiveDate) || _.isEmpty(self.RuleDescription) || _.isEmpty(self.RuleVersion) || _.isEmpty(self.RuleName) || _.isEmpty(self.DERuleName) || _.isEmpty(self.variableName) || _.isEmpty(self.description) || self.Weightage === "")) {
                    $('div#ErrorMessge p').html("All Fields are required");
                    $('div#ErrorMessge').show();
                    return false;
                }
                else if ((self.SelectedVariableType === "SegmentRule") && (_.isEmpty(self.SelectedSegmentLookupRuleId) || _.isEmpty(self.variableName) || _.isEmpty(self.description) || self.Weightage === "")) {
                    $('div#ErrorMessge p').html("All Fields are required");
                    $('div#ErrorMessge').show();
                    return false;
                }
                else if ((self.SelectedVariableType === "LookupRule") && (_.isEmpty(self.SelectedSegmentLookupRuleId) || _.isEmpty(self.variableName) || _.isEmpty(self.description) || self.Weightage === "")) {
                    $('div#ErrorMessge p').html("All Fields are required");
                    $('div#ErrorMessge').show();
                    return false;
                }
                return true;
            },
            _verifyForm: function (event) {
                event.preventDefault();
                $('div#ErrorMessge').hide();
                var self = this;
                var params = self.$.url.getParams();
                var RuleClassName = params.rules;
                if (self._ValidateScoreCardForm()) {
                    if (!_.isUndefined(self.scoreCardVariableId) && !_.isNull(self.scoreCardVariableId) && !_.isEmpty(self.scoreCardVariableId)) {
                        if (self.SelectedVariableType === "DataAttribute") {
                            self.EditAttribute(null);
                        }
                        else if (self.SelectedVariableType === "SegmentRule" || self.SelectedVariableType === "LookupRule") {
                            self.EditAttribute(self.SelectedSegmentLookupRuleId);
                        }
                        else if (self.SelectedSegmentLookupRuleId != null && self.SelectedVariableType === "Rule") {
                            var productRule = window.config.services.productRule;
                            var url = "/" + self.entityType + "/" + self.selectedProduct + "/ruledefinition";
                            var rs = new Array();
                            var os = new Array();
                            if (self.RequiredSources.toString() !== "") {
                                rs = self.RequiredSources.split(',');
                            }
                            if (self.OptionalSources.toString() !== "") {
                                os = self.OptionalSources.split(',');
                            }
                            var CDate;
                            if (self.SelectedDateTypeL !== "CustomDate" && (self.CustomDate === "" || self.CustomDate === null)) {
                                CDate = Date.now();
                            }
                            else {
                                CDate = self.CustomDate
                            }
                            var Payload = {
                                RuleName: self.RuleName,
                                DataAttributeStoreName: self.dataAttributeStoreName,
                                EffectiveDate: self.EffectiveDate,
                                ExpiryDate: self.ExpiryDate,
                                RuleClass: RuleClassName,
                                RuleType: "Rule",
                                DERuleName: self.DERuleName,
                                RuleVersion: self.RuleVersion,
                                RequiredSources: rs,
                                OptionalSources: os,
                                Description: self.RuleDescription,
                                ApplicationType: self.SelectedDateTypeL,
                                CustomDate: self.searchDate(CDate)
                            }
                            self.$.http.post(url, Payload, productRule).then(function (result) {
                                self.EditAttribute(result.id);
                            }).fail(function (e) {
                                var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                                $('div#ErrorMessge p').html(strMessage);
                                $('div#ErrorMessge').show();
                                setTimeout(function () {
                                    $('div#ErrorMessge').hide();
                                }, 2000);
                                console.error("Add Attribute save error is ", e);
                            });
                        }
                        else if (self.SelectedVariableType === "Rule") {
                            var productRule = window.config.services.productRule;
                            var url = "/" + self.ruleDefinitionId + "/ruledefinition";
                            var rs = new Array();
                            var os = new Array();
                            if (self.RequiredSources.toString() !== "") {
                                rs = self.RequiredSources.split(',');
                            }
                            if (self.OptionalSources.toString() !== "") {
                                os = self.OptionalSources.split(',');
                            }
                            var CDate;
                            if (self.SelectedDateTypeL !== "CustomDate" && (self.CustomDate === "" || self.CustomDate === null)) {
                                CDate = Date.now();
                            }
                            else {
                                CDate = self.CustomDate
                            }
                            var Payload = {
                                DataAttributeStoreName: self.dataAttributeStoreName,
                                EffectiveDate: self.EffectiveDate,
                                ExpiryDate: self.ExpiryDate,
                                RuleClass: RuleClassName,
                                RuleType: "Rule",
                                DERuleName: self.DERuleName,
                                RuleVersion: self.RuleVersion,
                                RequiredSources: rs,
                                OptionalSources: os,
                                Description: self.RuleDescription,
                                ApplicationType: self.SelectedDateTypeL,
                                CustomDate: self.searchDate(CDate)
                            }
                            self.$.http.put(url, Payload, productRule).then(function (result) {
                                self.EditAttribute(result.id);
                            }).fail(function (e) {
                                var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                                $('div#ErrorMessge p').html(strMessage);
                                $('div#ErrorMessge').show();
                                setTimeout(function () {
                                    $('div#ErrorMessge').hide();
                                }, 2000);
                                console.error("edit Attribute save error is ", e);
                            });
                        }
                    }
                    else {
                        if (self.SelectedVariableType === "DataAttribute") {
                            self.AddAttribute(null);
                        }
                        else if (self.SelectedVariableType === "SegmentRule" || self.SelectedVariableType === "LookupRule") {
                            self.AddAttribute(self.SelectedSegmentLookupRuleId);
                        }
                        else if (self.SelectedVariableType === "Rule") {
                            var productRule = window.config.services.productRule;
                            var url = "/" + self.entityType + "/" + self.selectedProduct + "/ruledefinition";
                            var rs = new Array();
                            var os = new Array();
                            if (self.RequiredSources.toString() !== "") {
                                rs = self.RequiredSources.split(',');
                            }
                            if (self.OptionalSources.toString() !== "") {
                                os = self.OptionalSources.split(',');
                            }
                            var CDate;
                            if (self.SelectedDateTypeL !== "CustomDate" && (self.CustomDate === "" || self.CustomDate === null)) {
                                CDate = Date.now();
                            }
                            else {
                                CDate = self.CustomDate
                            }
                            var Payload = {
                                RuleName: self.RuleName,
                                DataAttributeStoreName: self.dataAttributeStoreName,
                                EffectiveDate: self.EffectiveDate,
                                ExpiryDate: self.ExpiryDate,
                                RuleClass: RuleClassName,
                                RuleType: "Rule",
                                DERuleName: self.DERuleName,
                                RuleVersion: self.RuleVersion,
                                RequiredSources: rs,
                                OptionalSources: os,
                                Description: self.RuleDescription,
                                ApplicationType: self.SelectedDateTypeL,
                                CustomDate: self.searchDate(CDate)
                            }
                            self.$.http.post(url, Payload, productRule).then(function (result) {
                                self.AddAttribute(result.id);
                            }).fail(function (e) {
                                var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                                $('div#ErrorMessge p').html(strMessage);
                                $('div#ErrorMessge').show();
                                setTimeout(function () {
                                    $('div#ErrorMessge').hide();
                                }, 2000);
                                console.error("Add Attribute save error is ", e);
                            });
                        }
                    }
                }
            },
            searchDate: function (date) {
                if (date !== undefined) {
                    return moment(date).format("YYYY-MM-DD");
                }
                return "";
            },
            _updateHash: function () {
                var randomVal = Math.floor(Math.random() * (10000 - 1 + 1)) + 1;
                var hashStr = window.location.hash;
                if (hashStr.includes("refresh:")) {
                    var newHash = hashStr.replace(/refresh:\d+/i, "refresh:" + randomVal);
                    window.location.hash = newHash;
                } else {
                    window.location.hash = hashStr + "/refresh:" + randomVal;
                }
            }
        });
    </script>
</dom-module>