<dom-module id="score-filter">
    <template>
        <style>
            .alert {
                text-align: center;
            }

            #payment-search {
                width: 250px;
            }

            #length-selector {
                width: auto;
                display: inline-block;
                margin-right: 5px;
            }

            .header-right {
                position: absolute;
                right: 20px;
            }

            .footer-right {
                float: right;
            }

            .header {
                margin: 20px 0;
            }

            .header .input-group {
                width: 1px;
            }

            label {
                font-weight: normal;
            }

            .well {
                margin-top: 30px;
                text-align: center;
            }

            .status {
                text-align: left;
            }

            .datatabletd {
                text-align: left !important;
                width: 15%;
                color: red;
            }

            div#queue_wrapper {
                text-align: center;
            }

            .export-button {
                margin: 15px 0 15px auto;
                display: block;
            }

            .moreHeight {
                max-height: 25px !important;
                min-height: 25px !important;
                padding: 5px !important;
            }
        </style>
        <div id="MessageContainer"></div>
        <table id="queue" class="table table-striped" width="100%" cellspacing="0"></table>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <alloy-format id="format"></alloy-format>
        <alloy-config id="config"></alloy-config>
        <auth-service id="authorize"></auth-service>
        <session-manager id="session"></session-manager>
        <message-component id="message"></message-component>
    </template>
    <script>
        Polymer({
            is: "score-filter",
            properties: {
                selectedProduct: {
                    type: String,
                    notify: true
                },
                selectedName: {
                    type: String,
                    notify: true
                },
                selectedId: {
                    type: String,
                    notify: true
                },
                filterItems: {
                    type: Object,
                    notify: true
                },
                jsonObj: {
                    type: Object,
                    notify: true
                },
                filterMapping: {
                    type: Object,
                    notify: true
                },
                currentFilterName: {
                    type: String,
                    notify: true,
                    value: ""
                },
                viewModel: {
                    type: String,
                    notify: true
                },
                ruleDefination: {
                    type: String,
                    notify: true
                },
                entityType: {
                    type: String,
                    notify: true
                }
            },
            _loadJson: function () {
                var self = this;
                var params = self.$.url.getParams();
                self.currentFilterName = params.rules;
                var data = self.$.config.getConfigurationBasedOnKey("filters");
                var columnLength = data[self.currentFilterName].columns.length;
                for (var i = 0; i < columnLength; i++) {
                    if (data[self.currentFilterName].columns[i].render != undefined) {
                        var render = data[self.currentFilterName].columns[i].render;
                        if (data[self.currentFilterName].columns[i].isFunction) {
                            data[self.currentFilterName].columns[i].render = eval("(" + render + ")");
                        }
                        else {
                            data[self.currentFilterName].columns[i].render = eval(render);
                        }
                    }
                }
                self.set("jsonObj", data);
                self.init();
            },
            ready: function () {
                this._loadJson();
            },
            init: function () {
                var self = this, table;
                var table = self.table = $(self.$.queue).DataTable({
                    dom: "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    data: self.filterItems,
                    columns: self.jsonObj[self.currentFilterName].columns,
                    columnDefs: self.jsonObj[self.currentFilterName].columnDefs,
                    order: self.jsonObj[self.currentFilterName].order,
                    language: {
                        lengthMenu: "show_MENU_ Score Cards",
                        zeroRecords: "No Data found.",
                        info: "Showing _START_ to _END_ of _TOTAL_ Score Cards",
                        infoEmpty: "No Score Card available",
                        infoFiltered: "(filtered from _MAX_ total Score Cards)"
                    }
                });
                setTimeout(function () {
                    $('#queue tbody').on('click', 'a', function () {
                        var data = table.row($(this).parents('tr')).data();
                        if (this.getAttribute("on-click") !== null && this.getAttribute("on-click") !== undefined) {
                            self[this.getAttribute("on-click")](data);
                        }
                    });
                    //Grid header tooltip
                    var configData = self.jsonObj[self.currentFilterName].columns;
                    $('#queue thead tr')[0].childNodes.forEach(function (obj) {
                        var tooltipObj = _.filter(configData, { title: obj.innerText })
                        if (!_.isUndefined(tooltipObj) && !_.isNull(tooltipObj) && !_.isEmpty(tooltipObj)) {
                            var tooltip = tooltipObj[0].tooltip;
                            if (tooltip !== "" && tooltip !== undefined) {
                                $(obj).attr('title', tooltip);
                            }
                        }
                    });
                }, 700);
            },
            hasRole: function (RoleName) {
                return this.$.authorize.hasRole(RoleName);
            },
            formatMoney: function (value) {
                if (typeof (value) != Number)
                    value = new Number(value);
                return value.formatMoney(2);
            },
            formatDate: function (date) {
                if (typeof this.$.format.formatDate === "function") {
                    return this.$.format.formatDate(date);
                }
                return "";
            },
            hasScoreCard: function (filterItems) {
                return this.filterItems.length > 0;
            },
            editStrategy: function (data) {
                var self = this;
                self.viewModel = data.id;
            },
            setupStrategy: function (data) {
                var self = this;
                self.selectedProduct = data.productId;
                self.entityType = data.entityType;
                self.selectedName = data.name;
                self.selectedId = data.id;
                $('.nav-tabs a[data-target="#setuppricingstrategystep"]').tab('show');
            },
            openScoreView: function (data) {
                var self = this;
                self.selectedProduct = data.productId;
                self.entityType = data.entityType;
                self.selectedName = data.scoreCardName;
                $('.nav-tabs a[data-target="#setupScoreCardVariable"]').tab('show');
            },
            editScoreView: function (data) {
                var self = this;
                self.viewModel = data.id;
            },
            AddEditValidationRule: function (data) {
                var self = this;
                self.viewModel = "ValidationRule_" + data.id;
            },
            ValidateScoreCard: function (data) {
                var self = this;
                var productRule = window.config.services.productRule;
                var url = "/" + data.entityType + "/" + data.productId + "/" + data.id + "/validatescorecard";
                self.$.http.post(url, null, productRule).then(function (result) {
                    self.$.message.showMessage("Score Card validated sucessfully.", "SUCCESS", self.$.MessageContainer);
                }).fail(function (e) {
                    var failMessage = "";
                    if (e.responseJSON.code === 400)
                        failMessage = e.responseJSON.message;
                    else
                        failMessage = "Some error occured, Please try it after some time.";
                    self.$.message.showMessage(failMessage, "ERROR", self.$.MessageContainer);
                });
            },
            editRule: function (e) {
                var self = this;
                if (e.ruleDefinitionId !== undefined) {
                    self.ruleDefination = e.ruleDefinitionId;
                }
                else {
                    self.ruleDefination = e.id;
                }
            },
            editValidationRule: function (e) {
                var self = this;
                if (e.validationRuleId !== undefined) {
                    self.ruleDefination = e.validationRuleId;
                }
            }
        });
    </script>
</dom-module>