<dom-module id="segment-rules">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .modal-dialog1 {
                width: 1000px;
                margin: 30px auto;
            }

            #ErrorMessge p {
                color: #FF0000;
            }

            #ErrorMessgeRuleEditor p {
                color: #FF0000;
            }

            #SuccessMessge p {
                color: #008000;
            }

            .fa {
                font-size: 20px;
            }

            .RangeAction {
                text-align: center;
                vertical-align: middle;
                width: 50px;
            }

            .handCursor {
                cursor: pointer;
            }

            .row {
                margin: 0 auto !important;
            }
        </style>
        <template is="dom-if" if="{{CheckHasPermissionAndData(DataLoaded)}}">
            <div class="pull-right">
                <paper-button class="btn btn-primary activity-action-btn" on-click="_addEditSegmentRule" raised>Add Segment Rule</paper-button>
            </div>
        </template>
        <table id="segmentTable" class="table table-striped" width="100%" cellspacing="0">
        </table>
        <custom-modal id="addEditSegment" class="modal-drop" on-modal-hidden="resetSegmentModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title SegRuleTitle"></h4>
                    </div>
                    <div class="modal-body">
                        <div id="ErrorMessge" style="display: none;">
                            <p></p>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form id="SegmentForm" is="iron-form" class="form-horizontal">
                                    <div class="row">
                                        <div class="panel-left col-md-6">
                                            <vaadin-combo-box class="custom-input" name="productId" value="{{productId}}" item-value-path="value" item-label-path="key"
                                                items="{{ProductList}}" readonly$="{{IsEditMode}}" label="Select Product" prevent-invalid-input="true"
                                                on-change="_onProductChange">
                                            </vaadin-combo-box>
                                        </div>
                                        <div class="panel-left col-md-6">
                                            <vaadin-combo-box class="custom-input" name="entityType" value="{{entityType}}" item-value-path="value" item-label-path="key"
                                                items="{{EntityTypeList}}" readonly$="{{IsEditMode}}" label="Select Entity" prevent-invalid-input="true">
                                            </vaadin-combo-box>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="panel-left col-md-6">
                                            <paper-input class="custom-input" type="text" value="{{segmentName}}" name="SegmentName" id="SegmentName" label="Segment Name"></paper-input>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="panel-left col-md-6">
                                            <paper-input class="custom-input" type="text" value="{{inputVariable}}" name="inputVariable" id="inputVariable" label="Input Variable"></paper-input>
                                        </div>
                                        <div class="panel-left col-md-6">
                                            <paper-input class="custom-input" type="text" value="{{inputSource}}" name="inputSource" id="inputSource" label="Input Source"></paper-input>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="panel-left col-md-6">
                                            <paper-input class="custom-input" type="text" value="{{dataAttributeStoreName}}" name="dataAttributeStoreName" id="dataAttributeStoreName"
                                                label="Attribute Store Name"></paper-input>
                                        </div>
                                        <div class="panel-left col-md-6">
                                            <vaadin-combo-box class="custom-input" name="segmentType" value="{{SelectedSegmentType}}" item-value-path="value" item-label-path="key"
                                                items="{{segmentTypes}}" label="Select Segment Type" prevent-invalid-input="true">
                                            </vaadin-combo-box>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="panel-left col-md-6">
                                            <vaadin-combo-box class="custom-input" name="variableType" value="{{SelectedDateTypeL}}" item-value-path="value" item-label-path="key"
                                                items="{{DateType}}" label="Select Date Type" prevent-invalid-input="true" on-change="_onTypeChange">
                                            </vaadin-combo-box>
                                        </div>
                                        <div class="panel-left col-md-6">
                                            <vaadin-date-picker class="custom-input" id="CustomDateSegEdit" i18n="[[i18n]]" label="Custom Date" format="{{_getFormat(item.value)}}"
                                                value={{CustomDate}}></vaadin-date-picker>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="panel-left col-md-6">
                                            <vaadin-date-picker class="custom-input" id="EffectiveDate" i18n="[[i18n]]" label="Effective Date" format="{{_getFormat(item.value)}}"
                                                value={{EffectiveDate}}></vaadin-date-picker>
                                        </div>
                                        <div class="panel-left col-md-6">
                                            <vaadin-date-picker class="custom-input" id="ExpiryDate" i18n="[[i18n]]" label="ExpiryDate" format="{{_getFormat(item.value)}}"
                                                value={{ExpiryDate}}></vaadin-date-picker>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="panel-left col-md-12">
                                            <paper-input class="custom-input" type="text" value="{{description}}" name="Description" id="Description" label="Variable Description"></paper-input>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="panel-left col-md-6">
                                            <paper-input class="custom-input" type="text" value="{{segmentStorageName}}" name="SegmentStorageName" id="SegmentStorageName"
                                                label="Segment Storage Name"></paper-input>
                                        </div>
                                    </div>
                                    <template is="dom-if" if="{{hasRole('AddEditSegmentBtn')}}">
                                        <paper-button id="btnSave" class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                                    </template>
                                    <paper-button id="scorecardFormCancelBtn" class="btn btn-primary activity-action-btn" on-click="_resetForm" style="display: none;"
                                        raised>cancel</paper-button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>
        <custom-modal id="setSegmentData" class="modal-drop" on-modal-hidden="resetSegmentModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title segSetDataTitle"></h4>
                    </div>
                    <div class="modal-body">
                        <div id="ErrorMessge" style="display: none;">
                            <p></p>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div style="height:400px; overflow: auto;">
                                    <table class="table table-striped" id="RangeTable" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Lower Limit</th>
                                                <th>Upper Limit</th>
                                                <th>Segment Label</th>
                                                <th class="RangeAction"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <template is="dom-repeat" items="{{RangeList}}">
                                                <tr>
                                                    <td>
                                                        <paper-input type="text" no-label-float="false" value="{{item.LowerLimit}}" on-change="RangeChange" name="ProductId" id="ProductId"></paper-input>
                                                    </td>
                                                    <td>
                                                        <paper-input type="text" no-label-float="false" value="{{item.UpperLimit}}" on-change="RangeChange" name="ProductId" id="ProductId"></paper-input>
                                                    </td>
                                                    <td>
                                                        <paper-input type="text" no-label-float="false" value="{{item.SegmentLabel}}" on-change="RangeChange" name="ProductId" id="ProductId"></paper-input>
                                                    </td>
                                                    <td class="RangeAction">
                                                        <span>
                                                            <i class="fa fa-trash-o handCursor" aria-hidden="true" data-arg="{{item}}" on-click="DeleteRangeChange"></i>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </template>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td width="50px">
                                                    <paper-button id="btnSave" class="btn btn-primary activity-action-btn" on-click="AddRange" raised>Add</paper-button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-striped" id="ListTable">
                                        <thead>
                                            <tr>
                                                <th>In List Values</th>
                                                <th>Except List Values</th>
                                                <th>Segment Label</th>
                                                <th class="RangeAction"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <template is="dom-repeat" items="{{ListList}}">
                                                <tr>
                                                    <td>
                                                        <paper-input type="text" no-label-float="false" value="{{item.InListValues}}" on-change="ListChange" name="ProductId" id="ProductId"></paper-input>
                                                    </td>
                                                    <td>
                                                        <paper-input type="text" no-label-float="false" value="{{item.ExceptListValues}}" on-change="ListChange" name="ProductId"
                                                            id="ProductId"></paper-input>
                                                    </td>
                                                    <td>
                                                        <paper-input type="text" no-label-float="false" value="{{item.SegmentLabel}}" on-change="ListChange" name="ProductId" id="ProductId"></paper-input>
                                                    </td>
                                                    <td class="RangeAction">
                                                        <span>
                                                            <i class="fa fa-trash-o handCursor" aria-hidden="true" data-arg="{{item}}" on-click="DeleteListChange"></i>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </template>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td width="50px">
                                                    <paper-button id="btnSave" class="btn btn-primary activity-action-btn" on-click="AddList" raised>Add</paper-button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <template is="dom-if" if="{{hasRole('AddEditSegmentBtn')}}">
                                    <paper-button id="btnSave" class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>
        <custom-modal id="addEditRuleDefinition" class="modal-drop" on-modal-hidden="resetScoreCardModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title SegRuleDefinitionTitle"></h4>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form id="VariableForm" is="iron-form" class="form-horizontal">
                                <div class="row">
                                    <div class="panel-left col-md-6">
                                        <paper-input class="custom-input" type="text" value="{{SRuleName}}" name="RuleName" id="SegmentRuleName" label="Rule Name"></paper-input>
                                    </div>
                                    <div class="panel-left col-md-6">
                                        <paper-input class="custom-input" type="text" value="{{SdataAttributeStoreName}}" name="dataAttributeStoreName" id="dataAttributeStoreName"
                                            label="Attribute Store Name"></paper-input>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="panel-left col-md-6">
                                        <vaadin-combo-box class="custom-input" name="variableTypeS" value="{{SelectedDateType}}" item-value-path="value" item-label-path="key"
                                            items="{{DateType}}" label="Select Date Type" prevent-invalid-input="true" on-change="_onTypeChangeL">
                                        </vaadin-combo-box>
                                    </div>
                                    <div class="panel-left col-md-6">
                                        <vaadin-date-picker class="custom-input" id="SCustomDate" i18n="[[i18n]]" label="Custom Date" format="{{_getFormat(item.value)}}"
                                            value={{SCustomDate}}></vaadin-date-picker>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="panel-left col-md-6">
                                        <vaadin-date-picker class="custom-input" id="EffectiveDate" i18n="[[i18n]]" label="Effective Date" format="{{_getFormat(item.value)}}"
                                            value={{SEffectiveDate}}></vaadin-date-picker>
                                    </div>
                                    <div class="panel-left col-md-6">
                                        <vaadin-date-picker class="custom-input" id="ExpiryDate" i18n="[[i18n]]" label="ExpiryDate" format="{{_getFormat(item.value)}}"
                                            value={{SExpiryDate}}></vaadin-date-picker>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="panel-left col-md-6">
                                        <paper-input class="custom-input" type="text" value="{{SDERuleName}}" name="DERuleName" id="DERuleName" label="DE Rule Name"></paper-input>
                                    </div>
                                    <div class="panel-left col-md-6">
                                        <paper-input class="custom-input" type="text" value="{{SRuleVersion}}" name="RuleVersion" id="RuleVersion" label="Rule Version"></paper-input>
                                    </div>
                                </div>
                                <div class="row">
                                    <span>Required and Optinal sources allow multiple using "," seperator</span>
                                    <div class="panel-left col-md-6">
                                        <paper-input class="custom-input" type="text" value="{{SRequiredSources}}" name="RequiredSources" id="RequiredSources" label="Required Sources"></paper-input>
                                    </div>
                                    <div class="panel-left col-md-6">
                                        <paper-input class="custom-input" type="text" value="{{SOptionalSources}}" name="OptionalSources" id="OptionalSources" label="Optional Sources"></paper-input>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="panel-left col-md-12">
                                        <paper-input class="custom-input" type="text" value="{{SRuleDescription}}" name="RuleDescription" id="RuleDescription" label="Variable Rule Description"></paper-input>
                                    </div>
                                </div>
                                <template is="dom-if" if="{{hasRole('AddEditRuleDefinitionBtn')}}">
                                    <paper-button id="btnSave" class="btn btn-primary activity-action-btn" on-click="SaveSegmentRules" raised>Submit</paper-button>
                                </template>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <auth-service id="authorize"></auth-service>
        <lookup-service id="lookup"></lookup-service>
    </template>
    <script>
        Polymer({
            is: "segment-rules",
            properties: {
                IsEditMode: {
                    type: Boolean,
                    notify: true,
                    value: false
                },
                DataLoaded: {
                    type: Boolean,
                    notify: true,
                    value: false
                },
                SelectedDateTypeL: {
                    type: String,
                    notify: true
                },
                SelectedDateType: {
                    type: String,
                    notify: true
                },
                ruleDefination: {
                    type: String,
                    notify: true
                },
                SegmentVariable: {
                    type: Array,
                    notify: true,
                    value: []
                },
                segmentId: {
                    type: String,
                    notify: true
                },
                ruleDefinitionId: {
                    type: String,
                    notify: true,
                    value: ""
                },
                tableObj: {
                    type: Object,
                    notify: false
                },
                EffectiveDate: {
                    type: Date,
                    notify: true
                },
                ExpiryDate: {
                    type: Date,
                    notify: true
                },
                productId: {
                    type: String,
                    notify: true,
                    reflectToAttribute: true
                },
                entityType: {
                    type: String,
                    notify: true
                },
                ProductList: {
                    type: Array,
                    notify: true,
                    value: []
                },
                EntityTypeList: {
                    type: Array,
                    notify: true,
                    value: []
                },
                segmentName: {
                    type: String,
                    notify: true
                },
                description: {
                    type: String,
                    notify: true
                },
                dataAttributeStoreName: {
                    type: String,
                    notify: true
                },
                inputSource: {
                    type: String,
                    notify: true
                },
                inputVariable: {
                    type: String,
                    notify: true
                },
                segmentTypes: {
                    type: Array,
                    notify: true,
                    value: [
                        { key: "List", value: "List" },
                        { key: "Range", value: "Range" },
                        { key: "Rule", value: "Rule" }
                    ]
                },
                SelectedSegmentType: {
                    type: String,
                    notify: true
                },
                segmentStorageName: {
                    type: String,
                    notify: true
                },
                data: {
                    type: Array,
                    notify: true,
                    value: []
                },
                RangeList: {
                    type: Array,
                    notify: true,
                    value: []
                },
                ListList: {
                    type: Array,
                    notify: true,
                    value: []
                },
                SRuleName: {
                    type: String,
                    notify: true
                },
                SdataAttributeStoreName: {
                    type: String,
                    notify: true
                },
                SEffectiveDate: {
                    type: Date,
                    notify: true
                },
                SExpiryDate: {
                    type: Date,
                    notify: true
                }, SDERuleName: {
                    type: String,
                    notify: true
                }, SRuleVersion: {
                    type: String,
                    notify: true
                },
                SRequiredSources: {
                    type: String,
                    notify: true
                },
                SOptionalSources: {
                    type: String,
                    notify: true
                }, SRuleDescription: {
                    type: String,
                    notify: true
                },
                DateType: {
                    type: Array,
                    notify: true,
                    value: [
                        { key: "System Date", value: "SystemDate" },
                        { key: "Application Date", value: "ApplicationDate" },
                        { key: "Custom Date", value: "CustomDate" }]
                },
                SCustomDate: {
                    type: Date,
                    notify: true
                },
                CustomDate: {
                    type: Date,
                    notify: true
                }
            },
            _onTypeChange: function (event) {
                var self = this;
                var selectedValues = event.target.value;
                if (selectedValues === "CustomDate") {
                    $('#CustomDateSegEdit').show();
                }
                else if (selectedValues === "ApplicationDate") {
                    $('#CustomDateSegEdit').hide();
                }
                else if (selectedValues === "SystemDate") {
                    $('#CustomDateSegEdit').hide();
                }
                else {
                    $('#CustomDateSegEdit').hide();
                }
            },
            _onProductChange: function (event) {
                var self = this;
                var val = event.target.value;
                if (val !== "") {
                    var productObj = _.find(self.ProductList, ['key', val]);
                    self.set('ExpiryDate', moment(productObj.expiresOn.time).format("YYYY-MM-DD"));
                    self.set('EffectiveDate', moment(productObj.validFrom.time).format("YYYY-MM-DD"));
                }
            },
            _onTypeChangeL: function (event) {
                var self = this;
                var selectedValues = event.target.value;
                if (selectedValues === "CustomDate") {
                    $('#SCustomDate').show();
                }
                else if (selectedValues === "ApplicationDate") {
                    $('#SCustomDate').hide();
                }
                else if (selectedValues === "SystemDate") {
                    $('#SCustomDate').hide();
                }
                else {
                    $('#SCustomDate').hide();
                }
            },
            _loadEntityTypes: function () {
                var self = this;
                var data = self.$.lookup.getLookupBasedOnName("entityTypes");
                self.EntityTypeList = data;
            },
            hasRole: function (RoleName) {
                return this.$.authorize.hasRole(RoleName);
            },
            GetRangeUpdatedResult: function (objData) {
                var self = this;
                var result = _.filter(self.RangeList, function (item) {
                    return ((item.LowerLimit != objData.LowerLimit) && (item.UpperLimit != objData.UpperLimit) && (item.SegmentLabel != objData.SegmentLabel));
                });
                return result || [];
            },
            GetListUpdatedResult: function (objData) {
                var self = this;
                var result = _.filter(self.ListList, function (item) {
                    return ((item.InListValues != objData.InListValues) && (item.ExceptListValues != objData.ExceptListValues) && (item.SegmentLabel != objData.SegmentLabel));
                });
                return result || [];
            },
            DeleteListChange: function (obj) {
                var self = this;
                var objData = $(obj)[0].currentTarget.dataArg;
                temp = self.GetListUpdatedResult(objData);
                self.set('ListList', $.extend([], temp));
            },
            DeleteRangeChange: function (obj) {
                var self = this;
                var objData = $(obj)[0].currentTarget.dataArg;
                temp = self.GetRangeUpdatedResult(objData);
                self.set('RangeList', $.extend([], temp));
            },
            RangeChange: function () {
                var self = this;
                var temp = [];
                temp = self.RangeList;
                self.set('RangeList', $.extend([], temp));
            },
            AddRange: function (event) {
                event.preventDefault();
                var self = this;
                var temp = [];
                temp = self.RangeList;
                temp.push({ LowerLimit: '', UpperLimit: '', SegmentLabel: '' });
                self.set('RangeList', $.extend([], temp));
            },
            AddList: function (event) {
                event.preventDefault();
                var self = this;
                var temp = [];
                temp = self.ListList;
                temp.push({ InListValues: [], ExceptListValues: [], SegmentLabel: '' });
                self.set('ListList', $.extend([], temp));
            },
            ListChange: function () {
                var self = this;
                var temp = [];
                var final = [];
                temp = self.ListList;
                temp.forEach(function (element) {
                    var inlist = [];
                    var Excep = [];
                    if (element.InListValues.toString() !== "") {
                        inlist = element.InListValues.toString().split(',');
                    }
                    if (element.ExceptListValues.toString() !== "") {
                        Excep = element.ExceptListValues.toString().split(',');
                    }

                    final.push({ InListValues: inlist, ExceptListValues: Excep, SegmentLabel: element.SegmentLabel });
                }, this);
                self.set('ListList', $.extend([], final));
            },
            CheckHasPermissionAndData: function () {
                var self = this;
                if (self.DataLoaded && self.hasRole('AddEditSegmentBtn')) {
                    return true;
                }
                return false;
            },
            getApplicationData: function () {
                var self = this;
                var url = "/application/all/segment";
                var productRule = window.config.services.productRule;
                self.$.http.get(url, productRule).then(function (data) {
                    self.getDrawdownData(data);
                }).fail(function (e) {
                    self.getDrawdownData([]);
                    console.error("alert error is ", e);
                });
            },
            getDrawdownData: function (objData) {
                var self = this;
                var url = "/drawdown/all/segment";
                var productRule = window.config.services.productRule;
                self.$.http.get(url, productRule).then(function (data) {
                    var mergeData = _.concat(objData, data);
                    self.SegmentVariable = mergeData;
                    self.set("DataLoaded", true);
                    self._showResult(self.SegmentVariable);
                }).fail(function (e) {
                    console.error("Drawdown score card ", e);
                });
            },
            loadSegment: function () {
                var self = this;
                self.IsEditMode = false;
                self.getApplicationData();
            },
            _showResult: function (resultData) {
                var self = this;
                var table = self.tableObj;
                if (table !== null && table !== undefined) {
                    table.clear();
                    table.destroy();
                }
                $.fn.dataTable.ext.errMode = 'none';
                self.tableObj = $(this.$$('#segmentTable')).DataTable({
                    retrieve: true,
                    dom: "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    language: {
                        "zeroRecords": "No data found."
                    },
                    data: resultData,
                    order: [[0, "desc"]],
                    columnDefs: [
                        {
                            targets: 0,
                            width: "10%",
                            orderable: true
                        },
                        {
                            targets: 1,
                            width: "15%"
                        },
                        {
                            targets: 2,
                            width: "25%"
                        },
                        {
                            targets: 3,
                            width: "20%"
                        },
                        {
                            targets: 4,
                            width: "10%"
                        },
                        {
                            targets: 5,
                            width: "10%"
                        },
                        {
                            targets: 6,
                            sortable: false,
                            width: "5%"
                        }
                    ],
                    columns: [
                        {
                            "data": "productId",
                            "title": "Product",
                            "className": "datatabletd",
                            "tooltip": "Product"
                        },
                        {
                            "data": "segmentName",
                            "title": "Segment Name",
                            "className": "datatabletd",
                            "tooltip": "Segment Name"
                        },
                        {
                            "data": "description",
                            "title": "Description",
                            "className": "datatabletd",
                            "tooltip": "Score Card Description"
                        },
                        {
                            "data": "dataAttributeStoreName",
                            "title": "Data Attribute Store Name",
                            "className": "datatabletd",
                            "tooltip": "Data Attribute Store Name"
                        },
                        {
                            "data": "effectiveDate.time",
                            "title": "Effective Date",
                            "isFunction": true,
                            "render": eval("(function(data,type,full,meta) { if (!data) {  return ''; } return moment(data).format('MM/DD/YYYY');})"),
                            "tooltip": "Effective Date"
                        },
                        {
                            "data": "expiryDate.time",
                            "title": "Expiry Date",
                            "isFunction": true,
                            "render": eval("(function(data,type,full,meta) { if (!data) {  return ''; } return moment(data).format('MM/DD/YYYY');})"),
                            "tooltip": "Expiry Date"
                        },
                        {
                            "data": null,
                            "isFunction": true,
                            "render": eval("(function(data,type,full,meta) { var SetButton=''; var HasEdit=''; if(data.segmentType != 'Rule' && ((self.hasRole('ViewSetDataBtn') == true) || (self.hasRole('AddEditSetDataBtn') == true))) { SetButton=\"<li><a on-click='setData' href='javascript:'>Set Data</a></li>\" } else { if(self.hasRole('ViewRuleDefinitionBtn') == true || self.hasRole('AddEditRuleDefinitionBtn') == true) { SetButton=\"<li><a on-click='setData' href='javascript:'>Add/Edit Rule</a></li>\" } } if(data.ruleDefinitionId != null && ((self.hasRole('ViewRuleBtn') == true) || (self.hasRole('AddEditRuleBtn') == true))) { SetButton= SetButton+\"<li><a on-click='editRule' href='javascript:'>Configure Rule</a></li>\" }; if((self.hasRole('ViewSegmentBtn') == true) || (self.hasRole('AddEditSegmentBtn') == true)) { HasEdit=\"<li><a on-click='editSegmentView' href='javascript:'>Edit</a></li>\"}; return \"<ul class='nav navbar-right' style='font-size:15px; margin: 0 0 0 0;'><li class='dropdown'><a href='javascript:' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-expanded='false' style='padding: 3px 0px 0 5px;'><i class='fa fa-ellipsis-h' aria-hidden='true'></i></a><ul class='dropdown-menu'>\" + HasEdit  + SetButton + \"</ul></li></ul>\"})")
                        }
                    ]
                });
                $('#segmentTable tbody').on('click', 'a', function (obj) {
                    var data = self.tableObj.row($(this).parents('tr')).data();
                    if (this.getAttribute("on-click") !== null && this.getAttribute("on-click") !== undefined) {
                        if (obj.target.textContent === "Configure Rule") {
                            self.editRule(data);
                        }
                        else if (obj.target.textContent === "Edit") {
                            self.openModel(data.id);
                        }
                        else if (obj.target.textContent === "Set Data") {
                            self.SetData(data.id);
                        }
                        else if (obj.target.textContent === "Add/Edit Rule") {
                            self.AddRule(data.id);
                        }
                    }
                });
            },
            ready: function () {
                this._loadEntityTypes();
                this.loadSegment();
                this._getProductList();
            },
            _addEditSegmentRule: function (event) {
                event.preventDefault();
                var self = this;
                self.segmentId = "";
                self.productId = "";
                self.entityType = "";
                self.segmentName = "";
                self.dataAttributeStoreName = "";
                self.SelectedSegmentType = "";
                self.EffectiveDate = "";
                self.ExpiryDate = "";
                self.segmentStorageName = "";
                self.inputSource = "";
                self.inputVariable = "";
                self.description = "";
                self.data = [];
                self.ruleDefinitionId = null;
                self.SelectedDateTypeL = "";
                self.CustomDate = "";
                $('#CustomDateSegEdit').hide();
                var text = "Manage Segment Rule";
                $('.SegRuleTitle').text(text);
                $('div#ErrorMessge p').html("");
                $('div#ErrorMessge').hide();
                self.$$('#addEditSegment').showModal();
            },
            _changeTextDisplay: function (value) {
                if (!_.isNull(value) && !_.isUndefined(value) && !_.isEmpty(value))
                    return _.startCase(_.lowerCase(value));
                return "";
            },
            openModel: function (objId) {
                var self = this;
                self.IsEditMode = true;
                if (!_.isUndefined(objId) && !_.isNull(objId) && !_.isEmpty(objId)) {
                    var segmentObj = self._getSegmentById(self.SegmentVariable, "id", objId);
                    self.ruleDefinitionId = segmentObj.ruleDefinitionId;
                    self.segmentId = segmentObj.id;
                    self.productId = segmentObj.productId;
                    self.entityType = segmentObj.entityType;
                    self.segmentName = segmentObj.segmentName;
                    self.dataAttributeStoreName = segmentObj.dataAttributeStoreName;
                    self.SelectedSegmentType = segmentObj.segmentType;
                    self.SelectedDateTypeL = segmentObj.applicationType;
                    if (segmentObj.applicationType === "CustomDate") {
                        self.CustomDate = moment(segmentObj.customDate.time).format("YYYY-MM-DD");
                        $('#CustomDateSegEdit').show();
                    }
                    else {
                        self.CustomDate = null;
                        $('#CustomDateSegEdit').hide();
                    }
                    self.EffectiveDate = moment(segmentObj.effectiveDate.time).format("YYYY-MM-DD");
                    self.ExpiryDate = moment(segmentObj.expiryDate.time).format("YYYY-MM-DD");
                    self.segmentStorageName = segmentObj.segmentStorageName;
                    self.inputSource = segmentObj.segmentVariableSource.inputSource;
                    self.inputVariable = segmentObj.segmentVariableSource.inputVariable;
                    self.description = segmentObj.description;
                    self.data = segmentObj.data;
                    if (self.SelectedSegmentType === "Range") {
                        self.RangeList = segmentObj.data;
                        self.ListList = [];
                    }
                    else if (self.SelectedSegmentType === "List") {
                        self.RangeList = [];
                        self.ListList = segmentObj.data;
                    }
                    $('#ProductIdSegment').attr('readonly', 'true');
                    $('#SegmentName').attr('readonly', 'true');
                    var text = "Manage " + self._changeTextDisplay(self.segmentName) + " Rule";
                    $('div#ErrorMessge p').html("");
                    $('div#ErrorMessge').hide();
                    $('.SegRuleTitle').text(text);
                    self.$$('#addEditSegment').showModal();
                }
            },
            SetData: function (objId) {
                var self = this;
                var segmentObj = self._getSegmentById(self.SegmentVariable, "id", objId);
                self.ruleDefinitionId = segmentObj.ruleDefinitionId;
                self.segmentId = segmentObj.id;
                self.productId = segmentObj.productId;
                self.entityType = segmentObj.entityType;
                self.segmentName = segmentObj.segmentName;
                self.dataAttributeStoreName = segmentObj.dataAttributeStoreName;
                self.SelectedSegmentType = segmentObj.segmentType;
                self.SelectedDateTypeL = segmentObj.applicationType;
                if (segmentObj.applicationType === "CustomDate") {
                    self.CustomDate = moment(segmentObj.customDate.time).format("YYYY-MM-DD");
                }
                else {
                    self.CustomDate = null;
                }
                self.EffectiveDate = moment(segmentObj.effectiveDate.time).format("YYYY-MM-DD");
                self.ExpiryDate = moment(segmentObj.expiryDate.time).format("YYYY-MM-DD");
                self.segmentStorageName = segmentObj.segmentStorageName;
                self.inputSource = segmentObj.segmentVariableSource.inputSource;
                self.inputVariable = segmentObj.segmentVariableSource.inputVariable;
                self.description = segmentObj.description;
                self.data = segmentObj.data;
                if (self.SelectedSegmentType === "Range") {
                    self.RangeList = segmentObj.data;
                    self.ListList = [];
                    $("#RangeTable").show();
                    $("#ListTable").hide();
                }
                else if (self.SelectedSegmentType === "List") {
                    self.RangeList = [];
                    self.ListList = segmentObj.data;
                    $("#RangeTable").hide();
                    $("#ListTable").show();
                }
                var text = "Set " + self._changeTextDisplay(self.segmentName) + " Data";
                $('.segSetDataTitle').text(text);
                self.$$('#setSegmentData').showModal();
            },
            AddRule: function (objId) {
                var self = this;
                var segmentObj = self._getSegmentById(self.SegmentVariable, "id", objId);
                self.ruleDefinitionId = segmentObj.ruleDefinitionId;
                self.segmentId = segmentObj.id;
                self.productId = segmentObj.productId;
                self.entityType = segmentObj.entityType;
                self.segmentName = segmentObj.segmentName;
                self.dataAttributeStoreName = segmentObj.dataAttributeStoreName;
                self.SelectedSegmentType = segmentObj.segmentType;
                self.EffectiveDate = moment(segmentObj.effectiveDate.time).format("YYYY-MM-DD");
                self.ExpiryDate = moment(segmentObj.expiryDate.time).format("YYYY-MM-DD");
                self.segmentStorageName = segmentObj.segmentStorageName;
                self.inputSource = segmentObj.segmentVariableSource.inputSource;
                self.inputVariable = segmentObj.segmentVariableSource.inputVariable;
                self.description = segmentObj.description;
                self.data = segmentObj.data;
                if (self.ruleDefinitionId != null && self.ruleDefinitionId != undefined) {
                    var productRule = window.config.services.productRule;
                    var url = "/" + self.ruleDefinitionId + "/ruledefinition";
                    if (self.ruleDefinitionId != undefined && self.ruleDefinitionId != null) {
                        self.$.http.get(url, productRule).then(function (result) {
                            self.SRuleName = result.ruleName;
                            self.SDERuleName = result.ruleDetail.deRuleName;
                            self.SelectedDateType = result.applicationType;
                            if (self.SelectedDateType === "CustomDate") {
                                $('#SCustomDate').show();
                                self.SCustomDate = moment(result.customDate.time).format("YYYY-MM-DD");
                            }
                            else {
                                $('#SCustomDate').hide();
                                self.SCustomDate = null;
                            }
                            self.SEffectiveDate = moment(result.effectiveDate.time).format("YYYY-MM-DD");
                            self.SExpiryDate = moment(result.expiryDate.time).format("YYYY-MM-DD");
                            self.SRuleVersion = result.ruleDetail.ruleVersion;
                            self.SRequiredSources = result.ruleDetail.requiredSources.toString();
                            self.SOptionalSources = result.ruleDetail.optionalSources.toString();
                            self.SRuleDescription = result.description;
                            self.SdataAttributeStoreName = result.dataAttributeStoreName;
                            $('#SegmentRuleName').attr('readonly', 'true');
                        }).fail(function (e) {
                            console.error("Add Attribute save error is ", e);
                        });
                    }

                }
                else {
                    self.SRuleName = "";
                    self.SDERuleName = "";
                    self.SCustomDate = "";
                    self.SelectedDateType = "";
                    self.SEffectiveDate = "";
                    self.SExpiryDate = "";
                    self.SRuleVersion = "";
                    self.SRequiredSources = "";
                    self.SOptionalSources = "";
                    self.SRuleDescription = "";
                    self.SdataAttributeStoreName = "";
                    $('#SegmentRuleName').removeAttr('readonly');
                    $('#SCustomDate').hide();
                }
                var text = "Manage " + self._changeTextDisplay(self.segmentName) + " Rule Definition";
                $('.SegRuleDefinitionTitle').text(text);
                self.$$('#addEditRuleDefinition').showModal();
            },
            searchDate: function (date) {
                if (date !== undefined) {
                    return moment(date).format("YYYY-MM-DD");
                }
                return "";
            },
            _getSegmentById: function (array, propName, scoreID) {
                var Obj = array.filter(function (e) {
                    return e[propName] === scoreID;
                })[0];
                return Obj || {};
            },
            _resetForm: function (event) {
                var form = Polymer.dom(event).localTarget.parentElement;
                form.reset();
            },
            resetSegmentModal: function () {
                var self = this;
                self.segmentId = "";
                self.productId = "";
                self.entityType = "";
                self.segmentName = "";
                self.dataAttributeStoreName = "";
                self.SelectedSegmentType = "";
                self.EffectiveDate = "";
                self.ExpiryDate = "";
                self.segmentStorageName = "";
                self.inputSource = "";
                self.inputVariable = "";
                self.description = "";
                self.data = [];
                self.RangeList = [];
                self.ListList = [];
                self.IsEditMode = false;
                $('#ProductIdSegment').removeAttr('readonly');
                $('#SegmentName').removeAttr('readonly');
                $('#SegmentRuleName').removeAttr('readonly');
                $('#scorecardFormCancelBtn').trigger('click');
            },
            _ValidatesegmentForm: function () {
                var self = this;
                if ((self.SelectedDateTypeL == "CustomDate") && (_.isEmpty(self.CustomDate) || _.isEmpty(self.productId) || _.isEmpty(self.segmentName) || _.isEmpty(self.SelectedSegmentType) || _.isEmpty(self.EffectiveDate) || _.isEmpty(self.ExpiryDate) || _.isEmpty(self.segmentStorageName) || _.isEmpty(self.description))) {
                    $('div#ErrorMessge p').html("All Fields are required");
                    $('div#ErrorMessge').show();
                    return false;
                }
                else if (_.isEmpty(self.SelectedDateTypeL) || _.isEmpty(self.productId) || _.isEmpty(self.segmentName) || _.isEmpty(self.SelectedSegmentType) || _.isEmpty(self.EffectiveDate) || _.isEmpty(self.ExpiryDate) || _.isEmpty(self.segmentStorageName) || _.isEmpty(self.description)) {
                    $('div#ErrorMessge p').html("All Fields are required");
                    $('div#ErrorMessge').show();
                    return false;
                }
                return true;
            },
            _verifyForm: function (event) {
                event.preventDefault();
                $('div#ErrorMessge').hide();
                var self = this;
                if (self._ValidatesegmentForm()) {
                    if (!_.isUndefined(self.segmentId) && !_.isNull(self.segmentId) && !_.isEmpty(self.segmentId)) {
                        self.UpdateSegment(self.ruleDefinitionId);
                    }
                    else {
                        var productRule = window.config.services.productRule;
                        var url = "/" + self.entityType + "/" + self.productId + "/segment";
                        var SVS = {
                            InputSource: self.inputSource,
                            InputVariable: self.inputVariable
                        }
                        var CDate;
                        if (self.SelectedDateTypeL !== "CustomDate" && (self.CustomDate === "" || self.CustomDate === null)) {
                            CDate = Date.now();
                        }
                        else {
                            CDate = self.CustomDate
                        }
                        var Payload = {
                            SegmentName: self.segmentName,
                            DataAttributeStoreName: self.dataAttributeStoreName,
                            SegmentVariableSource: SVS,
                            EffectiveDate: self.EffectiveDate,
                            ExpiryDate: self.ExpiryDate,
                            Description: self.description,
                            SegmentStorageName: self.segmentStorageName,
                            SegmentType: self.SelectedSegmentType,
                            RuleDefinitionId: self.ruleDefinitionId,
                            ApplicationType: self.SelectedDateTypeL,
                            CustomDate: self.formatDate(CDate)
                        }
                        if (self.SelectedSegmentType === "Range") {
                            Payload.Data = self.RangeList;
                        }
                        else if (self.SelectedSegmentType === "List") {
                            Payload.Data = self.ListList;
                        }
                        self.$.http.post(url, Payload, productRule).then(function (result) {
                            $('.close').click();
                            self.loadSegment();
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            $('div#ErrorMessge p').html(strMessage);
                            $('div#ErrorMessge').show();
                            setTimeout(function () {
                                $('div#ErrorMessge').hide();
                            }, 2000);
                            console.error("Add Attribute save error is ", e);
                        });
                    }
                }
            },
            _ValidatesegmentRuleForm: function () {
                var self = this;
                if ((self.SelectedDateType == "CustomDate") && (_.isEmpty(self.SCustomDate) || _.isEmpty(self.productId) || _.isEmpty(self.SRuleName) || _.isEmpty(self.SEffectiveDate) || _.isEmpty(self.SExpiryDate) || _.isEmpty(self.SDERuleName) || _.isEmpty(self.SRuleVersion) || _.isEmpty(self.SRuleDescription))) {
                    $('div#ErrorMessge p').html("All Fields are required");
                    $('div#ErrorMessge').show();
                    return false;
                }
                else if (_.isEmpty(self.SelectedDateType) || _.isEmpty(self.productId) || _.isEmpty(self.SRuleName) || _.isEmpty(self.SEffectiveDate) || _.isEmpty(self.SExpiryDate) || _.isEmpty(self.SDERuleName) || _.isEmpty(self.SRuleVersion) || _.isEmpty(self.SRuleDescription)) {
                    $('div#ErrorMessge p').html("All Fields are required");
                    $('div#ErrorMessge').show();
                    return false;
                }
                return true;
            },
            SaveSegmentRules: function (event) {
                event.preventDefault();
                $('div#ErrorMessge').hide();
                var self = this;
                if (self._ValidatesegmentRuleForm()) {
                    if (self.ruleDefinitionId != null && self.ruleDefinitionId != undefined) {
                        var productRule = window.config.services.productRule;
                        var url = "/" + self.ruleDefinitionId + "/ruledefinition";
                        var rs = new Array();
                        var os = new Array();
                        if (self.SRequiredSources.toString() !== "") {
                            rs = self.SRequiredSources.split(',');
                        }
                        if (self.SOptionalSources.toString() !== "") {
                            os = self.SOptionalSources.split(',');
                        }
                        var CDate;
                        if (self.SelectedDateType !== "CustomDate" && (self.SCustomDate === "" || self.SCustomDate === null)) {
                            CDate = Date.now();
                        }
                        else {
                            CDate = self.SCustomDate
                        }
                        var Payload = {
                            DataAttributeStoreName: self.SdataAttributeStoreName,
                            EffectiveDate: self.SEffectiveDate,
                            ExpiryDate: self.SExpiryDate,
                            RuleClass: "segment",
                            RuleType: "Rule",
                            DERuleName: self.SDERuleName,
                            RuleVersion: self.SRuleVersion,
                            RequiredSources: rs,
                            OptionalSources: os,
                            Description: self.SRuleDescription,
                            ApplicationType: self.SelectedDateType,
                            CustomDate: self.formatDate(CDate)
                        }
                        self.$.http.put(url, Payload, productRule).then(function (result) {
                            self.UpdateSegment(result.id);
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            $('div#ErrorMessge p').html(strMessage);
                            $('div#ErrorMessge').show();
                            setTimeout(function () {
                                $('div#ErrorMessge').hide();
                            }, 2000);
                            console.error("edit Attribute save error is ", e);
                        });
                    }
                    else {
                        var productRule = window.config.services.productRule;
                        var url = "/" + self.entityType + "/" + self.productId + "/ruledefinition";
                        var rs = new Array();
                        var os = new Array();
                        if (self.SRequiredSources.toString() !== "") {
                            rs = self.SRequiredSources.split(',');
                        }
                        if (self.SOptionalSources.toString() !== "") {
                            os = self.SOptionalSources.split(',');
                        }
                        var CDate;
                        if (self.SelectedDateType !== "CustomDate" && (self.SCustomDate === "" || self.SCustomDate === null)) {
                            CDate = Date.now();
                        }
                        else {
                            CDate = self.SCustomDate
                        }
                        var Payload = {
                            RuleName: self.SRuleName,
                            DataAttributeStoreName: self.SdataAttributeStoreName,
                            EffectiveDate: self.SEffectiveDate,
                            ExpiryDate: self.SExpiryDate,
                            RuleClass: "segment",
                            RuleType: "Rule",
                            DERuleName: self.SDERuleName,
                            RuleVersion: self.SRuleVersion,
                            RequiredSources: rs,
                            OptionalSources: os,
                            Description: self.SRuleDescription,
                            ApplicationType: self.SelectedDateType,
                            CustomDate: self.formatDate(CDate)
                        }
                        self.$.http.post(url, Payload, productRule).then(function (result) {
                            self.UpdateSegment(result.id);
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            $('div#ErrorMessge p').html(strMessage);
                            $('div#ErrorMessge').show();
                            setTimeout(function () {
                                $('div#ErrorMessge').hide();
                            }, 2000);
                            console.error("Add Attribute save error is ", e);
                        });
                    }
                }
            },
            UpdateSegment: function (ruleDefinitionId) {
                var self = this;
                var productRule = window.config.services.productRule;
                var url = "/" + self.segmentId + "/segment";
                var SVS = {
                    InputSource: self.inputSource,
                    InputVariable: self.inputVariable
                }
                var CDate;
                if (self.SelectedDateTypeL !== "CustomDate" && (self.CustomDate === "" || self.CustomDate === null)) {
                    CDate = Date.now();
                }
                else {
                    CDate = self.CustomDate
                }
                var Payload = {
                    SegmentName: self.segmentName,
                    DataAttributeStoreName: self.dataAttributeStoreName,
                    SegmentVariableSource: SVS,
                    EffectiveDate: self.EffectiveDate,
                    ExpiryDate: self.ExpiryDate,
                    Description: self.description,
                    SegmentStorageName: self.segmentStorageName,
                    SegmentType: self.SelectedSegmentType,
                    RuleDefinitionId: ruleDefinitionId,
                    ApplicationType: self.SelectedDateTypeL,
                    CustomDate: self.formatDate(CDate)
                }
                if (self.SelectedSegmentType === "Range") {
                    Payload.Data = self.RangeList;
                }
                else if (self.SelectedSegmentType === "List") {
                    Payload.Data = self.ListList;
                }
                self.$.http.put(url, Payload, productRule).then(function (result) {
                    $('.close').click();
                    self.loadSegment();
                }).fail(function (e) {
                    var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                    $('div#ErrorMessge p').html(strMessage);
                    $('div#ErrorMessge').show();
                    setTimeout(function () {
                        $('div#ErrorMessge').hide();
                    }, 2000);
                    console.error("Segment save error is ", e);
                });
            },
            formatDate: function (date) {
                if (date !== null && date !== undefined && date !== "") {
                    return moment.tz(date, window.config.timezone).format("YYYY-MM-DD");
                }
                return "";
            },
            resetSegmentModalEditor: function () {
                var self = this;
                self._updateHash();
            },
            editRule: function (e) {
                var self = this;
                self.ruleDefination = e.ruleDefinitionId;
            },
            _updateHash: function () {
                var randomVal = Math.floor(Math.random() * (10000 - 1 + 1)) + 1;
                var hashStr = window.location.hash;
                if (hashStr.includes("refresh:")) {
                    var newHash = hashStr.replace(/refresh:\d+/i, "refresh:" + randomVal);
                    window.location.hash = newHash;
                } else {
                    window.location.hash = hashStr + "/refresh:" + randomVal;
                }
            },
            _getProductList: function () {
                var self = this;
                var url = "/all/product";
                var multiProducts = window.config.services.multiProducts;
                self.$.http.get(url, multiProducts).then(function (data) {
                    var ProductList = _.transform(data, function (result, item) {
                        result.push({ key: item.productId, value: item.productId, expiresOn: item.expiresOn, validFrom: item.validFrom });
                    }, []);
                    self.ProductList = ProductList;
                }).fail(function (e) {
                    console.error("Product List error is ", e);
                });

            }
        });
    </script>
</dom-module>