<dom-module id="strategy-step">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }

            .nav-tabs {
                margin-bottom: -1px;
            }

            .title-case {
                text-transform: capitalize;
            }

            .nav-tabs>li.active>a,
            .nav-tabs>li.active>a:hover,
            .nav-tabs>li.active>a:focus {
                color: #555555 !important;
                cursor: default;
                background: white;
                border-bottom: #f3f3f4;
                border-color: #dddddd #dddddd rgba(0, 0, 0, 0);
                border-image: none;
                border-style: solid;
                border-width: 1px;
                -moz-border-bottom-colors: none;
                -moz-border-left-colors: none;
                -moz-border-right-colors: none;
                -moz-border-top-colors: none;
            }

            .panel-default>.panel-heading+.panel-collapse>.panel-body {
                border-top-color: #EEEEEE;
            }

            .panel-body {
                min-height: 0px;
            }

            .tab-content>.active {
                display: block;
                background: white;
            }

            .header {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
                padding: 10px 0px 10px 5px;
            }

            .addbtn {
                margin-bottom: 10px;
                margin-top: 10px;
            }

            #ErrorMessge p {
                color: #FF0000;
            }

            #ErrorMessgeRuleEditor p {
                color: #FF0000;
            }

            #SuccessMessge p {
                color: #008000;
            }
        </style>
        <div class="pull-right">
            <template is="dom-if" if="{{hasRole('AddEditStrategyStepBtn')}}">
                <template is="dom-if" if="{{ShowButton(selectedName)}}">
                    <paper-button class="btn btn-primary activity-action-btn addbtn" on-click="_addStrategyStep" raised>Add Strategy Step</paper-button>
                </template>
            </template>
        </div>
        <table id="strategyStepData" class="table table-striped" width="100%" cellspacing="0">
        </table>
        <custom-modal id="addEditStrategyStepModal" class="modal-drop" on-modal-hidden="resetStrategyStepModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title ScoreTitle">Manage Strategy Step</h4>
                    </div>
                    <div class="modal-body">
                        <div id="ErrorMessge" style="display: none;">
                            <p></p>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form id="StrategyStepForm" is="iron-form" class="form-horizontal">
                                    <div class="row">
                                        <div class="panel-left col-md-6">
                                            <vaadin-combo-box class="custom-input" name="stepType" value="{{SelectedstepType}}" item-value-path="value" item-label-path="key"
                                                items="{{stepTypes}}" label="Select Step Type" prevent-invalid-input="true" on-change="_onTypeChange">
                                            </vaadin-combo-box>
                                        </div>
                                        <div class="panel-left col-md-6">
                                            <vaadin-combo-box class="custom-input" name="stepName" value="{{SelectedStepName}}" item-value-path="value" item-label-path="key"
                                                items="{{StepNames}}" label="Select Step Name" prevent-invalid-input="true">
                                            </vaadin-combo-box>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="panel-left col-md-12">
                                            <paper-input class="custom-input" type="text" value="{{Description}}" name="Description" id="Description" label="Description"></paper-input>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="panel-left col-md-6">
                                            <paper-checkbox class="custom-input" checked="{{ContinueOnException}}" name="ContinueOnException" id="ContinueOnException"
                                                on-change="_stuffChanged">
                                                Continue On Exception
                                            </paper-checkbox>
                                        </div>
                                        <div class="panel-left col-md-6">
                                            <paper-checkbox checked="{{ContinueOnNonEligibility}}" name="ContinueOnNonEligibility" id="ContinueOnNonEligibility" on-change="_stuffChanged">
                                                Continue On Non Eligibility
                                            </paper-checkbox>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="panel-left col-md-6">
                                            <paper-input type="number" class="custom-input" value="{{SequenceNumber}}" name="SequenceNumber" id="SequenceNumber" label="Sequence Number"></paper-input>
                                        </div>
                                    </div>
                                    <template is="dom-if" if="{{hasRole('AddEditStrategyStepBtn')}}">
                                        <paper-button id="btnSave" class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                                    </template>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <auth-service id="authorize"></auth-service>
    </template>
    <script>
        Polymer({
            is: "strategy-step",
            properties: {
                stepTypes: {
                    type: Array,
                    notify: true,
                    value: [
                        { key: "ScoreCard", value: "ScoreCard" },
                        { key: "Lookup", value: "Lookup" },
                        { key: "Segment", value: "Segment" },
                        { key: "Rule", value: "Rule" }
                    ]
                },
                SelectedstepType: {
                    type: String,
                    notify: true
                },
                SelectedStepName: {
                    type: String,
                    notify: true
                },
                StepNames: {
                    type: Array,
                    notify: true,
                    value: []
                },
                Description: {
                    type: String,
                    notify: true
                },
                ContinueOnNonEligibility: {
                    type: Boolean,
                    notify: true
                },
                ContinueOnException: {
                    type: Boolean,
                    notify: true
                },
                SequenceNumber: {
                    type: String,
                    notify: true
                },
                StrategySteps: {
                    type: Array,
                    notify: true,
                    value: []
                },
                selectedName: {
                    type: String,
                    notify: true,
                },
                selectedId: {
                    type: String,
                    notify: true,
                    observer: "_nameChanged"
                },
                pricingStrategyId: {
                    type: String,
                    notify: true
                },
                tableObj: {
                    type: Object,
                    notify: false
                },
                StrategyStepId: {
                    type: String,
                    notify: true
                },
                entityType: {
                    type: String,
                    notify: true
                }
            },
            _nameChanged: function () {
                this.LoadPricingStrategyStep();
            },
            _onTypeChange: function (event) {
                var self = this;
                var selectedValues = event.target.value;
                self.StepNames = [];
                self.SelectedStepName = "";
                if (selectedValues === "ScoreCard") {
                    self.fillVariableType("scorecard");
                }
                else if (selectedValues === "Lookup") {
                    self.fillVariableType("lookup");
                }
                else if (selectedValues === "Segment") {
                    self.fillVariableType("segment");
                }
                else if (selectedValues === "Rule") {
                    self.fillVariableType("eligibility");
                }
                else {
                    self.StepNames = [];
                    self.SelectedStepName = "";
                }
            },
            ShowButton: function (selectedName) {
                var self = this;
                if (selectedName != undefined && selectedName !== "")
                    return true;
                return false;
            },
            LoadPricingStrategyStep: function () {
                var self = this;
                var url = "/" + self.selectedId + "/pricingstrategy";
                var productRule = window.config.services.productRule;
                self.$.http.get(url, productRule).then(function (data) {
                    self.pricingStrategyId = data.id;
                    self.StrategySteps = data.pricingStrategyStep;
                    self._showResult(self.StrategySteps);
                }).fail(function (e) {
                    console.error("alert error is ", e);
                });
            },
            _showResult: function (resultData) {
                var self = this;
                var table = self.tableObj;
                if (table !== null && table !== undefined) {
                    table.clear();
                    table.destroy();
                }
                self.tableObj = $(this.$$('#strategyStepData')).DataTable({
                    retrieve: true,
                    dom: "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    language: {
                        "zeroRecords": "No data found."
                    },
                    data: resultData,
                    order: [[3, "asc"]],
                    columnDefs: [
                        {
                            "width": "15%",
                            targets: 0,
                            orderable: true
                        },
                        {
                            targets: 1,
                            width: "25%"
                        },
                        {
                            targets: 2,
                            width: "10%"
                        },
                        {
                            targets: 3,
                            width: "15%"
                        },
                        {
                            targets: 4,
                            width: "12%"
                        },
                        {
                            targets: 5,
                            width: "12%"
                        },
                        {
                            targets: 6,
                            width: "5%",
                            sortable: false
                        }
                    ],
                    columns: [
                        {
                            "data": "stepName",
                            "title": "Step Name",
                            "tooltip": "Step Name"
                        },
                        {
                            "data": "description",
                            "title": "Description",
                            "tooltip": "Description"
                        },
                        {
                            "data": "stepType",
                            "title": "Step Type",
                            "tooltip": "Step Type"
                        },
                        {
                            "data": "sequenceNumber",
                            "title": "Sequence Number",
                            "tooltip": "SequenceNumber"
                        },
                        {
                            "data": "continueOnException",
                            "title": "On Exception",
                            "isFunction": true,
                            "render": eval("(function(data,type,full,meta) { if (data) {  return \"<i class='fa fa-play-circle-o' aria-hidden='true'></i>\"; } return \"<i class='fa fa-stop-circle-o' aria-hidden='true'></i>\";})"),
                            "tooltip": "Continue On Exception"
                        },
                        {
                            "data": "continueOnNonEligibility",
                            "title": "On Non Eligibility",
                            "isFunction": true,
                            "render": eval("(function(data,type,full,meta) { if (data) {  return \"<i class='fa fa-play-circle-o' aria-hidden='true'></i>\"; } return \"<i class='fa fa-stop-circle-o' aria-hidden='true'></i>\";})"),
                            "tooltip": "Continue On Non Eligibility"
                        },
                        {
                            "data": null,
                            "isFunction": true,
                            "render": eval("(function(data,type,full,meta) {var hasViewScoreCardVariable='';if (self.hasRole('ViewScoreCardVariableBtn') == true || self.hasRole('AddEditScoreCardVariableBtn') == true) { hasViewScoreCardVariable = \"<li><a on-click='editVariables' href='javascript:'>Edit</a></li>\" }; return \"<ul class='nav navbar-right' style='font-size:15px; margin: 0 0 0 0;'><li class='dropdown'><a href='javascript:' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-expanded='false' style='padding: 3px 0px 0 5px;'><i class='fa fa-ellipsis-h' aria-hidden='true'></i></a><ul class='dropdown-menu'>\" + hasViewScoreCardVariable + \"</ul></li></ul>\"})")
                        }
                    ]
                });
                $('#strategyStepData tbody').on('click', 'a', function (obj) {
                    var data = self.tableObj.row($(this).parents('tr')).data();
                    if (this.getAttribute("on-click") !== null && this.getAttribute("on-click") !== undefined) {
                        self.editVariables(data);
                    }
                });

                //Grid header tooltip
                var configData = $('#strategyStepData').dataTable().dataTableSettings[0].aoColumns;
                $('#strategyStepData thead tr')[0].childNodes.forEach(function (obj) {
                    var tooltipObj = _.filter(configData, { title: obj.innerText })
                    if (!_.isUndefined(tooltipObj) && !_.isNull(tooltipObj) && !_.isEmpty(tooltipObj)) {
                        var tooltip = tooltipObj[0].tooltip;
                        if (tooltip !== "" && tooltip !== undefined) {
                            $(obj).attr('title', tooltip);
                        }
                    }
                });
            },
            hasRole: function (RoleName) {
                return this.$.authorize.hasRole(RoleName);
            },
            editVariables: function (e) {
                var event = e;
                var self = this;
                self.StrategyStepId = e.strategyStepId;
                self.SelectedstepType = e.stepType;
                self.SelectedStepName = e.stepName;
                self.Description = e.description;
                self.ContinueOnNonEligibility = e.continueOnNonEligibility;
                self.ContinueOnException = e.continueOnException;
                self.SequenceNumber = e.sequenceNumber;
                var selectedValues = e.stepType;
                if (selectedValues === "ScoreCard") {
                    self.fillVariableType("scorecard");
                }
                else if (selectedValues === "Lookup") {
                    self.fillVariableType("lookup");
                }
                else if (selectedValues === "Segment") {
                    self.fillVariableType("segment");
                }
                else if (selectedValues === "Rule") {
                    self.fillVariableType("eligibility");
                }

                $('#variableName').attr('readonly', 'true');
                $('#ScoreCardVariableRuleName').attr('readonly', 'true');
                var text = "Manage " + self._changeTextDisplay(self.SelectedStepName) + " Strategy Step";
                $('.ScoreTitle').text(text);
                self.$$('#addEditStrategyStepModal').showModal();
            },
            _changeTextDisplay: function (value) {
                if (!_.isNull(value) && !_.isUndefined(value) && !_.isEmpty(value))
                    return _.startCase(_.lowerCase(value));
                return "";
            },
            date: function (date) {
                if (date !== null && date !== undefined && date !== "") {
                    return moment.tz(date, window.config.timezone).format("MM/DD/YYYY");
                }
                return "";
            },
            resetStrategyStepModal: function () {
                var self = this;
                self.StrategyStepId = "";
                self.SelectedstepType = "";
                self.SelectedStepName = "";
                self.Description = "";
                self.ContinueOnNonEligibility = false;
                self.ContinueOnException = false;
                self.SequenceNumber = "";
                $('div#ErrorMessge p').html("");
                $('div#ErrorMessge').hide();

            },
            _addStrategyStep: function (event) {
                event.preventDefault();
                var self = this;
                self.resetStrategyStepModal();
                var text = "Manage " + self._changeTextDisplay(self.selectedName) + " Pricing step";
                $('.ScoreTitle').text(text);
                self.$$('#addEditStrategyStepModal').showModal();
            },
            fillVariableType: function (objVariableType) {
                var self = this;
                var url = "";
                if (objVariableType === "lookup") {
                    url = "/" + self.entityType + "/all/lookup";
                }
                else if (objVariableType === "scorecard") {
                    url = "/" + self.entityType + "/all/scorecard";
                }
                else if (objVariableType === "segment") {
                    url = "/" + self.entityType + "/all/segment";
                }
                else if (objVariableType === "eligibility") {
                    url = "/" + self.entityType + "/ruledetails/eligibility";
                }

                var productRule = window.config.services.productRule;
                self.$.http.get(url, productRule).then(function (data) {
                    var newArray = [];
                    data.forEach(function (element) {
                        if (objVariableType === "lookup") {
                            newArray.push({ key: element.lookupName, value: element.lookupName });
                        }
                        else if (objVariableType === "segment") {
                            newArray.push({ key: element.segmentName, value: element.segmentName });
                        }
                        else if (objVariableType === "scorecard") {
                            newArray.push({ key: element.scoreCardName, value: element.scoreCardName });
                        }
                        else if (objVariableType === "eligibility") {
                            newArray.push({ key: element.ruleName, value: element.ruleName });
                        }
                    });
                    self.StepNames = newArray;
                })
            },
            _ValidateScoreCardForm: function () {
                var self = this;
                if (_.isEmpty(self.SelectedstepType) || _.isEmpty(self.SelectedStepName) || _.isEmpty(self.Description) || self.SequenceNumber === "") {
                    $('div#ErrorMessge p').html("All Fields are required");
                    $('div#ErrorMessge').show();
                    return false;
                }
                return true;
            },
            _verifyForm: function (event) {
                event.preventDefault();
                $('div#ErrorMessge').hide();
                var self = this;
                var params = self.$.url.getParams();
                var RuleClassName = params.rules;
                if (self._ValidateScoreCardForm()) {
                    if (!_.isUndefined(self.StrategyStepId) && !_.isNull(self.StrategyStepId) && !_.isEmpty(self.StrategyStepId)) {
                        var productRule = window.config.services.productRule;
                        var url = "/" + self.pricingStrategyId + "/" + self.StrategyStepId + "/pricingstrategystep";
                        var Payload = {
                            StepName: self.SelectedStepName,
                            Description: self.Description,
                            StepType: self.SelectedstepType,
                            SequenceNumber: self.SequenceNumber,
                            ContinueOnException: self.ContinueOnException,
                            ContinueOnNonEligibility: self.ContinueOnNonEligibility
                        }
                        self.$.http.put(url, Payload, productRule).then(function (result) {
                            $('.close').click();
                            self.LoadPricingStrategyStep();
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            $('div#ErrorMessge p').html(strMessage);
                            $('div#ErrorMessge').show();
                            setTimeout(function () {
                                $('div#ErrorMessge').hide();
                            }, 2000);
                            console.error("Add Attribute save error is ", e);
                        });

                    }
                    else {
                        var productRule = window.config.services.productRule;
                        var url = "/" + self.pricingStrategyId + "/pricingstrategystep";
                        var Payload = {
                            StepName: self.SelectedStepName,
                            Description: self.Description,
                            StepType: self.SelectedstepType,
                            SequenceNumber: self.SequenceNumber,
                            ContinueOnException: self.ContinueOnException,
                            ContinueOnNonEligibility: self.ContinueOnNonEligibility
                        }
                        self.$.http.post(url, Payload, productRule).then(function (result) {
                            $('.close').click();
                            self.LoadPricingStrategyStep();
                        }).fail(function (e) {
                            var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                            $('div#ErrorMessge p').html(strMessage);
                            $('div#ErrorMessge').show();
                            setTimeout(function () {
                                $('div#ErrorMessge').hide();
                            }, 2000);
                            console.error("Add Attribute save error is ", e);
                        });
                    }
                }
            }
        })
    </script>
</dom-module>