<html-import html-href="app-actions/request-vote.html"></html-import>
<html-import html-href="custom-component/loan-activity.html"></html-import>
<dom-module id="actions-container">
    <template>
        <template is="dom-if" if="{{hasRole('PostVoteAction')}}">
            <template is="dom-if" if="{{_showComponentTemplate(pollId,componentMap.PostVote)}}">
                <loan-activity id="postVote-loan-activity" activity-title="Post Vote">
                    <request-vote id="postVote" form-id="postVote" class="loan-activity" poll-id="{{pollId}}" fire-event="{{getEvents('PostVote')}}"></request-vote>
                </loan-activity>
            </template>
        </template>
        <url-parser id="url"></url-parser>
        <auth-service id="authorize"></auth-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "actions-container",
                properties: {
                    componentMap: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    noActionMessage: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    actionEvents: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    }
                },
                ready: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    if (params.hasOwnProperty('entity')) {
                        self.set('currentEntityName', _.startCase(params.entity));
                        console.log("component Map--------->", self.componentMap);
                    }
                },
                _showComponentTemplate: function (componentMap, val) {
                    if (this.componentMap && val) {
                        return true;
                    }
                    return false;
                },
                getEvents: function (action) {
                    var event = this.actionEvents[action];
                    return event;
                },
                hasRole: function (compName) {
                    return this.$.authorize.hasRole(compName);
                }
            });
        });
    </script>
</dom-module>