<html-import html-href="app-details-tab/doc-view.html"></html-import>
<html-import html-href="app-details-tab/owners-info.html"></html-import>
<html-import html-href="app-details-tab/offers-grid.html"></html-import>
<html-import html-href="app-details-tab/cashflow-info.html"></html-import>
<html-import html-href="app-details-tab/business-info.html"></html-import>
<html-import html-href="app-details-tab/thirdparty-info.html"></html-import>
<dom-module id="poll-detail">
    <template>
        <style>
            .nav-tabs {
                margin-bottom: -1px;
            }

            .header {
                font-size: 20px !important;
            }

            .modal-dialog {
                margin: 10% auto;
                width: 400px !important;
            }

            a.headerStatus {
                background-color: #80b43c !important;
                padding: 5px;
                font-size: 17px !important;
                color: #fff !important;
                float: right;
                font-weight: bold;
                font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            }

            .title-case {
                text-transform: capitalize;
                margin: 10px auto;
            }

            .nav-tabs>li.active>a,
            .nav-tabs>li.active>a:hover,
            .nav-tabs>li.active>a:focus {
                color: #555555 !important;
                cursor: default;
                background: white;
                border-bottom: #f3f3f4;
                border-color: #dddddd #dddddd rgba(0, 0, 0, 0);
                border-image: none;
                border-style: solid;
                border-width: 1px;
                -moz-border-bottom-colors: none;
                -moz-border-left-colors: none;
                -moz-border-right-colors: none;
                -moz-border-top-colors: none;
            }

            .panel-default>.panel-heading+.panel-collapse>.panel-body {
                border-top-color: #EEEEEE;
            }

            .panel-body {
                min-height: 0px;
            }

            .tab-content>.active {
                display: block;
                background: white;
            }

            .top-tabs {
                padding: 15px 0 !important;
            }

            .helpIcon {
                cursor: pointer;
                font-size: 20px;
                color: lightseagreen;
                float: right;
                margin: 5px;
            }

            .image-list-box {
                padding: 0 5px;
                margin: 0 auto 15px;
                clear: both;
                color: inherit;
                background-color: #ffffff;
                border-color: #e7eaec;
                border-image: none;
                border-style: solid solid none;
                border-width: 4px 0 0;
                height: 50px;
            }

            .image-list-label {
                position: absolute;
                margin: 15px auto;
            }

            .image-list-container {
                padding-left: 90px;
                display: inline-block;
                margin: 0 auto;
            }

            .textareascroll {
                overflow-y: auto;
                height: 150px;
            }

            .headerTable {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }
        </style>
        <div class="row">
            <div class="wrapper wrapper-content col-md-8">
                <div class="ibox float-e-margins loan-summary">
                    <div class="ibox-title">
                        <h1 class="header title-case">{{pollData.subject}}
                        </h1>
                    </div>
                    <div class="ibox-content">
                        <ul class="nav nav-tabs" id="myTab">
                            <template is="dom-if" if="{{hasRole('PollDetailsTab')}}">
                                <li class="active">
                                    <a data-target="#PollDetails" title="Poll Details" data-toggle="tab">Poll</a>
                                </li>
                            </template>
                            <template is="dom-if" if="{{hasRole('BusinessInfoTab')}}">
                                <li>
                                    <a data-target="#businessinfo" title="{{getTooltip('BusinessInfoTab')}}" data-toggle="tab">Business Info</a>
                                </li>
                            </template>
                            <template is="dom-if" if="{{hasRole('SponsorsInfoTab')}}">
                                <li>
                                    <a data-target="#sponsorsinfo" title="{{getTooltip('SponsorsInfoTab')}}" data-toggle="tab">Owners</a>
                                </li>
                            </template>
                            <template is="dom-if" if="{{hasRole('ScorecardTab')}}">
                                <li>
                                    <a data-target="#3rdpartyinfo" title="{{getTooltip('ScorecardTab')}}" data-toggle="tab">3rd Party Data</a>
                                </li>
                            </template>
                            <template is="dom-if" if="{{hasRole('CashflowInfoTab')}}">
                                <li>
                                    <a data-target="#cashflowinfo" data-toggle="tab">Cashflow</a>
                                </li>
                            </template>
                        </ul>
                        <div class="tab-content panel-body">
                            <div class="tab-pane active" id="PollDetails">
                                <template is="dom-if" if="{{dataLoaded}}">
                                    <table class="table">
                                        <tr>
                                            <th colspan="6" class="headerTable">Poll Details</th>
                                        </tr>
                                        <tr>
                                            <th>Opens On</th>
                                            <td>{{date(pollData.opensOn)}}</td>
                                            <th>Closes On</th>
                                            <td>{{date(pollData.closesOn)}}</td>
                                            <th>Status</th>
                                            <td>{{pollData.status}}</td>
                                        </tr>
                                        <tr>
                                            <th>Description</th>
                                            <td colspan="5">{{pollData.description}}</td>
                                        </tr>
                                        <tr>
                                            <th colspan="6" class="headerTable">Voting Results</th>
                                        </tr>
                                        <tr>
                                            <th colspan="2">Title</th>
                                            <th>Vote</th>
                                            <th colspan="3"></th>
                                        </tr>
                                        <template is="dom-repeat" items="{{OptionsResults}}">
                                            <tr>
                                                <td colspan="2">{{item.Title}}</td>
                                                <td>{{item.Vote}}</td>
                                                <td colspan="3"></td>
                                            </tr>
                                        </template>
                                    </table>
                                </template>
                            </div>
                            <div class="tab-pane" id="businessinfo">
                                <template is="dom-if" if="{{dataLoaded}}">
                                    <app-business-info id="businessInfoTemplate" application-number="{{applicationNumber}}" data-attributes="{{dataAttributes}}"
                                        industry-lookup="{{industryTypeLookup}}" property-lookup="{{propertyTypeLookup}}" purposeofloan-lookup="{{purposeOfLoanTypeLookup}}"
                                        businesstype-lookup="{{businessTypeLookup}}" loanpriority-lookup="{{loanPriorityLookup}}"></app-business-info>
                                </template>
                            </div>
                            <div class="tab-pane" id="sponsorsinfo">
                                <template is="dom-if" if="{{dataLoaded}}">
                                    <app-owners-info id="ownersInfoTemplate" application-number="{{applicationNumber}}" data-attributes="{{dataAttributes}}"></app-owners-info>
                                </template>
                            </div>
                            <div class="tab-pane" id="3rdpartyinfo">
                                <template is="dom-if" if="{{thirdPartyDataLoaded}}">
                                    <app-thirdparty-info data-owner-reports="{{ownerReports}}" application-number="{{applicationNumber}}" data-attributes-config="{{daConfig}}"
                                        data-attributes="{{dataAttributes}}" score-config="{{scConfig}}" score-card="{{scoreCard}}"
                                        criminal-records="{{criminalRecords}}" other-attributes="{{otherAttributes}}" bankruptcy-report-records="{{bankruptcyReportRecords}}"
                                        merchant-notes="{{notes}}" show-content="{{thirdPartyDataLoaded}}"></app-thirdparty-info>
                                </template>
                            </div>
                            <div class="tab-pane" id="cashflowinfo">
                                <template is="dom-if" if="{{thirdPartyDataLoaded}}">
                                    <app-cashflow-info application-number="{{applicationNumber}}" status-code="{{statusCode}}" cashflow-list="{{CashflowList}}"
                                        fire-event="{{getEvents('SelectBank')}}"></app-cashflow-info>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="nav nav-tabs" id="myTab">
                    <template is="dom-if" if="{{hasRole('OffersTab')}}">
                        <li class="active">
                            <a data-target="#offers" title="{{getTooltip('OffersTab')}}" data-toggle="tab">
                                <i aria-hidden="true" class="fa fa-usd"></i>Offers
                            </a>
                        </li>
                    </template>
                    <template is="dom-if" if="{{hasRole('ViewDocumentsTab')}}">
                        <li>
                            <a data-target="#viewdocument" title="{{getTooltip('ViewDocumentsTab')}}" data-toggle="tab">
                                <i aria-hidden="true" class="fa fa-file-o"></i>Documents
                            </a>
                        </li>
                    </template>
                </ul>
                <div class="tab-content top-tabs">
                    <div class="tab-pane active" id="offers" style="padding: 10px 15px 0;">
                        <offers-grid id="offerView" application-number="{{applicationNumber}}"></offers-grid>
                    </div>
                    <div class="tab-pane" id="viewdocument">
                        <doc-view id="docView" application-number="{{applicationNumber}}"></doc-view>
                    </div>
                </div>
            </div>
            <div class="wrapper wrapper-content col-md-4"> </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <alloy-config id="config"></alloy-config>
        <alloy-format id="format"></alloy-format>
        <auth-service id="authorize"></auth-service>
        <lookup-service id="lookup"></lookup-service>
        <utility-service id="utility"></utility-service>
        <session-manager id="session"></session-manager>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "poll-detail",
                properties: {
                    helpObj: {
                        type: Object,
                        notify: true
                    },
                    pollData: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true,
                        observer: "ready"
                    },
                    dataLoaded: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    },
                    applicationNumber: {
                        type: String,
                        notify: true
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true
                    },
                    OptionsResults: {
                        type: Object,
                        notify: true,
                        value: []
                    },
                    propertyTypeLookup: {
                        type: Object,
                        notify: true,
                        value: []
                    },
                    industryTypeLookup: {
                        type: Object,
                        notify: true,
                        value: []
                    },
                    purposeOfLoanTypeLookup: {
                        type: Object,
                        notify: true,
                        value: []
                    },
                    businessTypeLookup: {
                        type: Object,
                        notify: true,
                        value: []
                    },
                    loanPriorityLookup: {
                        type: Object,
                        notify: true,
                        value: []
                    },
                    ancillaryData: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    fundingDataLoaded: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    fundingdata: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    ownerReports: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    },
                    daConfig: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    otherAttributes: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    },
                    lookupRequires: {
                        type: Array,
                        notify: true,
                        value: [
                            {
                                name: 'propertyType',
                                pageVariable: 'propertyTypeLookup'
                            },
                            {
                                name: 'industry',
                                pageVariable: 'industryTypeLookup'
                            },
                            {
                                name: 'purposeOfLoan',
                                pageVariable: 'purposeOfLoanTypeLookup'
                            },
                            {
                                name: 'businessTypes',
                                pageVariable: 'businessTypeLookup'
                            },
                            {
                                name: 'loanTimeFrame',
                                pageVariable: 'loanTimeFrameLookup'
                            },
                            {
                                name: 'loanPriority',
                                pageVariable: 'loanPriorityLookup'
                            }
                        ]
                    }
                },
                ready: function () {
                    var self = this;
                    self.GetPollResult();
                    self.loadLookups();
                    var params = self.$.url.getParams();
                    if (params.hasOwnProperty('entity')) {
                        self.set('currentEntityName', params.entity);
                    }
                    self._onDataAttributesLoad();
                },
                GetPollResult: function () {
                    var self = this;
                    var params = self.$.url.getParams();
                    var url = "/poll/" + params.pollId + "/vote/result";
                    var pollingVoting = window.config.services.pollingVoting;
                    self.$.http.get(url, pollingVoting).then(function (data) {
                        var res = _.transform(data.result, function (result, key, value) {
                            result.push({ id: value, value: key });
                        }, []);
                        self.GetVote(res);
                    }).fail(function (e) {
                        self.GetVote([]);
                        console.log("loadData error is ", e);
                    });
                },
                GetVote: function (res) {
                    var self = this;
                    var finalData = [];
                    $.each(self.pollData.options, function (index, obj) {
                        var output = _.find(res, ["id", obj.id]);
                        var voteOutput = (output != undefined && output != "" ? output.value : 0);
                        finalData.push({
                            Id: obj.id,
                            Title: obj.title,
                            Vote: voteOutput
                        });
                    });
                    self.OptionsResults = finalData;
                },
                _onDataAttributesLoad: function () {
                    var self = this;
                    if (self.pollData) {
                        self.applicationNumber = self.pollData.entityId;
                        var params = self.$.url.getParams();
                        var url = "/application/" + self.applicationNumber + "/all";
                        var dataAttributes = window.config.services.dataAttributes;
                        var keyList = ["plaidCashflow", "experianPersonalReport", "bankruptcyReportRecords", "criminalRecords", "duplicacy"];
                        self.$.http.get(url, dataAttributes).then(function (data) {
                            var mappedData = _.transform(data, function (result, value, key) {
                                if (keyList.indexOf(key) !== -1) {
                                    result[key] = value;
                                }
                                else {
                                    result[key] = value[0];
                                }
                            }, {});
                            self.set('dataAttributes', mappedData);
                            self.set('dataLoaded', true);

                            if (self.dataAttributes.hasOwnProperty('ancillaryData')) {
                                self.set('ancillaryData', self.dataAttributes['ancillaryData']);
                            }
                            if (self.dataAttributes.hasOwnProperty('loan-fundeddata')) {
                                self.set('fundingDataLoaded', true);
                                self.set('fundingdata', self.dataAttributes['loan-fundeddata']);
                            }
                            self.loadDataAttConfig();
                            self.loadCashFlowConfig();
                            self.loadNotesConfig();
                        }).fail(function (e) {
                            console.log("loadDataAttributes error is ", e);
                        });
                    }
                },
                hasRole: function (compName) {
                    return this.$.authorize.hasRole(compName);
                },
                _businessName: function (obj) {
                    var app = obj.application;
                    if (app) {
                        return app.legalBusinessName;
                    }
                },
                Helptext: function (e) {
                    var self = this;
                    var args = e.target.dataArgs;
                    var tooltipObj = self.$.authorize.getToolTip(args, "Status");
                    $("h4.modal-title").text(tooltipObj.title);
                    $('#modalDesc').html(tooltipObj.data);
                    $('#helpTextModal')[0].showModal();
                },
                getEvents: function (action) {
                    var event = this.actionEvents[action];
                    return event;
                },
                date: function (date) {
                    return formats.date(date, window.config.country, false);
                },
                loadLookups: function () {
                    var self = this;
                    self.lookupRequires.forEach(function (lookupObject) {
                        var data = self.$.lookup.getLookupBasedOnName(lookupObject.name);
                        self.set(lookupObject.pageVariable, data);
                    });
                },
                loadDataAttConfig: function () {
                    var self = this;
                    var ownerReports = [];
                    var ownerList = [{ FirstName: "Business Reports", LastName: "", OwnerId: '0' }];
                    var baseConfig = self.$.config.getConfigurationBasedOnKey("data-attribute");
                    var config = baseConfig['application'];
                    var reportConfig = self.$.config.getConfigurationBasedOnKey("report-config");
                    var perReportConfig = self.$.config.getConfigurationBasedOnKey("personal-report-config");
                    var dataAttributes = self.dataAttributes;
                    ownerList = _.union(ownerList, self.dataAttributes.application.owners);
                    _.forEach(ownerList, function (owner) {
                        var cloneConfig = _.cloneDeep(config);
                        cloneConfig.owner = owner;
                        if (owner.OwnerId === '0') {
                            var updatedReports = [];
                            var extractedDataAttr = _.pick(dataAttributes, reportConfig);
                            _.forEach(reportConfig, function (item) {
                                var reportObj = _.find(cloneConfig.reports, ['key', item]);
                                if (!_.isUndefined(reportObj)) {
                                    updatedReports.push(reportObj)
                                }
                            });
                            cloneConfig.reports = updatedReports;
                            ownerReports.push(self._processSingleOwnerData(cloneConfig, extractedDataAttr, owner.OwnerId));
                        } else {
                            var updatedReports = [];
                            _.forEach(perReportConfig, function (item) {
                                var reportObj = _.find(cloneConfig.reports, ['key', item]);
                                if (!_.isUndefined(reportObj)) {
                                    updatedReports.push(reportObj)
                                }
                            });
                            cloneConfig.reports = updatedReports;
                            var extractedDataAttr = _.pick(self.dataAttributes, perReportConfig);
                            var updatedDataAttribute = _.transform(extractedDataAttr, function (result, value, key) {
                                var onwerObj = _.find(value, ['SecondaryName', owner.OwnerId]);
                                result[key] = !_.isUndefined(onwerObj) ? onwerObj : {};
                            }, {});
                            ownerReports.push(self._processSingleOwnerData(cloneConfig, updatedDataAttribute, owner.OwnerId));
                            cloneConfig.criminalRecords = self.loadLexisNexisConfig("criminalReport-details", owner.OwnerId);
                            cloneConfig.bankruptcyReportRecords = self.loadLexisNexisConfig("bankruptcyReport-details", owner.OwnerId);
                        }
                    });
                    self.set('ownerReports', ownerReports);
                    self.set('daConfig', config);
                },
                loadCashFlowConfig: function () {
                    var self = this;
                    var config = self.$.config.getConfigurationBasedOnKey("cashflow-details");
                    self.set('cfConfig', config);
                    var dataAttributes = self.dataAttributes;
                    var allCashflow = _.pickBy(dataAttributes, function (value, key) {
                        return _.startsWith(key, "plaidCashflow");
                    });
                    var reports = _.transform(allCashflow.plaidCashflow, function (result, value, key) {
                        result.push({ accountId: value.AccountID, displayName: 'Cashflow-' + value.InstitutionName, id: 'cfOne-' + key, report: self.getReports(value) });
                    }, []);
                    self.set("CashflowList", reports);
                },
                loadNotesConfig: function () {
                    var self = this;
                    var config = self.$.config.getConfigurationBasedOnKey("merchantNotes");
                    self.set('mNConfig', config);
                    var reports = self.getMNotes();
                    self.set("notes", reports);
                },
                _processSingleOwnerData: function (config, dataAttribute, ownerId) {
                    var self = this;
                    config.reports.forEach(function (report) {
                        var keys = Object.keys(report);
                        var key = keys[0];
                        if (dataAttribute[key]) {
                            report.name = report[key].displayName;
                            report.headerId = key + "header";
                            report.id = key + ownerId;
                            self.processFields(report[key].fields, dataAttribute, key, undefined);
                            report.fields = report[key].fields;
                            report.hasReport = true;
                        } else {
                            report.hasReport = false;
                        }
                    });
                    return config;
                },
                getMNotes: function () {
                    var self = this;
                    var config = self.mNConfig;
                    var responsedata = self.dataAttributes;
                    var baseReport = [];
                    if (responsedata && responsedata != null) {
                        var key = "datamerchReport";
                        if (responsedata.hasOwnProperty(key)) {
                            var notedata = responsedata.datamerchReport.MerchantNotes.Notes;
                            notedata.forEach(function (note) {
                                self.processFields(config.fields, note, "", undefined);
                                baseReport.push(config.fields);
                            });
                        }
                    }
                    self.set('thirdPartyDataLoaded', true);
                    return baseReport;
                },
                processFields: function (fields, data, path, currentSource) {
                    var self = this;
                    fields.forEach(function (field) {
                        var dataVal = null;
                        if (field.type && field.type === "derived") {
                            var dataList = self.extractDataNameFromExpr(field.data);
                            var dataExp = field.data;
                            for (var i = 0; i < dataList.length; i++) {
                                var dataPath = path + "." + dataList[i];
                                if (currentSource === undefined) {
                                    dataVal = self.getDataFromPath(data, dataPath);
                                } else if (currentSource === 'ruleSourceData') {
                                    dataVal = self.getDataFromPathWithSourceData(data, dataPath);
                                }
                                if (self.checkifOnlyDigit(dataVal)) {
                                    if (_.isNaN(parseInt(dataList[i]))) {
                                        if (_.isNaN(parseInt(dataVal))) {
                                            dataExp = dataExp.replace("this['" + dataList[i] + "']", dataVal);
                                        } else {
                                            dataExp = dataExp.replace("this['" + dataList[i] + "']", parseInt(dataVal));
                                        }
                                    }
                                } else {
                                    dataExp = dataExp.replace("this['" + dataList[i] + "']", "'" + dataVal + "'");
                                }
                            }
                            dataVal = eval(dataExp);
                        } else {
                            var dataPath = path + "." + field.data;
                            if (currentSource === undefined) {
                                dataVal = self.getDataFromPath(data, dataPath);
                            } else if (currentSource === 'ruleSourceData') {
                                dataVal = self.getDataFromPathWithSourceData(data, dataPath);
                            }
                        }
                        if (field.data && !_.isNull(dataVal) && dataVal !== '' && !_.isUndefined(dataVal)) {
                            if (field.format) {
                                if (self._checkIfArray(dataVal)) {
                                    field.value = self._processListField(field, dataVal);
                                } else if (self[field.format]) {
                                    if (field.format == "lookup") {
                                        field.value = self[field.format](dataVal, field.lookupname);
                                    } else {
                                        field.value = self[field.format](dataVal);
                                    }
                                }
                            } else {
                                field.value = dataVal;
                            }
                        } else {
                            field.value = "Not available";
                        }
                        if (field.hasOwnProperty('visibleTo')) {
                            field.isVisible = self.$.authorize.IsVisible(field.visibleTo);
                        }
                    });
                },
                extractDataNameFromExpr: function (exp) {
                    return scoring.extractDataNameFromExpr(exp);
                },
                getDataFromPath: function (data, dataPath) {
                    var keyArray = dataPath.split(".");
                    var dataVal = data;
                    keyArray.forEach(function (key) {
                        if (dataVal != undefined && key != "") {
                            dataVal = dataVal[key];
                        }
                    });
                    return dataVal;
                },
                getDataFromPathWithSourceData: function (data, dataPath) {
                    var keyArray = dataPath.split(".");
                    var dataVal = data;
                    keyArray.forEach(function (key) {
                        if (dataVal != undefined && key != "") {
                            dataVal = dataVal[key];
                            if (Array.isArray(dataVal)) {
                                dataVal = dataVal[0];
                            }
                        }
                    });
                    return dataVal;
                },
                checkifOnlyDigit: function (val) {
                    var regexpattern = /^\d+$/;
                    regexpattern.test(val);
                },
                _checkIfArray: function (array) {
                    return Object.prototype.toString.call(array) === '[object Array]';
                },
                _processListField: function (field, array) {
                    var self = this;
                    var temp = "";
                    if (array && array.length <= 0) {
                        return "Not available";
                    }
                    for (var i = 0; i < array.length; i++) {
                        temp = temp + self[field.format](array[i]);
                        if (i === array.length - 1) {
                            return temp;
                        }
                        temp = temp + ",";
                    }
                    return temp;
                },
                loadLexisNexisConfig: function (configName, ownerId) {
                    var self = this;
                    var config = self.$.config.getConfigurationBasedOnKey(configName);
                    self.set(configName, config);
                    var reports = self.getLNReports(configName, ownerId);
                    var Reportdetails = config.base.baseObject;
                    self.set(Reportdetails, reports);
                    return reports;
                },
                getLNReports: function (configName, ownerId) {
                    var self = this;
                    var responsedata = self.dataAttributes;
                    var initConfig = self[configName]['base'];
                    var config = self[configName][initConfig.baseObject];
                    if (responsedata[initConfig.baseObject] && responsedata[initConfig.baseObject] != null) {
                        var dataArry = responsedata[initConfig.baseObject];
                        var newDataArr = [];
                        for (var i = 0; i < dataArry.length; i++) {
                            newDataArr = newDataArr.concat(dataArry[i]);
                        }
                        var obj = _.filter(newDataArr, { SecondaryName: ownerId });
                        responsedata = (newDataArr && newDataArr.length >= 0) ? obj : [{}];
                        var baseReport = [];
                        if (responsedata && responsedata != null) {
                            if (initConfig.baseObjectType == 'Array') {
                                responsedata.forEach(function (rptData) {
                                    var result = self.processreport(config, rptData, self[configName]);
                                    baseReport.push(result);
                                });
                            } else {
                                var result = self.processreport(config, responsedata, self[configName]);
                                baseReport.push(result);
                            }
                        }
                    }
                    return baseReport;
                },
            });
        });
    </script>
</dom-module>