<dom-module id="request-drawdown">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }
        </style>
        <div id="MessageContainer"></div>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="{{formId}}" id="{{formId}}">
                    <dynamic-form form-configuration={{requestedAmountObj}} values="{{requestedAmountObj.values}}"></dynamic-form>
                    <br/>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "request-drawdown",
                properties: {
                    formId: {
                        type: String,
                        notify: true
                    },
                    fireEvent: {
                        type: Object,
                        notify: true,
                        value: {
                            "AppDetailsPageRefresh": true
                        }
                    },
                    requestedAmountObj: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                RequestedAmountRD: {
                                    label: "Requested Amount",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false,
                                        pattern: 'DECIMAL',
                                        minLen: 1,
                                        maxLen: 10
                                    }
                                }
                            },
                            values: {
                                RequestedAmountRD: "0.00"
                            }
                        }
                    }
                },
                _verifyForm: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    var drawdownFilters = window.config.services.drawdownProcessor;
                    var decisionEndPoint = window.config.services.decisionEngine;
                    var params = this.$.url.getParams();
                    if (form.validate()) {
                        var rAmount = self.requestedAmountObj.values.RequestedAmountRD;
                        var decisionUrl = "/drawDownAmountEligibility";
                        var payload = {
                            applicationNumber: params.app,
                            amount: parseFloat(rAmount)
                        };
                        self.$.http.post(decisionUrl, payload, decisionEndPoint, true).then(function (data) {
                            if (data != null && (data.result == false || data.result == 'false')) {
                                self.$.message.showMessage(data.message, "ERROR", self.$.MessageContainer);
                            }
                            else {
                                var payloadDR = {
                                    DrawDownDate: self.formatDate(new Date()),
                                    RequestedAmount: self.requestedAmountObj.values.RequestedAmountRD,
                                    NeedByDate: self.formatDate(new Date()),
                                    LocNumber: params.app
                                };
                                self.$.http.post("", payloadDR, drawdownFilters).then(function (data) {
                                    var strMessage = "Your request for draw is accepted and queued for funding.";
                                    self.$.message.showMessage(strMessage, "SUCCESS", self.$.MessageContainer);
                                    self.raiseAppRefreshEvent();
                                }).fail(function (e) {
                                    var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                                    self.$.message.showMessage(strMessage, "ERROR", self.$.MessageContainer);
                                });
                            }
                        }).fail(function (e) {
                            console.error("application error is ", e);
                        });
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: 'RequestDrawdown',
                        EventData: event,
                        CompnentName: 'request-drawdown'
                    });
                },
                formatDate: function (date) {
                    return moment.tz(date, window.config.timezone).format("YYYY-MM-DD");
                },
                init: function () {

                }
            });
        });
    </script>
</dom-module>