<dom-module id="filter-list">
    <template>
        <style>
            div#queue_wrapper {
                text-align: center;
            }

            .export-button {
                margin: 15px 0 15px auto;
                display: block;
            }
        </style>
        <div class="row" id="filterContainer">
            <div class="col-md-12" id="tableContainer">
                <breadcrumb-links id="breadcrumbLinks"></breadcrumb-links>
                <br>
                <template is="dom-if" if="{{hasRole('ExportApplicationButton')}}">
                    <div class="row">
                        <div class="col-md-12">
                            <button id="Export" on-click="_exportData" class="btn btn-primary activity-action-btn export-button">Export Data</button>
                        </div>
                    </div>
                </template>
                <table id="queue" class="table table-striped" width="100%" cellspacing="0"></table>
            </div>
        </div>
        <url-parser id="urlfli"></url-parser>
        <http-request id="httpfli"></http-request>
        <alloy-format id="formatfli"></alloy-format>
        <alloy-config id="configfli"></alloy-config>
        <auth-service id="authorize"></auth-service>
        <session-manager id="sessionfli"></session-manager>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "filter-list",
                properties: {
                    applicationNumber: {
                        type: String,
                        notify: true
                    },
                    drawDownId: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    partnerId: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    applicantId: {
                        type: String,
                        notify: true
                    },
                    microAppName: {
                        type: String,
                        notify: true
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    },
                    currentFilterName: {
                        type: String,
                        notify: true
                    },
                    tableObj: {
                        type: Object,
                        notify: true,
                        value: {}
                    },
                    searchName: {
                        type: String,
                        notify: true,
                        value: 'Search'
                    },
                    filteredItems: {
                        type: Array,
                        notify: true,
                        value: []
                    }
                },
                hasRole: function (compName) {
                    return this.$.authorize.hasRole(compName);
                },
                attached: function () {
                    window.addEventListener("hashchange", this.createHashChangedHandler());
                    this._loadFilterConfigurations();
                },
                detached: function () {
                    window.removeEventListener("hashchange", this.onHashChanged);
                },
                createHashChangedHandler: function () {
                    this.onHashChanged = function () {
                        var self = this;
                        var currentMicroApp = window.location.hash.slice(2).split("/")[0];
                        if (self.microAppName === currentMicroApp) {
                            self._loadFilterConfigurations();
                            self.$$('#breadcrumbLinks').init();
                        }
                    }.bind(this);
                    return this.onHashChanged;
                },
                _loadFilterConfigurations: function () {
                    var self = this;
                    var urlParams = self.$$('#urlfli').getParams();
                    self.set('microAppName', window.location.hash.slice(2).split("/")[0]);
                    self.set('currentFilterName', urlParams.filter);
                    if (urlParams.hasOwnProperty('entity')) {
                        self.set('currentEntityName', urlParams.entity);
                    }
                    if (self.currentEntityName === "loan") {
                        self.set("searchName", "SearchLoan");
                    }
                    else {
                        self.set("searchName", "Search");
                    }
                    var data = self.$.configfli.getConfigurationBasedOnKey("filters");
                    var config = _.cloneDeep(data[self.currentFilterName]);
                    var columnLength = config.columns.length;
                    for (var i = 0; i < columnLength; i++) {
                        if (config.columns[i].render != undefined) {
                            var render = config.columns[i].render;
                            if (config.columns[i].isFunction) {
                                config.columns[i].render = eval("(" + render + ")");
                            }
                            else {
                                config.columns[i].render = eval(render);
                            }
                        }
                    }
                    self._getFilteredApplicationList(config);
                },
                _checkIfEmptyObject: function (obj) {
                    return Object.keys(obj).length === 0 && obj.constructor === Object;
                },
                _getFilteredApplicationList: function (filterConfig) {
                    var self = this;
                    var table = self.tableObj;
                    var loanFilters = window.config.services.savedFilters;
                    $.fn.dataTable.ext.errMode = 'none';
                    if (!_.isUndefined(table) && !_.isNull(table) && !self._checkIfEmptyObject(table)) {
                        table.clear();
                        table.destroy(true);
                        $('#tableContainer').append($('<table/>').attr('id', 'queue').css('width', '100%').addClass('table table-striped'));
                    }
                    self.tableObj = $('#queue').DataTable({
                        serverSide: true,
                        ajax: function (data, success) {
                            var page = data.start / 10;
                            page = page + 1;
                            var draw = data.draw;
                            var sortObj = _.transform(data.order, function (result, item) {
                                var columnObj = data.columns[item.column];
                                result[columnObj.data] = item.dir === "desc" ? -1 : 1;
                            }, {});
                            var payload = { sorts: sortObj };
                            if (self.currentFilterName === "assigned") {
                                payload.searchFilterView = [{ "Assignees.v": self.$.sessionfli.get("username") }];
                            }
                            if (self.currentFilterName === "unassigned") {
                                payload.searchFilterView = [{ "Assignees.k": { '$nin': JSON.parse(self.$.sessionfli.get("role")) } }];
                            }
                            if (self.currentFilterName === "PollingVoting") {
                                var sha256 = new jsSHA('SHA-256', 'TEXT');
                                sha256.update(self.$.session.get("username"));
                                var hashUser = sha256.getHash("HEX");
                                hashUser = "votes." + hashUser;
                                var keyVal = '{"' + hashUser + '": {"' + "$exists" + '":' + false + '}}';
                                var obj = JSON.parse(keyVal);
                                payload.searchFilterView = [];
                                payload.searchFilterView.push({ "entityType": "application" });
                                payload.searchFilterView.push({ "participants.id": self.$.session.get("username") });
                                payload.searchFilterView.push(obj);
                            }
                            $.ajax({
                                url: loanFilters + '/' + self.currentEntityName + '/' + self.searchName + '/' + self.currentFilterName + '?pageSize=10&page=' + page,
                                type: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify(payload),
                                headers: {
                                    'Authorization': "Bearer " + self.$.sessionfli.get('token')
                                },
                                complete: function (data) {
                                    var totalCount = parseInt(data.getResponseHeader('X-TOTAL-COUNT'));
                                    self.set('filteredItems', data.responseJSON);
                                    self.fire('iron-signal', { name: 'displaytotalcount', data: { totalRecords: data.getResponseHeader('X-TOTAL-COUNT') } });
                                    var gridData = {
                                        "draw": draw,
                                        "recordsTotal": parseInt(data.getResponseHeader('X-TOTAL-COUNT')),
                                        "recordsFiltered": parseInt(data.getResponseHeader('X-TOTAL-COUNT')),
                                        "data": data.responseJSON
                                    }
                                    if (totalCount === 0) {
                                        $('#Export').hide();
                                    }
                                    else if (totalCount > 0) {
                                        $('#Export').show();
                                    }
                                    success(gridData);
                                }
                            });
                        },
                        dom: "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                        columns: filterConfig.columns,
                        columnDefs: filterConfig.columnDefs,
                        order: filterConfig.order,
                        language: {
                            lengthMenu: "show_MENU_ applications",
                            zeroRecords: "No applications found.",
                            info: "Showing _START_ to _END_ of _TOTAL_ applications",
                            infoEmpty: "",
                            infoFiltered: "(filtered from _MAX_ total applications)"
                        }
                    });

                    setTimeout(function () {
                        $('#queue tbody').on('click', 'button', function () {
                            self[this.getAttribute("on-click")]($(this).data());
                        });

                        //Grid header tooltip
                        var configData = $('#queue').dataTable().dataTableSettings[0].aoColumns;
                        $('#queue thead tr')[0].childNodes.forEach(function (obj) {
                            var tooltipObj = _.filter(configData, { title: obj.innerText })
                            if (!_.isUndefined(tooltipObj) && !_.isNull(tooltipObj) && !_.isEmpty(tooltipObj)) {
                                var tooltip = tooltipObj[0].tooltip;
                                if (tooltip !== "" && tooltip !== undefined) {
                                    $(obj).attr('title', tooltip);
                                }
                            }
                        });
                    }, 1000);
                },
                openLoanView: function (rowObj) {
                    var self = this;
                    var appId = rowObj.appid;
                    var appObj = _.find(self.filteredItems, ['ApplicationNumber', appId]);
                    if (appObj) {
                        var url = "/app-details/entity:" + self.currentEntityName + "/filter:" + self.currentFilterName;
                        self.set("statusName", appObj.StatusName);
                        self.set("applicationNumber", appObj.ApplicationNumber);
                        self.set("applicantId", appObj.ApplicantId);
                        if (self.applicantId != null) {
                            url = url + "/app:" + self.applicationNumber + "/applicantId:" + self.applicantId;
                        } else {
                            url = url + "/app:" + self.applicationNumber;
                        }
                        window.location.hash = url;
                    }
                    else {
                        console.error("No data is configured on row object.");
                    }
                },
                currencyFormat: function (value) {
                    return formats.moneyWithoutFraction(value, window.config.country, 0);
                },
                formatDate: function (date) {
                    var dateValue = date;
                    if (!_.isEmpty(dateValue) && _.toNumber(dateValue[0])) {
                        dateValue.DateTime = formats.netTicksToDate(dateValue[0]);
                    }
                    return formats.date(dateValue.DateTime, window.config.country, false);
                },
                _exportData: function () {
                    var self = this;
                    var currentDate = moment.tz(window.config.timezone);
                    var payload = { sorts: { ApplicationNumber: -1 } };
                    var months = self.$.configfli.getConfigurationBasedOnKey("exportRejectMonths");
                    if (self.currentFilterName === "assigned") {
                        payload.searchFilterView = [{ "Assignees.v": self.$.sessionfli.get("username") }];
                    }
                    if (self.currentFilterName === "unassigned") {
                        payload.searchFilterView = [{ "Assignees.k": { '$nin': JSON.parse(self.$.sessionfli.get("role")) } }];
                    }
                    if (self.currentFilterName === "rejected") {
                        var lastDate = currentDate.clone().subtract(months, 'months');
                        payload.searchFilterView = [{ 'Submitted.DateTime': { '$gte': lastDate.toJSON(), '$lt': currentDate.toJSON() } },
                        { 'StatusCode': '200.16' }];
                    }
                    var token = self.$.sessionfli.get("token");
                    var savefilterservice = window.config.services.savedFilters;
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', savefilterservice + "/" + self.currentEntityName + "/ExportData/" + self.currentFilterName);
                    xhr.setRequestHeader('Authorization', "Bearer " + token);
                    xhr.setRequestHeader("content-type", "application/json");
                    xhr.responseType = 'blob';
                    xhr.onload = function (e) {
                        if (this.status == 200) {
                            var blob = new Blob([this.response], {
                                type: this.response.type
                            });
                            var link = document.createElement('a');
                            link.href = window.URL.createObjectURL(blob);
                            link.download = "ExportedData.csv";
                            link.click();
                        }
                    };
                    xhr.onerror = function (e) {
                        console.error("Error " + e.target.status + " occurred while receiving the document.");
                    };
                    xhr.send(JSON.stringify(payload));
                }
            });
        });
    </script>
</dom-module>