<dom-module id="private-layout">
    <template>
        <style>
            #app-shell {
                margin: 0;
                height: 100%;
                width: 100%;
            }

            .loader {
                display: block;
                position: relative;
                top: 45%;
                transform: translateY(-50%);
            }

            .spinner .sk-spinner {
                margin: 0;
                transform: translateX(0) scale(2);
            }

            .config-fail {
                text-align: center;
            }

            .navbar-static-side {
                height: 100%;
            }

            .main-content {
                position: inherit;
                top: 61px;
                bottom: 0;
                right: 0;
                left: 0;
            }

            #page-wrapper {
                padding-top: 15px;
                height: auto !important;
            }
        </style>
        <div id="app-shell">
            <micro-app app-id="navheader"></micro-app>
            <div id="wrapper">
                <micro-app app-id="navigation"></micro-app>
                <div id="page-wrapper" class="gray-bg">
                    <div class="app-host">
                        <micro-app current-app></micro-app>
                    </div>
                </div>
            </div>
        </div>
        <session-timeout></session-timeout>
    </template>
    <script>
        Polymer({
            is: "private-layout"
        });
    </script>
</dom-module>