<dom-module id="loan-modification">
    <template>
        <style>
            .table {
                margin-bottom: 0px !important;
            }

            .prefixSign {
                font: normal normal normal 14px/1 FontAwesome !important;
                font-size: inherit !important;
            }

            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
                --paper-input-container: {
                    padding: 0px 0 !important;
                }
            }

            .modal-dialogLoanMod {
                margin: 10% auto;
                width: 750px !important;
            }

            .headerLoanMod {
                font-size: 12px;
                font-weight: 700;
                color: white;
                background-color: #03466B;
            }

            .set-vertical-height {
                height: 450px;
                overflow-y: auto;
                overflow-x: hidden;
            }

            th.h-center-c-center {
                text-align: center !important;
            }

            td.h-center-c-center {
                text-align: center !important;
            }

            th.h-right-c-right {
                text-align: right !important;
            }

            td.h-right-c-right {
                text-align: right !important;
            }

            .blackBorder {
                border-top: 2px solid #000 !important;
            }

            .margintop {
                margin-top: -10px;
            }

            .header {
                font-size: 12px !important;
                font-weight: 700 !important;
                color: white !important;
                background-color: #03466B !important;
            }

            .textcenter {
                vertical-align: middle;
            }
        </style>
        <custom-modal id="loanModificationModal" class="modal-drop" on-modal-hidden="resetModalloanModification">
            <div>
                <div class="modal-dialogLoanMod">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close closeLoanModification" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Loan Modification</h4>
                            <div id="loanModeMessageContainer"></div>
                        </div>
                        <div class="modal-body set-vertical-height">
                            <div class="row">
                                <table class="table">
                                    <tr>
                                        <th colspan="6" class="header">Outstanding</th>
                                    </tr>
                                    <template is="dom-if" if="{{checkPortfolioType(loanData)}}">
                                        <tr>
                                            <th>Principal</th>
                                            <td>{{formatCurrency(currentEconomicsData.pbot.totalPrincipalOutStanding)}}</td>
                                            <th>Interest</th>
                                            <td>{{formatMoney(currentEconomicsData.pbot.totalInterestOutstanding)}}</td>
                                            <th>Additional Int.</th>
                                            <td>{{formatMoney(currentEconomicsData.pbot.additionalOutStandingInterest)}}</td>
                                        </tr>
                                        <tr>
                                            <th>Fees</th>
                                            <td>{{formatMoney(currentEconomicsData.pbot.totalFeeOutstanding)}}</td>
                                            <th></th>
                                            <td></td>
                                            <th>Total</th>
                                            <td>{{TotalPBOTSum(currentEconomicsData.pbot)}}</td>
                                        </tr>
                                        <tr>
                                            <th colspan="6" class="header">Modification Goal</th>
                                        </tr>
                                        <tr>
                                            <td colspan="6">
                                                <dynamic-form form-configuration={{modGoal}} values="{{modGoal.values}}"></dynamic-form>
                                            </td>
                                        </tr>
                                    </template>
                                    <template is="dom-if" if="{{!checkPortfolioType(loanData)}}">
                                        <tr>
                                            <th>Principal</th>
                                            <td>{{formatCurrency(currentEconomicsData.pbot.totalPrincipalOutStanding)}}</td>
                                            <th>Finance Charge</th>
                                            <td>{{formatMoney(currentEconomicsData.pbot.totalInterestOutstanding)}}</td>
                                            <th>Fees</th>
                                            <td>{{formatMoney(currentEconomicsData.pbot.totalFeeOutstanding)}}</td>
                                        </tr>
                                        <tr>
                                            <th></th>
                                            <td></td>
                                            <th></th>
                                            <td></td>
                                            <th>Total</th>
                                            <td>{{TotalPBOTSum(currentEconomicsData.pbot)}}</td>
                                        </tr>
                                        <tr>
                                            <th colspan="6" class="header">Modification Goal</th>
                                        </tr>
                                        <tr>
                                            <td colspan="6">
                                                <dynamic-form form-configuration={{modGoal}} values="{{modGoal.values}}"></dynamic-form>
                                            </td>
                                        </tr>
                                    </template>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <form is="iron-form" class="form-horizontal" name="loanModForm">
                                        <div class="row" id="FPFCMCA" style="display:none;">
                                            <table class="table">
                                                <tr style="height:10px">
                                                    <th class="textcenter">Principal to recover</th>
                                                    <td>
                                                        <paper-input no-label-float required class="custom-input" required type="text" value="{{lmLoanAmount}}" name="lmLoanAmountFPFCMCA"
                                                            id="lmLoanAmountFPFCMCA" label="Principal to recover" pattern="^[0-9]+(.[0-9]{0,2})?$">
                                                            <div prefix class$="{{getCurrencySymbol()}}"></div>
                                                        </paper-input>
                                                    </td>
                                                    <th class="textcenter">Payment Frequency</th>
                                                    <td>
                                                        <vaadin-combo-box no-label-float class="custom-input margintop" name="lmPaymentFrequencyFPFCMCA" value="{{lmPaymentFrequencyId}}"
                                                            item-value-path="key" item-label-path="value" items="{{lmPaymentFrequency}}"
                                                            required label="Payment Frequency" prevent-invalid-input="true" on-change="_onPaymentTermChange"></vaadin-combo-box>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="textcenter">Apply Factor Rate</th>
                                                    <td>
                                                        <paper-input no-label-float required class="custom-input margintop" required type="text" value="{{lmCommonRate}}" name="lmCommonRateFPFCMCA"
                                                            id="lmCommonRateFPFCMCA" label="Apply Factor Rate" pattern="^[0-9]+(.[0-9]{0,2})?$"
                                                            on-blur="calculateMCAFinanceCharge"></paper-input>
                                                    </td>
                                                    <th class="textcenter">No of Payments</th>
                                                    <td>
                                                        <paper-input no-label-float required class="custom-input margintop" required type="text" value="{{lmPaymentsRemaining}}"
                                                            name="paymentsRemainingFPFCMCA" id="paymentsRemainingFPFCMCA" label="No of Payments"></paper-input>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="textcenter">Finance Charge</th>
                                                    <td>
                                                        <paper-input no-label-float required class="custom-input" required type="text" value="{{lmLoanInterest}}" name="lminterestFPFCMCA"
                                                            id="lminterestFPFCMCA" label="Finance Charge" pattern="^[0-9]+(.[0-9]{0,2})?$">
                                                            <div prefix class$="{{getCurrencySymbol()}}"></div>
                                                        </paper-input>
                                                    </td>
                                                    <th class="textcenter">Start Date</th>
                                                    <td colspan="2">
                                                        <vaadin-date-picker no-label-float noLabelFloat required class="custom-input" id="lmStartDate" i18n="[[i18n]]" label="Start Date"
                                                            min="{{startDate}}" format="{{_getFormat(item.value)}}" value="{{lmStartDate}}"></vaadin-date-picker>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="row" id="FPAMCA" style="display:none;">
                                            <table class="table">
                                                <tr>
                                                    <th class="textcenter">Payment Amount</th>
                                                    <td>
                                                        <paper-input no-label-float required class="custom-input margintop" required type="text" value="{{lmLoanAmount}}" name="lmLoanAmountFPAMCA"
                                                            id="lmLoanAmountFPAMCA" label="Payment Amount" pattern="^[0-9]+(.[0-9]{0,2})?$">
                                                            <div prefix class$="{{getCurrencySymbol()}}"></div>
                                                        </paper-input>
                                                    </td>
                                                    <th class="textcenter">Finance Charge</th>
                                                    <td>
                                                        <paper-input no-label-float required class="custom-input margintop" required type="text" value="{{lmLoanInterest}}" name="lminterestFPAMCA"
                                                            id="lminterestFPAMCA" label="Finance Charge" pattern="^[0-9]+(.[0-9]{0,2})?$">
                                                            <div prefix class$="{{getCurrencySymbol()}}"></div>
                                                        </paper-input>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="textcenter">Payment Frequency</th>
                                                    <td>
                                                        <vaadin-combo-box no-label-float class="custom-input margintop" name="lmPaymentFrequencyFPAMCA" value="{{lmPaymentFrequencyId}}"
                                                            item-value-path="key" item-label-path="value" items="{{lmPaymentFrequency}}"
                                                            required label="Payment Frequency" prevent-invalid-input="true"></vaadin-combo-box>
                                                    </td>
                                                    <th></th>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <th class="textcenter">No of Payments</th>
                                                    <td>
                                                        <paper-input no-label-float required class="custom-input" required type="text" value="{{lmPaymentsRemaining}}" name="paymentsRemainingFPAMCA"
                                                            id="paymentsRemainingFPAMCA" label="No of Payments"></paper-input>
                                                    </td>
                                                    <th class="textcenter">Start Date</th>
                                                    <td>
                                                        <vaadin-date-picker no-label-float required class="custom-input" id="lmStartDateFPAMCA" i18n="[[i18n]]" label="Start Date"
                                                            min="{{startDate}}" format="{{_getFormat(item.value)}}" value="{{lmStartDate}}"></vaadin-date-picker>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="row" id="FPITERM" style="display:none;">
                                            <table class="table">
                                                <tr>
                                                    <th>Principal to recover</th>
                                                    <td>
                                                        <paper-input no-label-float required class="custom-input" required type="text" value="{{lmLoanAmount}}" name="lmLoanAmountFPITERM"
                                                            id="lmLoanAmountFPITERM" label="Principal to recover" pattern="^[0-9]+(.[0-9]{0,2})?$">
                                                            <div prefix class$="{{getCurrencySymbol()}}"></div>
                                                        </paper-input>
                                                    </td>
                                                    <th>Payment Frequency</th>
                                                    <td>
                                                        <vaadin-combo-box no-label-float class="custom-input" name="lmPaymentFrequencyFPITERM" value="{{lmPaymentFrequencyId}}" item-value-path="key"
                                                            item-label-path="value" items="{{lmPaymentFrequency}}" required label="Payment Frequency"
                                                            prevent-invalid-input="true"></vaadin-combo-box>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Apply Interest at</th>
                                                    <td>
                                                        <paper-input no-label-float required class="custom-input" required type="text" value="{{lmCommonRate}}" name="lmCommonRateFPITERM"
                                                            id="lmCommonRateFPITERM" label="Apply Interest at" pattern="^[0-9]+(.[0-9]{0,2})?$"></paper-input>
                                                    </td>
                                                    <th>No of Payments</th>
                                                    <td>
                                                        <paper-input no-label-float required class="custom-input" required type="text" value="{{lmPaymentsRemaining}}" name="paymentsRemainingFPITERM"
                                                            id="paymentsRemainingFPITERM" label="No of Payments"></paper-input>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Interest to recover</th>
                                                    <td>
                                                        <paper-input no-label-float required class="custom-input" required type="text" value="{{lmLoanInterest}}" name="lminterestFPFCMCA"
                                                            id="lminterestFPFCMCA" label="Interest to recover" pattern="^[0-9]+(.[0-9]{0,2})?$">
                                                            <div prefix class$="{{getCurrencySymbol()}}"></div>
                                                        </paper-input>
                                                    </td>
                                                    <th>Recover Interest on</th>
                                                    <td>
                                                        <vaadin-combo-box no-label-float class="custom-input" name="lmIntRecoverFPITERM" value="{{lmIntRecoverId}}" item-value-path="key"
                                                            item-label-path="value" items="{{lmIntRecover}}" label="Recover Interest"
                                                            prevent-invalid-input="true"></vaadin-combo-box>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Start Date</th>
                                                    <td>
                                                        <vaadin-date-picker no-label-float required class="custom-input" id="lmStartDateFPITERM" i18n="[[i18n]]" label="Start Date"
                                                            min="{{startDate}}" format="{{_getFormat(item.value)}}" value="{{lmStartDate}}"></vaadin-date-picker>
                                                    </td>
                                                    <th></th>
                                                    <td></td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="row" id="FPATERM" style="display:none;">
                                            <table class="table">
                                                <tr>
                                                    <th>Payment Amount</th>
                                                    <td>
                                                        <paper-input no-label-float required class="custom-input" required type="text" value="{{lmLoanAmount}}" name="lmLoanAmountFPATERM"
                                                            id="lmLoanAmountFPATERM" label="Payment Amount" pattern="^[0-9]+(.[0-9]{0,2})?$">
                                                            <div prefix class$="{{getCurrencySymbol()}}"></div>
                                                        </paper-input>
                                                    </td>
                                                    <th>Interest rate</th>
                                                    <td>
                                                        <paper-input no-label-float required class="custom-input" required type="text" value="{{lmCommonRate}}" name="lmCommonRateFPATERM"
                                                            id="lmCommonRateFPATERM" label="Interest rate" pattern="^[0-9]+(.[0-9]{0,2})?$"></paper-input>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Payment Frequency</th>
                                                    <td>
                                                        <vaadin-combo-box no-label-float class="custom-input" name="lmPaymentFrequencyFPATERM" value="{{lmPaymentFrequencyId}}" item-value-path="key"
                                                            item-label-path="value" items="{{lmPaymentFrequency}}" required label="Payment Frequency"
                                                            prevent-invalid-input="true"></vaadin-combo-box>
                                                    </td>
                                                    <th></th>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <th>No of Payments</th>
                                                    <td>
                                                        <paper-input no-label-float required class="custom-input" required type="text" value="{{lmPaymentsRemaining}}" name="paymentsRemainingFPATERM"
                                                            id="paymentsRemainingFPATERM" label="No of Payments"></paper-input>
                                                    </td>
                                                    <th>Start Date</th>
                                                    <td>
                                                        <vaadin-date-picker no-label-float required class="custom-input" id="lmStartDateFPATERM" i18n="[[i18n]]" label="Start Date"
                                                            min="{{startDate}}" format="{{_getFormat(item.value)}}" value="{{lmStartDate}}"></vaadin-date-picker>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div id="customPaymentTerm" style="display:none;">
                                            <tr>
                                                <td colspan="3">
                                                    <div class="row pull-right ">
                                                        <div class="col-md-12 ">
                                                            <paper-icon-button title="Add More Field" on-click="_addNewRow" icon="add"></paper-icon-button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <template is="dom-repeat" items="{{streamArray}}" index-as="indx" as="fieldArray">
                                                                <div>
                                                                    <dynamic-form form-configuration={{fieldArray}} values="{{fieldArray.values}}"></dynamic-form>
                                                                </div>
                                                            </template>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </div>
                                        <div id="btnViewScheduleLoanMod">
                                            <paper-button id="btnViewSchedule" class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Generate Schedule</paper-button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row ">
                                <div id="divLoanModSchedule" style="display:none;">
                                    <br>
                                    <table id="lmSchedule" class="table">
                                        <tr>
                                            <th colspan="4" class="headerLoanMod">Modified Schedule</th>
                                        </tr>
                                        <tr>
                                            <td colspan="6">
                                                <table id="queueLoanModSchedule" class="table table-striped" width="100%" cellspacing="0"></table>
                                            </td>
                                        </tr>
                                    </table>
                                    <form is="iron-form" class="form-horizontal" name="submitloanModForm">
                                        <div class="row">
                                            <div class="panel-left col-md-4">
                                                <vaadin-combo-box class="custom-input" name="lmstageofcollection" value="{{stageofcollectionId}}" item-value-path="key" item-label-path="value"
                                                    items="{{stageofcollection}}" required label="Current Collection Stage" prevent-invalid-input="true"></vaadin-combo-box>
                                            </div>
                                            <div class="panel-left col-md-4">
                                                <vaadin-combo-box class="custom-input" name="lmmissedPayment" value="{{missedPaymentId}}" item-value-path="key" item-label-path="value"
                                                    items="{{missedPayment}}" required label="# of Missed Payments for Escalation"
                                                    prevent-invalid-input="true"></vaadin-combo-box>
                                            </div>
                                            <div class="panel-left col-md-4">
                                                <vaadin-combo-box class="custom-input" name="lmnextEscalationStage" value="{{nextEscalationStageId}}" item-value-path="key"
                                                    item-label-path="value" items="{{nextEscalationStage}}" required label="Next Collection Stage"
                                                    prevent-invalid-input="true"></vaadin-combo-box>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="panel-left col-md-4">
                                                <vaadin-combo-box class="custom-input" name="lmmodReason" value="{{modReasonId}}" item-value-path="key" item-label-path="value"
                                                    items="{{modReason}}" required label="Mod Reason" prevent-invalid-input="true"></vaadin-combo-box>
                                            </div>
                                            <div class="panel-left col-md-4">
                                                <vaadin-date-picker class="custom-input" id="lmactivationDate" i18n="[[i18n]]" label="Activation Date" max="{{maxActivationDate}}"
                                                    format="{{_getFormat(item.value)}}" value="{{activationDate}}"></vaadin-date-picker>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="panel-left col-md-12">
                                                <paper-input class="custom-input" type="text" value="{{notes}}" name="notes" id="lmNotes" label="Notes"></paper-input>
                                            </div>
                                        </div>
                                        <div id="divLoanModScheduleSelection" style="display:none;">
                                            <br>
                                            <table id="lmSchedule" class="table">
                                                <thead>
                                                    <tr>
                                                        <th colspan="6" class="headerLoanMod">Outstanding Post Modification</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th>Principal Outstanding</th>
                                                        <td>{{ formatCurrency(loanModScheduleRemainder.remainderDetails.remainderPrincipal)
                                                            }}
                                                        </td>
                                                        <template is="dom-if" if="{{!checkPortfolioType(loanData)}}">
                                                            <th>Finance Charge Outstanding</th>
                                                        </template>
                                                        <template is="dom-if" if="{{checkPortfolioType(loanData)}}">
                                                            <th>Interest Outstanding</th>
                                                        </template>
                                                        <td>{{ formatCurrency(loanModScheduleRemainder.remainderDetails.remainderInterest)
                                                            }}
                                                        </td>
                                                        <th>Fees Outstanding</th>
                                                        <td>{{ formatCurrency(loanModScheduleRemainder.remainderDetails.remainderFee)
                                                            }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Total Remainder</th>
                                                        <td>{{ formatCurrency(loanModScheduleRemainder.remainderDetails.remainderAmount)
                                                            }}
                                                        </td>
                                                        <th>As of Date</th>
                                                        <td>{{ displayFormatDate(loanModScheduleRemainder.remainderDetails.asOfDate)
                                                            }}
                                                        </td>
                                                        <th></th>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <br>
                                        <br>
                                        <div id="divInititateSchedule" style="display:none;">
                                            <paper-button class="btn btn-primary activity-action-btn" id="submitSchedule" on-click="_submitSchedule" raised>Save Schedule</paper-button>
                                            <paper-button class="btn btn-primary activity-action-btn" id="closeModalinit" on-click="_closeModal" raised>Close</paper-button>
                                        </div>
                                        <div id="divInititateScheduleSave" style="display:none;">
                                            <paper-button class="btn btn-primary activity-action-btn" id="saveSchedule" on-click="_saveSchedule" raised>Save</paper-button>
                                            <template is="dom-if" if="{{hasReviewApproveAccess(hasAccess,approvalLBL,'Review')}}">
                                                <paper-button class="btn btn-primary activity-action-btn" id="saveReview" on-click="_saveReviewSchedule" raised>Save & Review</paper-button>
                                            </template>
                                            <template is="dom-if" if="{{hasReviewApproveAccess(hasAccess,approvalLBL,'Approve')}}">
                                                <paper-button class="btn btn-primary activity-action-btn" id="SaveandApprove" on-click="_saveApproveSchedule" raised>Save & Approve</paper-button>
                                                <paper-button class="btn btn-primary activity-action-btn" id="rejectBtn" on-click="_reject" raised>Reject</paper-button>
                                            </template>
                                            <template is="dom-if" if="{{checkStatusLoanMod(currentScheduleLoanMod,activateLoanMod,approvalLBL)}}">
                                                <paper-button class="btn btn-primary activity-action-btn" id="ActivateSchedule" data-arg="{{currentScheduleLoanMod.id}}"
                                                    on-click="_activateSchedule" raised>Activate</paper-button>
                                            </template>
                                            <paper-button class="btn btn-primary activity-action-btn" id="closeModaldfsd" on-click="_closeModal" raised>Close</paper-button>
                                        </div>
                                    </form>
                                </div>
                                <div id="divCloseModal" style="display:none;">
                                    <paper-button class="btn btn-primary activity-action-btn" id="closeModal" on-click="_closeModal" raised>Close</paper-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>
        <url-parser id="urlloand"></url-parser>
        <http-request id="httploand"></http-request>
        <lookup-service id="lookuploand"></lookup-service>
        <utility-service id="utilityloand"></utility-service>
        <message-component id="messageloand"></message-component>
        <alloy-config id="configloanmod"></alloy-config>
        <auth-service id="authorizeloancd"></auth-service>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "loan-modification",
                properties: {
                    currentScheduleLoanMod: {
                        type: Object,
                        notify: true
                    },
                    isEdit: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },
                    approvalLBL: {
                        type: String,
                        notify: true
                    },
                    statusObj: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true,
                        observer: 'loadInititedSubworkInfo'
                    },
                    hasAccess: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        reflectToAttribute: true
                    },
                    loanModId: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true,
                        observer: "editLoanModVersion"
                    },
                    modGoal: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                goal: {
                                    label: "",
                                    type: "radiogroup",
                                    radioList: []
                                }
                            },
                            values: {
                                goal: ""
                            }
                        }
                    },
                    tableObj: {
                        type: Object,
                        notify: false
                    },
                    startDate: {
                        type: Date,
                        notify: true
                    },
                    activationDate: {
                        type: Date,
                        notify: true
                    },
                    maxActivationDate: {
                        type: Date,
                        notify: true
                    },
                    notes: {
                        type: String,
                        notify: true
                    },
                    streamArray: {
                        type: Array,
                        notify: true,
                        value: [],
                        reflectToAttribute: true
                    },
                    currentSchedule: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true,
                        observer: "setLoanModPBOTValue"
                    },
                    currentEconomicsData: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true,
                        observer: "setLoanModPBOTValue"
                    },
                    loanData: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true,
                        observer: "init"
                    },
                    applicationNumber: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true
                    },
                    lmTerm: {
                        type: String,
                        notify: true
                    },
                    lmFactorRate: {
                        type: String,
                        notify: true
                    },
                    lmAnnualRate: {
                        type: String,
                        notify: true
                    },
                    lmCommonRate: {
                        type: String,
                        notify: true
                    },
                    intLabel: {
                        type: String,
                        notify: true
                    },
                    plmPaymentsRemaining: {
                        type: String,
                        notify: true
                    },
                    lmPaymentsRemaining: {
                        type: String,
                        notify: true
                    },
                    lmLoanAmount: {
                        type: String,
                        notify: true
                    },
                    lmLoanInterest: {
                        type: String,
                        notify: true
                    },
                    lmPaymentFrequency: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    lmPaymentFrequencyId: {
                        type: String,
                        notify: true
                    },
                    lmIntRecover: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    lmIntRecoverId: {
                        type: String,
                        notify: true
                    },
                    modifiedSchedule: {
                        type: Array,
                        notify: true,
                        reflectToAttribute: true,
                        observer: "setremTermData"
                    },
                    lmStartDate: {
                        type: Date,
                        notify: true,
                        observer: "setActivationDate"
                    },
                    loanModSchedule: {
                        type: Array,
                        notify: true
                    },
                    loanModScheduleRemainder: {
                        type: Object,
                        notify: true
                    },
                    loanModification: {
                        type: String,
                        notify: true,
                        reflectToAttribute: true,
                        observer: "_openLoanModificationModal"
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'loan'
                    },
                    scheduleRequest: {
                        type: Object,
                        notify: true
                    },
                    scheduleList: {
                        type: Array,
                        notify: true,
                        reflectToAttribute: true
                    },
                    modReason: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    modReasonId: {
                        type: String,
                        notify: true
                    },
                    missedPayment: {
                        type: Array,
                        notify: true,
                        value: [{ key: '1', value: '1' },
                        { key: '2', value: '2' },
                        { key: '3', value: '3' },
                        { key: '4', value: '4' },
                        { key: '5', value: '5' },
                        { key: '6', value: '6' },
                        { key: '7', value: '7' },
                        { key: '8', value: '8' },
                        { key: '9', value: '9' },
                        { key: '10', value: '10' }]
                    },
                    missedPaymentId: {
                        type: String,
                        notify: true
                    },
                    stageofcollection: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    stageofcollectionId: {
                        type: String,
                        notify: true
                    },
                    nextEscalationStage: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    nextEscalationStageId: {
                        type: String,
                        notify: true
                    },
                    ptmStream: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                PaymentFrequency: {
                                    label: "Payment Frequency",
                                    type: "combobox",
                                    class: "threeColumn",
                                    selectList: [],
                                    labelKey: "value",
                                    labelValue: "value",
                                    validations: {
                                        required: true
                                    }
                                },
                                RepayablePercent: {
                                    label: "Repayable Percent",
                                    type: "number",
                                    class: "threeColumn",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                },
                                NoOfPayments: {
                                    label: "# of Payments",
                                    type: "number",
                                    class: "threeColumn",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: true,
                                        minLen: 1,
                                        maxLen: 64
                                    }
                                }
                            },
                            values: {
                                PaymentFrequency: "",
                                RepayablePercent: "",
                                NoOfPayments: ""
                            }
                        }
                    }
                },
                observers: [
                    '_GoalChanged(modGoal.values.goal)'
                ],
                _openLoanModificationModal: function (obj) {
                    var self = this;
                    if (obj === "Change") {
                        self.$$('#loanModificationModal').showModal();
                    }
                },
                _GoalChanged: function (objGoal) {
                    var self = this;
                    if (objGoal === undefined && objGoal === "") {
                        $("#FPFCMCA").hide();
                        $("#FPAMCA").hide();
                        $("#FPITERM").hide();
                        $("#FPATERM").hide();
                    }
                    else if (objGoal === "Fixed Principal and Finance Charge") {
                        $("#FPFCMCA").show();
                        $("#FPAMCA").hide();
                        $("#FPITERM").hide();
                        $("#FPATERM").hide();

                    }
                    else if (objGoal === "Fixed Principal and Interest") {
                        $("#FPFCMCA").hide();
                        $("#FPAMCA").hide();
                        $("#FPITERM").show();

                        $("#FPATERM").hide();
                    }
                    else if (objGoal === "Fixed Payment Amount") {
                        if (self.isEdit === false) {
                            self.set("lmLoanAmount", "");
                        }
                        if (self.checkPortfolioType(self.loanData) === false) {
                            $("#FPFCMCA").hide();
                            $("#FPAMCA").show();
                            $("#FPITERM").hide();
                            $("#FPATERM").hide();
                        }
                        else {
                            $("#FPFCMCA").hide();
                            $("#FPAMCA").hide();
                            $("#FPITERM").hide();
                            $("#FPATERM").show();
                        }
                    }
                },
                init: function () {
                    var self = this;
                    var params = self.$.urlloand.getParams();
                    if (params.hasOwnProperty('entity')) {
                        self.set('currentEntityName', params.entity);
                    }
                    self.set('applicationNumber', params.loanId);
                    var allGoal = [
                        { key: "Fixed Principal and Interest", value: "Fixed Principal and Interest" },
                        { key: "Fixed Payment Amount", value: "Fixed Payment Amount" }
                    ];
                    if (self.checkPortfolioType(self.loanData) === false) {
                        allGoal = [
                            { key: "Fixed Principal and Finance Charge", value: "Fixed Principal and Finance Charge" },
                            { key: "Fixed Payment Amount", value: "Fixed Payment Amount" }
                        ];
                    }
                    var modGoal = _.cloneDeep(self.modGoal);
                    modGoal.controls.goal.radioList = allGoal;
                    modGoal.values.goal = "";
                    self.set('modGoal', modGoal);
                },
                ready: function () {
                    var self = this;
                    var collectionStages = this.$.lookuploand.getLookupBasedOnName("collectionStages");
                    var modReasons = this.$.lookuploand.getLookupBasedOnName("modReasons");
                    var frequencytype = this.$.lookuploand.getLookupBasedOnName("frequency-type");
                    var frequencytypeForm = this.$.lookuploand.getLookupBasedOnName("frequency-type");
                    var recoverInterest = this.$.lookuploand.getLookupBasedOnName("recover-interest");
                    self.modReason = modReasons;
                    self.stageofcollection = collectionStages;
                    self.nextEscalationStage = collectionStages;
                    var ptmStream = _.cloneDeep(self.get('ptmStream'));
                    ptmStream.controls.PaymentFrequency.selectList = frequencytype;
                    self.set('ptmStream', ptmStream);
                    frequencytypeForm.push({ key: "Custom", value: "Custom", entity: "frequency-type" });
                    self.set("lmPaymentFrequency", frequencytypeForm);
                    self.set("lmIntRecover", recoverInterest);
                },
                checkPortfolioType: function (objType) {
                    var self = this;
                    if (self.loanData && self.loanData.productPortfolioType != "MCA" && self.loanData.productPortfolioType != "MCALOC") {
                        return true;
                    }
                    return false;
                },
                formatCurrency: function (data) {
                    return formats.money(data, window.config.country, 0);
                },
                _twoDecimal: function (objNumber) {
                    var self = this;
                    if (objNumber != undefined && objNumber != null && objNumber != "") {
                        return parseFloat(objNumber).toFixed(2);
                    }
                    return parseFloat(0).toFixed(2);
                },
                checkTotal: function () {
                    var self = this;
                    if (self.lmPaymentFrequencyId === "Custom") {
                        var percentage = 0;
                        var term = 0;
                        self.streamArray.forEach(function (obj) {
                            percentage = percentage + parseInt(obj.values.RepayablePercent);
                            term = term + parseInt(obj.values.NoOfPayments);
                        });
                        if (parseInt(percentage) === 100 && term === parseInt(self.lmPaymentsRemaining)) {
                            return true;
                        }
                        else {
                            return false;
                        }
                    }
                    else {
                        return true;
                    }
                },
                _verifyForm: function (e) {
                    e.preventDefault();
                    var self = this;
                    var modGoal = _.cloneDeep(self.modGoal);
                    var form = Polymer.dom(e).localTarget.parentElement.parentElement;
                    if (form.validate()) {
                        if (self.checkTotal() === true) {
                            var url = "/" + self.applicationNumber + "/loanmods";
                            var payload = {};
                            payload.ScheduleStartDate = self.formatDate(self.lmStartDate);
                            payload.Term = parseInt(self.lmPaymentsRemaining);
                            payload.PaymentFrequency = self.lmPaymentFrequencyId;
                            if (modGoal.values.goal === "Fixed Payment Amount") {
                                payload.InterestAdjustmentType = "None";
                                payload.LoanAmount = 0;
                                payload.PaymentAmount = parseFloat(self.lmLoanAmount);
                                if (!self.checkPortfolioType(self.loanData)) {
                                    payload.FactorRate = 0.0;
                                    payload.AnnualRate = 0.0;
                                    payload.FinanceCharge = self.lmLoanInterest;
                                }
                                else {
                                    payload.InterestToRecover = self.lmLoanInterest;
                                    payload.FactorRate = 0.0;
                                    payload.AnnualRate = self.lmCommonRate;
                                }
                            }
                            else {
                                payload.InterestAdjustmentType = self.lmIntRecoverId;
                                payload.LoanAmount = parseFloat(self.lmLoanAmount);
                                payload.PaymentAmount = 0;
                                if (!self.checkPortfolioType(self.loanData)) {
                                    payload.FinanceCharge = self.lmLoanInterest;
                                    payload.FactorRate = 0.0;
                                    payload.AnnualRate = 0.0;
                                }
                                else {
                                    payload.FactorRate = 0.0;
                                    payload.AnnualRate = self.lmCommonRate;
                                    payload.InterestToRecover = self.lmLoanInterest;
                                }
                            }
                            if (modGoal.values.goal === "Fixed Principal and Finance Charge" || modGoal.values.goal === "Fixed Principal and Interest") {
                                payload.LoanModType = "FixedPrincipal";
                            }
                            else {
                                payload.LoanModType = "FixedPayment";
                            }
                            if (self.lmPaymentFrequencyId === "Custom") {
                                payload.PaymentStreams = [];
                                var tmp = [];
                                var streamArray = _.cloneDeep(self.streamArray);
                                self.streamArray.forEach(function (obj) {
                                    tmp.push(obj.values);
                                });
                                payload.PaymentStreams = tmp;
                            }
                            else {
                                payload.PaymentStreams = null;
                            }
                            self.set("scheduleRequest", payload);
                            var pbotInt = self.currentEconomicsData.pbot.totalInterestOutstanding;
                            if ((self.checkPortfolioType(self.loanData) === false) && (self.lmLoanInterest > pbotInt)) {
                                self.$.messageloand.showMessage("Finance Charge cannot be more than Outstanding finance charge.", "ERROR", self.$$('#loanModeMessageContainer'));
                                return;
                            }
                            self.$.httploand.post(url, payload, window.config.services.lmsService).then(function (data) {
                                if (data) {
                                    self.setTableData(data);
                                    self.set('loanModSchedule', data);
                                    $("#divLoanModSchedule").show();
                                    if (self.loanModId === undefined || self.loanModId === "") {
                                        $("#divInititateSchedule").show();
                                    }
                                    self.$.messageloand.showMessage("Loan schedule generated successfully.", "SUCCESS", self.$$('#loanModeMessageContainer'));
                                }
                            }).fail(function (e) {
                                self.setTableData([]);
                                self.$.messageloand.showMessage(e.responseJSON.message, "ERROR", self.$$('#loanModeMessageContainer'));
                                console.error("Get loan mod schedule error is ", e);
                            });
                        }
                        else {
                            self.$.messageloand.showMessage("Repayable percentage or No of payment not matching", "ERROR", self.$$('#loanModeMessageContainer'));
                        }
                    }
                },
                setTableData: function (objData) {
                    var self = this, table;
                    var data = self.$.configloanmod.getConfigurationBasedOnKey("filters");
                    var LoanModScheduleObj = _.cloneDeep(data["LoanModSchedule"]);
                    if (self.checkPortfolioType(self.loanData) === false) {
                        LoanModScheduleObj.columns[4].title = "Finance Charge";
                        LoanModScheduleObj.columns[4].tooltip = "Finance Charge";
                    }
                    var columnLength = LoanModScheduleObj.columns.length;
                    for (var i = 0; i < columnLength; i++) {
                        if (LoanModScheduleObj.columns[i].render != undefined) {
                            var render = LoanModScheduleObj.columns[i].render;
                            if (LoanModScheduleObj.columns[i].isFunction) {
                                LoanModScheduleObj.columns[i].render = eval("(" + render + ")");
                            }
                            else {
                                LoanModScheduleObj.columns[i].render = eval(render);
                            }
                        }
                    }
                    if (LoanModScheduleObj !== undefined && LoanModScheduleObj !== "") {
                        table = self.tableObj;
                        if (table !== null && table !== undefined) {
                            table.clear();
                            table.destroy();
                        }
                        table = self.tableObj = $(self.$$('#queueLoanModSchedule')).DataTable({
                            dom: "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                            data: objData,
                            columns: LoanModScheduleObj.columns,
                            columnDefs: LoanModScheduleObj.columnDefs,
                            order: LoanModScheduleObj.order,
                            language: {
                                lengthMenu: "show_MENU_ Schedule",
                                zeroRecords: "No Data found.",
                                info: "Showing _START_ to _END_ of _TOTAL_ Schedule",
                                infoEmpty: "No Schedule available",
                                infoFiltered: "(filtered from _MAX_ total Schedule)"
                            }
                        });
                    }
                },
                _submitSchedule: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement.parentElement;
                    if (form.validate()) {
                        var url = "/" + self.applicationNumber + "/loanmods/select";
                        var payload = {};
                        payload.ActivationDate = (self.activationDate !== undefined && self.activationDate != "") ? self.formatDate(self.activationDate) : null;
                        payload.LoanModificationRequest = self.scheduleRequest;
                        payload.LoanScheduleDetails = self.loanModSchedule;
                        payload.ScheduledCreatedReason = "loanmod";
                        payload.ModReason = self.modReasonId;
                        payload.ScheduleNotes = self.notes;
                        payload.CollectionStage = self.stageofcollectionId;
                        payload.PaymentFailure = self.missedPaymentId;
                        payload.NextEscalationStage = self.nextEscalationStageId;
                        self.$.httploand.post(url, payload, window.config.services.lmsService).then(function (data) {
                            if (data) {
                                $("btnViewScheduleLoanMod").hide();
                                self.set('loanModScheduleRemainder', data);
                                $("#divLoanModSchedule").show();
                                $("#divLoanModScheduleSelection").show();
                                $("#divInititateScheduleSave").show();
                                $("#divInititateSchedule").hide();
                                self._initiatLoanModSubWorkflow(e);
                                self.set("loanModId", data.id);
                                self.$.messageloand.showMessage("Loan schedule selected successfully.", "SUCCESS", self.$$('#loanModeMessageContainer'));
                            }
                        }).fail(function (e) {
                            self.$.messageloand.showMessage(e.responseJSON.message, "ERROR", self.$$('#loanModeMessageContainer'));
                        });
                    }
                },
                _onlySave: function (e, action) {
                    var self = this;
                    var url = "/" + self.applicationNumber + "/loanmods/update/" + self.loanModId;
                    var payload = {};
                    payload.ActivationDate = (self.activationDate !== undefined && self.activationDate != "") ? self.formatDate(self.activationDate) : null;
                    payload.LoanModificationRequest = self.scheduleRequest;
                    payload.LoanScheduleDetails = self.loanModSchedule;
                    payload.ScheduledCreatedReason = "loanmod";
                    payload.ModReason = self.modReasonId;
                    payload.ScheduleNotes = self.notes;
                    payload.CollectionStage = self.stageofcollectionId;
                    payload.PaymentFailure = self.missedPaymentId;
                    payload.NextEscalationStage = self.nextEscalationStageId;
                    self.$.httploand.put(url, payload, window.config.services.lmsService).then(function (data) {
                        if (data) {
                            $("#divInititateScheduleSave").show();
                            $("btnViewScheduleLoanMod").hide();
                            self.set('loanModScheduleRemainder', data);
                            $("#divLoanModSchedule").show();
                            $("#divLoanModScheduleSelection").show();
                            $("#divInititateSchedule").hide();
                            if (action === "Save") {
                                self.raiseloanModeRefreshEvent(e);
                                self.$.messageloand.showMessage("Loan mod saved successfully.", "SUCCESS", self.$$('#loanModeMessageContainer'));
                            }
                            else if (action === "Review") {
                                self._review(e);
                            }
                            else if (action === "Approve") {
                                self._approve(e);
                            }
                        }
                    }).fail(function (e) {
                        self.$.messageloand.showMessage(e.responseJSON.message, "ERROR", self.$$('#loanModeMessageContainer'));
                    });
                },
                _saveReviewSchedule: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement.parentElement;
                    if (form.validate()) {
                        if (self.activationDate !== undefined && self.activationDate !== "") {
                            self._onlySave(e, "Review");
                        }
                        else {
                            self.$.messageloand.showMessage("Activation date is required", "ERROR", self.$$('#loanModeMessageContainer'));
                        }
                    }
                },
                _saveApproveSchedule: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement.parentElement;
                    if (form.validate()) {
                        if (self.activationDate !== undefined && self.activationDate !== "") {
                            self._onlySave(e, "Approve");
                        }
                        else {
                            self.$.messageloand.showMessage("Activation date is required", "ERROR", self.$$('#loanModeMessageContainer'));
                        }
                    }
                },
                _saveSchedule: function (e) {
                    e.preventDefault();
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement.parentElement;
                    if (form.validate()) {
                        self._onlySave(e, "Save");
                    }
                },
                _review: function (e) {
                    var self = this;
                    var subflow = self.initiatedSubflow;
                    var statusObj = self.statusObj;
                    var payload = {
                        Note: "Loan mode reviewed"
                    };
                    var url = "/status-management/" + self.currentEntityName + "/" + self.applicationNumber + "/" + statusObj.statusWorkFlowId + "/";
                    url = url + "Modification/200.20.180";
                    self.$.httploand.put(url, payload, "").then(function (result) {
                        self.raiseloanModeRefreshEvent(e);
                        self.$.messageloand.showMessage("Loan mod reviewed successfully.", "SUCCESS", self.$$('#loanModeMessageContainer'));
                    }).fail(function (e) {
                        self.$.messageloand.showMessage(e.responseJSON.message, "ERROR", self.$$('#loanModeMessageContainer'));
                        console.error(e.responseJSON);
                    });
                },
                _approve: function (e) {
                    var self = this;
                    var subflow = self.initiatedSubflow;
                    var statusObj = self.statusObj;
                    var payload = {
                        Note: "Loan mod approved"
                    };
                    var url = "/status-management/" + self.currentEntityName + "/" + self.applicationNumber + "/" + statusObj.statusWorkFlowId + "/";
                    url = url + "Modification/200.20.190";
                    self.$.httploand.put(url, payload, "").then(function (result) {
                        self.raiseloanModeRefreshEvent(e);
                        self.$.messageloand.showMessage("Loan mod approved successfully.", "SUCCESS", self.$$('#loanModeMessageContainer'));
                    }).fail(function (e) {
                        self.$.messageloand.showMessage(e.responseJSON.message, "ERROR", self.$$('#loanModeMessageContainer'));
                    });
                },
                _reject: function (e) {
                    var self = this;
                    var subflow = self.initiatedSubflow;
                    var statusObj = self.statusObj;
                    var payload = {
                        Note: "Loan mod rejected"
                    };
                    var url = "/status-management/" + self.currentEntityName + "/" + self.applicationNumber + "/" + statusObj.statusWorkFlowId + "/";
                    url = url + "Modification/200.20.200";
                    self.$.httploand.put(url, payload, "").then(function (result) {
                        self.rejectLoanMod(e);
                    }).fail(function (e) {
                        self.$.messageloand.showMessage(e.responseJSON.message, "ERROR", self.$$('#loanModeMessageContainer'));
                    });
                },
                rejectLoanMod: function (e) {
                    var self = this;
                    var currentScheduleLoanMod = _.find(self.scheduleList, ["modStatus", "Created"]);
                    if (currentScheduleLoanMod !== undefined && currentScheduleLoanMod !== "") {
                        var urlMod = "/" + self.applicationNumber + "/loanmods/" + currentScheduleLoanMod.id + "/reject";
                        self.$.httploand.put(urlMod, {}, window.config.services.lmsService).then(function (data) {
                            $("#divInititateScheduleSave").hide();
                            $("btnViewScheduleLoanMod").hide();
                            $("#divLoanModSchedule").show();
                            $("#divLoanModScheduleSelection").show();
                            $("#divCloseModal").show();
                            $("#divInititateSchedule").hide();
                            self.raiseloanModeRefreshEvent(e);
                            self.$.messageloand.showMessage("Loan mod rejected successfully.", "SUCCESS", self.$$('#loanModeMessageContainer'));
                        }).fail(function (e) {
                            self.$.messageloand.showMessage(e.responseJSON.message, "ERROR", self.$$('#loanModeMessageContainer'));
                        });
                    }
                },
                raiseloanModeRefreshEvent: function (event) {
                    var self = this;
                    this.$.utilityloand.raiseEvent(this.fireEvent, {
                        ActionName: 'LoanModification',
                        EventData: event,
                        CompnentName: 'loan-detail'
                    });
                },
                _onPaymentTermChange: function (event) {
                    var self = this;
                    var selectedValues = event.target.value;
                    $("#divLoanModSchedule").hide();
                    self.set("loanModSchedule", []);
                    if (selectedValues === "Custom") {
                        $("#customPaymentTerm").show();
                        var streamArray = _.cloneDeep(self.streamArray);
                        if (self.loanModId === undefined || self.loanModId === "") {
                            self._addNewRow();
                        }
                    }
                    else {
                        $("#customPaymentTerm").hide();
                        var streamArray = _.cloneDeep(self.streamArray);
                        streamArray = [];
                        self.set('streamArray', streamArray);
                    }
                },
                _addNewRow: function (event) {
                    var self = this;
                    var streamArray = _.cloneDeep(self.streamArray);
                    var ptmStream = JSON.stringify(_.cloneDeep(self.ptmStream));
                    ptmStream = JSON.parse(ptmStream);
                    ptmStream.values.PaymentFrequency = "";
                    ptmStream.values.RepayablePercent = "";
                    ptmStream.values.NoOfPayments = "";
                    streamArray.push(ptmStream);
                    self.set('streamArray', streamArray);
                },
                setLoanModPBOTValue: function () {
                    var self = this;
                    if (self.currentSchedule) {
                        if (self.scheduleRequest !== undefined && self.scheduleRequest !== null && self.scheduleRequest !== "") {
                            self.set("lmFactorRate", self.scheduleRequest.FactorRate);
                            self.set("lmAnnualRate", self.scheduleRequest.AnnualRate);
                            self.set("lmPaymentFrequencyId", self.scheduleRequest.PaymentFrequency);
                            self.set("plmPaymentsRemaining", self.scheduleRequest.Term);
                            self.set("lmPaymentsRemaining", self.scheduleRequest.Term);
                        }
                        else {
                            self.set("lmFactorRate", self.currentSchedule.factorRate);
                            self.set("lmAnnualRate", self.currentSchedule.annualRate);
                            self.set("lmPaymentFrequencyId", self.currentSchedule.paymentFrequency);
                            self.set("plmPaymentsRemaining", self.currentSchedule.tenure);
                        }
                    }
                    if (self.currentEconomicsData) {
                        if (self.scheduleRequest !== undefined && self.scheduleRequest !== null && self.scheduleRequest !== "") {
                            var modGoal = _.cloneDeep(self.modGoal);
                            if (modGoal.values.goal === "Fixed Payment Amount") {
                                self.set("lmLoanAmount", self.scheduleRequest.PaymentAmount);
                                if (!self.checkPortfolioType(self.loanData)) {
                                    self.set("lmLoanInterest", self.scheduleRequest.FinanceCharge);
                                }
                                else {
                                    self.set("lmLoanInterest", self.scheduleRequest.InterestToRecover);
                                }
                            }
                            else {
                                self.set("lmLoanAmount", self.scheduleRequest.LoanAmount);
                                self.set("lmLoanInterest", self.scheduleRequest.FinanceCharge);
                            }
                        }
                        else {
                            self.set("lmLoanAmount", self.currentEconomicsData.pbot.totalPrincipalOutStanding);
                            self.set("lmLoanInterest", parseFloat(self.currentEconomicsData.pbot.totalInterestOutstanding).toFixed(2));
                        }
                        if (self.currentEconomicsData.productPortfolioType === "MCA" || self.currentEconomicsData.productPortfolioType === "MCALOC") {
                            self.set("intLabel", "Factor Rate");
                            if (self.lmFactorRate !== undefined && self.lmFactorRate !== null && self.lmFactorRate != "") {
                                self.set("lmCommonRate", parseFloat(self.lmFactorRate).toFixed(2));
                            }
                            else {
                                self.set("lmCommonRate", 0.00);
                            }
                        }
                        else {
                            self.set("intLabel", "Interest Rate");
                            if (self.lmAnnualRate !== undefined && self.lmAnnualRate !== null && self.lmAnnualRate != "") {
                                self.set("lmCommonRate", parseFloat(self.lmAnnualRate).toFixed(2));
                            }
                            else {
                                self.set("lmCommonRate", 0.00);
                            }
                        }
                    }
                },
                resetModalloanModification: function () {
                    var self = this;
                    self.set("loanModification", "");
                    self.set("loanModSchedule", []);
                    self.set("loanModScheduleRemainder", {});
                    $("#divLoanModSchedule").hide();
                    $("#divLoanModScheduleSelection").hide();
                    $("#divCloseModal").hide();
                    self.set("lmStartDate", "");
                    $("#customPaymentTerm").hide();
                    var streamArray = _.cloneDeep(self.streamArray);
                    streamArray = [];
                    self.set("modReasonId", "");
                    self.set("missedPaymentId", "");
                    self.set("stageofcollectionId", "");
                    self.set("nextEscalationStageId", "");
                    self.set("activationDate", "");
                    self.set('streamArray', streamArray);
                    $("btnViewScheduleLoanMod").show();
                    var modGoal = _.cloneDeep(self.modGoal);
                    modGoal.values.goal = "";
                    self.set('modGoal', modGoal);
                    $("#FPFCMCA").hide();
                    $("#FPAMCA").hide();
                    $("#FPITERM").hide();
                    $("#FPATERM").hide();
                    self.set("loanModId", "");
                    $("#divInititateScheduleSave").hide();
                    self.set("scheduleRequest", {});
                    self.set("isEdit", false);
                },
                formatDate: function (date) {
                    return moment(date).format("YYYY-MM-DD");
                },
                displayFormatDate: function (date) {
                    return moment(date).format("MM/DD/YYYY");
                },
                _closeModal: function (e) {
                    e.preventDefault();
                    var self = this;
                    $(".closeLoanModification").click();
                },
                setData: function () {
                    var self = this;
                    var MCARestrictDate = false;
                    MCARestrictDate = self.$.configloanmod.getConfigurationBasedOnKey("MCARestrictDate");
                    if (MCARestrictDate !== undefined && MCARestrictDate === true) {
                        self.set("startDate", moment().format('YYYY-MM-DD'));
                    }
                },
                setActivationDate: function (objDate) {
                    var self = this;
                    var someDate = new Date(objDate);
                    var MCALoanModificationActivationDate = self.$.configloanmod.getConfigurationBasedOnKey("MCALoanModificationActivationDate");
                    someDate.setDate(someDate.getDate() - MCALoanModificationActivationDate);
                    self.set("maxActivationDate", moment(someDate).format('YYYY-MM-DD'));
                },
                setremTermData: function () {
                    var self = this;
                    if (self.scheduleRequest !== undefined && self.scheduleRequest !== null && self.scheduleRequest !== "") {
                        self.set("lmPaymentsRemaining", self.scheduleRequest.Term);
                    }
                    else if (self.modifiedSchedule) {
                        var installmentnumber = 0;
                        self.modifiedSchedule.forEach(function (item) {
                            if (item.IsPaid === true) {
                                installmentnumber = item.installmentnumber;
                            }
                        });
                        self.set("lmPaymentsRemaining", parseInt(self.plmPaymentsRemaining) - parseInt(installmentnumber));
                    }
                },
                _initiatLoanModSubWorkflow: function (e) {
                    e.preventDefault();
                    var self = this;
                    var flowName = "Modification";
                    if (flowName != "") {
                        var payload = {
                            Note: "Loan mode sub process initiated."
                        };
                        var url = "/status-management/" + self.currentEntityName + "/" + self.applicationNumber + "/subworkflow/" + flowName;
                        self.$.httploand.post(url, payload, "").then(function (result) {
                            self.$.messageloand.showMessage("Loan schedule created successfully.", "SUCCESS", self.$$('#loanModeMessageContainer'));
                            self.raiseloanModeRefreshEvent(e);
                        }).fail(function (e) {
                            self.$.messageloand.showMessage(e.responseJSON.message, "ERROR", self.$$('#loanModeMessageContainer'));
                        });
                    }
                },
                TotalPBOTSum: function (pbot) {
                    var self = this;
                    if (pbot != undefined && pbot != null && pbot != "") {
                        var FinalAmout = parseFloat(pbot.totalPrincipalOutStanding) + parseFloat(pbot.totalInterestOutstanding) + parseFloat(pbot.totalFeeOutstanding);
                        return self.formatMoney(FinalAmout);
                    }
                    return "NA";
                },
                formatMoney: function (value) {
                    if (value != undefined) {
                        return formats.money(value, window.config.country, 0);
                    }
                    else {
                        return "NA";
                    }
                },
                editLoanModVersion: function (objId) {
                    var self = this;
                    self.set("isEdit", true);
                    if (objId !== undefined && objId !== "") {
                        self.$$('#loanModificationModal').showModal();
                        var result = _.find(self.scheduleList, ["id", objId]);
                        if (result !== undefined && result !== null && result !== "") {
                            self.set("currentScheduleLoanMod", result);
                            var modGoal = _.cloneDeep(self.modGoal);
                            if (self.checkPortfolioType(self.loanData) === false) {
                                if (result.loanModType !== undefined && result.loanModType === "FixedPayment") {
                                    modGoal.values.goal = "Fixed Payment Amount";
                                    self.set("lmLoanAmount", result.scheduleDetails[0].paymentAmount);
                                }
                                else {
                                    modGoal.values.goal = "Fixed Principal and Finance Charge";
                                    self.set("lmLoanAmount", result.loanAmount);
                                }
                                var tmpFinCharge = (result.loanAmount * result.factorRate) - result.loanAmount;
                                self.set("lmLoanInterest", parseFloat(tmpFinCharge).toFixed(2));
                                if (result.factorRate !== undefined && result.factorRate !== null && result.factorRate != "") {
                                    self.set("lmCommonRate", parseFloat(result.factorRate).toFixed(2));
                                }
                                else {
                                    self.set("lmCommonRate", 0.00);
                                }
                            }
                            else {
                                if (result.loanModType !== undefined && result.loanModType === "FixedPayment") {
                                    modGoal.values.goal = "Fixed Payment Amount";
                                    self.set("lmLoanAmount", result.scheduleDetails[0].paymentAmount);
                                }
                                else {
                                    modGoal.values.goal = "Fixed Principal and Interest";
                                    self.set("lmLoanAmount", result.loanAmount);
                                }
                                self.set("lmLoanInterest", parseFloat(result.interestToRecover).toFixed(2));
                                if (result.annualRate !== undefined && result.annualRate !== null && result.annualRate != "") {
                                    self.set("lmCommonRate", parseFloat(result.annualRate).toFixed(2));
                                }
                                else {
                                    self.set("lmCommonRate", 0.00);
                                }
                            }
                            if (result.paymentStreams !== null) {
                                self.set("lmPaymentFrequencyId", "Custom");
                                var streamArray = _.cloneDeep(self.streamArray);
                                _.forEach(result.paymentStreams, function (item) {
                                    var ptmStream = JSON.stringify(_.cloneDeep(self.ptmStream));
                                    ptmStream = JSON.parse(ptmStream);
                                    ptmStream.values.PaymentFrequency = item.paymentFrequency;
                                    ptmStream.values.RepayablePercent = item.repayablePercent;
                                    ptmStream.values.NoOfPayments = item.noOfPayments;
                                    streamArray.push(ptmStream);
                                });
                                $("#customPaymentTerm").show();
                                self.set('streamArray', streamArray);
                            }
                            else {
                                self.set("lmPaymentFrequencyId", result.paymentFrequency);
                            }
                            self.set("lmPaymentsRemaining", result.tenure);
                            self.set("lmStartDate", self.formatDate(result.firstPaymentDate.time));
                            self.set("lmIntRecoverId", result.interestAdjustmentType);
                            self.set('modGoal', modGoal);
                            self.setTableData(result.scheduleDetails);
                            self.set('loanModSchedule', result.scheduleDetails);
                            $("#divLoanModSchedule").show();
                            $("#divInititateSchedule").hide();
                            $("#divInititateScheduleSave").show();
                            $("#divLoanModScheduleSelection").show();
                            self.set("stageofcollectionId", self.loanData.collectionStage);
                            self.set("missedPaymentId", result.paymentFailure.toString());
                            self.set("nextEscalationStageId", result.nextEscalationStage);
                            var modreason = _.find(self.modReason, ["value", result.modReason]);
                            if (modreason !== undefined) {
                                self.set("modReasonId", modreason.key);
                            }
                            if (result.fundedDate != null) {
                                self.set("activationDate", self.formatDate(result.fundedDate.time));
                            }
                            else {
                                self.set("activationDate", "");
                            }
                            self.set("notes", result.scheduleNotes);
                            self.set("loanModScheduleRemainder", result);
                            self.setScheduleRequest();
                        }
                    }
                },
                setScheduleRequest: function () {
                    var self = this;
                    var payload = {};
                    var modGoal = _.cloneDeep(self.modGoal);
                    payload.ScheduleStartDate = self.formatDate(self.lmStartDate);
                    payload.Term = parseInt(self.lmPaymentsRemaining);
                    payload.PaymentFrequency = self.lmPaymentFrequencyId;
                    if (modGoal.values.goal === "Fixed Payment Amount") {
                        payload.InterestAdjustmentType = "None";
                        payload.LoanAmount = 0;
                        payload.PaymentAmount = parseFloat(self.lmLoanAmount);
                        if (!self.checkPortfolioType(self.loanData)) {
                            payload.FactorRate = 0.0;
                            payload.AnnualRate = 0.0;
                            payload.FinanceCharge = self.lmLoanInterest;
                        }
                        else {
                            payload.InterestToRecover = self.lmLoanInterest;
                            payload.FactorRate = 0.0;
                            payload.AnnualRate = self.lmCommonRate;
                        }
                    }
                    else {
                        payload.InterestAdjustmentType = self.lmIntRecoverId;
                        payload.LoanAmount = parseFloat(self.lmLoanAmount);
                        payload.PaymentAmount = 0;
                        if (!self.checkPortfolioType(self.loanData)) {
                            payload.FactorRate = self.lmCommonRate;
                            payload.AnnualRate = 0.0;
                        }
                        else {
                            payload.FactorRate = 0.0;
                            payload.AnnualRate = self.lmCommonRate;
                        }
                    }
                    if (self.lmPaymentFrequencyId === "Custom") {
                        payload.PaymentStreams = [];
                        var tmp = [];
                        var streamArray = _.cloneDeep(self.streamArray);
                        self.streamArray.forEach(function (obj) {
                            tmp.push(obj.values);
                        });
                        payload.PaymentStreams = tmp;
                    }
                    else {
                        payload.PaymentStreams = null;
                    }
                    self.set("scheduleRequest", payload);
                },
                calculateMCAFinanceCharge: function () {
                    var self = this;
                    if (!self.checkPortfolioType(self.loanData) && self.lmCommonRate !== undefined && self.lmCommonRate != "") {
                        var ltst = parseFloat(parseFloat(self.lmLoanAmount) * parseFloat(self.lmCommonRate)) - parseFloat(self.lmLoanAmount);
                        self.set("lmLoanInterest", parseFloat(ltst).toFixed(2));
                    }
                },
                hasReviewApproveAccess: function (hasAccess, approvalLBL, reviewApprove) {
                    var self = this;
                    if (hasAccess && hasAccess === true && approvalLBL === "Review Loan mod" && reviewApprove === "Review") {
                        return true;
                    }
                    else if (hasAccess && hasAccess === true && approvalLBL === "Approve/Reject Loan mod" && reviewApprove === "Approve") {
                        return true;
                    }
                    else {
                        return false;
                    }
                },
                loadInititedSubworkInfo: function () {
                    var self = this;
                    var statusObj = this.statusObj;
                    if (!_.isNull(statusObj.subStatusDetail)) {
                        var subStatusDetails = _.find(statusObj.subStatusDetail, ['completedDate', null]);
                        var subStatusDetailsCompleted = _.find(statusObj.subStatusDetail, ['subWorkFlowId', "Modification"]);
                        if (!_.isUndefined(subStatusDetails)) {
                            self.set("InitFlowName", subStatusDetails.subWorkFlowId);
                            var initiatedSubflow = _.find(statusObj.subWorkFlows, ['name', subStatusDetails.subWorkFlowId]);
                            if (initiatedSubflow != undefined && initiatedSubflow.subWorkFlowStatus === "Completed") {
                                self.set("activateLoanMod", true);
                                self.set("approvalLBL", "");
                            }
                            else if (initiatedSubflow != undefined && initiatedSubflow.subWorkFlowStatus !== "Completed") {
                                var remainingStatusList = _.reject(initiatedSubflow.status, { code: initiatedSubflow.defaultInitiateCode });
                                if (initiatedSubflow.defaultInitiateCode !== subStatusDetails.subStatusCode) {
                                    remainingStatusList = _.reject(remainingStatusList, { code: subStatusDetails.subStatusCode });
                                }
                                if (remainingStatusList[0].name === "Modification Review") {
                                    self.set("approvalLBL", "Review Loan mod");
                                }
                                else {
                                    self.set("approvalLBL", "Approve/Reject Loan mod");
                                }
                                if (initiatedSubflow.name === "Modification" && self.hasRole('ApproveRejectModification')) {
                                    self.set('hasAccess', true);
                                }
                                else if (initiatedSubflow.name === "Modification" && self.hasRole('InitiateReviewModification')) {

                                    self.set('hasAccess', true);
                                }
                                else {
                                    self.set('hasAccess', false);
                                }
                            }
                        }
                        else if (!_.isUndefined(subStatusDetailsCompleted)) {
                            self.set("activateLoanMod", true);
                            self.set("approvalLBL", "");
                        }
                    }
                },
                checkStatusLoanMod: function (obj, activateSchedule, approvalLBL) {
                    var self = this;
                    return (obj.modStatus === "Created" && activateSchedule === true && approvalLBL === "") ? true : false;
                },
                hasRole: function (compName) {
                    return this.$.authorizeloancd.hasRole(compName);
                },
                _activateSchedule: function (event) {
                    var self = this;
                    var scheduleId = event.target.dataArg;
                    var params = self.$.urlloand.getParams();
                    var url = "/" + params.loanId + "/loanmods/" + scheduleId + "/activate";
                    var activateLoan = _.find(self.scheduleList, ["id", scheduleId]);
                    if (activateLoan != undefined && activateLoan.fundedDate != null) {
                        self.$.httploand.put(url, {}, window.config.services.lmsService).then(function (data) {
                            self.$.messageloand.showMessage("Loan schedule activated successfully.", "SUCCESS", self.$$('#loanModeMessageContainer'));
                            $("#divInititateScheduleSave").hide();
                            $("btnViewScheduleLoanMod").hide();
                            $("#divLoanModSchedule").show();
                            $("#divLoanModScheduleSelection").show();
                            $("#divCloseModal").show();
                            $("#divInititateSchedule").hide();
                            self.raiseloanModeRefreshEvent(event);
                        }).fail(function (event) {
                            self.$.messageloand.showMessage(event.responseJSON.message, "ERROR", self.$$('#loanModeMessageContainer'));
                        });
                    }
                    else {
                        self.$.messageloand.showMessage("Please select activation date.", "ERROR", self.$$('#loanModeMessageContainer'));
                    }
                },
                getCurrencySymbol: function () {
                    var self = this;
                    return formats.currencySymbol(window.config.country) + " prefixSign";
                }
            });
        });
    </script>
</dom-module>