<dom-module id="add-manual-offer">
    <template>
        <style>
            .custom-input {
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
                .btnmargin {
                    margin-top: 20px;
                }
            }
        </style>
        <div id="ErrorMessge" style="display: none;">
            <p></p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="addManualOfferForm">
                    <div class="row">
                        <div class="col-md-6">
                            Application Details
                        </div>
                        <div class="col-md-6 ">
                            Offer Details
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <paper-input type="textbox" class="custom-input" auto-validate maxlength="6" value="{{Funder}}" name="Funder" id="Funder"
                                label="Funder" readonly></paper-input>
                        </div>
                        <div class="col-md-6">
                            <vaadin-combo-box name="PaymentFrequency" class="custom-input" value="{{SelectedPaymentFrequency}}" item-value-path="key"
                                item-label-path="value" items="{{PaymentFrequency}}" label="Payment Frequency" prevent-invalid-input="true"
                                required>
                            </vaadin-combo-box>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <paper-input type="textbox" class="custom-input" auto-validate maxlength="6" value="{{product}}" label="Product" readonly></paper-input>

                        </div>
                        <div class="col-md-6">
                            <paper-input type="number" class="custom-input" auto-validate allowed-pattern="[\w]" pattern="^[0-9]$" maxlength="6" value="{{Payment}}"
                                name="Payment" id="Payment" label="Payment" required></paper-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <vaadin-combo-box name="Program" class="custom-input" value="{{SelectedProgram}}" item-value-path="key" item-label-path="value"
                                items="{{Program}}" label="Program" prevent-invalid-input="true" required>
                            </vaadin-combo-box>
                        </div>
                        <div class="col-md-6">
                            <paper-input type="number" class="custom-input" auto-validate allowed-pattern="[\w]" pattern="^[0-9]$" min="1" maxlength="7"
                                value="{{Factor}}" name="Factor" id="Factor" label="Factor" required></paper-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <paper-input type="textbox" class="custom-input" auto-validate value="{{date(submiteddate)}}" label="Submitted Date" readonly></paper-input>
                        </div>
                        <div class="col-md-6">
                            <paper-input type="number" class="custom-input" auto-validate allowed-pattern="[\w]" pattern="^[0-9]$" maxlength="6" value="{{ApprovedAmount}}"
                                name="ApprovedAmount" id="ApprovedAmount" label="Approved Amount" required></paper-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <paper-input type="textbox" class="custom-input" auto-validate maxlength="6" value="{{formatDate(Approveddatetime)}}" label="Approved Date/Time"
                                readonly></paper-input>
                        </div>
                        <div class="col-md-6">
                            <vaadin-combo-box name="Terms" class="custom-input" value="{{SelectedTerm}}" item-value-path="key" item-label-path="value"
                                items="{{Terms}}" label="Term" prevent-invalid-input="true" required>
                            </vaadin-combo-box>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <paper-input type="number" class="custom-input" auto-validate allowed-pattern="[\w]" pattern="^[0-9]$" value="{{FunderFee}}"
                                name="FunderFee" id="FunderFee" label="Funder Fees" required></paper-input>
                        </div>
                        <div class="col-md-6">
                            <paper-input auto-validate pattern="^\s*(?=.*[1-9])\d*(?:\.\d{1,2})?\s*$" class="custom-input" value="{{ProcessingFeePercentage}}"
                                maxlength="5" name="ProcessingFeePercentage" id="ProcessingFeePercentage" label="Processing Fees"
                                required></paper-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <paper-input type="number" class="custom-input" auto-validate allowed-pattern="[\w]" pattern="^[0-9]$" value="{{MaxGross}}"
                                name="MaxGross" id="MaxGross" label="Max Gross Percentage" required></paper-input>
                        </div>
                        <div class="col-md-6">
                            <paper-input type="number" class="custom-input" auto-validate allowed-pattern="[\w]" pattern="^[0-9]$" value="{{Comp}}" name="Comp"
                                id="Comp" label="Comp Percentage" required></paper-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">

                            <paper-input type="textbox" class="custom-input" value="{{Comments}}" name="Comments" id="Comments" label="Comments" required></paper-input>
                        </div>
                        <div class="col-md-6">
                            <paper-input type="number" class="custom-input" auto-validate allowed-pattern="[\w]" pattern="^[0-9]$" value="{{PSF}}" name="PSF"
                                id="PSF" label="PSF Percentage" required></paper-input>
                        </div>
                    </div>
                    <paper-button id="addManualOfferBtn" class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <alloy-config id="config"></alloy-config>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "add-manual-offer",
                properties: {
                    Terms: {
                        type: Array,
                        notify: true,
                        value: [
                            { "key": "4", "value": "4 Months" },
                            { "key": "5", "value": "5 Months" },
                            { "key": "6", "value": "6 Months" },
                        ]
                    },
                    Product: {
                        type: Array,
                        notify: true,
                        value: [
                            { "key": "Starter", "value": "Starter" },
                            { "key": "Traditional", "value": "Traditional" },
                            { "key": "Streamline", "value": "Streamline" },
                            { "key": "Premium", "value": "Premium" }
                        ]
                    },
                    Program: {
                        type: Array,
                        notify: true,
                        value: [
                            { "key": "Premium", "value": "Premium" },
                            { "key": "Low", "value": "Low" },
                            { "key": "Standard", "value": "Standard" },
                            { "key": "High", "value": "High" }
                        ]
                    },
                    PaymentFrequency: {
                        type: Array,
                        notify: true,
                        value: [
                            { "key": "Daily", "value": "Daily" },
                            { "key": "Weekly", "value": "Weekly" }
                        ]
                    },
                    SelectedPaymentFrequency: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    Payment: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    Funder: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    Factor: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    Comments: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    ApprovedAmount: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    SelectedTerm: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    LoanAmount: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    InterestRate: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    ProcessingFee: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    FunderFee: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    Comp: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    MaxGross: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    PSF: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    Emi: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    ProcessingFeePercentage: {
                        type: String,
                        notify: true,
                        value: "",
                    },
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    },
                    submiteddate: {
                        type: String,
                        notify: true
                    },
                    Approveddatetime: {
                        type: String,
                        notify: true
                    },
                    product: {
                        type: String,
                        notify: true
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true,
                        reflectToAttribute: true
                    }
                },
                init: function () {
                    var self = this;
                    var funder = self.$.config.getConfigurationBasedOnKey("funderName");
                    self.set("Funder", funder);
                    var urlParams = self.$.url.getParams();
                    self.applicationNumber = urlParams.app;
                    if (urlParams.hasOwnProperty('entity')) {
                        self.set('currentEntityName', urlParams.entity);
                    }
                    self.loadDataAttributes();
                },
                loadDataAttributes: function () {
                    var self = this;
                    if (self.dataAttributes) {
                        var application = self.dataAttributes.application;
                        self.submiteddate = application.submitted.Time;
                        self.Approveddatetime = application.applicationDate.Time;
                        self.product = application.productId;
                    }
                },
                formatDate: function (date) {
                    if (date !== undefined) {
                        return moment.tz(date, window.config.timezone).format("MM/DD/YYYY LT z");
                    }
                    return "";
                },
                date: function (date) {
                    if (!_.isNull(date) && !_.isUndefined(date) && !_.isEmpty(date)) {
                        return formats.date(date, window.config.country, false);
                    }
                    return "Not available";
                },
                _verifyForm: function (event) {
                    $('div#ErrorMessge').hide();
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    if (form.validate()) {
                        var payload = {
                            entityType: "application",
                            entityId: self.applicationNumber,
                            dealOffers: [{
                                term: self.SelectedTerm,
                                durationType: self.SelectedPaymentFrequency,
                                paymentAmount: self.Payment,
                                sellRate: self.Factor,
                                loanAmount: self.ApprovedAmount,
                                aCHFee: self.ProcessingFeePercentage,
                                comments: self.Comments,
                                maxGross: self.MaxGross,
                                comp: self.Comp,
                                originatingFeeAmount: self.FunderFee,
                                pSF: self.PSF,
                                program: self.SelectedProgram
                            }],

                        };
                        var offerEngine = window.config.services.offerengine;
                        var url = "/application/" + self.applicationNumber + "/offerengine" + "/deal";
                        self.$.http.post(url, payload, offerEngine).then(function (data) {
                            $('button#addManualOfferBtn').hide();
                            $('div#ErrorMessge p').html("Operation completed successfully.");
                            $('div#ErrorMessge').show();
                            self.raiseAppRefreshEvent();
                        }).fail(function (e) {
                            $('div#ErrorMessge p').html("Error occurred while performing the operation. Failed to complete the operation");
                            $('div#ErrorMessge').show();
                            setTimeout(function () {
                                $('div#ErrorMessge').hide();
                            }, 5000);
                        });
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: 'AddManualOffer',
                        EventData: event,
                        CompnentName: 'add-manual-offer'
                    });
                }
            });
        });
    </script>
</dom-module>