<html-import html-href="custom-component/grid-component.html"></html-import>
<dom-module id="bankurptcy-review">
    <template>
        <style>
            .custom-input {
                --paper-slider-input: {
                    width: 70px;
                }
                --paper-input-container-input: {
                    font-size: 11px;
                }
                --paper-input-container-label: {
                    font-size: 12px;
                }
            }
        </style>
        <div class="slide-action">
            <form id="bankurptcySearchForm" is="iron-form" class="form-horizontal" name="bankurptcySearchForm">
                <vaadin-combo-box class="custom-input" name="cmbOwners" value="{{selectedOwner}}" item-value-path="key" item-label-path="value"
                    items="{{allOwners}}" label="Select Owner" prevent-invalid-input="true" on-change="_ownerChanged">
                </vaadin-combo-box>
                <paper-input class="custom-input" type="text" value="{{primaryOwner}}" label="Primary Owner" readonly></paper-input>
                <dynamic-form form-configuration={{bankurptcySearchConfiguration}} values="{{bankurptcySearchConfiguration.values}}">
                </dynamic-form>
                </br>
                <button id="searchCompanies" on-click="searchBnkruptcy" class="btn btn-primary activity-action-btn">Bankruptcy Search</button>
            </form>
            <div id="bankurptcySearchGridId" style="display: none;">
                <grid-component grid-Id="bankurptcySearchGrid" column-Headers="{{columnHeaders}}" column-Definations="{{columnDefinations}}"
                    grid-Data="{{records}}" selected-Rowdata="{{selectedBnkruptcydata}}"></grid-component>
                <br/>
                <button id="call_Bankruptcy" on-click="callBankruptcy" class="btn btn-primary activity-action-btn">Call Bankruptcy Report</button>
            </div>
        </div>
        <div id="MessageContainer"></div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "bankurptcy-review",
                properties: {
                    columnHeaders: {
                        type: Array,
                        notify: true,
                        value: ['First Name', 'Last Name', 'SSN', 'Case Number']
                    },
                    columnDefinations: {
                        type: Array,
                        notify: true,
                        value: [{ name: 'debtors.0.names.0.first' }, { name: 'debtors.0.names.0.last' }, { name: 'debtors.0.ssn' }, { name: "caseNumber" }]
                    },
                    records: {
                        type: Array,
                        notify: true,
                        observer: '_showBankruptcySearchList'
                    },
                    FullName: {
                        type: Array,
                        notify: true
                    },
                    selectedBnkruptcydata: {
                        type: Object,
                        notify: true
                    },
                    allOwners: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    selectedOwner: {
                        type: String,
                        notify: true,
                        value: ''
                    },
                    primaryOwner: {
                        type: String,
                        notify: true,
                        value: ''
                    },
                    bankurptcySearchConfiguration: {
                        type: Object,
                        notify: true,
                        value: {
                            controls: {
                                Ssn: {
                                    label: "SSN",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: true,
                                        autovalidate: false,
                                        minLen: 9,
                                        maxLen: 9
                                    }
                                },
                                FirstName: {
                                    label: "First Name",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                },
                                LastName: {
                                    label: "Last Name",
                                    type: "textbox",
                                    validations: {
                                        required: true,
                                        readonly: false,
                                        charcounter: false,
                                        autovalidate: false
                                    }
                                }
                            },
                            values:
                                {
                                    Ssn: "",
                                    FirstName: "",
                                    LastName: ""
                                }
                        }
                    },
                    dataAttributes: {
                        type: Object,
                        notify: true
                    }
                },
                _initialView: function () {
                    this.set("records", []);
                    $('#bankurptcySearchGridId').hide();
                    $('#bankurptcySearchForm').show();
                },
                _reportView: function () {
                    $('#bankurptcySearchGridId').show();
                    $('#bankurptcySearchForm').hide();
                },
                _checkNullUndefined: function (obj) {
                    if (obj && obj != null) {
                        return obj;
                    }
                    return '';
                },
                init: function () {
                    var self = this;
                    var bankurptcyData = _.cloneDeep(self.bankurptcySearchConfiguration);
                    if (self.dataAttributes) {
                        var appDetails = self.dataAttributes.application;
                        var currentOwner = null;
                        if (!_.isNull(self.selectedOwner) && !_.isEmpty(self.selectedOwner) && !_.isUndefined(self.selectedOwner)) {
                            currentOwner = _.find(appDetails.owners, function (o) { return o.OwnerId == self.selectedOwner; });
                        }
                        else {
                            currentOwner = _.find(appDetails.owners, function (o) { return o.IsPrimary == true; });

                            var tempList = _.transform(appDetails.owners, function (result, item) {
                                var val = item.FirstName + ' ' + item.LastName;
                                result.push({ key: item.OwnerId, value: val });
                            }, []);
                            self.set("allOwners", tempList);
                            self.set("primaryOwner", currentOwner.FirstName + ' ' + currentOwner.LastName);
                        }
                        self.set("selectedOwner", currentOwner.OwnerId);
                        if (currentOwner != null && currentOwner != undefined) {
                            bankurptcyData.values['Ssn'] = currentOwner.SSN;
                            bankurptcyData.values['FirstName'] = currentOwner.FirstName;
                            bankurptcyData.values['LastName'] = currentOwner.LastName;
                            bankurptcyData.values['OwnerId'] = self.selectedOwner;
                        }
                        self.set('bankurptcySearchConfiguration', bankurptcyData);
                    }
                },
                _showBankruptcySearchList: function () {
                    var self = this;
                    if (self.records && self.records != null && self.records.length > 0)
                        $('#bankurptcySearchGridId').show();
                    else $('#bankurptcySearchGridId').hide();
                },
                searchBnkruptcy: function (event) {
                    event.preventDefault();
                    var self = this;
                    var form = Polymer.dom(event).localTarget.parentElement;
                    var url = '/application/' + self.applicationNumber + '/bankruptcy/search'
                    var appProcessorEndpoint = window.config.services.appProcessor;
                    if (form.validate()) {
                        var request = {};
                        request.Ssn = self.bankurptcySearchConfiguration.values['Ssn'];
                        request.FirstName = self.bankurptcySearchConfiguration.values['FirstName'];
                        request.LastName = self.bankurptcySearchConfiguration.values['LastName'];
                        request.OwnerId = self.bankurptcySearchConfiguration.values['OwnerId'];
                        self.$.http.post(url, request, appProcessorEndpoint).then(function (data) {
                            if (data && data != null) {
                                self._reportView();
                                if (data.records && data.records.length == 1) {
                                    self.raiseAppRefreshEvent(event);
                                }
                                else if (data.records && data.records.length > 1) {
                                    self.set("records", data.records);
                                } else {
                                    self._initialView();
                                }
                            }
                        }).fail(function (e) {
                            self._initialView();
                            console.error("bankruptcy Search error is ", e);
                        });
                    }
                },
                callBankruptcy: function (event) {
                    var self = this;
                    if (!_.isUndefined(self.selectedBnkruptcydata) && !_.isNull(self.selectedBnkruptcydata)) {
                        var request = {};
                        request.UniqueId = self.selectedBnkruptcydata.debtors[0].uniqueId;
                        request.TMSId = self.selectedBnkruptcydata.tmsId;
                        request.OwnerId = self.selectedOwner;
                        var url = '/application/' + self.applicationNumber + '/bankruptcy/report'
                        var appProcessorEndpoint = window.config.services.appProcessor;
                        self.$.http.post(url, request, appProcessorEndpoint
                        ).then(function (data) {
                            self.raiseAppRefreshEvent();
                        }).fail(function (e) {
                            self._reportView();
                            console.error("bankruptcy Report error is ", e);
                        });
                    } else {
                        self.$.message.showMessage("Please Select Search Result", "ERROR", self.$.MessageContainer);
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this._initialView();
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: "Bankurptcy",
                        EventData: event,
                        CompnentName: 'bankurptcy-review'
                    });
                },
                _ownerChanged: function (event) {
                    var self = this;
                    if (!_.isEmpty(event.target.value)) {
                        self.selectedOwner = event.target.value;
                        self._onbankurptcyDataAttributesLoad();
                    }
                }
            });
        });
    </script>
</dom-module>