<dom-module id="terminate-at-funding">
    <template>
        <div id="CommMessageContainer"></div>
        <div class="row">
            <div class="col-md-12">
                <paper-button class="btn btn-primary activity-action-btn" on-click="updateStatus" raised>Terminate At Funding</paper-button>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
        <message-component id="message"></message-component>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "terminate-at-funding",
                properties: {
                    currentEntityName: {
                        type: String,
                        notify: true,
                        value: 'application'
                    }
                },
                init: function () {

                },
                ready: function () {
                    var self = this;
                    var urlParams = this.$.url.getParams();
                    if (urlParams.hasOwnProperty('entity')) {
                        this.set('currentEntityName', urlParams.entity);
                    }
                },
                raiseAppRefreshEvent: function (event) {
                    this.$.utility.raiseEvent(this.fireEvent, {
                        ActionName: 'TerminateAtFunding',
                        EventData: event,
                        CompnentName: 'terminate-at-funding'
                    });
                },
                updateStatus: function (e) {
                    var self = this;
                    var form = Polymer.dom(e).localTarget.parentElement;
                    var params = self.$.url.getParams();
                    var url = "/status-management/" + self.currentEntityName + "/" + params.app + "/" + params.workflow;
                    if (self.currentEntityName === "application" && params.workflow === "ApprovalFlow") {
                        url = url + "/500.91";
                    }
                    else if (self.currentEntityName === "application" && params.workflow === "LocApprovalFlow") {
                        url = url + "/700.91";
                    }
                    else if (self.currentEntityName === "application" && params.workflow === "System") {
                        url = url + "/100.91";
                    }
                    self.$.http.put(url, {}, "").then(function (data) {
                        self.raiseAppRefreshEvent(e);
                    }).fail(function (e) {
                        var strMessage = "Failed to complete the operation. " + e.responseJSON.message;
                        self.$.message.showMessage(strMessage, "ERROR", self.$.CommMessageContainer);
                    });
                }
            });
        });
    </script>
</dom-module>